.f-omv5ber {
  fill: var(--svg-color--6e8375, #6e8375);
  stroke: var(--svg-color--0f2c48, #0f2c48);
  stroke-width: var(--svg-stroke-width--0-5px, 0.5px);
  d: path("m114.95 204.66l-28.507-9.307");
}
