.f03hiugdm {
  stroke: var(--svg-color--4147d5, #4147d5);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M12.342 9.72h-1.566a1.531 1.531 0 0 1 0-3.063h1.566a1 1 0 0 1 1 1V8.72a1 1 0 0 1-1 1");
}
