.f13cyk52i {
  fill: currentColor;
  fill-rule: evenodd;
  d: path("M1.542 21.237C1.516 22.622 1.5 24.207 1.5 26c0 5.056.129 8.445.238 10.411c.107 1.908 1.485 3.56 3.5 3.796c1.301.153 3.196.293 5.762.293s4.46-.14 5.762-.293c2.015-.236 3.394-1.888 3.5-3.796c.109-1.966.238-5.355.238-10.411c0-1.794-.016-3.378-.042-4.763C20.358 15.92 16.54 11.5 11 11.5s-9.359 4.42-9.458 9.737M8 20.5a1.5 1.5 0 0 0 0 3h6a1.5 1.5 0 0 0 0-3z");
}
