.f1_-8qbch {
  fill: currentColor;
  fill-opacity: var(--svg-fill-opacity--0-25, 0.25);
  d: path("M59.634 16.78c2.989 1.403 4.31 4.804 3.609 8.03L57.67 50.462a2 2 0 0 1-1.955 1.576H30.941a2 2 0 0 1-1.955-1.576l-5.74-26.426c-.735-3.384.763-6.94 3.985-8.208q1.258-.495 2.554-.901l.646-.203a39.83 39.83 0 0 1 23.795 0l.646.203a38 38 0 0 1 4.762 1.853");
}
