.f1pmszbrb {
  fill: none;
  stroke: var(--svg-color--45413c, #45413c);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M24 2.5c-8.53 0-15.44 2.71-15.44 6.06s6.91 6.07 15.44 6.07s15.44-2.72 15.44-6.07S32.53 2.5 24 2.5m0 9.07c-6 0-10.92-1.35-10.92-3s4.89-3 10.92-3s10.92 1.35 10.92 3s-4.92 3-10.92 3M19.85 33.5A5.12 5.12 0 0 0 24 35.25a5.12 5.12 0 0 0 4.15-1.75");
}
