.f1vebcgkf {
  fill: none;
  stroke: currentColor;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: var(--svg-stroke-width--2px, 2px);
  d: path("M3 6h18M4 10h16m-5-4v10h5M4 6v13M20 6v13");
}
