.f3jhhqbha {
  fill: currentColor;
  fill-opacity: var(--svg-fill-opacity--0-25, 0.25);
  d: path("M60.378 42.836a2.667 2.667 0 1 1 5.151 1.38a2.667 2.667 0 0 1-5.151-1.38M41.725 55.783a2.667 2.667 0 1 1 5.151 1.38a2.667 2.667 0 0 1-5.151-1.38M12.657 39.284a8 8 0 0 1 0-11.314L23.97 16.657a8 8 0 0 1 11.314 0L46.598 27.97a8 8 0 0 1 0 11.314L35.284 50.598a8 8 0 0 1-11.314 0z");
}
