.f5gy6mb9s {
  fill: none;
  stroke: var(--svg-color--000, #000);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
  stroke-width: var(--svg-stroke-width--2px, 2px);
  d: path("m64.292 46.868l2.846 2.846m-8.245-5.05v13.2M41.774 15.715c4.2.169 5.464 3.922 5.234 9.227h-.002c-2.702 2.047-7.303-6.05-7.303-6.05zm-8.241 32.383s-1.207 6.021 2.307 6.021c3.513 0 2.307-6.021 2.307-6.021");
}
