.f5s_zzeih {
  fill: var(--svg-color--ffbd03, #FFBD03);
  fill-rule: nonzero;
  stroke: var(--svg-color--000, #000);
  stroke-width: var(--svg-stroke-width--0-15px, 0.15px);
  d: path("M225.402 97.061s-.057 1.924.2 2.176a.685.685 0 0 0 1.008-.021c.214-.227.463-.775.413-1.14s-.122-.829-.501-.876c-.32-.04-.592 1.075-.592 1.075s.311-1.424.049-1.656c-.291-.257-.729-.43-1.135-.122c-.301.227.025 1.79.025 1.79s-.19-1.349-.799-1.185c-.338.091-.504.784-.444 1.288s.326.963.792 1.082c.472.121.855-.108.91-.49c.071-.491.074-1.921.074-1.921z");
}
