.f6e04nw5y {
  fill: none;
  stroke: var(--svg-color--000, #000);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: var(--svg-stroke-width--2px, 2px);
  d: path("M28 41.771v7m5-7v7m5-7v7m5-7v7");
}
