.f7d9lkbby {
  stroke: var(--svg-color--191919, #191919);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M5.783 18.695v2.87c0 .792-1.07 1.434-2.392 1.434C2.071 23 1 22.359 1 21.565v-2.87");
}
