.f7wlwbcoj {
  fill: var(--svg-color--2f88ff, #2F88FF);
  stroke: var(--svg-color--000, #000);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M25 19.8902C23.5 17.37 19.5 17.3699 18 19.8902C16.8849 21.7639 13 24.5 12 24.9432C13.6667 27.2955 19.5 32 25 32C31.5 32 36.1667 27.2955 38 24.9432C37 24.5 34.8361 22.8196 32.5 19.8902C30.5 17.3823 26.5 17.3823 25 19.8902Z");
}
