.f8-ohacbf {
  fill: var(--svg-color--406325, #406325);
  fill-rule: nonzero;
  stroke: var(--svg-color--24420e, #24420E);
  stroke-width: var(--svg-stroke-width--0-017px, 0.017px);
  d: path("M140.029 116.726c.805 1.524-2.487 4.271-8.136 4.226c4.463-1.826 7.931-3.682 8.136-4.226z");
}
