.f83xbublz {
  fill: none;
  stroke: var(--svg-color--000, #000);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: var(--svg-stroke-width--2px, 2px);
  d: path("M18.083 29.152c-.194-.01-.388-.03-.592-.051c-2.689-.243-6.226-1.286-6.226-5.052h6.082c.655 0 1.227.395 1.472.982l.798 1.974c.419 1.053-.389 2.207-1.534 2.146m14.648 13.121c.275.662 1.779 2.073 5.111 3.038c3.956 1.145 9.125-1.59 11.244-7.087M20.485 51.347c-2.522-2.225-4.109-5.465-4.109-9.075c0-3.624 1.605-6.884 4.15-9.111q-.611-.539-1.147-1.15m28.429-6.686c6.849 1.306 12.01 7.259 12.01 14.416c0 4.555-2.093 8.624-5.38 11.315");
}
