.f8j6oab4w {
  stroke: var(--svg-color--191919, #191919);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M23 15.81a6.614 6.614 0 1 1-13.228 0a6.3 6.3 0 0 1 .183-1.526h4.905c.56 0 .783-.396.508-.875l-2.004-3.48A6.614 6.614 0 0 1 23 15.811");
}
