.f8jixq {
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path('M2 12c1.72 -3.83 5.53 -6.5 10 -6.5c4.47 0 8.28 2.67 10 6.5c-1.72 3.83 -5.53 6.5 -10 6.5c-4.47 0 -8.28 -2.67 -10 -6.5Z');
  stroke: currentColor;
  stroke-width: 2px;
  fill: none;
}

@media not (prefers-reduced-motion) {
  .f8jixq {
    animation: 0.5s linear forwards d-45nhxp;
  }
}
