.f8khaubjv {
  fill: var(--svg-color--390075, #390075);
  d: path("M99.317 26.756v8.348h5.138v1.283c0 1.927 1.498 3.424 3.424 3.424h2.14c1.713 0 3.21-1.067 3.424-2.78c-.428.214-.642.213-1.07.213h-2.14c-1.927 0-3.424-1.497-3.424-3.423c0-.643-.641-1.288-1.284-1.288a3.836 3.836 0 0 1-3.854-3.85v-1.927zm-73.205 1.07v1.927c0 2.14-1.71 3.85-3.85 3.85c-.643 0-1.284.646-1.284 1.288c0 1.926-1.502 3.424-3.428 3.424h-2.14c-.429 0-.643 0-1.07-.213c.213 1.712 1.715 2.78 3.427 2.78h2.14c1.927 0 3.425-1.498 3.425-3.424v-1.284h5.138v-8.348z");
  opacity: var(--svg-opacity--0-3, 0.3);
}
