.f8peo7wop {
  stroke: var(--svg-color--000, #000);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: var(--svg-stroke-width--0-169px, 0.169px);
  d: path("M109.34 112.751s2.586-2.262 3.742-4.286c1.523-2.669 1.779-4.811 1.779-4.811s-.025 2.154-1.547 4.822c-1.155 2.025-3.871 4.608-3.871 4.608z");
}
