.f8q_n7bsq {
  stroke: var(--svg-color--000, #000);
  stroke-width: var(--svg-stroke-width--0-5px, 0.5px);
  d: path("M182.954 62.706c.204-.162.082-.936-.122-1.75c-.081-.406-.407-.57-.854-1.017c-.448-.448-.611-.448-.895-.57c-.244-.082-.814-.082-1.1-.203c-.243-.123-.894-.042-1.505.04c-.814.122-1.262.081-1.872.408c-.61.325-1.098.692-1.302 1.302c-.162.447-.447 1.017-.326 2.726c.082 1.71.408 1.384.408 1.384s.447-.651.732-.244c0 0-.04-.896-.121-1.424c-.04-.489 0-1.1.203-1.832c0 0 1.872.692 3.622.692c1.22 0 2.808-.122 2.85-.406z");
}
