.f8rwt8bcu {
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("m20 11l2 1c0-5.523-4.477-10-10-10c-4.1 0-7.625 2.468-9.168 6M4 13l-2-1c0 5.523 4.477 10 10 10c4.1 0 7.625-2.468 9.168-6m-9.043-4.5H12m.25 0a.25.25 0 1 1-.5 0a.25.25 0 0 1 .5 0");
}
