.f93a-nbsm {
  stroke: var(--svg-color--703d29, #703D29);
  stroke-width: var(--svg-stroke-width--0-296px, 0.296px);
  d: path("m146.229 150.427l-.443.443l-.793.443l-.91.28m9.401-1.234c-.606.933-2.053 2.332-3.569 2.892c-1.516-.56-2.962-1.959-3.569-2.892");
}
