.f9nsz4_0d {
  fill: none;
  stroke: var(--svg-color--45413c, #45413c);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M17.09 1.93c-2.42 2.19 2.57 3.23-.38 5.55m14.71-5.55C29 4.12 34 5.16 31 7.48M24.26.75C21.84 3 26.82 4 23.87 6.3");
}
