.f_5ndpb1f {
  fill: none;
  stroke: currentColor;
  stroke-linecap: square;
  stroke-width: var(--svg-stroke-width--2px, 2px);
  d: path("M7.502 8.464L11.038 12l-3.536 3.536m5.46-7.072L16.499 12l-3.535 3.536");
}
