.f_emkpbft {
  fill: none;
  stroke: currentColor;
  stroke-width: var(--svg-stroke-width--1-5px, 1.5px);
  d: path("M5.75 14.75V9c0-.69.56-1.25 1.25-1.25h7M3 12l2.75 2.75L8.5 12m9.75-2.75V15c0 .69-.56 1.25-1.25 1.25h-7M21 12l-2.75-2.75L15.5 12");
}
