.fa1ellbje {
  fill: var(--svg-color--45413c, #45413c);
  stroke: var(--svg-color--45413c, #45413c);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M14.5 20.5a1 1 0 1 1-1-1a1 1 0 0 1 1 1m19-1c0 .83.45 1.5 1 1.5s1-.67 1-1.5s-.45-1.5-1-1.5s-1 .67-1 1.5");
}
