.fa7sd-bvi {
  fill: none;
  stroke: currentColor;
  stroke-linejoin: round;
  stroke-width: var(--svg-stroke-width--2px, 2px);
  d: path("M14 12.501c0 2.485-.895 4.5-2 4.5s-2-2.015-2-4.5s.895-4.5 2-4.5s2 2.015 2 4.5Z");
}
