.facjovbua {
  fill: var(--svg-color--fff, #FFF);
  stroke: var(--svg-color--21231e, #21231E);
  stroke-width: var(--svg-stroke-width--0-221px, 0.221px);
  d: path("m114.915 126.98l2.109-1.194c.887.637 1.543 3.003.027 4.936c-1.89 2.41-2.655 4.157-3.117 6.107c-1.376-1.762-1.849-3.616-.975-5.424c1.179-2.438 1.946-3.814 1.956-4.425z");
}
