.fbsu__bbx {
  cx: 36.205px;
  cy: 47.31px;
  r: 5.845px;
  fill: none;
  stroke: var(--svg-color--000, #000);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: var(--svg-stroke-width--1-998px, 1.998px);
}
