.fcypk9bmm {
  fill: var(--svg-color--000, #000);
  stroke: var(--svg-color--000, #000);
  stroke-width: var(--svg-stroke-width--0-977px, 0.977px);
  d: path("M176.805 117.86c13.59 11.02 38.292 49.587 2.204 74.748c-11.846 7.806 10.468 32.508 23.049 19.927c43.618-43.894-1.102-94.308-16.53-111.664c-13.774-15.151-25.987 3.49-8.723 16.989z");
}
