.fdsxwd93f {
  fill: none;
  stroke: currentColor;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: var(--svg-stroke-width--4px, 4px);
  d: path("M18 18h12v12H18zM6 18h12v12H6zm24 0h12v12H30z");
}
