.ff0jixw7r {
  fill: var(--svg-color--9bff00, #9bff00);
  stroke: var(--svg-color--00034a, #00034a);
  stroke-miterlimit: 10;
  d: path("M21.953 3.576c.222-1.335-.142-2.508-.812-2.62c-.67-.11-1.393.882-1.615 2.217s.141 2.507.812 2.619c.67.11 1.393-.881 1.615-2.216Zm4.187 3.296c.985-.93 1.405-2.082.938-2.576c-.465-.494-1.642-.143-2.626.786c-.985.928-1.404 2.082-.938 2.577c.466.494 1.642.14 2.626-.787Zm2.209 4.828c1.297-.382 2.193-1.222 2-1.874c-.192-.651-1.4-.867-2.698-.484c-1.297.383-2.194 1.223-2.001 1.875c.192.651 1.401.867 2.699.484Z");
}
