.fg77-ybtc {
  fill: none;
  stroke: var(--svg-color--fff, #fff);
  stroke-linejoin: round;
  stroke-width: var(--svg-stroke-width--2-25px, 2.25px);
  d: path("M37.9 21.38c2.481 0 4.867.905 6.72 2.547a1.125 1.125 0 1 0 1.493-1.683A12.37 12.37 0 0 0 37.9 19.13c-6.823 0-12.38 5.552-12.38 12.38v9c0 6.823 5.552 12.38 12.38 12.38c3.03 0 5.948-1.106 8.212-3.114a1.125 1.125 0 1 0-1.493-1.683a10.12 10.12 0 0 1-6.72 2.547c-5.582 0-10.12-4.543-10.12-10.12v-9c0-5.582 4.543-10.12 10.12-10.12z");
}
