.fggjjbbsh {
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M12 17V7m0 10c.56 0 1.607-1.396 2-1.75M12 17c-.56 0-1.607-1.396-2-1.75M12 7c.56 0 1.607 1.396 2 1.75M12 7c-.56 0-1.607 1.396-2 1.75");
}
