.fh3e_4i8e {
  fill: none;
  stroke: currentColor;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: var(--svg-stroke-width--2px, 2px);
  d: path("M9 6h5m5 0h-5m0 0l-2 6m-2 6l.667-2M5 5l14 14");
}
