.fhhjy4blk {
  fill: none;
  stroke: var(--svg-color--00aed9, #00aed9);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M27.79 2.31v-.58m1.24 1.09l.41-.42m.11 1.65l.59-.01m-1.09 1.25l.42.41m-1.65.11l.01.58m-1.25-1.08l-.41.41m-.11-1.64h-.58m1.08-1.24l-.41-.41M10.49 44.59l-.03-3.11m-1.54 1.57l3.11-.02m28.19-16.65l-.02-3.11m-1.54 1.57l3.1-.02m2.22 15.36l-.01-1.55m-.77.78l1.55-.01M4.56 3.07l-.01-1.55m-.77.78l1.55-.01m19.38 23.88l-.02-1.56m-.77.79l1.56-.02");
}
