.fid7--opt {
  fill: var(--svg-color--d52b1e, #d52b1e);
  stroke: var(--svg-color--000, #000);
  stroke-width: var(--svg-stroke-width--0-1px, 0.1px);
  d: path("M338.8 204.5a.5.6 10 0 0 1 .1a.5.6 10 1 0-1 0z");
}
