.fit7bphky {
  fill: none;
  stroke: var(--svg-color--45413c, #45413c);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M42.54 22c-.38 3-4.31.59-6.24 1.56C37.31 20 42.92 19 42.54 22");
}
