.fj61g7l0m {
  fill: currentColor;
  fill-opacity: var(--svg-fill-opacity--0-25, 0.25);
  fill-rule: evenodd;
  d: path("M12 18a6 6 0 0 0-6 6v40a6 6 0 0 0 6 6h8a6 6 0 0 0 6-6V24a6 6 0 0 0-6-6zm-2 6a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v40a2 2 0 0 1-2 2h-8a2 2 0 0 1-2-2zm20 0a6 6 0 0 1 6-6h32a6 6 0 0 1 6 6v12a6 6 0 0 1-6 6H36a6 6 0 0 1-6-6zm6-2a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h32a2 2 0 0 0 2-2V24a2 2 0 0 0-2-2zm0 24a6 6 0 0 0-6 6v12a6 6 0 0 0 6 6h32a6 6 0 0 0 6-6V52a6 6 0 0 0-6-6zm-2 6a2 2 0 0 1 2-2h32a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H36a2 2 0 0 1-2-2z");
}
