.fjk3svy3w {
  fill: var(--svg-color--6d6b6d, #6d6b6d);
  fill-rule: evenodd;
  d: path("m85.42 77.812l6.944-2.404l5.61 2.671l2.671 5.876l3.205-.534l.801-3.206l-1.602-6.142l1.602-14.69l-1.336-8.014l4.808-5.609l10.417-8.28l-2.938-4.006l-14.691 7.212l-6.143 4.807l-3.472 7.479l-5.342 7.211l-1.602 8.548z");
}
