.fjuxbloss {
  stroke: var(--svg-color--092f63, #092f63);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
  d: path("M21.31 6.12h-2.45l-5.39 2.94v5.88l5.39 2.94h2.45L23.27 12zm-18.62 0h2.45l5.39 2.94v5.88l-5.39 2.94H2.69L.73 12z");
}
