.fm1ertpku {
  fill: var(--svg-color--8fbffa, #8fbffa);
  fill-rule: evenodd;
  d: path("M36.273 46.623c-1.378-.3-3.097-.71-5.177-1.267a112 112 0 0 1-5.117-1.492c-3.178-1.016-4.99-4.155-4.281-7.415c.3-1.378.709-3.097 1.266-5.177c.558-2.08 1.062-3.774 1.492-5.117c1.017-3.178 4.155-4.99 7.416-4.282c1.378.3 3.096.71 5.177 1.267s3.773 1.062 5.116 1.492c3.178 1.016 4.99 4.155 4.282 7.415c-.3 1.379-.71 3.097-1.267 5.178a112 112 0 0 1-1.491 5.116c-1.017 3.178-4.156 4.99-7.416 4.282");
}
