.fmkx4x2wi {
  fill: var(--svg-color--59b3d8, #59b3d8);
  fill-rule: evenodd;
  d: path("M97.569 41.69c4.414 17.93-6.8 35.977-25.062 40.317c-18.256 4.337-36.637-6.68-41.046-24.61c-4.415-17.93 6.796-35.976 25.056-40.316l.062-.008c18.17-4.364 36.498 6.564 40.935 24.403zm0 0");
}
