.fmod5wxmx {
  stroke: var(--svg-color--191919, #191919);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M7.696 13.435h8.609v.956a1.92 1.92 0 0 1-1.913 1.913H9.609a1.92 1.92 0 0 1-1.913-1.913zm12.913 7.174a.957.957 0 1 0 0-1.914a.957.957 0 0 0 0 1.914m0-4.783a.956.956 0 1 0 0-1.912a.956.956 0 0 0 0 1.912M3.391 20.609a.957.957 0 1 0 0-1.914a.957.957 0 0 0 0 1.914m0-4.783a.956.956 0 1 0 0-1.913a.956.956 0 0 0 0 1.913");
}
