.fn0kv8btg {
  fill: var(--svg-color--335061, #335061);
  fill-rule: evenodd;
  d: path("m153.796 171.295l14.958-.801s6.143-15.492 6.143-16.293s5.342-22.436 5.342-22.436l-12.02-12.553l-2.403-2.137l-6.411 6.411v24.839z");
}
