.fn5adcdwt {
  fill: none;
  stroke: currentColor;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: var(--svg-stroke-width--1-5px, 1.5px);
  d: path("M12.313 12h-.626m.626-5h-.626m.626 10h-.626");
}
