.fnbvv9b3v {
  fill: currentColor;
  fill-opacity: var(--svg-fill-opacity--0-25, 0.25);
  d: path("M24.668 50.78a16.3 16.3 0 0 0-7.332 0a16.4 16.4 0 0 0-6.6 3.216a16.6 16.6 0 0 0-2.844 2.946a2 2 0 1 0 3.2 2.4a12.5 12.5 0 0 1 2.156-2.233a12.4 12.4 0 0 1 4.988-2.432c1.82-.42 3.711-.42 5.532 0a12.4 12.4 0 0 1 4.989 2.432a12.6 12.6 0 0 1 2.155 2.233a2 2 0 1 0 3.2-2.401a16.5 16.5 0 0 0-2.843-2.945a16.4 16.4 0 0 0-6.601-3.217");
}
