.fnqhq1gtj {
  fill: var(--svg-color--e4751f, #e4751f);
  stroke: var(--svg-color--e4751f, #e4751f);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("m87.8 162.1l23.6 46l-.8-22.9zm120.3 23.1l-1 22.9l23.7-46zm-64-20.6l-5.3 28.9l6.6 34.1l1.5-44.9zm30.5 0l-2.7 18l1.2 45l6.7-34.1z");
}
