.fnxy0abia {
  stroke: var(--svg-color--703d29, #703D29);
  stroke-linecap: round;
  stroke-width: var(--svg-stroke-width--0-296px, 0.296px);
  d: path("M119.052 104.76c.908 1.219 1.507 2.268 1.786 3.621m-.032 3.978a8 8 0 0 1-.679 1.897c-.382.759-1.048 1.604-1.666 2.176");
}
