.foaxbkmhl {
  fill: none;
  stroke: currentColor;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: var(--svg-stroke-width--1-5px, 1.5px);
  d: path("M2 6.82a15 15 0 0 1 20 0m-9.874 10.93H12m.25 0a.25.25 0 1 1-.5 0a.25.25 0 0 1 .5 0M17 9.34a10 10 0 0 0-12 1.519m8 1.242a5 5 0 0 0-4.5 1.328m12.17 2.331a2.49 2.49 0 0 1 .001 2.48A2.5 2.5 0 0 1 18.5 19.5m-2.17-3.74a2.49 2.49 0 0 0-.001 2.48A2.5 2.5 0 0 0 18.5 19.5m0 0V21m0-6.5c.93 0 1.74.507 2.17 1.26M18.5 14.5c-.93 0-1.74.507-2.17 1.26m2.17-1.26V13m3.5 2l-1.33.76M15 19l1.329-.76M22 19l-1.329-.76M15 15l1.33.76");
}
