.foequfu6d {
  fill: none;
  stroke: currentColor;
  stroke-linecap: square;
  stroke-linejoin: round;
  stroke-width: var(--svg-stroke-width--32px, 32px);
  d: path("M64 128h32v32H64zm0 112h32v32H64zm0 112h32v32H64z");
}
