.fqvqq3b0m {
  fill: none;
  stroke: var(--svg-color--5c9e31, #5c9e31);
  stroke-miterlimit: 10;
  stroke-width: var(--svg-stroke-width--2px, 2px);
  d: path("M30.223 49.437c.403 1.373.098 2.692-1.388 3.128c-1.42.419-1.625-1.056-2.1-2.409m8.873-2.306a2.816 2.816 0 0 1-5.385 1.586");
}
