.fra-w_ajj {
  fill: var(--svg-color--fff, #FFF);
  fill-rule: nonzero;
  d: path("M144.497 148.098c-.04.326-.081.937-.081.977a.53.53 0 0 0 .325.122c.367.083.57-.122.611-.407c.04-.244-.081-.57-.367-.773c-.122-.083-.325-.164-.447-.164l-.04.245m.041-.65a.64.64 0 0 0 .529-.082c.162-.081.244-.244.284-.448c.04-.366-.122-.612-.447-.652h-.164c-.04.04-.122.61-.162.977l-.04.203");
}
