.fri9eob9x {
  stroke: var(--svg-color--092f63, #092f63);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M23.27 14.94H16.9l-1.96 2.94H9.06L7.1 14.94H.73v7.84h22.54zm0-7.84H16.9l-1.96 2.94H9.06L7.1 7.1H.73v7.84h22.54zm0 0H.73l4.9-5.88h12.74z");
}
