.fsvlcnjxx {
  stroke: var(--svg-color--032b4c, #032B4C);
  stroke-width: var(--svg-stroke-width--0-049px, 0.049px);
  d: path("M139.074 82.596c.526.355 1.603.979 2.851 1.517c.012-.012.025-.037.037-.049c0-.11.146-.759.134-.771c0 0 .073-.024.049-.098c-.049-.098-.025-.135-.012-.245");
}
