.fsxrjyb6k {
  fill: none;
  stroke: currentColor;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: var(--svg-stroke-width--1-5px, 1.5px);
  d: path("M11 19.5h10m-10-7h10m-10-7h10m-18 0l1 1l3-3m-4 9l1 1l3-3m-4 9l1 1l3-3");
}
