.fszl4kf6j {
  fill: currentColor;
  fill-opacity: var(--svg-fill-opacity--0-25, 0.25);
  d: path("M40.827 14.179a2 2 0 0 0-1.908.139L6.739 35.004a2 2 0 1 0 2.164 3.365L10 37.663V62H9a2 2 0 1 0 0 4h62a2 2 0 1 0 0-4h-1V37.663l1.097.706a2 2 0 1 0 2.163-3.365L41.082 14.318a2 2 0 0 0-.255-.14M66 35.092L40 18.378L14 35.092V62h6V40a2 2 0 0 1 2-2h36a2 2 0 0 1 2 2v22h6zM56 50v4H24v-4zm0-4v-4H24v4zm0 12v4H24v-4z");
}
