.fubs_g_1g {
  fill: currentColor;
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M7.5 8a.5.5 0 1 1 0-1a.5.5 0 0 1 0 1m9 0a.5.5 0 1 1 0-1a.5.5 0 0 1 0 1M12 12.5a.5.5 0 1 1 0-1a.5.5 0 0 1 0 1M7.5 17a.5.5 0 1 1 0-1a.5.5 0 0 1 0 1m9 0a.5.5 0 1 1 0-1a.5.5 0 0 1 0 1");
}
