.fv1gwibqk {
  fill: none;
  stroke: var(--svg-color--000, #000);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
  stroke-width: var(--svg-stroke-width--2px, 2px);
  d: path("M60.136 52.663c1.116 2.95 3.99 6.701 6.864 8.617c-6 0-10.244-1.752-13.398-6.09");
}
