.fvcjk13yc {
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("m26.937 39.63l1.469-4.317c.19-1.049-.902-4.15-1.76-4.723l-15.493-7.712a2.29 2.29 0 0 1-1.143-2.383a1.59 1.59 0 0 1 2.193-.667l9.711 3.96c.869.434 7.279 1.996 7.279 1.996c1.048.286 4.84-.713 5.602-1.38c0 0 4.671-4.29 5.148-5.147l4.766-8.103a3.23 3.23 0 0 1 2.383-1.621c.763 0 1.144.762.763 1.81c0 0-3.257 8.39-3.725 9.404c-.623 1.35-4.452 5.711-5.623 7.67a14.3 14.3 0 0 0-1.309 3.596a27 27 0 0 0-.6 3.662a12.2 12.2 0 0 0 .548 3.598M23.832 57.196V49.57c0-3.241 1.716-5.243 3.813-5.72a16.25 16.25 0 0 1 9.533 0c2.097.477 3.813 2.574 3.813 5.72v7.626");
}
