.fvhnbnbyx {
  fill: var(--svg-color--ffc034, #ffc034);
  fill-rule: evenodd;
  d: path("M13.076 13.893h-.234v1.112l-.92-1l-.164.15l.831.906h-.753v.335h.772l-.85.925l.165.152l.92-1v1.299h.233v-1.183l.812.884l.165-.152l-.85-.925h.949v-.336h-.931l.832-.904l-.165-.152l-.812.884z");
}
