.fw1nweb3x {
  fill: currentColor;
  fill-rule: evenodd;
  d: path("M20.665 8.418a8.207 8.207 0 1 1-16.415 0a8.207 8.207 0 0 1 16.415 0m-6.7-4.728a1.617 1.617 0 1 1-3.234 0a1.617 1.617 0 0 1 3.234 0m2.322 4.374l-2.374.53v1.389l1.282 2.662a.97.97 0 1 1-1.748.841l-.99-2.053l-.988 2.053a.97.97 0 1 1-1.748-.841l1.282-2.662V8.595l-2.374-.53a.97.97 0 1 1 .423-1.894l2.97.663a2 2 0 0 0 .872 0l2.97-.663a.97.97 0 0 1 .423 1.893");
}
