.fw3ah1pst {
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: var(--svg-stroke-width--2px, 2px);
  d: path("m26.662 36.26l.662-15.874a4.406 4.406 0 0 1 4.35-4.178h5.014a4.406 4.406 0 0 1 4.351 4.178l.937 16.193");
}
