.fw9lkt-kl {
  fill: currentColor;
  fill-opacity: var(--svg-fill-opacity--0-16, 0.16);
  d: path("M5 14a2 2 0 1 0 0-4a2 2 0 0 0 0 4m7-7a2 2 0 1 0 0-4a2 2 0 0 0 0 4m7 14a2 2 0 1 0 0-4a2 2 0 0 0 0 4");
}
