.fxcbsbgdo {
  fill: none;
  stroke: var(--svg-color--45413c, #45413c);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("m25.3 11.61l5.878 1.74a2.83 2.83 0 0 1 1.91 3.517l-.134.45a2.83 2.83 0 0 1-3.516 1.91l-5.878-1.74a.94.94 0 0 1-.635-1.167l1.207-4.076a.94.94 0 0 1 1.168-.634m-1.43 1.54l5.87 1.73m-6.54.52l5.87 1.74");
}
