.fxclwvb4l {
  fill: none;
  stroke: var(--svg-color--4f4b45, #4f4b45);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M11 11.52s3-3.91 6.64-2.83s1.21 6.07-1.94 6.87s-4-1-4-1m28.66 16.2c2.91 0 5.64 1.31 5.64 4.34c0 4.47-7.79 5.62-19.18 6.2S12.63 44.06 11 45.22m15.56-12.84c-1.43-3.26.12-6.37 1.06-6.89");
}
