.fyj3ddbny {
  stroke: var(--svg-color--043963, #043963);
  stroke-width: var(--svg-stroke-width--0-049px, 0.049px);
  d: path("M165.265 88.931c0 .11-.245.477-.465.685c-.098.123-.183.269-.294.392c-.122.196-.22.232-.379.416a2 2 0 0 1-.392.257c-.441.135-1.529-.759-2.031-.942");
}
