.fyxtxvbbl {
  stroke: currentColor;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: var(--svg-stroke-width--1-5px, 1.5px);
  d: path("M17 8v10.382c0 .145 0 .217-.005.289a2 2 0 0 1-.147.621c-.165.33-.372.756-.474.894a2 2 0 0 1-1.27.785c-.169.029-.353.029-.722.029H9.618c-.369 0-.553 0-.722-.03a2 2 0 0 1-1.27-.784c-.102-.138-.31-.564-.474-.894a2 2 0 0 1-.147-.621C7 18.599 7 18.527 7 18.382V8");
}
