.fyzs8qv0t {
  fill: var(--svg-color--fff, #fff);
  stroke: var(--svg-color--45413c, #45413c);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M8.25 19.68h1.51v5.96H8.25zm12.52 7.36l-1.5-.39v-5.96l1.5.39z");
}
