.fzhd3f {
  stroke: currentColor;
  d: path('M16 19h6');
  fill: none;
}

@media not (prefers-reduced-motion) {
  .fzhd3f {
    stroke-dasharray: 8;
    stroke-dashoffset: 8;
    animation: 0.2s linear 1.35s forwards so-to-0;
  }
}
