.fzi95di8r {
  fill: var(--svg-color--ff6242, #ff6242);
  stroke: var(--svg-color--45413c, #45413c);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M43.33 18.79a4.58 4.58 0 0 1-4.1-1.39l.87-2.57a4.59 4.59 0 0 0 4.1 1.4Z");
}
