.j0iarcb0s {
  stroke: var(--svg-color--000, #000);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: var(--svg-stroke-width--0-35px, 0.35px);
  d: path("M173.15 146.865c.545-.618 2.123-.551 3.279.469c.575.507.195 1.268-.488 1.871c-.688.607-1.561.944-1.857.687c-1.156-1.011-1.335-2.574-.934-3.027");
}
