.j0pspe03p {
  fill: var(--svg-color--fff, #FFF);
  fill-rule: nonzero;
  stroke: var(--svg-color--000, #000);
  stroke-width: var(--svg-stroke-width--0-086px, 0.086px);
  d: path("M150.257 100.542c.428 0 .893 0 2.85-.477c1.958-.465 3.572-1.652 3.952-1.823s.93-.122.93-.122c-.208-.22-.808-.771-1.652-.771c-.856 0-.514 0-1.236.306c-.722.294-2.226 1.211-4.771 1.211h-.049c-2.544 0-4.135-.917-4.857-1.211c-.722-.306-.392-.306-1.236-.306c-.857 0-1.444.551-1.664.771c0 0 .563-.049.942.122c.379.172 1.994 1.358 3.952 1.823c1.946.477 2.423.477 2.839.477z");
}
