.j1lcqnbmi {
  stroke: var(--svg-color--191919, #191919);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M12.496 13.566v-.993m1.489.993h-2.014a1.333 1.333 0 0 0-.496 2.568l2.048.82a1.331 1.331 0 0 1-.497 2.569h-2.019m1.489.992v-.993");
}
