.j2tz8fb0g {
  stroke: var(--svg-color--191919, #191919);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("m11.715 21.6l-9.09-9.842a5.43 5.43 0 0 1-1.039-6.325a5.59 5.59 0 0 1 8.891-1.423l1.532 1.396L13.54 4.01a5.59 5.59 0 0 1 8.896 1.423a5.39 5.39 0 0 1-1.34 6.504z");
}
