.j2whz3qht {
  fill: currentColor;
  fill-opacity: var(--svg-fill-opacity--0-4, 0.4);
  d: path("M9.33541 11.1582C8.98387 10.053 9.99387 9.02619 11.0805 9.30369L11.186 9.33396L22.0034 12.9375C23.2819 13.3639 23.3468 15.1486 22.101 15.666L17.6723 17.5029L15.4907 22.1601C14.9281 23.3592 13.1822 23.2485 12.7797 21.9834L9.33541 11.1582Z");
  stroke: none;
}
