.j4h73t-4q {
  fill: var(--svg-color--2859c5, #2859c5);
  fill-rule: evenodd;
  d: path("M3.862 2.886a.75.75 0 0 1 .75-.75h4.776a.75.75 0 0 1 0 1.5H4.612a.75.75 0 0 1-.75-.75m0 2.624a.75.75 0 0 1 .75-.75h4.776a.75.75 0 0 1 0 1.5H4.612a.75.75 0 0 1-.75-.75m.75 1.874a.75.75 0 1 0 0 1.5h2.866a.75.75 0 1 0 0-1.5z");
}
