.j4mg3wbbl {
  stroke: var(--svg-color--191919, #191919);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M23 9.099v7.49m-1.873-7.49v7.49m-1.872-9.362l-1.404-.936m-3.277-1.873l-2.34-.468m3.276 4.68l3.277.469M15.51 11.44h3.277m-3.277 5.617l3.277-.469m-3.277-2.34h3.277M13.638 8.63v2.81m0 5.617v-2.809");
}
