.j568bobeg {
  fill: currentColor;
  fill-opacity: var(--svg-fill-opacity--0-25, 0.25);
  d: path("M27.166 24.929a.02.02 0 0 0-.018.018v4.334c0 .862.699 1.56 1.561 1.56h21.878a1.56 1.56 0 0 0 1.561-1.56v-4.334a.02.02 0 0 0-.018-.018a.02.02 0 0 1-.018-.018a12.23 12.23 0 0 0-7.607-11.304l-.119-.048a12.54 12.54 0 0 0-9.476 0l-.118.048a12.23 12.23 0 0 0-7.608 11.304q-.002.016-.018.018m19.982 13.133a3 3 0 0 0-3 3v5.39a2 2 0 0 0 2 2h2a2 2 0 0 0 2-2v-5.39a3 3 0 0 0-3-3m-16 10.391a2 2 0 0 1-2-2V41.06a3 3 0 1 1 6 0v5.392a2 2 0 0 1-2 2z");
}
