.j5k34_byv {
  fill: none;
  stroke: var(--svg-color--000, #000);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: var(--svg-stroke-width--2px, 2px);
  d: path("M29.099 39a2.88 2.88 0 0 1-2.494-1.283c-.724-1.023 4.625-4.803-1.295-4.527c0 0-.211-4.565-.211-7.19c0-7 4-14 14-14s14 7 14 14s0 13-4 13m9 21v-3c0-4.994-5.006-9-10-9q-9 7.5-18 0");
}
