.j76rm9bbl {
  fill: var(--svg-color--729fcf, #729fcf);
  stroke: var(--svg-color--fff, #fff);
  stroke-width: var(--svg-stroke-width--4-919px, 4.919px);
  d: path("m26 52.062l77.923 56.206L230.568 70.79L143.606 21z");
}
