.j7ns4rrix {
  stroke: var(--svg-color--191919, #191919);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M19.748 23H4.252a2.87 2.87 0 0 1-2.849-3.225l1.51-12.08h18.174l1.51 12.08A2.87 2.87 0 0 1 19.746 23");
}
