.j8kj3rs0e {
  fill: none;
  stroke: var(--svg-color--8aadf4, #8aadf4);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M.5 15.048a6.5 6.5 0 0 1 1.616-2.932S4.253.84 13.897.952l-1.153 2.812S8.02 4.411 5.8 11.807c0 0-1.855.534-3.683.309");
}
