.j949-8b_x {
  fill: none;
  stroke: currentColor;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: var(--svg-stroke-width--1-5px, 1.5px);
  d: path("M8.5 22c.5-.5 1-1.5 1-4m-.833-2.666C7.334 10 8.334 9 8.667 8.667m0 6.667c-5.333-1.334-6-.668-6.667-.001m6.667 0c5.333 1.334 6.333.333 6.666 0M22 8.667c-.667.667-1.333 1.333-6.666 0m0 0c-.8-.2-1.502-.347-2.12-.452m2.12.452c.2.8.347 1.502.452 2.119M15.333 2C15 2.5 14.5 3.5 14.5 6M2 2l20 20");
}
