.j99jrbj5x {
  fill: var(--svg-color--2859c5, #2859c5);
  fill-rule: evenodd;
  d: path("M17.5 7A1.5 1.5 0 0 1 19 5.5c2.815 0 5.445.937 7.386 2.743c1.955 1.819 3.114 4.433 3.114 7.58a1.5 1.5 0 1 1-3 0c0-2.375-.856-4.172-2.158-5.384C23.025 9.214 21.156 8.5 19 8.5A1.5 1.5 0 0 1 17.5 7");
}
