.j_shnj9av {
  stroke: var(--svg-color--000, #000);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: var(--svg-stroke-width--4px, 4px);
  d: path("m40 34l-4-2l-4 2l-4-2l-4 2l-4-2l-4 2l-4-2l-4 2");
}
