.jbpwidbxv {
  fill: var(--svg-color--009b3a, #009B3A);
  fill-rule: nonzero;
  stroke: var(--svg-color--000, #000);
  stroke-width: var(--svg-stroke-width--0-075px, 0.075px);
  d: path("M145.417 83.429c-1.083.247-2.766.563-3.793.916c.438-1.14.962-2.972 1.286-4.098c-.137.998-.415 2.357-.415 3.254c.83.105 2.035-.057 2.922-.072z");
}
