.jcy_bcbae {
  fill: var(--svg-color--6a462f, #6a462f);
  fill-rule: evenodd;
  d: path("m38.982 54.113l-.074 3.339c0 1.104.237 1.613 1.342 1.613h11.866c1.104 0 1.945-.007 1.945-1.112l-.028-3.418l.028-4.057z");
}
