.jdkdq6brm {
  fill: var(--svg-color--e8aa00, #e8aa00);
  fill-rule: evenodd;
  d: path("m16.087 8.905l.041-.023v.047c.193.106.677.355.993.355c.4 0 .945-.402.945-.402l.911 1.286s-.614 1.287-.144 2.858s-.025 2.784-2.113 2.919c0 0-.412.078-.592.203v.115q-.001-.043-.041-.082q-.04.039-.042.082v-.116c-.18-.124-.592-.202-.592-.202c-2.088-.135-2.582-1.347-2.113-2.919c.47-1.572-.144-2.858-.144-2.858l.912-1.286s.544.402.945.402c.315 0 .8-.25.992-.355v-.047z");
}
