.jef6gtb-c {
  fill: var(--svg-color--fff, #fff);
  fill-rule: evenodd;
  d: path("M16 29.6675C17.1046 29.6675 18 28.772 18 27.6675C18 26.5629 17.1046 25.6675 16 25.6675C14.8954 25.6675 14 26.5629 14 27.6675C14 28.772 14.8954 29.6675 16 29.6675Z");
}
