.jegaryxrm {
  fill: var(--svg-color--49330e, #49330e);
  fill-rule: evenodd;
  d: path("M76.563 65.794c-.991-2.126-1.948-4.271-3-6.367c-.245-.49-.749-1.026-1.247-1.184c-2.105-.667-3.474-1.916-3.877-4.317l2.523.286c.474.033.958.147 1.419.085c2.207-.299 3.714-1.697 5.181-3.243c4.916-5.184 10.683-8.387 18.124-7.516l1.002.393l-2.408.946c2.028 2.379 1.656 4.728.206 7.306l-.72-2.677l-.312-.012l-.379 2.25c-1.058 2.485-2.065 4.994-4.646 6.388c-3.756 2.028-7.527 2.915-11.326.22c-1.623 2.466-.664 4.981-.54 7.442m12.433-13.94v-4.628c-3.894 2.292-7.218 4.52-9.882 7.614l-1.099 1.328c3.718 2.788 10.989.954 10.981-4.314");
}
