.jeju1_b1u {
  fill: var(--svg-color--45413c, #45413c);
  d: path("M45.5 45.18C45.5 46.29 35.87 47 24 47s-21.5-.71-21.5-1.82s9.63-2 21.5-2s21.5.89 21.5 2");
  opacity: var(--svg-opacity--0-15, 0.15);
}
