.jely4qz2a {
  stroke: var(--svg-color--000, #000);
  stroke-miterlimit: 10;
  stroke-width: var(--svg-stroke-width--1-046px, 1.046px);
  d: path("M25 49.49a10.75 17.05 0 0 0 3.694-1.05c-.222-1.632-1.782-2.902-3.694-2.902s-3.472 1.27-3.694 2.902A10.75 17.05 0 0 0 25 49.49z");
}
