.jevx2nbsu {
  fill: var(--svg-color--d20014, #D20014);
  fill-rule: nonzero;
  stroke: var(--svg-color--d20014, #D20014);
  stroke-width: var(--svg-stroke-width--0-15px, 0.15px);
  d: path("M163.669 86.304c-.084-.551-1.126-1.928-1.277-1.977c-.782.235-1.509.685-2.301-1.102c.688.875 2.083-.016 2.083-.016l.605.502l-.017.243l1.831 1.702z");
}
