.jeyk6lp3r {
  fill: var(--svg-color--69f, #69F);
  fill-rule: nonzero;
  d: path("M167.694 152.087c-.773.448-1.628.408-2.157.366c-1.506-.04-2.686-.895-2.686-3.704c0 0-1.872.937-4.883 1.67c0 0-.53.61-.611 1.83c-.082 1.018.61 2.117 1.384 2.035c0 0 4.313-.773 6.877-1.22c1.506-.285 2.075-.977 2.075-.977");
}
