.jf4qkte-e {
  fill: none;
  stroke: currentColor;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: var(--svg-stroke-width--2px, 2px);
  d: path("M4 6.5a2.5 2.5 0 1 0 5 0a2.5 2.5 0 1 0-5 0m11 0a2.5 2.5 0 1 0 5 0a2.5 2.5 0 1 0-5 0m0 11a2.5 2.5 0 1 0 5 0a2.5 2.5 0 1 0-5 0m-11 0a2.5 2.5 0 1 0 5 0a2.5 2.5 0 1 0-5 0m4.5-2l7-7");
}
