.jf9d76bbb {
  width: 18px;
  height: 44px;
  x: 45px;
  y: 18px;
  fill: var(--svg-color--2f80ed, #2f80ed);
  stroke: var(--svg-color--2f80ed, #2f80ed);
  stroke-linecap: round;
  stroke-width: var(--svg-stroke-width--4px, 4px);
  rx: 4px;
}
