.jfe5vbjgh {
  fill: var(--svg-color--8fbffa, #8fbffa);
  fill-rule: evenodd;
  d: path("M6.47.27A.75.75 0 0 1 7 .05h1.371a.75.75 0 1 1 0 1.5h-.62v1.983a.75.75 0 1 1-1.5 0L6.25.8a.75.75 0 0 1 .22-.53");
}
