.jfj-4zxct {
  fill: none;
  stroke: var(--svg-color--45413c, #45413c);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M24 39.5a13 13 0 0 0 4.66-.88a4.74 4.74 0 0 0-9.32 0a13 13 0 0 0 4.66.88");
}
