.jfjz-whtc {
  fill: var(--svg-color--c9343f, #c9343f);
  fill-rule: evenodd;
  d: path("M7.798 17.538h.25v.282h.103v.2h-.103v.107h-.25zm-2.51.875h-.25v.59h.25v-.108h.102v-.2h-.103zm.353 0h-.25v.59h.25zm-.354.729h-.25v.59h.25v-.108h.103v-.2h-.103zm.104 0h.25v.59h-.25zm3.54-.73h.25v.283h.102v.2h-.102v.107h-.25zm.604 0h-.25v.59h.25zm-.354.73h-.25v.59h.25v-.108h.102v-.2h-.102zm.104 0h.25v.59h-.25zm-.883-1.604h-.25v.59h.25zm-2.053 0H6.1v.59h.25v-.108h.103v-.2H6.35zm.104 0h.25v.59h-.25zm1.345 2.479h.25v.282h.103v.2h-.103v.108h-.25zm.604 0h-.25v.59h.25zm-2.053 0H6.1v.59h.25v-.108h.103v-.2H6.35zm.104 0h.25v.59h-.25z");
}
