.jfkjynb6a {
  fill: currentColor;
  fill-opacity: var(--svg-fill-opacity--0-25, 0.25);
  d: path("M33.856 54h22.932c3.814 0 7.468-1.533 10.14-4.253l.148-.152a13.694 13.694 0 0 0 0-19.19l-.148-.151A14.2 14.2 0 0 0 56.788 26H33.856q.476.233.938.5a15.588 15.588 0 0 1-.938 27.5");
}
