.jfvi6mjut {
  fill: var(--svg-color--9b51e0, #9b51e0);
  fill-rule: evenodd;
  d: path("M47.148 38.061a3 3 0 0 0-3 3v5.392a2 2 0 0 0 2 2h2a2 2 0 0 0 2-2V41.06a3 3 0 0 0-3-3m-16 10.392a2 2 0 0 1-2-2V41.06a3 3 0 1 1 6 0v5.392a2 2 0 0 1-2 2z");
}
