.jgvlsibwn {
  fill: var(--svg-color--90554d, #90554d);
  fill-opacity: var(--svg-fill-opacity--0-694, 0.694);
  d: path("M119.349 53.382q-.118.136-.294-.032a.148.112 42.3 0 0-.193-.017l-.253.313a.128.207 34.7 0 1-.189.083q-.222-.093-.123-.348q.41-1.04 1.041-.225a.193.164 47 0 1 .01.225z");
}
