.jhha_zbxk {
  stroke: var(--svg-color--000, #000);
  stroke-width: var(--svg-stroke-width--0-156px, 0.156px);
  d: path("M108.1 105.748s-.204-.256-.484-.248c-.284.012-.58.276-.58.276s.352-.028.444.088c.092.12.18.268.18.268s.16-.084.228-.14c.068-.052.212-.244.212-.244z");
}
