.jhj59op0p {
  fill: var(--svg-color--0087ff, #0087ff);
  fill-opacity: var(--svg-fill-opacity--0-396, 0.396);
  d: path("m61.3 10.2l3.2 231.2h193.3V10.2zm196.5 231.1v256.2c74.8-34.3 191.1-99.6 193.2-251.7l.1-4.6H257.8z");
}
