.jhzf-bb-k {
  fill: var(--svg-color--2e42a5, #2e42a5);
  fill-rule: evenodd;
  d: path("M10.327 15.298c-.544-2.177.304-5.133.304-5.133l.854.61c-.126 1.125-.126 4.036.596 5.297s3.887 1.791 3.887 1.791s-.624.462-1.77.678s-3.328-1.066-3.871-3.243m3.629 5.92l.502-1.793l.707-.866h.51s-.717 3.08-1.217 3.08c-.325 0-.228-.178-.12-.376c.059-.107.12-.22.12-.313c0-.266-.502.267-.502.267");
}
