.jj1chix2k {
  fill: none;
  stroke: currentColor;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: var(--svg-stroke-width--1-5px, 1.5px);
  d: path("M7 19V4m4 0h10M11 8h7m-7 4h4M3 16s2.946 4 4 4s4-4 4-4");
}
