.jj6yk8bgi {
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M60.136 35.753C56.902 48.383 45.45 57.72 31.808 57.72a29.1 29.1 0 0 1-17.5-5.808c-.98-.667-3.61-2.055-2.77-3.696c.841-1.642 4.076-.329 4.257-.286c.095.032.19.063.286.106c5.543 1.88 11.543 1.954 15.727 1.954c3.82 0 15.18-2.72 17.153-15.747");
}
