.jjd5w6yye {
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M19 17.5c1.424 0 2.063 0 2.515-.487q.03-.032.057-.065c.43-.513.43-1.32.43-2.936c0-1.225 0-1.837-.24-2.354c-.251-.54-.703-.877-1.654-1.565c-.945-.684-1.616-1.452-2.256-2.51c-.912-1.51-1.369-2.265-2.053-2.674S14.308 4.5 12.694 4.5h-.7m-3.002 13h6.005");
}
