.jjdo8bbzh {
  fill: var(--svg-color--2859c5, #2859c5);
  fill-rule: evenodd;
  d: path("M10.67 12.88a.5.5 0 0 0-.06-.332c-.802-1.394-1.988-2.818-3.405-3.825c-.806-.574-1.866-.518-2.642.032c-.515.365-.92.716-1.328 1.151c.045.438.102.865.157 1.276l.03.232a1.54 1.54 0 0 0 1.38 1.33q.244.021.493.047c1.002.097 2.067.201 3.157.201c.756 0 1.5-.05 2.218-.113Z");
}
