.jknmelb_y {
  fill: var(--svg-color--000, #000);
  fill-rule: nonzero;
  d: path("M199.217 152.508a.673.673 0 0 1-1.007.583a.67.67 0 0 1-.335-.583a.671.671 0 1 1 1.342 0m4.346 4.416a.672.672 0 1 1-1.344.001a.672.672 0 0 1 1.344-.001");
}
