.jknxtgxtf {
  fill: none;
  stroke: var(--svg-color--cad3f5, #cad3f5);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("m1.8 7.9l.69-2.7c.11-.44.51-.76.97-.76h11a1.003 1.003 0 0 1 .97 1.24l-.32 1.3m-9.1 6.5h-4c-.83 0-1.5-.67-1.5-1.5v-8.5c0-.55.45-1 1-1h5c.55 0 1 .45 1 1v1");
}
