.jlg9yab1o {
  fill: none;
  stroke: var(--svg-color--000, #000);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: var(--svg-stroke-width--1-99px, 1.99px);
  d: path("M25.034 31.082c-.198 3.1-.297 6.6 1.188 9.3c.581.983 1.28 1.89 2.08 2.7a10.4 10.4 0 0 0 7.325 2.5");
}
