.jlqfnfbnv {
  fill: var(--svg-color--000, #000);
  fill-rule: nonzero;
  d: path("M214.526 43.585c-.277-.211-.553.247-.786.19c-.233-.059-.422-.445-.422-.445s.219.408.524.313s.517-.284.706-.139c.189.146-.022.081-.022.081");
}
