.jmelfhbaq {
  fill: none;
  stroke: currentColor;
  stroke-width: var(--svg-stroke-width--1-5px, 1.5px);
  d: path("M11.054 4.812a7.3 7.3 0 0 1 1.892 0m1.828.49a7.2 7.2 0 0 1 1.64.946m1.338 1.338a7.2 7.2 0 0 1 .946 1.64m.49 1.828a7.3 7.3 0 0 1 0 1.892m-.49 1.828a7.3 7.3 0 0 1-.946 1.64m-1.338 1.338a7.3 7.3 0 0 1-1.64.946m-1.828.49a7.3 7.3 0 0 1-1.892 0m-1.828-.49a7.3 7.3 0 0 1-1.64-.946m-1.338-1.338a7.3 7.3 0 0 1-.946-1.64m-.49-1.828a7.3 7.3 0 0 1 0-1.892m.49-1.828a7.3 7.3 0 0 1 .946-1.64m1.338-1.338a7.3 7.3 0 0 1 1.64-.946");
}
