.jmyubu8dm {
  fill: none;
  stroke: var(--svg-color--000, #000);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: var(--svg-stroke-width--2px, 2px);
  d: path("M27.67 43.857H13.72v-15.39l13.994.035l.018-14.118h15.729v13.95l13.817-.082v15.605H43.461v14.084H27.635z");
}
