.jonqcrbqb {
  fill: var(--svg-color--fff, #fff);
  d: path("M288 128C182 128 96 99.3 96 64v128c0 20.9 30.2 39.5 76.8 51.2h22.4c9.6 0 18.5 3.3 25.5 8.8c20.9 2.6 43.6 4 67.3 4c106 0 192-28.7 192-64V64c0 35.3-86 64-192 64");
  opacity: var(--svg-opacity--0-5, 0.5);
}
