.jp3f74bde {
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("m58.518 32.14l1.328 26.557c.038.77-.402 1.398-.979 1.398a1.45 1.45 0 0 1-1.208-1.389L55.882 43.31c-.09-.764-.474-1.389-.859-1.389s-.77.625-.859 1.389L52.39 58.706a1.45 1.45 0 0 1-1.208 1.389c-.577 0-1.017-.63-.979-1.398l1.328-26.557");
}
