.jqad4lbfi {
  fill: none;
  stroke: var(--svg-color--000, #000);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: var(--svg-stroke-width--2px, 2px);
  d: path("M55.58 31.77c.43 3.67 1.2 4.62 3.06 9.01c1.65 3.87 1.13 8.34-1.38 11.7M27.41 23.66c2.27-4.14 7.23-6.68 12.62-6.68c5.35 0 7.92 3 7.92 3C51 18 54 21 53.8 23.34m-27.95 8.67c.06 1.97.19 3.69-.67 5.97c-.64 1.652-1.445 3.253-2.045 4.9");
}
