.jqdr0e1zz {
  stroke: var(--svg-color--000, #000);
  stroke-linecap: round;
  d: path("M14.9204 39.0407C17.0024 40.783 19.9244 41.9998 23.9999 41.9998C28.1112 41.9998 31.0487 40.7712 33.1341 39.0137");
}
