.jqyji8tcj {
  fill: none;
  stroke: currentColor;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: var(--svg-stroke-width--4px, 4px);
  d: path("M30 7.979L19 8v10H4v14h17m-1 10l11-.021v-10.4h13V18H30.345");
}
