.js-3qq8um {
  fill: var(--svg-color--fcca3e, #fcca3e);
  stroke: var(--svg-color--aa8c30, #aa8c30);
  stroke-width: var(--svg-stroke-width--0-2px, 0.2px);
  d: path("M227.7 294.4q-.1 1-.8 1q-1-.1-.8-1q.3-1.2.8-1q.8.3.8 1zm0 1.8l.7 4l-1-.3l-.3-3.5z");
}
