.jsa3ybb1d {
  fill: var(--svg-color--8fbffa, #8fbffa);
  fill-rule: evenodd;
  d: path("M7.304 4.339q-.196 0-.387.007c-1.71.063-3.143 1.499-3.2 3.21a9 9 0 0 0-.007.36c0 .418.026.827.062 1.22a2.55 2.55 0 0 0 2.284 2.29c.402.038.82.067 1.248.067s.846-.029 1.248-.067a2.55 2.55 0 0 0 2.284-2.29c.036-.393.062-.802.062-1.22q0-.181-.006-.36c-.057-1.711-1.491-3.147-3.2-3.21a11 11 0 0 0-.388-.007");
}
