.jse0vkp7i {
  fill: currentColor;
  fill-rule: evenodd;
  d: path("M12.562 8.062h-1.125A1.687 1.687 0 0 0 9.749 9.75v3.375a1.69 1.69 0 0 0 1.688 1.687h1.125a1.687 1.687 0 0 0 1.687-1.687V9.75a1.69 1.69 0 0 0-1.687-1.688M11.437 7.5a2.25 2.25 0 0 0-2.25 2.25v3.375a2.25 2.25 0 0 0 2.25 2.25h1.125a2.25 2.25 0 0 0 2.25-2.25V9.75a2.25 2.25 0 0 0-2.25-2.25z");
}
