.jslr4-b-t {
  fill: var(--svg-color--ffbd03, #FFBD03);
  fill-rule: nonzero;
  stroke: var(--svg-color--000, #000);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: var(--svg-stroke-width--0-15px, 0.15px);
  d: path("M254.742 115.991a.18.18 0 0 0-.105.247c.329.75.83 1.335 1.628 1.792a.18.18 0 0 0 .247-.067a.18.18 0 0 0-.067-.246c-.742-.424-1.175-.93-1.479-1.622a.18.18 0 0 0-.224-.104");
}
