.jspuefb_u {
  fill: var(--svg-color--cf0921, #cf0921);
  stroke: var(--svg-color--18b637, #18b637);
  stroke-width: var(--svg-stroke-width--3-9px, 3.9px);
  d: path("m280 200.2l-19.3.3l-10 16.4l-9.9-16.4l-19.2-.4l9.3-16.9l-9.2-16.8l19.2-.4l10-16.4l9.9 16.5l19.2.4l-9.3 16.8zm-64.6 111.6l-19.2.3l-10 16.4l-9.9-16.4l-19.2-.4l9.3-16.9l-9.2-16.8l19.2-.4l10-16.4l9.9 16.5l19.2.4l-9.3 16.8zm130.6 0l-19.2.3l-10 16.4l-10-16.4l-19.1-.4l9.3-16.9l-9.3-16.8l19.2-.4l10-16.4l10 16.5l19.2.4l-9.4 16.8z");
}
