.jt4villyt {
  fill: currentColor;
  fill-rule: evenodd;
  d: path("M4.15 11.2c-.152.368-.152.834-.152 1.77c0 .932 0 1.4.152 1.77c.203.49.592.879 1.08 1.08c.368.152.833.152 1.77.152h6c.932 0 1.4 0 1.77-.152c.49-.203.879-.592 1.08-1.08c.152-.368.152-.834.152-1.77c0-.932 0-1.4-.152-1.77a2 2 0 0 0-1.08-1.08c-.368-.152-.834-.152-1.77-.152H7c-.932 0-1.4 0-1.77.152c-.49.203-.879.592-1.08 1.08M7 13.97a1 1 0 1 0 0-2a1 1 0 0 0 0 2m7-1a1 1 0 1 1-2 0a1 1 0 0 1 2 0m-4 1a1 1 0 1 0 0-2a1 1 0 0 0 0 2");
}
