.jtvf014yy {
  fill: none;
  stroke: var(--svg-color--9b9b9a, #9b9b9a);
  stroke-linecap: round;
  stroke-miterlimit: 10;
  stroke-width: var(--svg-stroke-width--2px, 2px);
  d: path("m37.014 17.328l-6.246 5.205");
}
