.ju4c6cbsj {
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M3 16c2.446 0 3.544-2.705 3.893-4.57c.092-.488.24-.973.563-1.349A5.99 5.99 0 0 1 12 8c1.816 0 3.444.807 4.544 2.081c.323.376.471.861.563 1.348C17.457 13.295 18.554 16 21 16");
}
