.juhmrne6j {
  fill: var(--svg-color--ffe500, #ffe500);
  stroke: var(--svg-color--45413c, #45413c);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M8.85 14.91a2 2 0 0 0 3.93.93c.35-1.48-1.9-1.72-1.84-3.9a4.25 4.25 0 0 0-2.09 2.97");
}
