.jvi44abda {
  stroke: var(--svg-color--000, #000);
  stroke-width: var(--svg-stroke-width--0-073px, 0.073px);
  d: path("M158.464 102.107s.208-.893.172-1.101l-.221-.171m.391 1.613s.795.037 1.052.122c0 0 0 .049.085.22m3.78-4.377s.049-1.064-.172-1.15c0 0-.208-.085-.33-.257m1.311 1.063s.599-.086.771 0c0 0 .037.171.171.22m.206-6.459l.208.122c.22.085.636 1.113.636 1.113s.685-.514.979-.563h.306m1.358-5.688s-.171.172-.343.086c0 0-.844.551-.893.771c0 0-.893-.893-1.064-.808c0 0-.086.123-.257-.049m1.616-5.222s-.086.122-.245.208c0 0-.392.563-.392.979c0 0-.722-.636-.93-.587c0 0-.257.086-.428 0m-.086-5.481s-.171.208-.294.037c0 0-.514.636-.208 1.113c0 0-.722-.171-.942-.049c0 0-.085.294-.343.122");
}
