.jwdsr96ax {
  fill: var(--svg-color--f2c94c, #f2c94c);
  fill-rule: evenodd;
  d: path("M21.04 59.79q.046-.014.093-.026A78 78 0 0 1 40 57.45V39.082a15.905 15.905 0 0 0-15.905-15.904h-.19A15.905 15.905 0 0 0 8 39.082v2.061a16 16 0 0 0 5.485 12.06zm37.934.003l7.558-6.59a16 16 0 0 0 5.485-12.06v-2.06a15.905 15.905 0 0 0-15.904-15.905h-.191a15.905 15.905 0 0 0-15.905 15.905V57.45a78 78 0 0 1 18.957 2.343");
}
