.jz18xv0mx {
  fill: var(--svg-color--fff, #FFF);
  fill-rule: nonzero;
  stroke: var(--svg-color--000, #000);
  stroke-width: var(--svg-stroke-width--0-5px, 0.5px);
  d: path("M126.667 118.667c1.5 7.667 15.333 7.833 15.333 7.833v-2.583c-.333-1 .25-1.333 2.5-1.667c.917-.083.5-1.417.5-1.417s-6 1.083-10.25-.583c-5.75-2.333-6.583-6.833-6.583-6.833s-.417 3.5-1.5 5.25zm47.75 0c-1.417 7.667-15.25 7.833-15.25 7.833v-2.583c.25-1-.333-1.333-2.583-1.667c-.917-.083-.417-1.417-.417-1.417s6 1.083 10.25-.583c5.667-2.333 6.333-6.833 6.333-6.833s.583 3.5 1.667 5.25z");
}
