.jz62th12y {
  stroke: currentColor;
  stroke-linecap: round;
  d: path("M4 40h72M9 13a1 1 0 0 1 1-1h6a1 1 0 0 1 1 1v19H9zm8 35H9v19a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1zm9 0h-1v19.5a.5.5 0 0 0 1 0zm-1-16h1V12.5a.5.5 0 0 0-1 0zm9 16v19.5a.5.5 0 0 0 1 0V48zm0-16h1V12.5a.5.5 0 0 0-1 0zm9 35V48h8v19a1 1 0 0 1-1 1h-6a1 1 0 0 1-1-1Zm0-35h8V13a1 1 0 0 0-1-1h-6a1 1 0 0 0-1 1zm16 16v19a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V48zm0-16h12V13a1 1 0 0 0-1-1H60a1 1 0 0 0-1 1z");
}
