.jzbgh9b7f {
  fill: var(--svg-color--ff8a14, #ff8a14);
  stroke: var(--svg-color--45413c, #45413c);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M33.51 26.4c7.3-5.19 3.32-16.27 3.32-16.27a14.62 14.62 0 0 1-26.16 8.25S20 36 33.51 26.4");
}
