.jzmc_w4yt {
  fill: var(--svg-color--fff, #fff);
  stroke: var(--svg-color--45413c, #45413c);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M24 11.37A12.63 12.63 0 1 0 36.63 24A12.64 12.64 0 0 0 24 11.37m0 22.25A9.62 9.62 0 1 1 33.62 24A9.62 9.62 0 0 1 24 33.62");
}
