.b09japs6m {
  fill: var(--svg-color--50c800, #50c800);
  fill-rule: evenodd;
  d: path("M47.583 0h154.858C228.711 0 250 21.29 250 47.583v154.858c0 26.27-21.289 47.583-47.583 47.583H47.583C21.289 250 0 228.711 0 202.417V47.583C0 21.289 21.29 0 47.583 0");
}
