.b0h4k8bco {
  fill: none;
  stroke: var(--svg-color--000, #000);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: var(--svg-stroke-width--2px, 2px);
  d: path("m20.207 60.958l16.164-49.94m-2.347 49.94l16.165-49.94M34.759 16h13.817M30.985 27.658h13.818m-7.547 23.316H23.439m3.773-11.658h13.817");
}
