.b0sxd4b_l {
  fill: none;
  stroke: var(--svg-color--000, #000);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: var(--svg-stroke-width--2px, 2px);
  d: path("M32.9 38.2c1.9.8 4.1.8 6 0");
}
