.b0xi1bjln {
  fill: none;
  stroke: var(--svg-color--45413c, #45413c);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("m33.33 22.52l-3.57 3.57a6 6 0 0 0 0 8.49h0M24.11 8.76a9.06 9.06 0 0 1 4.31 2a9.7 9.7 0 0 1 2.7 4m-6.44-8.67A11.06 11.06 0 0 1 30 8.51a11.84 11.84 0 0 1 3.33 4.93M4.65 24.24a9 9 0 0 0 .79 4.67a9.65 9.65 0 0 0 3.17 3.63M1.92 24.1a11.07 11.07 0 0 0 1 5.77a12 12 0 0 0 3.91 4.49");
}
