.b1f56jniv {
  fill: var(--svg-color--000, #000);
  fill-rule: nonzero;
  stroke: var(--svg-color--000, #000);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: var(--svg-stroke-width--0-375px, 0.375px);
  d: path("M128.891 156.296c-1.278.205-2.451.642-3.649 1.112c-3.266 1.282-7.012 1.086-9.914-.978c.203 1.467.846 2.744 1.786 3.864c.23.273.935.97.935.97c.117.122.096.2-.07.205c-2.223.095-4.242.066-6.428-.342c5.161 5.675 10.345 7.088 17.411 3.654c3.713-1.803 6.806.233 10.515.233c3.934 0 3.563-2.575 2.697-5.484l.472.051c.633 1.787 1.627 6.196-3.169 5.84c-3.697-.274-6.656-2.158-10.381-.381c-5.735 2.736-9.88 2.697-14.87-1.006c-1.018-.755-2.657-2.112-3.357-3.146c-.17-.251.001-.402.257-.323c1.894.588 4.763.589 6.223.551c-1.182-1.189-2.512-3.396-2.454-4.979c.008-.205.105-.244.279-.155c2.703 1.401 3.718 1.964 6.87 1.964c1.856 0 5.649-2.097 6.778-1.88z");
}
