.b2jinnpae {
  fill: none;
  stroke: var(--svg-color--000, #000);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: var(--svg-stroke-width--2px, 2px);
  d: path("M18.855 46.658c-3.723-5.857-.628-10.08 1.18-14.725c1.635-4.2-.21-6.45 1.29-12.034c1.48-5.5 7.278-8.966 13.71-8.966c5.4 0 8 3 8 3a8.13 8.13 0 0 1 7.404 8.037c.387 7.18 1.025 7.152 3.43 12.822a11.6 11.6 0 0 1-1.447 11.663");
}
