.b3p0iso8h {
  fill: var(--svg-color--66e1ff, #66e1ff);
  stroke: var(--svg-color--191919, #191919);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M7.696 10.565a3.348 3.348 0 1 0-6.696 0v2.87h1.514l.4 4.782h2.869l.398-4.782h1.515z");
}
