.b3sjmcchl {
  fill: var(--svg-color--6bafff, #6bafff);
  fill-rule: evenodd;
  d: path("M10.624 20.287c2.34.81 6.62 1.825 13.374 1.825c6.753 0 11.033-1.015 13.374-1.825c.383-.4.59-.775.59-1.092l-.003-.06c-1.93.785-6.31 2.104-13.961 2.104s-12.032-1.32-13.961-2.103l-.003.06c0 .316.206.69.59 1.091");
}
