.b489q_bei {
  stroke: var(--svg-color--f5a97f, #f5a97f);
  stroke-linecap: square;
  d: path("M11.5 8.5v6m0-6a.5.5 0 1 0 0-1a.5.5 0 0 0 0 1Zm0 7a.5.5 0 1 0 0-1a.5.5 0 0 0 0 1Zm2.598-2.5l-5.196-3m5.196 3a.5.5 0 1 0 .866.5a.5.5 0 0 0-.866-.5ZM8.036 9.5a.5.5 0 1 0 .866.5a.5.5 0 0 0-.866-.5Zm6.062.5l-5.196 3m5.196-3a.5.5 0 1 0 .866-.5a.5.5 0 0 0-.866.5Zm-6.062 3.5a.5.5 0 1 0 .866-.5a.5.5 0 0 0-.866.5Z");
}
