.b4loj8y2l {
  fill: var(--svg-color--509ee3, #509ee3);
  fill-rule: evenodd;
  d: path("M50.196 98.389a7.67 7.792 0 0 1-7.67 7.792a7.67 7.792 0 0 1-7.67-7.792a7.67 7.792 0 0 1 7.67-7.792a7.67 7.792 0 0 1 7.67 7.792m21.474 0A7.67 7.792 0 0 1 64 106.18a7.67 7.792 0 0 1-7.67-7.792A7.67 7.792 0 0 1 64 90.597a7.67 7.792 0 0 1 7.67 7.792m0 21.819A7.67 7.792 0 0 1 64 128a7.67 7.792 0 0 1-7.67-7.792a7.67 7.792 0 0 1 7.67-7.792a7.67 7.792 0 0 1 7.67 7.792m21.474-21.819a7.67 7.792 0 0 1-7.67 7.792a7.67 7.792 0 0 1-7.67-7.792a7.67 7.792 0 0 1 7.67-7.792a7.67 7.792 0 0 1 7.67 7.792");
  opacity: var(--svg-opacity--0-2, 0.2);
}
