.b5gw5bbjk {
  fill: var(--svg-color--fff, #fff);
  stroke: var(--svg-color--fff, #fff);
  d: path("m15.604 6.03l.497-.053l-.047-.447H5.877l-.031.467l.499.033l-.499-.033v.004l-.001.012l-.003.046l-.011.176a125 125 0 0 0-.143 2.688c-.064 1.54-.107 3.342.005 4.184c.218 1.642 1.218 5.33 5.087 7l.202.087l.2-.09c3.674-1.642 4.903-4.95 5.187-6.995c.143-1.031.07-2.836-.03-4.336a82 82 0 0 0-.232-2.737l-.004-.043l-.002-.012v-.003z");
}
