.b67t9pooh {
  fill: var(--svg-color--452c25, #452C25);
  fill-rule: nonzero;
  stroke: var(--svg-color--000, #000);
  stroke-width: var(--svg-stroke-width--0-088px, 0.088px);
  d: path("M144.432 68.857s-3.551 4.658-2.798 4.821c.746.162 4.695-5.913 4.695-5.913l-1.078.037zm-.9 4.001s-3.484 4.71-2.731 4.865c.76.148 4.606-5.994 4.606-5.994l-1.085.059z");
}
