.b68w5t {
  stroke: #000;
  d: path('M0 11h24');
  transform: rotate(45deg);
  transform-origin: 12px 12px;
}

@media not (prefers-reduced-motion) {
  .b68w5t {
    stroke-dasharray: 26;
    stroke-dashoffset: 26;
    animation: 0.4s linear 0.5s forwards so-to-0;
  }
}
