.b74gmy3hl {
  stroke: var(--svg-color--032c4d, #032C4D);
  stroke-width: var(--svg-stroke-width--0-049px, 0.049px);
  d: path("M135.257 88.942c0 .245.343.905.49 1.162c.086.22.134.453.232.661c.123.343.159.367.318.685c.098.159.306.355.44.428c.245.074 1.798-2.031 2.08-2.129");
}
