.b7m323biz {
  fill: var(--svg-color--406325, #406325);
  fill-rule: nonzero;
  stroke: var(--svg-color--24420e, #24420E);
  stroke-width: var(--svg-stroke-width--0-017px, 0.017px);
  d: path("M148.598 121.045c.249-.392.659-.634 1.024-.83c2.414-1.268 4.814-1.826 7.536-2.264c.629-.105 1.258-.694 1.902-.996c1.551-.739 3.278-1.026 4.785-1.781c.103-.046.483-.272.659-.483c.6-.694 1.683-.906 2.356-1.555c2.605-2.46 5.37-4.724 6.804-7.983c1.741-3.969 3.907-8.058 3.615-12.571c-.19-2.852.234-5.734-.468-8.451c-1.039-4.029-2.371-8.013-4.814-11.348l.41.256c2.458 3.335 3.79 7.319 4.829 11.348c.702 2.716.278 5.599.468 8.451c.293 4.512-1.874 8.602-3.615 12.586c-1.434 3.245-4.214 5.508-6.804 7.983c-.673.633-1.756.845-2.356 1.554c-.176.196-.571.438-.658.483c-1.508.755-3.234 1.041-4.785 1.766c-.644.317-1.273.89-1.902.996c-2.722.437-5.121 1.011-7.536 2.263c-.38.196-.776.438-1.025.83l-.425-.254");
}
