.b878dbd_m {
  fill: none;
  stroke: var(--svg-color--45413c, #45413c);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M34 28.73L24.5 2.2a.53.53 0 0 0-1 0L14 28.73a10.67 10.67 0 1 0 20.08 0Z");
}
