.b97upvbku {
  stroke: var(--svg-color--000, #000);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: var(--svg-stroke-width--4px, 4px);
  d: path("M8 34C8 34 6 39 10 41C14 43 34 43 38 41C42 39 40 34 40 34");
}
