.b_bmltbgy {
  stroke: var(--svg-color--191919, #191919);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M2.435 3.87a1.435 1.435 0 0 1 1.434 1.435V9.13a1.435 1.435 0 0 0 1.435 1.434h1.65a.96.96 0 0 0 .53-.16l3.693-2.45a1.435 1.435 0 0 1 1.74.073l2.072 1.721c.258.215.583.333.918.333h2.787a1.434 1.434 0 1 1 0 2.87h-2.787a4.3 4.3 0 0 1-2.754-.998l-1.23-1.023l-2.357 1.53a.96.96 0 0 0-.436.805v7.82a1.435 1.435 0 1 1-2.87 0v-7.651h-.956A4.31 4.31 0 0 1 1 9.13V5.305A1.435 1.435 0 0 1 2.435 3.87");
}
