.babbf704r {
  fill: var(--svg-color--f1b517, #F1B517);
  fill-rule: nonzero;
  stroke: var(--svg-color--000, #000);
  stroke-width: var(--svg-stroke-width--0-15px, 0.15px);
  d: path("m148.096 101.78l.11-.773l-.561-.304l.016.879zm5.042-.166l.025-.773l-.526.157z");
}
