.bagf1y96k {
  fill: none;
  stroke: var(--svg-color--45413c, #45413c);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M24 14.5A14.5 14.5 0 1 0 38.5 29A14.5 14.5 0 0 0 24 14.5m0 25A10.5 10.5 0 1 1 34.5 29A10.5 10.5 0 0 1 24 39.5");
}
