.bbsvevb6v {
  fill: var(--svg-color--3bb44a, #3BB44A);
  fill-rule: nonzero;
  d: path("M126.096 79.834s.118-1.115.067-1.24c-.052-.118-1.262-.878-.797-2.768c0 0 .273-.635.148-.79c0 0 1.011 1.602 1.078 2.082c.066.48-.118 1.255-.184 1.447c-.074.184-.192.701-.192.701");
}
