.bc9np79cj {
  stroke: var(--svg-color--4147d5, #4147d5);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M9.642 8.171c.319-.142.757-.073.989.043m-3.018-.576c-.206-.306-.617-.41-.872-.37");
}
