.bdcncipsj {
  stroke: var(--svg-color--191919, #191919);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M11.991 1v6.696M6.252 20.55l4.783-3.26m6.695 3.26l-4.782-3.26M1.525 11.522H22.46M1.47 19.04v2.047A1.913 1.913 0 0 0 3.383 23h.956a1.913 1.913 0 0 0 1.913-1.913V19.04m11.496 0v2.047A1.913 1.913 0 0 0 19.661 23h.957a1.913 1.913 0 0 0 1.913-1.913V19.04");
}
