.bdtor7ben {
  fill: var(--svg-color--ff52a1, #ff52a1);
  stroke: var(--svg-color--231f20, #231f20);
  d: path("M38.37 36.61c1-1.44 1.13-11 1.13-16.61s-.13-15.17-1.13-16.61C37.87 2 35.21 1.8 33 1.8s-4.87.2-5.37 1.59c-1 1.44-1.13 11-1.13 16.61s.13 15.17 1.13 16.61c.5 1.44 3.16 1.59 5.37 1.59s4.87-.15 5.37-1.59Z");
}
