.bfgeoeb2h {
  fill: none;
  stroke: var(--svg-color--000, #000);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: var(--svg-stroke-width--2px, 2px);
  d: path("m41.971 30.792l-.5 1.5a13.4 13.4 0 0 0-.5 3.5v7m-11 0l-1-8");
}
