.bfk9fgboc {
  stroke: var(--svg-color--fedf00, #FEDF00);
  stroke-linecap: round;
  stroke-width: var(--svg-stroke-width--0-296px, 0.296px);
  d: path("M160.813 109.138s.079.144.122.24c.074.166.113.263.157.44c.06.24.034.385.072.629q.01.063.023.113l-.016.339m2.04-2.087s-.066.243-.106.4c-.106.406-.203.626-.283 1.038a4 4 0 0 0-.031.193");
}
