.bflwil {
  fill: #fff;
}

@media not (prefers-reduced-motion) {
  .bflwil {
    stroke-dasharray: 40;
    fill-opacity: 0;
    animation: 0.5s linear forwards so-from-40, 0.4s linear 1.8s forwards fill-to-1;
  }
}
