.bgej-bcgz {
  fill: var(--svg-color--f2994a, #f2994a);
  fill-rule: evenodd;
  d: path("M41.73 26.087a4 4 0 0 1 2.739-1.085L57.999 25A4 4 0 0 1 62 29v34a4 4 0 0 1-4 4H34a4 4 0 0 1-4-4V39.57a4 4 0 0 1 1.08-2.734a.667.667 0 0 0 .52 1.086h7.2a4 4 0 0 0 4-4v-7.308a.665.665 0 0 0-1.07-.527");
}
