.bh1n1e5pw {
  fill: var(--svg-color--2e3ecd, #2e3ecd);
  fill-rule: evenodd;
  d: path("M11.08 33.998a.81.81 0 0 1 .175-.883c3.086-1.657 5.66-3.533 7.058-5.91h-4.052a.81.81 0 0 1-.573-1.383c2.983-1.407 5.408-3.312 7.056-5.91h-4.052a.81.81 0 0 1-.76-.529c-.117-.318-.075-.752.232-.896c2.149-1.006 5.355-3.796 6.638-6.004a1.35 1.35 0 0 1 1.172-.675a1.4 1.4 0 0 1 1.207.694c1.272 2.183 4.477 4.979 6.571 5.942c.32.146.406.571.298.906a.81.81 0 0 1-.771.562h-4.052c1.639 2.521 3.961 4.44 6.84 5.868a.81.81 0 0 1-.529 1.425h-3.88c1.39 2.31 3.853 4.193 6.839 5.868a.81.81 0 0 1-.528 1.425H11.828a.81.81 0 0 1-.749-.5m14.656 3.992c.482 0 .872-.39.872-.873V34.5h-5.236v2.618c0 .482.39.873.873.873z");
}
