.bhmrxhnjs {
  stroke: var(--svg-color--053d6a, #053D6A);
  stroke-width: var(--svg-stroke-width--0-049px, 0.049px);
  d: path("M165.265 88.931c0 .074-.22.355-.465.551c-.086.11-.183.221-.306.33c-.123.147-.245.196-.392.33a1.7 1.7 0 0 1-.379.22c-.502.147-1.456-.416-2.018-.624");
}
