.bi4ir9c3m {
  fill: none;
  stroke: var(--svg-color--45413c, #45413c);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M30.31 10.72a1 1 0 0 1 1.41 0l2.83 2.83A1 1 0 0 1 33.14 15l-2.83-2.83a1 1 0 0 1 0-1.45");
}
