.binu94ikl {
  fill: var(--svg-color--ff6242, #ff6242);
  stroke: var(--svg-color--45413c, #45413c);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M7.05 18.35s-1.82 3.78 2.19 4.92c3.83 1.09 7.65-2.19 10.93-2.19s6.35 4.84 10.39 3.83c4.37-1.09 2.19-3.28 4.92-4.37s12 2.73 6.56-3.83Z");
}
