.bip80quzh {
  fill: var(--svg-color--fff, #fff);
  stroke: var(--svg-color--000, #000);
  stroke-width: var(--svg-stroke-width--0-9px, 0.9px);
  d: path("M364 181.4c-.1 0-11 .3-11.2 6.2c0 5.9 3.4 4.3 3.5 4.3l8-1z");
}
