.blb6oacxq {
  fill: var(--svg-color--f6e8d0, #f6e8d0);
  d: path("M178.926 115.786c2.565 16.747-18.341 37.84-46.488 42.153c-28.147 4.314-48.981-20.895-51.557-37.643c-2.576-16.747 14.762-10.355 42.868-14.679c28.105-4.323 52.58-6.579 55.177 10.169");
  opacity: var(--svg-opacity--0-25, 0.25);
}
