.bluwvfb0r {
  stroke: var(--svg-color--191919, #191919);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M14.108 19.73a5.622 5.622 0 1 0 0-11.244a5.622 5.622 0 0 0 0 11.244m-1.833-5.622h3.667m-1.834-1.833v3.667m3.976 2.142l4.458 4.458");
}
