.bmli8pb_i {
  fill: var(--svg-color--f1b31c, #f1b31c);
  stroke: var(--svg-color--f1b31c, #f1b31c);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("m36 36l1.326-4.92l.11 5.094l2.465-4.459l-1.113 4.972l3.461-3.74l-2.27 4.562l4.255-2.803l-3.296 3.886l4.802-1.704l-4.13 2.984l5.07-.504l-4.724 1.909L47 42l-5.044.723l4.724 1.909l-5.07-.504l4.13 2.984l-4.802-1.704l3.296 3.886l-4.255-2.803l2.27 4.562l-3.461-3.74l1.113 4.972l-2.465-4.459l-.11 5.094L36 48l-1.326 4.92l-.11-5.094l-2.465 4.459l1.113-4.972l-3.461 3.74l2.27-4.562l-4.255 2.803l3.296-3.886l-4.802 1.704l4.13-2.984l-5.07.504l4.724-1.909L25 42l5.044-.723l-4.724-1.909l5.07.504l-4.13-2.984l4.802 1.704l-3.296-3.886l4.255 2.803l-2.27-4.562l3.461 3.74l-1.113-4.972l2.465 4.459l.11-5.094z");
}
