.bmvtfmy4l {
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M20 22v-3c0-2.828 0-4.243-.879-5.121C18.243 13 16.828 13 14 13l-2 2l-2-2c-2.828 0-4.243 0-5.121.879C4 14.757 4 16.172 4 19v3m12-9v5.5");
}
