.bmzv_yr4i {
  stroke: var(--svg-color--703d29, #703D29);
  stroke-linecap: round;
  stroke-width: var(--svg-stroke-width--0-296px, 0.296px);
  d: path("M117.898 103.322c1.913 2.379 2.927 3.791 2.985 6.624c.055 2.659-.793 4.478-2.379 6.391m9.588-52.563l-.164-.243c-.793-1.166-2.194-1.474-3.219-.7c-1.236.933-1.548 2.521-1.213 4.198c.21 1.05.922 1.924 1.897 2.556");
}
