.bnfug9llw {
  fill: var(--svg-color--f9f0aa, #F9F0AA);
  fill-rule: nonzero;
  d: path("M140.712 94.642s2.367-.58 2.661 2.028c.077.682-.294 2.24-1.455 2.661l4.336-.455l-.393-4.69l-1.461.122c.001 0-3.099.106-3.688.334");
}
