.bo7edfblq {
  fill: var(--svg-color--ff866e, #ff866e);
  stroke: var(--svg-color--45413c, #45413c);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M4 13.24L22.68 6.7a4 4 0 0 1 2.64 0L44 13.24l-18.68 6.54a4 4 0 0 1-2.64 0Z");
}
