.bp_r-ss8m {
  fill: none;
  stroke: var(--svg-color--000, #000);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
  stroke-width: var(--svg-stroke-width--2px, 2px);
  d: path("M37.621 29.671c-2.56 0-4.934 1.76-4.934 2.829s-2 35.413-2 35.413H17.625V10.958h40v56.955H44.563s-2-34.344-2-35.413s-2.374-2.829-4.934-2.829");
}
