.bq0ae0b0p {
  fill: none;
  stroke: currentColor;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: var(--svg-stroke-width--2px, 2px);
  d: path("M28 16H8m12-8l8 8l-8 8m-9 4H3V4h8");
}
