.bq8x2mbne {
  fill: var(--svg-color--f7e5c6, #f7e5c6);
  stroke: var(--svg-color--45413c, #45413c);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M40.8 33.55a11.4 11.4 0 0 1-9.42 1.35a11.37 11.37 0 0 0-10.48 2.49a11.3 11.3 0 0 1-9.32 2.74l-3.72-.58C12.55 44 20.16 45.8 28 43.93c7.51-1.79 13.31-6.48 15.69-12.24Z");
}
