.bqjuubwyz {
  fill: var(--svg-color--fff, #FFF);
  fill-rule: nonzero;
  stroke: var(--svg-color--000, #000);
  stroke-width: var(--svg-stroke-width--0-086px, 0.086px);
  d: path("m143.465 98.241l-.771.171s.257.343.049.465l1.358-.257c0 .001-.208-.146-.636-.379zm14.314.635c-.208-.122.037-.465.037-.465l-.758-.171c.379-.171.93-.123.93-.123c.159.123.134.269.159.379c.012.11.012.282-.073.367c-.087.074-.295.013-.295.013z");
}
