.br7oxs0qm {
  stroke: var(--svg-color--191919, #191919);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M5.778 15.826h.956m1.913 0h.957m4.783 0h.956m1.913 0h.957m-6.696 0h.957M4.821 17.74h.957m1.912 0h8.61m1.913 0h.956");
}
