.brjtbf9ca {
  fill: var(--svg-color--fff, #fff);
  stroke: var(--svg-color--00034a, #00034a);
  stroke-miterlimit: 10;
  d: path("M16.325 11.238c-.234-.448-1.774-.506-2.67-.506c-.897 0-2.436.058-2.67.506a6 6 0 0 0-.253 2.417a6 6 0 0 0 .253 2.416c.234.449 1.773.507 2.67.507c.896 0 2.436-.058 2.67-.507a6 6 0 0 0 .253-2.416a6 6 0 0 0-.253-2.417Zm0 11.693c-.234-.448-1.774-.506-2.67-.506c-.897 0-2.436.058-2.67.506a6 6 0 0 0-.253 2.417a6 6 0 0 0 .253 2.417c.234.448 1.773.506 2.67.506c.896 0 2.436-.058 2.67-.506c.248-.78.334-1.602.253-2.417a6 6 0 0 0-.253-2.417Zm11.693-11.693c-.234-.448-1.774-.506-2.67-.506s-2.436.058-2.67.506a6 6 0 0 0-.253 2.417c-.08.814.005 1.636.253 2.416c.234.449 1.773.507 2.67.507c.896 0 2.436-.058 2.67-.507a6 6 0 0 0 .253-2.416a6 6 0 0 0-.253-2.417Z");
}
