.bsgidkvrf {
  fill: var(--svg-color--fff, #fff);
  fill-rule: evenodd;
  d: path("M35.75 28.586c-2.675 9.346-12.453 14.764-21.841 12.102C5.724 38.367.538 30.668 1.116 22.538A16.375 16.375 0 0 0 12.955 36.56c8.722 2.475 17.807-2.56 20.293-11.244c.718-2.511.806-5.052.357-7.455a16.4 16.4 0 0 0-3.887-7.9a17.66 17.66 0 0 1 5.623 7.731a17.45 17.45 0 0 1 .408 10.895");
}
