.bsloslbit {
  fill: var(--svg-color--fff, #FFF);
  fill-rule: nonzero;
  d: path("M213.313 97.864s1.525 2.551 1.677 3.916c0 0 2.914 3.218 4.007 3.399c0 0-.516.212-1.458-.576c0 0 .789.819.941.85s-.638-.061-.76-.274c0 0 .335.487.547.548l-.212-.061s-.396-.061-.577-.213c-.183-.151-.061.394-.061.394s-.456-.121-.607-.273c-.152-.151.061.335.061.335l-.394-.091l-.273.181s-.03.183-.214.031c-.181-.15-.515 0-.515 0s-.244.213-.364.061c-.12-.151-.581.584-.581.584l-1.911-4.614");
}
