.bst2i0wyn {
  stroke: var(--svg-color--000, #000);
  stroke-width: var(--svg-stroke-width--0-088px, 0.088px);
  d: path("M142.742 72.083s-3.056 5.005-2.296 5.086c.768.081 4.068-6.378 4.068-6.378l-1.071.148z");
}
