.bsuo9w0da {
  fill: var(--svg-color--cce5e5, #cce5e5);
  stroke: var(--svg-color--000, #000);
  stroke-width: var(--svg-stroke-width--0-1px, 0.1px);
  d: path("M253.4 291c-2.1 0-4.3 1-5 2.8l5-2.8");
}
