.bu7krvb8k {
  fill: currentColor;
  fill-rule: evenodd;
  d: path("m7.12 14.4l3.38-6.75c.414-.827 1.59-.827 2 0l3.38 6.75a1.125 1.125 0 0 1-1 1.63H8.12c-.834 0-1.38-.882-1-1.63m5.13-4.12c0-.53-.387-.75-.75-.75s-.75.222-.75.75s.188 1.48.25 1.75s.224.5.5.5s.43-.227.5-.5s.25-1.23.25-1.75m0 3.75a.75.75 0 1 1-1.5 0a.75.75 0 0 1 1.5 0");
}
