.bv235buvs {
  fill: var(--svg-color--d7e0ff, #d7e0ff);
  fill-rule: evenodd;
  d: path("M1.5.5h11a1 1 0 0 1 1 1v11a1 1 0 0 1-1 1h-11a1 1 0 0 1-1-1v-11a1 1 0 0 1 1-1m8.707 4.793A1 1 0 0 1 10.5 6v2.5a1 1 0 0 1-1 1h-5a1 1 0 0 1-1-1V6a1 1 0 0 1 1-1H5l1-1.5h2L9 5h.5a1 1 0 0 1 .707.293");
}
