.bv9_cdbnc {
  fill: currentColor;
  fill-rule: evenodd;
  d: path("M3.997 8.001L4 7.954V8c0 1.607.76 3.016 1.881 4.163c1.116 1.14 2.656 2.098 4.442 2.87C13.9 16.58 18.736 17.5 24 17.5s10.1-.92 13.677-2.466c1.786-.773 3.326-1.73 4.441-2.871C43.24 11.016 44 9.567 44 7.96l.076 1.335c.047.88.11 2.136.173 3.643c.107 2.566.214 5.865.243 9.277c-.128 1.764-1.829 3.796-5.556 5.49C35.19 29.409 29.91 30.5 24 30.5s-11.19-1.092-14.936-2.794c-3.727-1.695-5.428-3.727-5.556-5.49c.03-3.413.136-6.712.243-9.278A310 310 0 0 1 3.997 8M8.5 22a2 2 0 1 1 4 0a2 2 0 0 1-4 0m8.5 3.75a2 2 0 1 0 0-4a2 2 0 0 0 0 4");
}
