.bx-73714x {
  stroke: var(--svg-color--191919, #191919);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M10.129 11.809a.74.74 0 0 1 0 1.348L6.436 14.82a.463.463 0 0 1-.654-.423V10.57a.464.464 0 0 1 .654-.423zm5.219 2.104a1.913 1.913 0 0 0 0-3.826v-5.74a7.652 7.652 0 0 1 0 15.305z");
}
