.bx82kg8ql {
  fill: var(--svg-color--66e1ff, #66e1ff);
  stroke: var(--svg-color--191919, #191919);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("m7.696 23l.478-5.739h2.392v-3.347a4.782 4.782 0 1 0-9.565 0v3.347h2.391L3.87 23z");
}
