.bxbmi0nho {
  fill-rule: nonzero;
  d: path("M25.912 18.875v-5.854c.657.889 1.024 1.882 1.024 2.927s-.367 2.037-1.024 2.927m-1.649-7.46l.005 7.461c-2.343-3.326-5.844-7.511-10.147-8.909a10.6 10.6 0 0 0-2.293-.477A17 17 0 0 1 15.905 9c3.34 0 6.335.936 8.358 2.415");
  opacity: var(--svg-opacity--0-5, 0.5);
}
