.byfvflb4v {
  stroke-linecap: round;
  stroke-width: var(--svg-stroke-width--1-5px, 1.5px);
  d: path("m9 22l9-9M2 15l5-5m-4 0c0-3.866 1.79-7 4-7s4 3.134 4 7s-1.79 7-4 7c-1.487 0-2.784-1.42-3.474-3.526");
}
