.bypjwd7yz {
  stroke: var(--svg-color--022139, #022139);
  stroke-width: var(--svg-stroke-width--0-049px, 0.049px);
  d: path("M161.484 82.644c-.783.514-1.211.783-2.874 1.786l-.025-.037c0-.024-.44-.808-.428-.808c0 0 .012-.086.061-.196c.049-.146.11-.318.147-.44");
}
