.a1le9l99o {
  fill: var(--svg-color--fff, #FFF);
  stroke: var(--svg-color--21231e, #21231E);
  stroke-width: var(--svg-stroke-width--0-222px, 0.222px);
  d: path("M124.68 104.719c-.04 1.928.301 14.791.409 16.609c.107 1.81.909 3.043 1.764 3.75c.784-1.077 1.251-2.531 1.363-4.257c.057-.88-.105-13.052-.173-15.554c-1.44-3.812-2.508-3.957-3.363-.548z");
}
