.a2200h6_u {
  fill: none;
  stroke: currentColor;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: var(--svg-stroke-width--1-5px, 1.5px);
  d: path("m5 13.26l2.586 2.697C8.252 16.652 8.586 17 9 17s.748-.348 1.414-1.043L19 7");
}
