.a22rfz2-y {
  stroke: var(--svg-color--191919, #191919);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M17.566 12.624a7.398 7.398 0 0 1-12.961 6.198A7.397 7.397 0 0 1 13.22 7.325");
}
