.a2rf-bbfk {
  stroke: currentColor;
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("m14 63.171l38.586-38.585l.006-.007L63.172 14c2.52-2.52 6.828-.734 6.828 2.83V66a4 4 0 0 1-4 4H16.828c-2.87 0-4.587-2.796-3.828-5.2c.183-.58.51-1.138 1-1.628m0 0q0 0 0 0M56 66h10V16.828l-10 10zm-4-35.172L16.828 66H52z");
}
