.a2ub-8b6f {
  fill: var(--svg-color--48eeff, #48eeff);
  stroke: var(--svg-color--231f20, #231f20);
  stroke-miterlimit: 10;
  d: path("M26.7 13.804a2.28 2.28 0 0 0-2.153-1.105a18.2 18.2 0 0 0-4.275 1.839a8.5 8.5 0 0 0 .382-4.11a8.26 8.26 0 0 0-1.634-4.167a35 35 0 0 0-.235-3.522c-.176-.685-1.722-1.183-2.632-1.37c-.91-.185-2.514-.518-3.003 0a27 27 0 0 0-1.614 2.936c-4.256.84-5.987 3.913-5.44 8.041a8.4 8.4 0 0 0 1.458 3.914a18.3 18.3 0 0 0-4.666-.685a2.28 2.28 0 0 0-1.79 1.634a2.29 2.29 0 0 0 .85 2.27A14 14 0 0 0 5.49 20.74a10.05 10.05 0 0 0-.225 4.05c.704 5.342 4.402 8.473 10.879 7.622s9.235-4.843 8.53-10.175a10.2 10.2 0 0 0-1.281-3.913a13.3 13.3 0 0 0 3.072-2.123a2.31 2.31 0 0 0 .235-2.397Z");
}
