.a380nzbvb {
  fill: currentColor;
  fill-opacity: var(--svg-fill-opacity--0-25, 0.25);
  d: path("M36 48c0-2.21-5.373-4-12-4s-12 1.79-12 4v4c0 6.627 5.373 12 12 12s12-5.373 12-12zm8 0c0-2.21 5.373-4 12-4s12 1.79 12 4v4c0 6.627-5.373 12-12 12s-12-5.373-12-12z");
}
