.a3xylvb_q {
  fill: var(--svg-color--984000, #984000);
  fill-rule: evenodd;
  stroke: var(--svg-color--772600, #772600);
  stroke-width: var(--svg-stroke-width--5-3px, 5.3px);
  d: path("M284.7-60c6.7-6.6 15-16.6 36.7-16.6c5-1.7 5-11.7 16.6-11.7s8.3 10 16.7 13.4c8.3 3.3 76.6-3.4 76.6-3.4s6.6 5 6.6 11.7s-5 11.6-6.6 11.6s-68.3-5-73.3-3.3s-8.3 3.3-20 3.3s-15-11.6-23.3-11.6s-16.6-1.7-30 6.7z");
}
