.a52uhabfd {
  width: 80px;
  height: 80px;
  x: 384px;
  y: 256px;
  fill: none;
  stroke: currentColor;
  stroke-linejoin: round;
  stroke-width: var(--svg-stroke-width--32px, 32px);
  rx: 28px;
  ry: 28px;
}
