.a6-7rqb6n {
  fill: var(--svg-color--757575, #757575);
  stroke: var(--svg-color--dadada, #dadada);
  stroke-width: var(--svg-stroke-width--2-726px, 2.726px);
  d: path("M99.61 34.447a16.3 16.3 0 0 0-3.92.414l-.263.07a69 69 0 0 1-4.938 4.403c.574 2.53 1.426 5.172 2.934 7.87c2.614 4.688 4.77 7.192 6.035 10.447c1.262 3.25 1.485 7.078.308 14.045c-1.452 8.642-6.714 17.794-15.054 24.548c6.473-1.886 11.992-5.371 15.645-9.593c3.94-4.555 5.257-7.13 5.718-9.728s.032-5.44.215-10.273c.118-3.109.781-5.832 1.621-8.223l.204-.574l.605-.082c5.395-.699 10.273-2.074 12.793-3.703c-.809-3.64-4.25-6.465-8.805-8.613l-.433-.203l-.11-.469c-1.445-6.203-6.288-10.203-12.555-10.336Zm3.134 7.664c.323 0 .644.047.948.149c1.665.53 2.575 2.335 2.032 4.03c-.54 1.696-2.328 2.637-3.992 2.106s-2.575-2.336-2.032-4.03c.43-1.341 1.66-2.255 3.043-2.255Zm0 0");
}
