.a61neebdj {
  stroke: var(--svg-color--191919, #191919);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M21.087 4.826a1.913 1.913 0 0 1-1.913 1.913H2.914A1.913 1.913 0 0 1 1 4.826V2.913A1.913 1.913 0 0 1 2.913 1h16.261a1.913 1.913 0 0 1 1.913 1.913zM2.913 12.478A1.913 1.913 0 0 1 1 10.565V8.652A1.913 1.913 0 0 1 2.913 6.74h16.261a1.913 1.913 0 0 1 1.913 1.913v1.435M9.13 18.218H2.913A1.913 1.913 0 0 1 1 16.305v-1.913a1.913 1.913 0 0 1 1.913-1.913h12.435");
}
