.a6wl26b_a {
  cx: 256px;
  cy: 256px;
  r: 26px;
  fill: currentColor;
  stroke: currentColor;
  stroke-linecap: square;
  stroke-miterlimit: 10;
  stroke-width: var(--svg-stroke-width--10px, 10px);
}
