.a7dxfdctp {
  fill: currentColor;
  fill-rule: evenodd;
  d: path("M16.92 13.527c.316.273.485.724.33 1.195c-.274.837-.717 1.81-1.634 2.562c-.926.759-2.242 1.219-4.116 1.219c-.87 0-1.5-.012-1.939-.054a3 3 0 0 1-.608-.108a1.23 1.23 0 0 1-.576-.35a1.04 1.04 0 0 1-.258-.659c-.008-.187.029-.369.065-.552c.028-.146.057-.292.064-.44a4 4 0 0 0-.412-.399c-.27-.238-.66-.582-.917-.984a.75.75 0 0 1 .687-1.153q.77.056 1.54.1c2.05.115 3.948.138 5.939-.431c.258-.074.502-.144.737-.202c.39-.095.8 0 1.098.255m-1.342 1.367c-.86.248-2.124.609-3.578.609a52 52 0 0 1-2.566-.082c.139.179.316.464.316.832c0 .275-.036.518-.07.7c.35.036.92.05 1.82.05c1.626 0 2.574-.395 3.165-.879c.415-.34.7-.763.913-1.23");
}
