.a7fxbjq3m {
  fill: var(--svg-color--red, red);
  fill-rule: nonzero;
  stroke: var(--svg-color--006300, #006300);
  stroke-width: var(--svg-stroke-width--0-3px, 0.3px);
  d: path("M137.13 97.458a.303.303 0 1 1-.607 0a.303.303 0 0 1 .607 0zm-.374 1.256a.303.303 0 1 1-.607 0a.303.303 0 0 1 .607 0zm.463.484a.303.303 0 1 1-.607 0a.303.303 0 0 1 .607 0z");
}
