.a7pd83bks {
  fill: var(--svg-color--ba1f3e, #BA1F3E);
  fill-rule: nonzero;
  stroke: var(--svg-color--511124, #511124);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: var(--svg-stroke-width--0-017px, 0.017px);
  d: path("M174.09 78.671a.339.339 0 1 0 0-.002z");
}
