.a7t9db4sx {
  fill: var(--svg-color--61b2e4, #61b2e4);
  stroke: var(--svg-color--61b2e4, #61b2e4);
  stroke-linejoin: round;
  stroke-width: var(--svg-stroke-width--2px, 2px);
  d: path("M19.015 34.255h8.784c0 10.31-2.035 10.34-4.416 10.34c-2.431 0-4.368.094-4.368-10.34");
}
