.a7th3pbkm {
  fill: var(--svg-color--fff, #fff);
  fill-rule: evenodd;
  d: path("M75 43.459c2.135-2.48 4.799-4.265 7.919-6.102v3.708c-1.287 1.641-2.742 3.105-4.982 3.102c-.979 0-1.958-.458-2.937-.708");
}
