.a9nx_1b1t {
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: var(--svg-stroke-width--2px, 2px);
  d: path("M50.594 52.053H31.156a.78.78 0 0 1-.781-.781V18.834c0-.431.35-.781.781-.781h19.438c.431 0 .78.35.78.781v32.438a.78.78 0 0 1-.78.781");
}
