.a_ok62cqq {
  stroke: var(--svg-color--032d4f, #032D4F);
  stroke-width: var(--svg-stroke-width--0-049px, 0.049px);
  d: path("M141.324 82.435c-.599-.404-1.15-.954-1.505-1.346a3.6 3.6 0 0 1-.477-.661c-.233-.416-.367-1.26-.367-1.26");
}
