.a_ov9vbto {
  fill: var(--svg-color--2f88ff, #2F88FF);
  fill-rule: evenodd;
  stroke: var(--svg-color--000, #000);
  stroke-linejoin: round;
  d: path("M13.9979 18.7386L8 21.9228V44H40V4H13.9979V18.7386Z");
}
