.aa1k1tb5h {
  stroke: var(--svg-color--191919, #191919);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M18.218 1.077v3.75a.957.957 0 0 0 .956.956h3.75M2.913 15.348h1.913m-.956 0v3.826m2.87 0v-3.826l1.434 2.391l1.435-2.391v3.826");
}
