.aa9qg1blc {
  fill: var(--svg-color--f1b517, #F1B517);
  fill-rule: nonzero;
  stroke: var(--svg-color--000, #000);
  stroke-width: var(--svg-stroke-width--0-15px, 0.15px);
  d: path("m150.735 75.46l-.592-.498l.163-4.263l.58.17z");
}
