.aaap2j03g {
  stroke: var(--svg-color--191919, #191919);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M21.087 19.173H2.917a1.913 1.913 0 0 0 0 3.825h18.17a1.913 1.913 0 0 0 0-3.825");
}
