.aaiwvbcqd {
  fill: var(--svg-color--8fc5ff, #8fc5ff);
  stroke: var(--svg-color--fff, #fff);
  stroke-width: var(--svg-stroke-width--4-3px, 4.3px);
  d: path("M574.5 199.7c0 63.7-10.2 132.5-93 165.3c-82.6-32.8-92.7-101.6-93.1-165.3z");
}
