.ab-1cbbif {
  fill: var(--svg-color--ffbd03, #FFBD03);
  fill-rule: nonzero;
  stroke: var(--svg-color--000, #000);
  stroke-width: var(--svg-stroke-width--0-15px, 0.15px);
  d: path("m237.447 188.807l-.859.405v2.115a16.1 16.1 0 0 0 4.725 4.422l.574-.626l.026-2.16a15.4 15.4 0 0 1-4.466-4.156z");
}
