.ab385x0fu {
  fill: none;
  stroke: var(--svg-color--000, #000);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
  stroke-width: var(--svg-stroke-width--2px, 2px);
  d: path("M51.989 51.91C63 43 53.76 34.196 53.76 34.196c0-13.088-10.032-17.473-15.272-18.87a10.9 10.9 0 0 0-5.88.053c-15.466 4.529-14.275 18.817-14.275 18.817C10 44 19.44 51.467 19.44 51.467s16.606 14.614 32.549.443");
}
