.ab7e5tb5k {
  fill: var(--svg-color--f1b31c, #f1b31c);
  stroke: var(--svg-color--f1b31c, #f1b31c);
  d: path("M53.21 19.66c3.716-1.236 6.044 20.641-1.994 30.488c-11.8 11.01-23.664 12.652-36.254 5.914c25.96 5.489 39.47-15.38 38.25-36.4z");
}
