.abi_jlbtv {
  fill: none;
  stroke: var(--svg-color--ff4064, #ff4064);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M36.62 44.38A1.68 1.68 0 1 1 35 42.71a1.68 1.68 0 0 1 1.62 1.67m0 0v-7.52l2.51 1.67");
}
