.ad31u8bvv {
  fill: none;
  stroke: var(--svg-color--000, #000);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
  stroke-width: var(--svg-stroke-width--2px, 2px);
  d: path("M23.607 58.094c-1.488-3.289-4.481-4.385-5.186-4.228l-3.523.548c-2.663-2.662-3.132-10.18-3.132-10.18c-.434-4.77 1.03-8.075 2.422-10.075l-.387-.73c-2.505-6.185-1.017-15.66-.47-21.689c.398-4.372 2.607-5.916 3.792-6.434a.995.995 0 0 1 1.179.294c1.295 1.621 5.316 6.574 9.124 10.447c1.682 1.71 2.45 3.222 2.748 4.452");
}
