.ads4803iu {
  fill: var(--svg-color--006b00, #006b00);
  stroke: var(--svg-color--000, #000);
  stroke-width: var(--svg-stroke-width--0-9px, 0.9px);
  d: path("m354.9 247l31 82.6l28-84.4c-8.7.6-27.4-1.4-29.7 6.6c-3.6-7.1-23.2-4.3-29.3-4.8z");
}
