.aduk-tbvb {
  fill: none;
  stroke: currentColor;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: var(--svg-stroke-width--2px, 2px);
  d: path("m18 9l3 3l-3 3m-3-3h6M6 9l-3 3l3 3m-3-3h6");
}
