.aegvtybzp {
  fill: var(--svg-color--ffdda1, #ffdda1);
  stroke: var(--svg-color--191919, #191919);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("m5.106 1.905l1.758-.879a.25.25 0 0 1 .225 0l1.758.88a.25.25 0 0 1 .139.224v2.023a.5.5 0 0 1-.273.447l-1.622.833a.26.26 0 0 1-.229 0l-1.758-.904a.25.25 0 0 1-.137-.222V2.13a.25.25 0 0 1 .139-.225");
}
