.aei0xrbup {
  fill: currentColor;
  fill-rule: evenodd;
  d: path("M15.008 16.346c-.916.234-2.204.404-4.008.404c-3.433 0-4.999-.617-5.69-1.11a1 1 0 0 1-.073-.072c-.283-.302-.823-.57-1.237-.568a.75.75 0 0 0-.75.75V18H4c-.75 0-.75.002-.75.002v.035a1.4 1.4 0 0 0 .024.215c.021.128.061.295.136.489c.152.39.441.87.977 1.328C5.453 20.983 7.41 21.75 11 21.75c1.589 0 2.858-.15 3.871-.397a2.24 2.24 0 0 1 .66-1.58l.53-.53l-.53-.531a2.25 2.25 0 0 1-.523-2.366");
}
