.aet6weaep {
  fill: var(--svg-color--2859c5, #2859c5);
  fill-rule: evenodd;
  d: path("m2.95 5.774l3.851 1.668a.5.5 0 0 0 .398 0l3.85-1.668V9.22V7L7.695 8.453a1.75 1.75 0 0 1-1.391 0L2.95 7zM2.95 7l.005 2.22h-.004z");
}
