.af_7ewbuj {
  fill: var(--svg-color--2f88ff, #2F88FF);
  stroke-linejoin: round;
  d: path("M20 5.00012C24 6.42174 23.3809 11.6087 22.0002 14.0001L10.0005 5.92177C11.0005 4.00013 16 3.5785 20 5.00012Z");
}
