.ag-h53lzu {
  fill: none;
  stroke: var(--svg-color--45413c, #45413c);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M20.52 42.54s5.74 4.3 14.93 2.41s8.26-8.68 8.26-8.68s-5 6.51-14.34 3.47c-5.48-1.74-8.85 2.8-8.85 2.8");
}
