.ageigd-kk {
  stroke: var(--svg-color--032b4c, #032B4C);
  stroke-width: var(--svg-stroke-width--0-049px, 0.049px);
  d: path("M135.257 88.942c0 .27.343.954.49 1.211c.086.233.134.465.22.685c.122.355.159.379.318.71c.098.172.318.367.453.441c.22.074 1.823-2.141 2.08-2.239");
}
