.agu3_bb3t {
  fill: var(--svg-color--ffe500, #ffe500);
  stroke: var(--svg-color--45413c, #45413c);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M26.73 21.63h-9.29v2.73a2.19 2.19 0 0 0 2.19 2.19h1.09V29a1.92 1.92 0 1 0 3.83 0v-4.1a2.19 2.19 0 0 0 2.18-2.19Z");
}
