.ah13mbcqm {
  fill: var(--svg-color--ffb0ca, #ffb0ca);
  stroke: var(--svg-color--45413c, #45413c);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M24 36.6a14.3 14.3 0 0 1 5.77 1.22c1.94.87 4.18.31 4.66-2.26c.66-3.56-4.27-8.73-10.43-8.73S12.91 32 13.57 35.56c.48 2.57 2.72 3.13 4.66 2.26A14.3 14.3 0 0 1 24 36.6");
}
