.ajm69e1wn {
  fill: none;
  stroke: var(--svg-color--4147d5, #4147d5);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M2.705.606a3 3 0 0 0-2.07 2m10.66-2a3 3 0 0 1 2.07 2M6 .5h2m0 13H6M.5 8V6m13 2V6M2.705 13.394a3 3 0 0 1-2.07-2m10.66 2a3 3 0 0 0 2.07-2M7 10V4M5 6l2-2l2 2");
}
