.ak2xe3bmn {
  fill: currentColor;
  fill-rule: evenodd;
  d: path("M12.568 18.747a1.73 1.73 0 0 0 1.08-.38a1.8 1.8 0 0 0 .58-.75c.11-.322.17-.66.18-1a.29.29 0 0 0-.19-.36a.28.28 0 0 0-.36.19c-.16.25-.4.46-.61.73c-.09.11-.17.23-.25.34a3 3 0 0 1-.22.33a1 1 0 0 1-.31.24a.329.329 0 0 0-.249.524a.33.33 0 0 0 .379.116zm-.041-4.359c.36.18.68.44.67.83a.33.33 0 1 0 .66.04a1.71 1.71 0 0 0-.93-1.59a2.58 2.58 0 0 0-1.81-.39a3 3 0 0 0-2.368 2.73a2.66 2.66 0 0 0 1.999 2.839a.29.29 0 0 0 .356-.403a.3.3 0 0 0-.166-.147a2 2 0 0 1-1.2-2.18a2.4 2.4 0 0 1 .58-1.11a2.3 2.3 0 0 1 1.06-.73a1.7 1.7 0 0 1 1.15.11");
}
