.alvxhni7p {
  stroke: var(--svg-color--99cf16, #99CF16);
  stroke-width: var(--svg-stroke-width--0-049px, 0.049px);
  d: path("M148.261 75.561c.599-.477 1.285-.636 1.994-.636c.722 0 1.505.208 2.006.624");
}
