.amcfhfbkw {
  fill: var(--svg-color--eb5757, #eb5757);
  fill-rule: evenodd;
  d: path("M28.758 28a.95.95 0 0 1-.93-.69a12.6 12.6 0 0 1-.402-2.311c-.044-.55.408-.999.96-.999h23.228c.552 0 1.004.448.96.999a12.6 12.6 0 0 1-.403 2.312a.95.95 0 0 1-.928.689z");
}
