.an5ryy {
  d: path('M12 15h2v-6h2.5l-4.5 -4.5M12 15h-2v-6h-2.5l4.5 -4.5');
}

@media not (prefers-reduced-motion) {
  .an5ryy {
    stroke-dasharray: 20;
    animation: 0.5s linear forwards so-from-20;
  }
}
