.ani5aab9r {
  fill: currentColor;
  fill-rule: evenodd;
  d: path("m92.114 41.972l-1.254 4.71l.175.354c.396.803.333 1.859-.2 2.468l-.053.06l-.041.066C85.272 58.189 79.74 66.718 74.3 75.31l-.02.034l-.02.037c-.328.622-.859 1.21-1.44 1.562c-.58.353-1.17.485-1.792.333h-.006l-.004-.002c-.76-.176-1.581-.96-2.784-1.622c-12.061-7.708-24.086-15.479-36.122-23.237c-5.12-1.524-10.434-3.106-15.078-4.557l51.13 32.781l.017.01l.016.011c3.139 1.85 7.391.715 9.21-2.434l-.025.043c5.752-8.956 11.559-17.885 17.284-26.87l.018-.026l.015-.029c1.476-2.658.914-6.105-1.303-8.173z");
  color: currentColor;
}
