.annxhtbvs {
  fill: var(--svg-color--fb015b, #fb015b);
  fill-rule: evenodd;
  d: path("m12.915 70.073l-6.757 9.323l5.175 3.763l6.8-9.323v-5.431zm16.808-12.189l6.757-9.323l-5.175-3.763l-6.757 9.323v5.431z");
}
