.aoal70b6v {
  fill: currentColor;
  fill-rule: evenodd;
  d: path("M5 6L21.9989 6C22.6971 6 23.1803 6.6973 22.9353 7.351L19.9363 15.351C19.7899 15.7414 19.4168 16 18.9999 16L7 16C6.5411 16 6.1411 15.6877 6.0299 15.2425L4.0299 7.2425C3.8721 6.6114 4.3494 6 5 6Z");
  stroke: none;
}
