.aol4a8b2f {
  fill: currentColor;
  fill-opacity: var(--svg-fill-opacity--0-25, 0.25);
  d: path("M34.247 24.536a14.15 14.15 0 0 0-10.712 1.421a14.3 14.3 0 0 0-6.654 8.653l-.538 2.008a16.97 16.97 0 0 1-7.907 10.304a2.946 2.946 0 0 0 .71 5.397l32.946 8.828a2.946 2.946 0 0 0 3.314-4.318a16.97 16.97 0 0 1-1.695-12.878l.538-2.008c.976-3.644.45-7.553-1.436-10.82a14.15 14.15 0 0 0-8.566-6.587");
}
