.apa-nuboc {
  fill: var(--svg-color--232341, #232341);
  fill-rule: evenodd;
  d: path("M87.6 0C39.2 0 0 39.2 0 87.6v336.7C0 472.8 39.2 512 87.6 512h336.7c48.4 0 87.6-39.2 87.6-87.6V87.6C512 39.2 472.8 0 424.4 0zm0 17.5h336.7c37.1 0 67 28.2 69.8 64.5l-476.3-.2c3-36.2 32.8-64.3 69.8-64.3M17.5 99.3l229.8.1l-.2 315.5l-229.5-.1V99.3zm247.4.1l229.6.1V415l-229.8-.1zM18 432.3l475.9.2c-4 35.1-33.4 61.9-69.6 61.9H87.6c-36.2.1-65.7-26.9-69.6-62.1");
}
