.apwi7kbwp {
  fill: none;
  stroke: var(--svg-color--000, #000);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: var(--svg-stroke-width--2px, 2px);
  d: path("M16.958 59.956V56.95c0-5.01 5.011-9.02 10.022-9.02q9.02 7.517 18.04 0c5.01 0 10.022 4.009 10.022 9.02v3.007m-8.873-24.792l3.308-2.633M25.63 35.165l-3.3-3.048m10.246 12.171c-1.333.011-3.624-1.852-4.497-3.07a14.8 14.8 0 0 1-2.433-5.818l-.14-.45l8.91-2.297a5.6 5.6 0 0 1 2.88.018l8.407 2.279h.544a14.5 14.5 0 0 1-1.84 5.796c-.878 1.416-3.28 3.456-4.743 3.468Z");
}
