.aqaeenr8b {
  stroke: var(--svg-color--092f63, #092f63);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
  d: path("M12 4.33V2.797m6.136 5.623v8.693l3.068 3.068H2.796l3.067-3.068V8.421L12 4.33z");
}
