.aqh6r-bqw {
  fill: var(--svg-color--ffe500, #ffe500);
  stroke: var(--svg-color--45413c, #45413c);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M22.07 10.94a2.34 2.34 0 1 1-2.33-2.34a2.33 2.33 0 0 1 2.33 2.34m-6.43 1.13a2.21 2.21 0 1 1-2.21-2.21a2.21 2.21 0 0 1 2.21 2.21");
}
