.aqrfwrbke {
  fill: none;
  stroke: currentColor;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: var(--svg-stroke-width--1-824px, 1.824px);
  d: path("M12.11 3.54q1.03 3.08 2.22 6.11q3.05.38 6.12.42q-2.29 2.04-4.68 3.96q.62 2.97 1.43 5.9q-2.59-1.48-5.01-3.24q-2.83 1.41-5.48 3.13q.82-3.06 1.7-6.11q-2.69-1.86-5.16-4.01q3.3-.32 6.61-.14q1.01-3.06 2.25-6.02q.34.74.56 1.53");
}
