.asr90lb4r {
  fill: none;
  stroke: var(--svg-color--45413c, #45413c);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M31.72 12.08a1.65 1.65 0 0 1-1.66 1.65h-4.41v-3.3h4.41a1.65 1.65 0 0 1 1.66 1.65");
}
