.atfcwpbzs {
  fill: var(--svg-color--fcea2b, #fcea2b);
  fill-rule: evenodd;
  d: path("m34.31 27.16l.008.047a8.97 8.97 0 0 1 6.033 1.074c4.305 2.485 5.78 7.99 3.294 12.29l-13.26 22.97c11.44 2.278 23.56-2.803 29.72-13.47c4.209-7.291 4.767-15.69 2.241-23.07h-26.34q-.867.001-1.688.158z");
}
