.auesdab7y {
  fill-rule: evenodd;
  d: path("m12 11.548l-5.04-4.2c-1.536-1.28-3.457 1.024-1.92 2.304l5.948 4.957c.272.256.63.42 1.012.418c.382.002.74-.162 1.012-.418l5.948-4.957c1.537-1.28-.384-3.585-1.92-2.304z");
  opacity: var(--svg-opacity--0-2, 0.2);
}
