.aukxkfh_w {
  stroke: currentColor;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: var(--svg-stroke-width--1-5px, 1.5px);
  d: path("M10.258 11.598a2.666 2.666 0 0 1 2.16-4.824");
}
