.aw0dy7lpn {
  stroke: currentColor;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: var(--svg-stroke-width--1-5px, 1.5px);
  d: path("M21.496 15q.005-.695.004-1.5V11M17 21.439c1.581-.103 2.595-.377 3.329-1.11c.363-.363.613-.794.786-1.329M9.5 2.5h4M2.563 7c.102-1.581.377-2.595 1.11-3.328c.47-.47 1.054-.751 1.829-.92");
}
