.aw1a0wbmn {
  fill: var(--svg-color--007934, #007934);
  stroke: var(--svg-color--000, #000);
  stroke-width: var(--svg-stroke-width--0-1px, 0.1px);
  d: path("M239 182.3c-1.6.8-2.5 2.4-3.2 3.7");
}
