.awdcmv7pf {
  fill: none;
  stroke: currentColor;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: var(--svg-stroke-width--1-5px, 1.5px);
  d: path("M16.5 11.5A3.5 3.5 0 0 0 13 8m.5-5.5v2m6.002 0l-1.5 1.499m3.5 4.501h-2M17 16.531A6.305 6.305 0 0 1 8.469 8A7.094 7.094 0 1 0 17 16.531");
}
