.awpauii5s {
  stroke: var(--svg-color--fddbc5, #FDDBC5);
  stroke-width: var(--svg-stroke-width--0-049px, 0.049px);
  d: path("M150.243 77.163c.722 0 1.456.257 2.043.575c.172.11 2.055 3.242 2.055 3.462c0 2.251-1.847 4.123-4.098 4.123s-4.073-1.835-4.086-4.11c0-.232 1.933-3.45 2.116-3.56a4.25 4.25 0 0 1 1.97-.49z");
}
