.awy89tbsf {
  fill: var(--svg-color--656769, #656769);
  stroke: var(--svg-color--45413c, #45413c);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M24 34.49c-3.34 0-6 1.12-6 2.51v2.49c0 1.37 2.66 2.51 6 2.51s6.05-1.11 6.05-2.49V37c0-1.39-2.71-2.51-6.05-2.51");
}
