.axba5-bco {
  stroke: var(--svg-color--4147d5, #4147d5);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("m7 8.58l3.213-2.201l3.212 2.201l-3.212 2.201zm0-4.406l3.213-2.201l3.212 2.2l-3.212 2.202zM.575 8.58l3.212-2.2L7 8.58l-3.212 2.201zm0-4.406l3.212-2.201L7 4.173L3.787 6.376z");
}
