.axli2ab7b {
  fill: none;
  stroke: var(--svg-color--45413c, #45413c);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M12.93 6.86a1 1 0 0 0-.93 1v21.8a5.94 5.94 0 0 0-4-.72a6 6 0 0 0 1.26 11.9A6.15 6.15 0 0 0 15 34.6V15.71l23-1.66v13.17a5.94 5.94 0 0 0-4-.72a6 6 0 0 0 1.26 11.91A6.17 6.17 0 0 0 41 32.17V5.91a1 1 0 0 0-1.07-1Z");
}
