.aygakmb9m {
  cx: 624.4px;
  cy: 606.1px;
  fill: var(--svg-color--c90000, #c90000);
  stroke: var(--svg-color--000, #000);
  stroke-width: var(--svg-stroke-width--1pt, 1pt);
  rx: 58.3px;
  ry: 186.5px;
}
