.ayhgwxblj {
  fill: none;
  stroke: currentColor;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: var(--svg-stroke-width--4px, 4px);
  d: path("M4 42h40M31 4L7 28l6 6h8l20-20z");
}
