.aynyspbri {
  stroke: var(--svg-color--fff, #fff);
  stroke-linecap: round;
  d: path("m4.546 19.403l7.409-15.806a.05.05 0 0 1 .09 0l7.41 15.806a.05.05 0 0 1-.059.07l-7.383-1.97h-.026l-7.383 1.97a.05.05 0 0 1-.058-.07Z");
}
