.aytd6oskt {
  fill: var(--svg-color--f90, #f90);
  fill-rule: evenodd;
  d: path("M489.1 248.8c0-30.3-35-60.3-93.7-80.2l5.9-17.3c67.4 22.8 106.1 58.4 106.1 97.5s-38.7 74.7-106.1 97.5l-5.9-17.3c58.7-19.9 93.7-49.8 93.7-80.2m-465.7 0c0 29.1 32.8 58.3 87.7 78.1l-6.2 17.2c-63.4-22.9-99.8-57.6-99.8-95.3s36.4-72.4 99.8-95.3l6.2 17.2c-54.9 19.9-87.7 49-87.7 78.1");
}
