.az2wei31k {
  fill: none;
  stroke: var(--svg-color--000, #000);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: var(--svg-stroke-width--2px, 2px);
  d: path("M14.836 40h8.836v10h-8.836zm37.418 16h4.909v4h-4.909zM16.836 22h4.909v5h-4.909zm0-13h4.909v5h-4.909zm20.691 13h4.909v5h-4.909zm1.166 5h2.572v2.5h-2.572zm6.689-2.5h-2.946m-5.582 0H21.745m18.237 5v4.25c0 1.795-1.429 3.25-3.191 3.25h0c-1.762 0-3.191 1.455-3.191 3.25m-8.836 3.246H53m-19.458-3h-2.888v3h10.8v-3h-2.359m10.653 3V47");
}
