.azp7mfbqk {
  fill: var(--svg-color--f5ce00, #f5ce00);
  stroke: var(--svg-color--000, #000);
  stroke-miterlimit: 2.6;
  stroke-width: var(--svg-stroke-width--1-2px, 1.2px);
  d: path("m461.6 196.7l5.7 1.9s5.4 2.3 12.3 0l5.2-2l-3.5 5.4v2.9l2.1 3.2s-1.3.6-5.4-2c0 0-4.4-3.4-9.6 0c0 0-3 2-5.4 2l3.5-3.8l-1.3-3.5l-3.6-4.3z");
}
