.s-8tu9-dm {
  fill: none;
  stroke: currentColor;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: var(--svg-stroke-width--2px, 2px);
  d: path("M18 10h-4V6m6-2l-6 6m-8 4h4v4m0-4l-6 6");
}
