.s-us9ombj {
  fill: var(--svg-color--2f88ff, #2F88FF);
  fill-rule: evenodd;
  stroke: var(--svg-color--000, #000);
  d: path("M14 14H34C39.5228 14 44 18.4772 44 24V27C44 34.1797 38.1797 40 31 40H24H17C9.8203 40 4 34.1797 4 27V24C4 18.4772 8.47715 14 14 14Z");
}
