.s0xn6tm4p {
  fill: none;
  stroke: currentColor;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: var(--svg-stroke-width--2px, 2px);
  d: path("M13 21H7l-4-4a3 3 0 0 1 0-4l9-9a3 3 0 0 1 4 0l5 5a3 3 0 0 1 0 4Zh9M7 9l9 9");
}
