.s16h4e_li {
  fill: var(--svg-color--444876, #444876);
  stroke: var(--svg-color--444876, #444876);
  d: path("M146.319 79.2A67.12 67.12 0 0 0 31.74 31.74A67.12 67.12 0 0 0 79.2 146.319A67.12 67.12 0 0 0 146.319 79.2m-1.22 0a65.9 65.9 0 0 1-112.496 46.597A65.9 65.9 0 0 1 79.2 13.302A65.9 65.9 0 0 1 145.098 79.2m1.22 0z");
}
