.s1altqbfo {
  fill: none;
  stroke: var(--svg-color--f5bde6, #f5bde6);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M9.007 13.615h5.822m-5.822-.543l2.588-4.345m3.234 4.345l-2.587-4.345m3.265 5.175L11.958 15.5L8.41 13.902V9.547l3.55-1.535l3.548 1.535Z");
}
