.s1s-tacik {
  stroke: var(--svg-color--191919, #191919);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("m2.024 9.562l4.139-4.14a.975.975 0 0 1 1.379 0l1.38 1.38l5.515-5.516a.975.975 0 0 1 1.38 0l6.896 6.896a.975.975 0 0 1 0 1.38l-7.53 7.53a.49.49 0 0 1-.78-.13c-.793-1.605.726-3.952.726-3.952L10.3 17.838M8.923 6.803l6.206 6.206M1.001 11.296L12.705 23");
}
