.s1tefkbqu {
  stroke: var(--svg-color--2859c5, #2859c5);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M6.857 32S6 27.167 6 17.5c0-4.203.162-7.362.345-9.59c.209-2.54 2.203-4.42 4.746-4.575C13.88 3.166 18.116 3 24 3s10.12.166 12.909.335c2.543.155 4.537 2.036 4.746 4.575c.183 2.228.345 5.387.345 9.59c0 9.667-.857 14.5-.857 14.5");
}
