.s29qprbza {
  fill: currentColor;
  fill-rule: evenodd;
  d: path("M10.195 9.739a.79.79 0 0 1 .168 1.104a1.96 1.96 0 0 0-.376 1.327a1.96 1.96 0 0 0 .995 1.555c.33.186.718.28 1.126.246a1.96 1.96 0 0 0 1.201-.54a.79.79 0 0 1 1.094 1.139a3.54 3.54 0 0 1-2.167.976a3.54 3.54 0 0 1-3.101-1.374a3.54 3.54 0 0 1-.723-1.873a3.54 3.54 0 0 1 .679-2.393a.79.79 0 0 1 1.104-.167m4.865 2.567a.75.75 0 0 1-.865-.613a2 2 0 0 0-.814-1.294a2 2 0 0 0-.712-.321a.75.75 0 1 1 .337-1.462a3.52 3.52 0 0 1 2.667 2.824a.75.75 0 0 1-.613.865Z");
}
