.s2be6_bwi {
  fill: var(--svg-color--452c25, #452c25);
  stroke: var(--svg-color--000, #000);
  stroke-width: var(--svg-stroke-width--0-1px, 0.1px);
  d: path("M302.3 188.6s-2 1.6-1.6 2c.4.5 3.5-1.2 4-1.7c.7-.5-2.4-.3-2.4-.3zm4.3.2s-2.8 3.7-2 3.8c.9.2 4.1-2.4 4.2-2.8c0-.5-2.2-1-2.2-1z");
}
