.s2wb4r8nh {
  fill: var(--svg-color--d0cfce, #d0cfce);
  stroke: var(--svg-color--d0cfce, #d0cfce);
  stroke-linejoin: round;
  stroke-width: var(--svg-stroke-width--2px, 2px);
  d: path("m10.14 62.8l.25-31.7h51.23l-.5 31.45z");
}
