.s3-2g4p5n {
  fill: none;
  stroke: var(--svg-color--45413c, #45413c);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M4.74 24a19.26 19.26 0 1 0 38.52 0a19.26 19.26 0 1 0-38.52 0");
}
