.s35s4zb3x {
  stroke: var(--svg-color--ecb732, #ecb732);
  stroke-linecap: round;
  stroke-width: var(--svg-stroke-width--11px, 11px);
  d: path("m70.163 182.004l34.796 36.159m-4.702-31.933l-22.1 23.481m98.746-27.707l-34.796 36.159m4.702-31.933l22.1 23.481");
}
