.s3eksd_0n {
  fill-rule: evenodd;
  d: path("M94.145.348a8 8 0 0 0-3.026.386A8 8 0 0 0 88 2.668L45.494 49.682L20.666 29.334l-2.172-1.865a5.33 5.33 0 0 0-4.814-1.108a3.4 3.4 0 0 0-.707.24l-9.694 4.067A5.33 5.33 0 0 0 0 35.162v57.679a5.33 5.33 0 0 0 3.28 4.493l9.693 4a3.4 3.4 0 0 0 .707.24a5.33 5.33 0 0 0 4.814-1.105l2.172-1.801l24.828-20.346L88 125.334a8 8 0 0 0 3.854 2.135a8 8 0 0 0 5.24-.588l26.373-12.68a8 8 0 0 0 4.533-7.213V21.016a8 8 0 0 0-4.533-7.215L97.094 1.12a8 8 0 0 0-2.95-.773ZM96 36.908v54.186L62.947 64.002Zm-80 8.787l16.547 18.307L16 82.309Z");
  opacity: var(--svg-opacity--0-25, 0.25);
}
