.s4sui9lbl {
  fill: none;
  stroke: var(--svg-color--000, #000);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: var(--svg-stroke-width--2px, 2px);
  d: path("M33.956 38a11.5 11.5 0 0 0 3.936 0M13.84 60l2.937-11.305l-.937-1.25l-4-3l-4-6a1.414 1.414 0 1 1 2-2l4 4c1 1 2 1 5 2s3.13 3.237 3 5c-.666 8.973-1 12.556-1 12.556");
}
