.s4ykfg25t {
  stroke: var(--svg-color--2859c5, #2859c5);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M40.189 27.402s-.607-2.703-4.248-6.344c-3.64-3.64-6.343-4.247-6.343-4.247m-6.923 28.104s-.607-2.703-4.247-6.343c-3.641-3.641-6.344-4.248-6.344-4.248");
}
