.s5d51zdjz {
  width: 32px;
  height: 24px;
  x: 37px;
  y: 40px;
  fill: var(--svg-color--9b51e0, #9b51e0);
  stroke: var(--svg-color--9b51e0, #9b51e0);
  stroke-linecap: round;
  stroke-width: var(--svg-stroke-width--4px, 4px);
  rx: 2px;
}
