.s5p6uab-w {
  fill: none;
  stroke: var(--svg-color--000, #000);
  stroke-linecap: round;
  stroke-miterlimit: 10;
  stroke-width: var(--svg-stroke-width--2px, 2px);
  d: path("M24.787 26.382q-.117 1.006-.118 2.052c0 7.827 5.076 14.173 11.338 14.173s11.339-6.346 11.339-14.173c0-.396.012-2.827.012-2.827");
}
