.s6wd5j9us {
  fill: var(--svg-color--000, #000);
  fill-rule: nonzero;
  d: path("M117.76 65.108c.163 0 .286-.162.286-.326c0-.203-.122-.367-.285-.367c-.204 0-.326.164-.326.367a.32.32 0 0 0 .326.326");
}
