.s7ackebff {
  fill: none;
  stroke: var(--svg-color--45413c, #45413c);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("m28.74 20.56l-13.22 3.91l-.26-2.94a.68.68 0 0 1 .49-.72l10.82-3.2a.69.69 0 0 1 .8.34Z");
}
