.s819s4b2p {
  stroke: var(--svg-color--191919, #191919);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M12 23a2.391 2.391 0 1 0 0-4.783A2.391 2.391 0 0 0 12 23m0-4.783V1m2.392 2.391L12 1L9.61 3.391M12 13.913l3.015-1.884a1.93 1.93 0 0 0 .811-1.464V8.652M12 15.826l-3.015-1.884a1.93 1.93 0 0 1-.811-1.464v-1.913");
}
