.s_2ttdbeo {
  fill: var(--svg-color--f8b1ab, #f8b1ab);
  d: path("M193.315 157.433c1.148.848 5.172 2.006 5.875.506s1.252-4.417.776-4.851c-.321 1.376-.766 3.993-2.297 4.572c-1.168.455-3.548-.093-4.354-.227m11.306-5.793c-.207.962-.941 5.482 1.355 6.113c2.069.548 3.497-.683 5.059-3.259c-.838.818-3.011 2.69-4.748 1.956c-1.738-.735-1.8-2.493-1.666-4.81");
  opacity: var(--svg-opacity--0-5, 0.5);
}
