.s_3b48bfp {
  fill: var(--svg-color--483413, #483413);
  fill-rule: evenodd;
  d: path("M25.202 119.438h-2.819v-4.053h8.245c0 2.804.028 5.562-.033 8.317c-.008.384-.372.936-.721 1.111c-4.789 2.405-9.647 2.788-14.375-.041c-3.7-2.214-5.383-6.531-4.545-10.892c.824-4.286 3.886-7.355 8.268-8.209c3.599-.702 7.069-.408 10.259 1.578c.487.304.907.717 1.429 1.136l-2.51 3.682c-.979-.515-1.824-1.002-2.704-1.415c-3.872-1.819-7.87-.248-8.856 3.462c-1.247 4.685 1.605 8.368 6.296 8.134c2.308-.114 2.44-.283 2.066-2.81");
}
