.s_8im-d4g {
  fill: var(--svg-color--fff, #fff);
  stroke: var(--svg-color--45413c, #45413c);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("m24.63 27.69l-3-2.15a1.05 1.05 0 0 0-1.23 1.71l3 2.15a1.05 1.05 0 0 0 1.23-1.71");
}
