.s_f-8ebio {
  fill: currentColor;
  d: path("M10.74 16.816c.493 1.832 2.262 3.23 3.156 3.172c.031-.002 3.39-.63 5.227-3.715c1.431-2.4.944-4.717-1.002-4.768c-.7.052-8.321 1.82-7.381 5.31m7.201-11.77l-.002-.001l.003-.002a8.51 8.51 0 0 0-9-1.304a5 5 0 0 0-.542.266q-.181.095-.356.197l.028.01a3.9 3.9 0 0 0-.9.856c-2.451 3.252 5.764 5.615 10.156 5.622c2.02 1.458 2.587-4.1.613-5.643");
  opacity: var(--svg-opacity--0-4, 0.4);
}
