.s_yue-boc {
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: var(--svg-stroke-width--2px, 2px);
  d: path("M58.075 30.374h.784m-8.302 0h.985m-17.062 0h9.442m-16.739 0h.702m-15.026 0h7.775");
}
