.sa-k73f8j {
  fill: var(--svg-color--f2f2f2, #f2f2f2);
  stroke: var(--svg-color--bdbdbd, #bdbdbd);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: var(--svg-stroke-width--4px, 4px);
  d: path("M31.327 23.609a22.172 22.172 0 1 1 16.97 40.969a22.172 22.172 0 0 1-16.97-40.969");
}
