.sc8qubbfy {
  fill: var(--svg-color--fff, #fff);
  fill-rule: evenodd;
  d: path("M18 12h11.077C36.214 12 42 17.572 42 24.444S36.214 36.89 29.077 36.89h-3.692V44H18zm7.385 17.778h3.692c3.059 0 5.538-2.388 5.538-5.334s-2.48-5.333-5.538-5.333h-3.692z");
}
