.sd0zm2a7d {
  fill: var(--svg-color--009b3a, #009B3A);
  fill-rule: nonzero;
  stroke: var(--svg-color--000, #000);
  stroke-width: var(--svg-stroke-width--0-075px, 0.075px);
  d: path("M141.943 84.098c-.018-.015 1.629-3.077 1.629-3.077l-2.209 2.589l-.035.733z");
}
