.sd6_gjn8w {
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: var(--svg-stroke-width--2px, 2px);
  d: path("M54.583 52.708h4l5.917-2.625V35l-2.458-2.458H20.333s-7.916 0-9.75.5S6.042 41.958 7 51.625h5.904m.001-19.62s-.144-2.1 2.375-2.188c2.375-.083 2.375 2.188 2.375 2.188");
}
