.sd9vjtb7h {
  fill: var(--svg-color--000, #000);
  fill-rule: nonzero;
  d: path("M200.75 88.411c.027.144.281 1.412.762 1.559l.579.144l.01-.134l.17.004c.001-.043.018-1.032-.457-1.312l-.564-.162c-.197-.021-.267-.034-.306-.149zm.821 1.367c-.228-.07-.435-.635-.555-1.112c.069.019.139.037.213.044l.482.135c.286.168.352.767.358 1.059zm1.926 2.368c0 .023.107.854.107.854l.143-.018l-.108-.83c.004.001.347-1.825.347-1.825l-.142-.026z");
}
