.sdjz9t1gf {
  stroke: var(--svg-color--191919, #191919);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M9.303 19.18a.516.516 0 0 1-.927.024L.86 4.609a.515.515 0 0 1 .7-.692l15.033 7.988l-5.152 2.576z");
}
