.sfoc4ibca {
  fill: none;
  stroke: currentColor;
  stroke-width: var(--svg-stroke-width--1-5px, 1.5px);
  d: path("m4 12l1 8m8.23-15.25c-.46 0-.89.218-1.161.588l-5.009 6.83a.25.25 0 0 0-.046.183l.863 6.04a1 1 0 0 0 .99.859h8.406a1 1 0 0 0 .951-.692l1.997-6.173a1.25 1.25 0 0 0-1.19-1.635h-4.055A.997.997 0 0 1 14 9.55l.639-3.067a1.44 1.44 0 0 0-1.41-1.733Z");
}
