.sfubw46ew {
  fill: currentColor;
  stroke-linecap: round;
  stroke-width: var(--svg-stroke-width--2px, 2px);
  d: path("M4.485 2.487v-.003h.003a36.006 36.006 0 0 1 1.816-.115c1.459-.058 3.193-.05 4.48.142a.386.386 0 0 1 .21.117l7.753 7.754a.5.5 0 0 1 0 .707l-5.657 5.657a.5.5 0 0 1-.707 0L4.63 8.992a.386.386 0 0 1-.118-.21c-.191-1.286-.2-3.02-.142-4.48a36.65 36.65 0 0 1 .115-1.815Z");
  opacity: var(--svg-opacity--0-8, 0.8);
}
