.sgxljmw-h {
  fill: var(--svg-color--00b8f0, #00b8f0);
  stroke: var(--svg-color--45413c, #45413c);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M13.17 38.81a4.09 4.09 0 0 1 2.36 3l-1.88 1.48a4 4 0 0 0-2.36-3Z");
}
