.sh5_nnbpe {
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M10.407 35.48v7.626a26 26 0 0 1-.382 3.813l-1.239 6.673c-.19 1.048.286 1.906 1.049 1.906a2.55 2.55 0 0 0 2.001-1.811l1.812-5.91c.286-1.049.667-2.67.858-3.718l.667-3.813m5.815-21.163a7.75 7.75 0 0 0-2.765 2.097");
}
