.sh902gbyn {
  fill: var(--svg-color--d33833, #d33833);
  fill-rule: evenodd;
  d: path("M347 293.1c-11.6-.4-22.1-1.8-31.2-4.2c.6-3.8-.5-7.5.4-10.1c2.5-1.9 6.9-1.9 10.8-2.2c-3.4-1.6-8-2.2-11.9-1.4c-.1-2.6-1.2-4.2-2-6.2c6.5-2.4 21.9-17.6 30.6-12.5c4.1 2.4 5.9 16.1 6.2 22.9c.2 5.2-.7 10.8-2.9 13.7");
}
