.shdbedcxn {
  stroke: var(--svg-color--4147d5, #4147d5);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M13.5 4v.998a1.995 1.995 0 0 1-1.995 1.995h-.25A1.995 1.995 0 0 1 9.26 4.998V4");
}
