.shylqixkl {
  stroke: var(--svg-color--191919, #191919);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("m20.116 23l.477-5.729h2.387V13.93a4.774 4.774 0 0 0-9.548 0v3.341h2.387L16.297 23z");
}
