.sipithbeq {
  fill: none;
  stroke: var(--svg-color--cad3f5, #cad3f5);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M15.495 11.392h-1.258s-.595.1-.595.733c0 .701.631.733.631.733h1.222");
}
