.sisnjrobj {
  fill: currentColor;
  fill-rule: evenodd;
  d: path("M30.45 35.336a14.76 14.76 0 0 0-20.847 10.02l-.051.226a15.24 15.24 0 0 0 2.659 12.491l1.356 1.816q.936 1.25 2.065 2.328l8.035 7.668c.186.178.48.178.666 0l8.035-7.668a18.7 18.7 0 0 0 2.065-2.328l1.357-1.816a15.25 15.25 0 0 0 2.658-12.491l-.051-.227a14.76 14.76 0 0 0-7.947-10.02m-3.6 6.205a6.55 6.55 0 0 0-5.702 0A6.58 6.58 0 0 0 17.612 46a6.63 6.63 0 0 0 1.264 5.572A6.55 6.55 0 0 0 24 54.052a6.55 6.55 0 0 0 5.124-2.48a6.63 6.63 0 0 0 1.264-5.571a6.58 6.58 0 0 0-3.537-4.46");
}
