.sisn5k2kg {
  fill: var(--svg-color--d99f31, #D99F31);
  fill-rule: nonzero;
  d: path("M155.857 71.024a.564.564 0 0 0-1.057 0a.56.56 0 0 0 .479.364a.56.56 0 0 0 .578-.364m.446-1a.562.562 0 0 0 1.056 0a.562.562 0 0 0-1.056 0m1.186 1.256a.49.49 0 0 0 .431.355a.564.564 0 0 0 .577-.365a.56.56 0 0 0-.479-.364c-.263-.024-.458.137-.529.374m-1.383.99a.565.565 0 0 0 1.057.001a.565.565 0 0 0-1.057-.001");
}
