.sj_5nk2aj {
  stroke: var(--svg-color--703d29, #703D29);
  stroke-width: var(--svg-stroke-width--0-407px, 0.407px);
  d: path("M188.252 120.837c.235.09.468.171.673.23c.671.192 1.301.207 1.848.043c1.327-.398 2.178-1.638 1.488-3.249c-.16-.374-.467-.732-.815-1");
}
