.sjig8pqzs {
  fill: none;
  stroke: currentColor;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: var(--svg-stroke-width--2px, 2px);
  d: path("m7.4 16.6l9.2-9.2A1 1 0 0 0 12 3a1 1 0 0 0-4.6 4.4A1 1 0 0 0 3 12a1 1 0 0 0 4.4 4.6A1 1 0 0 0 12 21a1 1 0 0 0 4.6-4.4A1 1 0 0 0 21 12a1 1 0 0 0-4.4-4.6m-9.2 0l9.2 9.2");
}
