.sle0b2beh {
  fill: var(--svg-color--8fbffa, #8fbffa);
  fill-rule: evenodd;
  d: path("M3.98 8.477c-.287-1-.284-2.187.079-3.182L6.5 6.515v3.569c-.843-.214-1.428-.509-2.242-1.189a.86.86 0 0 1-.278-.418m3.52 1.607c.843-.214 1.428-.509 2.242-1.189a.86.86 0 0 0 .278-.418c.287-1 .284-2.187-.079-3.183L7.5 6.515z");
}
