.slxme6b-t {
  fill: none;
  stroke: var(--svg-color--000, #000);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: var(--svg-stroke-width--2px, 2px);
  d: path("M39.993 63.82a23.97 23.97 0 0 0 14.937-4.113s2-13-10-13c-3.192 2.128-5.926 3.598-9 3.592h.125c-3.074.006-5.808-1.464-9-3.592c-12 0-10 13-10 13c9.978 6.02 14.368 3.708 28.119-1.562l.617-3.52l-24.068 1.35");
}
