.smhhxlfoh {
  fill: var(--svg-color--ffef00, #FFEF00);
  fill-rule: nonzero;
  d: path("M158.32 122.274c4.436 5.498 2.452 16.868 9.071 19.764c-3.937-6.292-.641-15.564-4.278-21.322s-9.23-3.94-4.793 1.558");
}
