.sn6ctbueb {
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M13.001 2c1.104 0 2 .931 2 2.08c0 .95.035 1.794-.732 2.492C11.76 8.857 10.503 10 9 10S6.242 8.857 3.731 6.572c-.767-.698-.73-1.543-.73-2.492C3 2.93 3.894 2 4.998 2M9 14v3.5a4.5 4.5 0 0 0 9 0V16");
}
