.so6x_cc1s {
  fill: var(--svg-color--9bff00, #9bff00);
  stroke-linecap: round;
  d: path("M5.146 32.903a1.167 1.167 0 1 0 .007-2.334a1.167 1.167 0 0 0-.007 2.334Zm4.619.506a1.167 1.167 0 1 0 .068-2.333a1.167 1.167 0 0 0-.068 2.333Z");
}
