.so77q_bes {
  fill: currentColor;
  fill-rule: evenodd;
  d: path("M11.8.007a2 2 0 0 1 .385.049q.308.074.578.239c.202.124.375.297.721.643l1.62 1.62c.346.346.519.519.643.72q.165.272.239.579c.055.23.056.475.056.964v6.38l-.005 1.11c-.015.975-.077 1.57-.322 2.05l-.115.206c-.288.47-.701.853-1.2 1.1l-.123.057c-.46.198-1.03.251-1.93.265l-1.11.005h-4.32a3.5 3.5 0 0 0 .465-1h3.85c.856 0 1.44 0 1.89-.037c.438-.036.663-.101.819-.181c.376-.192.682-.498.874-.874c.08-.156.145-.381.18-.819c.038-.45.038-1.03.038-1.89v-6.2h-3a1 1 0 0 1-1-1v-3h-3.73a3.9 3.9 0 0 0-.501-1h4.41L11.79 0zm.246 3.99h2.94a1 1 0 0 0-.089-.194c-.047-.078-.118-.157-.497-.536l-1.62-1.62c-.379-.38-.459-.45-.536-.497a1 1 0 0 0-.194-.09V4z");
}
