.so7aq9osc {
  fill: none;
  stroke: var(--svg-color--45413c, #45413c);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M15.9 22.27a15.6 15.6 0 0 1-.72 6.27a3.8 3.8 0 0 0-1.11-1.12a4 4 0 1 0 1.1 5.58c2.5-3.74 2.84-6.62 2.73-10.75ZM10.73 32.4a2 2 0 1 1 2.78-.55a2 2 0 0 1-2.78.55");
}
