.sop3yxbru {
  fill: var(--svg-color--6bafff, #6bafff);
  fill-rule: evenodd;
  d: path("M29.934 16.333c-1.392.852-2.992 1.166-4.706 1.451l-.375.062c-2.061.338-4.362.716-6.047 2.382c-1.708 1.688-2.508 3.697-2.468 5.697h.873c-.04-1.748.651-3.537 2.208-5.077c1.48-1.464 3.518-1.8 5.647-2.152c1.965-.325 4.01-.663 5.768-1.913a26 26 0 0 0-.9-.45m4.027 2.424c-1.72 1.89-2.143 4.238-2.545 6.47c-.382 2.118-.745 4.132-2.18 5.55l.614.621c1.64-1.62 2.047-3.9 2.413-5.949l.074-.414c.391-2.153.833-4.138 2.307-5.73q-.33-.278-.683-.548");
}
