.sorjpfpor {
  stroke: var(--svg-color--c09300, #C09300);
  stroke-width: var(--svg-stroke-width--0-305px, 0.305px);
  d: path("M159.573 89.846a4 4 0 0 1-.283.009c-2.069 0-6.873-1.061-8.725-2.652c-1.94 1.47-6.824 2.652-8.859 2.652a1.6 1.6 0 0 1-.283-.029c-.005.464.019.944.048 1.381c.107 1.633.394 3.273.829 4.851c1.369 4.965 4.172 9.184 8.191 12.385c4.022-3.203 6.828-7.427 8.2-12.396a24.4 24.4 0 0 0 .832-4.85c.03-.427.053-.896.05-1.351z");
}
