.spb-chboi {
  fill: none;
  stroke: var(--svg-color--000, #000);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
  stroke-width: var(--svg-stroke-width--2px, 2px);
  d: path("M34.355 25.083V7.057s.505-.87 1.29-.991c.482-.075 1.07.131 1.71.991v18.026");
}
