.sppq3wb1p {
  fill: var(--svg-color--2c2d3c, #2c2d3c);
  fill-rule: evenodd;
  d: path("M320.7 193.9L204.4 364.5l-24.5-16.6l128.7-188.7c2.7-4.1 7.3-6.4 12.2-6.4c4.8 0 9.5 2.3 12.4 6.4L462 347.5l-24.5 16.8zM75.1 364.8l136.7-200.4l-24.6-16.8L50.5 347.9z");
}
