.srr8t7bum {
  fill: currentColor;
  fill-opacity: var(--svg-fill-opacity--0-15, 0.15);
  d: path("m773.6 810.6l53.9-409.4l-139.8 86.1L512 252.9L336.3 487.3l-139.8-86.1l53.8 409.4zm-374.2-189c0-62.1 50.5-112.6 112.6-112.6s112.6 50.5 112.6 112.6v1c0 62.1-50.5 112.6-112.6 112.6s-112.6-50.5-112.6-112.6z");
}
