.srvyxgl4m {
  fill: var(--svg-color--f1bf31, #F1BF31);
  fill-rule: nonzero;
  d: path("M135.828 76.349s-.284-.355-.392-.621c-.157-.384-.136-1.055-.136-1.055l-1.685-1.764l3.19-3.034l6.065-1.74l7.661-.546l7.66.546l6.066 1.74l3.189 3.034l-1.684 1.764s.02.671-.137 1.055c-.107.266-.392.621-.392.621l-6.943-2.148l-7.759-.348l-7.76.348z");
}
