.ss9voxbap {
  fill: none;
  stroke: var(--svg-color--45413c, #45413c);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M7.84 20.66a18.66 18.66 0 1 0 37.32 0a18.66 18.66 0 1 0-37.32 0");
}
