.st45dibfu {
  fill: none;
  stroke: var(--svg-color--e27022, #e27022);
  stroke-linecap: round;
  stroke-miterlimit: 10;
  stroke-width: var(--svg-stroke-width--2px, 2px);
  d: path("M36 52c-8.837 0-16-7.163-16-16");
}
