.stkvmwbol {
  stroke: var(--svg-color--191919, #191919);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M17.476 22.496H1.504m20.992-3.651H1.504m20.992-3.65H1.504m20.992-3.651h-8.214m8.214-3.651h-8.214m8.214-3.651h-8.214");
}
