.suhawis-m {
  fill: var(--svg-color--6bafff, #6bafff);
  fill-rule: evenodd;
  d: path("m27.282 32.838l-1.081-3.604h-.456l-.418.125l2.58 8.602h.912l2.58-8.602l-.417-.125h-.456l-1.081 3.604l-1.082-3.604z");
}
