.sv4l35byz {
  fill: var(--svg-color--38a9f9, #38a9f9);
  fill-rule: evenodd;
  d: path("m241 152.8l10.3-.2v6l-10.2.2zm-23.6 3.3l-3.6 5.9l12.2-1.5l-1-6zm10.4-2.3l10.2-.9l.5 6l-10.2.9zm36.9-.6l-10.2-.7l-.4 6l10.2.7zm22 3.8l3.7 7.3l-11-2.8l1.2-5.8zm-8.9-2.2l-10.1-1.3l-.7 5.9l10.1 1.3z");
}
