.sv5ssrbji {
  fill: currentColor;
  fill-opacity: var(--svg-fill-opacity--0-4, 0.4);
  d: path("M2 3L22 3C22.5523 3 23 3.4477 23 4L23 10C23 10.5523 22.5523 11 22 11L13 11L13 20C13 20.5523 12.5523 21 12 21L2 21C1.4477 21 1 20.5523 1 20L1 4C1 3.4477 1.4477 3 2 3ZM19 13C21.071 13 23 14.9289 23 17C23 19.071 21.071 21 19 21C16.929 21 15 19.071 15 17C15 14.9289 16.929 13 19 13Z");
  stroke: none;
}
