.svhbekbcy {
  fill: none;
  stroke: var(--svg-color--f5bde6, #f5bde6);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("m11.805 7.442l3.695 3.72l-3.695 3.512V12.4c-2.873 0-4.105 3.1-4.105 3.1c0-3.513 1.027-5.786 4.105-5.786z");
}
