.svn6-sc9i {
  fill: var(--svg-color--e7e7e7, #e7e7e7);
  stroke: var(--svg-color--000, #000);
  stroke-width: var(--svg-stroke-width--0-1px, 0.1px);
  d: path("M257.4 265.3v.2h-2.8v-.2zm-2.6 0v-.6v.6v-.7h2.5v.1h-.2v.6v-.6h.1v.6");
}
