.swr84yb6f {
  fill: currentColor;
  fill-opacity: var(--svg-fill-opacity--0-25, 0.25);
  d: path("M4 38.387a11.98 11.98 0 0 1 4.548-9.406c1.527 4.872 6.077 8.406 11.452 8.406h40c5.375 0 9.925-3.534 11.453-8.406A11.98 11.98 0 0 1 76 38.387c0 6.628-5.373 12-12 12H49.987l-4.125-5.813a2.745 2.745 0 0 0-4.735 2.733l1.414 3.08H16c-6.627 0-12-5.372-12-12");
}
