.sxde_bcdx {
  stroke: var(--svg-color--4147d5, #4147d5);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M4.63 1.188C2.203 1.939.874 3.953.874 7c0 2.546.928 4.371 2.65 5.34M10.53 1.674c1.707.972 2.627 2.792 2.627 5.327c0 3.088-1.365 5.115-3.856 5.842");
}
