.sy7cjjm1x {
  fill: var(--svg-color--fff, #fff);
  stroke: var(--svg-color--fff, #fff);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M11.693 36.125a7.48 7.48 0 0 1 5.989-7.357a7.4 7.4 0 0 0-1.437-.143a7.5 7.5 0 0 0 0 15a7.4 7.4 0 0 0 1.437-.143a7.48 7.48 0 0 1-5.99-7.357");
}
