.sygkjib5u {
  fill: none;
  stroke: var(--svg-color--000, #000);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: var(--svg-stroke-width--2px, 2px);
  d: path("M32.466 41.985c-4 0-4-6-4-13s4-14 14-14s14 7 14 14s0 13-4 13");
}
