.sygr84b-x {
  fill: none;
  stroke: currentColor;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: var(--svg-stroke-width--32px, 32px);
  d: path("m344 280l88-88m-200 24l64 64M80 320l104-104");
}
