.syhi_kb3g {
  fill: var(--svg-color--a57939, #a57939);
  stroke: var(--svg-color--a57939, #a57939);
  stroke-miterlimit: 10;
  stroke-width: var(--svg-stroke-width--2-086px, 2.086px);
  d: path("M27.421 52.141c-1.13 3.055-2.67 4.594-5.685 6.196s-11.225-.09-9.504-1.81c2.308-2.308 3.66-3.16 3.203-6.03c-.583-3.661 4.208-6.134 4.208-6.134s2.094-1.142 4.193-.854c2.282.312 4.95 4.95 4.95 4.95z");
}
