.syi4jibbk {
  stroke: var(--svg-color--00034a, #00034a);
  stroke-linecap: round;
  stroke-miterlimit: 10;
  d: path("M9.879 6.376a23.7 23.7 0 0 0-5.565-.438m5.253 4.407a24.8 24.8 0 0 0-5.565-.438m5.235 4.583a24.2 24.2 0 0 0-5.565-.448M21.807 7.32a23.7 23.7 0 0 0-5.565-.438m5.253 4.417a24.3 24.3 0 0 0-5.565-.448m5.235 4.582a24.3 24.3 0 0 0-5.585-.447M13.255 4.245l-.886 11.13");
}
