.x-crsvupy {
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M44.225 36.794c-.734.266-1.399.58-2.007.918c-1.304 1.734-3.613 5.213-6.085 10.752c-.197.44.105.97.504.882l2.845-.622c.413-.09.826.156 1.029.613l1.28 2.887c.225.506.831.405.94-.156c.556-2.847 1.83-8.994 3.374-13.14c-.91-.194-1.644-1.038-1.88-2.134m7.642.952a13 13 0 0 0-2.032-.952c-.236 1.096-.97 1.94-1.881 2.134c1.544 4.146 2.818 10.293 3.374 13.14c.11.56.715.662.94.156l1.28-2.887c.204-.457.617-.703 1.03-.613l2.844.622c.4.088.701-.441.504-.882c-2.456-5.503-4.751-8.973-6.06-10.718");
}
