.x01tv3b7d {
  fill: currentColor;
  fill-rule: evenodd;
  d: path("M17.306 11.312c.22-.27.27-.47.237-.614c-.029-.139-.155-.299-.466-.446a4 4 0 0 0-1.29-.294c-1.092-.099-2.56.02-4.143.393c-1.37.297-2.688.8-3.907 1.493c-.475.286-.827.576-1.044.842c-.22.27-.27.47-.237.614c.029.14.155.299.466.446c.303.143.737.246 1.29.295c1.091.098 2.56-.02 4.143-.393a13.9 13.9 0 0 0 3.907-1.493c.475-.287.827-.577 1.044-.843m-4.89 2.61c3.208-.753 5.622-2.222 5.393-3.285s-3.02-1.31-6.227-.56c-3.207.752-5.621 2.22-5.392 3.284s3.02 1.31 6.227.561");
}
