.x08156b4k {
  fill: var(--svg-color--2859c5, #2859c5);
  fill-rule: evenodd;
  d: path("M10.892 8.282c-.678.307-1.369.583-2.012.84l-.009.004c-.935.374-2.179.373-3.113.002l-.067-.027c-.631-.25-1.31-.52-1.975-.82a11 11 0 0 1 0-.725q.011-.316.081-.616c.765.369 1.583.693 2.375 1.008l.047.018c.639.254 1.552.254 2.188 0c.801-.32 1.628-.652 2.404-1.026q.07.3.081.616a11 11 0 0 1 0 .726M2.405 5.107a.75.75 0 1 0-1.5 0v4.69a1.33 1.33 0 0 0 .75 2.43a1.331 1.331 0 0 0 .75-2.43z");
}
