.x1cgfebqx {
  fill: var(--svg-color--fff, #fff);
  stroke: var(--svg-color--45413c, #45413c);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M26.89 38.59L26.05 45h-4.13l-.81-6.41L24 36.15z");
}
