.x1syikggd {
  fill: none;
  stroke: var(--svg-color--ffb700, #ffb700);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M10.15 14.28a1.51 1.51 0 1 1-1.51-1.52a1.51 1.51 0 0 1 1.51 1.52");
}
