.x225cgbbx {
  fill: none;
  stroke: var(--svg-color--000, #000);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: var(--svg-stroke-width--2px, 2px);
  d: path("M37.656 12.766c12.501.76 22.019 11.512 21.258 24.013a22.68 22.68 0 0 1-15.61 20.184");
}
