.x33r3hj4n {
  fill: none;
  stroke: var(--svg-color--45413c, #45413c);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M35.8 32.39h4.73v11.94a2.36 2.36 0 0 1-2.36 2.36h0a2.36 2.36 0 0 1-2.36-2.36V32.39z");
}
