.x38dajl0x {
  fill: var(--svg-color--fff, #FFF);
  fill-rule: nonzero;
  stroke: var(--svg-color--bd6b00, #BD6B00);
  stroke-width: var(--svg-stroke-width--0-25px, 0.25px);
  d: path("m159.75 112.92l4.177.001c.016 1.579.941 3.275 2.24 4.247h-8.004c1.252-1.137 1.595-2.482 1.587-4.248z");
}
