.x39mpl37j {
  stroke: currentColor;
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M27.92 10.838a31.564 31.564 0 1 1 24.16 58.324a31.564 31.564 0 0 1-24.16-58.324m22.628 3.696a27.564 27.564 0 1 0-21.096 50.932a27.564 27.564 0 0 0 21.096-50.932");
}
