.x4u8vybwd {
  stroke: var(--svg-color--191919, #191919);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M4.826 22.33v-2.295a.47.47 0 0 0-.479-.46H2.434a.47.47 0 0 0-.478.46v2.295zm5.739 0v-5.969a.47.47 0 0 0-.478-.459H8.174a.47.47 0 0 0-.479.46v5.968zm5.739 0v-9.64a.47.47 0 0 0-.478-.46h-1.913a.466.466 0 0 0-.478.46v9.641zm5.739 0V9.016a.47.47 0 0 0-.478-.46h-1.913a.47.47 0 0 0-.478.46V22.33zM3.391 13.148l17.217-11.02m-.478 3.674l.479-3.673l-3.826-.46");
}
