.x5hr8inuc {
  stroke: var(--svg-color--00034a, #00034a);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M31.386 24.787a5.2 5.2 0 0 0-2.134-.288m-2.422 2.479c.667.259 1.383.36 2.095.298");
}
