.x5klg4g0x {
  fill: var(--svg-color--fff, #fff);
  stroke: var(--svg-color--00034a, #00034a);
  stroke-miterlimit: 10;
  d: path("m24.738 13.815l-.136-.595c-1.276-5.612-4.55-9.177-9.53-9.518c-.213-.653-.661-1.296-.973-1.374a7.36 7.36 0 0 0-3.351.175A7.44 7.44 0 0 0 7.62 3.809a2.25 2.25 0 0 0-.282 1.666c-4.385 2.465-5.75 7.102-4.472 12.704l.136.595a2.7 2.7 0 0 0-1.666 3.43c.263 1.12.799 1.753 2.923 1.587q.729-.009 1.452-.117a3.17 3.17 0 0 0 2.065.877c.78.166 4.638-.38 7.794-1.091c3.157-.711 6.82-1.9 7.483-2.387c.676-.37 1.2-.967 1.48-1.686q.693-.222 1.355-.526c1.949-.75 2.163-1.558 1.9-2.679a2.69 2.69 0 0 0-3.05-2.367Z");
}
