.x67e1hbsb {
  stroke: var(--svg-color--4147d5, #4147d5);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("m13.5 8.48l-4.71 4.7l-2.13.289l.3-2.125l4.7-4.699zm-9.219 4.989H1.8a1.3 1.3 0 0 1-1.3-1.297V1.797A1.295 1.295 0 0 1 1.8.5h10.4a1.3 1.3 0 0 1 1.3 1.297V4.74");
}
