.x6ks6kpaj {
  fill: var(--svg-color--e08600, #e08600);
  fill-rule: evenodd;
  d: path("M47.313 22.641c-1.1 2.862.63 4.979 1.846 7.268c.727 1.369 1.229 2.856 1.833 4.292l-9.732-7.91c1.508-1.665 3.723-2.745 6.053-3.65");
}
