.x6l88_bcz {
  width: 176px;
  height: 196px;
  x: 169.41px;
  y: 156.59px;
  fill: none;
  stroke: currentColor;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: var(--svg-stroke-width--32px, 32px);
  rx: 32px;
  ry: 32px;
}
