.x76_jccik {
  fill: none;
  stroke: var(--svg-color--92d3f5, #92d3f5);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
  stroke-width: var(--svg-stroke-width--2px, 2px);
  d: path("M60 25h2v5h-2zm0 10h2v5h-2zm0 10h2v5h-2z");
}
