.x7dy05-xp {
  fill: var(--svg-color--d20014, #D20014);
  fill-rule: nonzero;
  stroke: var(--svg-color--d20014, #D20014);
  stroke-width: var(--svg-stroke-width--0-15px, 0.15px);
  d: path("M174.286 100.108s1.352-.022 1.593.073c.098.038-.34.495-.249.669c.338.649 2.637.56 2.818.418c.311-.243-2.141-.452-2.157-.617c-.018-.19.363-.688.303-.993c-.076-.397-1.073-.544-1.073-.544z");
}
