.x82-71d5h {
  fill: none;
  stroke: currentColor;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: var(--svg-stroke-width--2px, 2px);
  d: path("M11 14a1 1 0 1 0 2 0a1 1 0 1 0-2 0m-5 0a1 1 0 1 0 2 0a1 1 0 1 0-2 0m10 0a1 1 0 1 0 2 0a1 1 0 1 0-2 0m-5-9a1 1 0 1 0 2 0a1 1 0 1 0-2 0m2.5 4.5a1 1 0 1 0 2 0a1 1 0 1 0-2 0m-5 0a1 1 0 1 0 2 0a1 1 0 1 0-2 0m5 9a1 1 0 1 0 2 0a1 1 0 1 0-2 0m-5 0a1 1 0 1 0 2 0a1 1 0 1 0-2 0m-5 0a1 1 0 1 0 2 0a1 1 0 1 0-2 0m15 0a1 1 0 1 0 2 0a1 1 0 1 0-2 0");
}
