.x8jr5bsep {
  stroke: var(--svg-color--191919, #191919);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M21.584 1.508a.91.91 0 0 1 .912.913l-.007 6.906a13.41 13.41 0 0 1-10.432 13.164A13.41 13.41 0 0 1 1.504 9.424l.012-6.999a.91.91 0 0 1 .912-.913z");
}
