.x8kxd3r3a {
  fill-rule: evenodd;
  d: path("M16 11H4V16C4 18.8284 4 20.2426 4.87868 21.1213C5.75736 22 7.17157 22 10 22H14C16.8284 22 18.2426 22 19.1213 21.1213C20 20.2426 20 18.8284 20 16V15C20 13.1144 20 12.1716 19.4142 11.5858C18.8284 11 17.8856 11 16 11Z");
  opacity: var(--svg-opacity--0-5, 0.5);
}
