.x8l1_cc-j {
  stroke: var(--svg-color--092f63, #092f63);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M12.49 11.02H1.71v11.76h10.78zM1.416 8.08h11.368M3.67 4.16h2.94m2.94 0h.98");
}
