.x95g1kbnv {
  fill: currentColor;
  fill-opacity: var(--svg-fill-opacity--0-4, 0.4);
  d: path("M15.2746 9.1869L15.7098 10.2902L16.8131 10.7254C16.9259 10.7698 17 10.8788 17 11C17 11.1212 16.9259 11.2302 16.8131 11.2746L15.7098 11.7098L15.2746 12.8131C15.2302 12.9259 15.1212 13 15 13C14.8788 13 14.7698 12.9259 14.7254 12.8131L14.2902 11.7098L13.1869 11.2746C13.0741 11.2302 13 11.1212 13 11C13 10.8788 13.0741 10.7698 13.1869 10.7254L14.2902 10.2902L14.7254 9.1869C14.7698 9.0741 14.8788 9 15 9C15.1212 9 15.2302 9.0741 15.2746 9.1869Z");
  stroke: none;
}
