.x_-1pv9kw {
  fill: none;
  stroke: var(--svg-color--000, #000);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
  stroke-width: var(--svg-stroke-width--2px, 2px);
  d: path("M35.454 20.563v-5.461l-4.343-4.344m26.631 14.837c3.648 4.95 4.397 13.296 1.409 21.133c-3.857 10.129-12.487 15.573-19.273 12.163a10 10 0 0 1-1.395-.849a3.71 3.71 0 0 0-4.33 0q-.665.48-1.397.85C25.96 62.3 17.33 56.856 13.472 46.727c-3.857-10.117-1.476-21.085 5.31-24.494c3.108-1.554 6.596-1.264 9.838.492c0 0 .056.033.168.09c.737.39 3.912 1.956 7.087 1.956c.727 0 1.491-.083 2.249-.215c0 0 1.189-.182 2.126-.463m8.203-6.869c3.956 1.33 6.844 5.82 6.844 5.82s-5.013 1.835-8.97.506c-3.95-1.328-6.844-5.82-6.844-5.82s5.019-1.833 8.97-.506");
}
