.x_1t_ybrw {
  fill: currentColor;
  fill-rule: evenodd;
  d: path("M15.867 10.093h.627l-4.457 7.177l-4.507-7.177h6.67l-1.388 2.592l.7 1.117zm-7.42.452h2.372l2.397 3.746l-1.18 1.955zm5.008 0h-2.034l1.107 1.663z");
}
