.x_582jbsu {
  fill: var(--svg-color--e6b821, #E6B821);
  fill-rule: nonzero;
  d: path("M179.961 80.424a.513.513 0 0 0-.532-.48a.505.505 0 0 0-.465.539a.5.5 0 0 0 .524.48a.505.505 0 0 0 .473-.539");
}
