.x_80zobtn {
  fill: none;
  stroke: var(--svg-color--45413c, #45413c);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M10.42 28.33v8.85H14v-2a1.2 1.2 0 0 0 .45-.11c.27.48.59 1 .95 1.57l2.87-1.87a8.5 8.5 0 0 1-.66-2.71v-3.73a11.7 11.7 0 0 1 1.27-5.12H9.15a11.6 11.6 0 0 1 1.27 5.12");
}
