.x_j4-9b8l {
  fill: var(--svg-color--000, #000);
  stroke: var(--svg-color--fff, #fff);
  stroke-linecap: round;
  stroke-width: var(--svg-stroke-width--5px, 5px);
  d: path("m155.26 226.052l71.219-71.077c.285-.285.428-.57.143-.997l-26.067-97.144c0-.285-.284-.57-.712-.712l-97.286-26.066c-.285-.143-.712 0-.997.285l-71.22 71.077c-.284.285-.427.57-.284.997l26.209 97.143c0 .285.285.57.712.713l97.286 26.066c.285.142.712 0 .997-.285Z");
}
