.xa-mz4bwm {
  stroke: var(--svg-color--191919, #191919);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M10.088 9.134L6.74 12.482l3.348 3.348m3.826-6.696l3.347 3.348l-3.347 3.348");
}
