.xadgghbqm {
  fill: var(--svg-color--ffef00, #FFEF00);
  fill-rule: nonzero;
  d: path("M180.74 103.09c7.056-.357 15.088 7.931 21.321 4.278c-7.404-.513-12.968-8.63-19.764-9.071c-6.796-.442-8.613 5.151-1.557 4.793");
}
