.xb1y3lbzk {
  fill: none;
  stroke: var(--svg-color--45413c, #45413c);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M8.58 13.82s5.77-10.52 22.35-11m4.45 9.11a43.66 43.66 0 0 0-22.13 6.62m11.15.09c10.5-2.51 15-2 15-2");
}
