.xbf1x0ged {
  fill: var(--svg-color--fff, #fff);
  fill-rule: evenodd;
  stroke: var(--svg-color--fff, #fff);
  stroke-width: var(--svg-stroke-width--0-323px, 0.323px);
  d: path("M100.123 41.812h-72.24");
  opacity: var(--svg-opacity--0-343, 0.343);
}
