.xc6115m2b {
  fill: none;
  stroke: var(--svg-color--000, #000);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: var(--svg-stroke-width--2px, 2px);
  d: path("m36.263 23.347l-19.48-12.389v24.778zm19.48 12.389l-19.48-12.389v24.778zm-19.48 12.389l-19.48-12.389v24.778z");
}
