.xcbt7yjkc {
  fill: var(--svg-color--bec7cc, #bec7cc);
  d: path("M105.085 59.84a3.54 3.54 0 0 0-3.54 3.54v1.34a3.54 3.54 0 0 0 3.54 3.54h19.38a3.54 3.54 0 0 0 3.54-3.54v-1.34a3.54 3.54 0 0 0-3.54-3.54zM3.535 41.8a3.54 3.54 0 0 0-3.54 3.54v1.35a3.54 3.54 0 0 0 3.54 3.54h19.38a3.54 3.54 0 0 0 3.54-3.54v-1.35a3.54 3.54 0 0 0-3.54-3.54zm0 36.07a3.54 3.54 0 0 0-3.54 3.54v1.34a3.54 3.54 0 0 0 3.54 3.54h19.38a3.54 3.54 0 0 0 3.54-3.54v-1.34a3.54 3.54 0 0 0-3.54-3.54z");
  opacity: var(--svg-opacity--0-998, 0.998);
}
