.xddvelz_x {
  cx: 23.568px;
  cy: 47.537px;
  fill: none;
  stroke: var(--svg-color--000, #000);
  stroke-miterlimit: 10;
  stroke-width: var(--svg-stroke-width--2px, 2px);
  rx: 3.729px;
  ry: 3.003px;
}
