.xdv2gr6mr {
  fill: var(--svg-color--f1b31c, #f1b31c);
  stroke: var(--svg-color--f1b31c, #f1b31c);
  stroke-width: var(--svg-stroke-width--1-8px, 1.8px);
  d: path("M15.688 62h-3.063h33.75V36.625L20.938 62z");
}
