.xdxj02h5k {
  fill: none;
  stroke: var(--svg-color--45413c, #45413c);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("m8.68 20.9l-1 3.44a2.5 2.5 0 0 1-1.15 1.47l-1.77 1a3.37 3.37 0 0 0-1.69 2.92v4.87a1.23 1.23 0 0 0 1.24 1.23h18V16.64h-8a5.87 5.87 0 0 0-5.63 4.26");
}
