.xdza6nhsc {
  fill: currentColor;
  fill-opacity: var(--svg-fill-opacity--0-25, 0.25);
  d: path("M58.446 22.791a25.227 25.227 0 1 0 6.136 11.542a7.3 7.3 0 0 1-3.461-.568l-.17-.073a6.855 6.855 0 0 1-3.112-9.927z");
}
