.xebh4pb7b {
  stroke: var(--svg-color--191919, #191919);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M11.209 15.918a4.709 4.709 0 1 0 0-9.418a4.709 4.709 0 0 0 0 9.418m3.329-1.38L17.5 17.5");
}
