.xedfp2bky {
  fill: var(--svg-color--ffe500, #ffe500);
  stroke: var(--svg-color--45413c, #45413c);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M9.609 25.168a8.33 7.55 60.71 1 0 13.17-7.387a8.33 7.55 60.71 1 0-13.17 7.387");
}
