.xejrmgb8o {
  fill: var(--svg-color--fff, #FFF);
  stroke: var(--svg-color--21231e, #21231E);
  stroke-width: var(--svg-stroke-width--0-221px, 0.221px);
  d: path("M111.511 163.625c-.327-.023-.865.094-1.305-.192c-.586-.38-.634-2.163-.684-3.266c-.258-5.634-.78-15.073-1.699-28.365a3.7 3.7 0 0 1 1.129-.085q.076-.019.154-.036c2.117 13.148 2.916 22.476 4.366 28.102c.2.777.63 2.723-.039 3.355c-.382.361-.931.342-1.249.425z");
}
