.xf60uybiq {
  fill: none;
  stroke: var(--svg-color--f5a97f, #f5a97f);
  stroke-linejoin: round;
  stroke-width: var(--svg-stroke-width--0-57px, 0.57px);
  d: path("M8.285 11.432v2.291L12 15.715l3.715-1.992V9.142l-2.008-.857l-3.715 1.693v.568ZM12 9.142l2.008.856v4.582m-5.723-3.088L12 13.484l3.715-1.992m-5.723-1.394L12 11.193l3.715-1.992m-5.723 1.395v3.984M12 11.193v4.283");
}
