.xg8q_k {
  d: path('M11.5 12c0 -0.83 0.67 -1.5 1.5 -1.5h6c0.83 0 1.5 0.67 1.5 1.5c0 0.83 -0.67 1.5 -1.5 1.5h-6c-0.83 0 -1.5 -0.67 -1.5 -1.5Z');
}

@media not (prefers-reduced-motion) {
  .xg8q_k {
    stroke-dasharray: 24;
    stroke-dashoffset: 24;
    animation: 0.3s linear 0.4s forwards so-to-0;
  }
}
