.xh0dfb2xp {
  fill: var(--svg-color--2f88ff, #2F88FF);
  fill-rule: evenodd;
  d: path("M10 44C13.3137 44 16 41.3137 16 38C16 34.6863 13.3137 32 10 32C6.68629 32 4 34.6863 4 38C4 41.3137 6.68629 44 10 44Z");
}
