.xhx614uoz {
  fill: none;
  stroke: var(--svg-color--45413c, #45413c);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M14.6 36.25s-.49-5.21-2.9-4.81c-2.85.47-2 7.62.4 7.22c2-.34-1.6-6.82-4.41-6c-1.57.45-2.39 2.49-2.46 3.16");
}
