.xi94s3bdy {
  fill: none;
  stroke: var(--svg-color--000, #000);
  stroke-linecap: round;
  stroke-miterlimit: 10;
  stroke-width: var(--svg-stroke-width--2px, 2px);
  d: path("M19.884 29.334a4.45 4.45 0 0 1-.058 5.385m-4.1-7.219s2.57 4.948-.679 9.394");
}
