.xicx22bfg {
  fill: none;
  stroke: var(--svg-color--000, #000);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
  stroke-width: var(--svg-stroke-width--2px, 2px);
  d: path("M47.972 22.24s17.333 6.084 13.75 25m-8.099-1.006c1.608 3.832 1.235 9.525-5.568 17.506m-.083-36.916s5.611 8.41-2.153 17.788");
}
