.xj8lo5bny {
  width: 40px;
  height: 28px;
  x: 4px;
  y: 8px;
  fill: var(--svg-color--fff, #fff);
  stroke: var(--svg-color--fff, #fff);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: var(--svg-stroke-width--4px, 4px);
  rx: 2px;
}
