.xjsinqbmw {
  stroke: currentColor;
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M30 20a4 4 0 0 1 4-4h12a4 4 0 0 1 4 4v4h14a4 4 0 0 1 4 4v32a4 4 0 0 1-4 4H16a4 4 0 0 1-4-4V28a4 4 0 0 1 4-4h14zm16 0v4H34v-4zm18 8H16v32h48z");
}
