.xjxdncbzn {
  fill: none;
  stroke: currentColor;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: var(--svg-stroke-width--1-5px, 1.5px);
  d: path("M5.5 10a3.5 3.5 0 1 0 0-7a3.5 3.5 0 0 0 0 7m0 11a3.5 3.5 0 1 0 0-7a3.5 3.5 0 0 0 0 7M22 6L8.65 15.98M22 17.97L8.65 7.98");
}
