.xkc75ccoe {
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("m15 7.674l1.409-1.487C17.159 5.396 17.534 5 17.999 5c.467 0 .842.396 1.592 1.187L21 7.674m-3-2.587v4.375c0 2.234 0 3.35-.447 4.335s-1.287 1.72-2.968 3.191L14 17.5");
}
