.xl3p3u9oi {
  fill: var(--svg-color--011d33, #011D33);
  fill-rule: nonzero;
  d: path("M150.77 104.101s.526 1.174.122 1.235c-.392.061.172.049-.098-.759c-.11-.306-.281-.685-.367-.685c0 0 .306.111.343.209");
}
