.xlgg0ubnu {
  fill: var(--svg-color--fecf3e, #fecf3e);
  fill-rule: evenodd;
  stroke: var(--svg-color--512007, #512007);
  stroke-width: var(--svg-stroke-width--0-5px, 0.5px);
  d: path("M363 540.8c.4 0 0 2.6 2.4 2c2.3-.6 2.9-2 2.9-2s.6 3.2 3.8 2.9s5-3.8 5-3.8s.2 2.6 2.2 1.7s2.6-2.9 2.6-2.9l-18.3 2.6zm0-17.2s-2.6.9-1.7 6.1s3 8.2 3.2 8.2s2.6-5 6.1-5.8c3.5-1 9.6 2.6 9.6 2.6s-.6-4.7.3-9a18 18 0 0 1 3.8-7.6s-20.4 5.5-21.2 5.5z");
}
