.xm-euhbvz {
  fill: none;
  stroke: var(--svg-color--000, #000);
  stroke-miterlimit: 10;
  stroke-width: var(--svg-stroke-width--1-6px, 1.6px);
  d: path("M51.044 48.407c-.814 2.827-3 4.422-5.544 4.422s-4.73-1.595-5.544-4.422");
}
