.xm-rpqbnj {
  fill: var(--svg-color--007e93, #007e93);
  stroke: var(--svg-color--007e93, #007e93);
  stroke-miterlimit: 2.6;
  stroke-width: var(--svg-stroke-width--0-2px, 0.2px);
  d: path("M293.8 245L283 263h72.7l-10.9-18z");
}
