.xm0unvb9c {
  fill: none;
  stroke: currentColor;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: var(--svg-stroke-width--2px, 2px);
  d: path("M1.4 17q-.9-5 0-10Q1.8 4.8 4 4.5q8-1 16 0q2.2.3 2.6 2.5q.9 5 0 10q-.4 2.2-2.6 2.5q-8 1-16 0q-2.2-.3-2.6-2.5m8.1-8.5v7l6-3.5Z");
}
