.xmd7kl32g {
  stroke: var(--svg-color--191919, #191919);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M3.391 10.087a2.391 2.391 0 1 0 0-4.783a2.391 2.391 0 0 0 0 4.783m0 8.609a2.391 2.391 0 1 0 0-4.783a2.391 2.391 0 0 0 0 4.783m5.261-7.174v-8.13a.957.957 0 0 1 .956-.957h12.436A.957.957 0 0 1 23 3.39v17.22a.957.957 0 0 1-.956.956H9.608a.957.957 0 0 1-.956-.956v-4.783");
}
