.xmkxgrpnc {
  fill: var(--svg-color--000, #000);
  fill-rule: nonzero;
  d: path("M200.884 66.908c.214.463.941 1.982 1.288 2.081c.394.112.664-.258.674-.275l.041-.057l-.039-.057c-.123-.182-1.223-1.785-1.865-1.836l-.171-.012zm1.343 1.887c-.158-.046-.631-.879-1.032-1.71c.473.27 1.141 1.127 1.441 1.561c-.063.071-.204.207-.409.149");
}
