.xmr0g07qk {
  fill: var(--svg-color--ce1126, #CE1126);
  fill-rule: nonzero;
  stroke: var(--svg-color--000, #000);
  stroke-width: var(--svg-stroke-width--0-15px, 0.15px);
  d: path("m154.432 106.523l-.666.346l.379.748c-.277-.047-1.281-.393-1.61-.495c.082-.234.113-.262.082-.551l.113-.533l.81.271c.307.093.564.158.892.214zm-8.745.118l.666.346l-.379.748c.277-.047 1.282-.393 1.61-.495c-.082-.234-.113-.262-.082-.551l-.113-.533l-.81.271a7 7 0 0 1-.892.214z");
}
