.xnr_w0nnj {
  stroke: var(--svg-color--011f36, #011F36);
  stroke-width: var(--svg-stroke-width--0-049px, 0.049px);
  d: path("M165.276 88.957c-.012.392-.453 1.358-.526 1.664s-.086.636-.159.929c-.122.502-.098.49-.269.966c-.085.233-.343.502-.502.599c-.024.012-2.068-3.34-2.117-3.352");
}
