.xo-h30yov {
  fill: var(--svg-color--555, #555);
  stroke: var(--svg-color--fff, #fff);
  stroke-linejoin: round;
  stroke-width: var(--svg-stroke-width--4px, 4px);
  d: path("m24 42l-9-13h18zm0-36l-9 13h18z");
}
