.xp4t50r2e {
  stroke: var(--svg-color--191919, #191919);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M17.261 12.478a5.22 5.22 0 0 1-1.894 4.037L12 12.478l2.966-4.342a5.24 5.24 0 0 1 2.295 4.342");
}
