.xpd3oob2g {
  fill-rule: evenodd;
  d: path("M10.988 7.391L5.04 12.348c-1.537 1.28.384 3.585 1.92 2.304l5.04-4.2l5.04 4.2c1.536 1.28 3.457-1.024 1.92-2.304L13.012 7.39A1.482 1.482 0 0 0 12 6.973a1.482 1.482 0 0 0-1.012.418Z");
  opacity: var(--svg-opacity--0-8, 0.8);
}
