.xq8topals {
  fill: var(--svg-color--2859c5, #2859c5);
  fill-rule: evenodd;
  d: path("M34.378 23.83a3 3 0 0 0-4.756-3.659l-7.12 9.256l-4.353-4.468a3 3 0 1 0-4.298 4.187l6.77 6.948a3 3 0 0 0 4.526-.265z");
}
