.xqfg9cdhq {
  fill: none;
  stroke: var(--svg-color--000, #000);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
  stroke-width: var(--svg-stroke-width--2px, 2px);
  d: path("M30.043 46.019c1.283-.82 3.87-1.038 5.957-1.038s4.674.218 5.957 1.038");
}
