.xr44x3l_l {
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("m55.21 33.573l.763 8.58a26 26 0 0 0 .762 3.717l2.765 7.817c.381.953 0 1.811-.763 1.811a3.52 3.52 0 0 1-2.383-1.62l-4.004-7.245a15.5 15.5 0 0 1-1.239-3.527l-.667-3.813M46.63 21.18c-1.906-1.907-4.098-2.478-5.72-1.907a42 42 0 0 1-9.531 1.907a15.2 15.2 0 0 1-7.627-2.86m.286 8.77l-3.717 4.195a3.87 3.87 0 0 0-.668 3.241l2.574 7.817a12 12 0 0 1 .477 3.718l-.477 9.533a1.96 1.96 0 0 1-1.716 1.906a1.884 1.884 0 0 1-1.716-1.906l-.572-8.58a12 12 0 0 0-.953-3.622l-1.144-2.384a11.7 11.7 0 0 0-2.288-2.955l-2.764-2.288a4.83 4.83 0 0 1-1.43-3.145a5.96 5.96 0 0 1 1.24-3.337l7.34-8.103");
}
