.xs7bwc8re {
  fill: currentColor;
  d: path("M19.582 16.713S16.5 20 13.502 20H4v-3.5c3 0 2.5-2.75 5.433-2.75H12.5c1.499 0 1.499 1.85 0 1.85h-2c-1.5 0-1.5 1.991 0 1.991h3.001c1.936 0 3.539-1.355 5.037-2.415c1.03-.607 2.06.745 1.044 1.537");
  opacity: var(--svg-opacity--0-5, 0.5);
}
