.xsahr0b6i {
  stroke: var(--svg-color--2859c5, #2859c5);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M45 24.5V31c0 4.027-.186 7.061-.398 9.21c-.245 2.496-2.258 4.288-4.762 4.425c-3.222.177-8.402.365-15.84.365s-12.617-.188-15.84-.365c-2.503-.137-4.516-1.93-4.762-4.425C3.186 38.06 3 35.027 3 31v-6.5");
}
