.xsai7fb6g {
  fill: var(--svg-color--171796, #171796);
  fill-rule: nonzero;
  d: path("m143.469 27.815l-.015.012l-7.903-4.529l-5.986 6.841l3.94 15.527a68.7 68.7 0 0 1 11.287-1.885zm27.999 2.332l-.019.007l-5.998-6.856l-7.886 4.52l-1.33 15.965c3.86.32 7.63.958 11.286 1.889z");
}
