.xt42sbb9y {
  stroke: var(--svg-color--000, #000);
  stroke-width: var(--svg-stroke-width--0-088px, 0.088px);
  d: path("M164.253 61.401s1.853 2.428 1.439 2.724c-.413.303-2.598.177-4.156-2.192c-1.565-2.377-.037-.126-.037-.126l.147-3.831l2.65 3.315");
}
