.xtx28hb3k {
  fill: var(--svg-color--c9f7ca, #c9f7ca);
  stroke: var(--svg-color--191919, #191919);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M12 4.827V1.002H6.74l-.956 3.825zm10.999 0l-1.65-3.296a.96.96 0 0 0-.854-.53H17.26l.957 3.826z");
}
