.xu279wb7y {
  fill: var(--svg-color--ad1519, #AD1519);
  fill-rule: nonzero;
  stroke: var(--svg-color--000, #000);
  stroke-width: var(--svg-stroke-width--0-156px, 0.156px);
  d: path("m113.928 87.364l-.484-.636l-1.348.172l1.076.784l.756-.32");
}
