.xu48xmbrd {
  fill: var(--svg-color--00034a, #00034a);
  stroke: var(--svg-color--00034a, #00034a);
  stroke-miterlimit: 10;
  d: path("M12.017 8.684q-.007.472-.018.949a83 83 0 0 0-.024 1.689c0 1.364 0 2.861.086 4.14c-5.228 5-10.551 12.918-10.551 16.791c0 2.732 1.44 5.656 4.303 6.206c1.365.513 8.672.648 14.72.648c6.05 0 13.358-.134 14.703-.65c2.738-.524 3.254-3.196 3.254-5.208c0-3.874-5.324-11.792-10.6-16.8c.067-1.288.077-2.767.077-4.132V8.94a5.7 5.7 0 0 0 1.144-.22c1.659-.416 1.908-1.908 1.908-3.1c0-1.752-1.16-3.744-2.96-4.096a46 46 0 0 0-8.585-.62a46 46 0 0 0-8.586.62c-1.584.315-1.908 1.908-1.908 3.1c0 1.73 1.314 3.61 3.037 4.06Z");
}
