.xuxu0gbmu {
  fill: var(--svg-color--fff, #fff);
  fill-rule: evenodd;
  d: path("M5.704 12.685c-1.002-.097-1.808-.793-1.915-1.659l-.049-.414c.537-.654.975-1.074 1.61-1.524c.565-.402 1.322-.432 1.888-.03c1.294.92 2.378 2.249 3.086 3.534v.088a24 24 0 0 1-2.333.138a24 24 0 0 1-2.287-.133");
}
