.xv1z1gbnw {
  stroke: var(--svg-color--000, #000);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: var(--svg-stroke-width--0-167px, 0.167px);
  d: path("M224.453 89.162c1.342-.59 3.006 3.971 6.225 2.361m.268-4.722c-.429.59-.697 1.503-.751 2.307");
}
