.xv420iq_z {
  fill: currentColor;
  stroke: currentColor;
  stroke-width: var(--svg-stroke-width--1-003px, 1.003px);
  d: path("M501.094 355.622s-14.347 40.269-27.536 51.453c0 0 8.43 2.005 11.427 19.935c8.592-21.046 16.109-71.388 16.109-71.388z");
}
