.xw_39-ase {
  fill: var(--svg-color--f7e017, #f7e017);
  stroke: var(--svg-color--000, #000);
  stroke-width: var(--svg-stroke-width--0-4px, 0.4px);
  d: path("M383.3 339.6c3.2 0 13.2-1.2 16.9-1.2c1 0 1.7-1.7 1.7-3.8s-.8-3.7-1.7-3.7c-3.6 0-13.7-1.2-16.9-1.2s-13.2 1.2-16.8 1.2c-1 0-1.8 1.7-1.8 3.7c0 2.1.8 3.8 1.8 3.8c3.6 0 13.7 1.2 16.8 1.2zm-2-19.5a4 4 0 0 0-2.5-1c-2.1 0-3.9 1.9-3.9 4.1c0 2.3 1.7 4.2 3.9 4.2c2 0 3.8-1.9 3.8-4.2c0-1.7 2.1-1.7 2.1 0c0 3.7-2.6 6.6-6 6.6c-3.3 0-6-3-6-6.6s2.8-6.5 6-6.5q1.6 0 2.8.8z");
}
