.xwhsq3b5z {
  stroke-linecap: round;
  stroke-miterlimit: 1.5;
  stroke-width: var(--svg-stroke-width--9-214px, 9.214px);
  d: path("M1558 445.3v61.96c0 3.256-2.599 5.901-5.8 5.901h-104.9c-3.201 0-5.8-2.645-5.8-5.901V445.3c0-3.257 2.599-5.901 5.8-5.901h104.9c3.201 0 5.8 2.644 5.8 5.901");
}
