.xwid9xu0h {
  fill: var(--svg-color--debb7e, #debb7e);
  stroke: var(--svg-color--45413c, #45413c);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M7.11 40.76a2.88 2.88 0 0 0 2.71-3l-.57-10.1l-2.8 1.29a1.1 1.1 0 0 1-.86 0L3 28l1 10.21a2.88 2.88 0 0 0 3.11 2.55");
}
