.xwyy6_3ln {
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M11 19.49s-.93.024-1.9 0c-3.15-.08-4.724-.12-5.855-1.257s-1.164-2.672-1.23-5.742a69 69 0 0 1 0-2.956c.066-3.07.099-4.605 1.23-5.742c1.131-1.138 2.706-1.177 5.854-1.256c1.94-.05 3.862-.05 5.803 0c3.149.079 4.723.118 5.854 1.256s1.164 2.672 1.23 5.742c.007.357.012.977.014 1.478");
}
