.xxgy32bic {
  fill: none;
  stroke: var(--svg-color--45413c, #45413c);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M4 24.82s-1 .07-1-1.5s1.12-3 10-3s9.5 2.07 9.5 3.5s-1 1-1 1Zm40 0s1 .07 1-1.5s-1.12-3-10-3s-9.5 2.07-9.5 3.5s1 1 1 1Z");
}
