.xxi3nfo6l {
  fill: none;
  stroke: var(--svg-color--000, #000);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: var(--svg-stroke-width--2-216px, 2.216px);
  d: path("M30.746 20.455v-3.236a5.26 5.26 0 0 1 5.262-5.262h0a5.26 5.26 0 0 1 5.261 5.262v3.236");
}
