.xxor27add {
  stroke: var(--svg-color--000, #000);
  stroke-width: var(--svg-stroke-width--0-167px, 0.167px);
  d: path("M99.56 135.416c-1.127 1.154.268 3.274 1.959 2.629c1.69-.644 1.529-2.415 1.127-2.87");
}
