.xy0hqijou {
  fill: var(--svg-color--ff6242, #ff6242);
  stroke: var(--svg-color--45413c, #45413c);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M37.76 17.88h-2.48V15.4h-3.71v2.48h-2.48v3.71h2.48v2.48h3.71v-2.48h2.48z");
}
