.xy8kadpak {
  fill: var(--svg-color--8fbffa, #8fbffa);
  fill-rule: evenodd;
  d: path("M24.432 8.835A11.95 11.95 0 0 0 23.5 13.5c0 1.362.09 2.909.184 4.17c.236 3.171 2.29 5.972 5.316 7.047V26.5C29 32.299 24.299 37 18.5 37S8 32.299 8 26.5v-9C8 11.701 12.701 7 18.5 7c2.201 0 4.245.677 5.932 1.835");
}
