.xykem-b7p {
  fill: var(--svg-color--2e3ecd, #2e3ecd);
  fill-rule: evenodd;
  d: path("M10.034 25.306s.347-.05.875-.16c.686-.145 1.68-.392 2.616-.77c1.183-.473 2.618-1.293 2.618-2.561c-.637-.48-1.623-.663-2.618-.707c-.895-.043-1.802.03-2.461.114q-.211.45-.385.916c.719-.064 2.245-.186 2.804-.158h.004c.663.03 1.228.123 1.65.28a1.9 1.9 0 0 1-.418.463c-.404.337-.961.62-1.518.843l-.002.001c-.685.276-2.33.652-3.102.827q-.06.454-.063.912");
}
