.y-4f733an {
  fill: currentColor;
  fill-opacity: var(--svg-fill-opacity--0-4, 0.4);
  d: path("M4 8L20 8C20.5523 8 21 8.4477 21 9L21 17C21 19.2091 19.2091 21 17 21L7 21C4.7909 21 3 19.2091 3 17L3 9C3 8.4477 3.4477 8 4 8Z");
  stroke: none;
}
