.y-8hh6bmn {
  fill: var(--svg-color--fffdff, #fffdff);
  fill-rule: evenodd;
  d: path("M15.562 11.478s-.627.11-.598.212c.083.282.94.648 1.313.902c.764.518 1.487.46 2.025.123c.538-.338-2.74-1.237-2.74-1.237");
}
