.y-c0-e01s {
  fill: var(--svg-color--97c923, #97c923);
  fill-rule: evenodd;
  d: path("m13.437 12.99l1.247-1.239l.382.62l.267-.756l.297.567l.312-.43l.403.43l.37-.567l.316.567l.363-.43l.848.9l.152.339l-4.957.251z");
}
