.y-o-86bhb {
  stroke: currentColor;
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M28 28v20c0 11.045 8.954 20 20 20s20-8.955 20-20V20m-50.343 8h20.686c2.088 0 3.133-2.524 1.657-4l-9.879-9.88a3 3 0 0 0-4.242 0L16 24c-1.476 1.476-.43 4 1.657 4");
}
