.y-s4hhrxg {
  fill: var(--svg-color--ffef5e, #ffef5e);
  stroke: var(--svg-color--191919, #191919);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M18.088 6.39a1.435 1.435 0 1 0 0-2.869a1.435 1.435 0 0 0 0 2.87m0 12.175a1.435 1.435 0 1 0 0-2.87a1.435 1.435 0 0 0 0 2.87M5.913 6.39a1.435 1.435 0 1 0 0-2.869a1.435 1.435 0 0 0 0 2.87m0 12.175a1.435 1.435 0 1 0 0-2.87a1.435 1.435 0 0 0 0 2.87");
}
