.y01qu0bsu {
  fill: var(--svg-color--2f80ed, #2f80ed);
  stroke: var(--svg-color--2f80ed, #2f80ed);
  d: path("M28.402 61.5a5.196 5.196 0 1 1 5.196 9a5.196 5.196 0 0 1-5.196-9m26 0a5.196 5.196 0 1 1 5.196 9a5.196 5.196 0 0 1-5.196-9");
}
