.y1d-wu-4l {
  fill: none;
  stroke: currentColor;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: var(--svg-stroke-width--2px, 2px);
  d: path("M20 8L14 2L8 8M14 2L14 18C14 20.2091 12.2091 22 10 22L4 22");
}
