.y1d2yybis {
  fill: none;
  stroke: currentColor;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: var(--svg-stroke-width--2px, 2px);
  d: path("m9 3l10 18h-4L5 3zM5 3v18h4V10.5M19 21V3h-4v10.5");
}
