.y31hk0bqe {
  fill: var(--svg-color--058e6e, #058E6E);
  fill-rule: nonzero;
  stroke: var(--svg-color--000, #000);
  stroke-linejoin: round;
  stroke-width: var(--svg-stroke-width--0-15px, 0.15px);
  d: path("m233.812 120.859l-1.849-.237a.34.34 0 0 0-.379.294l-.012.094a.34.34 0 0 0 .295.381l1.85.237a.336.336 0 0 0 .378-.294l.012-.094a.343.343 0 0 0-.295-.381z");
}
