.y3cpnr_-q {
  fill: var(--svg-color--ff6242, #ff6242);
  stroke: var(--svg-color--45413c, #45413c);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M3.3 17.46a20.7 6.47 0 1 0 41.4 0a20.7 6.47 0 1 0-41.4 0");
}
