.y3gi2slkn {
  fill: none;
  stroke: currentColor;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: var(--svg-stroke-width--3px, 3px);
  d: path("M3 10v3a1 1 0 0 0 1 1h16a1 1 0 0 0 1-1v-3");
}
