.y3v2ytjze {
  fill: currentColor;
  d: path("M18.5492 15.3739L19.1373 16.8648C19.3173 17.3213 19.6787 17.6827 20.1352 17.8627L21.6261 18.4508C21.8518 18.5397 22 18.7576 22 19C22 19.2424 21.8518 19.4603 21.6261 19.5492L20.1352 20.1373C19.6787 20.3173 19.3173 20.6787 19.1373 21.1352L18.5492 22.6261C18.4603 22.8518 18.2424 23 18 23C17.7576 23 17.5397 22.8518 17.4508 22.6261L16.8627 21.1352C16.6827 20.6787 16.3213 20.3173 15.8648 20.1373L14.3739 19.5492C14.1482 19.4603 14 19.2424 14 19C14 18.7576 14.1482 18.5397 14.3739 18.4508L15.8648 17.8627C16.3213 17.6827 16.6827 17.3213 16.8627 16.8648L17.4508 15.3739C17.5397 15.1482 17.7576 15 18 15C18.2424 15 18.4603 15.1482 18.5492 15.3739Z");
  stroke: none;
}
