.y433obb2s {
  fill: var(--svg-color--a48253, #A48253);
  fill-rule: nonzero;
  d: path("M185.485 125.319c.73-.543 1.56-.844 1.874-.514c.842.889.885 2.589.3 3.086c-.589.5-1.959.46-3.141-1.033c-.25-.316.229-.991.967-1.539");
}
