.y5_dcccvi {
  stroke: var(--svg-color--092f63, #092f63);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M8.932 19.158V15.58l1.023-1.534l1.022 1.534v3.58m-2.045-2.047h2.045M23.249 6.887H.75l3.07-5.113h16.362zm-19.429 0l3.067-5.113M7.91 6.887l2.045-5.113M12 6.887V1.774m0 7.669l-2.045 1.534L7.91 9.443l-2.046 1.534L3.82 9.443l-1.534 1.534L.751 9.443V6.887M3.82 9.443V6.887M12 9.443V6.887M7.91 9.443V6.887m12.27 0l-3.067-5.113M16.09 6.887l-2.045-5.113M12 9.443l2.045 1.534l2.045-1.534l2.046 1.534l2.045-1.534l1.534 1.534l1.534-1.534V6.887M20.18 9.443V6.887M16.09 9.43V6.886");
}
