.y5boo5bso {
  fill: none;
  stroke: currentColor;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: var(--svg-stroke-width--1-5px, 1.5px);
  d: path("M6 16h4l-4 4h4M4 4h7l-7 8h7m3-3h6l-6 6h6");
}
