.y5fwbktee {
  fill: var(--svg-color--fff, #fff);
  stroke: var(--svg-color--fff, #fff);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M37.3 41.17c-.407 1.109.374 2.652 1.321 3.042c.946.39 1.561 1.505 1.695 2.089c3.876-4.469-.057-9.553-3.42-9.193c1.554 1.526.811 2.953.404 4.062");
}
