.y5kugdc_x {
  fill: none;
  stroke: var(--svg-color--000, #000);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
  stroke-width: var(--svg-stroke-width--2px, 2px);
  d: path("m55.285 40.723l2.829-2.829l7.375 7.375l-2.829 2.829z");
}
