.y5ojkzbkl {
  fill: var(--svg-color--4f4f4f, #4f4f4f);
  fill-rule: evenodd;
  d: path("M72 25.365c0-.985-.61-1.866-1.533-2.212L42.809 12.781a8 8 0 0 0-5.618 0L9.533 23.153a2.363 2.363 0 0 0 .83 4.575h59.274A2.363 2.363 0 0 0 72 25.365");
}
