.y76spm90a {
  fill: var(--svg-color--45413c, #45413c);
  stroke: var(--svg-color--45413c, #45413c);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M14.56 15.94a.83.83 0 0 1-.83.83a.84.84 0 0 1-.84-.83a.85.85 0 0 1 .84-.84a.84.84 0 0 1 .83.84");
}
