.y7vtg5pyk {
  fill: var(--svg-color--eb5757, #eb5757);
  fill-rule: evenodd;
  d: path("M51.126 14.327c-3.782.803-6.475 3.207-6.016 5.367l.832 3.914c1.507-1.586 3.765-2.846 6.431-3.413s5.242-.334 7.263.502l-.832-3.913c-.459-2.161-3.897-3.261-7.678-2.457");
}
