.y7wgk8bfu {
  stroke: var(--svg-color--191919, #191919);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M16.81 21.143a4.331 4.331 0 1 0 0-8.662a4.331 4.331 0 0 0 0 8.662M22.999 23l-3.106-3.106");
}
