.y8422ac4p {
  stroke: var(--svg-color--000, #000);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: var(--svg-stroke-width--0-35px, 0.35px);
  d: path("M140.18 53.145a1.466 1.466 0 1 1 2.931 0a1.466 1.466 0 0 1-2.931 0");
}
