.y84xn0bgh {
  fill: var(--svg-color--b1cc33, #b1cc33);
  stroke: var(--svg-color--b1cc33, #b1cc33);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
  stroke-width: var(--svg-stroke-width--1-8px, 1.8px);
  d: path("M31.88 32.544h3.075a1.957 1.957 0 1 1 0 3.915H22.093a6.291 6.291 0 1 0 0 12.583h5.82l.152-4.194h-5.692c-1.081 0-2.115-.892-2.115-1.973s1.034-1.942 2.115-1.942h12.443a6.291 6.291 0 1 0 0-12.583H31.88z");
}
