.y9-vxob5p {
  fill: none;
  stroke: var(--svg-color--fcd34d, #fcd34d);
  stroke-dasharray: 12.6 12.6;
  stroke-linecap: round;
  stroke-miterlimit: 10;
  stroke-width: var(--svg-stroke-width--4px, 4px);
  d: path("M315.4 201.4L231 243.6");
}
