.y9i0ofb8i {
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("m25 28l5.077-1.45a2.005 2.005 0 0 0 1.373-2.473l-.9-3.154a1.82 1.82 0 0 1 1.41-2.315l1.08-.216c1.077-.216 2.473.348 3.099 1.252l6.722 9.712c.626.904.737 2.449.245 3.433l-.211.422c-.493.984-1.682 2.226-2.643 2.76l-5.504 3.057c-.96.535-1.394 1.8-.963 2.81l1.847 4.323c.432 1.01.016 2.29-.923 2.839c-.94.55-2.151.216-2.691-.742l-2.927-5.19c-.54-.958-.961-2.265-.935-2.905c.028-.64.632-1.848 1.344-2.687l4.205-4.952c.712-.838 1.07-2.199.795-3.024L34 28");
}
