.y_s09_m7v {
  fill: none;
  stroke: var(--svg-color--000, #000);
  stroke-miterlimit: 10;
  stroke-width: var(--svg-stroke-width--2-251px, 2.251px);
  d: path("M52.01 12.6q.252.252.495.508c10.49 11.02 10.32 28.47-.498 39.29c-10.99 10.99-28.81 10.99-39.8.002z");
}
