.yaul28b5w {
  fill: var(--svg-color--2859c5, #2859c5);
  fill-rule: evenodd;
  d: path("M31.75 42.424a320 320 0 0 1-3.5.055V38.5a1.75 1.75 0 1 1 3.5 0zm0-36.848V9.5a1.75 1.75 0 0 1-3.5 0V5.521q1.882.02 3.5.055M30 14.75c.967 0 1.75.784 1.75 1.75v4a1.75 1.75 0 1 1-3.5 0v-4c0-.966.784-1.75 1.75-1.75m1.75 12.75a1.75 1.75 0 1 0-3.5 0v4a1.75 1.75 0 1 0 3.5 0z");
}
