.ybmnfue9e {
  fill: var(--svg-color--fab81c, #FAB81C);
  fill-rule: nonzero;
  stroke: var(--svg-color--6c301e, #6C301E);
  stroke-width: var(--svg-stroke-width--0-017px, 0.017px);
  d: path("M164.38 114.146c-.161-.079-.236-.238-.183-.345s.219-.135.38-.056s.25.232.198.34c-.054.107-.234.141-.395.061z");
}
