.ybx-h-60a {
  fill: var(--svg-color--6bafff, #6bafff);
  fill-rule: evenodd;
  d: path("M16.847 20.362a.87.87 0 0 1 .676-.266c1.011.054 2.091.247 3.107.428l.284.05c1.128.2 2.165.37 3.086.37s1.958-.17 3.086-.37l.283-.05c1.016-.181 2.096-.374 3.107-.428a.873.873 0 0 1 .917.953c-.075.785-.355 1.792-1.28 2.585c-.91.781-2.31 1.238-4.367 1.238c-.886 0-1.451-.662-1.707-.97l-.04-.046l-.038.047c-.256.307-.82.969-1.706.969c-2.059 0-3.459-.457-4.37-1.238c-.923-.793-1.203-1.8-1.278-2.585a.87.87 0 0 1 .24-.687");
}
