.yc0zi26ph {
  fill: none;
  stroke: var(--svg-color--000, #000);
  stroke-width: var(--svg-stroke-width--0-5px, 0.5px);
  d: path("M487.9 265.8c-.8 9.5-4.6 18-7.1 27m10.5-26.9c-.8 9.2-3.7 17.8-6 26.5m8.9-27.3a175 175 0 0 1-4.6 27.2");
}
