.yc6czgbis {
  fill: var(--svg-color--b2b2b2, #b2b2b2);
  fill-rule: evenodd;
  d: path("M15.62 2.487a6.87 6.87 0 0 0-4.45-1.485c-3.279 0-5.998 1.34-6.603 4.502a.48.48 0 0 0 .41.614l2.864.356a.65.65 0 0 0 .512-.56a2.35 2.35 0 0 1 2.407-1.789a2.02 2.02 0 0 1 1.637.768c.36.801.484 1.689.358 2.558c-4.578.341-8.692 1.102-8.692 5.827a4.35 4.35 0 0 0 1.713 3.75l2.911-2.912a2.55 2.55 0 0 1-.335-1.35a2.69 2.69 0 0 1 2.2-2.76c.723-.148 1.46-.216 2.199-.202v.251l4.136-4.135a4.47 4.47 0 0 0-1.267-3.433");
}
