.yccwtyb9j {
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("m59.135 38.14l1.82 11.526c.171 1.087.78 2.745 1.35 3.685l4.824 7.94c.57.94.363 2.16-.462 2.709c-.825.55-2.034.276-2.687-.61l-5.27-7.135c-.652-.886-1.514-2.448-1.913-3.473l-2.203-5.653m5.064-21.603l-.36-6.771C59.092 16.874 57.252 15 55.052 15H55c-2.2 0-4.2 1.83-4.446 4.017l-.47 4.213");
}
