.ydb7nlglf {
  fill: none;
  stroke: var(--svg-color--000, #000);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: var(--svg-stroke-width--2px, 2px);
  d: path("M16.874 15.048C2.356 28.195 4.886 45.965 15.45 56.301a30.36 30.36 0 0 0 29.301 7.354c24.894-10.388 23.722-34.762 11.526-47.931c-9.11-9.836-24.4-13.299-39.402-.676");
}
