.yea7jvb0a {
  stroke: var(--svg-color--092f63, #092f63);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
  d: path("M21.204 9.955L12 .75L2.797 9.955h4.09L8.42 23.249h7.158l1.534-13.294z");
}
