.yf4vwlbek {
  fill: var(--svg-color--ad1519, #AD1519);
  fill-rule: nonzero;
  d: path("M130.432 90.964c-.972 0-1.852-.088-2.524-.26c.672-.172 1.552-.276 2.524-.28c.976 0 1.86.108 2.528.28c-.668.172-1.552.26-2.528.26");
}
