.yf9np-hus {
  fill: var(--svg-color--fff, #fff);
  fill-rule: evenodd;
  d: path("M15 27C16.3807 27 17.5 25.8807 17.5 24.5C17.5 23.1193 16.3807 22 15 22C13.6193 22 12.5 23.1193 12.5 24.5C12.5 25.8807 13.6193 27 15 27Z");
}
