.yfbkwybfn {
  fill: var(--svg-color--161616, #161616);
  stroke: var(--svg-color--161616, #161616);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("m177.9 230.9l-4.8-3.3h-27.7l-4.8 3.3l-2.5 22.1l2.3-2.2h37.7l2.5 2.2z");
}
