.yguqso4db {
  fill: var(--svg-color--1c1e20, #1c1e20);
  fill-rule: evenodd;
  d: path("M246.6 161.6q1.8 13.5 2.1 27.3c20.8 4.7 37.3 15.8 49.3 33.6c28-16.6 42.3-8.9 43 23.1c-.7 4.6-2.8 8.4-6.3 11.5c-10.3 2.8-20.8 3.8-31.5 3.1c-3.6 21.6-14.8 38-33.6 49.3c1.3 4.8 2.7 9.3 4.2 13.6c2.3 6.8 2.6 13.8 1 21c-2.2 2.5-4.6 4.6-7.3 6.3c-29.7 8.5-41.9-2.7-36.7-33.6c-19.9-4.9-35.6-15.7-47.2-32.5c-9.1-.1-17.9 1.7-26.2 5.2q-16.95-1.35-18.9-18.9c-1-4.1-1.4-8.3-1-12.6c1.5-4.6 4.3-8.5 8.4-11.5c10.1-2.1 20.3-3.9 30.4-5.2q7.05-29.1 31.5-46.2c-2-10.3-3.8-20.8-5.2-31.5c5.2-9.4 13.3-13.6 24.1-12.6c9.6-1.6 16.2 1.9 19.9 10.6");
}
