.ygyz9ab2c {
  stroke: var(--svg-color--000, #000);
  stroke-width: var(--svg-stroke-width--0-088px, 0.088px);
  d: path("M159.676 64.996s.288 2.155-.155 2.222c-.435.059-1.654-.664-2.119-2c-.465-1.329 2.045-1.07 2.045-1.07l.34.775");
}
