.yihdv5bwz {
  fill: var(--svg-color--fff, #fff);
  fill-rule: evenodd;
  d: path("M99.727 51.973s-.122-.73-.188-.723l-13.215 1.281a2.15 2.15 0 0 0-1.941 2.004l-.363 5.227l-10.22.734l-.695-4.738a2.17 2.17 0 0 0-2.132-1.852H57.03a2.176 2.176 0 0 0-2.133 1.852l-.695 4.738l-10.219-.734l-.363-5.227a2.16 2.16 0 0 0-1.941-2.008L28.46 51.25c-.065-.008-.116.723-.187.723l-.015 2.875l11.191 1.816l.367 5.273a2.17 2.17 0 0 0 1.996 2.008l14.079 1.012a2.17 2.17 0 0 0 2.285-1.844l.715-4.875h10.226l.715 4.875a2.166 2.166 0 0 0 2.129 1.848q.076.001.152-.004l14.078-1.012a2.17 2.17 0 0 0 1.996-2.008l.368-5.273l11.187-1.824zm0 0");
}
