.yips5itcq {
  fill: none;
  stroke: var(--svg-color--45413c, #45413c);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M7.31 25.81h33.38v11.68a2.22 2.22 0 0 1-2.22 2.22H9.54a2.22 2.22 0 0 1-2.22-2.22V25.81z");
}
