.yjs3j924h {
  fill: currentColor;
  fill-opacity: var(--svg-fill-opacity--0-4, 0.4);
  d: path("M11.8433 18.2337L12.3873 19.6127L13.7663 20.1567C13.9074 20.2123 14 20.3485 14 20.5C14 20.6515 13.9074 20.7877 13.7663 20.8433L12.3873 21.3873L11.8433 22.7663C11.7877 22.9074 11.6515 23 11.5 23C11.3485 23 11.2123 22.9074 11.1567 22.7663L10.6127 21.3873L9.2337 20.8433C9.0926 20.7877 9 20.6515 9 20.5C9 20.3485 9.0926 20.2123 9.2337 20.1567L10.6127 19.6127L11.1567 18.2337C11.2123 18.0926 11.3485 18 11.5 18C11.6515 18 11.7877 18.0926 11.8433 18.2337Z");
  stroke: none;
}
