.ykv9o7wwy {
  fill: none;
  stroke: var(--svg-color--45413c, #45413c);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M31.38 41c-1.35 1.79.48 2.22 1.75 3.66s2.8.88 2.46-2c-.38-3.13-2.74-3.58-4.21-1.66");
}
