.yl73xwk6m {
  fill: none;
  stroke: var(--svg-color--000, #000);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: var(--svg-stroke-width--2px, 2px);
  d: path("M46 38.096c2.1 0 3.219-3.437 3.701-7.899c-.036.06-.076.139-.11.192m-27.182 0c-.034-.053-.074-.132-.11-.192c.483 4.462 1.6 7.899 3.701 7.899M49.976 25.83q.023-.864.024-1.734c0-6-5-12-14-12s-14 6-14 12q.002.87.024 1.733");
}
