.yla7ipb-e {
  fill: none;
  stroke: currentColor;
  stroke-linecap: square;
  stroke-width: var(--svg-stroke-width--2px, 2px);
  d: path("M8 12V6a1 1 0 0 1 1-1h6a1 1 0 0 1 1 1v6m-8 0v7m0-7h8m0 0v7");
}
