.ylpji7cqa {
  width: 20px;
  height: 8px;
  x: 30px;
  y: 9px;
  fill: var(--svg-color--f2994a, #f2994a);
  stroke: var(--svg-color--f2994a, #f2994a);
  stroke-width: var(--svg-stroke-width--4px, 4px);
  rx: 4px;
}
