.ym38kdzzm {
  stroke: var(--svg-color--000, #000);
  stroke-width: var(--svg-stroke-width--0-25px, 0.25px);
  d: path("M138.85 100.691h8.474c.178 0 .325.176.325.393c0 .214-.147.391-.325.391h-8.474c-.178 0-.324-.176-.324-.391c-.001-.218.145-.393.324-.393z");
}
