.ymf4p-bux {
  fill: currentColor;
  fill-opacity: var(--svg-fill-opacity--0-25, 0.25);
  d: path("M58 50h12v12H58zm-48 0h12v12H10zm24-32h12v12H34zm-20 6a4 4 0 1 1-8 0a4 4 0 0 1 8 0m60 0a4 4 0 1 1-8 0a4 4 0 0 1 8 0");
}
