.ymwliiw8b {
  fill: none;
  stroke: var(--svg-color--f8af18, #f8af18);
  stroke-miterlimit: 10;
  stroke-width: var(--svg-stroke-width--9px, 9px);
  d: path("M402.3 369.8v-66.4c0-12.3-8.9-22.4-19.8-22.4h-62.6a120 120 0 0 0-74.2 26.3a143.7 143.7 0 0 0-42.2 54.8l-13.4 30h192.4c11 0 19.8-10 19.8-22.4Z");
}
