.ynzr8ibse {
  fill: var(--svg-color--2859c5, #2859c5);
  fill-rule: evenodd;
  d: path("M6.125 7.267a.875.875 0 1 1 1.75 0v.5h-1.75zm-1.25.72v-.72a2.125 2.125 0 1 1 4.25 0v.72a1 1 0 0 1 .375.78v2a1 1 0 0 1-1 1h-3a1 1 0 0 1-1-1v-2c0-.316.146-.598.375-.78");
}
