.yo0n9h0ln {
  fill: none;
  stroke: var(--svg-color--000, #000);
  stroke-linejoin: round;
  stroke-width: var(--svg-stroke-width--1-99px, 1.99px);
  d: path("M25.13 30.98v-1c0-1.36 5.47-4.1 10.22-6.97m9.76 1.03c1.2 2.04 1.8 4.19 1.8 6.94");
}
