.yo4_x7amz {
  stroke: var(--svg-color--191919, #191919);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M20.609 3.348A3.05 3.05 0 0 1 23 6.218V8.13a1.927 1.927 0 0 1-1.913 1.913h-2.87a1.93 1.93 0 0 1-1.913-1.913V6.696a44 44 0 0 0-8.608 0V8.13a1.93 1.93 0 0 1-1.913 1.913h-2.87A1.93 1.93 0 0 1 1 8.13V6.218a3.05 3.05 0 0 1 2.391-2.87a43 43 0 0 1 17.218 0m.478 17.218a.957.957 0 0 1-.957.956H3.87a.957.957 0 0 1-.957-.956v-1.913A7.674 7.674 0 0 1 10.565 11h2.87a7.675 7.675 0 0 1 7.651 7.653z");
}
