.yp5c0ubxx {
  fill: currentColor;
  fill-rule: evenodd;
  d: path("M11.01 6h1.98C14.1 6 15 6.9 15 8.01V19a3 3 0 1 1-6 0V8.01C9 6.9 9.9 6 11.01 6M13 8.01V19a1 1 0 1 1-2 0V8.01a.01.01 0 0 1 .01-.01h1.98a.01.01 0 0 1 .01.01");
}
