.ypbc99fbm {
  fill: var(--svg-color--9bff00, #9bff00);
  stroke: var(--svg-color--00034a, #00034a);
  stroke-miterlimit: 10;
  d: path("M36.96 22.355c-.33-.37-1.481-.556-2.923-.643c0-7.799-.244-12.868-7.204-15.431a11.7 11.7 0 0 0-.45-3.169C25.849.792 22.164.5 20 .5c-2.165 0-5.85.292-6.425 2.612a11.7 11.7 0 0 0-.4 3.169c-7.008 2.563-7.252 7.652-7.252 15.43c-1.403.088-2.554.274-2.924.644c-1.19.673-1.345 5.118-1.345 7.71c0 2.594.156 7.049 1.345 7.711c.595.673 3.772.741 6.404.741h21.154c2.632 0 5.848-.068 6.404-.74c1.19-.663 1.345-5.118 1.345-7.711s-.156-7.038-1.345-7.71z");
}
