.yplo2g0fd {
  fill: none;
  stroke: var(--svg-color--000, #000);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: var(--svg-stroke-width--2px, 2px);
  d: path("M48.036 20.612c3.415.186 4.865 2.27 5.26 3.741c-2.88-.515-3.37 1.559-3.37 1.559c-.14 6.45-1.203 12.46-3.983 12.46M22.162 23.786c-1.56-.13-4.034-2.745-3.598-3.954c4.595-1.09 6.998-4.454 13.684-5.056a2.89 2.89 0 0 0-.836-2.954c1.636-.912 6.347-1.01 7.307 3.253M25.943 38.371c-3.977-.12-5.352-11.873-3.797-14.517");
}
