.yqkfz2b7w {
  stroke: var(--svg-color--000, #000);
  stroke-miterlimit: 10;
  d: path("M143.5 363.373V104.5h-12.47l.313 222.514c0 11.053.314 19.196 1.57 23.852s5.293 10.762 7.177 11.634s3.412.873 3.412.873z");
}
