.yqrx76bpz {
  stroke: var(--svg-color--191919, #191919);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M4.01 13.502a9.714 9.714 0 0 1 9.157-11.005a9.513 9.513 0 0 1 .701 19.013m-3.856-5.994h4.006");
}
