.yqxfb_bdf {
  stroke: var(--svg-color--092f63, #092f63);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
  d: path("m20.692.751l2.557 2.166l-1.955 2.676L23.25 8.3l-2.557 2.166m-9.068 2.557h-5.55l.812 6.135h4.168zm2.932-7.159h4.09m-4.09-2.044l3.579-2.046M14.557 7.91l3.579 2.045M8.42 3.82H4.33v3.067h4.09z");
}
