.yru5ocb0i {
  fill: var(--svg-color--ededed, #ededed);
  fill-rule: evenodd;
  d: path("m229.7 146.5l.8-3.7c1.3-6.1 6.5-10.6 12.7-11c13.5-1 26.2 0 38.3 3c12 3 23.3 7.9 33.8 14.8c4.8 3.2 7.2 9 6 14.7l-1 4.6c-1.1 5.1-6.2 8.4-11.3 7.3c-1-.2-2-.6-2.9-1.1c-10.4-6.2-21.2-10.7-32.3-13.4c-10.9-2.7-22.2-3.7-33.8-3c-5.5.3-10.2-3.8-10.6-9.3c0-1 .1-2 .3-2.9");
}
