.ys9y67byt {
  stroke: var(--svg-color--000, #000);
  stroke-width: var(--svg-stroke-width--0-944px, 0.944px);
  d: path("M809.564 181.844c.672-3.25 1.906-3.813 3.25-7.954c.219-4.03-3.25-3.593-2.25-6.156c1.797-2.812.906-5.5-2.453-7.625c.672 3.703-4.375 7.172-4.375 10.188c0 3.031 2.578 2.36 2.234 6.953c.235 2.687-.672 2.015-.89 4.594Zm0 0");
}
