.ysayr_bws {
  fill: currentColor;
  fill-opacity: var(--svg-fill-opacity--0-25, 0.25);
  d: path("m71 21l-7 28H26l-7-28zM26.402 61.5a5.196 5.196 0 1 1 5.196 9a5.196 5.196 0 0 1-5.196-9m33 0a5.196 5.196 0 1 1 5.196 9a5.196 5.196 0 0 1-5.196-9");
}
