.ysh_i82po {
  stroke: var(--svg-color--fff500, #FFF500);
  stroke-width: var(--svg-stroke-width--0-049px, 0.049px);
  d: path("M148.396 75.352c.477-.367 1.236-.551 1.872-.551c.673 0 1.407.183 1.884.563");
}
