.ytsw5ybgk {
  fill: var(--svg-color--ce1126, #CE1126);
  fill-rule: nonzero;
  stroke: var(--svg-color--000, #000);
  stroke-linecap: round;
  stroke-width: var(--svg-stroke-width--0-15px, 0.15px);
  d: path("M208.476 118.268c.451.726 1.139 1.108 1.536.854s.353-1.049-.098-1.775c-.452-.726-1.139-1.108-1.536-.853c-.397.253-.353 1.048.098 1.774z");
}
