.yuvot_blh {
  fill: var(--svg-color--f1b517, #F1B517);
  fill-rule: nonzero;
  stroke: var(--svg-color--000, #000);
  stroke-width: var(--svg-stroke-width--0-15px, 0.15px);
  d: path("M150.926 81.304h-1.238l-.125.578h1.464z");
}
