.yv_qvf-ro {
  stroke: var(--svg-color--703d29, #703D29);
  stroke-width: var(--svg-stroke-width--0-296px, 0.296px);
  d: path("M150.054 61.912c3.755-.198 6.974-2.721 8.012-2.927c.926-.183 1.443-.1 2.122.517c-.679-.617-1.453-.598-2.331-.253c-1.805.708-3.974 2.741-7.791 2.798m4.502 9.824c.348-.229.603-.594.749-1.046c.226-.698.231-1.292-.142-1.829c.46.602.503 1.111.373 1.842c-.082.466-.379.711-.749 1.046m24.12 40.387v7.572h.02c0 .005-.003.717-.064 1.166c-.04.295-.081.561-.128.811");
}
