.yvj11htlz {
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M17.61 9.75a7.15 7.15 0 1 0-7.982 7.842m13.622-.342a1 1 0 0 0-1-1h-2.5v-2.5a1 1 0 0 0-1-1h-1.5a1 1 0 0 0-1 1v2.5h-2.5a1 1 0 0 0-1 1v1.5a1 1 0 0 0 1 1h2.5v2.5a1 1 0 0 0 1 1h1.5a1 1 0 0 0 1-1v-2.5h2.5a1 1 0 0 0 1-1z");
}
