.yvurp1b5g {
  fill-rule: evenodd;
  d: path("M50 34c-7.965 0-15.122 3.45-20.064 8.936A26.9 26.9 0 0 1 48 36c14.912 0 27 12.088 27 27a26.9 26.9 0 0 1-6.936 18.064C73.55 76.122 77 68.965 77 61c0-14.912-12.088-27-27-27");
  opacity: var(--svg-opacity--0-15, 0.15);
}
