.yw58qz3yd {
  fill: var(--svg-color--fff, #fff);
  fill-rule: evenodd;
  d: path("M145.727 111.754c-8.778 13.094-27.036 13.094-35.813 0c-4.133-6.16-10.8-9.816-17.91-9.816h-19.75c-8.086 0-14.637 6.984-14.637 15.597v55.719h140.41v-55.719c0-8.613-6.554-15.597-14.64-15.597h-19.75c-7.11 0-13.778 3.656-17.91 9.816");
}
