.ywud6jogy {
  fill: none;
  stroke: var(--svg-color--000, #000);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: var(--svg-stroke-width--2px, 2px);
  d: path("M50.81 39c-.665 1.725-3.014 3-5.81 3s-5.145-1.275-5.81-3m-6.38 0c-.665 1.725-3.014 3-5.81 3s-5.145-1.275-5.81-3");
}
