.yx_umsb2d {
  fill: none;
  stroke: currentColor;
  stroke-width: var(--svg-stroke-width--1-5px, 1.5px);
  d: path("M16.25 10.5v3m0-3H19m-2.75 0a4.2 4.2 0 0 0-.272-1.5m-6.205 8.12A4.25 4.25 0 0 1 7.75 13.5v-3m0 0H5m2.75 0c0-1.3.584-2.465 1.505-3.245M16.25 13.5A4.25 4.25 0 0 1 12 17.75m4.25-4.25H19m-11.25 0H5M7 5l2.255 2.255m0 0A4.23 4.23 0 0 1 12 6.25c.892 0 1.72.275 2.403.744M16 3.5l-1.597 3.494l-4.63 10.127L8 21");
}
