.yxoybqb4m {
  fill: var(--svg-color--009b3a, #009B3A);
  fill-rule: nonzero;
  stroke: var(--svg-color--000, #000);
  stroke-width: var(--svg-stroke-width--0-075px, 0.075px);
  d: path("M142.017 88.621c-.441 1.351-1.186 3.413-1.499 4.767c-.74-1.189-2.039-2.901-2.836-3.954c.798.768 1.828 1.914 2.621 2.469c.598-.855 1.188-2.29 1.714-3.282z");
}
