.yxzy8rq4r {
  fill: var(--svg-color--66e1ff, #66e1ff);
  stroke: var(--svg-color--191919, #191919);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M3.75 2.606a1.146 1.146 0 1 1-2.292 0a1.146 1.146 0 0 1 2.292 0m5.042 0a1.146 1.146 0 1 1-2.292 0a1.146 1.146 0 0 1 2.292 0m5.041 0a1.144 1.144 0 0 1-1.956.808a1.146 1.146 0 1 1 1.956-.808M3.75 7.19a1.145 1.145 0 1 1-2.205-.44a1.145 1.145 0 0 1 2.205.44m5.042 0a1.145 1.145 0 1 1-2.29-.003a1.145 1.145 0 0 1 2.29.002m5.041.001a1.144 1.144 0 0 1-1.956.808a1.144 1.144 0 0 1 .811-1.955a1.146 1.146 0 0 1 1.145 1.147M3.75 11.773a1.146 1.146 0 1 1-2.291 0a1.146 1.146 0 0 1 2.291 0m5.042 0a1.146 1.146 0 0 1-2.292 0a1.145 1.145 0 1 1 2.292-.002z");
}
