.yyvollj4c {
  fill: var(--svg-color--fcca3e, #fcca3e);
  stroke: var(--svg-color--aa8c30, #aa8c30);
  stroke-width: var(--svg-stroke-width--0-2px, 0.2px);
  d: path("m302.3 285.5l-2.5-4l.4-.1l2.9 3.3z");
}
