.yznqwnbtv {
  stroke: var(--svg-color--000, #000);
  stroke-width: var(--svg-stroke-width--0-065px, 0.065px);
  d: path("M119.105 81.126c-.524-.96-1.491-.421-1.491-.421c-.96.487-.716 1.786-.635 2.119l.022.081c1.772-2.82 2.074-.591 2.074-.591c.111-.509.03-1.188.03-1.188z");
}
