.yzq7vbe9n {
  fill: var(--svg-color--000, #000);
  fill-rule: nonzero;
  stroke: var(--svg-color--fed100, #FED100);
  stroke-width: var(--svg-stroke-width--20px, 20px);
  d: path("m300.5.5l-150 75l150 75M.5.5l150 75l-150 75");
}
