.yzxh2ey7n {
  fill: var(--svg-color--000, #000);
  fill-rule: nonzero;
  stroke: var(--svg-color--000, #000);
  stroke-width: var(--svg-stroke-width--0-075px, 0.075px);
  d: path("m149.13 94.309l4.109-2.646l-.316-.506l-2.058-2.797l-.997.736l-.537.447l-.091.089s-1.549 1.1-1.763.983a3 3 0 0 1-.335-.209l.067.446z");
}
