.d-e3iebub {
  fill: none;
  stroke: currentColor;
  stroke-linejoin: round;
  stroke-width: var(--svg-stroke-width--2px, 2px);
  d: path("M12.633 13.913a5.502 5.502 0 0 0 6.29-8.84a5.5 5.5 0 0 0-9.122 5.587l-6.08 6.081v2.829h4.242v-2.83h2.828v-2.828z");
}
