.d-t0lqmzz {
  fill: var(--svg-color--69f, #69F);
  fill-rule: nonzero;
  d: path("m164.724 140.61l1.342-.976c.57-.449 1.18-.856 1.832-1.303c0 0-.895-1.14-1.343-1.262c-.692-.243-1.506.121-1.668 1.587a37 37 0 0 0-.163 1.954");
}
