.d-t1cengz {
  width: 32px;
  height: 40px;
  x: 8px;
  y: 4px;
  stroke: var(--svg-color--000, #000);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: var(--svg-stroke-width--4px, 4px);
  rx: 2px;
}
