.d-xkbzdks {
  fill: var(--svg-color--1f601a, #1F601A);
  fill-rule: nonzero;
  stroke: var(--svg-color--000, #000);
  stroke-width: var(--svg-stroke-width--0-073px, 0.073px);
  d: path("M141.116 101.924s-.648-.428-1.933-.648c-.881-.159-.844-.196-1.174-.281c-.392-.122-.477-.122-1.199-.159c-.355-.025-1.749.428-2.08.233c-.306-.172.343.428.734.575c.563.208.49.575 1.101.771c.648.208 1.333.465 1.713.392c.294-.061.514-.196.93-.233c.403-.051 1.113-.638 1.908-.65zm.135-.33s.318-1.541.049-1.908a1.47 1.47 0 0 1-.343-.808c-.037-.379-.293-1.015-.465-1.223c-.171-.22-.514-1.199-.428-1.443c0 0-.893.881-.844 1.443c.037.551.037.416 0 .673c-.049.257.208 1.101.379 1.358s.086 1.027.257 1.186c.172.171 1.187.856 1.395.722z");
}
