.d01nswb_r {
  stroke: var(--svg-color--000, #000);
  stroke-width: var(--svg-stroke-width--0-15px, 0.15px);
  d: path("m159.493 104.213l.175.383m11.781-.263l.578-2.429m-1.28 2.289l.888-1.891m-2.415 1.393l2.002-1.075m-2.869.856l3.715-1.612");
}
