.d09b06_ir {
  fill: none;
  stroke: currentColor;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: var(--svg-stroke-width--1-5px, 1.5px);
  d: path("M7 17v-2a7 7 0 1 1 14 0v2zm0 0H2M14 6.01l.01-.011");
}
