.d10uhth4f {
  fill: var(--svg-color--67923d, #67923D);
  fill-rule: nonzero;
  stroke: var(--svg-color--24420e, #24420E);
  stroke-width: var(--svg-stroke-width--0-017px, 0.017px);
  d: path("M124.958 81.819c.671-2.276 4.648-6.02 5.425-6.261c-1.165 4.9-4.274 7.244-5.425 6.261z");
}
