.d11zk7bwu {
  fill: var(--svg-color--f1b31c, #f1b31c);
  stroke: var(--svg-color--000, #000);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: var(--svg-stroke-width--2px, 2px);
  d: path("M26 34L5 17v4l18.529 15L5 51v4l21-17h41v-4z");
}
