.d1n9r9ksb {
  stroke: var(--svg-color--000, #000);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: var(--svg-stroke-width--4px, 4px);
  d: path("M23 19L28 14C30.6667 11.3333 31 9 29 7");
}
