.d1nibendw {
  fill: none;
  stroke: var(--svg-color--45413c, #45413c);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M38.62 32.7H27.25A3.26 3.26 0 0 1 24 29.45v-12.6h9.75a4.88 4.88 0 0 1 4.87 4.88Zm-6.9-10.57v1.22m2.84 1.63h-1.22m-1.62 2.84V26.6m-2.85-1.62h1.22");
}
