.d1r8t8nvq {
  stroke: var(--svg-color--000, #000);
  stroke-width: var(--svg-stroke-width--0-12px, 0.12px);
  d: path("M130.952 85.956v.232h-1.012v-.232h.376v-.52h-.248v-.232h.248v-.232h.244v.232h.244v.232h-.244v.52h.392");
}
