.d4bk0tbjq {
  stroke: var(--svg-color--191919, #191919);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M20.853 12.109a11.1 11.1 0 0 0 1.19-4.71c0-7.356-8.91-7.93-10.043-.564C10.867-.531 1.957.043 1.957 7.963a11 11 0 0 0 .87 4.146m2.219 3.826a31.7 31.7 0 0 0 6.656 6.389a.48.48 0 0 0 .579-.02a40 40 0 0 0 6.2-6.369");
}
