.d4tpgwb9r {
  fill: var(--svg-color--009b3a, #009B3A);
  fill-rule: nonzero;
  stroke: var(--svg-color--000, #000);
  stroke-width: var(--svg-stroke-width--0-075px, 0.075px);
  d: path("M147.529 80.802c-.003-.011 2.508-.689 2.508-.689l-2.599.331l-.392.269z");
}
