.d4uebbsty {
  stroke: currentColor;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: var(--svg-stroke-width--1-5px, 1.5px);
  d: path("M6.992 16c-.809-.786-4-2.88-4-4s3.191-3.214 4-4m10 8c.81-.786 4-2.88 4-4s-3.19-3.214-4-4");
}
