.d5093jjpo {
  fill: var(--svg-color--2f80ed, #2f80ed);
  fill-rule: evenodd;
  d: path("m53.811 33.55l-4.148 6.408h3.888a6 6 0 0 1 6 6V57.99a4 4 0 1 1-8 0V47.957h-4.297a13.86 13.86 0 0 0-10.709-9.579l5.846-9.042l-3.98-1.989l-6.045 5.221a4 4 0 1 1-5.23-6.054l7.054-6.092a6 6 0 0 1 6.603-.827l10.663 5.327a6 6 0 0 1 2.355 8.628");
}
