.d5gt2jpwz {
  stroke: var(--svg-color--000, #000);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: var(--svg-stroke-width--0-466px, 0.466px);
  d: path("M158.63 130.645c1.549-.864 3.333-1.531 5.232-1.531c3.104 0 5.9 1.363 7.862 3.512m-42.116-.085c1.96-2.131 4.734-3.485 7.81-3.485c2.13 0 4.114.851 5.784 1.919c1.963-2.111 4.764-3.663 7.874-3.663c2.944 0 5.611 1.416 7.553 3.333");
}
