.d5sifuetj {
  fill: var(--svg-color--658d5c, #658D5C);
  fill-rule: nonzero;
  d: path("M119.114 140.368c-.653.023-1.349.023-1.994.131c-1.925.324-3.83 2.421-6.757 2.505c-3.894.112-6.354-1.722-9.015-4.34c3.873-.582 6.866-2.818 10.862-1.561c2.049.645 4.457 3.225 6.38 2.855z");
}
