.d655zobru {
  fill: var(--svg-color--fff, #FFF);
  stroke: var(--svg-color--21231e, #21231E);
  stroke-width: var(--svg-stroke-width--0-221px, 0.221px);
  d: path("M115.656 163.03c-.328.006-.852.172-1.317-.073c-.618-.326-.593-2.105-.868-3.173c-1.45-5.627-2.249-14.957-4.368-28.11c.45-.148.792-.177 1.117-.188l.046-.015c3.367 12.786 4.376 21.799 6.989 27.366c.242.771.9 2.82.271 3.534c-.348.394-.897.425-1.206.536z");
}
