.d6r0bob8n {
  fill: none;
  stroke: currentColor;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: var(--svg-stroke-width--2px, 2px);
  d: path("m9 4l6 4l6-4v12M6 6L3 8v12l6-4l6 4l3-2M3 3l18 18");
}
