.d6v0htbfx {
  fill: currentColor;
  fill-opacity: var(--svg-fill-opacity--0-15, 0.15);
  d: path("M534 352V136H232v752h560V394H576a42 42 0 0 1-42-42m72.3 122H641c6.6 0 12 5.4 12 12v272c0 6.6-5.4 12-12 12h-27.2c-6.6 0-12-5.4-12-12V581.7L535 732.3c-2 4.3-6.3 7.1-11 7.1h-24.1a12 12 0 0 1-11-7.1l-66.8-150.2V758c0 6.6-5.4 12-12 12H383c-6.6 0-12-5.4-12-12V486c0-6.6 5.4-12 12-12h35c4.8 0 9.1 2.8 11 7.2l83.2 191l83.1-191c1.9-4.4 6.2-7.2 11-7.2");
}
