.d7efzubqi {
  fill: var(--svg-color--de3108, #de3108);
  fill-rule: evenodd;
  stroke: var(--svg-color--000, #000);
  stroke-width: var(--svg-stroke-width--0-9px, 0.9px);
  d: path("m358.4 188.8l-5-9.2c2-2 5.2-3.4 10.4-3.4l-.5 10z");
}
