.d_36zgb0x {
  fill: var(--svg-color--d22f27, #d22f27);
  stroke: var(--svg-color--d22f27, #d22f27);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
  stroke-width: var(--svg-stroke-width--2px, 2px);
  d: path("M48.646 48.156c-.424.947-.848 1.893-.587 2.807c.262.913 1.208 1.794 2.513 2.038c1.305.245 2.969-.147 4.632-.538l4.575-1.77l1.15-4.932l-.408-5.6l-4.228 4.34l-4.71 1.631l-1.668-.037z");
}
