.da4s1502n {
  fill: var(--svg-color--009b3a, #009B3A);
  fill-rule: nonzero;
  stroke: var(--svg-color--000, #000);
  stroke-width: var(--svg-stroke-width--0-075px, 0.075px);
  d: path("M144.013 84.068c-1.017.812-2.625 2.005-3.541 2.896c-.001-1.399-.189-3.555-.302-4.881c.255 1.098.508 2.64.864 3.564c.896-.319 2.072-1.106 2.979-1.579z");
}
