.da8u-nbqa {
  fill: none;
  stroke: var(--svg-color--000, #000);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: var(--svg-stroke-width--2px, 2px);
  d: path("M28.22 47.532A11.4 11.4 0 0 0 36 49.236h0a12.3 12.3 0 0 0 3.968-1.394M16.26 57.23v-2.86a9 9 0 0 1 .576-2.737c.447-1.327 1.107-2.268 3.172-3.634M24.366 36.7c-3 0-4-7-4-14c0-6 5-12 14-12s14 6 14 12c0 7-1 14-4 14m8.087 20.53v-2.86a8.9 8.9 0 0 0-.576-2.737c-.447-1.327-1.106-2.267-3.171-3.633");
}
