.dad1ecbqp {
  fill: none;
  stroke: currentColor;
  stroke-linejoin: round;
  stroke-width: var(--svg-stroke-width--2px, 2px);
  d: path("M20 14V6a1 1 0 0 0-1-1H5a1 1 0 0 0-1 1v8m-1 2h18v1a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z");
}
