.dakggxznd {
  fill-rule: evenodd;
  d: path("M98 97.991V96L50 71l47.328 28.482c.409-.367.672-.896.672-1.491m-96 0V96l48-25L2.672 99.482A2 2 0 0 1 2 97.991");
  opacity: var(--svg-opacity--0-3, 0.3);
}
