.danl1wb7l {
  fill: var(--svg-color--4a799d, #4a799d);
  fill-rule: evenodd;
  d: path("M55.6 335.7c5.6-.3 11.2 0 16.8 1c-11.1 2.4-11.1 4.1 0 5.2v16.8c-12.1.4-12.8 2.2-2.1 5.2c-4.8 1-9.7 1.4-14.7 1z");
}
