.dbtpv5uxb {
  fill: none;
  stroke: var(--svg-color--45413c, #45413c);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M20.39 27.16a2.55 2.55 0 0 0-2.54 2.55v2.85c0 1.4 2.54 3.59 2.54 3.59s2.55-2.19 2.55-3.59v-2.85a2.55 2.55 0 0 0-2.55-2.55");
}
