.dbulsy8xw {
  fill: none;
  stroke: var(--svg-color--000, #000);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: var(--svg-stroke-width--2px, 2px);
  d: path("M50.595 43.64a11.6 11.6 0 0 1-.87 4.49c-12.49 3.03-25.43.34-27.49-.13a11.4 11.4 0 0 1-.83-4.36h.11s14.8 3.59 28.89.07z");
}
