.dch47-l6i {
  fill: var(--svg-color--000, #000);
  fill-rule: nonzero;
  stroke: var(--svg-color--000, #000);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: var(--svg-stroke-width--0-291px, 0.291px);
  d: path("M113.134 130.274s-.128.154-.308.667c-.08.23.425.924.384.683c-.103-.589.187-1.003.187-1.003z");
}
