.ddhnwibdu {
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("m38.686 35.51l2.097 10.2c.19 1.048.477 2.764.572 3.812l.762 10.772c.096 1.049.763 1.907 1.526 1.907a1.81 1.81 0 0 0 1.525-1.907l.953-12.392c.095-1.049.095-2.765.095-3.813V33.603c0-1.049-.095-2.765-.095-3.813l-.667-9.533a6.67 6.67 0 0 0-1.43-3.241l-2.479-2.574");
}
