.ddwzdff0q {
  fill: none;
  stroke: currentColor;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: var(--svg-stroke-width--2px, 2px);
  d: path("M6.1 6.11Q3.5 8 1 12q5 8 11 8q3 0 5.9-2.1m2.87-2.79Q22 13.6 23 12q-5-8-11-8q-1 0-2.1.25M1 1l22 22M9.88 9.88a1 1 0 0 0 4.24 4.24");
}
