.de0_phkht {
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M11.875 24L17 23.993c2.75-.004 6.8-1.13 9-2.5s5.8-2.718 8-2.993s6.25-.5 9-.5h0c2.75 0 6.35 1.125 8 2.5s4.575 3.175 6.5 4L61 26");
}
