.degkp-16e {
  stroke: var(--svg-color--000, #000);
  stroke-width: var(--svg-stroke-width--0-25px, 0.25px);
  d: path("m96.286 68.439l.613.003v.434h.447v-.444h.627v.444h.449v-.444h.63l-.003 1.006c0 .156-.127.259-.274.259h-2.204c-.149 0-.286-.118-.286-.264l-.003-.994z");
}
