.dejs93-4n {
  fill: var(--svg-color--43ccf8, #43CCF8);
  stroke: var(--svg-color--fff, #fff);
  d: path("M24 38C26.2091 38 28 36.2091 28 34C28 31.7909 26.2091 30 24 30C21.7909 30 20 31.7909 20 34C20 36.2091 21.7909 38 24 38Z");
}
