.dez20vbqn {
  fill: none;
  stroke: var(--svg-color--000, #000);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: var(--svg-stroke-width--2px, 2px);
  d: path("m40.692 49.591l5.664-1.967l15.59-15.59l-6.454-6.454l-15.59 15.59l-1.974 5.671zm17.394-26.605l1.555-1.555l6.454 6.454l-1.632 1.632M40.279 40.793l6.454 6.454");
}
