.dfcgydb8a {
  stroke: var(--svg-color--191919, #191919);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M22.326 6.142v11.69h-4.489V8.49h3.142V5.674h-3.142V4.272a.46.46 0 0 1 .449-.468h1.796a2.297 2.297 0 0 1 2.244 2.338");
}
