.dfkp30wss {
  fill: none;
  stroke: var(--svg-color--000, #000);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: var(--svg-stroke-width--2px, 2px);
  d: path("M32.035 7.9a10.07 10.07 0 0 0 8.6 5.4");
}
