.dfn7cur4z {
  fill: var(--svg-color--ffcebf, #ffcebf);
  stroke: var(--svg-color--45413c, #45413c);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M40.15 25.62a2.73 2.73 0 0 0-2.07-2.3l-.87-.24A3 3 0 0 1 35 20.15v-3.07a2.77 2.77 0 0 0-2.1-2.68A23 23 0 0 1 24 16a23 23 0 0 1-8.9-1.61a2.77 2.77 0 0 0-2.1 2.69v3.07a3 3 0 0 1-2.23 2.93l-.87.24a2.73 2.73 0 0 0-2.07 2.3a2.69 2.69 0 0 0 2.68 2.92h.17a13.45 13.45 0 0 0 26.6 0h.17a2.69 2.69 0 0 0 2.7-2.92");
}
