.dg3r1tbgl {
  stroke: currentColor;
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M20.201 55.799a28 28 0 1 1 39.598 0m-32.173-7.425a17.5 17.5 0 1 1 24.748 0M40 43a7 7 0 1 0 0-14a7 7 0 0 0 0 14m0 0q.877-.002 1.692-.206L46 55m-6-12c-.583 0-1.15-.071-1.692-.206L34 55m0 0h12m-12 0l-3 8.5m0 0h18m-18 0L28 72m21-8.5l3 8.5m-3-8.5L46 55");
}
