.dgi-9-bgx {
  stroke: currentColor;
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M25.219 40.913a2 2 0 0 1 2 2v12a2 2 0 0 1-4 0v-12a2 2 0 0 1 2-2m12 2a2 2 0 0 0-4 0v12a2 2 0 1 0 4 0zm8-2a2 2 0 0 1 2 2v12a2 2 0 0 1-4 0v-12a2 2 0 0 1 2-2m12 2a2 2 0 0 0-4 0v12a2 2 0 1 0 4 0z");
}
