.dhtez197b {
  fill: var(--svg-color--87898c, #87898c);
  stroke: var(--svg-color--45413c, #45413c);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M27.05 30A3.13 3.13 0 0 1 21 30c0-1 1.36-1.83 3.05-1.83s3 .83 3 1.83");
}
