.di9ycbc0b {
  stroke: var(--svg-color--191919, #191919);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M20.13 6.262H3.87A2.87 2.87 0 0 0 1 9.132v9.565a2.87 2.87 0 0 0 2.87 2.87h16.26a2.87 2.87 0 0 0 2.87-2.87V9.13a2.87 2.87 0 0 0-2.87-2.87m-11.479 0V4.347a1.92 1.92 0 0 1 1.913-1.913h2.87a1.92 1.92 0 0 1 1.913 1.913V6.26M12 11.044v-.956");
}
