.dih1h8bio {
  fill: var(--svg-color--f1b31c, #f1b31c);
  stroke: var(--svg-color--f1b31c, #f1b31c);
  stroke-linejoin: round;
  stroke-width: var(--svg-stroke-width--0-75px, 0.75px);
  d: path("m52 22.46l.618.442l-.229-.724l.611-.451l-.76-.006L52 21l-.24.721l-.76.006l.611.361l-.229.814z");
}
