.dj8-a1bib {
  fill: var(--svg-color--dabff5, #dabff5);
  stroke: var(--svg-color--45413c, #45413c);
  stroke-linejoin: round;
  d: path("m25.57 17.69l-5.93-1.13a.93.93 0 0 1-.38-1.66l5.43-4l-3.84-.73a1 1 0 0 1-.74-1.09a.93.93 0 0 1 1.09-.74l5.94 1.13a.93.93 0 0 1 .37 1.66l-5.43 4l3.84.73a.93.93 0 1 1-.35 1.83Zm-10.81 5.97L9.94 25.6a.8.8 0 0 1-1-1L11 19.15l-3.14 1.26a.8.8 0 0 1-1-.45a.79.79 0 0 1 .44-1L12.08 17a.8.8 0 0 1 1.05 1l-2.08 5.41l3.12-1.25a.8.8 0 1 1 .59 1.48Zm2.82-9.49L6.3 16.38a1.44 1.44 0 0 1-1.46-2.24L12 4L4.17 5.57a1.44 1.44 0 1 1-.55-2.83L14.9.53a1.43 1.43 0 0 1 1.46 2.23L9.25 12.87L17 11.34a1.44 1.44 0 0 1 .55 2.83Z");
}
