.djjiqx5ml {
  stroke: var(--svg-color--191919, #191919);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M13.702 5.764a1.91 1.91 0 0 1 1.643-.938m-5.045.938a1.91 1.91 0 0 0-1.65-.938");
}
