.djl8yp5xq {
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M12 2v3m7 7h3m-3 7l-2-2m-6.562-2.333V9.333m1.562 0V8m0 8v-1.333M10.438 12h3.124m0 0c.518 0 .938.448.938 1v.667c0 .552-.42 1-.937 1H9.5M13.563 12c.517 0 .937-.448.937-1v-.667c0-.552-.42-1-.937-1H9.5");
}
