.dksmcpbvr {
  fill: var(--svg-color--ededed, #ededed);
  fill-opacity: var(--svg-fill-opacity--0-603, 0.603);
  fill-rule: evenodd;
  d: path("M110.599 44.61q-10.278 12.279-17.813 26.035q-7.534 13.758-10.768 20.526q-1.002 5.05-.978 14.9t1.704 21.905q1.471-23.606 9.007-45.827t18.848-37.54");
}
