.dla69s3uv {
  stroke: var(--svg-color--000, #000);
  stroke-width: var(--svg-stroke-width--0-25px, 0.25px);
  d: path("M138.884 77.529h8.474c.178 0 .324.178.324.393s-.146.391-.324.391h-8.474c-.178 0-.324-.176-.324-.391s.146-.393.324-.393z");
}
