.dlf3fycrq {
  fill: var(--svg-color--ffef00, #FFEF00);
  fill-rule: nonzero;
  d: path("M171.832 115.374c6.449 2.885 9.843 13.916 17.055 13.491c-6.364-3.818-7.637-13.576-13.492-17.055c-5.854-3.479-10.011.679-3.563 3.564");
}
