.dm3lzbbtn {
  fill: var(--svg-color--448aff, #448aff);
  d: path("M12.685 13.29a26 26 0 0 0-2.202-1.74q1.15-.812 1.396-2.228H8.122V6.713q3.25-.027 6.497.055q.616 3.345-1.423 6.032a7 7 0 0 1-.51.49");
  opacity: var(--svg-opacity--0-999, 0.999);
}
