.dm7ua-bpz {
  fill: var(--svg-color--2859c5, #2859c5);
  fill-rule: evenodd;
  d: path("M13 14.25h1.5V20a3 3 0 0 0 3 3h1v-2h-1a1 1 0 0 1-1-1v-5.75H20v-1.5H4v1.5h3.5V20a1 1 0 0 1-1 1h-1v2h1a3 3 0 0 0 3-3v-5.75H11V23h2z");
}
