.dmmz0zbaw {
  fill: var(--svg-color--fff, #fff);
  fill-rule: evenodd;
  d: path("M255.5 8.4c136.7 0 247.6 111 247.6 247.6s-111 247.6-247.6 247.6S7.8 392.7 7.8 256S118.8 8.4 255.5 8.4m.6 173.7c41.2 0 74.7 33.5 74.7 74.7s-33.5 74.7-74.7 74.7s-74.7-33.5-74.7-74.7s33.5-74.7 74.7-74.7");
}
