.dn02afsqr {
  fill: none;
  stroke: var(--svg-color--000, #000);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
  stroke-width: var(--svg-stroke-width--2px, 2px);
  d: path("m56.285 41.723l2.828-2.828l7.375 7.375l-2.828 2.828z");
}
