.dnqep7btc {
  stroke-miterlimit: 10;
  stroke-width: var(--svg-stroke-width--2-089px, 2.089px);
  d: path("M22.64 48.72s-4.916.913-8.068 1.512c1.144-1.453 3.571-7.636 3.571-7.636l-6.667-1.413l5.324-5.855l-7.653-4.136l6.529-2.717l-2.367-7.087l8.895 3.14l-2.702-9.007l8.244 3.134l.013-.05l2.209-8.464c2.055 3.016 6.484 8.713 6.484 8.713s3.875-5.8 5.269-8.873c1.048 3.227 3.182 9.498 3.182 9.498l7.881-3.814l.164 8.701l8.332.862l-4.958 6.652l6.533 5.093l-7.678 3.345s2.35 4.196 3.936 6.957l-8.778-.71s.694 6.256 1.208 9.337a574 574 0 0 0-7.071-4.892l-3.275 6.861l-4.135-6.378l-4.363 6.338c-1.141-2.316-3.545-6.32-3.545-6.32l-5.791 5.706z");
}
