.dnxhj4btx {
  fill: var(--svg-color--fff, #fff);
  stroke: var(--svg-color--fff, #fff);
  stroke-width: var(--svg-stroke-width--0-1px, 0.1px);
  d: path("m13.431 5.154l-.108.248l-.239-.127l-.003-.002l-.013-.007a6 6 0 0 0-.698-.304a8 8 0 0 0-.556-.157l-.034-.008l-.008-.002h-.002l-.26-.058l.073-.255l.529-1.86l.034-.121l.119-.045L13.3 2.07l.194-.072l.108.177l.587.967l.067.11l-.052.12z");
}
