.dnz73owad {
  fill: var(--svg-color--48eeff, #48eeff);
  stroke: var(--svg-color--231f20, #231f20);
  stroke-miterlimit: 10;
  d: path("M24.06 15c-.27-1.34-.64-2.87-2.53-2.84a10 10 0 0 0-1.87.06q0-.19.06-.42c.3-2.67-2-5.67-5.75-3.17a12 12 0 0 0-2.78 2.92a12 12 0 0 0-3.71-1.63c-4.42-.84-5.37 2.83-4 5.17c.07.13.15.25.22.36a9 9 0 0 0-1.75.68C.16 16.85.42 18.39.7 19.74S1.21 22 3 22c.12 1.1.31 2.23.52 3.25c.6 3 1.52 6 3.21 6.44c.91.61 5.14.55 8.51-.14s7.28-2.29 7.89-3.21c1.37-1.08 1-4.23.42-7.18c-.21-1-.48-2.14-.8-3.19c1.71-.75 1.58-1.68 1.31-2.97Z");
}
