.doascybrz {
  stroke: var(--svg-color--032a4a, #032A4A);
  stroke-width: var(--svg-stroke-width--0-049px, 0.049px);
  d: path("M135.245 88.942c.012.27.367.966.502 1.236c.086.22.134.465.22.685c.122.367.159.379.318.722c.098.171.306.367.453.453c.208.061 1.835-2.202 2.08-2.288");
}
