.dqayco94q {
  fill: none;
  stroke: currentColor;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: var(--svg-stroke-width--2px, 2px);
  d: path("M20 20L4.39 4.39M16.488 4a17.06 17.06 0 0 1-9.231.905L4.39 4.39l.515 2.867A17.06 17.06 0 0 1 4 16.487");
}
