.dqx3e4bwe {
  fill: none;
  stroke: var(--svg-color--000, #000);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
  stroke-width: var(--svg-stroke-width--2px, 2px);
  d: path("M16.958 57.675s-2-13 10-13c3.16 2.09 5.86 3.55 8.88 3.59h.12c2.96-.04 5.63-1.44 8.7-3.47l.18-.12c12 0 10 13 10 13");
}
