.dr4lld79u {
  stroke: var(--svg-color--000, #000);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: var(--svg-stroke-width--4px, 4px);
  d: path("M13 39C13 34.5817 9.41828 31 5 31");
}
