.drhjn6bfz {
  fill: var(--svg-color--ffe236, #ffe236);
  stroke: var(--svg-color--231f20, #231f20);
  stroke-miterlimit: 10;
  d: path("M.5 20.06a12.23 12.23 0 1 0 24.46 0a12.23 12.23 0 0 0-24.46 0Z");
}
