.drmfbszhi {
  stroke: var(--svg-color--000, #000);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: var(--svg-stroke-width--0-286px, 0.286px);
  d: path("M170.561 102.609v1.194c-1.304 1.557-9.473 3.914-19.719 5.571c-7.798 1.196-17.964 2.097-30.63 2.097c-12.036 0-21.633-.857-29.074-2c-11.766-1.714-19.29-4.714-20.801-5.61l.008-1.392c4.536 3.018 16.831 5.225 20.959 5.899c7.392 1.135 16.934 1.987 28.906 1.987c12.61 0 22.717-.896 30.466-2.083c7.351-1.062 17.822-3.824 19.883-5.662zm.005-4.245v1.194c-1.303 1.557-9.473 3.911-19.719 5.569c-7.798 1.196-17.964 2.098-30.63 2.098c-12.036 0-21.633-.857-29.075-1.999c-11.765-1.712-19.289-4.712-20.801-5.608l.008-1.392c4.536 3.016 16.831 5.222 20.959 5.896c7.393 1.138 16.934 1.99 28.906 1.99c12.61 0 22.717-.896 30.466-2.085c7.351-1.062 17.822-3.824 19.883-5.662z");
}
