.ds2cqbcxf {
  fill: var(--svg-color--9bff00, #9bff00);
  stroke: var(--svg-color--00034a, #00034a);
  stroke-miterlimit: 10;
  d: path("M34.977 17.708a2.75 2.75 0 0 0-2.404-1.667c-.68-.097-3.035.669-5.4 1.532a10.2 10.2 0 0 0 1.096-4.847a10 10 0 0 0-1.28-5.196c.204-2.055.32-3.936.28-4.256c-.115-.872-1.831-1.706-2.907-2.133c-1.076-.426-2.908-.969-3.606-.387a32 32 0 0 0-2.404 3.121c-5.196.407-7.755 3.878-7.755 8.812a10.2 10.2 0 0 0 1.124 4.924c-2.394-.872-4.78-1.657-5.467-1.56a2.75 2.75 0 0 0-2.433 1.686a2.78 2.78 0 0 0 .659 2.85a16.7 16.7 0 0 0 4.033 2.065A12.45 12.45 0 0 0 7.61 27.5c0 6.427 3.936 10.79 11.788 10.79s11.826-4.363 11.826-10.82c.01-1.664-.32-3.313-.97-4.846a16.3 16.3 0 0 0 4.014-2.065a2.76 2.76 0 0 0 .708-2.85z");
}
