.dsq8sfrxg {
  fill: var(--svg-color--26f4ee, #26f4ee);
  fill-rule: evenodd;
  d: path("M345.2 0c8.2 70.4 50.4 120.1 118.7 124.5v66.8h-.4v-56.7C395.2 130.2 356 88.2 347.7 17.8h-72.3V314c10.4 133.3-93.4 137.3-133.2 86.7c46.6 29.1 122.3 10.2 113.3-104.5V0zM151 491c-40.8-8.4-78-32.8-99.8-68.5c-53-86.7-5.2-228 148.5-242.5v83.5h-.3v-62.6C56.9 223.6 42.6 376.6 82.1 440.3c15.2 24.5 40.2 41.8 68.9 50.7");
}
