.dtausotzy {
  fill: var(--svg-color--bb0d0d, #BB0D0D);
  fill-rule: nonzero;
  stroke: var(--svg-color--000, #000);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: var(--svg-stroke-width--0-15px, 0.15px);
  d: path("M224.311 151.992c-1.424.042-2.813.223-3.972.694a1.201 1.201 0 0 0 .904 2.224c.902-.367 2.714-.559 4.436-.518s3.442.296 4.121.506a1.202 1.202 0 0 0 1.567-1.412a1.2 1.2 0 0 0-.858-.878c-1.136-.352-2.874-.57-4.77-.615a27 27 0 0 0-1.428-.001");
}
