.dtght3ala {
  fill-opacity: var(--svg-fill-opacity--0-25, 0.25);
  fill-rule: evenodd;
  d: path("M14 18a4 4 0 0 1 4-4h44a4 4 0 0 1 4 4v44a4 4 0 0 1-4 4H18a4 4 0 0 1-4-4zm28 44h20V42H42zm-4-20v20H18V42zm4-4h20V18H42zm-4-20v20H18V18z");
}
