.dtz5swbmn {
  fill: none;
  stroke: currentColor;
  stroke-width: var(--svg-stroke-width--1-5px, 1.5px);
  d: path("M15.4 11.571L12.217 8.39l-1.944-1.944L7.677 9.04a2 2 0 0 0-.586 1.414v3a1 1 0 0 1-.293.707l-1.652 1.652a.5.5 0 0 0 0 .707l2.122 2.121a.5.5 0 0 0 .707 0l1.652-1.651a1 1 0 0 1 .707-.293h3a2 2 0 0 0 1.414-.586l2.596-2.596zM12.217 8.39l3.89-3.889m-.707 7.071l3.889-3.889");
}
