.du7-1vpvs {
  fill: var(--svg-color--007e93, #007e93);
  stroke: var(--svg-color--007e93, #007e93);
  stroke-miterlimit: 2.6;
  stroke-width: var(--svg-stroke-width--0-2px, 0.2px);
  d: path("m228 261.3l-11.5 19.2H294l-11.5-19.2z");
}
