.dudnyzbkc {
  stroke: var(--svg-color--333, #333);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: var(--svg-stroke-width--4px, 4px);
  d: path("M50.607 50.607a15 15 0 0 1-21.214 0");
}
