.dv0r0gcpy {
  fill: var(--svg-color--fff, #FFF);
  fill-rule: nonzero;
  stroke: var(--svg-color--fff, #FFF);
  stroke-linecap: round;
  stroke-width: var(--svg-stroke-width--0-15px, 0.15px);
  d: path("M152.535 101.012c0 .301-.95.545-2.122.545s-2.122-.244-2.122-.545c0-.3.95-.544 2.122-.544s2.122.244 2.122.544z");
}
