.dv4-kwbao {
  fill: var(--svg-color--383739, #383739);
  stroke: var(--svg-color--000, #000);
  stroke-width: var(--svg-stroke-width--0-057px, 0.057px);
  d: path("M64.77 15.374v1.212h2.29v3.035h-2.29v1.213h-3.541v-1.213h-2.291v-3.035h2.291v-1.212z");
}
