.dve5ayb2p {
  fill: none;
  stroke: currentColor;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: var(--svg-stroke-width--1-5px, 1.5px);
  d: path("M3 21.5h18M17 10H7m8-3.5H9c-2.828 0-4.243 0-5.121.879C3 8.257 3 9.672 3 12.5s0 4.243.879 5.121c.878.879 2.293.879 5.121.879h6c2.828 0 4.243 0 5.121-.879C21 16.743 21 15.328 21 12.5s0-4.243-.879-5.121C19.243 6.5 17.828 6.5 15 6.5m-6 0v-1c0-.932 0-1.398.152-1.765a2 2 0 0 1 1.083-1.083C10.602 2.5 11.068 2.5 12 2.5s1.398 0 1.765.152a2 2 0 0 1 1.083 1.083C15 4.102 15 4.568 15 5.5v1");
}
