.dw4cdfjco {
  fill: none;
  stroke: currentColor;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: var(--svg-stroke-width--32px, 32px);
  d: path("M160 344h208a80.24 80.24 0 0 0 80-80v-16");
}
