.dw5jrb3yq {
  stroke: var(--svg-color--000, #000);
  stroke-linecap: round;
  d: path("M15 12.0002C15 11.9273 15.0083 11.8545 15.0246 11.7833L16.6321 4.78331C16.7372 4.32578 17.1565 4.00024 17.6409 4.00024H28.3837C28.8681 4.00024 29.2874 4.32578 29.3925 4.78331L31 11.7833");
}
