.dwtstojue {
  fill: var(--svg-color--87898c, #87898c);
  stroke: var(--svg-color--45413c, #45413c);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M10.83 42.33h21.34a1.07 1.07 0 0 1 1.07 1.07V45h0H9.77h0v-1.6a1.07 1.07 0 0 1 1.06-1.07");
}
