.dxgcjdbzo {
  fill: none;
  stroke: var(--svg-color--45413c, #45413c);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M20.72 32a.5.5 0 0 0-.38.18a.5.5 0 0 0-.12.41a3.83 3.83 0 0 0 7.56 0a.5.5 0 0 0-.12-.41a.5.5 0 0 0-.38-.18Z");
}
