.dy1tihpmb {
  fill: var(--svg-color--2859c5, #2859c5);
  fill-rule: evenodd;
  d: path("M7 7.314c.345 0 .625.28.625.625v2.22h1.247a.625.625 0 0 1 .442 1.067l-1.872 1.872a.623.623 0 0 1-.89-.006l-1.866-1.866a.625.625 0 0 1 .442-1.067h1.247v-2.22c0-.346.28-.625.625-.625");
}
