.dyiul4bgp {
  fill: currentColor;
  fill-rule: evenodd;
  d: path("M8.83 13.71c-.18.06-.33-.05-.33-.24v-.46c0-.14.08-.27.22-.31C10.63 12 12 10.16 12 8.01s-1.37-3.99-3.28-4.69a.36.36 0 0 1-.22-.31v-.46c0-.19.15-.3.33-.24C11.25 3.08 13 5.35 13 8.02s-1.75 4.93-4.17 5.71Z");
}
