.dyx750ddk {
  fill: none;
  stroke: var(--svg-color--000, #000);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: var(--svg-stroke-width--1-6px, 1.6px);
  d: path("M50.497 19.6a2 2 0 1 1-4 0a2 2 0 0 1 4 0");
}
