.h-c5buvgt {
  fill: var(--svg-color--d0cfce, #d0cfce);
  stroke: var(--svg-color--d0cfce, #d0cfce);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: var(--svg-stroke-width--2px, 2px);
  d: path("M42.345 42.8h-13.41c-.44 0-.84-.1-1.15-.28c-.39-.21-.64-.54-.64-.9V18.76c0-.35.24-.67.62-.89c.31-.18.72-.29 1.17-.29h13.38l-7.41 8.04l-2.09 2.26c-.11.12-.21.24-.29.36c-.91 1.23-.91 2.66.01 3.88c.08.12.18.24.28.35l2.1 2.27zm.181-24.896l.02-.032");
}
