.h1boidc1q {
  stroke: var(--svg-color--2f80ed, #2f80ed);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: var(--svg-stroke-width--4px, 4px);
  d: path("M50.064 62.227a7 7 0 0 0 9.562 2.563v0a7 7 0 0 0 2.562-9.563l-1-1.732a7 7 0 0 0-9.562-2.562v0a7 7 0 0 0-2.562 9.562z");
}
