.h1cz9gxaz {
  fill: var(--svg-color--fff, #fff);
  stroke: var(--svg-color--fff, #fff);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("m20.081 24.089l1.232-4l1.24 3.998l-3.238-2.469l4-.003zm0 11.882l1.232-4l1.24 3.998l-3.238-2.469l4-.003zm6.5-8.5l1.232-4l1.24 3.998L25.815 25l4-.003zm-13 0l1.232-4l1.24 3.998L12.815 25l4-.003z");
}
