.h1liizb9v {
  fill: var(--svg-color--bfbfbf, #bfbfbf);
  fill-rule: evenodd;
  d: path("m238.1 165.4l-30.6 32.3H456l31.3-32.3zM39.6 416.8L9 449.1h248.5l31.3-32.3zM281.3 7.9l-30 30H437l31.7-29.6zM82.8 259.2l-30 30h185.6l31.7-29.6z");
}
