.h3lfhabdq {
  fill: var(--svg-color--fff, #fff);
  fill-rule: evenodd;
  d: path("m218.5 367l288.3-166.5v-63.4L403.9 77.7l-9.4-5.4l-93.7-54.1L12.5 184.7c-13.6 24 0 63.4 0 63.4c-16.8 25.5 0 63.4 0 63.4l206 118.9l182.8-105.5l-182.8 105.6l-206-118.9c-16.8 25.5 0 63.4 0 63.4l206 118.9l288.3-166.5V264l.1-.1v-63.4z");
}
