.h4emuubah {
  fill: var(--svg-color--406325, #406325);
  fill-rule: nonzero;
  stroke: var(--svg-color--24420e, #24420E);
  stroke-width: var(--svg-stroke-width--0-017px, 0.017px);
  d: path("M124.995 81.822c1.151.983 4.232-1.344 5.397-6.243c-2.53 3.515-4.889 6.168-5.397 6.243z");
}
