.h5iwzijlj {
  stroke: var(--svg-color--092f63, #092f63);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M18.136 22.226v1.023H5.864v-1.023l4.09-1.534v-2.556h4.091v2.556zM8.42 8.42l1.535 1.535h4.09L15.58 8.42M9.955 4.842v1.022m4.09-1.022v1.022");
}
