.h5lx_ullk {
  fill: var(--svg-color--6bafff, #6bafff);
  fill-rule: evenodd;
  d: path("M21.38 23.999c0 .292.146.564.389.726c.61.408 1.61.869 2.85 1.232l.007.002c.691.202 1.467.375 2.304.494h.007a16.5 16.5 0 0 0 3.984.077c.524.61 1.357 1.465 2.63 2.13q.167-.407.306-.827c1.016.55 2.353.966 4.105.966c0-1.6-.28-3.137-1.906-4.8z");
}
