.h5opcl_re {
  fill: var(--svg-color--a05a2c, #a05a2c);
  stroke: var(--svg-color--000, #000);
  stroke-width: var(--svg-stroke-width--0-1px, 0.1px);
  d: path("m251 267.4l37.8-40.5l-1.4-1l-38 40.5c-.5-.2 2 1.3 1.5 1z");
}
