.h6fy_i47l {
  stroke: var(--svg-color--191919, #191919);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M12 22.083c5.569 0 10.083-4.514 10.083-10.083S17.57 1.917 12 1.917S1.917 6.43 1.917 12S6.43 22.083 12 22.083");
}
