.h6rhyk3er {
  fill: var(--svg-color--2859c5, #2859c5);
  fill-rule: evenodd;
  d: path("M7.925 3.527c-.34-.828-1.511-.828-1.85 0l-.587 1.431l-1.6.14c-.892.079-1.239 1.2-.547 1.77l1.162.953l-.38 1.762c-.19.879.785 1.542 1.533 1.042L7 9.726l1.344.9c.747.499 1.723-.164 1.533-1.043l-.38-1.762l1.161-.954c.693-.568.345-1.69-.547-1.769l-1.599-.14z");
}
