.h6tybs_mx {
  fill: var(--svg-color--009b3a, #009B3A);
  fill-rule: nonzero;
  stroke: var(--svg-color--000, #000);
  stroke-width: var(--svg-stroke-width--0-075px, 0.075px);
  d: path("M161.344 90.662c-.103 1.073-.354 1.931-.56 1.915c-.206-.015-.289-.897-.186-1.971c.103-1.073.354-1.93.56-1.915c.206.016.289.898.186 1.971z");
}
