.h7-gxoxov {
  stroke: var(--svg-color--000, #000);
  stroke-width: var(--svg-stroke-width--0-4px, 0.4px);
  d: path("M486.9 263h-30.1v-.8l30 .4zm23.5-24.2q.4 0 0 0l-23.5-.4q-.6 0 0 0h23.5zm-25 6.6c.3 0 .3.4 0 .4h-26.7c-.3 0 0-.4 0-.4zm.7-17.2c.4 0 .4.4 0 .4h-27.7c-.4 0-.4-.4 0-.4zm-2-13.7q.6.2 0 .4h-27c-.3 0 0-.8 0-.8l27.4.4z");
}
