.h7e73s {
  d: path('M2.43 16.87c-0.02 0.14 -0.14 0.21 -0.27 0.21c-0.13 0 -0.26 -0.07 -0.27 -0.21c-0.13 -0.94 -0.21 -1.83 -0.23 -2.71c-0.01 -0.88 0.05 -1.77 0.22 -2.7c0.02 -0.16 0.15 -0.24 0.28 -0.24c0.13 0 0.26 0.08 0.28 0.24c0.19 0.95 0.26 1.83 0.24 2.7c-0.02 0.88 -0.12 1.76 -0.25 2.71Z');
}

@media not (prefers-reduced-motion) {
  .h7e73s {
    transform: scaleY(0);
    transform-origin: 0.74px 14.15px;
    animation: 1s linear 0.1s forwards tr-s3w9if;
  }
}
