.h7krc2bmf {
  x: 14.32px;
  y: 25.04px;
  rx: 2.359px;
  ry: 2.359px;
  width: 13.56px;
  height: 13.46px;
  stroke: var(--svg-color--000, #000);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: var(--svg-stroke-width--2px, 2px);
}
