.h8njkibhy {
  fill: var(--svg-color--0996c7, #0996c7);
  fill-rule: nonzero;
  d: path("M26.668.984H14.465c-.945 0-1.754.598-2.059 1.442L.988 33.796h12.293L24.7 2.427A2.19 2.19 0 0 1 26.668.988z");
}
