.h92wdupzb {
  stroke: var(--svg-color--4147d5, #4147d5);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M7 13.177h5.683c-.842-3.525-2.404-7.004-5.146-9.091a.885.885 0 0 0-1.074 0C3.72 6.172 2.159 9.65 1.317 13.177zm.612-9.028l-2.09-2.09M7 13.178v-2.956m-.638-6.073l2.09-2.09");
}
