.h_8h4rdps {
  fill: none;
  stroke: var(--svg-color--45413c, #45413c);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M16.21 25v-.11a17.9 17.9 0 0 1 2.86-6.27A16.7 16.7 0 0 1 24.22 14m-.57 10.27a15 15 0 0 1 2.86-5.7a21.2 21.2 0 0 1 5.61-4.52m.09 10.22a9.83 9.83 0 0 1 2.86-4.56a40 40 0 0 1 4.56-2.86l.27-.13");
}
