.h_a140bte {
  fill: var(--svg-color--1f601a, #1F601A);
  fill-rule: nonzero;
  stroke: var(--svg-color--000, #000);
  stroke-width: var(--svg-stroke-width--0-073px, 0.073px);
  d: path("M155.27 107.588s-1.101-.085-1.272-.085s-.551-.759-.722-.893c-.172-.122-3.059-1.529-4.93-1.823c-1.872-.294-4.746-1.407-5.346-1.701c-3.107-1.492-6.582-4.257-7.353-5.395c-.808-1.186-1.664-3.951-2.043-5.432c-.172-.685-1.101-3.487-1.101-5.395c0-2.214.257-4.037.599-5.481c.33-1.444 2.814-5.676 4.331-7.56c0 0-3.413 5.284-4 7.303c-.587 2.08-.759 4.612-.722 6.056c.037 1.187 1.028 5.53 2.471 8.722c1.15 2.557 2.153 2.863 3.951 4.294c.845.673 2.459 1.737 3.817 2.422c1.358.673 4.245 1.529 5.016 1.651c.759.135 4.624 1.272 5.138 1.53s1.824 1.408 2.166 1.787z");
}
