.h_dmt6r-q {
  fill: currentColor;
  fill-opacity: var(--svg-fill-opacity--0-16, 0.16);
  d: path("M19.8 4c.66 0 1.2.517 1.2 1.149v5.553C21 11.966 19.92 13 18.6 13H4.2c-.66 0-1.2-.517-1.2-1.149V6.298C3 5.034 4.08 4 5.4 4z");
}
