.ha18hjbki {
  stroke: var(--svg-color--000, #000);
  stroke-width: var(--svg-stroke-width--0-104px, 0.104px);
  d: path("m129.112 88.22l-.104.252l-.56-.052l-.072-.064l.036-.088l.492-.256l.208.208");
}
