.ha7olqyfl {
  stroke: var(--svg-color--092f63, #092f63);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("m12.005 4.33l1.018 2.557h2.556l-1.988 1.818l.795 2.784L12 9.7l-2.386 1.79l.795-2.784L8.42 6.887h2.556zm5.999 15.454L12 18.136l-6.005 1.648");
}
