.ha7yign3y {
  fill: none;
  stroke: var(--svg-color--45413c, #45413c);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M34 15.39c-3-1.27-12.82-5.26-18.58-7s-11.53 1.72-11.53 10V30.6a3.57 3.57 0 0 0 2.2 3.3l14 5.8a2.38 2.38 0 0 0 3.29-2.2v-11Z");
}
