.ha_qp-bpy {
  stroke: var(--svg-color--00209f, #00209F);
  stroke-width: var(--svg-stroke-width--0-049px, 0.049px);
  d: path("M141.508 95.695s1.554.343 1.982.257c.416-.086.868-.086.868-.086m3.291.013l1.211-.44c.759-.282.844-1.04.844-1.04");
}
