.haa4r2bwv {
  fill: var(--svg-color--ff1900, #ff1900);
  fill-rule: evenodd;
  stroke: var(--svg-color--000, #000);
  stroke-width: var(--svg-stroke-width--0-7px, 0.7px);
  d: path("m262 306.1l-21.5 36.7c-1.2 2-2.4 4-4.5 3c-2.1-1.2-6.6 1.7-7.8 3.8c-2.4 4-1.5 7.2.7 8.4l19.2 10.2c2 1.1 5.4.2 7.8-3.8c1.1-2.2 1.4-7.3-.7-8.4s-1-3.2.3-5.2l21.4-36.7");
}
