.hbsk1ab-a {
  fill: var(--svg-color--009b3a, #009B3A);
  fill-rule: nonzero;
  stroke: var(--svg-color--000, #000);
  stroke-width: var(--svg-stroke-width--0-075px, 0.075px);
  d: path("M142.148 91.583c.049 1.448.057 3.69.224 5.082c-1.078-.749-2.844-1.719-3.929-2.318c.99.335 2.32.91 3.233 1.051c.262-1.064.322-2.658.472-3.815z");
}
