.hbtn9tbto {
  fill: var(--svg-color--ffbc44, #ffbc44);
  stroke: var(--svg-color--191919, #191919);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M10.152 20.345a2.693 2.693 0 0 1-5.384 0q0-.271.057-.536l.956-3.252c.525.274 1.09.462 1.674.555a5.5 5.5 0 0 0 1.684-.555l.956 3.252q.057.264.057.536");
}
