.hbv72-bzt {
  fill: var(--svg-color--656769, #656769);
  stroke: var(--svg-color--45413c, #45413c);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("m18.57 28.83l-2.08-1.14a1.2 1.2 0 0 1-.56-.64l-1.1-2.9l7.62 4.16l-3 .64a1.25 1.25 0 0 1-.88-.12");
}
