.hbyu-ec4b {
  fill: none;
  stroke: var(--svg-color--fff, #fff);
  stroke-linejoin: round;
  stroke-miterlimit: 10;
  stroke-width: var(--svg-stroke-width--0-794px, 0.794px);
  d: path("M7.362 5.575h5.825m-8.339 0h1.458m3.173 2.117h3.708m-6.222 0h1.458m1.056 2.117h3.708m-6.222 0h1.458m-1.061 2.116h5.825m-8.339 0h1.458");
}
