.hc9zk4b9l {
  fill: none;
  stroke: var(--svg-color--000, #000);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
  stroke-width: var(--svg-stroke-width--2px, 2px);
  d: path("M46.057 51.84H25.943a.807.807 0 0 1-.807-.808V17.547c0-.446.361-.807.807-.807h20.114c.446 0 .807.361.807.807v33.485a.807.807 0 0 1-.807.808");
}
