.he5onh {
  fill: none;
  transform: rotate(45deg);
  transform-origin: 12px 12px;
}

@media not (prefers-reduced-motion) {
  .he5onh {
    stroke-dasharray: 26;
    stroke-dashoffset: 26;
    animation: 0.4s linear 0.75s forwards so-to-0;
  }
}
