.he99jqb8l {
  stroke: var(--svg-color--000, #000);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: var(--svg-stroke-width--0-313px, 0.313px);
  d: path("m159.605 72.329l.244-1.46l.961-.477s1.041.283 1.691.514c.671.238 1.69.691 1.69.691l.242.423l-.302 1.632l-.543.484l-3.623-1.087zm-11.966-2.449l.899-.841h3.984l.898.841l.002 1.579l-.9.781h-3.984l-.899-.781zm-6.206 2.449l-.245-1.46l-.961-.477s-1.041.283-1.69.514a30 30 0 0 0-1.69.691l-.241.423l.301 1.632l.543.484l3.623-1.087z");
}
