.he9snp {
  d: path('M12 22l2 -2M12 22l-2 -2');
}

@media not (prefers-reduced-motion) {
  .he9snp {
    stroke-dasharray: 6;
    stroke-dashoffset: 6;
    animation: 0.2s linear 1.35s forwards so-to-0;
  }
}
