.hftz29m1s {
  fill: none;
  stroke: var(--svg-color--45413c, #45413c);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M16.09 12.31a2.48 2.48 0 0 0-2.48 2.48v1.85h5v-1.85a2.48 2.48 0 0 0-2.52-2.48");
}
