.hg4b3x9xh {
  stroke: var(--svg-color--000, #000);
  stroke-width: var(--svg-stroke-width--0-065px, 0.065px);
  d: path("M184.678 91.394c-.029-.362-.251-2.82-.221-4.592c.029-1.779-.606-3.839-.606-3.839l-.664.339s.015.03.067.229c.044.177.118.48.236 1.011c.251 1.129.059 4.909.192 6.208c.14 1.292.391 3.071.421 3.831v.052c.044.723.465.997.465.997l.332-.48c.273-.877-.192-3.387-.222-3.756z");
}
