.hgj5ee-ee {
  stroke: var(--svg-color--191919, #191919);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M9.609 16.304H1.957A.956.956 0 0 1 1 15.348V1.957A.957.957 0 0 1 1.957 1h14.347a.957.957 0 0 1 .957.957v5.26");
}
