.hgv60rb3g {
  fill: none;
  stroke: currentColor;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: var(--svg-stroke-width--32px, 32px);
  d: path("m169.83 279.53l172.34 96.94m0-240.94l-172.34 96.94");
}
