.hh5iymbpq {
  stroke: var(--svg-color--092f63, #092f63);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M5.097 6.63L3.82 7.91l1.278 1.278l1.279-1.279zm.001 6.136l-1.279 1.279l1.278 1.278l1.279-1.278zm0 6.136l-1.279 1.279l1.279 1.278l1.278-1.278z");
}
