.hhza2sb8w {
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M12 8v4m0 0H8.5c-1.65 0-2.475 0-2.987.44C5 12.878 5 13.585 5 15v1m7-4h3.5c1.65 0 2.475 0 2.987.44C19 12.878 19 13.585 19 15v1");
}
