.hi08am92c {
  stroke: var(--svg-color--4147d5, #4147d5);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M10.395 6.793q.014.288.014.581c0 .487-.033.966-.079 1.435c-.095.987-.878 1.785-1.839 1.884c-.487.05-.985.088-1.491.088s-1.005-.038-1.492-.088c-.961-.099-1.744-.897-1.84-1.884c-.044-.47-.078-.948-.078-1.435q0-.293.015-.581");
}
