.hj8s4cc_v {
  fill: var(--svg-color--8fbffa, #8fbffa);
  fill-rule: evenodd;
  d: path("M41.994 13.091C39.142 9.89 35.007 7.5 30 7.5c-7.454 0-13.727 4.184-17.685 8.303c-1.335-2.709-4.231-4.429-6.057-5.313c-2.024-.98-4.251.342-4.523 2.482c-.151 1.186-.28 2.737-.218 4.32c.062 1.562.316 3.281 1.018 4.728A11.6 11.6 0 0 0 3.734 24a11.7 11.7 0 0 0-1.199 1.98c-.702 1.447-.956 3.166-1.018 4.727c-.063 1.584.067 3.135.218 4.321c.272 2.14 2.5 3.463 4.523 2.483c1.826-.885 4.723-2.605 6.057-5.314C16.273 36.317 22.545 40.5 30 40.5c5.008 0 9.143-2.39 11.995-5.592C44.824 31.731 46.5 27.638 46.5 24s-1.674-7.732-4.505-10.909Z");
}
