.hj9t2eb6c {
  fill: var(--svg-color--009b3a, #009B3A);
  fill-rule: nonzero;
  stroke: var(--svg-color--000, #000);
  stroke-width: var(--svg-stroke-width--0-075px, 0.075px);
  d: path("M141.106 86.177c-.024-.003.255-4.015.255-4.015l-1.06 3.904l.296.735z");
}
