.hjhf7n6tp {
  stroke: var(--svg-color--2859c5, #2859c5);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: var(--svg-stroke-width--1-25px, 1.25px);
  d: path("M3.308 7h1.846m3.692 0h1.846");
}
