.hjso-nprq {
  fill: none;
  stroke: var(--svg-color--000, #000);
  stroke-linecap: round;
  stroke-width: var(--svg-stroke-width--2px, 2px);
  d: path("M47.822 40.572v22.014a.89.89 0 0 1-.932.86h-9.536a1.54 1.54 0 0 1-1.291-.86l-5.64-15.704h-.541l.66 15.703a.89.89 0 0 1-.933.861h-4.876a.83.83 0 0 1-.86-.86V40.572a.83.83 0 0 1 .86-.86h9.537a1.66 1.66 0 0 1 1.362.86l5.39 15.919h.462l-.33-15.919a.83.83 0 0 1 .86-.86h4.876a.89.89 0 0 1 .932.86Zm1.331-8.223v1.992l-13.305-7.649l-13.306 7.649v-1.992L35.848 8.288z");
}
