.hk38eo84a {
  fill: none;
  stroke: var(--svg-color--000, #000);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: var(--svg-stroke-width--2px, 2px);
  d: path("M49.993 25.816C49.923 18.878 45.913 12 36 12s-13.923 6.878-13.993 13.816M46 39c3.268 0 3.866-4.007 3.975-9.29m-27.95 0c.11 5.283.707 9.29 3.975 9.29");
}
