.hl5tg5b5i {
  stroke: var(--svg-color--092f63, #092f63);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M6.12 9.55H4.16V12l1.96.98m11.76-3.43h1.96V12l-1.96.98m0-6.37H6.12V3.18L12 .73l5.88 2.45z");
}
