.hl8xqe9tw {
  stroke: var(--svg-color--8967aa, #8967aa);
  stroke-width: var(--svg-stroke-width--2px, 2px);
  d: path("M21.68 46.928c-.526 1.376.227 1.711 1.5 2.744c.365.296.87 1.73.87 1.73m-5.78-.734c-.527-1.376.227-1.711 1.5-2.744c.365-.296.87-1.73.87-1.73");
}
