.hlibxwb-i {
  fill: none;
  stroke: var(--svg-color--fff, #fff);
  stroke-linecap: round;
  stroke-width: var(--svg-stroke-width--3px, 3px);
  d: path("M30.53 39.5H20m32 0h-9.53m9.53 5H20m10.53-5a8.44 8.44 0 0 1-1.83-9.201a8.44 8.44 0 0 1 7.8-5.212a8.44 8.44 0 0 1 7.8 5.212a8.44 8.44 0 0 1-1.83 9.201");
}
