.hlmb1edqb {
  stroke-linecap: round;
  stroke-miterlimit: 10;
  d: path("M51.753 45.757c1.733 1.045 2.869 2.497 2.869 4.123s-1.136 3.077-2.869 4.122m-14.402-.522a4.72 4.72 0 0 1-2.151-3.66a4.93 4.93 0 0 1 2.45-3.89");
}
