.hlnr-tbft {
  fill: var(--svg-color--009b3a, #009B3A);
  fill-rule: nonzero;
  stroke: var(--svg-color--000, #000);
  stroke-width: var(--svg-stroke-width--0-075px, 0.075px);
  d: path("M141.88 88.963c-.282 1.403-.784 3.553-.939 4.942c-.871-1.073-2.356-2.583-3.268-3.514c.88.647 2.034 1.636 2.884 2.072c.494-.934.915-2.441 1.323-3.5z");
}
