.hmqgikzpa {
  fill: none;
  stroke: var(--svg-color--000, #000);
  stroke-miterlimit: 10;
  stroke-width: var(--svg-stroke-width--2px, 2px);
  d: path("M48.155 23.505c-3.428-3.552-4.029-8.784-1.869-12.933l-3.6-3.732L6.328 41.926l3.801 3.94c4.072-1.574 8.868-.671 12.09 2.667s3.953 8.164 2.236 12.178l3.801 3.939l36.358-35.086l-3.6-3.732c-4.225 2.011-9.431 1.225-12.86-2.327z");
}
