.hnqnlb19f {
  fill: var(--svg-color--452c25, #452C25);
  fill-rule: nonzero;
  stroke: var(--svg-color--000, #000);
  stroke-width: var(--svg-stroke-width--0-106px, 0.106px);
  d: path("M140.107 63.874s-.362 2.953.074 3.064c.435.111 1.676-.819 2.192-2.628c.509-1.809-2.008-1.587-2.008-1.587l-.369 1.041");
}
