.hnuxd3bvc {
  stroke: var(--svg-color--fff, #FFF);
  stroke-width: var(--svg-stroke-width--0-018px, 0.018px);
  d: path("M147.356 109.281a.4.4 0 0 1 .148-.044c.022-.007.037-.007.059-.022c.022-.007.037-.022.052-.03m-.164.147c.052-.03.103-.037.162-.052c.044-.015.081-.022.111-.044");
}
