.hnwjkvvhz {
  stroke: var(--svg-color--092f63, #092f63);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M12 20.18v3.069M12 .751V3.82M20.18 12h3.069M.751 12H3.82m-.512-8.692L6.2 6.198m14.492-2.89L17.8 6.198M3.308 20.692L6.2 17.8m14.492 2.892L17.8 17.8M6.887 9.085L12 6.375l5.113 2.71v5.83L12 17.624l-5.113-2.71z");
}
