.hop-8ekea {
  fill: var(--svg-color--290118, #290118);
  fill-rule: evenodd;
  d: path("M13.133 6.68c.06.018.095.082.077.143a.61.61 0 0 1-.787.396a.115.115 0 1 1 .073-.218a.38.38 0 0 0 .493-.244a.115.115 0 0 1 .144-.077");
}
