.hpvx8z3qd {
  fill: none;
  stroke: var(--svg-color--45413c, #45413c);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M15.57 33.75a5.3 5.3 0 1 1-5.3-5.3a5.3 5.3 0 0 1 5.3 5.3m-10.6 0h10.6m-7.95 4.59l5.3-9.18m0 9.18l-5.3-9.18");
}
