.hq5kszb0z {
  fill: var(--svg-color--b1cc33, #b1cc33);
  stroke: var(--svg-color--b1cc33, #b1cc33);
  d: path("M58.613 14.83s-3.721 6.953-9.376 9.376c-4.44 1.905-10.081 1.007-12.297.545c-2.224.417-7.882 1.2-12.282-.796c-5.605-2.537-9.183-9.564-9.183-9.564s7.63-1.942 13.234.595c1.205.542 2.307 1.284 3.309 2.124c3.786 3.185 4.813 3.56 10 .102c1.018-.82 2.135-1.538 3.35-2.056c5.656-2.423 13.245-.325 13.245-.325z");
}
