.hrz1tcbrn {
  fill: none;
  stroke: var(--svg-color--45413c, #45413c);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M3.106 16.804A5.05 1.85-66.1 1 0 7.198 7.57a5.05 1.85-66.1 1 0-4.092 9.234");
}
