.hsdhawbaa {
  fill: none;
  stroke: var(--svg-color--000, #000);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: var(--svg-stroke-width--2px, 2px);
  d: path("M24.198 47.367s-1.667 12.708 11.958 7.583v-3.344M21.24 28.492c-.167.333-4.667 9.166.917 16.25");
}
