.ht011mxbb {
  fill: none;
  stroke: var(--svg-color--000, #000);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
  stroke-width: var(--svg-stroke-width--2px, 2px);
  d: path("M55.644 47.97A22.9 22.9 0 0 0 59 36.054C59.03 23.35 48.756 13.03 36.054 13S13.03 23.243 13 35.946C12.97 48.648 23.243 58.97 35.946 59a22.9 22.9 0 0 0 13.88-4.619");
}
