.hts844bcq {
  fill: none;
  stroke: var(--svg-color--45413c, #45413c);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M8.7 26.75c1.67 5.54 2 10.36.64 10.75S5.62 33.72 4 28.17s-2-10.36-.68-10.75S7 21.2 8.7 26.75");
}
