.hu-a87s5o {
  fill: var(--svg-color--009b3a, #009B3A);
  fill-rule: nonzero;
  stroke: var(--svg-color--000, #000);
  stroke-width: var(--svg-stroke-width--0-075px, 0.075px);
  d: path("M142.083 91.153c-.086 1.443-.287 3.669-.249 5.072c-1.003-.888-2.672-2.089-3.696-2.828c.954.465 2.225 1.215 3.121 1.478c.359-1.02.567-2.593.824-3.722z");
}
