.hu725uk7z {
  fill: none;
  stroke: var(--svg-color--000, #000);
  stroke-linecap: round;
  stroke-miterlimit: 10;
  stroke-width: var(--svg-stroke-width--2-079px, 2.079px);
  d: path("M32.97 33.859c-1.391-1.515-1.6-2.951-2.456-3.346a2.21 2.21 0 0 0-2.466.654c-.67.8-.183 2.69.174 3.39h0a9.8 9.8 0 0 0 2.267 3.67c.03.02.144.114.284.23a3.33 3.33 0 0 0 2.158.81m-13.545.708c-1.41-1.674-1.603-2.763-1.517-3.702a1.97 1.97 0 0 1 1.543-1.827c1.028-.182 2.522 1.105 2.95 1.764h0a9.8 9.8 0 0 1 2.048 3.796c.003.036.028.181.059.36a3.33 3.33 0 0 1-.377 2.275a22 22 0 0 1-1.3 1.94");
}
