.hum-5r2tq {
  stroke: var(--svg-color--191919, #191919);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M16.583 10.625a.917.917 0 0 1-.916.917H8.333a.917.917 0 0 1-.916-.917V6.042a.917.917 0 0 1 .916-.917h7.334a.917.917 0 0 1 .916.917z");
}
