.huy1pub3k {
  fill: var(--svg-color--292c2f, #292c2f);
  d: path("M0 448v12.8C0 489.2 22.8 512 51.2 512h409.6c28.4 0 51.2-22.8 51.2-51.2V448c0 28.4-22.8 51.2-51.2 51.2H51.2C22.8 499.2 0 476.4 0 448");
  opacity: var(--svg-opacity--0-2, 0.2);
}
