.hwt6r3f1i {
  fill: none;
  stroke: var(--svg-color--000, #000);
  stroke-width: var(--svg-stroke-width--0-1px, 0.1px);
  d: path("M256.6 220.1s-3 6.4-2.4 6.9c0 0 2.6-2.9 3.2-5.2s0-.1 0-.1l.8-4.1");
}
