.hxjrp7bsm {
  fill: var(--svg-color--ea5a47, #ea5a47);
  stroke: var(--svg-color--ea5a47, #ea5a47);
  stroke-miterlimit: 10;
  stroke-width: var(--svg-stroke-width--2px, 2px);
  d: path("M25 27s1.761 2.642-2.154 3.794a2.23 2.23 0 0 0-1.273.977C20.73 33.154 18.78 35.671 17 33c-1.087-1.63-.697-2.965-.115-3.845a2.165 2.165 0 0 0-.458-2.872C15.587 25.612 14.428 25 13 25c-1.917 0 .658-1.633 2.767-2.813c.864-.483 1.162-1.482.967-2.453c-.047-.234.108-.418.266-.734c1-2 1-4 2-5c1.581-1.581 2-3 7-1c5.414 2.166-.833 6.167-.833 6.167");
}
