.hxvso6bcf {
  fill: var(--svg-color--fff, #fff);
  fill-rule: evenodd;
  stroke: var(--svg-color--fff, #fff);
  stroke-miterlimit: 2.6;
  stroke-width: var(--svg-stroke-width--0-1px, 0.1px);
  d: path("M255.3 248.3a5.2 5.2 0 1 0-5.3-5.2a5 5 0 0 0 5.3 5.2z");
}
