.hyqbivb0g {
  fill: var(--svg-color--e40000, #e40000);
  stroke: var(--svg-color--fff, #fff);
  stroke-width: var(--svg-stroke-width--4-919px, 4.919px);
  d: path("M30.875 169.163L26 52.061l77.923 56.207v126.477z");
}
