.hyz31s1rj {
  fill: var(--svg-color--00b8f0, #00b8f0);
  stroke: var(--svg-color--45413c, #45413c);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M33.39 28.16c2.2 3.54 4 10.13 4 10.13a.66.66 0 0 1-.39.82c-2.59 1-4.44 2.32-4.6 3.23a.33.33 0 0 0 .28.36c.73.12 3 .32 6.89-.93s5.63-2.73 6.15-3.25a.32.32 0 0 0 0-.46c-.65-.65-2.9-.62-5.61 0a.66.66 0 0 1-.8-.44s-2.4-6.38-2.67-10.54Z");
}
