.hz9bnhmfv {
  fill: var(--svg-color--fff, #FFF);
  fill-rule: nonzero;
  stroke: var(--svg-color--bd6b00, #BD6B00);
  stroke-width: var(--svg-stroke-width--0-25px, 0.25px);
  d: path("M137.835 105.035h1v1.446h-1zm0 1.985h1v1.54h-1zm-15.84-37.535c.178 2.784-.686 4.311-2.16 4.079c-.406-1.544.518-2.58 2.16-4.079zm-3.235 6.17c-1.311-.666-.365-5.757.138-7.89c.372 2.748.995 6.655-.138 7.89z");
}
