.hzqb1s7ax {
  fill: currentColor;
  d: path("M20.64 15.272a3.452 3.452 0 0 1-5.28 0A4.99 4.99 0 0 0 13 19.5a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1a4.99 4.99 0 0 0-2.36-4.228");
  opacity: var(--svg-opacity--0-7, 0.7);
}
