.n-7rx9b2q {
  fill: var(--svg-color--fff, #fff);
  fill-rule: evenodd;
  d: path("m10.531 11.501l.628-.05l.957-.074c.477-.035.867-.398.943-.87l.055-.334c.153-.933.312-1.901.312-2.893s-.159-1.96-.312-2.894l-.055-.334a1.04 1.04 0 0 0-.943-.87l-.957-.074l-.628-.05l.036.493c.09 1.203.183 2.45.183 3.729s-.093 2.525-.182 3.728zM3.47 3.058l-.037.493c-.09 1.203-.182 2.45-.182 3.729s.093 2.525.182 3.728l.037.493l-.629-.05l-.957-.074a1.04 1.04 0 0 1-.942-.87l-.055-.334C.733 9.24.574 8.272.574 7.28s.16-1.96.313-2.894l.055-.334c.076-.472.466-.835.942-.87l.957-.074z");
}
