.n-lopnnqb {
  fill: var(--svg-color--7ebae4, #7ebae4);
  fill-rule: evenodd;
  d: path("M18.096 57.082L8.12 74.362l-2.33-3.95l2.69-4.627l-5.34-.014L2 63.798l1.162-2.019l7.602.024l2.731-4.71zm.766 13.813h19.953l-2.255 3.993l-5.352-.015l2.658 4.632l-1.14 1.972l-2.329.002l-3.78-6.594l-5.444-.012zm11.613-7.572L20.5 46.043L25.084 46l2.663 4.643l2.683-4.618h2.277l1.167 2.016l-3.822 6.571l2.713 4.72z");
}
