.n0107xb3u {
  fill: var(--svg-color--b1cc33, #b1cc33);
  stroke: var(--svg-color--b1cc33, #b1cc33);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
  stroke-width: var(--svg-stroke-width--2px, 2px);
  d: path("m20.725 54.299l-7.641.685c-1.551.027-3.103.053-2.823-.696c.281-.75 2.395-2.274 3.264-4.053s.495-3.812 1.07-5.351s2.1-2.583 3.626-3.626l4.312-3.488m26.536 8.394l.937 4.084c.117.719.233 1.437-.07 2.237s-1.026 1.683-.771 2.11c.254.429 1.485.402 2.715.375l5.453-.477l-2.647-11.622");
}
