.n0uw73b1p {
  fill: var(--svg-color--e4c1b3, #e4c1b3);
  fill-rule: evenodd;
  d: path("M435.4 331.5c.3 1.6-.1 3-1 4.2c-1.4-1.6-3.2-2.3-5.2-2.1c-.8-2.2-2.2-2.5-4.2-1c1.8 2.1 2.5 4.6 2.1 7.3h-6.3v-23.1q3.15-1.95 6.3-4.2c5.1 2.7 9.7 6.2 13.6 10.5q1.65 5.7-2.1 10.5c-.8-1.1-1.9-1.8-3.2-2.1");
}
