.n0wia5x_d {
  fill: none;
  stroke: var(--svg-color--000, #000);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: var(--svg-stroke-width--2px, 2px);
  d: path("M20.836 22h4.909v5h-4.909zm16.691 0h4.909v5h-4.909zm1.166 5h2.572v2.5h-2.572zm6.689-2.5h-2.946m-4.909 0H25.745m14.237 5v4.25c0 1.795-1.429 3.25-3.191 3.25h0c-1.762 0-3.191 1.455-3.191 3.25m-8.836 3.246h22.581m-13.803-3h-2.888v3h10.8v-3h-2.359m6.653 3V47m-18.655-3.504V47");
}
