.n1569g5vc {
  stroke: var(--svg-color--000, #000);
  stroke-width: var(--svg-stroke-width--0-4px, 0.4px);
  d: path("M391.7 276.9h-27.3v-.7l27.3.3zm21.3-22q.5 0 0 0l-21.3-.4q-.6 0 0 0H413zm-22.7 6q.5.2 0 .4h-24.1c-.4 0 0-.4 0-.4zm.7-15.6q.5.2 0 .4h-25.2q-.6-.2 0-.4zm-1.8-12.4q.6.1 0 .3h-24.5c-.3 0 0-.7 0-.7l24.9.4z");
}
