.n1dk7xbrs {
  fill: var(--svg-color--ffef00, #FFEF00);
  fill-rule: nonzero;
  d: path("M183.099 88.102c6.125-3.521 17.044.216 20.94-5.868c-6.83 2.904-15.472-1.802-21.728.89s-5.336 8.499.788 4.978");
}
