.n2_1awp8x {
  stroke: var(--svg-color--4147d5, #4147d5);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M4.11 12.94a40 40 0 0 0 2.89.09c1.078 0 2.031-.03 2.89-.091a2.59 2.59 0 0 0 2.39-2.391c.05-.622.08-1.255.08-1.903c0-.647-.03-1.28-.08-1.902a2.59 2.59 0 0 0-2.39-2.391A40 40 0 0 0 7 4.261c-1.078 0-2.031.03-2.89.092a2.59 2.59 0 0 0-2.39 2.39a24 24 0 0 0-.08 1.903c0 .648.03 1.281.08 1.903a2.59 2.59 0 0 0 2.39 2.39ZM1.64 8.646h10.72M7 13.031v-8.77");
}
