.n2thj005d {
  fill: none;
  stroke: var(--svg-color--000, #000);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
  stroke-width: var(--svg-stroke-width--2px, 2px);
  d: path("M27.171 45.209V58.11l17.448-.014V45.189m-28.262-6.717c-1.223-.775-1.218-2.11-.443-3.333s1.908-1.688 3.131-.913m-.12 6.814a2.568 2.568 0 1 1-2.568-2.568m-6.644 10.18c6.352-.394 4.558-5.676 4.558-5.676s-5.545-.611-4.558 5.676M23.291 38.15s.873 2.585-1.079 3.548c-1.299.64-2.605.62-3.287-.658m8.137-24.665V8.173l8.785 1.418l8.786-1.418v8.202M27.062 12.87h17.571m-18.25 3.505s-12 8.752-7.338 17.851m33.6 6.814c0 .806.371 1.526.953 1.997m-5.32-4.887s-.872 2.585 1.08 3.548c1.298.64 2.605.62 3.287-.658m-7.458-24.665s2.96 2.16 5.369 5.447M53.13 25.1s-2.377 15.416 7.084 15.658V25.1m7.085 0s2.376 15.416-7.085 15.658V25.1m-2.653 15.658h5.48v4.245h-5.48zm4.74 17.196v-12.91h-4v12.91M19.39 16.375h32.568m-25.447 4.142c-1.229 2.266-1.947 5-1.947 7.944c0 7.828 5.077 14.173 11.339 14.173S47.24 36.289 47.24 28.461c0-2.77-.635-5.353-1.734-7.536l-.236-.886l-.52 2.624H27.116l-.634-2.057");
}
