.n3a0-aczr {
  fill: var(--svg-color--d7e0ff, #d7e0ff);
  fill-rule: evenodd;
  d: path("M3.635 12.903a1.92 1.92 0 0 1-1.772-1.808a70 70 0 0 1-.106-5.443h10.486c.035 1.81 0 3.603-.106 5.443a1.92 1.92 0 0 1-1.772 1.808c-2.29.167-4.44.167-6.73 0");
}
