.n5strteld {
  fill: var(--svg-color--ffef5e, #ffef5e);
  stroke: var(--svg-color--191919, #191919);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M21 16.5c0 3.59-3.76 6.5-9 6.5s-9-2.91-9-6.5l2.1 1.3a2.16 2.16 0 0 0 2.5-.4a2.154 2.154 0 0 1 2.91-.13a2.34 2.34 0 0 0 2.97 0a2.17 2.17 0 0 1 2.92.13a2.16 2.16 0 0 0 2.5.41z");
}
