.n60qy3ekt {
  fill: none;
  stroke: var(--svg-color--000, #000);
  stroke-width: var(--svg-stroke-width--2px, 2px);
  d: path("M35.02 8.261a1.95 1.95 0 0 1 1.952 0l22.56 13.02c.604.348.976.993.976 1.69v26.05a1.95 1.95 0 0 1-.976 1.69l-22.56 13.02a1.95 1.95 0 0 1-1.952 0l-22.56-13.02a1.95 1.95 0 0 1-.976-1.69v-26.05c0-.698.372-1.342.976-1.69z");
}
