.n6jizwbwn {
  fill: currentColor;
  d: path("M11.47 6.47a.75.75 0 0 1 1.06 0l2 2a.75.75 0 0 1-1.06 1.06l-.72-.72V13a.75.75 0 0 1-1.5 0V8.81l-.72.72a.75.75 0 1 1-1.06-1.06z");
  opacity: var(--svg-opacity--0-5, 0.5);
}
