.n6xeidxlr {
  fill: currentColor;
  fill-rule: evenodd;
  d: path("M14.8 3.13a.5.5 0 0 0-.706.042l-4 4.5a.5.5 0 0 0 0 .664l4 4.5a.5.5 0 0 0 .748-.665l-3.7-4.17l3.7-4.17a.5.5 0 0 0-.042-.706z");
  opacity: var(--svg-opacity--0-15, 0.15);
}
