.n8229fbep {
  fill: var(--svg-color--ff52a1, #ff52a1);
  stroke: var(--svg-color--231f20, #231f20);
  d: path("M34.3 22.34a15.4 15.4 0 0 0-2.94 2.1a14 14 0 0 0-1.25-1.7c-3.85-4.52-8.94-5.4-14-1.12s-5 9.45-1.12 14S24 41 29 36.71c6-5.07 9.57-8.08 10-8.92c.81-1.1-.4-2.78-1.18-3.7s-2.3-2.38-3.52-1.75Z");
}
