.n84qhnb9f {
  fill: none;
  stroke: currentColor;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: var(--svg-stroke-width--1-5px, 1.5px);
  d: path("M16 10h4m-2 0V5.488c0-.875 0-1.313-.276-1.451c-.277-.139-.626.124-1.324.649l-.4.3M20 18v-2a2 2 0 1 0-4 0v2a2 2 0 1 0 4 0M4 8s2.946-4 4-4s4 4 4 4M8 5v15");
}
