.n8a14bt3x {
  stroke: var(--svg-color--000, #000);
  stroke-width: var(--svg-stroke-width--0-104px, 0.104px);
  d: path("M111.796 92.616c.02-.06.072-.092.112-.08c.044.016.06.072.04.132s-.072.092-.116.08c-.044-.016-.06-.072-.036-.132z");
}
