.n8njst_bx {
  fill: var(--svg-color--0b4fd4, #0b4fd4);
  fill-rule: evenodd;
  d: path("M233.4 31.2c-109.1 0-197.5 88.4-197.5 197.5s88.4 197.5 197.5 197.5s197.5-88.4 197.5-197.5S342.4 31.2 233.4 31.2M4.7 228.7C4.7 102.4 107.1 0 233.4 0S462 102.4 462 228.7S359.7 457.3 233.4 457.3S4.7 354.9 4.7 228.7");
}
