.n92m255cp {
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M4 25.042V12.014A4.168 4.168 0 0 1 11.047 9q2.399 2.29 3.424 5M44 25.042V12.766A4.478 4.478 0 0 0 36 10a111 111 0 0 0-3 4");
}
