.n9v8t4v8x {
  fill: var(--svg-color--fc0, #FC0);
  fill-rule: nonzero;
  stroke: var(--svg-color--000, #000);
  stroke-width: var(--svg-stroke-width--0-073px, 0.073px);
  d: path("M150.181 86.363c.098.025.208.061.318.098c.453.135.563.428.917.734c.172.159.355.294.575.392c.012.012.061.085.085.11c.208.147.428.27.612.428c.318.294.624.587.93.905c.049.049.061.147.123.196c.232.22.464.453.746.587c.245.11.453.269.673.404c.6 0 1.199-.012 1.823-.037c-.245-.147-.465-.318-.734-.441c-.257-.123-.453-.331-.673-.538c-.049-.037-.061-.122-.11-.172c-.282-.293-.563-.55-.857-.82c-.159-.147-.355-.257-.538-.392c-.025-.012-.074-.086-.086-.098a2.2 2.2 0 0 1-.526-.355c-.318-.281-.416-.551-.832-.673s-.771-.282-1.027-.477c-.074-.061-.159-.135-.22-.159c-.221-.098-.514-.135-.71-.025c-.171.1-.343.21-.489.333z");
}
