.n9w4rx-6s {
  fill: none;
  stroke: var(--svg-color--000, #000);
  stroke-miterlimit: 10;
  stroke-width: var(--svg-stroke-width--1-5px, 1.5px);
  d: path("M42.008 29.966a2 2 0 1 1-2-2a2 2 0 0 1 2 2m-8 0a2 2 0 1 1-2-2a2 2 0 0 1 2 2");
}
