.n_20i_4vp {
  fill: none;
  stroke: var(--svg-color--000, #000);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: var(--svg-stroke-width--2px, 2px);
  d: path("M16.895 60.281s-2-13 10-13c3.16 2.09 5.86 3.56 8.88 3.59h.12c3.02-.03 5.73-1.5 8.88-3.59c.15 0 .29 0 .43.01m5.85 1.76c4.9 3.55 3.72 11.23 3.72 11.23M21.967 48.23v12.204m27.491-9.518v9.518");
}
