.n_a7hbj8k {
  cx: 60.5px;
  cy: 55.5px;
  r: 18.333px;
  fill: var(--svg-color--ffce00, #FFCE00);
  fill-rule: nonzero;
  stroke: var(--svg-color--003580, #003580);
  stroke-width: var(--svg-stroke-width--2px, 2px);
}
