.na469bckw {
  fill: var(--svg-color--fff, #fff);
  stroke: var(--svg-color--231f20, #231f20);
  stroke-miterlimit: 10;
  d: path("M32.3 33.81a6.4 6.4 0 0 0 2.1.06a6.4 6.4 0 0 0 2.08-.34c.18-.1.16-.57.14-1s-.08-.85-.27-.93a6.7 6.7 0 0 0-2.1-.06a6.5 6.5 0 0 0-2.08.34c-.17.1-.16.57-.13 1s.07.85.26.93Z");
}
