.na9h5pbhi {
  fill: var(--svg-color--a8bc6a, #a8bc6a);
  fill-rule: evenodd;
  d: path("M496.7 0c5.1.1 8.6 2.1 11 5c-22.8 27.1-26.6 31.4-57.8 70c-11.5 14.8-23.4 7.2-12-7.7l47.8-61.9c2.7-3.3 6.7-5.3 11-5.4M15.3 0c-5.1.1-8.6 2.1-11 5c22.8 27.1 26.6 31.4 57.8 70c11.5 14.8 23.4 7.2 12-7.7L26.2 5.5C23.6 2.1 19.6.1 15.3 0");
}
