.nabuixfbg {
  stroke: var(--svg-color--000, #000);
  stroke-width: var(--svg-stroke-width--0-088px, 0.088px);
  d: path("M162.777 62.973s1.21 2 .945 2.229c-.266.229-1.86.915-3.595-1.661s1.786-2.037 1.786-2.037z");
}
