.nath3pydd {
  fill: var(--svg-color--000, #000);
  fill-rule: nonzero;
  d: path("M182.304 65.108a.32.32 0 0 1-.325-.326c0-.203.122-.367.325-.367c.162 0 .285.164.285.367c0 .164-.123.326-.285.326");
}
