.nbforjt-u {
  fill: var(--svg-color--00a651, #00A651);
  fill-rule: nonzero;
  d: path("M234.515 100.731s-.904-3.089.817-3.877c0 0 .319-.088.377.233c0 0 .38-.496.672-.058c0 0 .874-.408 1.079.233c0 0 .582-.496.875.232c0 0 .554-.232.554.35c0 0 .758-.321.758.379c0 0 .727-.291.582.495c0 0 1.108.175.788.699c0 0 .993.262.612.671c0 0 1.078-.117.495.612c0 0 .817-.262.35.642c-.467.903-1.923 1.894-2.944 2.01");
}
