.nbi374bhf {
  stroke: var(--svg-color--000, #000);
  stroke-width: var(--svg-stroke-width--0-041px, 0.041px);
  d: path("M156.051 115.023a.08.08 0 0 1-.081.081c-.052 0-.089-.037-.089-.081c0-.052.037-.088.089-.088c.045 0 .081.037.081.088zm.517-.051a.086.086 0 0 1-.089.089c-.044 0-.081-.037-.081-.089c0-.044.037-.089.081-.089a.09.09 0 0 1 .089.089zm.502-.037a.085.085 0 0 1-.089.088c-.044 0-.082-.037-.082-.088c0-.044.037-.089.082-.089a.09.09 0 0 1 .089.089z");
}
