.nbjktxbbf {
  stroke: var(--svg-color--f14a16, #f14a16);
  stroke-width: var(--svg-stroke-width--2-534px, 2.534px);
  d: path("M635.473 1187.57s-24.685-29.53-24.685-85.37h-21.356c0 55.84-24.698 85.37-24.698 85.37");
}
