.nc5yfkuay {
  fill: var(--svg-color--ff0, #ff0);
  stroke: var(--svg-color--000, #000);
  d: path("M382.7 248c-3.6 3.6 4.6 61.3 7 63.8c3.6 3.5 24.9 3.5 28.4 0c2.5-2.5 0-56.7-3.5-60.2c-3.6-3.6-29.4-6-32-3.6z");
}
