.nd_b4mcoo {
  fill: var(--svg-color--763d16, #763d16);
  stroke: var(--svg-color--763d16, #763d16);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("m278.3 114.2l8.5-40.8l-12.7-37.9l-96.2 71.4l37 31.3l52.3 15.3l11.6-13.5l-5-3.6l8-7.3l-6.2-4.8l8-6.1zM31.8 73.4l8.5 40.8l-5.4 4l8 6.1l-6.1 4.8l8 7.3l-5 3.6l11.5 13.5l52.3-15.3l37-31.3l-96.2-71.4z");
}
