.ne-y4bcan {
  fill: var(--svg-color--fff, #fff);
  stroke: var(--svg-color--fff, #fff);
  d: path("M15 14.385C19.126 16 24.01 16 24.01 16s4.87 0 8.99-1.615c4.502 5.254 7.657 12.18 9.73 18.013C44.829 38.303 40.2 44 33.934 44H14.02c-6.252 0-10.874-5.67-8.786-11.563C7.298 26.614 10.455 19.686 15 14.385Z");
}
