.nfbnb3g9h {
  fill: var(--svg-color--fff, #FFF);
  fill-rule: nonzero;
  stroke: var(--svg-color--000, #000);
  stroke-width: var(--svg-stroke-width--0-45px, 0.45px);
  d: path("M159.738 113.115c-.848-.375-2.694-1.4-2.694-2.433V97.63c.18-.729 1.169-1.159 1.805-1.612h-17.195c.818.433 1.73.793 2.057 1.612v13.052c0 1.032-1.46 2.058-2.307 2.433z");
}
