.nhadw2bjj {
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: var(--svg-stroke-width--1-6px, 1.6px);
  d: path("M38 21a3 3 0 0 1 0 6m.5 10.5a2 2 0 0 1 0-4M25 42a2 2 0 0 1 0-4");
}
