.nhfnpacub {
  stroke: var(--svg-color--092f63, #092f63);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M13.96 4.65h4.9l.98 1.47l-.98 1.47l.98 1.47l-.98 1.47l.49 1.47l-.98 1.47M5.63 7.59l3.43-.98l1.47-2.94l2.352-1.176M5.63 6.61H2.69v6.86h2.94z");
}
