.nhoqoxzri {
  fill: var(--svg-color--e8112d, #E8112D);
  fill-rule: nonzero;
  d: path("M45.529 9.338C25.52 9.338 9.3 25.737 9.3 45.966s16.22 36.628 36.229 36.628l-1.922 1.486c-20.821 0-37.7-17.064-37.7-38.114s16.879-38.114 37.7-38.114z");
}
