.ni2kd7y2o {
  fill: var(--svg-color--fff, #fff);
  d: path("M79.5 206.5C57.3 328.6 158 399.7 261.8 365.6c97.8-32.2 143.2-99.3 168.4-170.5c-4 22-10.9 46.4-22.8 66.3c-29.6 49.1-62.8 97.9-137.5 131.3c-74.6 33.4-156.7 29-201.6-40.7s-12.5-160.7-.6-180.3C79.6 152.2 138.5 57 236.5 29.4c0 0-134.8 54.9-157 177.1M242.2 14.9C279.7 2.2 348.1-5 399.5 24.4s69.2 74.3 77.1 119s.5 120.9-46.8 198.4s-89.8 112-156.5 145.4s-141.1 15.7-141.1 15.7c35.2 11.6 84.7 11.6 124.9 2.6c40.1-9 126-39.3 197.8-151.3s46.2-217.9 25.7-259.8S414.2 0 314 0S139.9 69.3 139.9 69.3c40-27.9 64.8-41.8 102.3-54.4");
  opacity: var(--svg-opacity--0-75, 0.75);
}
