.nj98_2b4n {
  fill: var(--svg-color--006800, #006800);
  fill-rule: evenodd;
  stroke: var(--svg-color--004100, #004100);
  stroke-linejoin: round;
  stroke-width: var(--svg-stroke-width--2-2px, 2.2px);
  d: path("M267 319c-8.8 1.6-20.8 10-24.4 9.7c-9.5-1.1-18.5-5-27.7-8c-3.8-1.2-7.7 0-11.6 0c32.8-15.5 44-13.4 63.7-1.8z");
}
