.nk-vpxbee {
  fill: var(--svg-color--009b3a, #009B3A);
  fill-rule: nonzero;
  stroke: var(--svg-color--000, #000);
  stroke-width: var(--svg-stroke-width--0-075px, 0.075px);
  d: path("M160.411 90.55c.354.919.49 1.782.305 1.93s-.622-.477-.976-1.395s-.49-1.782-.305-1.93s.622.477.976 1.395z");
}
