.nlnq6nb9q {
  fill: var(--svg-color--2f88ff, #2F88FF);
  fill-rule: evenodd;
  d: path("M34 12C36.2091 12 38 10.2091 38 8C38 5.79086 36.2091 4 34 4C31.7909 4 30 5.79086 30 8C30 10.2091 31.7909 12 34 12Z");
}
