.nmnzhab_v {
  fill: var(--svg-color--e40000, #e40000);
  fill-rule: evenodd;
  stroke: var(--svg-color--ac0000, #ac0000);
  stroke-width: var(--svg-stroke-width--2-4px, 2.4px);
  d: path("m269.4 151.7l8.6 16.5h79.2l9.2-15.9c-5.4-3.7-9-6.5-16.7-4.8c-4.3-6.2-9-7.3-16-6.7c-2.1-2.1-4-3.4-7.6-4l-16.6.5c-4.4.4-7.8 3.8-8 3.8c-7-.9-13.5-.7-15.2 6.2c-6.5-1.6-11 .2-16.9 4.4z");
}
