.nmtmgmbal {
  fill: var(--svg-color--785199, #785199);
  fill-rule: evenodd;
  d: path("M311 245.5c-20.9-51.9-80.2-47.8-97.6-14.2c-20.2 38.9 21.4 72.1 45.8 67.1c25.5-5.2 32.7-14.1 40.4-37.3c.5-1.5 10.8-1 12.9-.2c4 1.4-4.5 38.5-36.3 49.9c-53.9 19.3-99.7-35.1-77-84.6c22.9-50 93.1-44.5 111.8 1.2c4.7 11.3 4.7 28 0 18.1");
}
