.nmudjsbdm {
  fill: none;
  stroke: var(--svg-color--fff, #fff);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: var(--svg-stroke-width--2-5px, 2.5px);
  d: path("m27.96 53.266l-.025-22.267l20.734-.042l-.005 20.038a2.237 2.237 0 0 1-2.237 2.237h-4.926M19.007 39.607c10.725-7.787 14.457-21.343 14.457-21.343M19.52 23.492l33.508-.009");
}
