.np0v2fbyh {
  fill: var(--svg-color--fc0, #fc0);
  stroke: var(--svg-color--121116, #121116);
  stroke-linejoin: round;
  stroke-width: var(--svg-stroke-width--1-2px, 1.2px);
  d: path("M265.2 66.9a9.6 9.6 0 0 1-9.7 9.5a9.6 9.6 0 0 1-9.7-9.5a9.6 9.6 0 0 1 9.6-9.5a9.6 9.6 0 0 1 9.8 9.4");
}
