.npdsiub3x {
  fill: var(--svg-color--d0cfce, #d0cfce);
  stroke: var(--svg-color--d0cfce, #d0cfce);
  stroke-linejoin: round;
  stroke-width: var(--svg-stroke-width--2-32px, 2.32px);
  d: path("M60.238 63.782c-2.751 0-6.816-.153-6.816-.153L37.79 61.422l-14.997-3.445L5.715 49.2l-.023-5.02l1.723-.706l2.332 1.625l4.634 4.158l4.87 1.45l9.343 4.773l5.181-1.197l7.352 1.414l10.159 5.202l5.22-.126");
}
