.npz5h8mqr {
  fill: var(--svg-color--ff87af, #ff87af);
  stroke: var(--svg-color--45413c, #45413c);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M20.85 5.58a1.81 1.81 0 0 1 1.8 1.8V11H20.4l-1.22-2.93a1.8 1.8 0 0 1 1.67-2.49m6.3 0a1.8 1.8 0 0 1 1.67 2.49L27.6 11h-2.25V7.38a1.81 1.81 0 0 1 1.8-1.8");
}
