.nqg4ybtvm {
  fill: var(--svg-color--ffe500, #ffe500);
  stroke: var(--svg-color--45413c, #45413c);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M3.09 29.74h1.86A1.24 1.24 0 0 1 6.18 31v1.15a1.24 1.24 0 0 1-1.24 1.24H3.09h0z");
}
