.nrze7ue5l {
  stroke: var(--svg-color--092f63, #092f63);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M23.249 4.842H.75v6.135h22.5zM19.158.751H4.842l-4.09 4.09h22.497zm1.022 6.136v2.045m-2.044-2.045v2.045M16.09 6.887v2.045m7.159 2.045H.75v6.136h22.5zm-3.069 2.046v2.045m-2.044-2.045v2.045m-2.046-2.045v2.045m7.159 2.045H.75v6.136h22.5zm-3.069 2.045v2.045m-2.044-2.045v2.045m-2.046-2.045v2.045");
}
