.nsozpubbj {
  fill: none;
  stroke: currentColor;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: var(--svg-stroke-width--2px, 2px);
  d: path("m22 2l-1.818 10M17.455 2l-1.819 10M8.364 2L6.545 12M3.818 2L2 12m19.09-5.294H3M12.91 2L9.272 22");
}
