.nu05czbbb {
  stroke: var(--svg-color--ff3c00, #FF3C00);
  stroke-width: var(--svg-stroke-width--0-049px, 0.049px);
  d: path("M148.751 74.752c.428-.318.93-.428 1.505-.428c.55 0 1.089.123 1.517.404");
}
