.nv10zjblu {
  fill: var(--svg-color--a96e61, #a96e61);
  fill-opacity: var(--svg-fill-opacity--0-749, 0.749);
  d: path("M121.588 54.613q.58-.084.474.428a.12.112 16.8 0 1-.158.077q-.56-.217-1.062-.025q-.469.18-.196-.24q.388-.6.717-.316a.316.255 57.1 0 0 .225.075z");
}
