.nv6xjnnui {
  stroke: var(--svg-color--191919, #191919);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M15.593 7.793a8.556 8.556 0 0 0-12.104 0m9.684 3.272a5.137 5.137 0 0 0-7.264 0");
}
