.nw5sr2bpe {
  stroke: var(--svg-color--000, #000);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: var(--svg-stroke-width--0-15px, 0.15px);
  d: path("m214.022 135.04l1.488-1.407l-1.727-.456");
}
