.nx-mj0xoc {
  fill: var(--svg-color--828282, #828282);
  stroke: var(--svg-color--828282, #828282);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: var(--svg-stroke-width--4px, 4px);
  d: path("M21 9h16v8H21zm-4 8h24v54H17z");
}
