.nx5_b02uq {
  stroke: var(--svg-color--silver, silver);
  stroke-opacity: 0.25;
  stroke-width: var(--svg-stroke-width--0-6px, 0.6px);
  d: path("M20.3 12a6.3 6.3 0 1 0-12.6 0a6.3 6.3 0 0 0 12.6 0Z");
}
