.nxpkgyrrx {
  fill: none;
  stroke: var(--svg-color--000, #000);
  stroke-width: var(--svg-stroke-width--0-236px, 0.236px);
  d: path("M222.23 86.926s.196 6.058.551 10.336m-.828-3.485s-.2 3.961-.437 4.239m-1.903.394s.438 1.703 2.617.121c2.176-1.586 2.215.594 2.297.828c.078.239.434 1.942 1.266.516m1.742-2.335s-.355 3.522 2.774.948s3.64-.039 3.722.754m-6.457-57.539s-.277 1.742 1.586 1.586c-.238.95.473 1.266.473 1.266m1.387 1.07c.039 0 .832.512-.04 1.148m-2.652.235s.395.476.832.36c.434-.122 1.149.433 1.149.433s.593.199.671.082m-5.07.633s1.348.515 2.219-1.625m-4.711-.633l.789.039m-9.578 24.933l.062 1.735m-1.687-1.863s1.113 1.863 1.02 2.851");
}
