.nzhyxyb6w {
  fill: none;
  stroke: var(--svg-color--9b9b9a, #9b9b9a);
  stroke-linejoin: round;
  stroke-width: var(--svg-stroke-width--3-625px, 3.625px);
  d: path("M14.907 33.812c0-6.652 2.187-13.686 8.936-13.686c6.872 0 9.074 5.558 9.349 13.686");
}
