.nzmh0imzu {
  stroke: currentColor;
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M28.186 15.47a27.227 27.227 0 1 1 23.627 49.06a27.227 27.227 0 0 1-23.627-49.062m21.892 3.603a23.227 23.227 0 1 0-20.156 41.853a23.227 23.227 0 0 0 20.156-41.853");
}
