.k-5j1ab6h {
  fill: none;
  stroke: currentColor;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: var(--svg-stroke-width--2px, 2px);
  d: path("M4.343 6.344L10 12l-5.657 5.656M12 18h8");
}
