.k0oovs2kq {
  fill: var(--svg-color--f7df73, #f7df73);
  fill-rule: evenodd;
  stroke: var(--svg-color--000, #000);
  stroke-linejoin: round;
  stroke-width: var(--svg-stroke-width--1-5px, 1.5px);
  d: path("M160.3 216s52-14.7 67.6-78.5c-9.1 65.5-66 86.2-66 86.2z");
}
