.k1cl4ekoc {
  fill: var(--svg-color--d7e0ff, #d7e0ff);
  fill-rule: evenodd;
  d: path("M12.564 5.39c0 1.804-.753 3.816-1.947 5.283c-.642-1.743-2.1-2.49-3.795-2.49c-1.696 0-3.155.745-3.796 2.49c1.012 1.242 2.34 2.094 3.794 2.094c-3.173 0-5.744-4.044-5.744-7.378S3.647.694 6.82.694s5.744 1.361 5.744 4.695M4.498 3.364a1.271 1.271 0 1 0 0 2.542h4.648a1.271 1.271 0 1 0 0-2.542z");
}
