.k1jpkwbze {
  fill: var(--svg-color--00f, #00f);
  stroke: var(--svg-color--000, #000);
  stroke-width: var(--svg-stroke-width--0-9px, 0.9px);
  d: path("M400.9 181.4s11 .3 11.1 6.2s-3.3 4.3-3.4 4.3l-8-1z");
}
