.k1pi9ac8m {
  fill: none;
  stroke: var(--svg-color--45413c, #45413c);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M46.25 33.75A8.25 8.25 0 1 1 38 25.5a8.25 8.25 0 0 1 8.25 8.25");
}
