.k1xpd-b6l {
  fill: var(--svg-color--000, #000);
  stroke: var(--svg-color--fcdd09, #FCDD09);
  stroke-width: var(--svg-stroke-width--1-667px, 1.667px);
  d: path("M150.5 93.833V115.5zm-17.436-12.668l-20.606 6.695zm6.66-20.497l-12.735-17.529zm21.552 0l12.735-17.529zm6.66 20.497l20.606 6.695z");
}
