.k266kz5fq {
  stroke: var(--svg-color--191919, #191919);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M20.609 17.74h1.435a.957.957 0 0 0 .956-.957V5.304a.957.957 0 0 0-.956-.956H10.565a.956.956 0 0 0-.956.956v.957m7.174 11.477H9.61M9.609 6.26v9.566M1 14.87h1.435");
}
