.k2hdxcbmm {
  fill: var(--svg-color--4ce7ff, #4ce7ff);
  d: path("M384 434.1c70.7 0 128-58.5 128-130.7s-57.3-130.7-128-130.7s-128 58.5-128 130.7s57.3 130.7 128 130.7");
  opacity: var(--svg-opacity--0-95, 0.95);
}
