.k2kkiabgh {
  fill: var(--svg-color--007934, #007934);
  fill-rule: evenodd;
  stroke: var(--svg-color--000, #000);
  stroke-width: var(--svg-stroke-width--0-1px, 0.1px);
  d: path("M295 191.6s-.4-.5-.5-1v-.9h-.3v.8l.2.4l-.6-.4l-.3-.5l-.2.2l.5.6c.6.2 1.1 1 1.1 1");
}
