.k2v4ebbkr {
  fill: var(--svg-color--ffdda1, #ffdda1);
  stroke: var(--svg-color--191919, #191919);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M8.653 9.13v4.783l2.807 1.202c.357.154.742.233 1.13.233h3.026a.96.96 0 0 0 .908-.654l1.275-3.827a.957.957 0 0 0-.907-1.258h-2.5V5.783a.956.956 0 0 0-1.913 0A3.35 3.35 0 0 1 9.132 9.13z");
}
