.k34qf5lmk {
  fill: none;
  stroke: currentColor;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: var(--svg-stroke-width--1-5px, 1.5px);
  d: path("M5 13.973h10a4 4 0 0 0 4-4V5M9.78 19L5 13.973l4.78-5.027");
}
