.k395yab-o {
  stroke: var(--svg-color--4147d5, #4147d5);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M4.394 5.014v2.317m1.158-1.158H3.236m-1.993-.972L.83 8.926a2.288 2.288 0 0 0 4.322 1.277l.36-.721H8.49l.36.72a2.289 2.289 0 0 0 4.322-1.276l-.414-3.725a3 3 0 0 0-2.982-2.669h-5.55a3 3 0 0 0-2.982 2.67Z");
}
