.k3_8jwp2c {
  stroke: var(--svg-color--9b51e0, #9b51e0);
  stroke-dasharray: 1 8;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: var(--svg-stroke-width--4px, 4px);
  d: path("M40 68a28 28 0 1 1 0-56");
}
