.k3b0i5liy {
  fill: var(--svg-color--ff52a1, #ff52a1);
  stroke: var(--svg-color--231f20, #231f20);
  stroke-miterlimit: 10;
  d: path("M22.53 38.32c.53-.89.23-6.52 0-9.8s-.67-8.9-1.31-9.71c-.33-.81-1.9-.81-3.22-.72s-2.85.27-3.09 1.14c-.53.89-.23 6.52 0 9.8s.67 8.9 1.31 9.71c.35.82 1.92.81 3.22.72s2.85-.27 3.09-1.14Z");
}
