.k3rh4gb-e {
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M23.16 28.47c5.215 1.438 5.603.91 8.204 1.207c1.068.122-2.03 2.67-7.282 4.397M50.12 23.92c-5.102-.061-7.273-1.882-8.383-3.346m7.103 7.896c-5.215 1.438-5.603.91-8.204 1.207c-1.068.122 2.03 2.67 7.282 4.397");
}
