.k4f8j5vyl {
  fill: none;
  stroke: currentColor;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: var(--svg-stroke-width--1-5px, 1.5px);
  d: path("M9 12V7.625C9 7.28 9.28 7 9.625 7h3.75c1.036 0 1.875.84 1.875 1.875v1.25c0 1.036-.84 1.875-1.875 1.875zm0 0v5");
}
