.k4z577z4r {
  stroke: currentColor;
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M57 64V16H23v48m34 0H23m34 0h3m-37 0h-3m0-48h40m-29 7h2m6 0h2m6 0h2m-18 8h2m6 0h2m6 0h2m-18 8h2m6 0h2m6 0h2m-18 8h2m6 0h2m6 0h2m-3 17v-6a2 2 0 0 0-2-2h-8a2 2 0 0 0-2 2v6z");
}
