.k56bsdz-k {
  fill: none;
  stroke: currentColor;
  stroke-width: var(--svg-stroke-width--1-5px, 1.5px);
  d: path("m5 19l5-5m3.536 3.535l-7.072-7.07a5 5 0 0 1 4.67-1.336L14.5 4.5l5 5l-4.63 3.367a5 5 0 0 1-1.334 4.668Z");
}
