.k5n0f6b0l {
  fill: var(--svg-color--2859c5, #2859c5);
  fill-rule: evenodd;
  d: path("M11.27 14.115c-1.297.064-2.232.942-2.263 2.24a27 27 0 0 0 0 1.29c.03 1.298.966 2.176 2.263 2.24c1.238.062 3.188.115 6.23.115s4.992-.053 6.23-.115c1.297-.064 2.232-.942 2.263-2.24a27 27 0 0 0 0-1.29c-.03-1.298-.966-2.176-2.263-2.24c-1.238-.062-3.187-.115-6.23-.115s-4.992.053-6.23.115");
}
