.k5x7avb7k {
  stroke: var(--svg-color--092f63, #092f63);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M14.94 5.63h-3.43L9.06 4.16L12 2.69l2.94 1.47zm-.98 13.72l-1.96.98l-1.96-.98V16.9l1.96-.98l1.96.98zm.98 3.92l-.98-1.96h-3.92l-.98 1.96zm6.86-3.92l-1.96.98l-1.96-.98V16.9l1.96-.98l1.96.98zm.98 3.92l-.98-1.96h-3.92l-.98 1.96z");
}
