.k6y-8qbse {
  stroke: var(--svg-color--000, #000);
  stroke-width: var(--svg-stroke-width--0-018px, 0.018px);
  d: path("M150.729 114.197c.399-.332.413-.746 1.388-.79a1 1 0 0 0-.222-.007c-1.004.029-1.011.451-1.41.783c-.007.007-.015.022-.022.03l.251.007c0-.008.008-.016.015-.023z");
}
