.k7-9byyiw {
  fill: var(--svg-color--00ceff, #00ceff);
  fill-rule: evenodd;
  d: path("M510.9 199c-44.8-26.1-97-41.1-152.8-41.1c-17.7 0-35 1.5-51.8 4.4C251.5 84.2 159.7 33 55.8 33c-13.2 0-28.4 2.7-40 4.3c12-20 40-27.9 89.1-30.6c152.4-8.5 162.2-9.1 308.3-1c71.6 4 95.4 18.3 96.5 96.7c.5 40.2.9 70.9 1.2 96.6");
}
