.k_4n_gbyg {
  stroke: var(--svg-color--000, #000);
  stroke-width: var(--svg-stroke-width--0-077px, 0.077px);
  d: path("M145.532 69.093s2.156-3.957-.015.746c-2.17 4.71-2.982 3.927-2.982 3.927c-.162-.266 1.89-3.455 1.89-3.455s1.521-2.451 1.89-2.687");
}
