.k_gphygrl {
  fill: var(--svg-color--2f80ed, #2f80ed);
  stroke: var(--svg-color--2f80ed, #2f80ed);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: var(--svg-stroke-width--4px, 4px);
  d: path("M40.107 13.017a22.173 22.173 0 1 1-5.789 43.966a22.173 22.173 0 0 1 5.789-43.966");
}
