.k_q9u08hv {
  fill: var(--svg-color--45413c, #45413c);
  stroke: var(--svg-color--45413c, #45413c);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M18.99 28.67a1.11 1.11 0 1 0 2.22 0a1.11 1.11 0 1 0-2.22 0m7.75 0a1.11 1.11 0 1 0 2.22 0a1.11 1.11 0 1 0-2.22 0");
}
