.ka4pu0bnp {
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: var(--svg-stroke-width--2px, 2px);
  d: path("m29.446 25.836l.813 1.794c1.139 2.41-.813 3.402.131 7.352l.196 1.067c.198 1.08.509 2.854.69 3.94l1.34 8.054a65 65 0 0 0 .807 3.915l1.748 7.116c.261 1.068-.266 1.942-1.174 1.942a2.67 2.67 0 0 1-2.241-1.911l-2.22-7.178c-.324-1.051-.826-2.78-1.116-3.84l-1.948-7.141c-.29-1.062-.75-1.93-1.026-1.93s-.558.898-.627 1.996L23.673 59.02a2.003 2.003 0 0 1-1.777 1.996a1.886 1.886 0 0 1-1.676-2l-.248-19a25 25 0 0 1 .33-3.968l1.197-3.861c.195-1.083-.697-3.22-.29-4.606l.597-1.745");
}
