.kc60rp {
  stroke: currentColor;
  fill-opacity: 0.3;
}

@media not (prefers-reduced-motion) {
  .kc60rp {
    stroke-dasharray: 40;
    animation: 0s forwards fill-to-0, 0.5s linear forwards so-from-40, 0.15s linear 1.2s forwards fill-to-0_3;
  }
}
