.kc923bhqu {
  fill: var(--svg-color--fff, #FFF);
  fill-rule: nonzero;
  stroke: var(--svg-color--c09300, #C09300);
  stroke-width: var(--svg-stroke-width--0-423px, 0.423px);
  d: path("M154.604 84.865c.222.013-.3-1.189-.3-1.189c.588.601 2.81.745 2.81.745c-1.333-.589-2.666-5.032-2.509-8.574c.144-3.555-.509-4.953-1.032-5.476c-.667-.667-2.81-1.255-4.221-1.333c-.797-.039-.666.601-.666.601c-1.477-.379-2.953-.523-3.62-.078c-.627.418-.758 2.509-.301 2.143c1.111-.889 2.078-.078 2.745.889c.588.85.549 3.254-.301 6.064c-.889 2.953-3.32 5.907-3.32 5.907c1.32 0 3.176-1.176 3.176-1.176l-.444 1.843c1.398-.667 2.509-1.699 2.509-1.699l1.333 1.398c.444-.588 1.333-1.398 1.333-1.398s1.109 1.176 2.808 1.333z");
}
