.kcy-14atq {
  fill: var(--svg-color--2f88ff, #2F88FF);
  stroke-linejoin: round;
  stroke-width: var(--svg-stroke-width--4-302px, 4.302px);
  d: path("M44.7818 24.1702L31.918 7.09935L14.1348 20.5L27.5 37L30.8556 34.6643L44.7818 24.1702Z");
}
