.kdbbi8b2b {
  fill: currentColor;
  fill-rule: evenodd;
  d: path("M95.758 76.637V99.53c0 4.11-3.375 7.41-7.531 7.41c-4.157 0-7.508-3.3-7.508-7.41V71.895c1.394-2.52 2.984-4.747 5.867-4.747c4.723 0 6.36 5.848 9.172 9.489m0 0");
}
