.kdc9n4l0q {
  fill: none;
  stroke: currentColor;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: var(--svg-stroke-width--2px, 2px);
  d: path("M2 6H22M2 12H22M2 18H6M10 18H14M18 18H22");
}
