.kdctft6jv {
  fill: var(--svg-color--ffe500, #ffe500);
  stroke: var(--svg-color--45413c, #45413c);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M19.5 34.5a14.1 14.1 0 0 1 4.5-1a14.1 14.1 0 0 1 4.5 1m-3-9.5H45a2 2 0 0 1 0 4H25.5");
}
