.kdd6je4my {
  fill: var(--svg-color--ff808c, #ff808c);
  stroke: var(--svg-color--191919, #191919);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("m10.963 8.398l3.515-3.515a.48.48 0 0 1 .674 0l3.59 3.515z");
}
