.kdkjsdbjr {
  fill: none;
  stroke: var(--svg-color--000, #000);
  stroke-linecap: round;
  stroke-miterlimit: 10;
  stroke-width: var(--svg-stroke-width--2px, 2px);
  d: path("M18.566 29.334a4.45 4.45 0 0 1-.058 5.385m-3.524-7.644s2.57 4.949-.68 9.395");
}
