.kdqbpubtg {
  stroke: var(--svg-color--000, #000);
  stroke-width: var(--svg-stroke-width--0-5px, 0.5px);
  d: path("M167.409 146.268s1.22 1.22 1.262 3.46c.081 2.643-1.872 2.766-3.134 2.726c-1.505-.04-2.685-.895-2.685-3.705c0 0 2.482-1.057 4.558-2.482h-.001z");
}
