.ke9svq_ex {
  fill: var(--svg-color--56ccf2, #56ccf2);
  fill-rule: evenodd;
  d: path("M43.5 16.501a4 4 0 1 0-8 0v26a4 4 0 0 0 8 0zM15.32 30.444a26.2 26.2 0 0 1 4.533-7.277c1.469-1.668 4.037-1.412 5.448.304c1.397 1.697 1.12 4.181-.218 5.925a18.17 18.17 0 0 0-2.372 18.018a18.173 18.173 0 1 0 30.612-18.752c-1.387-1.625-1.818-3.997-.617-5.765c1.287-1.898 3.923-2.36 5.525-.718a26.17 26.17 0 0 1 5.45 28.297A26.174 26.174 0 0 1 15.32 30.444");
}
