.kfokd3fxm {
  fill: currentColor;
  fill-rule: evenodd;
  d: path("M9.722 19.048a3 3 0 0 0-.68 1.455a9 9 0 1 1 11.755-6.59a3 3 0 0 0-2.07-1.823c-1-.25-2.007.034-2.723.67A4.5 4.5 0 0 0 9 16.5c0 .886.384 1.682.994 2.23zM12 7a1 1 0 1 0-2 0v3H9a1 1 0 1 0 0 2h2a1 1 0 0 0 1-1z");
}
