.kfzcnbb6p {
  stroke: currentColor;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: var(--svg-stroke-width--1-5px, 1.5px);
  d: path("m6.333 16l2.334-2.667L10 15l2.667-4.667l2 3.334l3-6");
}
