.kg7g0gz6u {
  fill: var(--svg-color--ffc84b, #ffc84b);
  fill-rule: evenodd;
  stroke: var(--svg-color--d8aa3f, #d8aa3f);
  stroke-linejoin: round;
  stroke-width: var(--svg-stroke-width--1-7px, 1.7px);
  d: path("M174.8 108c7.7-3.9 11.5-2.3 18.2-2.5c4.5 8.3 8.8 9 18.8 10a50 50 0 0 0 39.9 21.8c29.9-.8 39.4-21.7 59.5-24h21.2c-3.5-6-6.3-9.5-14-9.9c-15.8-.8-36.2-.4-54 3.6l-25.1 6.3c-7.4-3.6-25.3-22.4-36.8-22c-6.7 1.8-6.7 4.1-10 6.7c-6.5 2.8-13 1.4-17.7 10z");
}
