.kgtyuwytc {
  fill: var(--svg-color--ea5a47, #ea5a47);
  stroke: var(--svg-color--ea5a47, #ea5a47);
  stroke-linejoin: round;
  d: path("m16.5 23l.561 1.727h1.817l-1.47 1.068l.561 1.727l-1.469-1.067l-1.47 1.068l.562-1.728l-1.47-1.068h1.817z");
}
