.kh4bwob4f {
  fill: none;
  stroke: currentColor;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: var(--svg-stroke-width--1-5px, 1.5px);
  d: path("M7 2v20M17 2v20M7 4h10M7 8h10M7 12h10M7 16h10M7 20h10");
}
