.khqmxy-4p {
  fill: var(--svg-color--00b8f0, #00b8f0);
  stroke: var(--svg-color--45413c, #45413c);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M25.34 4.78c-.14.68-2.87.68-6.1 0S13.5 3 13.65 2.32s2.87-.68 6.1 0s5.74 1.78 5.59 2.46");
}
