.kizbk-boq {
  stroke: var(--svg-color--703d29, #703D29);
  stroke-linecap: round;
  stroke-width: var(--svg-stroke-width--0-296px, 0.296px);
  d: path("M120.857 87.768c-.415 1.372-1.653 3.069-4.042 3.674c-1.141.289-2.611-.072-3.112-.499");
}
