.kizwdlknt {
  fill: none;
  stroke: var(--svg-color--d0cfce, #d0cfce);
  stroke-miterlimit: 10;
  stroke-width: var(--svg-stroke-width--3px, 3px);
  d: path("M54.83 55.785c-5.28-5.252-6.884-10.791-6.884-18.827c0-8.008 3.246-15.258 8.494-20.506m-40.907 0c5.248 5.248 8.494 12.498 8.494 20.506c0 8.029-2.409 14.491-7.68 19.742");
}
