.kj_o27bed {
  fill: var(--svg-color--ffef00, #FFEF00);
  fill-rule: nonzero;
  d: path("M133.698 62.988c-5.918-3.858-7.545-15.284-14.735-15.993c5.688 4.767 5.419 14.604 10.658 18.956c5.239 4.351 9.996.895 4.077-2.963");
}
