.kjg6o1ncm {
  fill: var(--svg-color--369443, #369443);
  stroke: var(--svg-color--010002, #010002);
  stroke-miterlimit: 10;
  stroke-width: var(--svg-stroke-width--1-5px, 1.5px);
  d: path("M202.8 336.5s-.2-6.4 7.8-6.8l23.5 32.7s-.9 2.1-11.5 1.9c0 0-1.2 0-1.8 1.2c-.9 2-18-29-18-29z");
}
