.kjrhk4s6f {
  stroke: var(--svg-color--000, #000);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: var(--svg-stroke-width--0-417px, 0.417px);
  d: path("M26.615 113.65s16.78-2.097 21.63 4.326c-2.739 1.874-5.151 2.029-7.735.132c.411-.686 6.03-6.555 20.319-4.589");
}
