.kl1q6cbry {
  fill: var(--svg-color--fec74a, #fec74a);
  fill-rule: evenodd;
  stroke: var(--svg-color--d8aa3f, #d8aa3f);
  stroke-width: var(--svg-stroke-width--1-7px, 1.7px);
  d: path("M315.1 279.2a61.4 61.4 0 1 1-122.7 0a61.4 61.4 0 0 1 122.7 0z");
}
