.klnkx3bcr {
  fill: var(--svg-color--34be2d, #34be2d);
  fill-rule: evenodd;
  d: path("M161.352 52.658c-.674 4.81-3.078 10.965-6.925 14.908c-4.138 4.425-10.581 9.234-14.429 11.639c-2.116 1.346-7.599 1.538-12.118 2.02c-.577-4.04-.673-7.503.577-11.254c1.635-4.424 3.753-10.772 7.118-15.197c4.135-5.482 8.848-9.233 11.445-10.58c3.464-1.731 9.235-4.328 14.236-5.194c.193 4.424.867 9.426.096 13.658");
}
