.kmaoy_jgn {
  fill: var(--svg-color--fc0, #FC0);
  fill-rule: nonzero;
  stroke: var(--svg-color--000, #000);
  stroke-width: var(--svg-stroke-width--0-037px, 0.037px);
  d: path("M139.294 72.355c-.257-.073-.599-.037-.661.135c0 .012-.061.159-.049.232c-.012.11.012.147.11.196c.208.122.392-.134.477-.33c.025-.049.061-.171.122-.196c.098-.024.073 0 .098-.024c-.012.036-.048.049-.073.073c-.098.146-.147.281-.269.489c-.086.135-.404.135-.489.012c-.085-.134-.025-.501.073-.575c.221-.172.514-.159.783-.073c-.048-.012-.06.086-.122.061z");
}
