.kmhl1_rdk {
  stroke: var(--svg-color--4147d5, #4147d5);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M11.5 11.5c1.105 0 2-1.567 2-3.5s-.895-3.5-2-3.5h-9c1.105 0 2 1.567 2 3.5s-.895 3.5-2 3.5zM8.5 7h4.801M4.5 9.5H7m.5-5l-2-2");
}
