.kmtsabc7f {
  stroke: var(--svg-color--191919, #191919);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M15.348 12.478v6.696a.957.957 0 0 1-.957.957H4.826a.957.957 0 0 1-.956-.957V9.609a.957.957 0 0 1 .956-.957h8.609M9.609 20.13V23m3.826-2.87V23M9.609 5.783v2.87M5.782 20.13V23m0-17.217v2.87m9.566 9.564h2.87M3.87 14.391H1m17.217 0h-2.87M3.87 10.565H1m2.87 7.652H1");
}
