.knb9b50zx {
  stroke: var(--svg-color--092f63, #092f63);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M10.04 16.9v2.45M12 15.43v3.92m1.96-2.45v2.45m4.496-4.9H15.92L12 12.49l-3.66 1.96H5.544m4.496-3.92V1.833m3.92 8.697V1.833");
}
