.knq1obbqm {
  fill: var(--svg-color--f2c94c, #f2c94c);
  fill-rule: evenodd;
  d: path("M36.538 45.77h-7.243a1 1 0 0 1-.844-1.536l13.12-20.69c.536-.845 1.844-.465 1.844.536v14.15h7.243a1 1 0 0 1 .844 1.535l-13.12 20.69c-.536.845-1.844.465-1.844-.536z");
}
