.ko5nd2b_z {
  fill: none;
  stroke: currentColor;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: var(--svg-stroke-width--2px, 2px);
  d: path("M21 19H8m13-7H8m13-7H8M3 19Zm0-7Zm0-7Z");
}
