.ko5q309hq {
  stroke: var(--svg-color--000, #000);
  stroke-linecap: round;
  d: path("M11.0005 21.0187C14.0002 20.0001 16.0008 20.0001 19.0004 17.0001C22 14.0001 22.0009 8.00007 28.0004 6.00007");
}
