.kok-ojbvc {
  fill: var(--svg-color--d52b1e, #d52b1e);
  fill-rule: evenodd;
  stroke: var(--svg-color--000, #000);
  stroke-width: var(--svg-stroke-width--0-1px, 0.1px);
  d: path("m252.7 304.3l1.1 1c.2 0-2.5 20.7-2.5 20.7s0-2.2-.7-6.4c-.7-3.4.2-8 1-10.2c0 0 .8-.7 1-5z");
}
