.kox-6vbfo {
  fill: var(--svg-color--fcea2b, #fcea2b);
  stroke: var(--svg-color--fcea2b, #fcea2b);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("m52.233 39.354l.927-3l.927 3L51.66 37.5h3zM42.5 35.831l-1.113 1.054l.111-1.549L40 35.101l1.25-.878l-.755-1.347l1.449.455l.556-1.446l.556 1.446l1.449-.455l-.755 1.347l1.25.878l-1.498.235l.111 1.549zm15-3l-1.113 1.054l.111-1.549L55 32.101l1.25-.878l-.755-1.347l1.449.455l.556-1.446l.556 1.446l1.449-.455l-.755 1.347l1.25.878l-1.498.235l.111 1.549zm-8-6l-1.113 1.054l.111-1.549L47 26.101l1.25-.878l-.755-1.347l1.449.455l.556-1.446l.556 1.446l1.449-.455l-.755 1.347l1.25.878l-1.498.235l.111 1.549zm0 21l-1.113 1.054l.111-1.549L47 47.101l1.25-.878l-.755-1.347l1.449.455l.556-1.446l.556 1.446l1.449-.455l-.755 1.347l1.25.878l-1.498.235l.111 1.549z");
}
