.kp_4pxbqw {
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: var(--svg-stroke-width--2px, 2px);
  d: path("M14 45h10v10H14zm5 10V45m9 0h10v10H28zm10 0h10v10H38zm10 0h10v10H48z");
}
