.kpf9qybtc {
  fill: none;
  stroke: var(--svg-color--d22f27, #d22f27);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: var(--svg-stroke-width--2px, 2px);
  d: path("m41 44l2 1m8 4v-8.5m0 0l3 1.5m-1-6c2.591 0 4.327-2.553 3.366-4.162");
}
