.kphpvkiyi {
  fill: var(--svg-color--de8600, #de8600);
  fill-rule: evenodd;
  d: path("M57.26 42.955c-2.085.333-3.574-.73-4.87-2.147c-2.33-2.548-4.934-4.783-8.307-5.674c-2.148-.567-4.45-.551-6.683-.796c1.626-.408 3.26-1.178 4.877-1.144c2.632.056 5.326.465 7.478 2.259c1.01.842 2.074 1.734 2.759 2.826c1.232 1.963 2.747 3.54 4.746 4.676");
}
