.kptqxqn7w {
  stroke: var(--svg-color--092f63, #092f63);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
  d: path("M7.1 2.69H5.63L3.18 5.14v1.47M15.92.73h3.43l3.43 3.43v3.43");
}
