.kq4ntxbyq {
  fill: var(--svg-color--fcd116, #FCD116);
  fill-rule: nonzero;
  stroke: var(--svg-color--000, #000);
  stroke-width: var(--svg-stroke-width--0-2px, 0.2px);
  d: path("M56.056 56.055v-7.333l40.333 7.333l-40.333 7.333v-7.333h40.333");
}
