.kqbdyobxt {
  fill: none;
  stroke: currentColor;
  stroke-linecap: round;
  stroke-width: var(--svg-stroke-width--3px, 3px);
  d: path("M12 4v8m0 0L4.392 9.528M12 12l7.608-2.472M12 12l-5.29 7.281M12 12l5.29 7.281");
}
