.kqmek2bmk {
  stroke: var(--svg-color--000, #000);
  stroke-width: var(--svg-stroke-width--0-083px, 0.083px);
  d: path("M148.175 133.907c-.192-1.13-.214-2.613-.214-4.355c0-1.749.185-3.728.317-4.23h-1.307c-.229.746-.317 2.717-.317 4.23c0 1.506.044 3.263.221 4.355z");
}
