.kqsol3b2l {
  fill: var(--svg-color--f1b31c, #f1b31c);
  stroke: var(--svg-color--f1b31c, #f1b31c);
  stroke-width: var(--svg-stroke-width--1-8px, 1.8px);
  d: path("M55 50c-1.532-2.298-6-6-11-6c-1 0-1.648.108-2.474.252L30.688 45H27c-4.123 0-7.518 3.036-9 6c0 0-.953 1.697-.755 2.23c.101.272.755.187.755.187h37.833s1.75.5.917-1S55 50 55 50");
}
