.kqxzrsbuc {
  fill: var(--svg-color--006b3f, #006B3F);
  stroke: var(--svg-color--000, #000);
  stroke-width: var(--svg-stroke-width--0-375px, 0.375px);
  d: path("M152.668 70.635c.551-.07 1.439.964 1.985 2.308c.545 1.345.54 2.491-.01 2.561c-.551.07-1.439-.964-1.985-2.308c-.545-1.344-.541-2.491.01-2.561z");
}
