.krwjfdcet {
  fill: none;
  stroke: var(--svg-color--45413c, #45413c);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M24 5.42A15.62 15.62 0 0 0 8.38 21.05v1.12A3 3 0 0 0 11 20a10.51 10.51 0 0 1 8.08-5.51A7.4 7.4 0 0 0 24 11.42a7.4 7.4 0 0 0 4.92 3.07A10.51 10.51 0 0 1 37 20a3 3 0 0 0 2.62 2.17v-1.12A15.62 15.62 0 0 0 24 5.42");
}
