.krwn5lbtb {
  fill: var(--svg-color--e10000, #e10000);
  stroke: var(--svg-color--000, #000);
  stroke-width: var(--svg-stroke-width--0-7px, 0.7px);
  d: path("M453.4 151.5c0 1 1 2 2.1 2s2.2-1 2.2-2s-1-1.8-2.2-1.8q-2 .2-2.1 1.8zm3 4a1152 1152 0 0 1-11.2 95.8c0 2.2 2.3 3.2 3.5.4c3.3-8.7 10.4-80 10.7-96.6c.1-6.9-1.9-7.4-4.2-7.3c-1.9.1-4.1 1.9-4.1 4c0 2.4 2.9 4.3 5.4 3.7z");
}
