.ksbbrpwcb {
  stroke: var(--svg-color--000, #000);
  stroke-width: var(--svg-stroke-width--0-104px, 0.104px);
  d: path("M129.88 86.98c0-.436.244-.784.548-.784s.552.348.552.784c0 .432-.248.784-.552.784s-.548-.352-.548-.784z");
}
