.ksw0hwbel {
  fill: none;
  stroke: var(--svg-color--000, #000);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: var(--svg-stroke-width--1-36px, 1.36px);
  d: path("m46.537 44.84l8.833-9.874h-6.48l-.11-7.806h-4.616l.013 7.806h-6.473z");
}
