.ksw26vn_k {
  fill: var(--svg-color--ffbd03, #FFBD03);
  fill-rule: nonzero;
  stroke: var(--svg-color--000, #000);
  stroke-width: var(--svg-stroke-width--0-15px, 0.15px);
  d: path("m259.034 135.048l4.603 4.564h2.302l1.15 1.141v4.564l-8.054-8.01v-2.259zm-1.15 14.832l6.903-6.846l-1.151-1.141l-6.903 6.846z");
}
