.kt5dd4ykl {
  fill: none;
  stroke: var(--svg-color--000, #000);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
  stroke-width: var(--svg-stroke-width--2px, 2px);
  d: path("M11 60V44.955C11 41.665 14.292 39 17.584 39c2.682 2.253 5.364 2.963 8.075 2.128");
}
