.ku8imqgff {
  fill: var(--svg-color--4ec483, #4ec483);
  fill-rule: evenodd;
  d: path("M88.7 73.9c0-17.1 16.8-29.4 33.3-24.4l283.1 86.2c10.8 3.2 18.1 13.1 18.2 24.4V438c0 17.2-16.8 29.4-33.3 24.4l-283.1-86.2c-10.8-3.2-18.1-13.1-18.2-24.4z");
  opacity: var(--svg-opacity--0-8, 0.8);
}
