.kulbu1b3k {
  fill: var(--svg-color--ff866e, #ff866e);
  stroke: var(--svg-color--45413c, #45413c);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M23.06 28.54a.5.5 0 0 1-.5-.53c0-.79.29-2.21 1.44-2.21s1.4 1.42 1.44 2.21a.5.5 0 0 1-.5.53Z");
}
