.kw39pccei {
  fill: none;
  stroke: var(--svg-color--000, #000);
  stroke-miterlimit: 10;
  stroke-width: var(--svg-stroke-width--2px, 2px);
  d: path("M21.605 37.46L35.04 50.895m22.072-22.072a9.5 9.5 0 0 0-13.435-13.435M28.323 57.612a9.5 9.5 0 0 1-13.435-13.435M36.96 22.105L50.395 35.54M28.323 57.612l28.789-28.789");
}
