.kxh3qqb5y {
  fill: var(--svg-color--48eeff, #48eeff);
  stroke: var(--svg-color--231f20, #231f20);
  stroke-linejoin: round;
  d: path("M18.76 14a5.24 5.24 0 0 0-5.05-4.41v-.1a3.15 3.15 0 0 0 2.36-3.76c-.48-2.07-3.16-2.52-5.53-2.44a8 8 0 0 0-.84-1.94C9.26.52 7.85.37 6.86.59s-2.19 1-2.24 1.92a7.6 7.6 0 0 0 .1 2.18C2 6.11-.12 8.77.89 13.22a5.2 5.2 0 0 0 5.05 4.38v.1a3.12 3.12 0 0 0-2.36 3.75c.54 2.37 3.32 2.69 5.56 2.55a7.6 7.6 0 0 0 .8 1.85c.46.83 1.87 1 2.86.75s2.19-1 2.24-1.92a7.7 7.7 0 0 0-.09-2.1c2.75-1.33 4.91-3.82 3.81-8.58Z");
}
