.kxpsf4byp {
  fill: none;
  stroke: currentColor;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: var(--svg-stroke-width--32px, 32px);
  d: path("M333.31 52.66a80 80 0 0 1-154.62 0");
}
