.ky07m1b5i {
  fill: var(--svg-color--fff, #fff);
  d: path("M24.6 10.4c-40 253.7-19.1 491.2-19.1 491.2l7.4-8.3C9.1 437.3-1 234.6 33 18.9h115.9c2.5 0 5.7 2 9.5 5.3c-7.6-8.4-13.9-13.7-18-13.8zm347 0c-22.1.2-106 147.4-115.6 147.4c3.9 5 7.1 8.5 8.5 8.5c9.6 0 93.5-147.1 115.6-147.4h102.2l5.1-8.5zM119.5 156.5c28.1 42.3 98.1 237 98.1 237l2-9.5c-17.3-47.4-83.1-224.9-99.6-227.5c-.2 0-.4-.1-.5 0m289.5 0c18.9 48.1-16.9 288.2-27.6 345.2l11.3-8.9c14.5-85 49.4-335.5 16.3-336.3");
  opacity: var(--svg-opacity--0-3, 0.3);
}
