.kyky5eblg {
  fill: none;
  stroke: var(--svg-color--000, #000);
  stroke-miterlimit: 10;
  stroke-width: var(--svg-stroke-width--2-345px, 2.345px);
  d: path("M41.09 23.53a12.9 12.9 0 0 1-17.94 17.94z");
}
