.kz7p4qlqh {
  stroke: var(--svg-color--000, #000);
  stroke-width: var(--svg-stroke-width--0-041px, 0.041px);
  d: path("M165.05 88.094c.185.347.967 2.945.967 2.945c-2.591-2.916-8.651-4.953-15.716-4.953c-6.968 0-12.999 1.986-15.649 4.835c-.044.044.406-1.299.93-2.591c.517-1.255 1.115-2.458 1.159-2.48c3.115-1.941 8.031-3.196 13.56-3.196c5.574 0 10.52 1.27 13.635 3.233c-.001 0 .959 1.558 1.114 2.207z");
}
