.kzplcmzam {
  stroke: var(--svg-color--092f63, #092f63);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("m8.932 6.887l1.534 3.068l-1.534 3.068h-4.09L3.308 9.955l1.534-3.068zm0 6.136h6.136M6.887 20.18l2.045-3.067h6.136l2.045 3.068zM19.158 6.887l1.534 3.068l-1.534 3.068h-4.09l-1.534-3.068l1.534-3.068z");
}
