.g--w7abfa {
  fill: var(--svg-color--c75b00, #c75b00);
  stroke: var(--svg-color--000, #000);
  stroke-width: var(--svg-stroke-width--0-9px, 0.9px);
  d: path("M449.4 221.8s1.8 5 7.7.2c-3.8-5.1-7.7-.1-7.7-.2z");
}
