.g-5o0x4yg {
  fill: none;
  stroke: var(--svg-color--45413c, #45413c);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M24.1 24.55h-1.26a1 1 0 0 0-1 1v11a3.94 3.94 0 0 0-3.23-.2a4.1 4.1 0 0 0 2.05 7.9A4.2 4.2 0 0 0 24.1 40V29.07c4.63 0 8.46 2 9.17 5.27a8 8 0 0 0 .13-1.41c0-4.93-4.16-8.38-9.3-8.38");
}
