.g-doz0n7w {
  stroke: currentColor;
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M58 22v-6H22v6m36 0h6v36h-6m0-36h12V10H58zm0 36v6H22v-6m36 0h12v12H58zm-36 0h-6V22h6m0 36H10v12h12zm0-36V10H10v12z");
}
