.g01bwfzcy {
  fill: var(--svg-color--fff, #fff);
  stroke: var(--svg-color--000, #000);
  d: path("m441.3 229.3l24.3-.5s16 0 17.7 5.2c3-6.9 17-6.5 17-6.5l25-.8l.5 60.6c-5 23.6-22 40.2-40.7 47.3a62 62 0 0 1-41.2-47.7z");
}
