.g0be4x18a {
  stroke: var(--svg-color--092f63, #092f63);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M4.527 6.887h14.932m-14.932 4.09h14.932M8.932 2.132V12m6.136-9.868V12m4.03 0l1.083-3.068l-1.888-5.35L12 .753l-6.293 2.83l-1.888 5.35L4.902 12m.962 6.136L3.82 19.158l-2.045-1.022v-2.557l2.045-1.023l2.045 1.023zm1.023 5.113v-2.045L3.819 20.18L.751 21.203v2.046zm8.181 0v-2.045L12 20.18l-3.068 1.023v2.045zm8.181 0v-2.045L20.18 20.18l-3.068 1.022v2.046zm-9.204-5.113L12 19.158l-2.045-1.022v-2.557L12 14.556l2.045 1.023zm8.181 0l-2.045 1.022l-2.045-1.022v-2.557l2.045-1.023l2.045 1.023z");
}
