.g0ng5hsqw {
  fill: var(--svg-color--006800, #006800);
  fill-rule: evenodd;
  stroke: var(--svg-color--004100, #004100);
  stroke-linejoin: round;
  stroke-width: var(--svg-stroke-width--2-4px, 2.4px);
  d: path("M151.7 197.3c11.8 17.2 10 33.4 8.1 53.9a89 89 0 0 0-4.5-11.7c-17.6-11-5.9-31.5-3.6-42.2z");
}
