.g19v3vu6c {
  stroke: var(--svg-color--4147d5, #4147d5);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M7 5.162c.787 0 1.604 0 2.329.094a1.406 1.406 0 0 1 1.216 1.184c.059.403.059.812.059 1.508c0 .697 0 1.106-.06 1.508A1.406 1.406 0 0 1 9.33 10.64c-.725.095-1.542.095-2.329.095c-.786 0-1.603 0-2.328-.095a1.406 1.406 0 0 1-1.216-1.184c-.059-.402-.059-.811-.059-1.508s0-1.105.059-1.508a1.406 1.406 0 0 1 1.216-1.184c.725-.094 1.542-.094 2.328-.094m1.296 2.98v-.388M5.7 8.142v-.388");
}
