.g1imbdb_c {
  stroke: var(--svg-color--092f63, #092f63);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
  d: path("m20.82 16.214l-1.96 1.176l-1.96-1.176v-1.96l1.96-1.274l1.96 1.274zM5.14 13.47L9.06 7.1V3.18L5.14.73L1.22 3.18V7.1z");
}
