.g1jeizbpy {
  fill: none;
  stroke: currentColor;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: var(--svg-stroke-width--1-5px, 1.5px);
  d: path("M21 12a9 9 0 1 1-18 0a9 9 0 0 1 18 0M9 8.25h3m0 0h3m-3 0v8");
}
