.g25uthmua {
  stroke: currentColor;
  stroke-linecap: square;
  stroke-width: var(--svg-stroke-width--2px, 2px);
  d: path("M9.324 7.5h5.764v1.071l-4.117 2.5v.715h1.235c1.82 0 3.294 1.279 3.294 2.857S14.025 17.5 12.206 17.5h-.412c-1.82 0-3.294-1.28-3.294-2.857");
}
