.g28r4lbnb {
  stroke: var(--svg-color--092f63, #092f63);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("m10.977 13.432l6.136-2.455l6.136 2.455v5.215l-5.113 1.534v3.068l-7.159-4.09z");
}
