.g2d7yrbbh {
  fill: var(--svg-color--fcd116, #FCD116);
  fill-rule: nonzero;
  stroke: var(--svg-color--000, #000);
  stroke-width: var(--svg-stroke-width--0-2px, 0.2px);
  d: path("M56.056 56.055h-7.333l7.333-40.333l7.333 40.333h-7.333V15.722");
}
