.g2f0pu_0w {
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M12.751 9.75h-7.5a4.5 4.5 0 1 1 0-9h12a4.5 4.5 0 0 1 2.458 8.27M8.251 18.75h-3a4.5 4.5 0 1 1 0-9m5.25-4.5h6.75m0 18a6 6 0 1 0 0-12a6 6 0 0 0 0 12m0-9v6m-3-3h6");
}
