.g369rsb0r {
  fill: var(--svg-color--009b3a, #009B3A);
  fill-rule: nonzero;
  stroke: var(--svg-color--000, #000);
  stroke-width: var(--svg-stroke-width--0-075px, 0.075px);
  d: path("M145.714 81.575c-.005-.017 2.323-.973 2.323-.973l-2.502.412l-.323.403z");
}
