.g3nvh49ql {
  fill: currentColor;
  fill-rule: evenodd;
  d: path("M7.402 7.845c.679.72 2.052 2.176 2.073 2.212l-.247.309L6.502 9.13l-2.51-.134a.581.581 0 0 1-.427-.93l1.847-2.454a.572.572 0 0 1 .977.103zm-1.121.638a47 47 0 0 1-1.672-.206a.2.2 0 0 1-.133-.082a.25.25 0 0 1 .005-.293l.88-1.152a.427.427 0 0 1 .73.067l.56 1.105a.4.4 0 0 1 0 .345a.38.38 0 0 1-.375.216zM5.01 7.97l.966.113a.215.215 0 0 0 .216-.124a.23.23 0 0 0 0-.205l-.329-.638a.247.247 0 0 0-.416-.036l-.515.669a.14.14 0 0 0 0 .17c.016.025.047.04.077.05");
}
