.g4rn1iqkk {
  stroke: var(--svg-color--092f63, #092f63);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
  d: path("M17.39 20.82L3.67 13.47L.73 14.94V8.08l2.94 1.47L17.39 2.2z");
}
