.g4rv_ybog {
  cx: 35.719px;
  cy: 40.125px;
  fill: var(--svg-color--fcea2b, #fcea2b);
  stroke: var(--svg-color--fcea2b, #fcea2b);
  stroke-miterlimit: 10;
  stroke-width: var(--svg-stroke-width--2px, 2px);
  rx: 19.656px;
  ry: 8.094px;
}
