.g6odfgc6i {
  fill: var(--svg-color--000, #000);
  fill-rule: evenodd;
  d: path("M8.294 11.143a.76.76 0 0 1 .756-.762h4.028a.76.76 0 0 1 .756.762a.76.76 0 0 1-.756.762H9.05a.76.76 0 0 1-.756-.762");
}
