.g784--hme {
  fill: none;
  stroke: var(--svg-color--45413c, #45413c);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M21.46 27.17h5.09v7.94h-5.09ZM17.06 45v-2.41M30.94 45v-2.41M24 39.04V45");
}
