.g7flywaoa {
  fill: var(--svg-color--000, #000);
  fill-rule: nonzero;
  d: path("m202.729 44.722l-.062-.016l-.008.064c-.002.006-.089.616-.366.782a.28.28 0 0 1-.257.016l-.469-.286c-.094-.082-.174-.143-.309-.103a.68.68 0 0 1-.129-.497q.05-.414.572-.788l-.066-.094q-.565.405-.621.87c-.042.358.165.601.174.612l.028.032l.038-.018c.104-.046.135-.019.236.071l.507.308a.4.4 0 0 0 .356-.025c.286-.171.386-.67.41-.809c1.219.262 2.2-1.22 2.243-1.284l-.098-.063c-.009.016-1.011 1.534-2.179 1.228");
}
