.g7gsq4buj {
  fill: none;
  stroke: var(--svg-color--000, #000);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: var(--svg-stroke-width--2px, 2px);
  d: path("M36.099 37.727a6.55 6.55 0 0 1 6 0V38a6.55 6.55 0 0 1-6 0Z");
}
