.g8_i2i0ci {
  stroke: var(--svg-color--043760, #043760);
  stroke-width: var(--svg-stroke-width--0-049px, 0.049px);
  d: path("M165.265 88.931c0 .135-.257.551-.477.771c-.086.134-.159.294-.269.44c-.134.208-.22.245-.379.453c-.098.11-.269.22-.404.281c-.404.123-1.566-.966-2.031-1.125");
}
