.g8dz_qbsy {
  fill: currentColor;
  d: path("M12.5 13a1 1 0 0 1 0-2h4V5a3.003 3.003 0 0 0-3-3h-8a3.003 3.003 0 0 0-3 3v14a3.003 3.003 0 0 0 3 3h8a3.003 3.003 0 0 0 3-3v-6Z");
  opacity: var(--svg-opacity--0-5, 0.5);
}
