.g8eg_jfih {
  fill: var(--svg-color--ff6242, #ff6242);
  stroke: var(--svg-color--45413c, #45413c);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M9.77 9.8h23.46v9.07a1.07 1.07 0 0 1-1.07 1.07H10.83a1.07 1.07 0 0 1-1.07-1.07V9.8z");
}
