.g8ocdtbpp {
  stroke: currentColor;
  stroke-linecap: square;
  stroke-width: var(--svg-stroke-width--2px, 2px);
  d: path("M17 9.5a1.5 1.5 0 0 1-3 0m-4 0a1.5 1.5 0 0 1-3 0M8.535 15A4 4 0 0 0 12 17c1.48 0 2.773-.804 3.465-2");
}
