.g_s__8q2d {
  fill: var(--svg-color--f1b31c, #f1b31c);
  stroke: var(--svg-color--f1b31c, #f1b31c);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("m17.907 35.086l2.133-1.496l-1.606 2.052l2.566.45l-2.586.315l1.496 2.133l-2.051-1.606l-.451 2.566l-.315-2.586l-2.133 1.496l1.606-2.051L14 35.908l2.586-.315l-1.496-2.133l2.052 1.606l.45-2.566z");
}
