.ga6pahc2g {
  fill: var(--svg-color--90554d, #90554d);
  fill-opacity: var(--svg-fill-opacity--0-694, 0.694);
  d: path("M116.903 48.632q-.147.418-.34.814q-.109.228-.18-.022a.126.342 32.3 0 1 .049-.224l.27-.568q.102-.123.2 0z");
}
