.gb4u4ya2y {
  width: 12px;
  height: 12px;
  x: 33.5px;
  y: 12px;
  stroke: currentColor;
  stroke-linecap: square;
  stroke-linejoin: round;
  stroke-width: var(--svg-stroke-width--5px, 5px);
  rx: 6px;
}
