.gcioct8bz {
  stroke: currentColor;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: var(--svg-stroke-width--1-5px, 1.5px);
  d: path("M9.667 20.333v-.873a.667.667 0 0 0-1-.577L7 19.845c-.89.514-2-.128-2-1.154V4.392c0-.79.683-1.396 1.47-1.332a17.99 17.99 0 0 1 13.337 7.701a1.346 1.346 0 0 1-.423 1.935l-5.05 2.915a2.67 2.67 0 0 0-1.333 2.309v3.745");
}
