.gcso0lb3z {
  fill: none;
  stroke: currentColor;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: var(--svg-stroke-width--1-5px, 1.5px);
  d: path("M21.996 18.474h-7m-3 1.802l-.151-.066l-2.451-1.066c-.691-.3-1.037-.45-1.404-.466s-.723.105-1.437.346l-.608.206c-1.802.61-2.703.915-3.326.459s-.623-1.42-.623-3.348V8.865c0-1.221 0-1.832.299-2.322c.298-.49.836-.764 1.912-1.31l.47-.239c1.633-.828 2.45-1.242 3.331-1.269c.882-.026 1.721.339 3.399 1.069l2.013.876c.777.338 1.166.507 1.576.507s.799-.17 1.576-.507l1.242-.54c1.89-.822 2.834-1.233 3.508-.782s.674 1.494.674 3.58v6.546m-14-10.656v14.718m7-4.062V6.355");
}
