.ge30fj9tu {
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M10.117 9.827c.914-.566 1.371-.849 1.874-.826c.502.024.93.348 1.787.996l.688.521c.886.67 1.329 1.005 1.48 1.496c.151.49-.027 1.013-.383 2.06l-.209.61c-.322.946-.483 1.42-.854 1.712c-.37.293-.872.342-1.875.442l-.573.057c-1.29.129-1.934.193-2.42-.136c-.485-.328-.658-.947-1.005-2.184l-.27-.963c-.31-1.106-.465-1.66-.272-2.153c.194-.494.685-.798 1.668-1.407zM2.5 9.5l5.5 2m6.5 5L18 21m-2-9l5.5-2.5M6.5 21L9 16.5M12 9V2");
}
