.gei8aufil {
  stroke: currentColor;
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M18 22v-6h44v6m-44 0h-5.771v36H18m0-36V10H6v12zm0 36v6h44v-6m-44 0H6v12h12zm44 0h5.771V22H62m0 36h12v12H62zm0-36h12V10H62zM46 46V34h12v20H34v-8zm0 0V26H22v20z");
}
