.gemgedcme {
  fill: var(--svg-color--f1b517, #F1B517);
  fill-rule: nonzero;
  stroke: var(--svg-color--000, #000);
  stroke-width: var(--svg-stroke-width--0-15px, 0.15px);
  d: path("M169.527 103.83a938 938 0 0 1 2.493-2.164l.162-.617s.377.255.515.387c.138.131.352.491.352.491l-.683.032l-2.157 1.976zm-13.571-2.907l-.011.982c.321.11.272.351.262.701l-.011 2.863c.114.19.466.198.632.347s.145.438-.612.628l-.585.021c-.892-.195-1.076-.49-.629-.657c.238-.088.551-.194.67-.335l-.02-.682l-.579.021c-.155 0-.451-.391-.462-.711l-.003-1.482c.021-.84.652-.935.828-.925l-.012-.773zm-.979 1.638c-.01-.24.333-.454.472-.459s.441.28.451.52v.601c-.021.22-.196.966-.55 1.02c-.167.026-.383-.24-.383-.46z");
}
