.gep5gvj9y {
  fill: var(--svg-color--cbe9f7, #cbe9f7);
  fill-rule: evenodd;
  d: path("M256 0C114.6 0 0 114.6 0 256s114.6 256 256 256s256-114.6 256-256S397.4 0 256 0m0 455.2C146 455.2 56.8 366 56.8 256S146 56.8 256 56.8S455.2 146 455.2 256S366 455.2 256 455.2");
}
