.getyxabti {
  fill: var(--svg-color--43ccf8, #43CCF8);
  stroke: var(--svg-color--fff, #fff);
  d: path("M24 23C26.7614 23 29 20.7614 29 18C29 15.2386 26.7614 13 24 13C21.2386 13 19 15.2386 19 18C19 20.7614 21.2386 23 24 23Z");
}
