.gg9eaw0po {
  fill: var(--svg-color--058e6e, #058E6E);
  fill-rule: nonzero;
  stroke: var(--svg-color--000, #000);
  stroke-linejoin: round;
  stroke-width: var(--svg-stroke-width--0-15px, 0.15px);
  d: path("m232.442 132.766l-1.547-.199a.28.28 0 0 0-.317.246l-.01.078a.285.285 0 0 0 .247.318l1.547.199c.155.02.298-.09.317-.246l.01-.079a.286.286 0 0 0-.247-.317z");
}
