.ggdj-rbkr {
  fill: none;
  stroke: currentColor;
  stroke-width: var(--svg-stroke-width--2px, 2px);
  d: path("m11 8.05l3.343-3.343a1 1 0 0 1 1.414 0l3.536 3.536a1 1 0 0 1 0 1.414L11 17.95M10 20h9a1 1 0 0 0 1-1v-5a1 1 0 0 0-1-1h-3m-5 7V5a1 1 0 0 0-1-1H5a1 1 0 0 0-1 1v14a1 1 0 0 0 1 1z");
}
