.ggsxhpbuf {
  fill: none;
  stroke: var(--svg-color--45413c, #45413c);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M44.49 39a5.1 5.1 0 0 1-1.64-1.16a5.58 5.58 0 0 1-7.93 0a11.64 11.64 0 0 1-17.62-10v-2.22");
}
