.ggv24lm0s {
  fill: currentColor;
  d: path("m12 22l-1-3H4q-.824 0-1.412-.587A1.93 1.93 0 0 1 2 17V4q0-.825.588-1.413A1.93 1.93 0 0 1 4 2h6l.875 3H20q.875 0 1.438.562T22 7v13q0 .825-.562 1.413Q20.875 22 20 22z");
  opacity: var(--svg-opacity--0-3, 0.3);
}
