.ghn_xobtc {
  stroke: var(--svg-color--191919, #191919);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M5.783 13.435h12.435m-9.566 2.87V23m6.696-6.696V23M7.696 1h8.609a.957.957 0 0 1 .956.957v14.347H6.739V1.957A.956.956 0 0 1 7.696 1");
}
