.ghtk6ab_i {
  stroke: currentColor;
  stroke-linecap: round;
  stroke-width: var(--svg-stroke-width--1-2px, 1.2px);
  d: path("m5 7l1.996 10.98a.1.1 0 0 0 .019.035a7.05 7.05 0 0 0 9.97 0a.1.1 0 0 0 .019-.036L19 7");
}
