.ghujeebki {
  fill: var(--svg-color--00209f, #00209F);
  fill-rule: nonzero;
  d: path("M155.135 94.376h-3.915c.012.196.086.294.172.416c.232.318.612.416.991.502c.404.097.82-.123 1.248-.123c1.026-.318 1.149-.636 1.504-.795");
}
