.gif_2_bvx {
  fill: var(--svg-color--ff87af, #ff87af);
  stroke: var(--svg-color--45413c, #45413c);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M24 32.3a4.13 4.13 0 0 0 3.27-1.61a6.52 6.52 0 0 0-6.54 0A4.13 4.13 0 0 0 24 32.3");
}
