.gjem_3b_z {
  fill: var(--svg-color--fec74a, #fec74a);
  fill-rule: evenodd;
  stroke: var(--svg-color--d8aa3f, #d8aa3f);
  stroke-width: var(--svg-stroke-width--1-6px, 1.6px);
  d: path("M383 234c2.5-23.6-20-50.5 10.6-76.3c-3.5 33.5 12.5 18 16.8 62L382.9 234z");
}
