.gk0hs21_p {
  fill: none;
  stroke: var(--svg-color--000, #000);
  stroke-width: var(--svg-stroke-width--0-3px, 0.3px);
  d: path("M277.8 217.7c2.4 0 5-.4 5.9-.6q1-.3 1-.8q0-.3-.4-.4a24 24 0 0 0-6.5-.8c-2.5 0-5 .3-6.4.8q-.3 0-.4.3q0 .6 1 .9c1 .2 3.5.6 5.8.6z");
}
