.gkaae-wpd {
  fill: var(--svg-color--fff, #fff);
  fill-rule: evenodd;
  d: path("m7 6.561l5.688-2.743v-.125a1 1 0 0 0-.204-.178C10.644 2.312 9.084 1.536 7 .87c-2.084.666-3.644 1.442-5.483 2.645a1 1 0 0 0-.205.18v.123l5.69 2.743Z");
}
