.gkxrvhbxk {
  stroke: var(--svg-color--4147d5, #4147d5);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M7 7.58c1.4 0 2.187-.788 2.187-2.188s-.788-2.187-2.188-2.187s-2.187.787-2.187 2.187s.787 2.188 2.187 2.188");
}
