.glilp5dof {
  fill: var(--svg-color--2859c5, #2859c5);
  fill-rule: evenodd;
  d: path("M3.5 14V8h2v6zM16 7.126V6h-2v1.126a4 4 0 0 0-1.854 1.071l-.976-.563l-1 1.732l.975.563a4 4 0 0 0 0 2.142l-.975.563l1 1.732l.976-.563c.502.51 1.14.887 1.854 1.071V16h2v-1.126a4 4 0 0 0 1.854-1.072l.976.564l1-1.732l-.975-.563a4 4 0 0 0 0-2.142l.975-.563l-1-1.732l-.976.563A4 4 0 0 0 16 7.126M13 11a2 2 0 1 1 4 0a2 2 0 0 1-4 0");
}
