.glummzbws {
  stroke: var(--svg-color--000, #000);
  stroke-width: var(--svg-stroke-width--0-083px, 0.083px);
  d: path("M121.836 80.454c0 .28-.221.509-.502.509a.503.503 0 0 1-.495-.509c0-.281.221-.509.495-.509a.503.503 0 0 1 .502.509z");
}
