.gm_9k9b0e {
  fill: var(--svg-color--2859c5, #2859c5);
  fill-rule: evenodd;
  d: path("M13.5 30c0-5.799 4.701-10.5 10.5-10.5S34.5 24.201 34.5 30S29.799 40.5 24 40.5S13.5 35.799 13.5 30M27 30a3 3 0 1 1-6 0a3 3 0 0 1 6 0");
}
