.gmtbkbpfo {
  fill: var(--svg-color--bfc9cf, #BFC9CF);
  fill-rule: nonzero;
  d: path("M184.996 82.388c-.332-.332-.45-.753-.266-.945c.184-.185.598-.074.93.258c.325.332.443.753.258.945c-.184.185-.597.074-.922-.258");
}
