.gn3v4ubtn {
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M14 16.8c2.043.933 2.26 2.607 2.544 4.2c0 0 4.278-2.952 1.542-7M7.2 10C6.267 7.957 4.593 7.739 3 7.456c0 0 2.952-4.278 7-1.542M6.209 14c-.632.632-1.706 2.464-.948 4.739c2.275.758 4.107-.316 4.739-.948");
}
