.gnln94bkm {
  fill: none;
  stroke: currentColor;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: var(--svg-stroke-width--1-5px, 1.5px);
  d: path("M5 21h14M5 3v7c0 3.87 3.13 7 7 7s7-3.13 7-7V3");
}
