.go_h4du7o {
  stroke: var(--svg-color--191919, #191919);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M12.465 7.696a.956.956 0 0 0-.957.956V12a1.435 1.435 0 1 0 2.87 0V8.652a.957.957 0 0 0-.957-.956z");
}
