.gp_5yobro {
  stroke: var(--svg-color--092f63, #092f63);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M11.51 14.94H7.59v3.43l3.92-.98m6.86-4.41h-3.92v3.43l3.92-.98m0-9.31v9.31m-6.86-7.35l6.86-1.96m-6.86 11.27V8.08");
}
