.gpcclie-k {
  fill: var(--svg-color--8fbffa, #8fbffa);
  fill-rule: evenodd;
  d: path("M4.154 0c-.8 0-1.449.649-1.449 1.449V9.09c0 .8.649 1.449 1.449 1.449h5.692c.8 0 1.449-.649 1.449-1.449V1.449c0-.8-.649-1.449-1.449-1.449z");
}
