.gpj0fx9qo {
  fill: none;
  stroke: var(--svg-color--45413c, #45413c);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("m21.09 20.042l5.19-9.7h0l1.287.69a1 1 0 0 1 .41 1.353l-4.246 7.935a1 1 0 0 1-1.353.41l-1.323-.707z");
}
