.gr8imobvi {
  fill: var(--svg-color--964b36, #964B36);
  fill-rule: nonzero;
  d: path("m240.888 75.6l-.004-.044c-.053-.01-.113-.066-.162-.067c-.046-.003-.136.109-.167.163c-.097.161-.07.38-.234.376c-.04-.001-.134-.028-.169-.003c-.062.043-.023.172-.023.26c0 .083.038 0-.007.107c-.013.029-.053.039-.064.078c-.033.14.083.095.135.094h.394c.079.002.127-.026.201-.055c.049-.016.152-.016.193-.059a1 1 0 0 0 .069-.153c.01-.054-.01-.119.003-.164c.021-.079.091-.049.104-.156c.034-.262-.246-.066-.202-.323");
}
