.gs7m8w06m {
  fill: none;
  stroke: var(--svg-color--45413c, #45413c);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M34.92 7.49a1.54 2.36 0 1 0 3.08 0a1.54 2.36 0 1 0-3.08 0M14.28 14.1h13.8m-13.8 13.49h13.8m-13.8 3.63h16.03M14.28 17.49h18.89m-18.89 3.55h18.89");
}
