.gsfrgib0m {
  fill: var(--svg-color--452c25, #452C25);
  fill-rule: nonzero;
  stroke: var(--svg-color--000, #000);
  stroke-width: var(--svg-stroke-width--0-088px, 0.088px);
  d: path("M137.966 55.451s-2.783 4.614-2.495 5.049c.295.435 2.193-1.034 3.137-2.148c.952-1.107 1.698-2.753 1.698-2.753");
}
