.gt4yxroba {
  fill: var(--svg-color--fcd116, #FCD116);
  fill-rule: nonzero;
  stroke: var(--svg-color--000, #000);
  stroke-linecap: square;
  stroke-width: var(--svg-stroke-width--0-2px, 0.2px);
  d: path("m61.959 65.516l6.485 1.283c-2.953 18.421 8.145 16.47 3.047 26.519c.114-9.307-5.726-4.243-11.339-17.793");
}
