.gtes6eb5q {
  fill: currentColor;
  d: path("M4.622 19.465a4.5 4.5 0 0 1-1.882-1.922c-.49-.963-.49-2.223-.49-4.743v2c0 2.52 0 3.78.49 4.743a4.5 4.5 0 0 0 1.967 1.967C5.67 22 6.93 22 9.45 22h5.1c2.52 0 3.78 0 4.743-.49a4.5 4.5 0 0 0 1.967-1.967c.49-.963.49-2.223.49-4.743v-2c0 2.52 0 3.78-.49 4.743a4.5 4.5 0 0 1-1.881 1.922a3.3 3.3 0 0 1-.903.68c-.696.355-1.606.355-3.426.355h-6.1c-1.82 0-2.73 0-3.425-.354a3.3 3.3 0 0 1-.903-.681");
  opacity: var(--svg-opacity--0-5, 0.5);
}
