.gtlpbmbly {
  stroke: var(--svg-color--000, #000);
  stroke-width: var(--svg-stroke-width--0-065px, 0.065px);
  d: path("M186.967 81.081a.82.82 0 0 0-.819-.805c-.436.015-.782.399-.768.856c.015.458.384.819.819.805c.436-.014.782-.398.768-.856z");
}
