.gtr29ujph {
  fill: var(--svg-color--2f88ff, #2F88FF);
  stroke: var(--svg-color--000, #000);
  d: path("M12 12.2802C12 12.1254 12.1254 12 12.2802 12H35.7198C35.8746 12 36 12.1254 36 12.2802V24C36 30.6274 30.6274 36 24 36C17.3726 36 12 30.6274 12 24V12.2802Z");
}
