.gu5zfccqw {
  fill: var(--svg-color--fff, #fff);
  d: path("M457.7 182.3c30 0 54.3-24.3 54.3-54.3s-24.3-54.3-54.3-54.3S403.4 98 403.4 128s24.3 54.3 54.3 54.3");
  opacity: var(--svg-opacity--0-75, 0.75);
}
