.guc2ixb_m {
  fill: var(--svg-color--fedf00, #FEDF00);
  fill-rule: nonzero;
  stroke: var(--svg-color--703d29, #703D29);
  stroke-width: var(--svg-stroke-width--0-239px, 0.239px);
  d: path("M151.08 74.774h24.654v24.607H151.08z");
}
