.gud1rsb6l {
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M10.125 17.5v-6m1.875 0V10m0 9v-1.5m-1.875-3h3.75m0 0c.621 0 1.125.504 1.125 1.125v.75c0 .621-.504 1.125-1.125 1.125H9m4.875-3c.621 0 1.125-.504 1.125-1.125v-.75c0-.621-.504-1.125-1.125-1.125H9");
}
