.gup3fcbtu {
  fill: var(--svg-color--e31d1c, #e31d1c);
  stroke: var(--svg-color--e31d1c, #e31d1c);
  stroke-linejoin: round;
  stroke-width: var(--svg-stroke-width--0-2px, 0.2px);
  d: path("M6.658 3.998h6.33v1.6h-6.33z");
}
