.guuxl5byj {
  stroke: var(--svg-color--4147d5, #4147d5);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M12.264 6.368a3.276 3.276 0 1 0-4.632-4.632l-.476.475a.586.586 0 0 1-.829 0a1.17 1.17 0 0 0-1.657 0l-.125.125a1.35 1.35 0 0 0 0 1.908l5.212 5.211c.526.527 1.38.527 1.907 0l.125-.125c.457-.457.457-1.2 0-1.657a.586.586 0 0 1 0-.83z");
}
