.guwc719wd {
  stroke: var(--svg-color--4147d5, #4147d5);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M.707 13.438h12.75M4.35 7.812h5.464v5.626H4.35zm-.49-2.124l3.222-2.532l3.222 2.532");
}
