.gvlyqubjl {
  fill: var(--svg-color--d52b1e, #d52b1e);
  fill-rule: evenodd;
  stroke: var(--svg-color--000, #000);
  stroke-width: var(--svg-stroke-width--0-1px, 0.1px);
  d: path("M261 306.3c.6-1 1.4-1.6 1.4-1.6l1.6 12.7s.4 3.2 2.4 4c0 0-1.1 11-4.7 8c-.5-.5-1.2-3.9-1-5.9l1-6.4a29 29 0 0 0-1.2-7.8c-.2-.2 0-1.8.6-3z");
}
