.gw4m0pbbr {
  stroke: var(--svg-color--191919, #191919);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M4.349 1.957h5.739a.956.956 0 0 1 .956.956v1.913h9.566c.526 0 .62.269.209.598l-6.427 5.141l7.174 5.74H7.792a.478.478 0 0 1-.444-.659c.664-1.643 3.696-2.211 3.696-2.211H4.35m6.693-8.609v8.609M2.435 1v22");
}
