.gwm_h9b7s {
  width: 4.206px;
  height: 35.92px;
  x: 16.27px;
  y: 18.17px;
  fill: var(--svg-color--fcea2b, #fcea2b);
  stroke: var(--svg-color--fcea2b, #fcea2b);
  stroke-linecap: square;
  stroke-width: var(--svg-stroke-width--1-957px, 1.957px);
  rx: 0px;
  ry: 0px;
}
