.gwpwcgbts {
  fill: var(--svg-color--f5e32c, #f5e32c);
  d: path("M253.455 6.073L219.97 14.83c-4.851 1.269-8.259 3.578-10.602 6.89c-2.175-.786-4.63-1.413-7.051-1.413c-1.867 0-3.925.28-5.704.752L88.204 49.906l.852-18.738l-80.04 22.534c-2.792 24.578-4.341 48.162-4.341 70.413c0 17.789.811 32.564 2.399 48.751l43.8-21.519l.48 22.126l25.924-12.615l-.14 47.461l47.549-16.275c6.9-2.362 12.14-7.019 15.974-13.419c3.02 1.63 6.727 2.624 10.31 2.624c3.557 0 7.247-.682 11.203-2.036l95.992-32.624c7.441-34.696 12.148-78.584 11.777-118.293l-16.798 8.406z");
  color: #000;
}
