.gxo1mfiel {
  stroke: var(--svg-color--053f6e, #053F6E);
  stroke-width: var(--svg-stroke-width--0-049px, 0.049px);
  d: path("M141.606 78.031c-.832-.49-1.407-1.737-1.541-2.092c-.318-.722-.599-1.872-.612-1.957");
}
