.gxsca5uit {
  fill: var(--svg-color--009b3a, #009B3A);
  fill-rule: nonzero;
  stroke: var(--svg-color--000, #000);
  stroke-width: var(--svg-stroke-width--0-075px, 0.075px);
  d: path("M146.5 81.126c-.005-.015 1.785-.774 1.785-.774l-1.944.267l-.239.346zm-1.494 16.716c.001.029-3.7.028-3.7.028l3.746.916l.615-.403z");
}
