.gy4hwzihc {
  fill: currentColor;
  fill-opacity: var(--svg-fill-opacity--0-4, 0.4);
  d: path("M6.0423 20.515L11.1255 11.3505C11.5063 10.6638 12.4937 10.6638 12.8745 11.3505L17.9577 20.515C18.3669 21.2526 17.735 22.1343 16.905 21.984L12 21.0957L7.095 21.984C6.265 22.1343 5.6331 21.2526 6.0423 20.515Z");
  stroke: none;
}
