.gyg7q313g {
  fill: none;
  stroke: var(--svg-color--000, #000);
  stroke-linecap: round;
  stroke-miterlimit: 10;
  stroke-width: var(--svg-stroke-width--2px, 2px);
  d: path("M44.095 49.22c1.15.197 2.265.563 3.307 1.088a11.9 11.9 0 0 1 4.048 3.36m-1.888 3.564a10.36 10.36 0 0 0-6.77-7.525M47.392 60c-.272-1.012-.62-2.159-1.043-3.118a21 21 0 0 0-4.292-6.281");
}
