.gz-646bff {
  fill: var(--svg-color--d7e0ff, #d7e0ff);
  fill-rule: evenodd;
  d: path("M4.75 13.25h6.5a2 2 0 0 0 2-2v-3c0-.632-.293-1.195-.75-1.561L7.75 10.71v.54a2 2 0 0 1-2 2zm-4-10.5V8h7V2.75a2 2 0 0 0-2-2h-3a2 2 0 0 0-2 2");
}
