.gz3dzsbhr {
  stroke: var(--svg-color--000, #000);
  stroke-width: var(--svg-stroke-width--0-088px, 0.088px);
  d: path("M140.018 60.751s-.731 2.739-.185 3.019c1.07.546 1.764-1.897 1.86-2.82c.111-1.033-1.675-.199-1.675-.199z");
}
