.gzcmowo-d {
  cx: 26.558px;
  cy: 38.517px;
  fill: none;
  stroke: var(--svg-color--000, #000);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: var(--svg-stroke-width--2px, 2px);
  rx: 2.061px;
  ry: 3.086px;
}
