.e-ipesbsa {
  fill: none;
  stroke: var(--svg-color--45413c, #45413c);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M22.11 26.28c-.82 3.91-4.78 7-8.69 6.2S7.13 27.21 8 23.3l5.7-21l11.64 2.48Z");
}
