.e-uqb4bzw {
  stroke: var(--svg-color--092f63, #092f63);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
  d: path("M18.86 6.61v7.35l-2.45 5.88l-1.96.98l-2.45-.98l-2.45.98l-1.96-.98l-2.45-5.88V6.61");
}
