.e04ay02vm {
  stroke: var(--svg-color--191919, #191919);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M13.472 14.382c-2.26 0-3.463-1.2-3.463-1.888s1.204-1.89 3.463-1.89c1.259 0 2.832.61 2.832 1.89s-1.53 1.888-2.832 1.888");
}
