.e0ijyje_z {
  stroke: var(--svg-color--191919, #191919);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M12 21.08a7.18 7.18 0 1 0 0-14.36a7.18 7.18 0 0 0 0 14.359M12 6.73V1.463m5.94 3.311l-1.088 1.577M23 12.416l-1.906.185M5.002 22.536l1.254-1.447m12.742 1.447l-1.254-1.447M1 12.366l1.906.183m3.377-7.986l1.037 1.61m-2.5 7.736h14.36M5.92 10.08h12.158M5.93 17.738h12.14");
}
