.e14kb4bdg {
  fill: var(--svg-color--00dfeb, #00dfeb);
  stroke: var(--svg-color--45413c, #45413c);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M27.5 25a5 5 0 1 0 10 0a5 5 0 1 0-10 0");
}
