.e17q52bva {
  stroke: var(--svg-color--000, #000);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: var(--svg-stroke-width--4px, 4px);
  d: path("M33 8C32.8333 7 31.8 4.8 29 4");
}
