.e1oa2ppix {
  fill: var(--svg-color--ffe500, #ffe500);
  stroke: var(--svg-color--45413c, #45413c);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M27.67 8.78h-7.34l.53 1.3a.87.87 0 0 0 .82.53h4.64a.87.87 0 0 0 .82-.53Z");
}
