.e1qu0obfe {
  fill: var(--svg-color--fff, #FFF);
  fill-rule: nonzero;
  stroke: var(--svg-color--bd6b00, #BD6B00);
  stroke-width: var(--svg-stroke-width--0-25px, 0.25px);
  d: path("M122.395 80.665c-1.846-.209-1.08-3.343.244-5.085c-.558 2.404.975 4.075-.244 5.085z");
}
