.e2sfpgiwi {
  fill: var(--svg-color--f3c07b, #f3c07b);
  fill-rule: evenodd;
  d: path("M13.08 2.051c-.424.416-.924 1.672-.924 3.933v9.414c0 .86-.969.797-.969 0c0-.397-.005-.912-.015-1.492V5.031c0-1.799.918-2.741 1.908-2.98M16.156 8v1s.274-.587.992-.976v4.492a.5.5 0 1 1-1 0V8zm4.719 1.312s.21-.467 1-.71v2.93a.5.5 0 0 1-1 0zm4.289.778l.008.02s.297-.314.992-.489V13.5a.5.5 0 0 1-1 0z");
}
