.e2zns_z6f {
  stroke: var(--svg-color--092f63, #092f63);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M8.932 14.045v9.204M5.864 20.18l3.068 3.069L12 20.18m3.068-1.022V9.955m3.068 3.068l-3.068-3.068L12 13.023");
}
