.e3_0itu4g {
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M17.25 18v-3m5.813 5.682a1.773 1.773 0 0 1-1.587 2.568h-8.452a1.773 1.773 0 0 1-1.587-2.568l4.226-8.451a1.774 1.774 0 0 1 3.174 0zm-18.88-7.928H2.162a1.413 1.413 0 0 1 0-2.825h2.021m5.746-5.746V2.162a1.413 1.413 0 0 1 2.825 0v2.021");
}
