.e3vhn77hg {
  fill: var(--svg-color--3a3850, #3a3850);
  stroke: var(--svg-color--3a3850, #3a3850);
  stroke-width: var(--svg-stroke-width--1-307px, 1.307px);
  d: path("M106 1h217v216H106zm49 52h113v113H155z");
}
