.e4cob6b_l {
  fill: none;
  stroke: currentColor;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: var(--svg-stroke-width--1-5px, 1.5px);
  d: path("M5 12h14m-7 5.875v.375m.75 0a.75.75 0 1 1-1.5 0a.75.75 0 0 1 1.5 0M12 5.375v.375m.75 0a.75.75 0 1 1-1.5 0a.75.75 0 0 1 1.5 0");
}
