.e4dtn20jx {
  stroke: var(--svg-color--fff, #fff);
  stroke-width: var(--svg-stroke-width--4px, 4px);
  d: path("M10 44h28a2 2 0 0 0 2-2V14.885a2 2 0 0 0-.655-1.48L29.572 4.52A2 2 0 0 0 28.227 4H10a2 2 0 0 0-2 2v36a2 2 0 0 0 2 2Z");
}
