.e4z2xsbgu {
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: var(--svg-stroke-width--2px, 2px);
  d: path("M38.018 14.98s.58-.311.954-.036c.44.324.797 1.608 1.325 2.142a3.36 3.36 0 0 0 1.928 1");
}
