.e50zsvy-u {
  fill: currentColor;
  fill-rule: evenodd;
  d: path("M18.132 3.515a.75.75 0 0 0-1.268.204l-2.78 6.884a.75.75 0 0 0 1.39.562l.467-1.157h3.238l.467 1.157a.75.75 0 1 0 1.39-.562l-2.78-6.882a.8.8 0 0 0-.124-.206m.44 4.993h-2.024l1.012-2.506z");
}
