.e53l6fq8q {
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: var(--svg-stroke-width--2px, 2px);
  d: path("m51.769 26.784l-.127 4.95a17 17 0 0 0 .067 3.314l.215 1.078c.216 1.078.541 2.849.722 3.934l1.342 8.054a64 64 0 0 0 .805 3.915l1.747 7.115c.262 1.068-.266 1.942-1.173 1.942a2.67 2.67 0 0 1-2.241-1.91l-2.219-7.179a147 147 0 0 1-1.117-3.84l-1.947-7.14c-.29-1.062-.751-1.93-1.027-1.93s-.557.897-.627 1.995L45.043 59.09a2.003 2.003 0 0 1-1.777 1.996a1.886 1.886 0 0 1-1.676-2l-.247-19a27 27 0 0 1 .303-3.973l.128-2.078a35 35 0 0 0-.03-4.36l-.003-2.589");
}
