.e54ndifnn {
  fill: var(--svg-color--ffcebf, #ffcebf);
  stroke: var(--svg-color--45413c, #45413c);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M14.9 23.62a2 2 0 0 0 2-2h-4.03a2 2 0 0 0 2.03 2m22.32 1.08a31.8 31.8 0 0 1 1.12 8.37a1.33 1.33 0 1 1-2.65 0V24.7Z");
}
