.e5d2htbhm {
  stroke: var(--svg-color--000, #000);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: var(--svg-stroke-width--0-291px, 0.291px);
  d: path("M127.275 145.855c-.017-.712.124-.447.891-.134c.164.066.043.226-.097.314c-.459.287-.864.894-1.058.758c-.528-.37-.196-.383.264-.938");
}
