.e5zpxbblo {
  fill: var(--svg-color--d0cfce, #d0cfce);
  fill-rule: evenodd;
  d: path("M30.526 16.28v.012L30.51 17l-.863 37.886A5 5 0 0 0 34.646 60h.323a5 5 0 0 0 5-5.085L39.32 17l-.07-4.017a1 1 0 0 0-.999-.983H31.6a1 1 0 0 0-1 .977z");
}
