.e6i11k1na {
  fill: none;
  stroke: var(--svg-color--000, #000);
  stroke-miterlimit: 10;
  stroke-width: var(--svg-stroke-width--2px, 2px);
  d: path("M56.5 25.569v.644c0 5.7-3.586 10.39-8 10.39s-8-4.69-8-10.39v-.644");
}
