.e6lqjsbgm {
  fill: var(--svg-color--c8b100, #c8b100);
  stroke: var(--svg-color--000, #000);
  stroke-width: var(--svg-stroke-width--0-5px, 0.5px);
  d: path("M190 323.5a19 19 0 0 0 5.8-2.5v-52.2H190z");
}
