.e6v5r2biz {
  fill: none;
  stroke: currentColor;
  stroke-linecap: square;
  stroke-width: var(--svg-stroke-width--2px, 2px);
  d: path("M4 4h1v1H4zm7.5 0h1v1h-1zM19 4h1v1h-1zm0 7.5h1v1h-1zm0 7.5h1v1h-1zm-7.5-7.5h1v1h-1zm0 7.5h1v1h-1zM4 11.5h1v1H4zM4 19h1v1H4z");
}
