.e731acc8d {
  fill: none;
  stroke: var(--svg-color--45413c, #45413c);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M18.16 23.63s4.05-.8 7.22 3.93c.36.55-.09 1.24-.65 1a3.3 3.3 0 0 0-2.18-.19a13 13 0 0 1-.09 3.94a.56.56 0 0 1-1.09.12a17.3 17.3 0 0 0-5.77-6Z");
}
