.e7cuhwm3t {
  fill: var(--svg-color--d0cfce, #d0cfce);
  stroke: var(--svg-color--9b9b9a, #9b9b9a);
  stroke-linejoin: round;
  stroke-width: var(--svg-stroke-width--2px, 2px);
  d: path("M44 27h10l-2 5h-6z");
}
