.e7n94zb9e {
  fill: none;
  stroke: currentColor;
  stroke-linejoin: round;
  stroke-width: var(--svg-stroke-width--1-5px, 1.5px);
  d: path("M22 12c0 4.97-4.477 9-10 9S2 16.97 2 12s4.477-9 10-9s10 4.03 10 9Z");
}
