.e7siu6r3e {
  fill: var(--svg-color--fff, #fff);
  fill-rule: evenodd;
  d: path("M27.6 43.08c-7.29-6.99-2.7-19.754 7.6-19.66h-.005c10.303.09 17.752 12.649 8.414 21.59c-1.627 1.44-1.44 1.637-.569 2.549c.33.345.757.792 1.22 1.447c-.854.7-1.984 1.205-3.26 1.545v-1.899a.5.5 0 0 0-1 0v2.127a18 18 0 0 1-2 .266v-2.393a.5.5 0 0 0-1 0V51.1c-.667.022-1.339.014-2-.02v-2.428a.5.5 0 0 0-1 0v2.354a22 22 0 0 1-2-.28v-2.074a.5.5 0 0 0-1 0v1.859c-1.309-.321-2.406-.756-3.12-1.266c.304.004 1.226-.335 1.221-.638v-2.866a4.5 4.5 0 0 0-1.433-2.593z");
}
