.e8adh3pks {
  fill: var(--svg-color--c8b100, #c8b100);
  stroke: var(--svg-color--000, #000);
  stroke-width: var(--svg-stroke-width--0-5px, 0.5px);
  d: path("M168.6 320.9c1.5.8 3.6 2 5.8 2.6l-.1-54.7h-5.7z");
}
