.e8nifbbzg {
  fill: none;
  stroke: var(--svg-color--45413c, #45413c);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M32.73 39.09a2.73 2.73 0 1 0 5.46 0a2.73 2.73 0 1 0-5.46 0m-20.19 0a2.73 2.73 0 1 0 5.46 0a2.73 2.73 0 1 0-5.46 0");
}
