.e_8tv12gb {
  stroke: var(--svg-color--191919, #191919);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M23 19.413v1.674A1.92 1.92 0 0 1 21.087 23H2.913A1.92 1.92 0 0 1 1 21.087v-1.291a8.367 8.367 0 0 1 14.491-2.784A4.548 4.548 0 0 1 23 19.413");
}
