.e_xduisqp {
  fill: var(--svg-color--1e1e1e, #1e1e1e);
  d: path("M182.7 123.1c-13 6.8-24.1 17-31.2 29.9c-6.6 11.8-9.2 25.6-8 39c1.7 22.7 14.5 43.6 31.5 58.1c14.1 11.7 31.7 19.7 50.1 20.8c11.7.5 23.7-.5 34.6-5.4c7-3 13.4-7.2 19.1-12.2c-12.4 1.6-17.5 5-41.6 5.1c-34 .2-53-11.5-68.5-36.5c-14.1-22.9-23.2-60.8 14-98.8m223-16.2c-9.3 2.4-17 9.8-21.6 18.1c-9.1 16-11.9 35.4-8.5 53.5c3.2 14.4 9.5 29 21 38.7c5.7 4.4 12.9 6.4 19.8 8.1c6.8 1.1 13.4-1.5 19.4-4.8c-10.6.2-18.1-.6-29.8-7c-16.9-9.2-20.9-23.5-24.2-43.5c-3-17.4-3.9-39.8 23.9-63.1");
  opacity: var(--svg-opacity--0-07, 0.07);
}
