.ea4fz2erk {
  fill: var(--svg-color--96877d, #96877D);
  fill-rule: nonzero;
  stroke: var(--svg-color--000, #000);
  stroke-width: var(--svg-stroke-width--0-068px, 0.068px);
  d: path("M36.207 39.244c-1.08-.581-1.396.85-1.862 1.196c.628.107 1.102-.483 1.64-.769c.408 1.111 1.05.376 1.05.376s.671 1.063 1.563.581c.243.184.512.017.512.017s.325.06.393-.085c.171.06.359-.154.359-.154s.371.004.444-.188c.551.098 1.281-1.127 1.281-1.127l.222-.427l.325-.068s.021-.214-.154-.205c-.004-.128-.115-.196-.273-.171c.03-.077-.085-.136-.085-.136c-.307.077-.325.854-.325.854s-.538.41-.734.512c-.008-.444-.752-1.046-.598-1.332s.636.44 1.059.307s.63-.682.649-1.11c-.12-.29-.41-.769-.41-.769l-.273-.017l-.239-.581s-.504.329-.495.615s.53.529.53.529s-.3.188-.581.102c-.026.29.341.235.478.239c.068.209.273.325.273.325s.128.32-.205.29s-.726-.798-1.196-.444c-.5.376.222 1.059.222 1.059s-.44.23-.7.82c-1.064-.896-1.688-.478-2.87-.239z");
}
