.eagz4xafi {
  fill: none;
  stroke: currentColor;
  stroke-width: var(--svg-stroke-width--1-5px, 1.5px);
  d: path("M8 12V8m0-4v4m0 0h4M8 8H4m4 0l2.828 2.828M8 8L5.172 5.172M8 8l2.828-2.828M8 8l-2.828 2.828M4 15h16M4 19h9");
}
