.eajt0eb1y {
  fill: currentColor;
  d: path("M9 7.75a1.25 1.25 0 1 0 0 2.5a1.25 1.25 0 0 0 0-2.5M6.25 9a2.75 2.75 0 1 1 5.5 0a2.75 2.75 0 0 1-5.5 0M19 13a1 1 0 0 1 1 1v3a1 1 0 1 1-2 0v-3a1 1 0 0 1 1-1m1 7a1 1 0 1 1-2 0a1 1 0 0 1 2 0");
  opacity: var(--svg-opacity--0-5, 0.5);
}
