.eb-6gc30k {
  fill: currentColor;
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M7.5 8a.5.5 0 1 1 0-1a.5.5 0 0 1 0 1m4.5 4.5a.5.5 0 1 1 0-1a.5.5 0 0 1 0 1m4.5 4.5a.5.5 0 1 1 0-1a.5.5 0 0 1 0 1");
}
