.eb5uhxb5u {
  fill: currentColor;
  fill-opacity: var(--svg-fill-opacity--0-25, 0.25);
  d: path("m41.162 10.459l-.596 15.152A14.4 14.4 0 0 0 27.53 47.2l-13.133 7.582A29.564 29.564 0 0 1 41.162 10.46");
}
