.ebdo6v8hk {
  stroke: var(--svg-color--191919, #191919);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M23 14.391h-6.695v3.826H23zm0 3.826v3.826a.957.957 0 0 1-.957.957H17.26a.956.956 0 0 1-.956-.957v-3.826zM10.565 9.609v1.913m6.695-8.609v4.783H3.87V2.913A1.913 1.913 0 0 1 5.783 1h9.565a1.92 1.92 0 0 1 1.913 1.913");
}
