.ebl8156wx {
  fill: var(--svg-color--fff, #FFF);
  fill-rule: nonzero;
  stroke: var(--svg-color--000, #000);
  stroke-linecap: square;
  stroke-linejoin: bevel;
  stroke-width: var(--svg-stroke-width--0-45px, 0.45px);
  d: path("M105.034 89.246h2.073v8.116h-2.073zm0-1.53h2.06v1.507h-2.06z");
}
