.ebu_5zbqu {
  fill: var(--svg-color--ffc72c, #ffc72c);
  stroke: var(--svg-color--000, #000);
  stroke-width: var(--svg-stroke-width--0-236px, 0.236px);
  d: path("M207.738 53.848a.702.702 0 0 1-1.402 0a.702.702 0 0 1 1.402 0Zm0 0");
}
