.ebycs4bfn {
  fill: none;
  stroke: var(--svg-color--45413c, #45413c);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M3.07 32.35h8.71a5.47 5.47 0 1 1 0 10.93H8.13a1.83 1.83 0 0 1 0-3.65H5.39a1.82 1.82 0 1 1 0-3.64H3.07a1.82 1.82 0 0 1 0-3.64m6.47 3.64H5.39m2.74 3.64h3.12");
}
