.ec0qndr_t {
  stroke: var(--svg-color--092f63, #092f63);
  stroke-linejoin: round;
  d: path("m12 3.052l2.045 1.534l2.557-1.534l-2.557 5.624l4.09 5.114v5.113l-4.09 2.045h-4.09l-4.09-2.045V13.79l4.09-5.113l-2.557-5.625l2.557 1.534z");
}
