.eckkriuue {
  stroke: var(--svg-color--4147d5, #4147d5);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M3.763 13.5c-1.883-.75-2.071-2.435-1.916-3.833c.107-.97.911-1.584 1.865-1.584c.895 0 2.708.004 2.708.004c.684.053 1.18.677 1.115 1.35c-.1 1.035-1.324 1.147-2.147 1.355c.631.291 1.87 1.095 1.776 1.98");
}
