.eco7jfm0l {
  stroke: var(--svg-color--c1c9f1, #c1c9f1);
  stroke-opacity: 0.118;
  stroke-width: var(--svg-stroke-width--2-9px, 2.9px);
  d: path("m16.5 5l.607-1.317l-.621-.286l-.616.297zm0 0a227 227 0 0 1 .608-1.317l.003.002l.006.003l.019.009a6 6 0 0 1 .265.131a15.3 15.3 0 0 1 2.785 1.858c1.48 1.25 3.264 3.307 3.264 6.067c0 2.731-1.755 4.906-3.21 6.265a17.2 17.2 0 0 1-3.013 2.237l-.018.01l-.006.003l-.002.001H17.2L16.5 19m0-14l-.63-1.306h-.002l-.002.002l-.006.003l-.018.009l-.06.03q-.075.037-.203.106a16 16 0 0 0-2.771 1.893c-1.465 1.252-3.258 3.31-3.258 6.016c0 2.677 1.762 4.853 3.204 6.215a18 18 0 0 0 2.941 2.24l.058.035l.017.01l.006.003l.002.002h.001L16.5 19m0 0l.7 1.27l-.714.393l-.706-.404z");
}
