.ecrlwubla {
  fill: var(--svg-color--9b51e0, #9b51e0);
  stroke: var(--svg-color--9b51e0, #9b51e0);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: var(--svg-stroke-width--4px, 4px);
  d: path("M59.873 26.494a7.208 7.208 0 1 0 6.254-12.988a7.208 7.208 0 0 0-6.254 12.988");
}
