.eczkepb3q {
  stroke: var(--svg-color--092f63, #092f63);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
  d: path("m18.37 6.61l2.94-1.47l-2.45-2.45L12 .73L5.14 2.69L2.69 5.14l2.94 1.47zm-4.998 14.602L12 18.37l-1.372 2.842L12 23.27z");
}
