.edma6w6lg {
  stroke: var(--svg-color--092f63, #092f63);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("m15.43 10.53l-1.47-1.96h-3.92l-1.47 1.96m14.21 6.86h-4.9m4.9 1.96h-4.9m4.9 1.96h-4.9m0-8.33l2.94-2.45m0-1.919v1.919h1.96m-8.82-8.82h-3.92v1.96h3.92zm3.43.98l-.49.49l.49.49m0-.98l.49.49l-.49.49M6.61 2.69l-.49.49l.49.49m0-.98l.49.49l-.49.49");
}
