.edwevabys {
  fill: none;
  stroke: var(--svg-color--45413c, #45413c);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M13.49 14a7.26 7.26 0 0 0 3.68 5.86l2.2 1.24a9.46 9.46 0 0 0 9.26 0l2.2-1.24A7.26 7.26 0 0 0 34.51 14Z");
}
