.eee5vqkqz {
  fill: none;
  stroke: currentColor;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: var(--svg-stroke-width--2px, 2px);
  d: path("M4.5 9h5M7 9v6m6 0V9l3 4l3-4v6");
}
