.eeglcbb9x {
  fill: none;
  stroke: var(--svg-color--45413c, #45413c);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M3.71 35.83h31.57v5h0H3.71a1.24 1.24 0 0 1-1.24-1.24v-2.52a1.24 1.24 0 0 1 1.24-1.24");
}
