.eevyqhbje {
  fill: none;
  stroke: currentColor;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: var(--svg-stroke-width--2px, 2px);
  d: path("m14 9l3 5.063M4 9l6 6m-6 0l6-6m10 0l-4.8 9");
}
