.efoc9x97h {
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M2.765 8.413v-4.1m18.46 4.1l-.01-4.1M9.94 15.588h4.1m-6.16-4.613L8.903 9.95l1.025 1.025m4.102 0l1.025-1.025l1.024 1.025");
}
