.efy8msbpw {
  fill: var(--svg-color--ff5d01, #ff5d01);
  fill-rule: evenodd;
  d: path("M162.074 168.499c-6 5.131-17.976 8.629-31.77 8.629c-16.931 0-31.122-5.271-34.887-12.359c-1.346 4.063-1.648 8.712-1.648 11.683c0 0-.887 14.585 9.257 24.729a9.54 9.54 0 0 1 9.538-9.538c9.028 0 9.018 7.877 9.009 14.268v.57c0 9.7 5.928 18.015 14.359 21.519a19.55 19.55 0 0 1-1.966-8.572c0-9.251 5.432-12.696 11.744-16.698c5.022-3.185 10.602-6.724 14.448-13.824a26.06 26.06 0 0 0 3.145-12.454c0-2.773-.431-5.445-1.229-7.953");
}
