.egez-1ybl {
  fill: var(--svg-color--48eeff, #48eeff);
  stroke: var(--svg-color--231f20, #231f20);
  stroke-miterlimit: 10;
  d: path("M36.09 12.65c0-.66-.68-1.22-2.54-1.41c-.19-1.86-.74-2.54-1.41-2.54s-1.23.68-1.42 2.54c-1.86.19-2.54.75-2.54 1.41s.68 1.23 2.54 1.42c.19 1.86.75 2.54 1.42 2.54s1.22-.68 1.41-2.54c1.86-.19 2.54-.75 2.54-1.42ZM29 5.53c0-.53-.54-1-2-1.13c-.15-1.49-.6-2-1.13-2s-1 .54-1.13 2c-1.49.15-2 .6-2 1.13s.55 1 2 1.13c.15 1.49.59 2 1.13 2s1-.55 1.13-2c1.43-.14 2-.59 2-1.13Z");
}
