.egmm4t75a {
  fill: var(--svg-color--5c9e31, #5c9e31);
  stroke: var(--svg-color--5c9e31, #5c9e31);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: var(--svg-stroke-width--3px, 3px);
  d: path("M38 33.5h4");
}
