.eir-cobpl {
  fill: var(--svg-color--43ccf8, #43CCF8);
  stroke: var(--svg-color--fff, #fff);
  stroke-linejoin: round;
  stroke-width: var(--svg-stroke-width--4px, 4px);
  d: path("M29 29.0002C31.2091 29.0002 33 27.2094 33 25.0002C33 22.7911 31.2091 21.0002 29 21.0002C26.7909 21.0002 25 22.7911 25 25.0002C25 27.2094 26.7909 29.0002 29 29.0002Z");
}
