.ej6qlzimp {
  fill: var(--svg-color--fff, #FFF);
  fill-rule: nonzero;
  stroke: var(--svg-color--000, #000);
  stroke-width: var(--svg-stroke-width--0-156px, 0.156px);
  d: path("M96.716 85.84c0-.232.196-.416.44-.416c.24 0 .44.184.44.416c0 .228-.2.416-.44.416a.43.43 0 0 1-.44-.416");
}
