.ejiblrb9w {
  fill: var(--svg-color--212121, #212121);
  fill-rule: evenodd;
  d: path("M22.439 4.743a.5.5 0 0 1 .707 0a5.497 5.497 0 0 1 0 7.787l-1.14 1.14a.5.5 0 0 1-.707-.707l1.14-1.14a4.497 4.497 0 0 0 0-6.373a.5.5 0 0 1 0-.707");
}
