.ek8ab_bvz {
  fill: var(--svg-color--2859c5, #2859c5);
  fill-rule: evenodd;
  d: path("M11.272 3.479a6 6 0 0 0-.081-1.104c-.929-.31-1.974-.353-3.083-.353c-1.183 0-2.337.093-3.176.16l-.585.045a.625.625 0 0 0 .088 1.247q.281-.02.622-.048c.839-.067 1.924-.154 3.051-.154c1.403 0 2.396.085 3.164.49q.122.074.236.158a.56.56 0 0 1-.236-.44Z");
}
