.eknrpbcnt {
  fill: var(--svg-color--669df6, #669df6);
  fill-rule: evenodd;
  d: path("M9.49 16.15s-2.34 2-2.8 2.25l2.86-1.65a4 4 0 0 0-.06-.6m.66-6.15s-.59-3.28-.59-3.6v3.29a3.5 3.5 0 0 0 .59.27Zm5.15 3.47s2.76 1.15 3.22 1.41l-2.86-1.64a1.7 1.7 0 0 0-.36.23");
}
