.elmbf2wzd {
  fill: none;
  stroke: currentColor;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: var(--svg-stroke-width--6px, 6px);
  d: path("m15 24l17.16 15.253a1 1 0 0 1 0 1.494L15 56m50 0H41");
}
