.elyxbx7ey {
  width: 448px;
  height: 416px;
  x: 32px;
  y: 48px;
  fill: none;
  stroke: currentColor;
  stroke-linejoin: round;
  stroke-width: var(--svg-stroke-width--32px, 32px);
  rx: 48px;
  ry: 48px;
}
