.elzzhttxr {
  fill: var(--svg-color--6fcf97, #6fcf97);
  fill-rule: evenodd;
  d: path("M24 62h32a6 6 0 0 0 5.83-4.574a.91.91 0 0 0-.26-.856l-5.863-5.863a1 1 0 0 0-1.414 0L50.52 54.48a1 1 0 0 1-1.444-.032l-14.34-15.643a1 1 0 0 0-1.474 0l-15 16.364a1 1 0 0 0-.263.676V56a6 6 0 0 0 6 6");
}
