.emetjzb3l {
  stroke: var(--svg-color--703d29, #703D29);
  stroke-linecap: round;
  stroke-width: var(--svg-stroke-width--0-336px, 0.336px);
  d: path("M147.45 67.437c.721.551 1.23 1.23 1.145 2.332c-.092 1.196-.382 1.484-1.315 2.12");
}
