.emexutbvs {
  fill: var(--svg-color--2e3ecd, #2e3ecd);
  fill-rule: evenodd;
  d: path("M13.424 18.763h17.652c-.77.94-1.504 1.818-2.202 2.618h-13.25a111 111 0 0 1-2.2-2.618m4.225 4.8c1.314 1.303 2.506 2.215 3.542 2.512a.87.87 0 0 1 .189.542v9.172l-.002.005v.003c-2.474.087-4.362.535-4.362 1.075c0 .602 2.345 1.09 5.237 1.09s5.236-.488 5.236-1.09c0-.54-1.887-.988-4.362-1.075v-.008l-.002-.008v-9.164c0-.202.07-.389.185-.537c1.026-.288 2.204-1.184 3.543-2.517z");
}
