.emxzobi8p {
  stroke: var(--svg-color--231f20, #231f20);
  stroke-linecap: round;
  stroke-miterlimit: 10;
  d: path("M8.56 34.26s2.65.15 8 .29s8 .13 8 .13m-19-1.55a4.07 4.07 0 0 0-.23-2.45a4.07 4.07 0 0 0-1.4-2");
}
