.epnbenbmg {
  fill: none;
  stroke: currentColor;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: var(--svg-stroke-width--2px, 2px);
  d: path("M28 6H4m24 10H4m24 10H4M24 3v6M8 13v6m12 4v6");
}
