.eqclrleqz {
  fill: none;
  stroke: var(--svg-color--45413c, #45413c);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M4.06 24a19.94 19.94 0 1 0 39.88 0a19.94 19.94 0 1 0-39.88 0");
}
