.eqfcgpbth {
  fill: currentColor;
  fill-rule: evenodd;
  d: path("M7.66 10.316L4.803 11.54a.5.5 0 0 0 0 .92l7 3a.5.5 0 0 0 .394 0l7-3a.5.5 0 0 0 0-.92l-2.857-1.224l-1.27.544L17.73 12L12 14.456L6.27 12l2.66-1.14z");
}
