.eqi7oqxas {
  fill: none;
  stroke: var(--svg-color--45413c, #45413c);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M29.49 8.52a22.4 22.4 0 0 0-11 0C12.86 10 9 14.34 9 19.32v4.35a2.1 2.1 0 0 1-.42 1.22a7.44 7.44 0 0 0-1.08 4.63c0 6.06 7.11 11 16.5 11s16.5-4.92 16.5-11a7.44 7.44 0 0 0-1.08-4.63a2.1 2.1 0 0 1-.42-1.22v-4.35c0-4.98-3.86-9.32-9.51-10.8");
}
