.er9ql4_vf {
  fill: none;
  stroke: var(--svg-color--45413c, #45413c);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M4.14 13.5a4.68 4.68 0 0 0-2.5 5c.5 3.25 4 3.5 4 3.5s2.25-.14 2.5-3c.31-3.5-4-5.5-4-5.5");
}
