.ermw6hb7m {
  stroke: var(--svg-color--17808b, #17808B);
  stroke-width: var(--svg-stroke-width--0-049px, 0.049px);
  d: path("M148.091 75.854c.648-.563 1.333-.746 2.178-.746c.795 0 1.64.22 2.165.722");
}
