.etpbdd6ko {
  fill: none;
  stroke: var(--svg-color--000, #000);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: var(--svg-stroke-width--2px, 2px);
  d: path("M42.8 14.95s6.834-3.75 9.876-8.916c0 0 4.25-3.25 6.792 5.041c0 0 3.083 8.792-1.626 17.459c0 0-.067 7.318 2.63 13.792l-4.697 6.736c-1.56 2.022-3.871 3.674-7.224 4.617");
}
