.eu4j08t3g {
  fill: var(--svg-color--eb5757, #eb5757);
  stroke: var(--svg-color--eb5757, #eb5757);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: var(--svg-stroke-width--4px, 4px);
  d: path("M14.534 59.695a2 2 0 0 1 1.515-1.94l12.444-3.111a48 48 0 0 1 23.283 0l12.443 3.11a2 2 0 0 1 1.515 1.941v8.677a2 2 0 0 1-2.485 1.94l-11.473-2.868a48 48 0 0 0-23.284 0L17.02 70.312a2 2 0 0 1-2.485-1.94z");
}
