.ewtd9xb1i {
  fill: none;
  stroke: var(--svg-color--45413c, #45413c);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M6.72 25.47h5.4v16.18A1.35 1.35 0 0 1 10.76 43H8.07a1.35 1.35 0 0 1-1.35-1.35zm29.17 0h5.4v16.18A1.35 1.35 0 0 1 39.93 43h-2.7a1.35 1.35 0 0 1-1.35-1.35V25.47z");
}
