.ewwyqq {
  d: path('M3 12l7 7M3 12l7 -7');
}

@media not (prefers-reduced-motion) {
  .ewwyqq {
    stroke-dasharray: 12;
    stroke-dashoffset: 12;
    animation: 0.2s linear 0.3s forwards so-to-0;
  }
}
