.exts4cbck {
  fill: var(--svg-color--2e3ecd, #2e3ecd);
  fill-rule: evenodd;
  d: path("M37.396 20.996a.873.873 0 0 1 0 1.634c-6.243 2.768-13.114 5.055-20.38 7.037l-6.98 2.182v-1.791l6.98-2.115v-12.24l-6.98-1.699v-1.791l6.98 1.745c7.266 1.983 14.137 4.27 20.38 7.038");
}
