.exulpvy_d {
  fill: none;
  stroke: var(--svg-color--45413c, #45413c);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M4.15 23.23c.36.37.43 2.87-.12 3.33s-1.51 0-1.87-.32s-.14-.95.21-1.52s1.42-1.85 1.78-1.49");
}
