.eyo45rbqn {
  fill: var(--svg-color--406325, #406325);
  fill-rule: nonzero;
  stroke: var(--svg-color--24420e, #24420E);
  stroke-width: var(--svg-stroke-width--0-017px, 0.017px);
  d: path("M173.367 105.343c.856-2.318-.003-7.762-.465-8.423c-2.078 4.804-1.045 8.595.465 8.423z");
}
