.m-hyl7b5z {
  stroke: var(--svg-color--eb5757, #eb5757);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: var(--svg-stroke-width--4px, 4px);
  d: path("m66.9 13.172l-9 9l-1.8 1.8l-9 9");
}
