.m01h-7bqz {
  fill: var(--svg-color--2859c5, #2859c5);
  fill-rule: evenodd;
  d: path("M9.143.08c1.031.344.607 1.864.344 2.407c.573-.803 1.995-2.132 3.095-1.032s-.23 2.522-1.032 3.095c.543-.263 2.064-.687 2.408.344c.35 1.049-2.087 2.327-3.704 2.957c-.206-1.022-.864-1.933-1.535-2.605C8.023 4.551 7.07 3.87 6.004 3.69C6.632 2.075 8.069-.279 9.143.08");
}
