.m08ib4bew {
  fill-rule: evenodd;
  d: path("M9.5 22.5a3 3 0 0 0 2.435-4.753a.75.75 0 0 0 .595-.217l1.72-1.72l5.72 5.72a.75.75 0 1 0 1.06-1.06l-5.72-5.72l5.72-5.72a.75.75 0 0 0-1.06-1.06l-5.72 5.72l-1.72-1.72a.75.75 0 0 0-.316-.19a3 3 0 1 0-.869 1.085a.8.8 0 0 0 .125.165l1.72 1.72l-1.72 1.72a.75.75 0 0 0-.217.595A3 3 0 1 0 9.5 22.5");
  opacity: var(--svg-opacity--0-2, 0.2);
}
