.m0i_2lbrv {
  stroke: var(--svg-color--053c68, #053C68);
  stroke-width: var(--svg-stroke-width--0-049px, 0.049px);
  d: path("M161.411 82.545c-.171.11-2.19 1.248-2.838 1.113c-.012-.012-.036-.049-.036-.073c0-.22.245-.697.269-.71v-.012s-.195.074-.183.049c.012-.037-.122.122-.196.037");
}
