.m11kaybbv {
  fill: var(--svg-color--fff, #fff);
  fill-rule: evenodd;
  d: path("M133 35.8s8.9-8.2 11.9 4.8c0 0-4.3 4.2-7.2 2.4c-2.8-1.9-4.7-7.2-4.7-7.2m93.5 28.6c3 0 5.4 2.1 5.4 4.8c0 2.6-2.4 4.8-5.4 4.8s-5.4-2.1-5.4-4.8c.1-2.7 2.5-4.8 5.4-4.8");
}
