.m19q18qls {
  fill: var(--svg-color--a48253, #A48253);
  fill-rule: nonzero;
  d: path("M124.55 144.124s.161.091.26.203c.1.112.136.246.068.331c0 0 .04.098.168.192c.172.125.399.116.649.154c.318.052.542.095.768.161c.227.066.511.184.511.184l-1.285-.64z");
}
