.m1f3-xb3z {
  stroke: var(--svg-color--191919, #191919);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M1.459 22.54h21.083M5.125 1.458V12a6.875 6.875 0 0 0 13.75 0V1.458m-16.5-.001h5.5m8.25 0h5.5");
}
