.m1fgxbb7z {
  fill: var(--svg-color--8fbffa, #8fbffa);
  fill-rule: evenodd;
  d: path("M24 38.5c-7.496 0-12.715-.177-15.96-.343c-3.155-.161-5.827-2.423-6.16-5.698c-.206-2.031-.38-4.822-.38-8.459s.174-6.428.38-8.46c.333-3.274 3.005-5.536 6.16-5.697C11.284 9.677 16.503 9.5 24 9.5s12.715.177 15.96.343c3.155.161 5.827 2.423 6.16 5.698c.206 2.031.38 4.822.38 8.459s-.174 6.428-.38 8.46c-.333 3.274-3.005 5.536-6.16 5.697c-3.245.166-8.464.343-15.96.343");
}
