.m2hbombmu {
  fill: var(--svg-color--fff, #FFF);
  fill-rule: nonzero;
  d: path("m245.108 53.043l6.242 4.535l-2.384 7.338l6.242-4.535l6.242 4.535l-2.384-7.338l6.242-4.535h-7.716l-2.384-7.338l-2.384 7.338z");
}
