.m2u8gdbkh {
  fill: none;
  stroke: var(--svg-color--45413c, #45413c);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M20.43 18.72a18.5 18.5 0 0 1 1.28 5.44a26.6 26.6 0 0 1-.38 6h3.48s1.21-1.64.78-5.73a6.36 6.36 0 0 0-5.16-5.71");
}
