.m3hp79rnw {
  fill: var(--svg-color--f1b517, #F1B517);
  fill-rule: nonzero;
  stroke: var(--svg-color--000, #000);
  stroke-width: var(--svg-stroke-width--0-15px, 0.15px);
  d: path("m152.794 104.172l4.236-1.314l1.846-3.153l6.536-.321l-.227 2.365l-5.567 1.065l-.53.949l-6.4 1.781z");
}
