.m4323mbpj {
  fill: var(--svg-color--ff52a1, #ff52a1);
  stroke: var(--svg-color--231f20, #231f20);
  d: path("M35.764 9.882a1.673 1.673 0 1 0 3.347 0a1.673 1.673 0 1 0-3.347 0ZM2.769 30.303c0 1.688 1.826 2.742 3.288 1.898a2.19 2.19 0 0 0 1.095-1.898c0-1.687-1.826-2.742-3.287-1.898a2.19 2.19 0 0 0-1.096 1.898Z");
}
