.m5cj46ikk {
  fill: var(--svg-color--ffe000, #ffe000);
  stroke: var(--svg-color--000, #000);
  stroke-width: var(--svg-stroke-width--0-1px, 0.1px);
  d: path("M315.6 273.5h.2l-5.9 1.8l-8 .6c-17.2.5-15-10.2-14.3-27.5c.1-6.5.3-12.4 0-15.3l-10.3-7.6c-3.8 10.7-2.8 16.7-3.5 22.2c-.4 5.8-1.7 17.3.2 22.3c2.7 11.7 11.8 11.2 24.2 10.2c6.1-.5 9.4-2.1 9.4-2.1l8-4.6");
}
