.m5d7m6tzo {
  stroke: var(--svg-color--191919, #191919);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M16.632 20A5.36 5.36 0 0 1 12 23a5.36 5.36 0 0 1-4.64-3M12 23v-3.5M16.632 4A5.36 5.36 0 0 0 12 1a5.36 5.36 0 0 0-4.64 3M12 1v3.5");
}
