.m5u1j0bfs {
  fill: var(--svg-color--656769, #656769);
  stroke: var(--svg-color--45413c, #45413c);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M13.86 45h-3.34a.5.5 0 0 1-.49-.6l.05-.21a2.14 2.14 0 0 1 2.11-1.75h0a2.16 2.16 0 0 1 2.12 1.75v.21a.5.5 0 0 1-.45.6");
}
