.m7atdpspj {
  stroke: currentColor;
  stroke-linecap: round;
  stroke-width: var(--svg-stroke-width--4px, 4px);
  d: path("M7.9 5q4.256 4.529 4.256 11.765C12.156 24 6 29.538 4.969 33.5q-1.03 3.962-.97 9.5M39.256 5q-4.257 4.529-4.257 11.765C35 24 41.156 29.538 42.186 33.5q1.03 3.962.97 9.5");
}
