.m7vrd8dwl {
  fill: var(--svg-color--fff, #fff);
  stroke: var(--svg-color--45413c, #45413c);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M16.5 33.5a1 1 0 0 1-2 0v-3a1 1 0 0 1 2 0Zm4.5 0a1 1 0 0 1-2 0v-3a1 1 0 0 1 2 0Zm4.5 0a1 1 0 0 1-2 0v-3a1 1 0 0 1 2 0Zm4.5 0a1 1 0 0 1-2 0v-3a1 1 0 0 1 2 0Zm2.81-1.2a2.38 2.38 0 0 0-.34 3.21l2.87 3.86a2.79 2.79 0 1 0 4.17-3.67L36 32.37a2.39 2.39 0 0 0-3.19-.07");
}
