.m80ezb7tl {
  fill: none;
  stroke: var(--svg-color--000, #000);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
  stroke-width: var(--svg-stroke-width--2px, 2px);
  d: path("m31.396 15.596l-4.428-3.321m7.086 2.214l-1.772-3.764m5.314 4.428l.222-5.757");
}
