.m80i8nuvl {
  fill: var(--svg-color--5c9e31, #5c9e31);
  stroke: var(--svg-color--5c9e31, #5c9e31);
  stroke-width: var(--svg-stroke-width--1-8px, 1.8px);
  d: path("M44 11c-.69-.365-2.14-1.036-4-1c-.72.014-4.172.183-6 3c-1.058 1.63-1.045 3.316-1 4c0 0 2.705-3.876 5.896-4.458c2.182-.399 3.456-.458 4.317-.646c.896-.196 1.05-.757.787-.896m-11.88 9.097c-1.297-.862-3.427-2.007-6.256-2.421c-1.291-.19-5.65-.654-9.862 1.938a14 14 0 0 0-2.798 2.274s6.985 2.029 18.916-1.791");
}
