.m9-ejedlc {
  fill: none;
  stroke: var(--svg-color--000, #000);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
  stroke-width: var(--svg-stroke-width--2px, 2px);
  d: path("M16.82 57.883s-2-13 10-13c3.19 2.128 5.925 3.598 9 3.592h-.126c3.074.006 5.808-1.464 9-3.592c12 0 10 13 10 13M31.47 16.638l.001-9.743l3.116 2.651l1.415-3.545L37.47 9.41l2.845-2.515v9.743z");
}
