.m_typy8mu {
  stroke: var(--svg-color--092f63, #092f63);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M5.625 1.813L9 3.5h4.5V2.25L9 .5zm5.828 9.753L9 15.5l-2.453-3.934L9 11zm2.658 9.202l7.268-7.268l2.121 2.122l-7.268 7.267l-2.732.611z");
}
