.m_v8qk4-a {
  stroke: currentColor;
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M22.871 37a2 2 0 0 1 2-2h10V25a2 2 0 0 1 4 0v10h10a2 2 0 0 1 0 4h-10v10a2 2 0 0 1-4 0V39h-10a2 2 0 0 1-2-2");
}
