.ma44741zb {
  fill: none;
  stroke: var(--svg-color--a8a8a8, #a8a8a8);
  stroke-width: var(--svg-stroke-width--1-1px, 1.1px);
  d: path("M220.3 220.8c4.4 4.9 4.7 4.9 4.7 4.9m28-5c.7 1.7 2.1 5.3 3.8 5.5m31.2-4.6s1.3 3.8 3.3 4.3");
}
