.made90_fb {
  fill: none;
  stroke: var(--svg-color--000, #000);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: var(--svg-stroke-width--2-225px, 2.225px);
  d: path("M63.662 32.064v22.253H8.027V32.064m0 0s9.135-2.571 11.127-4.451m33.381 0c2.119 2.118 11.127 4.45 11.127 4.45");
}
