.maun0ab2j {
  fill: var(--svg-color--000, #000);
  fill-rule: nonzero;
  d: path("M134.363 97.979c-.126.199-.288.369-.45.539c-.022.022.015.096 0 .111c.162-.17.325-.347.458-.546c.015-.023-.015-.097-.008-.104m.229.229a4 4 0 0 0-.28.517c-.008.03.015.089.007.103c.074-.177.17-.347.273-.517c.015-.022-.007-.096 0-.103");
}
