.mc-f51v8p {
  stroke: var(--svg-color--191919, #191919);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M7.957 6.754a48 48 0 0 1-2.695.09h-.898a2.695 2.695 0 0 0-2.695 2.695v1.796a2.695 2.695 0 0 0 2.695 2.695h.898c.965 0 1.857.037 2.695.09z");
}
