.mca-499ju {
  fill: var(--svg-color--389f5d, #389f5d);
  fill-rule: evenodd;
  d: path("M6.407 9.6h-.354v.365h.354zm.566 0H6.62v.365h.354zm.213 0h.354v.365h-.354zm-.779 3.646h-.354v.364h.354zm.212 0h.354v.364H6.62zm.92 0h-.353v.364h.354zm-3.544-.808v-.354h.364v.354zm0-.937v.354h.364v-.354zm0-.23v-.353h.364v.354zm5.097.813v.354h.365v-.354zm0-.229v-.354h.365v.354zm0-.937v.354h.365v-.354z");
}
