.mcjwwtbdm {
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("m17.875 16l2.469 7.11c.361 1.04 1.529 2.108 2.596 2.375l4.12 1.03a29 29 0 0 0 3.934.638l9.012.694c1.096.084 2.63.79 3.408 1.567l.172.172c.777.777 1.708 2.265 2.066 3.305l.766 2.22a63 63 0 0 0 1.447 3.726L50.75 45.5");
}
