.mdaycg09e {
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M37.809 65.827c0-2.388-1.079-4.323-2.41-4.323s-2.409 1.935-2.409 4.322zM28.448 8.932l7.399-2.55a3.787 3.787 0 0 1 4.812 2.344h0a3.787 3.787 0 0 1-2.345 4.812l-7.4 2.55z");
}
