.mdbf6tb8v {
  fill: var(--svg-color--cccccf, #cccccf);
  fill-rule: evenodd;
  stroke: var(--svg-color--000, #000);
  stroke-width: var(--svg-stroke-width--0-1px, 0.1px);
  d: path("M227.2 237.8c2 1.6 10-5 8.6-7.6c-2.1-2.4-10.8 6.1-8.6 7.6z");
}
