.mdi54bckg {
  stroke: var(--svg-color--092f63, #092f63);
  stroke-linejoin: round;
  stroke-miterlimit: 10;
  d: path("M9.555 9.012L4.664 6.62L.75 10.977h5.365l.504 7.38l11.738 4.892zm0 0l9.287-8.26l-3.961 16.872");
}
