.meicvib_z {
  fill: none;
  stroke: var(--svg-color--000, #000);
  stroke-width: var(--svg-stroke-width--0-3px, 0.3px);
  d: path("M327.4 229.2h-.7a.3.3 0 0 1-.4-.2l.3-.3l.7-.1l.7-.2q.3 0 .4.3q0 .3-.3.4h-.7");
}
