.metxrjfuz {
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M30.675 30.061s3.923-3.944 5.325 1.352m5.325-1.352S37.402 26.117 36 31.413m8.122-4.336s2.659-4.887-2.817-4.717m.02 20.54S37.402 46.846 36 41.55m6.312-5.049s3.96-3.908 5.313 1.4M30.675 42.9s3.923 3.945 5.325-1.35");
}
