.mhpt28rhc {
  fill: var(--svg-color--56c6f5, #56c6f5);
  stroke: var(--svg-color--e31d1c, #e31d1c);
  d: path("m7.925 8.58l.08.014l.082-.013c.993-.163 1.647-.144 2.026-.017c.436.146.918.105 1.426-.066a9.3 9.3 0 0 0-.244 2.034c0 .727.14 1.314.268 1.829l.01.041c.126.505.23.923.23 1.402c0 .431-.144.657-.343.799c-.231.163-.617.268-1.188.268c-.806 0-1.56.217-2.255.641l-.011-.008l-.011.008a4.25 4.25 0 0 0-2.255-.642c-.571 0-.957-.104-1.188-.267c-.2-.142-.343-.368-.343-.799c0-.48.104-.897.23-1.402q.003-.02.01-.041c.127-.515.268-1.102.268-1.83q-.001-.956-.244-2.033c.507.171.99.212 1.426.066c.38-.127 1.033-.146 2.026.017Z");
}
