.mhyx3iblg {
  fill: var(--svg-color--e3e3e3, #e3e3e3);
  stroke: var(--svg-color--191919, #191919);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("m12.812 9.739l.282.926a.634.634 0 0 0 .749.434l.938-.218a.854.854 0 0 1 .813 1.414l-.657.71a.64.64 0 0 0 0 .868l.657.709a.854.854 0 0 1-.813 1.414l-.938-.218a.634.634 0 0 0-.75.434l-.281.926a.848.848 0 0 1-1.626 0l-.283-.926a.635.635 0 0 0-.749-.434l-.938.218a.854.854 0 0 1-.813-1.414l.657-.708a.64.64 0 0 0 0-.869l-.657-.709a.854.854 0 0 1 .813-1.414l.938.218a.634.634 0 0 0 .75-.435l.282-.925a.848.848 0 0 1 1.626-.001");
}
