.mi6ikdbtp {
  fill: none;
  stroke: var(--svg-color--000, #000);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: var(--svg-stroke-width--2px, 2px);
  d: path("m36 38l4 3zv7zl-4 3m4-3v-7l3-4m-3 4l-3-4m3 5.5h6M36 36h6m-12-3.5h6M30 36h6");
}
