.mi86nwb7v {
  fill: var(--svg-color--ffef00, #FFEF00);
  fill-rule: nonzero;
  d: path("M178.397 73.676c3.858-5.918 15.284-7.545 15.994-14.735c-4.767 5.688-14.604 5.419-18.956 10.658s-.896 9.995 2.962 4.077");
}
