.mi9zrjb8e {
  stroke: var(--svg-color--092f63, #092f63);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M1.71 9.795v10.78h20.58V9.795m-12.74 0v10.78m-4.9-1.96v-6.86m1.96 6.86v-6.86m16.66-1.96H.73L12 3.425z");
}
