.miq0f90yo {
  fill: var(--svg-color--fff, #fff);
  stroke: var(--svg-color--45413c, #45413c);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M34.05 20a1.11 1.11 0 0 0-1.56-.12l-2.29 1.94a1.1 1.1 0 1 0 1.43 1.68l2.29-1.95a1.11 1.11 0 0 0 .13-1.55M30 15.55a1.11 1.11 0 0 0-1.56-.12l-2.29 1.95a1.11 1.11 0 1 0 1.43 1.69l2.3-2a1.11 1.11 0 0 0 .12-1.52M38.06 24a1.1 1.1 0 0 0-1.55-.12l-1.86 1.58a1.11 1.11 0 0 0 1.43 1.69l1.86-1.59a1.11 1.11 0 0 0 .12-1.56");
}
