.mj2xv31vp {
  fill: var(--svg-color--d7e0ff, #d7e0ff);
  fill-rule: evenodd;
  d: path("M9.024 2H1a.5.5 0 0 0-.5.5v8a.5.5 0 0 0 .5.5h12a.5.5 0 0 0 .5-.5v-8A.5.5 0 0 0 13 2h-2l.202.518h1.71a.61.61 0 0 1 .56.39a.59.59 0 0 1-.16.61l-1.51 1.34l.64 1.28a.58.58 0 0 1-.12.69a.59.59 0 0 1-.7.1l-1.61-.88l-1.61.88a.59.59 0 0 1-.7-.1a.58.58 0 0 1-.12-.69l.64-1.28l-1.51-1.34a.59.59 0 0 1-.16-.65a.61.61 0 0 1 .56-.35h1.71z");
}
