.mj5qy_b2z {
  fill: var(--svg-color--111512, #111512);
  fill-opacity: var(--svg-fill-opacity--0-388, 0.388);
  d: path("M126.782 50.594q-.76.616-.309-.565a.23.246 6.9 0 1 .182-.152q.544-.096.373.388q-.068.181-.246.33z");
}
