.mjjeli3sw {
  fill: none;
  stroke: currentColor;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: var(--svg-stroke-width--1-5px, 1.5px);
  d: path("M8 17h8M3 17h1m8-8v1m6 2.207l.707-.707m-13 .707L5 11.5M20 17h1");
}
