.mjz6s3gph {
  fill: none;
  stroke: var(--svg-color--000, #000);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
  stroke-width: var(--svg-stroke-width--2px, 2px);
  d: path("m27.033 45.049l5.803 8.887l3.197-5.294m9-3.593l-5.804 8.887l-3.196-5.294M53.48 23.795s-2.376 15.416 7.085 15.658V23.795m7.085 0s2.376 15.416-7.085 15.658V23.795m-2.653 15.658h5.48v4.245h-5.48zm4.74 18.616v-14.33h-4v14.32");
}
