.mlr4gujwd {
  fill: var(--svg-color--8fbffa, #8fbffa);
  fill-rule: evenodd;
  d: path("M1.959 9.732a.75.75 0 1 0 0 1.5h3.05c0 .246-.108.582-.305.908c-.23.222-.488.342-.745.342h-2.95a.75.75 0 0 0 0 1.5h11.95a.75.75 0 0 0 .75-.75v-2.535a.75.75 0 0 0-.719-.965z");
}
