.mm5tvubpy {
  fill: var(--svg-color--34541f, #34541F);
  fill-rule: nonzero;
  d: path("M159.998 100.803a11.3 11.3 0 0 0 1.531-1.828c.449-.657.838-1.354 1.186-2.07s.656-1.451.946-2.192q.217-.556.425-1.116l.104-.28q.049-.139.092-.282c.058-.19.111-.382.181-.572l-.001.005c.158-.789.243-1.592.253-2.397s-.053-1.61-.178-2.406a18 18 0 0 0-.541-2.354a25 25 0 0 0-.798-2.282c.311.744.592 1.501.83 2.273c.235.772.425 1.559.554 2.356s.197 1.605.191 2.414a13 13 0 0 1-.244 2.409v.003l-.001.003c-.069.185-.123.377-.182.567q-.044.143-.094.285l-.106.28q-.211.56-.431 1.115a30 30 0 0 1-.958 2.191a16 16 0 0 1-1.199 2.069a11.4 11.4 0 0 1-1.56 1.809");
}
