.mmgrvcb7f {
  fill: currentColor;
  fill-opacity: var(--svg-fill-opacity--0-4, 0.4);
  d: path("M12 1C18.0751 1 23 5.9249 23 12C23 13.0046 21.685 13.3818 21.1523 12.5303C20.294 11.157 18.706 11.157 17.8477 12.5303C17.4559 13.1565 16.5441 13.1565 16.1523 12.5303C15.885 12.1027 15.5462 11.8078 15.1816 11.6465L6.19238 2.65625C7.87782 1.60647 9.86813 1 12 1Z");
  stroke: none;
}
