.mmh2udtee {
  fill: var(--svg-color--2859c5, #2859c5);
  fill-rule: evenodd;
  d: path("M5.97 3a.625.625 0 0 0-1.25 0v4.5a.625.625 0 1 0 1.25 0zm3.31 0a.625.625 0 1 0-1.25 0v4.5a.625.625 0 0 0 1.25 0z");
}
