.mmi8l9zda {
  fill: var(--svg-color--743f4c, #743f4c);
  fill-opacity: var(--svg-fill-opacity--0-212, 0.212);
  d: path("M120.293 59.543q-.198.535-.535.996q-.168-.041-.201-.2q.422-.739.562-.855q.279-.224.174.06z");
}
