.mo1pfhmuv {
  fill: var(--svg-color--f2c94c, #f2c94c);
  fill-rule: evenodd;
  d: path("M40.26 25.683c-.38 0-.76.21-.927.628l-2.977 7.41a1 1 0 0 1-.86.626l-7.968.54c-.9.061-1.265 1.187-.573 1.765l6.128 5.12a1 1 0 0 1 .329 1.012l-1.949 7.745c-.22.874.739 1.57 1.502 1.091l6.764-4.246a1 1 0 0 1 .532-.153z");
}
