.mo2xx6bpc {
  stroke: currentColor;
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M15 23a6 6 0 0 0-6 6v28a6 6 0 0 0 6 6h44a6 6 0 0 0 6-6M15 23v28a6 6 0 0 0 6 6h44M15 23a6 6 0 0 1 6-6h44a6 6 0 0 1 6 6v28a6 6 0 0 1-6 6m-42-6a2 2 0 0 1-2-2v-5.636L36 27l15.783 17.217L57 39l8 8v2a2 2 0 0 1-2 2zm31.67-23a4.33 4.33 0 1 1 8.66 0a4.33 4.33 0 0 1-8.66 0");
}
