.moakk3b1l {
  fill: none;
  stroke: var(--svg-color--000, #000);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: var(--svg-stroke-width--2px, 2px);
  d: path("M36 6C19.43 6 6 19.43 6 36s13.43 30 30 30s30-13.43 30-30S52.57 6 36 6");
}
