.mpagqx_9v {
  fill-opacity: var(--svg-fill-opacity--0-75, 0.75);
  fill-rule: evenodd;
  d: path("M251.2 337h225c1 0 1.9.8 1.9 1.8v22c0 1-.8 1.8-1.9 1.8h-225c-1 0-1.9-.8-1.9-1.8v-22c0-1 .9-1.8 1.9-1.8");
}
