.mqs1aq2hm {
  fill: none;
  stroke: currentColor;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: var(--svg-stroke-width--2px, 2px);
  d: path("m8 11l2 2m6-2l-2 2m-2 9q8-4 8-12t-8-8t-8 8t8 12");
}
