.mqvchh6fi {
  stroke-linecap: round;
  stroke-width: var(--svg-stroke-width--1-5px, 1.5px);
  d: path("M2 10c.878 0 1.73.113 2.541.326M2 6c1.866 0 3.647.365 5.275 1.028M2 2c3.175 0 6.159.822 8.749 2.265");
}
