.mr_c8lwmj {
  fill: var(--svg-color--d7e0ff, #d7e0ff);
  fill-rule: evenodd;
  d: path("M1 2.5h12a.5.5 0 0 1 .5.5v8a.5.5 0 0 1-.5.5H1a.5.5 0 0 1-.5-.5V3a.5.5 0 0 1 .5-.5m2 2h5.5A.5.5 0 0 1 9 5v4a.5.5 0 0 1-.5.5H3a.5.5 0 0 1-.5-.5V5a.5.5 0 0 1 .5-.5");
}
