.mrr-hzq5e {
  fill: var(--svg-color--ffe500, #ffe500);
  stroke: var(--svg-color--45413c, #45413c);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("m23.94 6.69l-1.13.6a.88.88 0 0 1-1.28-.94l.21-1.26l-.91-.89a.88.88 0 0 1 .49-1.51l1.26-.19l.57-1.14a.89.89 0 0 1 1.59 0l.57 1.14l1.26.19a.88.88 0 0 1 .49 1.51l-.91.89l.21 1.26a.88.88 0 0 1-1.28.94Z");
}
