.ms8xus4ov {
  stroke: var(--svg-color--0b50a0, #0b50a0);
  stroke-width: var(--svg-stroke-width--0-1px, 0.1px);
  d: path("M21.058 14.722V11.05h7.802v3.672c0 2.352-.91 3.91-1.835 4.88a6.3 6.3 0 0 1-1.292 1.04c-.18.108-.334.186-.447.237a2 2 0 0 1-.186.07l-.011-.002l-.042-.013a2 2 0 0 1-.144-.056a5 5 0 0 1-.478-.237a6.8 6.8 0 0 1-1.39-1.041c-.997-.97-1.977-2.527-1.977-4.878Z");
}
