.msflncgxt {
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M12 37v8c0 1.1-.163 2.885-.363 3.967l-1.305 7.066c-.2 1.082.312 1.967 1.137 1.967s1.76-.861 2.08-1.914l1.87-6.172c.32-1.053.73-2.802.91-3.887L17 42m6.067-22.185c-.841.317-1.79.989-2.931 2.185");
}
