.mszv8bbmv {
  fill: var(--svg-color--00acd3, #00acd3);
  fill-rule: evenodd;
  d: path("M50.9 52.7h9.8v9.8h-9.8zm.8.8h.8v8.1h-.8zm1.5 0h.8v8.1h-.8zm1.5 0h.8v8.1h-.8zm1.4 0h.8v8.1h-.8zm1.5 0h.8v8.1h-.8zm1.5 0h.8v8.1h-.8z");
}
