.mtaku8dyr {
  fill: currentColor;
  fill-opacity: var(--svg-fill-opacity--0-4, 0.4);
  d: path("M3 16.3L6.0071 13.2929C6.1946 13.1054 6.449 13 6.7142 13L9.5 13C10.3284 13 11 13.6716 11 14.5L11.17 14.17L14.17 11.17C14.9511 10.3889 16.2189 10.3889 17 11.17C17.7811 11.9511 17.7811 13.2189 17 14L12.2929 18.7071C12.1054 18.8946 11.851 19 11.5858 19L5 19L3 21L3 16.3Z");
  stroke: none;
}
