.mu0ml18bv {
  fill: var(--svg-color--6b6b6b, #6b6b6b);
  stroke: var(--svg-color--191919, #191919);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M15.208 9.25a3.209 3.209 0 1 0-4.605 2.886L9.25 17.958h5.5l-1.355-5.822a3.21 3.21 0 0 0 1.813-2.886");
}
