.mu4kw2okb {
  stroke: var(--svg-color--191919, #191919);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M4.826 11.522H23v10.522a.956.956 0 0 1-.957.956H5.783a.957.957 0 0 1-.957-.956zM1 2.913L8.645 7.41a.96.96 0 0 0 .97 0l7.646-4.496");
}
