.mvtctyr7t {
  fill: none;
  stroke: var(--svg-color--45413c, #45413c);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M13.58 17.24a3.86 3.86 0 1 0 3.86-3.86a3.85 3.85 0 0 0-3.86 3.86");
}
