.mwdva9tyh {
  fill: var(--svg-color--6dd627, #6dd627);
  stroke: var(--svg-color--45413c, #45413c);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("m21.44 18.3l1.56 1a7.13 7.13 0 0 1 2.42 2.72a44 44 0 0 0 4.51 7.55a147 147 0 0 0 11.3 12l1.41-1.42a151 151 0 0 1-10.59-11.24a39.5 39.5 0 0 1-3.86-6.13a7.1 7.1 0 0 1-.53-5.86Z");
}
