.mwouvwb7y {
  fill: var(--svg-color--ffd83d, #FFD83D);
  fill-rule: nonzero;
  d: path("m65.413 37.186l-.552 18.75H45.835c-2.34-4.551-4.274-8.416-4.274-13.649c0-4.38 3.445-7.859 8.41-7.859c5.257.001 11.032 1.772 15.442 2.758");
}
