.mwyoejbys {
  fill: currentColor;
  fill-rule: evenodd;
  d: path("m19.389 7.507l-7.106-4.014a.58.58 0 0 0-.566 0L4.611 7.507a.55.55 0 0 0-.282.48v8.027c0 .197.107.38.282.479l7.107 4.014a.58.58 0 0 0 .565 0l7.106-4.014a.55.55 0 0 0 .282-.48V7.987a.55.55 0 0 0-.282-.479M12.497 3.13a1.01 1.01 0 0 0-.994 0L4.397 7.144a.97.97 0 0 0-.497.842v8.028c0 .347.19.668.497.842l7.106 4.014c.308.173.686.173.994 0l7.106-4.014a.97.97 0 0 0 .497-.842V7.986a.97.97 0 0 0-.497-.842z");
}
