.mwzloyzep {
  fill: none;
  stroke: currentColor;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: var(--svg-stroke-width--2px, 2px);
  d: path("M17.657 17.9L6.343 6.585m0 0v8.485m0-8.485h8.485");
}
