.mxv273bqu {
  fill: var(--svg-color--eb5757, #eb5757);
  fill-rule: evenodd;
  d: path("M23.868 13.292a2.024 2.024 0 0 0-2.263 1.909l-1.328 29.214a1.964 1.964 0 0 0 1.467 2.001a73.9 73.9 0 0 0 36.513 0a1.964 1.964 0 0 0 1.467-2.001l-1.328-29.214a2.024 2.024 0 0 0-2.263-1.909a139.4 139.4 0 0 1-32.266 0");
}
