.myht4ebzs {
  fill: currentColor;
  stroke-linejoin: round;
  d: path("M2 14.5A4.5 4.5 0 0 0 6.5 19h12q.239 0 .469-.031L7.05 7.05a6.96 6.96 0 0 0-1.81 3.129A4.5 4.5 0 0 0 2 14.5");
  opacity: var(--svg-opacity--0-16, 0.16);
}
