.mz7103bpa {
  fill: none;
  stroke: var(--svg-color--45413c, #45413c);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M30.1 11a.49.49 0 0 1-.26-.69c.7-1.28 2.55-4.45 3.73-4.48s2.23 4.89 1.73 8.72a.51.51 0 0 1-.92.2A9.8 9.8 0 0 0 30.1 11");
}
