.mz7dhq-ba {
  fill: none;
  stroke: var(--svg-color--000, #000);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
  stroke-width: var(--svg-stroke-width--2px, 2px);
  d: path("M46.257 41.119c2.697.848 5.407.141 8.16-2.12c3.291 0 6.583 2.667 6.583 5.956V60m-50 0V44.955C11 41.665 14.292 39 17.584 39c2.682 2.253 5.364 2.963 8.075 2.128");
}
