.mzmqlybdu {
  stroke: var(--svg-color--cfc7cd, #CFC7CD);
  stroke-width: var(--svg-stroke-width--0-018px, 0.018px);
  d: path("M150.552 109.399s-.288-.074-.384-.17c0 0 .015-.022 0-.037s-.007 0-.007 0s.052.029.096.022c0 0-.008-.03-.03-.052m.266.03s-.148.007-.244-.008");
}
