.t-4zvlaym {
  fill: var(--svg-color--00209f, #00209F);
  fill-rule: nonzero;
  d: path("M148.799 73.066c-.11-.269-.134-2.08-.11-2.361c.037-.489.881-2.887 1.052-3.169c.184-.281.135-.343.208-.514l.245-.33c.184.306.318.783.355 1.163c0 0-.159 1.15-.294 1.664c-.122.513-.453 1.223-.514 1.37c-.159.355-.147.685-.049.71z");
}
