.t-bfk7ioi {
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M11 22c-4.418 0-8-1.343-8-3V5m16 0v7m0 4.674l-1.174-1.487C17.2 14.396 16.888 14 16.5 14s-.7.396-1.326 1.187L14 16.674m2.5-2.587V22");
}
