.t-c6ir8cq {
  fill: none;
  stroke: var(--svg-color--000, #000);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
  stroke-width: var(--svg-stroke-width--2px, 2px);
  d: path("M32.688 49.688S33 54 31 57m11-2l1.813 7.5M38 48s4 18 1 20m-2-10v4m-1-14s-1 8-2 10s1 8 1 8");
}
