.t-ialtlgv {
  fill: var(--svg-color--2859c5, #2859c5);
  fill-rule: evenodd;
  d: path("M11.443.853a.5.5 0 0 0-.831-.207L9.09 2.168a2.5 2.5 0 0 0-.665 2.345l-1.96 1.961a.75.75 0 0 0 1.06 1.061l1.96-1.96a2.5 2.5 0 0 0 2.347-.665l1.521-1.522a.5.5 0 0 0-.206-.831l-1.302-.402z");
}
