.t0nm9rb-s {
  fill: var(--svg-color--000, #000);
  fill-rule: nonzero;
  d: path("M125.412 79.883c.204 0 .407-.162.407-.367c0-.203-.203-.325-.407-.325c-.244 0-.447.122-.447.325c-.001.204.203.367.447.367");
}
