.t2_sb_bzi {
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: var(--svg-stroke-width--1-5px, 1.5px);
  d: path("M19.07 6.34c.15.15.15.4 0 .56c-.15.15-.4.15-.56 0s-.15-.4 0-.56s.41-.16.56 0");
}
