.t2qalre2p {
  stroke: var(--svg-color--000, #000);
  stroke-width: var(--svg-stroke-width--0-088px, 0.088px);
  d: path("M144.661 71.138s-4.075 4.186-3.351 4.437c.731.258 5.359-5.293 5.359-5.293l-1.078-.096z");
}
