.t317bhbkd {
  stroke: var(--svg-color--191919, #191919);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M19.783 21.869A2.1 2.1 0 0 1 17.93 23H6.069a2.102 2.102 0 0 1-1.717-3.3l2.472-4.033h10.35l2.473 4.033a2.1 2.1 0 0 1 .136 2.169");
}
