.t3aqp5bet {
  fill: currentColor;
  fill-opacity: var(--svg-fill-opacity--0-25, 0.25);
  d: path("M62 26h12v12H62zm0 32h12v12H62zm-40 0h12v12H22zM6 10h12v12H6zm40 0h12v12H46zm0 32h12v12H46zM6 42h12v12H6z");
}
