.t3bkqjt4u {
  stroke: var(--svg-color--4147d5, #4147d5);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M12.32 6.536c.638 1.544 1.197 3.545 1.18 4.643c-.024 1.48-.928 2.32-1.856 2.32c-.843-.395-1.859-2.32-2.786-2.32H5.142c-.927 0-1.943 1.925-2.786 2.32c-.928 0-1.832-.84-1.856-2.32c-.018-1.098.542-3.099 1.18-4.643");
}
