.t3zt54bff {
  fill: var(--svg-color--6bafff, #6bafff);
  fill-rule: evenodd;
  d: path("M17.827 37.959c-.57-.316-1.041-.82-1.22-1.538a.873.873 0 0 1 1.33-.938c.308.205.516.23.634.218a.57.57 0 0 0 .366-.2c.28-.297.485-.906.38-1.582c-.16-1.045-.467-1.5-.914-2.16q-.306-.445-.582-.91l3.123-.744l3.054.436l.625-.09a4.8 4.8 0 0 1 .52 2.19c0 2.808-1.569 4.56-3.341 5.318z");
}
