.t40mbdbzb {
  fill: none;
  stroke: var(--svg-color--45413c, #45413c);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M26.11 7.55h-4.22C9.67 7.55 2.09 20.49 9 30l8.78 11.68a7.67 7.67 0 0 0 6.21 3a7.67 7.67 0 0 0 6.21-3L39 30c6.91-9.51-.67-22.45-12.89-22.45");
}
