.t42_852gl {
  stroke: var(--svg-color--191919, #191919);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M4.183 7.657q.228-1.672.641-3.31h14.348q.413 1.638.64 3.31c-.793 1.473-4.112 2.908-7.814 2.908S4.977 9.14 4.183 7.657m15.811 6.945c-.765 1.511-4.056 2.659-7.996 2.659s-7.23-1.138-7.996-2.66a29 29 0 0 1-.077-3.988c.747 1.52 4.123 2.822 8.073 2.822c3.932 0 7.299-1.292 8.083-2.812a30.5 30.5 0 0 1-.087 3.979");
}
