.t4gz0bb-x {
  stroke: var(--svg-color--043359, #043359);
  stroke-width: var(--svg-stroke-width--0-049px, 0.049px);
  d: path("M135.257 88.931c0 .184.294.698.477.93c.086.171.159.355.257.526c.134.269.195.306.355.551c.098.135.281.269.416.343c.343.098 1.664-1.395 2.055-1.529");
}
