.t4lk-fbjj {
  fill: var(--svg-color--fff, #FFF);
  fill-rule: nonzero;
  stroke: var(--svg-color--000, #000);
  stroke-width: var(--svg-stroke-width--0-156px, 0.156px);
  d: path("M99.752 74.66c0-.396.34-.72.764-.72c.42 0 .76.324.76.72c0 .4-.34.72-.76.72c-.424 0-.764-.32-.764-.72m.152-1.52c0-.32.276-.576.612-.576c.332 0 .604.256.604.576s-.272.576-.604.576c-.336 0-.612-.256-.612-.576m.172-1.372c0-.228.196-.412.44-.412c.24 0 .436.184.436.412c0 .232-.196.42-.436.42a.43.43 0 0 1-.44-.42m.088-1.196c0-.184.156-.332.352-.332a.34.34 0 0 1 .348.332a.34.34 0 0 1-.348.332a.34.34 0 0 1-.352-.332");
}
