.t5oh21qle {
  fill: currentColor;
  fill-opacity: var(--svg-fill-opacity--0-25, 0.25);
  d: path("M20.5 59.504a.974.974 0 0 1-.239-1.382l3.73-5.188a22.172 22.172 0 1 0 22.063-38.215l2.63-5.827a.974.974 0 0 1 1.315-.484a29.56 29.56 0 0 1 16.245 30.379A29.564 29.564 0 0 1 20.5 59.504");
}
