.t5zm-8h2y {
  fill: var(--svg-color--dcd9d8, #dcd9d8);
  fill-rule: evenodd;
  d: path("M96.37 52.705s4.007-9.882 20.033-14.69s.801-3.473.801-3.473l-17.36 6.678l-6.678 6.677l-2.938 5.343zm-8.012 23.237s-5.609-18.697 15.759-21.367l-.802-3.206l-14.69 3.473l-4.273 13.889l1.069 9.08z");
}
