.t6peypblt {
  stroke: currentColor;
  stroke-linecap: square;
  stroke-width: var(--svg-stroke-width--3px, 3px);
  d: path("M39.167 12.233a1.85 1.85 0 0 1 1.414 0v0c.453.188.812.548 1 1v0c.187.453.187.962 0 1.415v0a1.85 1.85 0 0 1-1 1v0a1.85 1.85 0 0 1-1.414 0v0a1.85 1.85 0 0 1-1-1v0a1.85 1.85 0 0 1 0-1.415v0a1.85 1.85 0 0 1 1-1z");
}
