.t6vlr7cgx {
  fill: var(--svg-color--ff6dc6, #ff6dc6);
  fill-rule: evenodd;
  d: path("M14.932 13.484c.118.098.276.15.457.15c.247 0 .442-.074.575-.222a.75.75 0 0 0 .18-.53v-.066c.21.088.459.242.666.51c.06.077.17.09.246.03a.175.175 0 0 0 .03-.245a2 2 0 0 0-.943-.67v-.687h.864a.175.175 0 0 0 0-.35h-.864v-.594a.175.175 0 0 0-.35 0v1.547a1.4 1.4 0 0 0-.675.048a.645.645 0 0 0-.394.72a.6.6 0 0 0 .208.36m.308-.751a.9.9 0 0 1 .302-.045q.116 0 .253.023v.192a.4.4 0 0 1-.09.275q-.098.105-.316.106c-.18 0-.294-.078-.318-.22c-.022-.124.035-.282.169-.331");
}
