.t78m6z3fh {
  fill: none;
  stroke: var(--svg-color--000, #000);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: var(--svg-stroke-width--2px, 2px);
  d: path("M26.388 24.313c0-2.369 1.18-4.307 2.621-4.307h13.982c1.442 0 2.621 1.938 2.621 4.307h0M19.598 38.337l2.05-6.963c1.128-3.83 4.819-6.964 8.202-6.964H36m16.402 13.927l-2.05-6.963c-1.129-3.83-4.819-6.964-8.202-6.964H36m.262 28.08H19.913a2.946 2.946 0 0 1-2.926-2.947v-7.038c0-1.596.89-4.075 2.492-4.075");
}
