.t7ot3meuc {
  fill: currentColor;
  fill-opacity: var(--svg-fill-opacity--0-25, 0.25);
  d: path("M6 8a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h4.229v32H6a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2v-4h40v4a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V58a2 2 0 0 0-2-2h-4.229V24H74a2 2 0 0 0 2-2V10a2 2 0 0 0-2-2H62a2 2 0 0 0-2 2v4H20v-4a2 2 0 0 0-2-2zm8.229 48V24H18a2 2 0 0 0 2-2v-4h40v4a2 2 0 0 0 2 2h3.771v32H62a2 2 0 0 0-2 2v4H20v-4a2 2 0 0 0-2-2zM16 60v8H8v-8zm48 8h8v-8h-8zm0-48v-8h8v8zm-48-8H8v8h8z");
}
