.t8gfeydty {
  stroke: currentColor;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: var(--svg-stroke-width--1-5px, 1.5px);
  d: path("M18.5 7h-2c-.466 0-.699 0-.883.076a1 1 0 0 0-.54.541C15 7.801 15 8.034 15 8.5V12h3.5a2.5 2.5 0 0 0 0-5m1 5H15v3.6c0 .372 0 .558.049.709a1 1 0 0 0 .642.642c.15.049.337.049.709.049h3.1a2.5 2.5 0 0 0 0-5");
}
