.t9u8v2dvt {
  stroke: var(--svg-color--00034a, #00034a);
  stroke-linecap: round;
  stroke-miterlimit: 10;
  d: path("M27.014 27.664a1.59 1.59 0 0 0 1.78.805a5 5 0 0 0 .68-.202c.23.45.48.9.718 1.322");
}
