.tagoe6bqj {
  fill: var(--svg-color--fff, #fff);
  stroke: var(--svg-color--45413c, #45413c);
  d: path("M24 9.88A43.6 43.6 0 0 0 16.28 8v27.61A44.4 44.4 0 0 1 24 37.46a43.3 43.3 0 0 0 7.74 1.86V11.73A44 44 0 0 1 24 9.88Z");
}
