.tb62sjbsx {
  width: 128px;
  height: 304px;
  x: 112px;
  y: 160px;
  fill: none;
  stroke: currentColor;
  stroke-linejoin: round;
  stroke-width: var(--svg-stroke-width--32px, 32px);
  rx: 16px;
  ry: 16px;
}
