.tegdx1bdh {
  fill: currentColor;
  fill-opacity: var(--svg-fill-opacity--0-25, 0.25);
  fill-rule: evenodd;
  d: path("M34.506 32.743a2 2 0 0 0-3.654 1.627l4.51 10.128a7.196 7.196 0 1 0 3.654-1.627zM37.08 51.3a3.196 3.196 0 1 1 5.84-2.6a3.196 3.196 0 0 1-5.84 2.6");
}
