.temtkabcj {
  fill: var(--svg-color--ffbd03, #FFBD03);
  fill-rule: nonzero;
  stroke: var(--svg-color--000, #000);
  stroke-width: var(--svg-stroke-width--0-15px, 0.15px);
  d: path("M228.793 114.185s-1.991-.017-2.241-.302a.745.745 0 0 1 .063-1.073c.244-.219.819-.462 1.194-.394c.375.069.851.164.885.569c.029.343-1.136.588-1.136.588s1.485-.274 1.713.014c.254.321.415.795.081 1.215c-.247.311-1.849-.1-1.849-.1s1.386.258 1.192.9c-.108.356-.831.506-1.349.421c-.519-.086-.983-.387-1.087-.888c-.105-.509.146-.907.544-.95c.511-.055 1.99 0 1.99 0zm-6.608.052s1.989.062 2.25-.213a.745.745 0 0 0-.022-1.075c-.236-.228-.802-.493-1.178-.44c-.377.053-.857.131-.907.534c-.042.341 1.113.632 1.113.632s-1.473-.332-1.713-.053c-.266.311-.445.778-.127 1.211c.236.32 1.852-.027 1.852-.027s-1.395.203-1.226.853c.094.36.811.538 1.332.473c.522-.065.997-.348 1.12-.845c.125-.504-.112-.912-.507-.97c-.508-.076-1.987-.08-1.987-.08z");
}
