.tet0_objy {
  fill: var(--svg-color--fff, #fff);
  fill-rule: evenodd;
  d: path("M159.946 192.801c-11.76 0-22.784-3.152-32.271-8.659a64.39 64.39 0 0 1-71.036-4.332a64.4 64.4 0 0 1-25.015-42.483a64.39 64.39 0 0 1 54.869-72.71a64.4 64.4 0 0 1 41.186 8.066c9.487-5.504 20.509-8.656 32.267-8.656c35.561 0 64.387 28.826 64.387 64.387s-28.826 64.387-64.387 64.387m-43.049-112.27l.02-.016a52.501 52.501 0 1 0 24.542 22.661a52.7 52.7 0 0 0-24.562-22.644");
}
