.tf6i70b4y {
  fill: currentColor;
  fill-opacity: var(--svg-fill-opacity--0-16, 0.16);
  d: path("M20 12H4v8.4A1.6 1.6 0 0 0 5.6 22h.8A1.6 1.6 0 0 0 8 20.4V19h8v1.4a1.6 1.6 0 0 0 1.6 1.6h.8a1.6 1.6 0 0 0 1.6-1.6z");
}
