.tfstd71sb {
  stroke: var(--svg-color--191919, #191919);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M12.917 14.292s1.833 2.75 4.583 2.75a5.042 5.042 0 0 0 0-10.084c-4.583 0-6.416 10.084-11 10.084a5.042 5.042 0 0 1 0-10.084c2.75 0 4.125 3.209 4.125 3.209");
}
