.tfw7pcc2f {
  fill: none;
  stroke: var(--svg-color--45413c, #45413c);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M39 22.43a7.14 7.14 0 0 0-2-2.58v-1.17a12.29 12.29 0 0 0-5.69-9.85c-2 1.73-5.62 5.64-5.62 11c0 7.36 6.13 8.1 9.71 6.29a7.2 7.2 0 0 0 3.6-3.69");
}
