.th2d8e65k {
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M17.236 40.316c-3.2-3.576-4.98-8.2-5-13c0-8.319 5.679-15 14-15h9m-18 28l15 19c2.21 2.8 5.811 1.084 5-1l-7-18h4.389m6.823 0h13a3.53 3.53 0 1 0 0-7h-13a3.786 3.786 0 0 0-4 3.5a3.786 3.786 0 0 0 4 3.5m.857-21.336h7a3.53 3.53 0 1 0 0-7h-7a3.786 3.786 0 0 0-4 3.5a3.786 3.786 0 0 0 4 3.5m-5.069 14h19q.467.062.934 0a3.53 3.53 0 1 0-.934-7h-19a3.786 3.786 0 0 0-4 3.5a3.786 3.786 0 0 0 4 3.5");
}
