.th3frzmbn {
  fill: currentColor;
  fill-rule: evenodd;
  d: path("M16.717 10.893a.15.15 0 0 0 .047-.11v-2.33a.16.16 0 0 0-.159-.159h-2.33a.16.16 0 0 0-.158.159v2.33a.16.16 0 0 0 .159.158h2.33a.16.16 0 0 0 .11-.048m-.493-.56a.1.1 0 0 0 .01-.054V8.956a.127.127 0 0 0-.126-.133h-1.329a.13.13 0 0 0-.122.078a.1.1 0 0 0-.01.05v1.328a.12.12 0 0 0 .035.094a.13.13 0 0 0 .092.039h1.329a.13.13 0 0 0 .121-.08");
}
