.thaq9qlqs {
  fill: var(--svg-color--2859c5, #2859c5);
  fill-rule: evenodd;
  d: path("M5.63.709C4.539.709 3.47.86 2.477 1l-.485.068A1.54 1.54 0 0 0 .668 2.451l-.062.68C.492 4.362.372 5.666.372 7c0 1.284.111 2.536.22 3.722a2.6 2.6 0 0 0 2.221 2.324c.893.125 1.842.244 2.818.244h.416c1.197 0 2.4-.047 3.573-.123a77 77 0 0 0 1.56-.117l.222-.02a2.285 2.285 0 0 0 2.088-2.152c.092-1.735.127-3.596.136-5.41a1.496 1.496 0 0 0-1.498-1.503h-1.397l-.076-.835l-.062-.68A1.54 1.54 0 0 0 9.27 1.068L8.786 1C7.793.86 6.724.71 5.63.71Z");
}
