.tieasjbql {
  fill: none;
  stroke: currentColor;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: var(--svg-stroke-width--1-5px, 1.5px);
  d: path("M19.5 16.938V18.5m0 0v1.563m0-1.563h-1.25m1.25 0h1.25m1.25 0l-1.084-.361a1.67 1.67 0 0 1-1.055-1.055L19.5 16l-.361 1.084a1.67 1.67 0 0 1-1.055 1.055L17 18.5l1.084.361c.498.166.889.557 1.055 1.055L19.5 21l.361-1.084a1.67 1.67 0 0 1 1.055-1.055zm-8.5-.5H6a2 2 0 0 1-2-2v-.6a2 2 0 0 1 1.317-1.879l3.595-1.307a1 1 0 0 0 .653-.836l.328-3.125c.067-.639-.217-1.25-.526-1.814a3 3 0 1 1 5.266 0c-.309.563-.593 1.175-.526 1.814l.328 3.125a1 1 0 0 0 .652.836L18 13.273M4 21h9.5");
}
