.tiiwvac_b {
  fill: var(--svg-color--2f88ff, #2F88FF);
  stroke: var(--svg-color--000, #000);
  d: path("M44 17H4C4 22.5856 7.57778 27.5028 13 30.3648C16.1558 32.0305 19.9364 33 24 33C28.0636 33 31.8442 32.0305 35 30.3648C40.4222 27.5028 44 22.5856 44 17Z");
}
