.tinvc_33n {
  fill: var(--svg-color--c8b100, #C8B100);
  fill-rule: nonzero;
  d: path("m90.636 77.068l.552.444l.832-1.36c-.9-.552-1.52-1.512-1.52-2.604q0-.185.024-.364c.084-1.736 2.2-3.168 4.88-3.168c1.392 0 2.652.38 3.536.992c.024-.268.048-.5.084-.744c-.972-.568-2.24-.912-3.62-.912c-3.084 0-5.496 1.756-5.612 3.828a4 4 0 0 0-.02.368c0 1.104.504 2.104 1.304 2.796z");
}
