.tip9webvw {
  stroke: var(--svg-color--032f53, #032F53);
  stroke-width: var(--svg-stroke-width--0-049px, 0.049px);
  d: path("M158.952 78.141c.82-.134 1.37-1.235 1.627-2.019c.318-.917.49-2.006.502-2.043");
}
