.tisyxw3xk {
  fill: var(--svg-color--fe6184, #fe6184);
  d: path("M25.863 52.768c4.193-11.613 6.003-21.018 14.009-21.018c12.212 0 15.12 34.31 25.59 30.82c10.468-3.489 9.305-22.098 25.59-22.098c3.1 0 6.265 1.899 9.356 4.971v21.78L63.136 88.74L25.862 67.224z");
  opacity: var(--svg-opacity--0-8, 0.8);
}
