.tj13mnmfk {
  fill: currentColor;
  fill-rule: evenodd;
  d: path("M5.925 12.327c0-.263-.231-.328-.351-.328c-.19 0-.471.222-.591.328c-.23 1.177-.683 3.563-.586 3.739c.078.148.314 0 .6-.18c.143-.088.3-.185.461-.259c.467-.221 1.293-.66 1.408-1.21c.093-.438-.115-.553-.23-.553c.23-.217.701-.743.701-1.094c0-.443-.23-.66-.706-.66c-.374 0-.628.148-.706.217m-.116.66l-.12.554c.12-.037.402-.11.591-.11c.194-.149.517-.462.23-.555c-.276-.083-.585.037-.7.11m-.355 1.542l-.116.549c.277-.074.822-.286.822-.554c0-.258-.47-.106-.706 0z");
}
