.tj80jg_eq {
  fill: none;
  stroke: currentColor;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: var(--svg-stroke-width--2px, 2px);
  d: path("M15.8 21.25A10 10 0 1 1 12 2h9v19l-6.17-6.17a4 4 0 1 1 1.07-3.72");
}
