.tjrrc9l8v {
  fill: var(--svg-color--f48574, #f48574);
  d: path("M129.5 7.5v-1a193 193 0 0 1 32 19a744 744 0 0 1-44-5q-.166-.925-1-1.5a78.7 78.7 0 0 1 12-9q2.248-1.257 1-2.5");
  opacity: var(--svg-opacity--0-983, 0.983);
}
