.tk8xqxb-l {
  fill: var(--svg-color--000, #000);
  fill-rule: nonzero;
  d: path("M203.424 62.736c-.11.329-.306.308-.314.307l-.033-.004l-.031.016c-1.45.823-1.374 2.969-1.37 3.061l.201-.01v-.069c0-.369.066-2.102 1.251-2.793a.4.4 0 0 0 .111-.019c-.256.706-.681 2.028-.681 3.057q-.002.33.064.606c0-.044-.047.142-.047.142l.195.048l.048-.188a2.6 2.6 0 0 1-.058-.571c0-1.431.845-3.49.854-3.514q0-.004.003-.006l-.188-.07c-.003 0-.005.005-.005.007");
}
