.tkjxotb4w {
  fill: var(--svg-color--45413c, #45413c);
  stroke: var(--svg-color--45413c, #45413c);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M16.92 22.25a1.35 1.35 0 1 0 2.7 0a1.35 1.35 0 1 0-2.7 0m11.46 0a1.35 1.35 0 1 0 2.7 0a1.35 1.35 0 1 0-2.7 0");
}
