.tlxfihr8o {
  fill: var(--svg-color--fff, #fff);
  fill-rule: evenodd;
  d: path("M165.3 169.4c-54.9 0-86.8 44.4-86.8 89.1s31.8 89.1 86.8 89.1s86.8-44.4 86.8-89.1s-31.9-89.1-86.8-89.1m0 144c-29.4 0-51-24.4-51-54.9s21.5-54.9 51-54.9s51.1 24.4 51.1 54.9s-21.5 54.9-51.1 54.9m118 29.5h33.8v-94.7c0-27.6 16.9-42.7 38.7-42.7s37.4 12.6 37.4 43.4V343H427V240.8c0-41.9-28-71.6-61.2-71.6c-19.5-.6-37.9 9.2-48.1 25.8h-.6v-21.3h-33.8z");
}
