.tmsrvsbup {
  fill: none;
  stroke: var(--svg-color--000, #000);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: var(--svg-stroke-width--2px, 2px);
  d: path("M42.312 36.501s3.96-3.908 5.313 1.4");
}
