.to8i36f5o {
  fill: var(--svg-color--ffb0ca, #ffb0ca);
  stroke: var(--svg-color--45413c, #45413c);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M18.62 34.1a5.38 5.38 0 1 0 10.76 0a5.38 5.38 0 1 0-10.76 0");
}
