.tpdd3ccum {
  fill: var(--svg-color--feca00, #feca00);
  fill-rule: evenodd;
  d: path("m16.1 8.691l-1.298.903l.458-1.513L14 7.126l1.58-.032l.52-1.494l.52 1.494l1.58.032l-1.26.955l.458 1.513zm-9-.115l-1.082.753l.382-1.261l-1.05-.797l1.317-.026L7.1 6l.433 1.245l1.317.026l-1.05.797l.382 1.26zm18 0l-1.082.753l.382-1.261l-1.05-.797l1.317-.026L25.1 6l.433 1.245l1.317.026l-1.05.797l.381 1.26zm-9-4.8l-1.082.753l.382-1.261l-1.05-.797l1.317-.026L16.1 1.2l.433 1.245l1.317.026l-1.05.797l.381 1.26zm0 10.6l-1.082.753l.382-1.261l-1.05-.796l1.317-.027l.433-1.245l.433 1.245l1.317.027l-1.05.796l.381 1.26z");
}
