.tppkvkb2b {
  fill: var(--svg-color--f1bf31, #F1BF31);
  fill-rule: nonzero;
  d: path("M165.483 73.734c0-.221.08-.424.213-.58a.6.6 0 0 1 .324-.1q.044 0 .09.008c.413.073.885.632.776 1.252a1 1 0 0 1-.055.199a.9.9 0 0 1-1.348-.779");
}
