.tq9o39b5i {
  width: 20px;
  height: 20px;
  x: 14px;
  y: 24px;
  fill: var(--svg-color--2f88ff, #2F88FF);
  stroke: var(--svg-color--000, #000);
  stroke-linecap: round;
  stroke-linejoin: round;
}
