.tqg1rxb0n {
  fill: none;
  stroke: var(--svg-color--45413c, #45413c);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M43 36.23c0 2.64-8.49 5.27-19 5.27S5 39 5 36.23c0-4.07 8.49-7.37 19-7.37s19 3.3 19 7.37");
}
