.tr6reobeb {
  fill: var(--svg-color--ffe500, #ffe500);
  stroke: var(--svg-color--45413c, #45413c);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M32 21.43a6.7 6.7 0 0 0-1.82.24A2.13 2.13 0 0 0 32 23.85a2.12 2.12 0 0 0 1.82-2.18a6.6 6.6 0 0 0-1.82-.24");
}
