.tr_2quljt {
  fill: var(--svg-color--d20014, #D20014);
  fill-rule: nonzero;
  stroke: var(--svg-color--000, #000);
  stroke-width: var(--svg-stroke-width--0-15px, 0.15px);
  d: path("m151.099 95.441l5.09-5.156c2.152.075.445 3.287.336 3.691l-5.426 4.641z");
}
