.trbeb_bfe {
  stroke: var(--svg-color--000, #000);
  stroke-width: var(--svg-stroke-width--0-104px, 0.104px);
  d: path("M131.564 88.48c.012-.08-.028-.148-.084-.156s-.112.052-.12.132c-.012.076.028.148.084.152c.056.008.112-.052.12-.128z");
}
