.trec43gzc {
  fill: var(--svg-color--2f80ed, #2f80ed);
  fill-rule: evenodd;
  d: path("M68 34v-2.16a4 4 0 0 0-1.397-3.037L61 24v20l5.603-4.802A4 4 0 0 0 68 36.16zM19 44l-5.603-4.802A4 4 0 0 1 12 36.16v-4.32a4 4 0 0 1 1.397-3.037L19 24zm9.333-28h23.334l-6.46-5.537a8 8 0 0 0-10.413 0z");
}
