.ts0l7wbam {
  fill: var(--svg-color--87898c, #87898c);
  stroke: var(--svg-color--45413c, #45413c);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M13.18 21.09h1.84v1.96h-1.84zm21.64 1.96h-1.84v-1.96h1.84zm-8.51 14.34h-4.62a.5.5 0 0 0-.5.5v.88a.5.5 0 0 0 .5.5h1.39V45h1.84v-5.73h1.39a.5.5 0 0 0 .5-.5v-.88a.5.5 0 0 0-.5-.5");
}
