.ts62ygwrs {
  fill: none;
  stroke: var(--svg-color--000, #000);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: var(--svg-stroke-width--2px, 2px);
  d: path("m25.464 24.691l-11.318-1.617s6.19 9.735 10.367 8.697m11.506-16.039a20.5 20.5 0 0 1-3.08 5.059m13.635 3.919l11.45-1.636s-6.268 9.849-10.494 8.799M36.019 15.732a20.5 20.5 0 0 0 3.08 5.059m12.119 10.197v13.503M18.09 52.064v-9.565h7.085v3.564m-5.151-3.603v-4.743m3.372 4.782v-3.442");
}
