.tslbrs2wt {
  fill: none;
  stroke: var(--svg-color--000, #000);
  stroke-miterlimit: 10;
  stroke-width: var(--svg-stroke-width--0-6px, 0.6px);
  d: path("M269.4 105.6s9.3-3.5 17.2-3.5a229 229 0 0 1 21.5 1.7s-.2 6.3 1 7.4s4 2 1.8 6l-7 12.7");
}
