.tt8tbn-kv {
  fill: var(--svg-color--fff, #fff);
  stroke: var(--svg-color--45413c, #45413c);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M6.74 34h34.52a1.23 1.23 0 0 1 1.23 1.23v8.63a.62.62 0 0 1-.62.62H6.13a.62.62 0 0 1-.62-.62v-8.61A1.23 1.23 0 0 1 6.74 34");
}
