.ttde57bjz {
  cx: 20.998px;
  cy: 67.714px;
  fill: var(--svg-color--2f80ed, #2f80ed);
  stroke: var(--svg-color--2f80ed, #2f80ed);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: var(--svg-stroke-width--4px, 4px);
  rx: 2.118px;
  ry: 2.143px;
}
