.ttgtfxifa {
  fill: var(--svg-color--ffd83c, #ffd83c);
  stroke: var(--svg-color--000, #000);
  stroke-width: var(--svg-stroke-width--0-7px, 0.7px);
  d: path("M255.4 218.8v45.6l45 40a90 90 0 0 0 4.7-29v-56.6h-49.7");
}
