.tti1bth-i {
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M9.5 13a2.01 2.01 0 0 0 2.02-2c0-1.105-.904-2-2.02-2m0 4a2.01 2.01 0 0 1-2.02-2c0-1.105.904-2 2.02-2m0 4v2m0-6V7m-1.75 5L6 13m7-4l-1.75 1m0 2L13 13M6 9l1.75 1");
}
