.ttw6-0qgy {
  stroke: var(--svg-color--000, #000);
  stroke-linejoin: round;
  stroke-width: var(--svg-stroke-width--4px, 4px);
  d: path("M36 32V32C40.4183 32 44 28.4183 44 24C44 19.5817 40.4183 16 36 16");
}
