.tubkdq4xe {
  stroke: var(--svg-color--000, #000);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: var(--svg-stroke-width--4px, 4px);
  d: path("M13.9995 26C12.9602 24.2074 11.8506 20.4489 16.008 15.7556C17.2206 14.6148 18.8143 13.1156 21.7244 12.3333C24.8424 10.8667 26.4014 8.52 24.3227 5C25.8817 5.97778 28.9997 9.69333 28.9997 16.7333");
}
