.tv92edn7u {
  fill: var(--svg-color--ffc125, #ffc125);
  fill-rule: evenodd;
  d: path("M7 2.06a.256.256 0 0 0-.253.22l-.414 2.937h1.334L7.253 2.28A.256.256 0 0 0 7 2.06m3.494 1.446a.256.256 0 0 0-.335-.023L7.79 5.268l.943.943l1.785-2.37a.256.256 0 0 0-.023-.335m1.227 3.24a.256.256 0 0 1 0 .507l-2.938.414V6.333zm-1.227 3.748c.09-.09.1-.233.023-.335L8.732 7.79l-.943.943l2.37 1.785a.256.256 0 0 0 .335-.023m-3.24 1.227a.256.256 0 0 1-.507 0l-.414-2.938h1.334zm-3.748-1.227c.09.09.233.1.335.023l2.37-1.785l-.943-.943l-1.785 2.37a.256.256 0 0 0 .023.335M2.28 7.254a.256.256 0 0 1 0-.507l2.938-.414v1.334zm1.227-3.748c-.09.09-.1.233-.023.335l1.785 2.37l.943-.943l-2.37-1.785a.256.256 0 0 0-.335.023");
}
