.tx6h3mb6p {
  fill: var(--svg-color--ff7a00, #ff7a00);
  fill-rule: evenodd;
  d: path("M176.646 127.873a74 74 0 0 0 0 6.541c.289 5.29 2.116 11.157 4.521 15.87l-125.712-.289c-1.731-7.598-2.693-15.389-2.404-22.122z");
}
