.tx8x2nsmu {
  fill: var(--svg-color--515151, #515151);
  fill-rule: evenodd;
  d: path("M4.305 7.987A1.5 1.5 0 1 1 5.5 5.382a1.5 1.5 0 1 1 1.195 2.606l1.159 1.158a.5.5 0 1 1-.708.708L5.5 8.207L3.854 9.854a.5.5 0 0 1-.708-.708zM4.5 6a.5.5 0 0 0 0 1H5v-.5a.5.5 0 0 0-.5-.5m2 1H6v-.5a.5.5 0 1 1 .5.5");
}
