.txgz9c5yh {
  stroke: currentColor;
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M14 10a4 4 0 0 0-4 4v52a4 4 0 0 0 4 4h52a4 4 0 0 0 4-4V14a4 4 0 0 0-4-4zm0 56V42h24v24zm0-28h24V14H14zm28 28V42h24v24zm0-28h24V14H42z");
}
