.tyuqqk9gd {
  fill: var(--svg-color--d7e0ff, #d7e0ff);
  fill-rule: evenodd;
  d: path("M9.5 11v3h-5v-3.1a5.5 5.5 0 1 1 8-4.9v4a1 1 0 0 1-1 1zM4.064 7.212a3.248 3.248 0 0 1 5.494-3.238c.253.288.195.718-.09.975c-1.075.97-2.843 2.215-4.58 2.675a.68.68 0 0 1-.824-.412");
}
