.v-39lvavi {
  fill: none;
  stroke: var(--svg-color--f1b31c, #f1b31c);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: var(--svg-stroke-width--0-9375px, 0.9375px);
  d: path("M29.954 41.56h11.459v4.38H29.954z");
}
