.v062odbys {
  fill: var(--svg-color--2859c5, #2859c5);
  fill-rule: evenodd;
  d: path("M39.761 10.052a2 2 0 0 1-.813 2.71c-6.377 3.433-13.482 8.213-19.586 13.89c-6.121 5.693-11.119 12.178-13.471 19a2 2 0 0 1-3.782-1.304c2.648-7.677 8.15-14.692 14.529-20.625c6.396-5.948 13.791-10.918 20.414-14.484a2 2 0 0 1 2.709.813");
}
