.v11psvewe {
  fill: var(--svg-color--0093dd, #0093DD);
  fill-rule: nonzero;
  d: path("m157.565 27.818l-.017.01l-7.047-5.771l-7.032 5.76l1.324 15.965a69 69 0 0 1 5.708-.239c1.931 0 3.843.084 5.734.241z");
}
