.v21c-1uwy {
  fill: var(--svg-color--656769, #656769);
  stroke: var(--svg-color--45413c, #45413c);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M16.54 7.67a7.46 3.33 0 1 0 14.92 0a7.46 3.33 0 1 0-14.92 0");
}
