.v24j81byq {
  fill: var(--svg-color--2e3ecd, #2e3ecd);
  fill-rule: evenodd;
  d: path("m13.09 19.947l10.473-7.945l10.472 7.945v7.075a.87.87 0 0 0-.738-.406h-2.015l.041-.157c.098-.383.173-.777.173-1.113a3.967 3.967 0 1 0-7.933 0c0 .336.075.73.173 1.113l.04.157h-2.133a.87.87 0 0 0-.81.548l-2.225 5.56H13.09z");
}
