.v2q96ob3h {
  fill: currentColor;
  fill-opacity: var(--svg-fill-opacity--0-25, 0.25);
  fill-rule: evenodd;
  d: path("M3.586 6.586C3 7.172 3 8.114 3 10v4c0 1.886 0 2.828.586 3.414S5.114 18 7 18h10c1.886 0 2.828 0 3.414-.586S21 15.886 21 14v-4c0-1.886 0-2.828-.586-3.414S18.886 6 17 6H7c-1.886 0-2.828 0-3.414.586M12 15a3 3 0 1 0 0-6a3 3 0 0 0 0 6");
}
