.v45bkcq0b {
  fill: currentColor;
  fill-opacity: var(--svg-fill-opacity--0-25, 0.25);
  d: path("M37.6 27.867a2 2 0 0 0-2-2H30a2 2 0 0 0-2 2v24.266a2 2 0 0 0 2 2h5.6a2 2 0 0 0 2-2zm14.4 0a2 2 0 0 0-2-2h-5.6a2 2 0 0 0-2 2v24.266a2 2 0 0 0 2 2H50a2 2 0 0 0 2-2z");
}
