.v4hfqds2r {
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M42.878 49.5a17 17 0 0 0 3.03 5.827A25.6 25.6 0 0 0 54.569 62M40.255 34.591c-.1-.929-.255-2.521-.36-4.527c-.176-3.41-.1-6.118-.084-6.14a104 104 0 0 0 1.61 19.158m-12.589 6.243a17.9 17.9 0 0 1-3.364 7.002a18.54 18.54 0 0 1-7.691 5.537m14.17-27.273c.1-.929.255-2.521.359-4.527c.177-3.41.1-6.118.085-6.14a104 104 0 0 1-1.61 19.158M36.182 17.5h-5.437l-.543 5.886h11.96l-.543-5.886zm-1.738-.5V6h3.348v11");
}
