.v4ynd4b8y {
  stroke: var(--svg-color--191919, #191919);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M21.953 9.38c0 2.316-4.457 4.191-9.953 4.191s-9.953-1.875-9.953-4.19m19.906 4.714c0 2.315-4.457 4.19-9.953 4.19s-9.953-1.875-9.953-4.19");
}
