.v5a3ll5yr {
  fill: var(--svg-color--fff, #fff);
  stroke: var(--svg-color--231f20, #231f20);
  d: path("M33.35 14.23c-1.16-1.53-8.86-1.54-13.35-1.54s-12.19 0-13.35 1.54c-1.16.76-1.27 4.83-1.27 8.21s.11 7.45 1.27 8.21c1.16 1.53 8.86 1.54 13.35 1.54s12.19 0 13.35-1.54c1.16-.76 1.27-4.84 1.27-8.21s-.11-7.44-1.27-8.21ZM5.37 8.42a1.83 1.83 0 1 0 3.66 0a1.83 1.83 0 0 0-3.66 0Zm6.1 0a1.83 1.83 0 1 0 3.66 0a1.83 1.83 0 0 0-3.66 0Z");
}
