.v6iu1jb3a {
  stroke: var(--svg-color--72b9d5, #72b9d5);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: var(--svg-stroke-width--6px, 6px);
  d: path("M199 127.5a142.4 142.4 0 0 1 19.2-7l-.8.6h0c-92.2 96.7-21 256.7 112.6 252.8l.8-.1a140 140 0 1 1-131.7-246.3Z");
}
