.v6kd6wt1k {
  stroke: var(--svg-color--fff, #fff);
  stroke-linecap: round;
  d: path("M41 20.999c3.124-3.124 3.438-8.219.313-11.343S32.124 6.876 29 10M7 21c-3.124-3.125-3.468-8.22-.344-11.343C9.781 6.532 15.876 6.875 19 10");
}
