.v6ory48qg {
  fill: var(--svg-color--35495e, #35495E);
  fill-rule: evenodd;
  d: path("M74.995 59.015c.006-3.076-2.434-6.152-7.321-8.499c-9.764-4.688-25.593-4.688-35.357 0c-4.852 2.329-7.287 5.378-7.317 8.432V45.062c-.03-3.091 2.405-6.187 7.317-8.545c9.763-4.688 25.593-4.688 35.357 0c4.887 2.347 7.327 5.423 7.321 8.499H75v14z");
}
