.v6wcirb2d {
  fill: var(--svg-color--db000b, #db000b);
  fill-rule: evenodd;
  d: path("M17.389 5H13.61v4.615h-.944V6.846H8.889v2.77H7v.923h.944v4.615H7v.923h17v-.923h-.944v-4.615H24v-.924h-1.889V6.846h-3.778v2.77h-.944z");
}
