.v74n6029x {
  fill: none;
  stroke: var(--svg-color--000, #000);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: var(--svg-stroke-width--2px, 2px);
  d: path("M27.212 55.275h28.121s5.273 0 6.152-2.636M12.273 21.588H65");
}
