.v74qziryc {
  fill: var(--svg-color--000, #000);
  fill-rule: nonzero;
  d: path("M123.74 142.498c-2.095-1.317-5.042-3.278-7.698-6.006c-.909-.935-2.218-2.501-2.218-2.501s1.062 1.658 1.928 2.559c2.368 2.464 5.62 4.777 7.715 6.094z");
}
