.v7mndqb3p {
  fill: none;
  stroke: var(--svg-color--45413c, #45413c);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M36.64 17.82a2 2 0 0 0-2.48-.62l-.89.41l-.59-.78a2 2 0 0 0-3.61.73a4.25 4.25 0 0 0 .59 3.38l2 3l3.19-1.69a4.2 4.2 0 0 0 2.15-2.7a2.06 2.06 0 0 0-.36-1.73");
}
