.v7uw4lbbv {
  fill: none;
  stroke: var(--svg-color--45413c, #45413c);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M41.37 35.66h-28l4-12.42a.93.93 0 0 1 .89-.64h18.23a.93.93 0 0 1 .89.64Z");
}
