.v8-b9qb2d {
  stroke: currentColor;
  stroke-linecap: square;
  stroke-width: var(--svg-stroke-width--2px, 2px);
  d: path("M17 11.5c0 1.38-2.91 2.5-6.5 2.5S4 12.88 4 11.5m13 0v1.527a4.5 4.5 0 0 0-3.425 6.676c-.915.19-1.962.297-3.075.297C6.91 20 4 18.88 4 17.5v-6m13 0v-5m-13 5v-5m13-1C17 6.88 14.09 8 10.5 8S4 6.88 4 5.5S6.91 3 10.5 3S17 4.12 17 5.5Z");
}
