.v8diuwbyk {
  fill: var(--svg-color--8fbffa, #8fbffa);
  fill-rule: evenodd;
  d: path("m28.396 5.06l-2.951 1.615c-3.815 2.086-3.815 7.564 0 9.65l3.642 1.992a1.5 1.5 0 0 1 .596.596l1.991 3.642c1.13 2.067 3.257 3.014 5.3 2.84a18.5 18.5 0 0 1-6.502 10.12a75 75 0 0 1-.526 1.788c-.47 1.534-1.775 2.709-3.452 2.884c-1.453.151-3.855.313-7.494.313c-3.64 0-6.041-.162-7.494-.313c-1.677-.175-2.981-1.35-3.452-2.884a75 75 0 0 1-.526-1.788C3.25 32.129.5 26.885.5 21C.5 10.783 8.783 2.5 19 2.5c3.43 0 6.642.934 9.396 2.56");
}
