.v8llf9bzi {
  stroke: var(--svg-color--191919, #191919);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M21.9 7.1a14 14 0 0 0-1.413-1.237m-1.415 4.567a10 10 0 0 0-1.783-1.42m-1.045 5.748a5.97 5.97 0 0 0-2.762-1.572M21.501 1l-19 22");
}
