.v90hkeb6g {
  fill: var(--svg-color--e64c3c, #E64C3C);
  fill-rule: evenodd;
  d: path("M29.722 52a21 21 0 0 0 2.599 1.489c9.763 4.688 25.593 4.688 35.356 0c.973-.467 1.821-.97 2.6-1.489c7.039 4.692 6.191 11.268-2.6 15.489c-9.763 4.688-25.593 4.688-35.356 0c-8.79-4.221-9.638-10.797-2.599-15.489");
}
