.v9hevvbus {
  fill: var(--svg-color--998a87, #998a87);
  fill-rule: evenodd;
  d: path("M72.4 44.1v6.3q-1.05 9.45 8.4 8.4c-2.8 2.3-6 4.4-9.4 6.3c-1.8-5.7-5-10.6-9.4-14.7c3.1-2.7 6.6-4.8 10.4-6.3");
}
