.v9t4l4boi {
  stroke: var(--svg-color--191919, #191919);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M7.544 10.374a1.873 1.873 0 0 0 0-2.648L5.558 5.74a1.873 1.873 0 0 0-2.649 0L1.82 6.83a2.81 2.81 0 0 0-.354 3.533a43.5 43.5 0 0 0 12.171 12.17a2.81 2.81 0 0 0 3.533-.354l1.09-1.09a1.873 1.873 0 0 0 0-2.648l-1.986-1.983a1.873 1.873 0 0 0-2.648 0l-.662.662a44.4 44.4 0 0 1-6.085-6.086zM22.531 1.47l-9.362 9.363m3.277-9.363h6.086v6.085");
}
