.v9tvw21br {
  fill: var(--svg-color--eb5757, #eb5757);
  stroke: var(--svg-color--eb5757, #eb5757);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: var(--svg-stroke-width--4px, 4px);
  d: path("M24 28h32v24H24z");
}
