.v9wz6jyzs {
  stroke: var(--svg-color--000, #000);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: var(--svg-stroke-width--2px, 2px);
  d: path("M28.12 28.364s.337-3.583-1.285-3.583");
}
