.v_p95zaqq {
  stroke: var(--svg-color--092f63, #092f63);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M20.82 8.08v9.31m0 0h-5.88L12 23.27l-2.94-5.88H3.18V8.08m0 5.39h11.76m0 1.96V7.835m1.96 6.615v-2.94M4.16 3.67L7.1.73m.98 2.94L10.04.73M12 3.67V.73");
}
