.vacbzohxb {
  fill: var(--svg-color--ffe500, #ffe500);
  stroke: var(--svg-color--45413c, #45413c);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M40.15 25.63a2.7 2.7 0 0 0-2.07-2.29l-.87-.25A3 3 0 0 1 35 20.16v-3.07a2.77 2.77 0 0 0-2.08-2.68A23 23 0 0 1 24 16a23 23 0 0 1-8.9-1.61a2.77 2.77 0 0 0-2.1 2.7v3.07a3 3 0 0 1-2.23 2.93l-.87.25a2.63 2.63 0 0 0 .61 5.21h.17a13.45 13.45 0 0 0 26.6 0h.17a2.69 2.69 0 0 0 2.7-2.92");
}
