.vagq61bug {
  stroke: var(--svg-color--000, #000);
  stroke-linejoin: round;
  stroke-miterlimit: 10;
  stroke-width: var(--svg-stroke-width--4px, 4px);
  d: path("M93.213 222.94L50 48l173.23 49.874z");
}
