.vall8hb6t {
  stroke: currentColor;
  stroke-linecap: round;
  stroke-width: var(--svg-stroke-width--1-5px, 1.5px);
  d: path("M16 6c0-.628 0-.942-.08-1.217a2.04 2.04 0 0 0-1.166-1.29c-.265-.109-.566-.14-1.166-.2C12.17 3.146 10.388 3 9 3s-3.17.147-4.588.292c-.6.061-.9.092-1.166.2a2.04 2.04 0 0 0-1.165 1.29C2 5.059 2 5.373 2 6");
}
