.vatf4bp8d {
  fill: none;
  stroke: var(--svg-color--fcea2b, #fcea2b);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: var(--svg-stroke-width--2px, 2px);
  d: path("m35.82 33.58l1.256 2.492m.344-4.962l-1.603 2.476l-2.858-.017");
}
