.vbip4acpr {
  fill: var(--svg-color--d7e0ff, #d7e0ff);
  fill-rule: evenodd;
  d: path("M11.75 3.5v7c-.69 0-1.25.56-1.25 1.25h-7c0-.69-.56-1.25-1.25-1.25v-7c.69 0 1.25-.56 1.25-1.25h7c0 .69.56 1.25 1.25 1.25");
}
