.vbirq5b3i {
  fill: var(--svg-color--406325, #406325);
  fill-rule: nonzero;
  stroke: var(--svg-color--24420e, #24420E);
  stroke-width: var(--svg-stroke-width--0-017px, 0.017px);
  d: path("M166.547 113.465c1.356-2.078 1.734-7.673 1.431-8.427c-3.107 4.249-2.94 8.227-1.431 8.427z");
}
