.veaxd8p_f {
  fill: var(--svg-color--ffe500, #ffe500);
  stroke: var(--svg-color--ebcb00, #ebcb00);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M29.44 11.43C18.93 2.45 11.29.59 7.17 2c-3.75 1.29-5 6.94.95 12.9C6 8.51 5.13 5.62 7.8 4.5s9.7.12 18.37 7.65c9 7.84 16.82 18.47 14 20.28s-12.13-2.3-21.06-9.53c-1.05-.9-4.21-.62-5.11-1.51c1.4 1.44 1.51 4.67 3.15 6.07c10.51 9 22.73 11.77 26 7.91S40 20.4 29.44 11.43");
}
