.vfe670afz {
  fill: var(--svg-color--ff87af, #ff87af);
  stroke: var(--svg-color--45413c, #45413c);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M29.57 33.56A11.26 11.26 0 0 0 24 32.24a11.26 11.26 0 0 0-5.57 1.32a7 7 0 0 0 11.14 0");
}
