.vfk3dr-oq {
  fill: var(--svg-color--fff, #fff);
  stroke: var(--svg-color--000, #000);
  stroke-width: var(--svg-stroke-width--0-4px, 0.4px);
  d: path("M231.7 171.2q.1-.9 1-1q1 .1 1.1 1q0 1.2-1 1a1 1 0 0 1-1-1m.6 3.1q0-1 1-1c1 0 1 .4 1 1q0 .9-1 1a1 1 0 0 1-1-1m0 3q.2-.9 1.1-1a1 1 0 0 1 0 2a1 1 0 0 1-1-1m-1 2.8q.1-.9 1-1q1 .1 1.1 1q0 1-1 1a1 1 0 0 1-1-1m-1.9 2.6q.1-.9 1-1q1.1.1 1.2 1q0 1.2-1.1 1q-1 0-1-1");
}
