.vg_16dn1y {
  fill: currentColor;
  fill-rule: evenodd;
  d: path("M6.525 4.604c.304-.155.688-.251 1.309-.302c.63-.051 1.434-.052 2.566-.052h3.2c1.133 0 1.937 0 2.566.052c.62.05 1.005.147 1.31.302a3.25 3.25 0 0 1 1.42 1.42c.155.305.251.69.302 1.31c.045.553.051 1.24.052 2.166H4.75c0-.926.007-1.614.052-2.166c.05-.62.147-1.005.302-1.31a3.25 3.25 0 0 1 1.42-1.42M14.5 5.75h-5a1 1 0 0 0 0 2h5a1 1 0 1 0 0-2m-2.883 10.464l-.6.855a.75.75 0 1 0 1.228.862l2.007-2.86a2.74 2.74 0 0 0-.675-3.825a2.753 2.753 0 0 0-3.829.674a2.742 2.742 0 0 0 1.869 4.294m-.335-1.699a1.24 1.24 0 0 1-.306-1.733a1.253 1.253 0 0 1 1.742-.306c.565.395.701 1.17.306 1.733a1.253 1.253 0 0 1-1.741.306");
  opacity: var(--svg-opacity--0-5, 0.5);
}
