.vgt-hh43y {
  fill: var(--svg-color--006b3f, #006B3F);
  stroke: var(--svg-color--000, #000);
  stroke-width: var(--svg-stroke-width--0-375px, 0.375px);
  d: path("M157.049 74.374c1.303-.135 2.713 4.689 3.15 10.776c.438 6.087-.264 11.131-1.566 11.267s-2.713-4.689-3.15-10.776c-.438-6.088.264-11.132 1.566-11.267z");
}
