.vh0r_gext {
  fill: var(--svg-color--e0e0e0, #e0e0e0);
  stroke: var(--svg-color--45413c, #45413c);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M11 6a4.76 4.76 0 0 0 1 2.13a2 2 0 1 0 2.87 1.64a5 5 0 0 0 .78.07A4.81 4.81 0 0 0 20.38 6Zm11.84 0a4.86 4.86 0 0 0 1.06 2.13a2 2 0 1 0 2.88 1.64a5 5 0 0 0 .78.07A4.8 4.8 0 0 0 32.27 6Zm18 0h-6.1a4.76 4.76 0 0 0 1.06 2.13a2 2 0 1 0 2.87 1.64a5 5 0 0 0 .78.07A4.77 4.77 0 0 0 42 9.08V7.16A1.2 1.2 0 0 0 40.84 6");
}
