.vh6fzdb5l {
  stroke: var(--svg-color--092f63, #092f63);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("m13.597 17.24l2.493 6.009l2.557-3.068h4.602l-5.113-4.09m-7.734 1.149L7.91 23.25l-2.557-3.07H.751l5.113-4.09");
}
