.vihlqctim {
  stroke: currentColor;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: var(--svg-stroke-width--6px, 6px);
  d: path("M31.161 18.661a23.1 23.1 0 0 1 17.678 0v0a23.1 23.1 0 0 1 12.5 12.5v0a23.1 23.1 0 0 1 0 17.678v0a23.1 23.1 0 0 1-12.5 12.5v0a23.1 23.1 0 0 1-17.678 0v0a23.1 23.1 0 0 1-12.5-12.5v0a23.1 23.1 0 0 1 0-17.678v0a23.1 23.1 0 0 1 12.5-12.5");
}
