.vjrb4c_8v {
  fill: var(--svg-color--011322, #011322);
  fill-rule: nonzero;
  stroke: var(--svg-color--000, #000);
  stroke-width: var(--svg-stroke-width--0-049px, 0.049px);
  d: path("M150.096 104.408s-1.028-.477-1.15-.6c-.134-.123-.343-1.566-.22-1.48c0 0-.416-.477-.55-.477c-.086 0-.379.22-.294.722c.085.514.208 1.284.342 1.615c0-.001.808-.331 1.872.22z");
}
