.vkq1a_boa {
  fill: none;
  stroke: var(--svg-color--000, #000);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: var(--svg-stroke-width--2px, 2px);
  d: path("M11.228 9.813s12.498-.305 16.783 19.858m-5.678 14.074s-10.872 8.23-4.776 17.985c0 0 2.846 5.284 13.21 4.98H41.03c10.364.304 13.21-4.98 13.21-4.98c6.096-9.754-4.777-17.985-4.777-17.985");
}
