.vllixdbzx {
  fill: var(--svg-color--ee2e3d, #ee2e3d);
  d: path("M1.5 82.5q.513-1.257 2-1a6435 6435 0 0 0 80 4.5q2.337.315 4 1.5a280 280 0 0 1-27.5 21a4656 4656 0 0 1-58.5-26");
  opacity: var(--svg-opacity--0-999, 0.999);
}
