.vmkov9bns {
  fill: currentColor;
  fill-rule: evenodd;
  d: path("M11.25 17.99c-1.5 0-2.76 1.03-3.1 2.42c-.1.4.21.78.62.78h5.1c.33 0 .59-.3.52-.62a3.2 3.2 0 0 0-3.14-2.58m.47.61c-1.13 0-2.05.92-2.05 2.05c0 .19.03.37.08.54h3.94c.05-.17.08-.35.08-.54c0-1.14-.92-2.05-2.05-2.05");
}
