.vmzyc18la {
  fill: none;
  stroke: var(--svg-color--000, #000);
  stroke-linejoin: round;
  stroke-miterlimit: 10;
  stroke-width: var(--svg-stroke-width--2px, 2px);
  d: path("m30.88 26.814l-.09-.623c0-1.333-8.001-4.712-10.668-7.379c-2.667 2.667-4.001 4.623-4.001 8.002c0 5.334 3.378 9.335 7.379 9.335s7.38-4.001 7.38-9.335z");
}
