.vn34bdcic {
  fill: var(--svg-color--f9d616, #F9D616);
  fill-rule: nonzero;
  d: path("m155 52.521l-.95 8.9c19.598 2.056 34.95 18.46 34.95 38.6c0 21.528-17.472 39-39 39c-9.387 0-17.868-3.469-24.6-9l-5.7 6.95c8.284 6.801 18.753 11.05 30.3 11.05c26.496 0 48-21.504 48-48c0-24.781-18.888-44.961-43-47.5");
}
