.vng3av {
  d: path('M16 19l2 2M16 19l2 -2');
}

@media not (prefers-reduced-motion) {
  .vng3av {
    stroke-dasharray: 6;
    stroke-dashoffset: 6;
    animation: 0.2s linear 1s forwards so-to-0;
  }
}
