.vnpd8_boz {
  fill: var(--svg-color--2859c5, #2859c5);
  fill-rule: evenodd;
  d: path("M7.972 4.417c.22.267.182.66-.085.88c-.388.32-.644.57-.857.853a4 4 0 0 0-.19.28H8a.625.625 0 0 1 .61.76c-.11.493-.236.912-.453 1.312c-.219.402-.51.75-.905 1.132a.625.625 0 1 1-.869-.898c.343-.331.539-.58.675-.831q.06-.107.108-.225H5.832a.625.625 0 0 1-.575-.87c.243-.574.477-1.016.774-1.41c.296-.395.636-.717 1.061-1.067a.625.625 0 0 1 .88.084");
}
