.vnqpysm8z {
  fill: none;
  stroke: var(--svg-color--45413c, #45413c);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M27.29 18.79a5.91 5.91 0 1 0 11.82 0a5.91 5.91 0 1 0-11.82 0");
}
