.vo4idybtc {
  stroke: var(--svg-color--092f63, #092f63);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M8 7.5L6.5 9.001l1.5 1.5L9.5 9zm5 0L11.5 9l1.5 1.5L14.5 9zm5 0L16.5 9l1.5 1.5L19.5 9zm-16 14l-.5.5l.5.5m0-1l.5.5l-.5.5m3-5L3.5 19L5 20.5L6.5 19z");
}
