.vq-3twdbf {
  fill: var(--svg-color--964b36, #964B36);
  fill-rule: nonzero;
  d: path("M212.189 71.294s-.801 1.508-.613 1.743c0 0-.848 1.225-.518 1.838c0 0 .848.659 1.225.376c0 0 .988-1.366.706-2.12c0 0 .66-.894.425-1.46c.001.001-.988.048-1.225-.377");
}
