.vq9d9inqi {
  fill: var(--svg-color--f1b517, #F1B517);
  fill-rule: nonzero;
  stroke: var(--svg-color--000, #000);
  stroke-width: var(--svg-stroke-width--0-15px, 0.15px);
  d: path("m170.162 97.098l.35 2.723h-.568l-.394-2.491zm-2.254.443l.153 2.449l-.35.042l-.284-2.174zm-9.144 1.055l.328 2.3l-.656-.021l-.263-2.279zm-2.011.063l.467 2.661l-.742.108l-.213-1.399a.64.64 0 0 1-.628.495a.633.633 0 0 1-.642-.619a.63.63 0 0 1 .642-.616c.246 0 .468.144.565.412l-.139-.997zm4.872.432l1.856 2.089l-.217.254l-2.382-1.627zm4.315 5.209l-1.856-2.089l.217-.254l2.382 1.627zm-4.857-.523l2.258-1.746l.232.164l-1.779 2.253zm5.569-4.029l-2.289 1.687l-.279-.21l1.795-2.254zm-2.491-1.392l-.219 2.744l-.308-.013l-.724-2.671zm-.75 6.658l.219-2.744l.339-.032l.415 2.776zm-3.037-3.699l2.877.306l.043.274l-2.909.38zm6.845.951l-2.809-.444l-.059-.218l2.905-.325z");
}
