.vqcxf6bxf {
  fill: currentColor;
  fill-rule: evenodd;
  d: path("M49.945-.172c-.742-.004-1.149.502-1.263 1.094L37.764 37.764C25.443 41.41 13.113 45.04.814 48.717c-.64.192-.988.574-.986 1.252c.002.677.597 1.082 1.149 1.252l36.75 10.888c3.66 12.363 7.3 24.736 10.99 37.077c.192.64.574.988 1.252.986c.677-.002 1.082-.597 1.252-1.149l10.925-36.875l36.915-10.937c.734-.239 1.107-.524 1.11-1.266c.005-.742-.501-1.149-1.093-1.263L62.111 37.727L51.211.939c-.239-.734-.524-1.107-1.266-1.11m0 14.432l7.373 24.886a5 5 0 0 0 3.373 3.374l25.047 7.423l-25.011 7.41a5 5 0 0 0-3.373 3.376l-7.409 25.003c-2.475-8.344-4.95-16.686-7.424-25.043a5 5 0 0 0-3.373-3.375l-24.877-7.37c8.301-2.463 16.6-4.925 24.913-7.385a5 5 0 0 0 3.375-3.375z");
  color: currentColor;
}
