.vs7ba7bqx {
  cx: 23.331px;
  cy: 11.063px;
  r: 1px;
  fill: var(--svg-color--db161b, #DB161B);
  fill-rule: nonzero;
  stroke: var(--svg-color--db161b, #DB161B);
  stroke-width: var(--svg-stroke-width--0-5px, 0.5px);
}
