.vtt5cmbex {
  fill: var(--svg-color--00dba8, #00dba8);
  stroke: var(--svg-color--45413c, #45413c);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M24 35.1a1.78 1.78 0 0 1 .81.83a4 4 0 0 1 .19 1.19a2.3 2.3 0 0 0 1.85 0a1.78 1.78 0 0 0 .47-2.56c-.68-.88-2.15-1.08-3.32.54");
}
