.vuk-umbnu {
  fill: none;
  stroke: currentColor;
  stroke-width: var(--svg-stroke-width--1-5px, 1.5px);
  d: path("M11 16.5h2m3.25 1.5V6c0-.69-.56-1.25-1.25-1.25H9c-.69 0-1.25.56-1.25 1.25v12c0 .69.56 1.25 1.25 1.25h6c.69 0 1.25-.56 1.25-1.25Z");
}
