.vura0hvqc {
  fill: currentColor;
  fill-opacity: var(--svg-fill-opacity--0-4, 0.4);
  d: path("M10.8433 12.2337L11.3873 13.6127L12.7663 14.1567C12.9074 14.2123 13 14.3485 13 14.5C13 14.6515 12.9074 14.7877 12.7663 14.8433L11.3873 15.3873L10.8433 16.7663C10.7877 16.9074 10.6515 17 10.5 17C10.3485 17 10.2123 16.9074 10.1567 16.7663L9.6127 15.3873L8.2337 14.8433C8.0926 14.7877 8 14.6515 8 14.5C8 14.3485 8.0926 14.2123 8.2337 14.1567L9.6127 13.6127L10.1567 12.2337C10.2123 12.0926 10.3485 12 10.5 12C10.6515 12 10.7877 12.0926 10.8433 12.2337Z");
  stroke: none;
}
