.vxa_0plyt {
  fill: var(--svg-color--d7e0ff, #d7e0ff);
  fill-rule: evenodd;
  d: path("M13.488 7a1.2 1.2 0 0 0-.258-.754C12.18 4.975 9.79 2.5 7 2.5S1.82 4.975.77 6.246C.604 6.453.512 6.722.512 7s.092.547.258.754C1.82 9.025 4.21 11.5 7 11.5s5.18-2.475 6.23-3.746c.166-.207.258-.475.258-.754M7 5a2 2 0 0 1 1.414 3.414L5.586 5.586A2 2 0 0 1 7 5");
}
