.vxm9m_bjn {
  fill: none;
  stroke: var(--svg-color--45413c, #45413c);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M29.45 23.82a2.5 2.5 0 0 0-2.5-2.5h-1.2A7 7 0 0 0 21.14 23a8.4 8.4 0 0 0-2.71 4.69a1 1 0 0 1-.83.79a9.09 9.09 0 0 0-7.7 9.8a9.28 9.28 0 0 0 9.34 8.26h9.36a1 1 0 0 0 1-1v-4.96a14 14 0 0 0-.16-2.09c-.77-4.86.01-9.75.01-14.67");
}
