.vxyu4f12o {
  fill: none;
  stroke: var(--svg-color--000, #000);
  stroke-width: var(--svg-stroke-width--0-1px, 0.1px);
  d: path("M281.6 243a17 17 0 0 1-10.5-9.6m-24.5 48a17 17 0 0 1-12.2-12.5m9.7 15.3a17 17 0 0 1-12.2-12.4m-2.3 27.5a19 19 0 0 1-13-13m10.5 15.8a19 19 0 0 1-13-13");
}
