.vz2l21qwe {
  fill: var(--svg-color--fff, #FFF);
  stroke: var(--svg-color--000, #000);
  stroke-width: var(--svg-stroke-width--0-26px, 0.26px);
  d: path("M0 24.99h31.637L0 9.114V0h18.101l44.255 22.061V0h24.921v22.061L131.533 0h18.365v9.114L117.997 24.99h31.901v25.009h-31.901l31.901 15.876v9.117h-18.365L87.277 52.928v22.064H62.356V52.928L18.101 74.992H0v-9.117l31.637-15.876H0z");
}
