.vz3zabchs {
  fill: var(--svg-color--2859c5, #2859c5);
  fill-rule: evenodd;
  d: path("m17.084 2.804l-4 9.15l-.084.191v1.56h2v-1.142l3-6.862l3 6.862v1.141h2v-1.559l-.084-.191l-4-9.15zm-12 3.6l-4 9.15l-.084.191v1.56h2v-1.142l3-6.862l3 6.862v1.142h2v-1.56l-.084-.191l-4-9.15z");
}
