.vzbt5tbzr {
  fill: var(--svg-color--cf142b, #cf142b);
  d: path("M0-.077V28.84l280.494 211.127L0 451.194v28.718h44l275.994-210.236L595.788 480.01h44.2v-29.114l-280.495-210.93L639.987 28.74V.022h-43.999L319.994 210.061L43.999-.077Z");
  color: #000;
}
