.vzdsddgnc {
  fill: none;
  stroke: var(--svg-color--000, #000);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: var(--svg-stroke-width--2px, 2px);
  d: path("M30.675 42.9s3.923 3.945 5.325-1.35");
}
