.vzuj2acjh {
  fill: var(--svg-color--96877d, #96877D);
  fill-rule: nonzero;
  d: path("M8.918 29.119v13.132h15.151c0 2.524 2.525 5.05 5.051 5.05v15.151h13.131V47.301c2.525 0 5.051-2.526 5.051-5.05h15.151V29.119H47.302c0-2.524-2.525-5.05-5.051-5.05V8.918H29.12v15.151c-2.526 0-5.051 2.526-5.051 5.05z");
}
