.w--ylccjk {
  fill: var(--svg-color--fff, #FFF);
  fill-rule: nonzero;
  stroke: var(--svg-color--db161b, #DB161B);
  stroke-width: var(--svg-stroke-width--0-142px, 0.142px);
  d: path("M58.233 26.16h-8.06c-.444 0-.804.338-.804.754v3.797c0 .416.36.754.804.754h8.06c.444 0 .804-.337.804-.754v-3.797c-.001-.416-.361-.754-.804-.754z");
}
