.w-txgij0l {
  fill: none;
  stroke: currentColor;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: var(--svg-stroke-width--2px, 2px);
  d: path("M20 9H8a4 4 0 0 0-4 4v7M15 4l5 5l-5 5");
}
