.w-u4vjbdh {
  fill: none;
  stroke: currentColor;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: var(--svg-stroke-width--2-48px, 2.48px);
  d: path("M11.99 5.53H12m.16 6.62h.01m-.37 6.37h.01");
}
