.w0-0zg8xm {
  fill: var(--svg-color--9500ff, #9500ff);
  fill-opacity: var(--svg-fill-opacity--0-996, 0.996);
  d: path("M57.066 217.597c11.258.613 20.881-8.024 21.495-19.292c.613-11.269-8.017-20.901-19.275-21.515s-20.882 8.023-21.495 19.292c-.613 11.268 8.016 20.901 19.275 21.515");
}
