.w0jniir6p {
  fill: currentColor;
  fill-opacity: var(--svg-fill-opacity--0-25, 0.25);
  d: path("M42 9.994a2 2 0 0 0-4 0l-.025 8.008a2 2 0 0 0 2.04 2.006a2 2 0 0 0 2.01-2.006zm-15.668 3.791a2 2 0 0 0-3.236 2.351l4.687 6.494a2 2 0 0 0 2.825.427a2 2 0 0 0 .451-2.808zm30.572 2.351a2 2 0 0 0-3.236-2.351l-.007.01l-4.72 6.454a2 2 0 0 0 .468 2.82a2 2 0 0 0 2.809-.44l4.679-6.483z");
}
