.w0ywbtewy {
  stroke: var(--svg-color--2859c5, #2859c5);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M20.746 26.794a98 98 0 0 1-6.657-1.038c-1.442-.28-1.987-1.956-1.005-3.049c2.512-2.797 7.006-7.605 11.87-11.883c1.29-1.134 3.235-.14 3.116 1.574c-.25 3.597-.543 6.527-.815 8.808c2.75.336 5.009.72 6.656 1.038c1.443.28 1.987 1.956 1.006 3.049c-2.512 2.796-7.006 7.605-11.87 11.883c-1.29 1.134-3.235.14-3.116-1.574c.25-3.597.542-6.527.815-8.808");
}
