.w165t8b9e {
  fill: var(--svg-color--009b3a, #009B3A);
  fill-rule: nonzero;
  stroke: var(--svg-color--000, #000);
  stroke-width: var(--svg-stroke-width--0-075px, 0.075px);
  d: path("M141.266 93.056c-.025.005-.978-4.09-.978-4.09l.161 4.246l.512.635z");
}
