.w1s9-7bne {
  stroke: var(--svg-color--000, #000);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
  stroke-width: var(--svg-stroke-width--0-889px, 0.889px);
  d: path("M15.111 20.836h2.738m-2.991 3.057c1.9 1.246 4.253-.237 4.59-1.636l.482-.427s-2.094 1.602-3.54-.466c.095 1.78-.695 2.289-1.501 2.55m12.667.157l-4.16-2.311m2.31 4.622l-4.16-2.31m2.946-9.084s-6.18 2.612-5.89 2.944c5.914 5.38 6.378-2.196 5.89-2.944");
}
