.w23t1ejbq {
  fill: var(--svg-color--c7893e, #c7893e);
  d: path("M82.195 56.77c17.379-11.192 69.897-10.426 86.686 16.418c11.172 17.833-9.31 61.776-16.789 67.383s-18.02 10.458-45.567 3.859c-23.296-5.607 11.875-27.341-15.6-30.506c-25.095-2.897-27.567-44.978-8.73-57.153");
  opacity: var(--svg-opacity--0-15, 0.15);
}
