.w2k30ibzc {
  fill: var(--svg-color--e5f8ff, #e5f8ff);
  stroke: var(--svg-color--45413c, #45413c);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M7.25 39.08c0 4.11 8.38 6.42 16.75 6.42s16.75-2.31 16.75-6.42Z");
}
