.w3qym623v {
  stroke: var(--svg-color--191919, #191919);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M20.499 14.406a4.31 4.31 0 0 0 2.499-4.048a4.71 4.71 0 0 0-4.953-4.634a6.7 6.7 0 0 0-6.044-3.72A6.603 6.603 0 0 0 5.328 8.11a3.56 3.56 0 0 0-4.323 3.408a3.185 3.185 0 0 0 2.499 3.28m2.499 4.2l3 3l2.998-3m-2.999 2.999V13");
}
