.w42toeb7a {
  fill: var(--svg-color--red, red);
  fill-rule: nonzero;
  d: path("M132.528 41.812a72.6 72.6 0 0 1 11.936-1.993l-.335-4.036a76.6 76.6 0 0 0-12.598 2.104zm-1.981-7.804a80.5 80.5 0 0 1 13.251-2.213l-.329-3.962a84.6 84.6 0 0 0-13.901 2.322z");
}
