.w44iaebhr {
  fill: var(--svg-color--058e6e, #058E6E);
  fill-rule: nonzero;
  stroke: var(--svg-color--000, #000);
  stroke-linecap: round;
  stroke-width: var(--svg-stroke-width--0-15px, 0.15px);
  d: path("M234.245 101.488c-.176.797-.673 1.363-1.109 1.264s-.647-.826-.471-1.624c.176-.797.672-1.364 1.109-1.265s.647.827.471 1.625z");
}
