.w5_pgef9k {
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M4.767 40.99c2.86 0 8.58 2.86 14.299 2.86s9.532-2.86 15.252-2.86s10.486 2.86 15.252 2.86s6.673-2.86 14.3-2.86m-20.02 7.627a20 20 0 0 0 5.72.953c2.575 0 4.386-.858 6.674-1.62m-44.042.572a26.5 26.5 0 0 0 6.864 1.048c5.72 0 9.532-2.86 15.252-2.86m-9.533 8.58c3.05-.858 5.91-2.002 9.533-2.002c4.194 0 7.912 1.525 11.44 2.383");
}
