.w7-d2fbzz {
  stroke: var(--svg-color--191919, #191919);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M2.337 17.262h8.706M2.925 5.784h18.158m-8.605 5.74l-11.467-.001m7.641 10.961A11 11 0 1 1 23 11.524");
}
