.w7i92qu0a {
  fill: none;
  stroke: var(--svg-color--4f4b45, #4f4b45);
  stroke-linejoin: round;
  d: path("M42.22 36a2.65 2.65 0 0 0 1.67-2.46V14.59a2.68 2.68 0 0 0-.52-1.59L24 20.75V43a4 4 0 0 0 1.48-.29Z");
}
