.w7jmnbb6l {
  fill: var(--svg-color--fff, #fff);
  stroke: var(--svg-color--fff, #fff);
  d: path("M36 4a9 9 0 0 0-9 9v31h6V21.488A9 9 0 0 0 36 22a9 9 0 0 0 8-4.873V8.873A9 9 0 0 0 36 4M12 4a9 9 0 0 1 9 9v31h-6V21.488A9 9 0 0 1 12 22a9 9 0 0 1-8-4.873V8.873A9 9 0 0 1 12 4");
}
