.w8mp_gbzm {
  fill: var(--svg-color--d10000, #d10000);
  stroke: var(--svg-color--000, #000);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: var(--svg-stroke-width--1-113px, 1.113px);
  d: path("M87.79 134.563c-26.037-3.283-24.905 15.322-13.585 18.605c12.453 3.283 26.037-14.227 13.585-18.605");
}
