.w94igxexl {
  fill: var(--svg-color--45413c, #45413c);
  stroke: var(--svg-color--45413c, #45413c);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M16.09 25.61a1.13 1.13 0 1 0 1.12-1.12a1.12 1.12 0 0 0-1.12 1.12m15.82 0a1.13 1.13 0 1 1-1.12-1.12a1.12 1.12 0 0 1 1.12 1.12");
}
