.w9_7t2eps {
  stroke: var(--svg-color--4147d5, #4147d5);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M1 13.25c.573-.587.589-1.448.607-2.442c.028-1.556.062-3.435 2.251-5.091h6.374c2.19 1.656 2.224 3.535 2.252 5.091c.018.994.034 1.855.607 2.442");
}
