.w_l8fwasu {
  fill: currentColor;
  fill-opacity: var(--svg-fill-opacity--0-25, 0.25);
  d: path("M24 20q-.256 0-.508.008C31.549 20.268 38 26.88 38 35v24.95a.05.05 0 0 1-.05.05h34a.05.05 0 0 0 .05-.05V36c0-8.837-7.163-16-16-16z");
}
