.w_vcc4bho {
  fill-rule: evenodd;
  stroke: var(--svg-color--000, #000);
  stroke-width: var(--svg-stroke-width--0-1px, 0.1px);
  d: path("M241.7 228.3a1 .6 5.4 1 1 1.8.2a1 .6 5.4 1 1-1.8-.2zm.4-2a1 .6 31.2 1 1 1.6.9a1 .6 31.2 1 1-1.6-1z");
}
