.wa0ukfbmy {
  fill: var(--svg-color--a68861, #a68861);
  fill-rule: evenodd;
  d: path("M208.1 320.6c19.3 4.3 42.2 6.6 56.9-.6c0 4.3-4.8 10.4-8.8 10.4h-36.9c4.3-.6 6.7-1.9 13.7-2.3l-19.6.3c-2.1 0-6-5.7-5.3-7.8");
}
