.wa93a239p {
  stroke: currentColor;
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M35.5 8h9a5.5 5.5 0 0 1 5.293 4H54a6 6 0 0 1 6 6v48a6 6 0 0 1-6 6H26a6 6 0 0 1-6-6V18a6 6 0 0 1 6-6h4.207A5.5 5.5 0 0 1 35.5 8M54 16a2 2 0 0 1 2 2v48a2 2 0 0 1-2 2H26a2 2 0 0 1-2-2V18a2 2 0 0 1 2-2z");
}
