.wbzpftb7t {
  fill: currentColor;
  fill-opacity: var(--svg-fill-opacity--0-25, 0.25);
  d: path("m29.783 44.525l-.024.035a13.96 13.96 0 0 0-2.242 10.723l.417 2.085a12.305 12.305 0 0 0 24.132 0l.417-2.085a13.96 13.96 0 0 0-2.241-10.723l-.024-.035a1.7 1.7 0 0 1-.329-.049a40.8 40.8 0 0 0-19.778 0a1.7 1.7 0 0 1-.328.05M44.5 14.504a6.364 6.364 0 0 0-10.835 3.894a8.96 8.96 0 0 1 6.191 6.968q.15.005.298 0a8.96 8.96 0 0 1 6.182-6.965a6.34 6.34 0 0 0-1.836-3.897");
}
