.wcaar9b5b {
  stroke-dasharray: 1.5 2;
  d: path("M13.1958 2.07129C13.1958 2.07129 12.0981 6.17 14.5981 10.5001C17.0981 14.8303 21.1965 15.929 21.1965 15.929M2.80347 8.07129C2.80347 8.07129 6.90191 9.17 9.40191 13.5001C11.9019 17.8303 10.8042 21.929 10.8042 21.929");
  opacity: var(--svg-opacity--0-5, 0.5);
}
