.wcq57kfry {
  fill: currentColor;
  fill-opacity: var(--svg-fill-opacity--0-15, 0.15);
  d: path("M721.7 184.9L610.9 295.8l120.8 120.7l-8 21.6A481.29 481.29 0 0 1 438 723.9l-21.6 8l-.9-.9l-119.8-120l-110.8 110.9l104.5 104.5c10.8 10.7 26 15.7 40.8 13.2c117.9-19.5 235.4-82.9 330.9-178.4s158.9-213.1 178.4-331c2.5-14.8-2.5-30-13.3-40.8z");
}
