.wd1t5jbpm {
  stroke: var(--svg-color--000, #000);
  stroke-width: var(--svg-stroke-width--0-5px, 0.5px);
  d: path("M185.844 83.464c.122-1.139.407-1.79.163-3.459c-.04-.49-.163-2.36 0-3.257c0 0-.65 3.134 1.506 3.746M173.718 85.5c0-1.59-.326-2.484-.326-2.484c-.488-2.238.407-3.093.04-3.662c-.325-.488-.813-1.507-.162-3.542c0 0-1.139 4.194 1.791 4.194c2.97 0 2.85-1.1 2.85-1.1");
}
