.wece31pxe {
  fill: none;
  stroke: currentColor;
  stroke-width: var(--svg-stroke-width--1-5px, 1.5px);
  d: path("m4.768 11.518l3-3M4 15h16M4 19h9M6 6.75l3.536 3.536a2.5 2.5 0 0 0 .667-2.335l2.315-1.683l-2.5-2.5l-1.684 2.314A2.5 2.5 0 0 0 6 6.75Z");
}
