.wek5ttb-d {
  stroke: var(--svg-color--191919, #191919);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M14.39 3.87h6.697a.957.957 0 0 1 .956.956v10.522H1.956V4.826a.957.957 0 0 1 .957-.956h6.695");
}
