.wf368b6bh {
  fill: currentColor;
  fill-opacity: var(--svg-fill-opacity--0-25, 0.25);
  stroke: currentColor;
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M67.423 39a2 2 0 0 1 0 2L54.577 63.248a2 2 0 0 1-1.732 1h-25.69a2 2 0 0 1-1.732-1L12.577 41a2 2 0 0 1 0-2l12.846-22.25a2 2 0 0 1 1.732-1h25.69a2 2 0 0 1 1.732 1z");
}
