.wfzv3ve_g {
  fill: var(--svg-color--66e1ff, #66e1ff);
  stroke: var(--svg-color--191919, #191919);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M20.609 4.341h-4.783a.48.48 0 0 0-.478.478v.957c0 .264.214.478.478.478h4.782a.48.48 0 0 0 .479-.478v-.957a.48.48 0 0 0-.478-.478m-.343 12.435a.48.48 0 0 0-.334.137a2.98 2.98 0 0 1-1.791.533a2.374 2.374 0 0 1-2.519-2.582h6.9a.48.48 0 0 0 .478-.478c-.018-5.525-3.928-5.74-4.783-5.74c-2.479 0-5.26 1.218-5.26 5.57c0 4.575 3.308 5.43 5.26 5.43a4.89 4.89 0 0 0 4.405-2.126a.478.478 0 0 0-.397-.744zm-4.44-3.826a2.397 2.397 0 0 1 2.391-2.391a2.397 2.397 0 0 1 2.392 2.39z");
}
