.wgk97yw9n {
  fill: var(--svg-color--e41d2d, #e41d2d);
  stroke: var(--svg-color--e41d2d, #e41d2d);
  stroke-width: var(--svg-stroke-width--3-14px, 3.14px);
  d: path("m106 109l-1 107h1c61 0 110-48 110-107S167 2 106 2z");
}
