.wgy-zbb8d {
  fill: var(--svg-color--4285f4, #4285f4);
  fill-rule: evenodd;
  d: path("M16.25 4.87h-4.51a.37.37 0 0 0-.3.4v2.82a.36.36 0 0 0 .3.39h4.51a.36.36 0 0 0 .31-.39V5.28a.37.37 0 0 0-.31-.41m4.32 5.29h-8.32c-.31 0-.56.18-.56.39v2.82c0 .22.25.4.56.4h8.32c.31 0 .56-.19.56-.4v-2.82c0-.22-.25-.39-.56-.39m-5.91 5.28h-3.53c-.13 0-.23.18-.23.39v2.82c0 .22.1.39.23.39h3.53c.13 0 .24-.18.24-.39v-2.82c-.01-.22-.11-.39-.24-.39");
}
