.wh1f9q4dk {
  fill: var(--svg-color--2859c5, #2859c5);
  fill-rule: evenodd;
  d: path("M29.51 26.878c-1.642.232-2.67 1.55-2.815 3.202a51 51 0 0 0-.195 4.42c0 4.514 2.383 8.738 6.396 10.804c1.341.69 2.65 1.196 3.604 1.196s2.263-.506 3.604-1.196c4.014-2.066 6.396-6.29 6.396-10.804a51 51 0 0 0-.196-4.42c-.145-1.652-1.172-2.97-2.814-3.202c-1.438-.203-3.646-.378-6.99-.378s-5.552.175-6.99.378");
}
