.wh8ezzf6j {
  fill: currentColor;
  stroke: currentColor;
  stroke-linecap: round;
  stroke-miterlimit: 10;
  stroke-width: var(--svg-stroke-width--32px, 32px);
  d: path("M144 80h224m-256 48h288");
}
