.whwdwc9ze {
  fill: none;
  stroke: currentColor;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: var(--svg-stroke-width--1-5px, 1.5px);
  d: path("m18 16l4-4l-4-4m4 4H2m4 4l-4-4l4-4");
}
