.wi6gu6bfm {
  fill: currentColor;
  fill-opacity: var(--svg-fill-opacity--0-25, 0.25);
  d: path("M28.485 18a22.5 22.5 0 0 0-15.9 6.586l-.342.343a21.314 21.314 0 0 0 0 30.142l.343.343A22.5 22.5 0 0 0 28.486 62h23.029a22.5 22.5 0 0 0 15.9-6.586l.342-.343a21.314 21.314 0 0 0 0-30.142l-.343-.343A22.5 22.5 0 0 0 51.514 18zm-13.07 9.414A18.5 18.5 0 0 1 28.484 22h23.03c4.902 0 9.604 1.948 13.07 5.414l.344.343a17.313 17.313 0 0 1 0 24.486l-.343.343A18.5 18.5 0 0 1 51.515 58h-23.03a18.5 18.5 0 0 1-13.07-5.414l-.344-.343a17.313 17.313 0 0 1 0-24.486z");
}
