.wiggwjb1z {
  fill: var(--svg-color--fff, #FFF);
  fill-rule: nonzero;
  d: path("M175.852 41.281c-.01-.017-.03-.06-.105-.017c-.232-.013-.491-.01-.686-.125c-.203-.119-.412-.244-.636-.235a.56.56 0 0 1 .246-.132a1.1 1.1 0 0 1 .45-.009c.237.039.446.084.607.145c.156.058.265.131.313.224l.013.015q.093.06.161.124a.6.6 0 0 1 .089.101a.8.8 0 0 1-.223-.013a1 1 0 0 1-.231-.08z");
}
