.wjw1__t7g {
  fill: var(--svg-color--e31d1c, #e31d1c);
  fill-rule: evenodd;
  d: path("M13.747 5.226c-.28 0-.87.3-.87.3l.458 1.017l2.77-.104l2.768.104l.459-1.018s-.59-.3-.87-.3c-.123 0-.139-.072-.157-.153c-.022-.103-.047-.221-.303-.221c-.182 0-.31.03-.413.054c-.158.037-.26.06-.405-.054l-.019-.015c-.236-.186-.481-.38-.878-.38c-.08 0-.139.075-.183.195c-.044-.12-.103-.195-.182-.195c-.397 0-.643.194-.88.38l-.017.015c-.146.115-.248.091-.405.054a1.7 1.7 0 0 0-.413-.054c-.256 0-.282.118-.304.221c-.018.081-.033.154-.156.154");
}
