.wjx2g5uen {
  stroke: var(--svg-color--fff, #fff);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: var(--svg-stroke-width--4px, 4px);
  d: path("M32 4h8v10l-8 6M16 4H8v10l8 6");
}
