.wk173bt9a {
  fill: var(--svg-color--2859c5, #2859c5);
  fill-rule: evenodd;
  d: path("M12.932 16.245a3.315 3.315 0 1 1 6.63 0a3.315 3.315 0 0 1-6.63 0m3.315-5.315a5.315 5.315 0 1 0 2.985 9.714l2.421 2.422l1.415-1.414l-2.422-2.422a5.315 5.315 0 0 0-4.399-8.3");
}
