.wkho5gbiz {
  fill: currentColor;
  d: path("M4.25 14.4v-1.826c0-.258 0-.494.016-.692a1.8 1.8 0 0 1 .175-.676a1.75 1.75 0 0 1 .764-.765c.23-.118.464-.158.677-.175c.198-.016.434-.016.692-.016H12a.75.75 0 0 1 0 1.5H8.25v1.438c0 .285 0 .531-.043.75a2.25 2.25 0 0 1-1.768 1.769c-.22.043-.466.043-.751.043H5.6c-.084 0-.218 0-.344-.024a1.25 1.25 0 0 1-.982-.982a2 2 0 0 1-.024-.344m2.5-2.65H6.6c-.292 0-.467 0-.596.011a.6.6 0 0 0-.12.018a.25.25 0 0 0-.105.104a.6.6 0 0 0-.018.121c-.01.13-.011.304-.011.596v1.65c.279-.001.349-.005.396-.014a.75.75 0 0 0 .59-.59c.01-.054.014-.137.014-.521zm-.97.13v.002zm.1-.1h.002z");
  opacity: var(--svg-opacity--0-5, 0.5);
}
