.wldbe0b9g {
  stroke: var(--svg-color--000, #000);
  stroke-width: var(--svg-stroke-width--0-104px, 0.104px);
  d: path("M127.6 90.2c-.084-.228-.236-.432-.236-.432c.78-.228 1.864-.372 3.072-.376c1.204.004 2.296.148 3.076.376l-.208.364a3 3 0 0 0-.152.324q-1.054-.323-2.72-.328c-1.116.004-2.188.14-2.744.344c.008 0-.04-.128-.096-.272h.008");
}
