.wle5dvxyu {
  stroke-linejoin: round;
  d: path("M6.76196 17.6471H14.381C14.381 14.7882 16.7262 12.4706 19.6191 12.4706L18.615 6.51663C18.4642 5.62255 18.3888 5.1755 18.163 4.84003C17.964 4.54431 17.6845 4.31026 17.3566 4.1649C16.9846 4 16.526 4 15.6088 4H14.381");
  opacity: var(--svg-opacity--0-5, 0.5);
}
