.wn3iizbfl {
  fill: none;
  stroke: var(--svg-color--45413c, #45413c);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M25.85 6a6.3 6.3 0 0 0-4.56-.15a2.45 2.45 0 0 1-2.78-.5s-1.85 3.18.31 4.34a7.57 7.57 0 0 0 5-.17l-.25 1.73s1.14-.65 1.76.05s.3 2.66-1 2.47a2.67 2.67 0 0 0 .94 2.38a5 5 0 0 0 3.25-4c.38-2.79-.2-4.76-2.67-6.15");
}
