.wnk9nabrt {
  fill: var(--svg-color--ffef5e, #ffef5e);
  stroke: var(--svg-color--191919, #191919);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M7.028 20.904a2.096 2.096 0 0 1-4.192 0c0-.827 1.072-2.347 1.682-3.143a.524.524 0 0 1 .827 0c.61.796 1.683 2.316 1.683 3.143");
}
