.wnnbedb_a {
  fill: var(--svg-color--f6b40e, #F6B40E);
  stroke: var(--svg-color--85340a, #85340A);
  stroke-width: var(--svg-stroke-width--0-417px, 0.417px);
  d: path("m150.991 95.435l23.247-10.67s.444-.183.322-.48c-.123-.297-.567-.112-.567-.112l-23.983 8.893m9.045.255c3.535.13 5.48-2.045 8.637-1.76s4.942-1.45 6.17-1.852s1.962.435 2.137.074s-.795-1.151-2.541-.894s-2.264 1.583-6.12 1.271c-3.856-.311-4.755 1.577-8.272 1.118");
}
