.wodrcob-f {
  fill: none;
  stroke: var(--svg-color--45413c, #45413c);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M7.52 31.51a1.18 1.18 0 0 1 .6-1.51m13.25-.6a6 6 0 0 0 3.9-2.09h0a5.93 5.93 0 0 0 1.35-4.2l-.13-1.84");
}
