.wolh3pfgd {
  fill: var(--svg-color--828282, #828282);
  fill-rule: evenodd;
  d: path("m26.289 59.883l-6.703 6.703a2 2 0 1 0 2.828 2.828l9.42-9.419h-3.911q-.825 0-1.634-.112m21.878.112l9.419 9.42a2 2 0 1 0 2.828-2.83l-6.703-6.702q-.808.112-1.633.112z");
}
