.wp-lbwbqz {
  fill: var(--svg-color--ff52a1, #ff52a1);
  stroke: var(--svg-color--231f20, #231f20);
  d: path("M36.12 18.19c-.68-.4-2.66-.64-5.23-.78c-.25-2.83-.74-5.34-1.68-5.95c-.66-.84-3.47-1.1-6.46-1.18c0-1 0-1.91-.05-2.82a11.1 11.1 0 0 0 3.42-.3c.75-.28.88-2.11.88-3.16s-.09-2.9-.84-3.18c-.38-.27-2.37-.3-4-.3c-.64 0-3.5-.08-4 .3c-.75.28-.84 2.11-.84 3.18v6.29c-3 .08-5.8.34-6.45 1.18c-.94.61-1.43 3.12-1.68 5.95c-2.58.14-4.56.38-5.23.78C.88 19.07.5 24.94.5 28.36s.38 9.28 3.38 10.17c1.5.88 9.5 1 16.12 1s14.62-.09 16.12-1c3-.89 3.38-6.76 3.38-10.17s-.38-9.29-3.38-10.17Z");
}
