.wp1qw5z1t {
  fill: var(--svg-color--009b3a, #009B3A);
  fill-rule: nonzero;
  stroke: var(--svg-color--000, #000);
  stroke-width: var(--svg-stroke-width--0-075px, 0.075px);
  d: path("M156.914 81.753c.565.379.968.799.899.937c-.069.139-.583-.057-1.148-.435l-.003-.002c-.565-.379-.968-.798-.899-.937c.069-.138.583.057 1.148.436q.002-.001.003.001z");
}
