.wpi2zy5-a {
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M33.95 29.96c.549 8.356-9.322 9.703-11.95 10.33c-.332.08-.632.25-.874.492l-2.223 2.223a1.86 1.86 0 0 1-1.318.546h-3.512a2.8 2.8 0 0 1-2.652-1.911l-.53-1.593a2.8 2.8 0 0 1 .254-2.322l8.786-14.64l4.724-4.724l-2.115-6.905s7.803-.699 8.414 5.33c0 0 16.93 2.443 10.55 19.38c0 0-1.625 5.95 2.375 11.18");
}
