.wq6fa8bzw {
  fill: none;
  stroke: var(--svg-color--000, #000);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: var(--svg-stroke-width--2px, 2px);
  d: path("M9.5 30.5S5 55 30 63M6 44s2 11 12.017 16.958M62.449 43.47s5.405-24.317-19.282-33.238m23.28 18.839s-1.59-11.066-11.38-17.392");
}
