.wr5lmfzzp {
  fill: currentColor;
  fill-opacity: var(--svg-fill-opacity--0-25, 0.25);
  d: path("m32.48 41.008l-3.407 7.62A.63.63 0 0 1 28.5 49h-6a4 4 0 1 0 0 8h6c3.403 0 6.488-2 7.877-5.106l1.368-3.061l-1.209-.437a6.37 6.37 0 0 1-4.056-7.388");
}
