.wruur_c1g {
  fill: var(--svg-color--45413c, #45413c);
  stroke: var(--svg-color--45413c, #45413c);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M28.38 21.55a1.32 1.32 0 1 0 2.64 0a1.32 1.32 0 1 0-2.64 0m-11.4 0a1.32 1.32 0 1 0 2.64 0a1.32 1.32 0 1 0-2.64 0");
}
