.wsp8zbb5p {
  fill: var(--svg-color--452c25, #452c25);
  stroke: var(--svg-color--000, #000);
  stroke-width: var(--svg-stroke-width--0-1px, 0.1px);
  d: path("M331.6 198.6s.7 3.3 0 3.6c-1.2.5-2-2.3-2-3.4s2-.2 2-.2zm-2.6 5.1s.2 2.5-.2 2.7c-.3.2-1.2.2-2.1-1.8l-.5-1.2l2.3-1.2l.5 1.3");
}
