.wt8-go8ph {
  fill: var(--svg-color--ab6d29, #ab6d29);
  stroke: var(--svg-color--4d2a15, #4d2a15);
  stroke-width: var(--svg-stroke-width--0-3px, 0.3px);
  d: path("M255 200.5s-5.7-1-5.6 3.6q0 2 1.5 2.3c1.2.3 3.6.5 5.6 2.3s2.2 3.1 2.2 4.2c0 1-.5 2-.5 2l1.3 6.2l1.2 4.6l3.8-2.2l2.3-6.8l-2.9-12.2z");
}
