.wu-b2vlft {
  fill: var(--svg-color--2859c5, #2859c5);
  fill-rule: evenodd;
  d: path("M35.975 37.263a7 7 0 1 0-7.964-.01c-2.708 1.074-4.841 3.215-5.833 5.878c-.528 1.418.256 3.043 1.765 3.159l.101.007c1.928.11 4.548.203 7.936.203s6.009-.092 7.937-.203l.102-.007c1.509-.116 2.292-1.742 1.764-3.159c-.988-2.655-3.111-4.79-5.808-5.868");
}
