.wux7xvbvh {
  fill: var(--svg-color--fff, #fff);
  fill-rule: evenodd;
  stroke: var(--svg-color--000, #000);
  stroke-width: var(--svg-stroke-width--1-1px, 1.1px);
  d: path("M273.8 123.6a3.4 3.4 0 1 1-6.7 0a3.4 3.4 0 0 1 6.7 0zm-7.3 4.3a3.4 3.4 0 1 1-6.7 0a3.4 3.4 0 0 1 6.7 0zm22.4-5.4a3.4 3.4 0 1 1-6.6 0a3.4 3.4 0 0 1 6.6 0zm9.4.8a3.4 3.4 0 1 1-6.7 0a3.4 3.4 0 0 1 6.7 0zm8.2-.5a3.4 3.4 0 1 1-6.6 0a3.4 3.4 0 0 1 6.7 0z");
}
