.wvcoj4h9z {
  fill: var(--svg-color--ffe500, #ffe500);
  stroke: var(--svg-color--45413c, #45413c);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("m23.19 10.14l-1.45 2a1 1 0 0 0-.17.75l.79 4.75a1 1 0 0 0 1 .84h1.3a1 1 0 0 0 1-.84l.79-4.75a1 1 0 0 0-.17-.75l-1.45-2a1 1 0 0 0-1.64 0");
}
