.wvg5rwbgz {
  fill: var(--svg-color--f0f0f0, #f0f0f0);
  stroke: var(--svg-color--45413c, #45413c);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("m20.25 45l-2-5.29l1.21-1.6l-1.11-.53a13 13 0 0 1 .06-3.75C18.6 32.34 19.29 30 24 30s5.41 2.3 5.63 3.79a13 13 0 0 1 .06 3.75l-1.11.53l1.21 1.6l-2 5.29Z");
}
