.ww0ts7b9o {
  fill: none;
  stroke: currentColor;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: var(--svg-stroke-width--2px, 2px);
  d: path("M7.5 22C3 22 3 14 3 11s1-9 9-9s9 4 9 6s-1 5-6 6s-3 8-7.5 8");
}
