.ww2udeb7u {
  fill: currentColor;
  fill-rule: evenodd;
  d: path("M3.322 2.322a1 1 0 0 0-1 1v4.242a1 1 0 1 0 2 0V4.322h3.242a1 1 0 0 0 0-2zm-.708 19.07a1 1 0 0 1 0-1.414l8.879-8.878a1 1 0 0 1 1.414 1.414L4.03 21.392a1 1 0 0 1-1.415 0Z");
}
