.wy6p5zb-w {
  fill: none;
  stroke: var(--svg-color--000, #000);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: var(--svg-stroke-width--2px, 2px);
  d: path("M32.377 43.756s.75 2.584 3.75 2.917s4-2.917 4-2.917");
}
