.wy_5wvigb {
  fill: var(--svg-color--ff6242, #ff6242);
  stroke: var(--svg-color--45413c, #45413c);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("m23.64 30.49l-2.43-2.44a.92.92 0 0 0-.54-.23h-9a.77.77 0 0 0-.75.91l.26 1.37h8.49a.77.77 0 0 1 .56.23l2.56 2.43h18.34v-2.27Z");
}
