.wyk34b_4d {
  fill: none;
  stroke: var(--svg-color--000, #000);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: var(--svg-stroke-width--2px, 2px);
  d: path("M42.24 58.144A23 23 0 0 1 36 59a23 23 0 0 1-6.45-.916M15.875 47.143A22.9 22.9 0 0 1 13 36c0-12.702 10.298-23 23-23s23 10.298 23 23c0 4.043-1.043 7.842-2.875 11.143");
}
