.p-e7n3vsw {
  fill: var(--svg-color--ffbd03, #FFBD03);
  fill-rule: nonzero;
  stroke: var(--svg-color--000, #000);
  stroke-width: var(--svg-stroke-width--0-15px, 0.15px);
  d: path("M217.819 124.545s.344 1.654.159 1.912a.6.6 0 0 1-.874.141c-.22-.163-.519-.597-.531-.92s-.021-.736.299-.837c.27-.086.676.837.676.837s-.487-1.182-.296-1.424c.212-.268.565-.487.963-.285c.294.149.251 1.552.251 1.552s-.042-1.197.51-1.151c.305.025.556.598.581 1.044c.024.445-.135.884-.52 1.061c-.39.179-.756.042-.862-.28c-.134-.414-.356-1.65-.356-1.65z");
}
