.p-gpxkbpm {
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M10.007 10.687L4 14.368a3 3 0 0 0 4.098 1.099l4.164-2.617m1.188 4.02l.32 2.022c.226 1.604.34 2.407.085 2.944s-.748.537-1.735.537h-.24c-.987 0-1.48 0-1.735-.537c-.254-.537-.141-1.34.085-2.944l.32-2.023");
}
