.p-y-5obbj {
  fill: var(--svg-color--fff, #fff);
  fill-rule: evenodd;
  d: path("M469.5 87.4L186.4 1.1c-16.5-5.1-33.3 7.2-33.3 24.4V127l187.7 57.2c10.8 3.2 18.1 13.1 18.2 24.4V385l95.4 29.1c16.5 5 33.3-7.2 33.3-24.4v-278c-.1-11.2-7.5-21.1-18.2-24.3");
  opacity: var(--svg-opacity--0-5, 0.5);
}
