.p05adsb7j {
  stroke: var(--svg-color--000, #000);
  stroke-width: var(--svg-stroke-width--0-5px, 0.5px);
  d: path("M169.444 86.03v22.1c0 4.395-.61 21.897-19.412 28.695c-18.841-6.798-19.452-24.299-19.452-28.695v-22.1h38.864");
}
