.p0rwbubiw {
  fill: none;
  stroke: var(--svg-color--000, #000);
  stroke-linecap: round;
  stroke-miterlimit: 10;
  stroke-width: var(--svg-stroke-width--2px, 2px);
  d: path("m22.273 48.897l-3.392 3.133a1.66 1.66 0 0 1-2.347.003l-.046-.046a1.66 1.66 0 0 1-.003-2.348l17.44-16.423l8.435-5.072l10.125-10.15a1.66 1.66 0 0 1 2.347-.003l.047.047a1.66 1.66 0 0 1 .003 2.347L44.262 31.03L36 36.22L25.205 46.256m17.788-24.852l1.078 1.077m1.56-3.714l1.077 1.077m-5.789 5.99l-3.188-3.188s-1.192-2.241 1.246-2.241s1.942-2.047 1.942-2.047a1.666 1.666 0 0 1 1.976-2.01a1.876 1.876 0 0 0 2.144-1.65s-.217-2.398 1.98-1.593l3.188 3.187");
}
