.p0xlcm87d {
  stroke: var(--svg-color--703d29, #703D29);
  stroke-width: var(--svg-stroke-width--0-383px, 0.383px);
  d: path("M179.908 120.921c.524-.617 1.727-1.542 3.103-1.711c1.396-.172 2.609.235 3.848.901c2.418 1.301 3.766 2.699 4.665 5.292c.228.659.417 1.652.391 2.706c-.042 1.681-.469 3.519-.928 4.407c-.4.775-1.446 4.199-7.184 6.561c-3.348 1.378-8.49 1.696-12.035 1.836c-4.877.192-9.376.373-11.989 3.592");
}
