.p127b-bpz {
  stroke: var(--svg-color--241183, #241183);
  stroke-width: var(--svg-stroke-width--0-049px, 0.049px);
  d: path("M147.784 76.331c.661-.685 1.493-.893 2.484-.905h.061c1.064.012 1.982.367 2.533 1.114");
}
