.p12ft3bqu {
  stroke: var(--svg-color--4147d5, #4147d5);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M9.147 3.795a1.319 1.319 0 1 0 2.634-.152a1.319 1.319 0 1 0-2.634.152M1.011 6.93L5.6 9.483c.467.26.681.818.507 1.324v0c-.202.588-.85.892-1.432.674L.56 9.936");
}
