.p12t-_bby {
  fill: var(--svg-color--05509f, #05509F);
  fill-rule: nonzero;
  d: path("M122.065 70.813s-.687 1.912-.657 3.374c.022 1.469-.199 3.499-.221 3.802c-.022.221-.288 1.41-.31 2.311c-.007.317.066.281.14.472c0 0 .473.303.746-.111v-.037c.03-.635.281-2.104.414-3.174c.14-1.07-.052-4.193.192-5.123c.118-.435.192-.687.236-.834a1 1 0 0 1 .074-.192z");
}
