.p2a2nzbqv {
  stroke: var(--svg-color--022037, #022037);
  stroke-width: var(--svg-stroke-width--0-049px, 0.049px);
  d: path("M135.245 88.957c.012.379.441 1.321.526 1.627c.074.306.086.624.159.917c.122.489.11.489.269.942c.085.233.342.502.502.587c.049.024 2.055-3.242 2.117-3.266");
}
