.p3gp_cf0g {
  fill: var(--svg-color--gold, gold);
  stroke: var(--svg-color--806600, #806600);
  stroke-miterlimit: 135.2;
  stroke-width: var(--svg-stroke-width--0-3px, 0.3px);
  d: path("M253.4 100.3c-.7-.2-1.6-1.1-2.4-1.1a2 2 0 0 0-1.8 1a2 2 0 0 0 .5 1.7l1.4.8l-1 1.7a2 2 0 0 0 .6 1.2q.4.8 1.3.9l1.5-.2l.2 1.2a3 3 0 0 0 2.2 1.2a2 2 0 0 0 1.3-.7c.3-.4.2-1.4.7-2l2-1.6q1 .7.7 2l1.7-1.4l.5-2a2 2 0 0 1 .8 2.2l1.8-1.3q.5-.9.8-2.1q1 1.1.5 2.4a7 7 0 0 0 1.9-1.7l.4-1.7c1.7.1 3-.6 3-1.5q0-1-2-1.7l-.7-1.3v-1.2a5 5 0 0 1 1.6-2l3-1.7l-.6-3l-7-1.2l-7.9 2c1.5.7 4.6 2.9 4.4 3.7c0 .3-.8.6-1.1 1q-.2.6.2 1.2c.3.4 1.1.5 1.4.9q.4.6 0 1.1c-.5.7-2.3 1-3.2 1.4c-1.6.7-4.2 2.2-4.2 2.2a6 6 0 0 1-2.4-.4z");
}
