.p4b4fbb7s {
  cx: 35.99px;
  cy: 20.91px;
  fill: none;
  stroke: var(--svg-color--000, #000);
  stroke-miterlimit: 7;
  stroke-width: var(--svg-stroke-width--2px, 2px);
  rx: 11.17px;
  ry: 2.233px;
}
