.p4bi4503y {
  fill: var(--svg-color--8fbffa, #8fbffa);
  fill-rule: evenodd;
  d: path("M3.248 1.58A5.948 5.948 0 1 1 9.38 11.646a.75.75 0 0 1-1.05-.687v-.083a.75.75 0 0 1 .75-.75h.002a4.448 4.448 0 1 0-4.162 0h.002a.75.75 0 0 1 .75.75v.083a.75.75 0 0 1-1.05.687A5.948 5.948 0 0 1 3.248 1.58");
}
