.p5fx-cbld {
  fill: var(--svg-color--316d3a, #316d3a);
  stroke: var(--svg-color--000, #000);
  stroke-width: var(--svg-stroke-width--0-4px, 0.4px);
  d: path("M362.2 216.3A44 44 0 0 1 345 233c1.5-2 2-4.6 2-6.7c-8.7 4-26.2 3.6-33.3.5c10.6 3.3 29.8 3.5 45-16q2.3 2.9 3.5 5.6z");
}
