.p6f-nex1q {
  fill: var(--svg-color--009543, #009543);
  stroke: var(--svg-color--000, #000);
  stroke-width: var(--svg-stroke-width--0-375px, 0.375px);
  d: path("M150.035 81.079c.574-.088 1.156.944 1.301 2.307s-.202 2.539-.775 2.627c-.574.089-1.156-.944-1.301-2.307s.202-2.539.775-2.627z");
}
