.p6k1ugbcc {
  fill: var(--svg-color--45413c, #45413c);
  stroke: var(--svg-color--45413c, #45413c);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M13.59 26.94a1.38 1.38 0 1 1-1.3-1.45a1.38 1.38 0 0 1 1.3 1.45");
}
