.p725vzbaj {
  stroke: var(--svg-color--4147d5, #4147d5);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M10 6.5a3 3 0 1 1-6 0V4.31a.5.5 0 0 1 .72-.45L7 5l2.28-1.14a.5.5 0 0 1 .72.45z");
}
