.p9gehxb2g {
  stroke: var(--svg-color--fff, #fff);
  stroke-linejoin: round;
  stroke-miterlimit: 10;
  stroke-width: var(--svg-stroke-width--4px, 4px);
  d: path("m136.583 72.942l21.591 87.496l-86.567-24.945z");
}
