.p9i2zozwh {
  stroke: var(--svg-color--000, #000);
  stroke-width: var(--svg-stroke-width--0-037px, 0.037px);
  d: path("M150.257 65.43s.085.294.183.49c0 0-.159.122-.183.195c0 0-.085-.195-.171-.245c0 .001.158-.256.171-.44z");
}
