.p9oegpbri {
  fill: var(--svg-color--e7e7e7, #e7e7e7);
  stroke: var(--svg-color--000, #000);
  stroke-width: var(--svg-stroke-width--0-1px, 0.1px);
  d: path("M256.5 264.4v1h-1v-1zm-1 .3h1m-.9.6v-.6m.8.6v-.6m.5-.6l-.6-.4h-.6l-.6.4h1.8m-1.2-.5h.5m-.3-.2v.2h.2v-.2h-.2m-.3 1v.1m.3 0zm.1 0zm.4 0");
}
