.p_kozdb7q {
  fill: none;
  stroke: currentColor;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: var(--svg-stroke-width--2px, 2px);
  d: path("M19.041 3.549A11 11 0 1 0 22.817 10H12v4h6.708a7 7 0 1 1-2.227-7.378Z");
}
