.pab4h7bqq {
  stroke: currentColor;
  stroke-width: var(--svg-stroke-width--2px, 2px);
  d: path("M19 21H5c-.943 0-1.414 0-1.707-.293S3 19.943 3 19V9h16c.943 0 1.414 0 1.707.293S21 10.057 21 11v1h-3a3 3 0 1 0 0 6h3v1c0 .943 0 1.414-.293 1.707S19.943 21 19 21Z");
}
