.paugmvd5n {
  fill: currentColor;
  fill-opacity: var(--svg-fill-opacity--0-25, 0.25);
  d: path("M36 19.86a4 4 0 0 0-4-4h-8a4 4 0 0 0-4 4v40.28a4 4 0 0 0 4 4h8a4 4 0 0 0 4-4zm24 0a4 4 0 0 0-4-4h-8a4 4 0 0 0-4 4v40.28a4 4 0 0 0 4 4h8a4 4 0 0 0 4-4z");
}
