.pbr_9cb4l {
  fill: var(--svg-color--silver, silver);
  fill-rule: nonzero;
  stroke: var(--svg-color--000, #000);
  stroke-width: var(--svg-stroke-width--0-15px, 0.15px);
  d: path("m187.916 114.715l2.128 2.157l-1.419 1.438l-2.128-2.157c-.708-.719.71-2.158 1.419-1.438z");
}
