.pbzv-hbep {
  stroke: var(--svg-color--4f4f4f, #4f4f4f);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: var(--svg-stroke-width--4px, 4px);
  d: path("m25.757 27.788l3.857 3.857l.772.77l3.857 3.858");
}
