.pc4_1nbys {
  fill: var(--svg-color--2859c5, #2859c5);
  fill-rule: evenodd;
  d: path("M38.59 34.582a14.9 14.9 0 0 0 0-21.164a2 2 0 1 1 2.82-2.836c7.453 7.409 7.453 19.427 0 26.836a2 2 0 1 1-2.82-2.836");
}
