.pccs21cwi {
  fill: var(--svg-color--ebcb00, #ebcb00);
  stroke: var(--svg-color--45413c, #45413c);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M3 25.31C5.59 28.17 13.41 25 13.41 25l.35-2.41l-11.15-2.3Z");
}
