.pd6rn3b6w {
  stroke: var(--svg-color--092f63, #092f63);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
  d: path("M3.5.5L.5 3l3 2.5zm8 0l3 2.5l-3 2.5zM7.5 16v4l3 3.5l4-3.5l4 3.5l3-3.5v-8.5m2-1.2l-2 1.2l-2-1.2v-2l2-1.3l2 1.3z");
}
