.pe-2mubyz {
  fill: none;
  stroke: var(--svg-color--45413c, #45413c);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M42.85 16.77a7.7 7.7 0 0 0 .65-3.11A7.74 7.74 0 0 0 37 6a6.5 6.5 0 0 0-12.4-.44a4.4 4.4 0 0 0-1.85-.4a4.5 4.5 0 0 0-2.83 8a6.8 6.8 0 0 0-.17 1.5a6.5 6.5 0 0 0 6.68 6.5a8.5 8.5 0 0 0 .77 6a14.5 14.5 0 0 0-1.05 4.14a7 7 0 0 0-.9.28a4.1 4.1 0 0 0-1.35-.86a4.23 4.23 0 0 0-5.54 5.39A5.49 5.49 0 0 0 20 45.33a5.48 5.48 0 0 0 5.2-.64a7 7 0 0 0 8.65-3.25c3.59-.29 7.26-3.26 9-7.76a14 14 0 0 0 1-6.13a6.49 6.49 0 0 0-1-10.78");
}
