.pe14vrbci {
  fill: currentColor;
  fill-rule: evenodd;
  d: path("M23 15.5C23 19.6421 19.6421 23 15.5 23C11.3579 23 8 19.6421 8 15.5C8 11.3579 11.3579 8 15.5 8C19.6421 8 23 11.3579 23 15.5ZM16.5 12L14.5 12L14.5 15.5C14.5 16.0523 14.9477 16.5 15.5 16.5L19 16.5L19 14.5L16.5 14.5L16.5 12Z");
  stroke: none;
}
