.pehbxlbcw {
  fill: var(--svg-color--8fbffa, #8fbffa);
  fill-rule: evenodd;
  d: path("M9.374 46.05c3.065.212 8.164.45 15.626.45s12.56-.238 15.626-.45c2.82-.195 5.1-2.306 5.38-5.174c.247-2.525.494-6.417.494-11.876s-.247-9.351-.494-11.876c-.28-2.868-2.56-4.98-5.38-5.174c-3.065-.212-8.164-.45-15.626-.45s-12.56.238-15.626.45c-2.82.195-5.1 2.306-5.38 5.174C3.747 19.649 3.5 23.541 3.5 29s.247 9.351.494 11.876c.28 2.868 2.56 4.98 5.38 5.174");
}
