.pehkr6bqg {
  fill: var(--svg-color--87898c, #87898c);
  stroke: var(--svg-color--45413c, #45413c);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M26.58 41.32h-5.16a1.09 1.09 0 0 1-1.08-.87L20 38.74h8l-.37 1.71a1.09 1.09 0 0 1-1.05.87");
}
