.pehsawbat {
  fill: var(--svg-color--00034a, #00034a);
  stroke: var(--svg-color--00034a, #00034a);
  stroke-miterlimit: 10;
  d: path("M8.279 23.28a12.5 12.5 0 0 0-.668 4.219c0 7.246 6.057 12.001 13 12.001c7.85 0 11.826-4.362 11.826-10.818c.01-1.665-.32-3.314-.97-4.847a16.3 16.3 0 0 0 4.014-2.065a2.76 2.76 0 0 0 .707-2.85c-.55-1.284-2.135-2.81-3.615-2.88c-.49-.069-1.85.31-3.457.849c.264-.957.388-1.952.364-2.952a10 10 0 0 0-1.28-5.196c.204-2.055.32-3.935.282-4.255c-.19-1.43-3-2.9-4.12-3.345c-1.076-.426-2.908-.969-3.606-.387a32 32 0 0 0-2.404 3.121c-5.196.407-7.755 3.878-7.755 8.812a10.2 10.2 0 0 0 1.124 4.924c-2.394-.872-4.78-1.657-5.467-1.56a2.75 2.75 0 0 0-2.433 1.686a2.8 2.8 0 0 0-.075 1.519c.23.993 1.253 1.844 1.946 2.543c.817.57 1.683 1.066 2.587 1.48z");
}
