.pf26_nb7p {
  fill: var(--svg-color--d52b1e, #d52b1e);
  stroke: var(--svg-color--000, #000);
  stroke-width: var(--svg-stroke-width--0-1px, 0.1px);
  d: path("M344 199.9a.3.4 50.5 1 0 .5.4a.3.4 50.5 1 0-.5-.4z");
}
