.pgzirsm5k {
  fill: none;
  stroke: currentColor;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: var(--svg-stroke-width--2px, 2px);
  d: path("M5 21h14M5 17h5v-.29a7 7 0 1 1 4 0V17h5");
}
