.phlycoujj {
  fill: var(--svg-color--ffcebf, #ffcebf);
  stroke: var(--svg-color--45413c, #45413c);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M18.96 11.9a5.24 5.24 0 1 0 10.48 0a5.24 5.24 0 1 0-10.48 0");
}
