.pitkfkxho {
  fill: var(--svg-color--fec74a, #fec74a);
  fill-rule: evenodd;
  stroke: var(--svg-color--d8aa3f, #d8aa3f);
  stroke-width: var(--svg-stroke-width--1-6px, 1.6px);
  d: path("M413.5 226.9c17.8-15.6 19.5-50.6 59.5-48.8c-25.3 22.2-3 21.6-29.7 57z");
}
