.pj8wlmhgm {
  fill: var(--svg-color--669df6, #669df6);
  fill-rule: evenodd;
  d: path("M10.48 11a.91.91 0 1 1-.91.91a.91.91 0 0 1 .91-.91m0-.8a1.71 1.71 0 1 0 1.7 1.71a1.7 1.7 0 0 0-1.7-1.71m-5.91.8a.91.91 0 1 1-.91.91a.91.91 0 0 1 .91-.91m0-.8a1.71 1.71 0 1 0 1.7 1.71a1.7 1.7 0 0 0-1.7-1.71m3.04 6.11a.91.91 0 0 1 0 1.82a.91.91 0 1 1 0-1.82m0-.79a1.71 1.71 0 1 0 1.2.5a1.7 1.7 0 0 0-1.2-.5m0-9.73a.91.91 0 1 1-.94.91a.92.92 0 0 1 .94-.91m0-.8a1.71 1.71 0 1 0 1.2.5A1.7 1.7 0 0 0 7.61 5Z");
}
