.pjwppjbhu {
  stroke: currentColor;
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M25.828 43.448c-2.52-2.52-6.828-.736-6.828 2.828v11.171a4 4 0 0 0 4 4h11.172c3.563 0 5.348-4.308 2.828-6.828zM23 46.276l11.172 11.171H23z");
}
