.pk6nkacah {
  fill: var(--svg-color--d0d0d0, #D0D0D0);
  fill-rule: nonzero;
  d: path("m24.215 27.072l.357-.357l1.428.714L25.286 26l.357-.357l1.428 2.857zm4.649-.353l-.707.707l-2.144-2.143l.707-.707z");
}
