.pkk-irvpy {
  stroke: currentColor;
  stroke-linecap: square;
  stroke-width: var(--svg-stroke-width--2px, 2px);
  d: path("m16 8.5l-2 1.125V10l2 1.5m-8-3l2 1.125V10l-2 1.5m.535 4.5A4 4 0 0 1 12 14c1.48 0 2.773.804 3.465 2");
}
