.pkkf7j39n {
  stroke: var(--svg-color--4147d5, #4147d5);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M7.988 7H13.5m0-4.794H1.046a.546.546 0 0 0-.546.547v8.494c0 .302.245.547.546.547H13.5");
}
