.pkxsjvhwz {
  fill: currentColor;
  fill-rule: evenodd;
  d: path("M4 8c0-2.21 1.79-4 4-4h1.17A3.83 3.83 0 0 1 13 7.83v.417a1.75 1.75 0 0 1-1.75 1.75c-.648 0-1.21-.352-1.52-.875c-.286.51-.828.875-1.73.875c-1.5 0-2-1-2-2s.5-2 2-2c.702 0 1.18.219 1.5.554v-.054a.5.5 0 0 1 1 0v1.75a.75.75 0 0 0 1.5 0V7.83C12 6.27 10.73 5 9.17 5H8C6.34 5 5 6.34 5 8s1.34 3 3 3h.499c.694 0 1.13-.115 1.38-.214a1.3 1.3 0 0 0 .28-.15a.5.5 0 1 1 .636.77q-.043.038-.118.088a2.3 2.3 0 0 1-.428.22c-.378.15-.942.286-1.75.286H8c-2.21 0-4-1.79-4-4m5 0c0 .351-.09.596-.206.735C8.704 8.842 8.509 9 8 9s-.705-.158-.794-.265C7.09 8.596 7 8.352 7 8s.09-.596.206-.735C7.296 7.158 7.491 7 8 7s.705.158.794.265C8.91 7.404 9 7.648 9 8");
}
