.plceq5bhg {
  fill: var(--svg-color--ffcebf, #ffcebf);
  stroke: var(--svg-color--45413c, #45413c);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M44.72 34.27a1.35 1.35 0 0 0-1-1.14a7.64 7.64 0 0 1-7-3.83a7.65 7.65 0 0 1-7 3.83a1.38 1.38 0 0 0-1 1.14A1.35 1.35 0 0 0 30 35.73h.08a6.69 6.69 0 0 0 13.24 0h.08a1.34 1.34 0 0 0 1.32-1.46");
}
