.pm3isebct {
  fill: var(--svg-color--1f601a, #1F601A);
  fill-rule: nonzero;
  stroke: var(--svg-color--000, #000);
  stroke-width: var(--svg-stroke-width--0-073px, 0.073px);
  d: path("M148.481 104.909s-1.615-.673-2.875-.33c-.868.245-.844.208-1.186.269c-.404.061-.746-.147-1.407.122c-.33.135-1.737.71-2.128.685c-.355-.024 1.125.942 1.529.881c1.297-.184 2.52.257 3.119.012c.538-.208.857-.355 1.126-.441c.269-.098.416-.343.587-.465c.17-.133.28-.463 1.235-.733zm-8.623-3.707s-.93-1.027-1.113-1.162c-.171-.135-.612-.453-.844-.661c-.195-.171-.392-.55-.991-.697c-.257-.061-.881-.184-1.064-.404c-.171-.233.037.82.232 1.101c.196.281.612.575 1.016.722s.917.441 1.101.538c.196.086.294.184.599.233c.306.061.44-.025 1.064.33z");
}
