.pmml4bcwh {
  stroke: var(--svg-color--092f63, #092f63);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
  d: path("m15.332 8.325l4.018.98l3.92 3.92l-2.45 9.31l-1.96-4.41l-5.39-.49l-2.94 4.9l-1.47-7.84m-2.45-7.84v.98");
}
