.pnlundbge {
  fill: var(--svg-color--c7b500, #c7b500);
  stroke: var(--svg-color--000, #000);
  stroke-width: var(--svg-stroke-width--0-5px, 0.5px);
  d: path("M179.4 324.7a27 27 0 0 0 5.6 0v-55.9h-5.6v56z");
}
