.pnqasbb0x {
  fill: none;
  stroke: var(--svg-color--45413c, #45413c);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M19.8 30.66H2.54v-7.19a9 9 0 0 1 1.14-4.37l4.43-7.86a4.81 4.81 0 0 1 4.2-2.46h7.49Z");
}
