.po--u8bty {
  fill: none;
  stroke: var(--svg-color--5c9e31, #5c9e31);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: var(--svg-stroke-width--2px, 2px);
  d: path("M23.5 42a18.03 18.03 0 0 0 11 4m14-4a18.03 18.03 0 0 1-11 4");
}
