.po49iib2j {
  stroke: currentColor;
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M30 13.5h-7a5 5 0 0 0-5 5v46a5 5 0 0 0 5 5h34a5 5 0 0 0 5-5v-46a5 5 0 0 0-5-5h-7m-20 0a4 4 0 0 0 4 4h12a4 4 0 0 0 4-4m-20 0a4 4 0 0 1 4-4h12a4 4 0 0 1 4 4");
}
