.pohcxhbiw {
  fill: none;
  stroke: currentColor;
  stroke-linecap: square;
  stroke-miterlimit: 10;
  stroke-width: var(--svg-stroke-width--32px, 32px);
  d: path("M352 168H64v96m128 128l-48-48l48-48");
}
