.poq5xubzj {
  fill: none;
  stroke: var(--svg-color--000, #000);
  stroke-linecap: round;
  stroke-miterlimit: 10;
  stroke-width: var(--svg-stroke-width--2px, 2px);
  d: path("m22.707 46.707l9.192 9.193m-2.828-7.072v4.243M26.243 46v4.243m-1.415 2.828h4.243M22 50.243h4.243m23.05-3.536L40.1 55.9m2.829-7.072v4.243M45.757 46v4.243m1.415 2.828h-4.243M50 50.243h-4.243M36 43v13m-3-7l3 3m-3-7l3 3m3 1l-3 3m3-7l-3 3m-1-26v11");
}
