.ppkjgmb4w {
  fill: var(--svg-color--627b8c, #627b8c);
  stroke: var(--svg-color--45413c, #45413c);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M28.86 37.6A1.82 1.82 0 1 1 27 35.78a1.82 1.82 0 0 1 1.86 1.82m11.07 0a1.83 1.83 0 1 1-1.83-1.82a1.83 1.83 0 0 1 1.83 1.82");
}
