.pplj_soov {
  fill: var(--svg-color--452c25, #452C25);
  fill-rule: nonzero;
  stroke: var(--svg-color--000, #000);
  stroke-width: var(--svg-stroke-width--0-088px, 0.088px);
  d: path("M123.313 58.035s-5.219 1.949-1.447 2.023c0 0 7.478-1.55 11.457-4.599l-1.004-1.484z");
}
