.pqw6eyxoz {
  fill: var(--svg-color--fff, #FFF);
  fill-rule: nonzero;
  stroke: var(--svg-color--000, #000);
  stroke-linejoin: bevel;
  stroke-width: var(--svg-stroke-width--0-443px, 0.443px);
  d: path("M123.461 92.066h54.624v2.09h-54.624z");
}
