.prbk2rl9k {
  fill: currentColor;
  fill-rule: evenodd;
  d: path("M18.5 14.3a.5.5 0 0 0-.932 0l-3.5 9a.5.5 0 1 0 .932.362l1.04-2.68h3.98l1.04 2.68a.5.5 0 0 0 .932-.362l-3.5-9zm1.14 5.68l-1.6-4.12l-1.6 4.12z");
}
