.ps8ovfw-d {
  fill: none;
  stroke: var(--svg-color--000, #000);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
  stroke-width: var(--svg-stroke-width--2px, 2px);
  d: path("M49.642 22.446c-6.188-4.982-16.972-5.483-24.03-2.138c-1.251.593-2.385 1.307-3.356 2.138");
}
