.psfhnqc2f {
  stroke: var(--svg-color--191919, #191919);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("m12.458 11.523l-3.826 7.173h2.87V23l3.825-7.173h-2.87zM20.13 8.01a11.98 11.98 0 0 0-16.26 0");
}
