.psvptzbnw {
  fill: var(--svg-color--fff, #FFF);
  fill-rule: nonzero;
  stroke: var(--svg-color--000, #000);
  stroke-width: var(--svg-stroke-width--0-45px, 0.45px);
  d: path("M188.44 86.115s1.508-1.315 1.598-2.037v-1.664c-.584.068-1.137.22-1.568.904c-.367-1.378-.94-1.762-2.022-2.43c-1.082.668-1.655 1.052-2.022 2.43c-.431-.684-.984-.835-1.568-.904v1.664c.19.722 1.597 2.037 1.597 2.037h3.986z");
}
