.ptb0hkb0d {
  fill: var(--svg-color--ea1a1a, #ea1a1a);
  fill-rule: evenodd;
  d: path("M21.75 10.75a.75.75 0 1 0 0-1.5a.75.75 0 0 0 0 1.5m-1.791 4.978a.75.75 0 1 0 0-1.5a.75.75 0 0 0 0 1.5m-6 2a.75.75 0 1 0 0-1.5a.75.75 0 0 0 0 1.5m-4-7a.75.75 0 1 0 0-1.5a.75.75 0 0 0 0 1.5m6-3a.75.75 0 1 0 0-1.5a.75.75 0 0 0 0 1.5");
}
