.pturp2bhc {
  fill: var(--svg-color--ffdda1, #ffdda1);
  stroke: var(--svg-color--191919, #191919);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M17.26 8.938v11.478a2.18 2.18 0 0 1-2.793 2.21L3.793 20.11A3.81 3.81 0 0 1 1 16.59V4.156c0-.726.277-1.424.775-1.951v-.01L14.477 5.37a3.88 3.88 0 0 1 2.783 3.568");
}
