.pvai1ubdm {
  fill: var(--svg-color--ff6242, #ff6242);
  stroke: var(--svg-color--45413c, #45413c);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M34.17 29.03a1.6 1.6 0 1 0 3.2 0a1.6 1.6 0 1 0-3.2 0");
}
