.pvtehdb_f {
  fill: none;
  stroke: currentColor;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: var(--svg-stroke-width--1-5px, 1.5px);
  d: path("M4.5 12h15m0 0l-6.75-6.75M19.5 12l-6.75 6.75");
}
