.pwhd70axe {
  fill: var(--svg-color--d7e0ff, #d7e0ff);
  fill-rule: evenodd;
  d: path("M.5 5v7.5a1 1 0 0 0 1 1H11a1 1 0 0 0 1-1v-2H9.5A.5.5 0 0 1 9 10V8a.5.5 0 0 1 .5-.5H12v-2a1 1 0 0 0-1-1h-1V2H3.5a3 3 0 0 0-3 3");
}
