.pwo544lim {
  stroke: var(--svg-color--4147d5, #4147d5);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M3.5 8.736v4.517h7V8.736c0-.757-.443-1.43-1.19-1.56C8.76 7.08 8 7 7 7s-1.759.08-2.31.176c-.747.13-1.19.803-1.19 1.56");
}
