.pxm86wb9r {
  fill: currentColor;
  fill-rule: evenodd;
  d: path("M19.562 7.758L12 3.504L4.438 7.758v8.484L12 20.496l7.562-4.254zm-7.315-4.693a.5.5 0 0 0-.494 0L4.19 7.318a.5.5 0 0 0-.257.44v8.484c0 .182.098.35.257.44l7.562 4.253a.5.5 0 0 0 .494 0l7.562-4.253a.5.5 0 0 0 .257-.44V7.758a.5.5 0 0 0-.257-.44z");
}
