.pxwd_6w2s {
  fill: var(--svg-color--000, #000);
  fill-rule: nonzero;
  d: path("M148.592 97.233c.233-.637.995-1.282 1.675-1.363c.141-.017.255.11.311.266l-.065-.001q-.116 0-.231.028q.006.174.028.362c-.319.02-.872.149-1.435.84c-.262.321-.4.189-.283-.132");
}
