.pyoiy8dze {
  fill: var(--svg-color--6bafff, #6bafff);
  fill-rule: evenodd;
  d: path("M31.483 27.01a4.85 4.85 0 0 0-8.505.098l-1.133 2.125h-3.123a2.62 2.62 0 0 0-2.221-2.155l2.26-13.554h10.473z");
}
