.pz4ijodgd {
  fill: currentColor;
  fill-opacity: var(--svg-fill-opacity--0-25, 0.25);
  d: path("M38.527 7.414a2 2 0 0 1 2.828 0l31.113 31.113a2 2 0 0 1 0 2.828L41.355 72.469a2 2 0 0 1-2.828 0L7.414 41.355a2 2 0 0 1 0-2.828z");
}
