.pzh2xemmy {
  stroke: currentColor;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: var(--svg-stroke-width--1-5px, 1.5px);
  d: path("M17 15.5v-2l2.6-3.467a1.333 1.333 0 0 1 2.4.8v7.334a1.333 1.333 0 0 1-2.4.8zm-6.53-9.475c.006-.033.054-.033.06 0a4.42 4.42 0 0 0 3.445 3.444c.033.007.033.055 0 .062a4.42 4.42 0 0 0-3.444 3.444c-.007.033-.055.033-.062 0A4.42 4.42 0 0 0 7.025 9.53c-.033-.007-.033-.055 0-.062a4.42 4.42 0 0 0 3.444-3.444");
}
