.pzkjvsbdo {
  fill: none;
  stroke: var(--svg-color--45413c, #45413c);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M21.68 20.65a3 3 0 0 0-1.93-1.93a2.42 2.42 0 0 0-3 1.45l-.53 1.33l-1.22-.69a2.4 2.4 0 0 0-3.24.76a3 3 0 0 0-.28 2.71a3.88 3.88 0 0 0 2.1 2.31l5.29 2.27l2.67-5.1a3.9 3.9 0 0 0 .14-3.11m9.43 9.53l5.42-.83m-5.42 3.29l5.42.75m-19.64-3.21l-5.42-.83m5.42 3.29l-5.42.75");
}
