.pzsftcc0a {
  fill: var(--svg-color--fcea2b, #fcea2b);
  stroke: var(--svg-color--fcea2b, #fcea2b);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("m36 33.5l1.545 5l-4.045-3.09h5l-4.045 3.09z");
}
