.pzyn6l6xg {
  fill: none;
  stroke: var(--svg-color--ffa7c0, #ffa7c0);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: var(--svg-stroke-width--0-631px, 0.631px);
  d: path("m49.854 32.454l-1.892 2.523");
}
