.q-3p_7bja {
  fill-rule: evenodd;
  stroke: var(--svg-color--a2ecfb, #a2ecfb);
  stroke-linecap: round;
  stroke-width: var(--svg-stroke-width--3-6px, 3.6px);
  d: path("M103.559 84.908a4.49 4.49 0 0 0-4.488-4.495a4.49 4.49 0 0 0-4.488 4.495a4.49 4.49 0 0 0 4.488 4.495a4.49 4.49 0 0 0 4.488-4.495zm-74.745 4.495a4.49 4.49 0 0 0 4.488-4.495a4.49 4.49 0 0 0-4.488-4.495a4.49 4.49 0 0 0-4.488 4.495a4.49 4.49 0 0 0 4.488 4.495z");
}
