.q-6w_cchj {
  stroke: var(--svg-color--4147d5, #4147d5);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M1.944 8.995a1.04 1.04 0 0 1-.93-.896l-.03-.23C.868 7.013.75 6.124.75 5.213c0-.91.119-1.8.233-2.657l.03-.229a1.04 1.04 0 0 1 .93-.897l.5-.048c1.002-.097 2.04-.199 3.105-.199c1.063 0 2.102.102 3.105.2l.498.047c.48.046.867.42.93.897");
}
