.q0nqg6bge {
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("m35.986 28l-5.128 10.401l-11.477 1.672l8.308 8.092l-1.956 11.431l10.263-5.4l10.267 5.393l-1.965-11.43l8.302-8.098l-11.477-1.663z");
}
