.q0u1r3r5q {
  fill: none;
  stroke: currentColor;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: var(--svg-stroke-width--1-5px, 1.5px);
  d: path("M3 10c0-1.5 2-3.5 2-5m1.5 5c0-1.5 2-3.5 2-5m1.5 5c0-1.5 2-3.5 2-5m4 8v4M3 14v2a1 1 0 0 0 1 1h16a1 1 0 0 0 1-1v-2a1 1 0 0 0-1-1H4a1 1 0 0 0-1 1");
}
