.q0urbzbly {
  fill: var(--svg-color--697d80, #697d80);
  fill-rule: evenodd;
  d: path("M76 0h356c34.9 8.9 59.6 30.2 74 64c2.7 125.3 2.7 250.7 0 376c-11 38.4-35.7 62.4-74 72H76c-34.9-14.9-58.9-40.3-72-76V72Q26.05 22.05 76 0");
}
