.q16hnfbua {
  stroke: var(--svg-color--000, #000);
  stroke-width: var(--svg-stroke-width--0-339px, 0.339px);
  d: path("M135.655 76.605s-.396-.4-.517-.726c-.096-.257-.104-.695-.104-.695l-1.421-2.276l3.19-3.034l6.066-1.74l7.648-.547h.012l7.649.547l6.065 1.74l3.19 3.034l-1.42 2.276s-.009.438-.104.695c-.121.326-.517.726-.517.726l-7.114-2.405l-7.749-.347l-7.76.347z");
}
