.q2qsw2b1e {
  fill: var(--svg-color--444876, #444876);
  stroke: var(--svg-color--fff, #fff);
  d: path("M23.064 169.505h14.644v-68.159H23.064Zm14.644 0h14.645V91.147H37.708Zm14.645 0h14.644V89.308H52.353Zm14.644 0H81.64V97.492H66.997Zm14.643 0h14.645v-60.71H81.64Zm14.645 0h14.644v-52.978H96.285Zm14.644 0h14.644V119.79h-14.644z");
}
