.q3hj5mbnc {
  stroke: var(--svg-color--064374, #064374);
  stroke-width: var(--svg-stroke-width--0-049px, 0.049px);
  d: path("M161.4 82.52c-.037.012-2.41 1.358-2.838.966c-.012-.024-.036-.049-.036-.086c0-.269.404-.673.441-.697l-.244.097s-.183.22-.281.147");
}
