.q3y_j70de {
  stroke: var(--svg-color--191919, #191919);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M4.347 15.826A4.783 4.783 0 0 0 9.13 20.61h.956m9.087-19.132L17.26 3.391l1.913 1.913");
}
