.q43to0bua {
  stroke: var(--svg-color--191919, #191919);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("m12.567 7.058l1.238 2.433h2.413a.592.592 0 0 1 .416 1.032l-2.09 2.184l1.158 2.665a.63.63 0 0 1-.9.79L12 14.58l-2.8 1.577a.631.631 0 0 1-.898-.79l1.158-2.665l-2.094-2.184a.59.59 0 0 1 .417-1.028h2.413l1.237-2.433a.638.638 0 0 1 1.134 0");
}
