.q4ruv6dkh {
  stroke: currentColor;
  stroke-linecap: round;
  stroke-width: var(--svg-stroke-width--2px, 2px);
  d: path("M2 6a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v6.102a2 2 0 0 1-2 2H8.45S6.364 16 5.705 16c-.66 0-1.056-1.898-1.056-1.898H4a2 2 0 0 1-2-2V6Z");
}
