.q4wb9qbbs {
  width: 30px;
  height: 24px;
  x: 9px;
  y: 18px;
  fill: var(--svg-color--2f88ff, #2F88FF);
  stroke: var(--svg-color--000, #000);
  stroke-width: var(--svg-stroke-width--4px, 4px);
  rx: 2px;
}
