.q6boobc_y {
  fill: none;
  stroke: var(--svg-color--45413c, #45413c);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("m2.79 11.27l21.02 15.58l21.02-15.58M27.7 23.97l17.13 12.7m-42.04 0l17.13-12.7");
}
