.q74hkeg5s {
  fill: var(--svg-color--67923d, #67923D);
  fill-rule: nonzero;
  stroke: var(--svg-color--24420e, #24420E);
  stroke-width: var(--svg-stroke-width--0-017px, 0.017px);
  d: path("M141.664 118.596c-2.216.114-6.441 2.905-6.833 3.561c4.714.037 7.506-2.285 6.833-3.561zm2.331-1.34c-2.139-1.703-4.434-7.394-4.385-8.282c4.721 3.386 5.917 7.588 4.385 8.282z");
}
