.q78z1bbyc {
  fill: var(--svg-color--009b3a, #009B3A);
  fill-rule: nonzero;
  stroke: var(--svg-color--000, #000);
  stroke-width: var(--svg-stroke-width--0-075px, 0.075px);
  d: path("M161.786 90.998c-.378.979-.832 1.679-1.015 1.564c-.183-.116-.024-1.003.354-1.982l.002-.006c.379-.979.832-1.676 1.013-1.557c.182.118.023 1.004-.354 1.981z");
}
