.q7agjebmg {
  fill: var(--svg-color--fff, #fff);
  fill-rule: evenodd;
  d: path("M491.9 95.5L179 1.3c-18.3-5.5-36.8 7.9-36.8 26.6v105.3l207.5 62.5c11.9 3.6 20.1 14.4 20.1 26.6v156.5l105.4 31.7c18.3 5.5 36.8-7.9 36.8-26.6V122.1c0-12.2-8.2-23-20.1-26.6");
  opacity: var(--svg-opacity--0-5, 0.5);
}
