.q7ijowbwl {
  fill: var(--svg-color--db4446, #DB4446);
  fill-rule: nonzero;
  d: path("M104.336 95.348s-.172-.308-.532-.268c-.36.044-.6.324-.6.324s.4-.012.5.052c.148.096.192.344.192.344s.216-.128.284-.216c.064-.084.156-.236.156-.236");
}
