.q7z1q3r6p {
  fill: var(--svg-color--9bff00, #9bff00);
  stroke: var(--svg-color--00034a, #00034a);
  stroke-miterlimit: 10;
  d: path("M19.016 29.267c5.498 0 9.955-4.457 9.955-9.955s-4.457-9.954-9.955-9.954c-5.497 0-9.954 4.456-9.954 9.954s4.457 9.955 9.954 9.955Z");
}
