.q904ucb8r {
  fill: currentColor;
  stroke: currentColor;
  stroke-width: var(--svg-stroke-width--1-003px, 1.003px);
  d: path("M329.818 364.279c14.708 29.728 26.659 36.064 67.676 53.991c25.01 11.436 33.21 18.006 27.375 28.42c0 0 31.096-16.644 45.614-38.506c0 0-78.79-13.964-119.735-48.882c-10.362 8.526-20.93 4.977-20.93 4.977z");
}
