.q9z9poh1g {
  fill: none;
  stroke: var(--svg-color--72b9d5, #72b9d5);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: var(--svg-stroke-width--13-6px, 13.6px);
  d: path("M201.3 139.4a128.4 128.4 0 0 1 17.3-6.2l-.6.4h0c-83.8 87.9-19.1 233.2 102.2 229.7l.8-.2a127.2 127.2 0 1 1-119.7-223.7");
}
