.q_0id8s5t {
  fill: var(--svg-color--fff, #fff);
  stroke: var(--svg-color--fff, #fff);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M40.47 36.18c.93.73 2.638.463 3.302-.316c.664-.78 1.913-1.02 2.51-.967c-3.052-5.067-9.103-2.898-9.8.412c1.931-1.006 3.059.14 3.988.871");
}
