.q_f2ikbne {
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: var(--svg-stroke-width--2-127px, 2.127px);
  d: path("M44.1 24.516a93 93 0 0 0-10.802 8.065m-6.443 7.237c-1.577 2.67-1.948 5.212.003 7.163C38.451 58.573 48.28 26.867 48.28 26.867");
}
