.q_k-yi4to {
  stroke: var(--svg-color--092f63, #092f63);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
  d: path("M18.136 9.955h-4.09v-4.09H9.954v4.09h-4.09v4.09h4.09v4.09h4.09v-4.09h4.09z");
}
