.q_l89u2bx {
  fill: none;
  stroke: currentColor;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: var(--svg-stroke-width--1-5px, 1.5px);
  d: path("M1.5 23.25h21m-21-3h21M3 9.75v7.5m3-7.5v7.5m4.5-7.5v7.5m3-7.5v7.5m4.5-7.5v7.5m3-7.5v7.5m1.5-10.5h-21L11.189.988a1.5 1.5 0 0 1 1.622 0z");
}
