.qa25cks5d {
  fill: var(--svg-color--df8600, #df8600);
  fill-rule: evenodd;
  d: path("M95.684 43.538c-7.44-.871-13.208 2.332-18.124 7.516c-1.466 1.546-2.974 2.944-5.181 3.243c-.461.063-.945-.052-1.419-.085c2.724-1.327 4.495-3.587 6.137-6.043c2.471-3.694 6.078-5.604 10.46-5.846c2.207-.122 4.441.15 6.653.357c.515.049.984.56 1.474.858m-37.63.222l-.736-1.479v.001c2.303.247 4.605.676 6.91.689c2.284.012 4.57-.396 6.918-.626l-.903 1.048l-.371.383l.025-.021c-2.306.388-4.606 1.02-6.921 1.08c-1.63.044-3.281-.689-4.922-1.075");
}
