.qa76e4pry {
  stroke: var(--svg-color--4147d5, #4147d5);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M2.57 11.853h9.488c.506 0 .931-.378 1.04-.872c.134-.616.274-1.19.274-2.996c0-1.735 0-2.761-.149-3.724M2.266 6.015l.609-.008m6.375.008l.608-.008");
}
