.qaxvxyb8t {
  fill: var(--svg-color--007934, #007934);
  fill-rule: evenodd;
  stroke: var(--svg-color--000, #000);
  stroke-width: var(--svg-stroke-width--0-1px, 0.1px);
  d: path("M296.8 183s-.3-.5-.3-1q.1-.9.2-.8l-.2-.2l-.1.9v.3l-.5-.5l-.1-.4h-.2l.3.7c.5.4.8 1.1.8 1.1");
}
