.qbrssyufe {
  fill: var(--svg-color--fd0, #fd0);
  fill-rule: evenodd;
  stroke: var(--svg-color--7d6c00, #7d6c00);
  stroke-width: var(--svg-stroke-width--2-4px, 2.4px);
  d: path("M277.3 177.1a437 437 0 0 1 79.3 0l3.1-9c-27.7-5-46.8-5.6-83-.6z");
}
