.qc_lcsbrq {
  stroke: var(--svg-color--191919, #191919);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M12.48 14.932V2.89a.957.957 0 0 0-1.633-.677L5.784 7.278H2.435A1.435 1.435 0 0 0 1 8.713v2.87a1.435 1.435 0 0 0 1.435 1.435h3.349l4.783 4.784m4.783-7.653a2.87 2.87 0 0 0-2.87-2.87m0 5.739c.418 0 .83-.09 1.21-.265");
}
