.qcw4v67pj {
  fill: var(--svg-color--3bb44a, #3BB44A);
  fill-rule: nonzero;
  d: path("M131.233 79.841c.007-.723.103-1.13.672-1.58c.502-.391 1.159-.576 1.373-1.211c-.118.214-.067.502-.118.746a4.5 4.5 0 0 1-.303.856c-.192.399-.45.82-.709 1.159");
}
