.qd4_61bdr {
  fill: currentColor;
  fill-opacity: var(--svg-fill-opacity--0-25, 0.25);
  d: path("M22 50a5 5 0 1 1 10 0a5 5 0 0 1-10 0m5-1a1 1 0 1 0 0 2a1 1 0 0 0 0-2m26-4a5 5 0 1 0 0 10a5 5 0 0 0 0-10m-1 5a1 1 0 1 1 2 0a1 1 0 0 1-2 0");
}
