.qddo_h5ij {
  fill: var(--svg-color--9bff00, #9bff00);
  stroke: var(--svg-color--00034a, #00034a);
  stroke-linejoin: round;
  d: path("M32.827 27.449a2.374 2.374 0 0 0-1.441-2.661a1.403 1.403 0 0 0 1.585-1.221c.125-.96-.961-1.556-1.922-1.922a3.3 3.3 0 0 0-.048-.961c-.058-.433-.634-.71-1.086-.77c-.452-.057-1.077.068-1.25.462a3.6 3.6 0 0 0-.297.961a3.21 3.21 0 0 0-2.96 2.998a2.345 2.345 0 0 0 1.452 2.643a1.423 1.423 0 0 0-1.634 1.268c-.145 1.086.96 1.664 1.922 1.923c-.046.3-.046.604 0 .903c.057.423.634.71 1.086.768c.451.059 1.085-.066 1.25-.46q.21-.432.297-.904a3.095 3.095 0 0 0 3.046-3.027Z");
}
