.qdi7wib5b {
  fill: none;
  stroke: currentColor;
  stroke-width: var(--svg-stroke-width--1-5px, 1.5px);
  d: path("M12 9v5m0 1.5V17m-.872-11.95l-7.29 12.96a1 1 0 0 0 .872 1.49h14.58a1 1 0 0 0 .872-1.49l-7.29-12.96a1 1 0 0 0-1.744 0Z");
}
