.qe3teg0ab {
  fill: var(--svg-color--3d5da7, #3D5DA7);
  fill-rule: nonzero;
  stroke: var(--svg-color--000, #000);
  stroke-width: var(--svg-stroke-width--0-5px, 0.5px);
  d: path("M40.892 102.41c-.121-1.092.112-1.222-.559-2.045c.977.409 1.015 1.496 2.203.724c.437-.226.627-.233.097-1.445c1.239.057 5.298 1.449 5.948 1.481c1.707.078 4.822-1.793 6.985.508c2.076 2.098 1.382 4.276 1.382 7.181c-.834-.4-.432-.597-1.317-1.636c.664 2.54-.036 7.119-.036 9.813c-.34-.65-.291-.368-.624-1.041c-.885 2.459-1.946 2.964-1.946 5.87c-.319-1.139-.011-.898-.366-1.498c-.86 1.866-6.63 3.461-4.407 5.343c-2.007-1.177-2.887-1.054-3.797-2.111c-.392.253-.704.732-1.068 1.389c-3.528-1.624-2.267-5.125-5.031-7.464c-.479.98-.261.838-.777 2.434c-.56-2.217-.713-3.625-1.342-5.255c-.543.903-.494.558-1.48 1.923c-.408-2.701-1.072-3.338-.81-5.125c-1.048.739-.362.439-1.409 1.35c.991-6.92 5.278-12.034 8.354-10.396z");
}
