.qe7noxb5v {
  fill: var(--svg-color--fff, #FFF);
  fill-rule: nonzero;
  stroke: var(--svg-color--000, #000);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: var(--svg-stroke-width--0-15px, 0.15px);
  d: path("m244.568 114.919l4.692-4.561a4.3 4.3 0 0 0-.851 1.161c-3.691 7.151 1.989 27.499-4.23 32.586l-4.67 4.54c6.219-5.086.539-25.434 4.23-32.586q.364-.698.829-1.14");
}
