.qe8v3840j {
  fill: none;
  stroke: var(--svg-color--000, #000);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: var(--svg-stroke-width--2px, 2px);
  d: path("M23.408 23.963a40.6 40.6 0 0 0 9.66-10.11m14.34 13.91a46 46 0 0 1-6.98-6.13a21.4 21.4 0 0 1-4.13-6.19m-.13-5.78a13.2 13.2 0 0 1 3.85.54c10.25 3.13 10.37 9.6 9.18 13.76a15.6 15.6 0 0 1-1.69 3.87s-.03-.02-.1-.07");
}
