.qe99vccll {
  fill: var(--svg-color--78eb7b, #78eb7b);
  stroke: var(--svg-color--191919, #191919);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M7.696 7.696a.957.957 0 0 1 .956-.957h1.913a.956.956 0 0 1 .957.957v1.913a.957.957 0 0 1-.957.956H8.652a.957.957 0 0 1-.956-.956z");
}
