.qefrw1b7n {
  stroke: var(--svg-color--191919, #191919);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M8.378 15.745v.44c.029.88-.2 1.75-.659 2.503m7.699-2.943v.44c-.031.88.195 1.75.65 2.503");
}
