.qegqyl00j {
  fill: var(--svg-color--a56953, #a56953);
  d: path("M23.667 16.759a1.2 1.2 0 1 0 0-2.4a1.2 1.2 0 0 0 0 2.4m2.84 5.649a1.95 1.95 0 1 0 0-3.9a1.95 1.95 0 0 0 0 3.9m-2.98-3.39a.86.86 0 1 1-1.72 0a.86.86 0 0 1 1.72 0");
  opacity: var(--svg-opacity--0-7, 0.7);
}
