.qer_0rbch {
  fill: currentColor;
  fill-rule: evenodd;
  d: path("m22.826 17.61l-3.383-2.906a.71.71 0 0 0-.894-.084a.78.78 0 0 0-.331.802l.197 1.065c-1.179.087-2.237.449-3.08 1.222c-.978.9-1.592 2.288-1.831 4.23a.5.5 0 0 0 .95.27c.428-.926.97-1.474 1.667-1.807c.597-.285 1.341-.427 2.293-.466l-.201 1.14a.78.78 0 0 0 .34.801a.71.71 0 0 0 .895-.099l3.384-3.012l.034-.033a.8.8 0 0 0-.04-1.122m-3.323-.735l-.175-.951l2.642 2.27l-2.65 2.36l.184-1.043a.517.517 0 0 0-.493-.587c-1.295 0-2.402.137-3.321.576q-.349.165-.654.388c.262-.62.594-1.09.976-1.442c.739-.678 1.738-.98 3-.98a.5.5 0 0 0 .491-.591");
}
