.qexpvkbfn {
  fill: currentColor;
  fill-opacity: var(--svg-fill-opacity--0-15, 0.15);
  d: path("M737 438.6c-9.6 15.5-21.1 30.7-34.4 45.6a73.1 73.1 0 0 1-51 24.4a73.36 73.36 0 0 1-53.4-18.8a74.01 74.01 0 0 1-24.4-59.8c3-47.4-12.4-103.1-45.8-165.7c-16.9-31.4-37.1-58.2-61.2-80.4a240 240 0 0 1-12.1 46.5a354.3 354.3 0 0 1-58.2 101a349.6 349.6 0 0 1-58.6 56.8c-34 26.1-62 60-80.8 97.9a275.96 275.96 0 0 0-29.1 124c0 74.9 29.5 145.3 83 198.4c53.7 53.2 125 82.4 201 82.4s147.3-29.2 201-82.4c53.5-53 83-123.5 83-198.4c0-39.2-8.1-77.3-24-113.1c-9.3-21-21-40.5-35-58.4");
}
