.qfoy-fb1m {
  stroke: currentColor;
  stroke-linecap: square;
  stroke-width: var(--svg-stroke-width--2px, 2px);
  d: path("M15 11v-1h2M7 11v-1h2m-.465 5A4 4 0 0 0 12 17c1.48 0 2.773-.804 3.465-2");
}
