.qgxoqls8f {
  fill: var(--svg-color--d7e0ff, #d7e0ff);
  fill-rule: evenodd;
  d: path("M.75 5.75C.75 1 5 .75 7 .75s6.25.25 6.25 5c0 5.523-4.75 7.5-6.25 7.5S.75 11.273.75 5.75m4.324-.296c-.733-.776-1.789-.595-2.225-.408c-.13.51-.207 1.725.526 2.5c.734.775 1.79.595 2.225.408c.13-.51.208-1.725-.526-2.5m6.026-.408c-.436-.187-1.491-.368-2.225.408c-.733.775-.656 1.99-.526 2.5c.436.187 1.492.367 2.225-.408s.657-1.99.526-2.5");
}
