.qi7y_8bqg {
  fill: none;
  stroke: var(--svg-color--45413c, #45413c);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M15.21 12.52a8.79 8.79 0 1 0 17.58 0a8.79 8.79 0 1 0-17.58 0");
}
