.qipz36fvw {
  fill: none;
  stroke: var(--svg-color--45413c, #45413c);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M24 14.07a8.42 8.42 0 0 1 8.43-8.42c5.89 0 8.42 5.88 8.42 10.53c0 12.26-11.65 20.16-15.58 22.47a2.51 2.51 0 0 1-2.54 0C18.8 36.34 7.15 28.44 7.15 16.18c0-4.65 2.53-10.53 8.42-10.53A8.42 8.42 0 0 1 24 14.07");
}
