.qj1qzybti {
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M9.992 8h2m2 0h-2m0 0V6m0 2v2M16 17.01l.01-.011M16 13.01l.01-.011M12 13.01l.01-.011M8 13.01l.01-.011M8 17.01l.01-.011m3.99.011l.01-.011");
}
