.qjlo9vzdc {
  fill: currentColor;
  fill-rule: evenodd;
  d: path("M23 8v18.447C23 34.43 26.56 42 32.71 47.093A26.8 26.8 0 0 0 40 51.4a26.8 26.8 0 0 0 7.291-4.306a26.8 26.8 0 0 0 9.71-20.647V8z");
}
