.qkhohf66y {
  fill: var(--svg-color--e0366f, #e0366f);
  stroke: var(--svg-color--45413c, #45413c);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M1.45 20.05a2 2 0 0 0 .36 1.58c4.19 5.64 18.88 3.91 18.88 3.91l1.89-4.26l-19.39-9.93Z");
}
