.qkmbhxhvm {
  fill: var(--svg-color--00a651, #00a651);
  stroke: var(--svg-color--000, #000);
  stroke-width: var(--svg-stroke-width--0-3px, 0.3px);
  d: path("M528.3 370.6s-5.1-5-2.7-6.4c0 0 1 .3 1.5 1.4c0 0 1.2-1.8 2 0c0 0 1.8-.6 1.8.7l1.4 1s1.7-.1 1.4 1c0 0 1.9-.3 1.8.7c0 0 1.6.1 1.5 1.2c0 0 2.8.5 1.5 1.9c0 0-4.8 1-8.3-.4c0 0-1.7-.6-1.9-1.1z");
}
