.ql4b90bdm {
  fill: var(--svg-color--00b8f0, #00b8f0);
  stroke: var(--svg-color--45413c, #45413c);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M14.19 24.58a.54.54 0 0 0 .6.63a82 82 0 0 1 9.21-.45a82 82 0 0 1 9.21.45a.54.54 0 0 0 .6-.63l-.75-3.68a5.67 5.67 0 0 0-5.64-4.41h-6.89a5.65 5.65 0 0 0-5.62 4.36Z");
}
