.ql5gik3ku {
  fill: var(--svg-color--000, #000);
  fill-rule: nonzero;
  d: path("m235.973 103.363l.058.099a2.48 2.48 0 0 0 1.134-1.494l-.112-.025c-.002.009-.21.914-1.08 1.42m.169.08l.011.114c.896-.089 1.506-1.178 1.532-1.224l-.101-.056c-.005.011-.607 1.082-1.442 1.166");
}
