.qlulp5bye {
  fill: none;
  stroke: var(--svg-color--000, #000);
  stroke-width: var(--svg-stroke-width--0-1px, 0.1px);
  d: path("M236 210.3s-2.4 2.7-2.2 3.2c.3.4 3.4.3 6-2.4c2.6-2.8.5-3.7.5-3.7L236 210");
}
