.qmwsm3bul {
  fill: currentColor;
  stroke: currentColor;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: var(--svg-stroke-width--4px, 4px);
  d: path("M47.085 32h-14.17c-.819 0-1.117 1.079-.415 1.5l6.214 3.728a2.5 2.5 0 0 0 2.572 0L47.5 33.5c.702-.421.404-1.5-.416-1.5");
}
