.qnkrgpaud {
  fill: none;
  stroke: currentColor;
  stroke-linecap: square;
  stroke-miterlimit: 10;
  stroke-width: var(--svg-stroke-width--32px, 32px);
  d: path("m48 368l144-144l96 96l160-160");
}
