.qnkyr2bgp {
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M30.47 23.999c2.352 3.533.677 6.107.032 8a33.4 33.4 0 0 0-.898 5.613c-.6 5.976-1.002 24.005-1.002 24.005c-.055 1.1.575 2 1.4 2a2.076 2.076 0 0 0 1.729-1.987l2.539-22.031c.126-1.093.679-1.987 1.229-1.987s1.1.894 1.229 1.987L39.27 61.63a2.076 2.076 0 0 0 1.729 1.987c.825 0 1.455-.9 1.4-2c0 0-.523-17.841-1.073-23.763A36 36 0 0 0 40.499 32c-.617-1.902-2.416-4.74-.029-8");
}
