.qofkoxbkf {
  fill: none;
  stroke: currentColor;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: var(--svg-stroke-width--4px, 4px);
  d: path("M16 7h24v6H16zM8 21h32v6H8zm14 14h18v6H22z");
}
