.qopxxhr1p {
  fill: currentColor;
  fill-opacity: var(--svg-fill-opacity--0-4, 0.4);
  d: path("M14.5 3C15.1294 3 15.7219 3.29639 16.0996 3.7998L17 5H19C21.2091 5 23 6.7909 23 9V16.3428C23 16.7472 22.7564 17.1117 22.3828 17.2666C22.0091 17.4214 21.579 17.3358 21.293 17.0498L8.9502 4.70703C8.6642 4.42103 8.5786 3.99089 8.7334 3.61719C8.88825 3.24362 9.25281 3 9.65723 3H14.5Z");
  stroke: none;
}
