.qosv14b1h {
  fill: var(--svg-color--8c1800, #8c1800);
  fill-rule: evenodd;
  d: path("M416.4 425.5c-3 0-10.6-8.6-15-9.6c-4.3-1-4.7-5.5.2-5.6c5-.2 9.4 5.8 9.4 5.8s4.3 3.8 8.8 4.3s1.6 6.2-3.4 5z");
}
