.qple6vuwg {
  fill: var(--svg-color--006b3f, #006B3F);
  stroke: var(--svg-color--000, #000);
  stroke-width: var(--svg-stroke-width--0-375px, 0.375px);
  d: path("M150.644 82.972c.573-.091 1.163 1.014 1.317 2.467c.155 1.453-.185 2.705-.758 2.796s-1.163-1.014-1.317-2.468c-.155-1.454.185-2.704.758-2.795z");
}
