.qqp-ddbgg {
  fill: none;
  stroke: var(--svg-color--fff, #fff);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: var(--svg-stroke-width--3px, 3px);
  d: path("M40.32 44.16V27.85m-10 17v-17");
}
