.qqswkobpk {
  fill: var(--svg-color--2859c5, #2859c5);
  fill-rule: evenodd;
  d: path("M29 37a6 6 0 1 1 9.6 4.8l-.267.2l.267.2a4 4 0 0 0 2.4.8h5a2 2 0 1 1 0 4h-5a8 8 0 0 1-4.8-1.6l-1.208-.906A14 14 0 0 1 27 47H3a2 2 0 1 1 0-4h24a10 10 0 0 0 4.544-1.092L31.4 41.8A6 6 0 0 1 29 37m4 0a2 2 0 0 0 .8 1.6l1.2.9l1.2-.9A2 2 0 1 0 33 37");
}
