.qrbdx9gbx {
  fill: var(--svg-color--fca50d, #fca50d);
  fill-rule: evenodd;
  d: path("M71.2 72.4c0-18.7 18.5-32.1 36.8-26.6L420.8 140c11.9 3.4 20 14.3 20.1 26.6v261.8c0 18.7-18.5 32.1-36.8 26.6L91.2 360.8c-11.9-3.4-20-14.3-20.1-26.6V72.4z");
  opacity: var(--svg-opacity--0-676, 0.676);
}
