.qre15k4lx {
  fill: none;
  stroke: var(--svg-color--f4dbd6, #f4dbd6);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M7.331.5s1.166 1.279.704 3.268M3.26 8.518s.351 6.941 4.634 6.982c4.283.04 4.838-6.881 4.838-6.881");
}
