.qsqmm2bqs {
  stroke: var(--svg-color--191919, #191919);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M20.13 11.523V2.596A1.595 1.595 0 0 0 18.537 1H5.464A1.595 1.595 0 0 0 3.87 2.596v10.84m7.652 3.826H5.9A5.05 5.05 0 0 1 1 13.436h12.435");
}
