.qt4ki8b3y {
  stroke: var(--svg-color--2859c5, #2859c5);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M31.5 37.368A17.9 17.9 0 0 1 24 39c-9.941 0-18-8.059-18-18c0-2.677.584-5.217 1.632-7.5M36.36 34.086A17.95 17.95 0 0 0 42 21c0-9.941-8.059-18-18-18a17.95 17.95 0 0 0-13.066 5.62");
}
