.qtgqgd47u {
  fill: var(--svg-color--fff, #FFF);
  fill-rule: nonzero;
  stroke: var(--svg-color--c09300, #C09300);
  stroke-width: var(--svg-stroke-width--0-383px, 0.383px);
  d: path("M150.493 109.577c10.881-8.369 9.948-20.628 9.948-20.628a4.3 4.3 0 0 1-.847.086c-2.282 0-7.726-1.306-8.996-2.964c-1.36 1.501-6.923 2.964-9.191 2.964c-.287 0-.574-.029-.847-.086c0 0-.947 12.258 9.933 20.628z");
}
