.qui1l8ncr {
  stroke: currentColor;
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M43.594 31.324a9.39 9.39 0 1 0-7.188 17.35a9.39 9.39 0 0 0 7.188-17.35m-5.657 3.695a5.39 5.39 0 1 1 4.126 9.96a5.39 5.39 0 0 1-4.126-9.96");
}
