.quwia2b7u {
  fill: none;
  stroke: currentColor;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: var(--svg-stroke-width--32px, 32px);
  d: path("M368 192L256.13 320l-47.95-48m-16.23 48L144 272m161.71-80l-51.55 59");
}
