.qux--lbgd {
  fill: var(--svg-color--009b3a, #009B3A);
  fill-rule: nonzero;
  stroke: var(--svg-color--000, #000);
  stroke-width: var(--svg-stroke-width--0-075px, 0.075px);
  d: path("M140.606 88.034c-.026 0-.172-4.149-.172-4.149l-.672 4.133l.385.718z");
}
