.qvc-_-b4f {
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M17.478 8.402h.023c2.484 0 4.395 1.958 4.497 4.248c.078 3.05-2.573 4.658-4.492 4.598m-.028-8.846q.023-.234.023-.475C17.5 4.96 15.037 2.5 12 2.5c-2.94 0-5.256 2.277-5.498 4.95m10.975.952c-.102 1.077-.44 2.018-1.243 2.954M6.503 7.449c-2.535.23-4.38 2.311-4.5 4.726c-.078 2.325 1.541 3.945 3.52 4.725c3.659 1.38 7.137.204 8.3-1.776c.492-1.02-.083-2.484-1.463-2.754c-.84-.21-2.279.33-2.363 1.932M6.503 7.449q.237-.021.48-.021c1.125 0 2.139.292 3.026.976");
}
