.qvf8ldbqs {
  fill: currentColor;
  fill-opacity: var(--svg-fill-opacity--0-25, 0.25);
  fill-rule: evenodd;
  d: path("M38.001 58h-4.465c-3.087 0-4.633 3.732-2.45 5.914l5.732 5.732a4.5 4.5 0 0 0 6.364 0l5.732-5.732c2.183-2.182.637-5.914-2.45-5.914h-4.463V46a2 2 0 1 0-4 0zm-3.173 4l4.818 4.818a.5.5 0 0 0 .708 0L45.172 62z");
}
