.qviplbbsj {
  fill: var(--svg-color--fff, #fff);
  d: path("m383.5 172.8l-7.7 27.5h-94.3l-2.9 11.4c80.5 74.8 130.9 181.6 130.9 300.2H512c0-130-48.5-248.8-128.5-339.1M306.7 102l-11.4 46.3h65.1c-16.8-16.6-34.7-32.1-53.7-46.3m-110.5 46.3l20.9-81.5l26.1-5.4C170.9 22.2 88 0 0 0v102.4c68 0 132.2 16.6 188.6 45.9z");
  opacity: var(--svg-opacity--0-75, 0.75);
}
