.qwbtdcb_b {
  fill: var(--svg-color--b8509a, #b8509a);
  fill-rule: evenodd;
  d: path("M15.177 11.492c3.183-.575 6.12-2.36 8.129-4.9l1.654 1.307c-2.321 2.936-5.71 5-9.408 5.668a15.6 15.6 0 0 1-5.58.005a15.4 15.4 0 0 1-5.227-1.955L5.83 9.809a13.3 13.3 0 0 0 4.513 1.687h.003l.002.001c1.588.292 3.225.284 4.828-.005M9.543 26.689c1.8-9.188 11.164-14.261 18.821-12.174l-.555 2.034c-6.5-1.772-14.636 2.585-16.196 10.545z");
}
