.qwigwhghd {
  fill: none;
  stroke: currentColor;
  stroke-linejoin: round;
  stroke-width: var(--svg-stroke-width--2px, 2px);
  d: path("m11.992 9.169l2.828 2.828l-7.192 7.192a2 2 0 0 1-1.415.586h-2v-2a2 2 0 0 1 .586-1.414z");
}
