.qwuhqkb9a {
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("m49.135 38.14l-1.78 9.891c-.196 1.083-.136 2.842.13 3.91l2.03 8.119c.266 1.067-.19 2.165-1.015 2.44s-1.823-.34-2.218-1.366l-3.564-9.268C42.323 50.84 42 49.1 42 48v-7m9-8l1.85-6.168c.632-2.108-.2-4.282-1.85-4.832s-4.786-1.223-6.969-1.496l-.062-.008c-2.183-.273-5.544-.925-7.469-1.45l-3.5-.952M16 56l7-11l-2-4l6-13l5-3l2-3m9 8l8 3m1.265.572l1.897.633L52.898 38L51 37.367M37 16l2-8m7 17l-1 2");
}
