.qxpfaf6dk {
  fill: currentColor;
  fill-opacity: var(--svg-fill-opacity--0-25, 0.25);
  fill-rule: evenodd;
  d: path("M13.665 28.551A21.053 21.053 0 1 1 50.21 47.434l.809.809a5 5 0 0 1 5.361 1.12l12.73 12.732a4.998 4.998 0 0 1-7.07 7.068L49.31 56.43a5 5 0 0 1-1.12-5.359l-.814-.815A21.053 21.053 0 0 1 13.665 28.55m36.807 9.863a17.04 17.04 0 0 1-4.439 7.668l-.002.002l-.032.033a17.053 17.053 0 1 1 4.473-7.703m1.667 13.777a1 1 0 0 1 1.412 0L66.28 64.923a.999.999 0 0 1-1.412 1.412L52.139 53.603z");
}
