.qxv2_z-lb {
  fill: currentColor;
  fill-opacity: var(--svg-fill-opacity--0-25, 0.25);
  d: path("M46.049 14.397A4 4 0 0 0 42.384 12h-4.768a4 4 0 0 0-3.664 2.397L28 28h24zM50.24 70.25A6 6 0 0 1 44.245 76h-8.49a6 6 0 0 1-5.995-5.75L28 28h24z");
}
