.qxw015bfd {
  stroke: var(--svg-color--191919, #191919);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M17.261 12c0 1.32-2.356 2.39-5.26 2.39c-2.906 0-5.262-1.069-5.262-2.39M5.6 5.857l1.475 1.475M18.4 5.857l-1.475 1.475M5.644 18.214l1.483-1.484m11.229 1.484l-1.484-1.484");
}
