.qymoyvbcg {
  fill: var(--svg-color--d20014, #D20014);
  fill-rule: nonzero;
  stroke: var(--svg-color--000, #000);
  stroke-width: var(--svg-stroke-width--0-15px, 0.15px);
  d: path("m150 98.851l-7.091-5.681c-2.422.34-.518 3.904-.374 4.297l7.489 4.061z");
}
