.qyrmtrb1k {
  stroke: var(--svg-color--092f63, #092f63);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
  d: path("M19.8 6.9L18 4.5h-5l-3-2m-3 0l-3 3H.5m15 3.5L14 7.5m-1.2 2.8L11.5 9");
}
