.qz4hw_hri {
  fill: currentColor;
  d: path("M19.5492 14.3739L20.4196 16.5804L22.6261 17.4508C22.8518 17.5397 23 17.7576 23 18C23 18.2424 22.8518 18.4603 22.6261 18.5492L20.4196 19.4196L19.5492 21.6261C19.4603 21.8518 19.2424 22 19 22C18.7576 22 18.5397 21.8518 18.4508 21.6261L17.5804 19.4196L15.3739 18.5492C15.1482 18.4603 15 18.2424 15 18C15 17.7576 15.1482 17.5397 15.3739 17.4508L17.5804 16.5804L18.4508 14.3739C18.5397 14.1482 18.7576 14 19 14C19.2424 14 19.4603 14.1482 19.5492 14.3739Z");
  stroke: none;
}
