.r-c-ceb4j {
  stroke: var(--svg-color--191919, #191919);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M13.363 9.93a6.58 6.58 0 0 0-3.409 4.355H1.63c-.56 0-.793-.397-.508-.876L7.736 1.941a.525.525 0 0 1 .509-.366a.53.53 0 0 1 .509.366z");
}
