.r0riepb0p {
  fill: none;
  stroke: var(--svg-color--000, #000);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
  stroke-width: var(--svg-stroke-width--2px, 2px);
  d: path("m60.275 44.105l.879-3.399l-1.017-.262l-2.052-.531l-1.036-.268l-.879 3.398z");
}
