.r102ecb2n {
  stroke: var(--svg-color--191919, #191919);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M22.439 19.39c-1.324 3.882-6.354 4.875-9.054 1.788a5.33 5.33 0 0 1-1.29-2.967m7.555-1.912h3.346v-3.347");
}
