.r2htqzbsi {
  stroke: var(--svg-color--000, #000);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: var(--svg-stroke-width--0-35px, 0.35px);
  d: path("M186.836 149.672c.248.426.698.719.906 1.157c.295.615.019 1.24-.724 1.194c-.322-.02-.617-.268-.926-.293c-.249-.019-.962.934-1.654.903c-.942-.041-1.391-1.191-1.966-1.779c-.458-.097-.794.578-1.303.486c-1.045-.189-.994-1.847-1.355-2.577c-.288-.214-.723.239-1.303-.171c-.895-.632-.426-2.619-1.387-3.175c-.846-.49-2.634-.165-2.478-.247l.997-.518c.062-.033.253.058.315.071c1.634.325 3.82.057 5.495.057c.803 0 .674.649.803.781l.065.01c.834.058 1.829-.003 2.54.522c.86.639.046 1.209.043 1.353l.039.019l.182.061l.562.165c.435.14.922.333 1.214.703c.425.542-.052.794-.065 1.278");
}
