.r38rggogs {
  fill: var(--svg-color--ffbd03, #FFBD03);
  fill-rule: nonzero;
  stroke: var(--svg-color--000, #000);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: var(--svg-stroke-width--0-15px, 0.15px);
  d: path("M252.653 118.013a.18.18 0 0 0-.12.251c.321.73.729 1.515 1.389 2.008a.18.18 0 0 0 .297-.119a.18.18 0 0 0-.081-.169c-.569-.425-.964-1.152-1.276-1.864a.18.18 0 0 0-.209-.107m-.513.55a.18.18 0 0 0-.107.098a.18.18 0 0 0 0 .145c.322.734.763 1.516 1.356 2.05a.18.18 0 1 0 .243-.267c-.528-.474-.961-1.219-1.271-1.927a.18.18 0 0 0-.221-.099");
}
