.r3l4uqboc {
  stroke: var(--svg-color--4147d5, #4147d5);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M9.052 3.249a2.1 2.1 0 1 0 4.198 0a2.1 2.1 0 0 0-4.198 0m-6.447 9.587l.407.062c2.644.4 5.332.4 7.976 0l.479-.072a2.098 2.098 0 0 0 0-4.149l-.479-.072a26.6 26.6 0 0 0-7.976 0l-.407.061");
}
