.r3s9vk_bi {
  fill: none;
  stroke: var(--svg-color--f5bde6, #f5bde6);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M8.685 9.262a.75.754 0 0 1-.705.496a.75.754 0 0 1-.704-.496M10.5 8");
}
