.r44f7f06e {
  fill: var(--svg-color--c7c7c7, #c7c7c7);
  fill-rule: evenodd;
  d: path("M343.6 440.3c0-5.8-4.7-10.5-10.6-10.5H178.9c-5.8 0-10.6 4.7-10.6 10.5s4.7 10.5 10.6 10.5h154.2c5.8 0 10.5-4.7 10.5-10.5m0 30.6c0-5.8-4.7-10.5-10.6-10.5H178.9c-5.8 0-10.6 4.7-10.6 10.5s4.7 10.5 10.6 10.5h154.2c5.8 0 10.5-4.7 10.5-10.5m-30.1 30.6c0-5.8-4.7-10.5-10.6-10.5H209c-5.8 0-10.6 4.7-10.6 10.5S203.1 512 209 512h93.9c5.8 0 10.6-4.7 10.6-10.5");
}
