.r4nx58bsc {
  stroke: currentColor;
  stroke-linecap: round;
  d: path("M21 18h10a4 4 0 0 1 4 4v36a4 4 0 0 1-4 4H21a4 4 0 0 1-4-4V22a4 4 0 0 1 4-4Zm28 0h10a4 4 0 0 1 4 4v36a4 4 0 0 1-4 4H49a4 4 0 0 1-4-4V22a4 4 0 0 1 4-4Z");
}
