.r55yiibtu {
  stroke: var(--svg-color--000, #000);
  stroke-width: var(--svg-stroke-width--0-156px, 0.156px);
  d: path("M108.036 108.06s-.184.256-.048.46s.42.3.42.3s-.104-.148-.056-.32c.036-.136.268-.32.268-.32z");
}
