.r5qtj75sc {
  stroke: var(--svg-color--000, #000);
  stroke-width: var(--svg-stroke-width--0-088px, 0.088px);
  d: path("m169.435 60.582l1.144 1.639s-.376 1.535-4.363-1.454c-3.993-2.982-3.78-2.739-3.78-2.739l2.2-.303l4.835 2.739");
}
