.r6c-ebalk {
  fill: var(--svg-color--452c25, #452C25);
  fill-rule: nonzero;
  stroke: var(--svg-color--000, #000);
  stroke-width: var(--svg-stroke-width--0-088px, 0.088px);
  d: path("M134.74 52.432s-1.75 1.395-1.388 1.75c.369.354 3.034-1.07 3.543-1.513c.51-.436-2.155-.237-2.155-.237z");
}
