.r6j7wfz8a {
  stroke: var(--svg-color--703d29, #703D29);
  stroke-width: var(--svg-stroke-width--0-317px, 0.317px);
  d: path("m116.281 124.304l-.956.35l-.98.746l-.42.583l-.537.933l-.233.7l-.187.863l-.093.653");
}
