.r7l9iac3w {
  fill: var(--svg-color--61b2e4, #61b2e4);
  fill-rule: evenodd;
  d: path("M50.569 33.575a7.03 7.03 0 0 1 .253 4.001c-2.509.614-5.247.565-7.392-.083c1.795-.336 4.663-1.488 7.139-3.918");
}
