.r85jsh {
  d: path('M12 21l7 -7M12 21l-7 -7');
}

@media not (prefers-reduced-motion) {
  .r85jsh {
    stroke-dasharray: 12;
    stroke-dashoffset: 12;
    animation: 0.2s linear 0.3s forwards so-to-0;
  }
}
