.r9fsp-wgo {
  stroke: var(--svg-color--000, #000);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: var(--svg-stroke-width--0-35px, 0.35px);
  d: path("M185.485 125.319c.73-.543 1.56-.844 1.874-.514c.842.889.885 2.589.3 3.086c-.589.5-1.959.46-3.141-1.033c-.25-.316.229-.991.967-1.539");
}
