.r9gith_8n {
  fill: var(--svg-color--feca00, #feca00);
  fill-rule: evenodd;
  d: path("m8.262 8.124l-.56.34l.107-.719l-.453-.509l.626-.104l.28-.654l.28.654l.626.104l-.453.51l.107.718zm4.751-4.332a.363.363 0 0 1 .725 0v1.714a.363.363 0 0 1-.725 0z");
}
