.r9n8s9yzc {
  fill: var(--svg-color--fff, #fff);
  fill-rule: evenodd;
  d: path("m2.875 6.979l.459 6.416h7.332l.459-6.416zM7.59 9.785L7 8.591l-.59 1.194l-1.318.192l.954.93l-.225 1.313L7 11.6l1.18.62l-.226-1.313l.954-.93z");
}
