.r9wm4mb3t {
  fill: var(--svg-color--f0f0f0, #f0f0f0);
  stroke: var(--svg-color--45413c, #45413c);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M30.67 33.26s-1.91-2.85-6.67-2.85s-6.67 2.85-6.67 2.85l2 1.85l-.77 2.83L24 42.33l5.43-4.39l-.77-2.83Z");
}
