.r9yhjfbcl {
  fill: var(--svg-color--fff, #fff);
  stroke: var(--svg-color--161111, #161111);
  stroke-width: var(--svg-stroke-width--1-6px, 1.6px);
  d: path("m320 389.6l-30.9-64.2l-70.9 5.4l40-58.8l-40-58.8l71 5.4l30.8-64.1l30.9 64l70.9-5.3l-40 58.8l40 58.8l-71-5.4z");
}
