.r_b_s9bgt {
  stroke: var(--svg-color--092f63, #092f63);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M5.864 11.489h1.023L12.511.75h1.534l1.534 2.046l-1.023 4.09h6.648l2.045 2.045l-2.045 2.045l1.533 2.301l-2.045 1.79l1.534 2.045l-2.045 1.534l1.534 2.045l-2.046 1.534h-8.692L7.91 21.203H5.864");
}
