.radmakb_s {
  fill: none;
  stroke: currentColor;
  stroke-width: var(--svg-stroke-width--1-5px, 1.5px);
  d: path("M5 7.5h2m12 0h-2m0 0l-.841 9.673A2 2 0 0 1 14.166 19H9.834a2 2 0 0 1-1.993-1.827L7 7.5m10 0h-2.01M7 7.5h2.01m5.98 0a3 3 0 0 0-5.98 0m5.98 0H9.01");
}
