.raq8qfbit {
  fill: var(--svg-color--96877d, #96877D);
  fill-rule: nonzero;
  d: path("M46.977 28.679c-.888.888-2.566.648-3.75-.536c-1.183-1.183-1.423-2.862-.535-3.75c.887-.888 2.566-.648 3.75.535c1.183 1.184 1.423 2.863.535 3.751");
}
