.rbl2acb7y {
  stroke: var(--svg-color--ff4d00, #FF4D00);
  stroke-width: var(--svg-stroke-width--0-049px, 0.049px);
  d: path("M151.808 74.803c-.428-.281-.991-.416-1.554-.416c-.587 0-1.101.122-1.542.453");
}
