.rcn2o_brp {
  fill: var(--svg-color--f6b40e, #F6B40E);
  stroke: var(--svg-color--85340a, #85340A);
  stroke-width: var(--svg-stroke-width--0-417px, 0.417px);
  d: path("m151.407 93.343l-18.754-17.394s-.34-.34-.567-.114s.113.567.113.567l17.394 18.754m-3.225-8.454c-1.233-3.316-3.986-4.28-4.932-7.306s-3.231-4.011-4.073-4.992s-.349-1.979-.749-2.002c-.401-.023-.76 1.175.146 2.689s2.328 1.486 3.516 5.168s3.276 3.789 4.198 7.214");
}
