.rcq9x9bcp {
  fill: var(--svg-color--ffbd03, #FFBD03);
  fill-rule: nonzero;
  stroke: var(--svg-color--000, #000);
  stroke-width: var(--svg-stroke-width--0-15px, 0.15px);
  d: path("m237.395 105.937l-.911-1.538s-.859.974-1.942.809c-1.076-.163-1.371-1.975-1.371-1.975s-1.425 1.68-2.415 1.604c-.99-.089-1.475-.837-1.475-.837s-.806.776-1.757.7c-.95-.087-2.234-1.992-2.234-1.992s-.843 1.949-1.793 2.036c-.95.077-2.108-1.38-2.108-1.38s-.429 1.238-1.637 1.44c-1.207.208-1.969-1.44-1.969-1.44s-.584 1.828-1.403 2.118c-.818.29-1.901-.8-1.901-.8l-1.151 1.336l.647.738c2.96-.864 6.969-1.401 11.503-1.406c4.541.005 8.658.541 11.624 1.412l.303-.827h-.01z");
}
