.rcvmx9bec {
  fill: none;
  stroke: var(--svg-color--fff, #fff);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: var(--svg-stroke-width--8-322px, 8.322px);
  d: path("M1902.347 149.026s12.34 21.275 12.613 33.432m-50.125-53.329l.404 82.198a4.93 4.93 0 0 0 4.76 4.901c5.942.2 16.155.47 22.79.257c3.145-.102 2.7 0 6.193-.69c6.217-1.228 3.701-18.647 3.701-18.647");
}
