.rcxz1fmas {
  fill: none;
  stroke: var(--svg-color--000, #000);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
  stroke-width: var(--svg-stroke-width--1-813px, 1.813px);
  d: path("M21.8 62.4L33 66l20-42.7c2.9-6 0-13.4-5.7-15.3zm17.1 0l1.3 2.6l11.2-3.5l-6-12.2M34.2 27.6L25 8c-5.8 1.9-8.6 9.2-5.8 15.3l8.5 18.3m6-22.5h4.6m5.4-11H28.6");
}
