.rd1ntb1wo {
  fill: var(--svg-color--ffdda1, #ffdda1);
  stroke: var(--svg-color--191919, #191919);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M21.167 4.208a2.75 2.75 0 1 1-4.703-1.934a3.45 3.45 0 0 0 3.098 1.934a3.26 3.26 0 0 0 1.577-.385q.027.193.027.385");
}
