.re5azabqi {
  stroke: var(--svg-color--191919, #191919);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M21.087 9.13H2.913A1.913 1.913 0 0 0 1 11.043v7.653c0 1.056.857 1.913 1.913 1.913h18.174A1.913 1.913 0 0 0 23 18.696v-7.653a1.913 1.913 0 0 0-1.913-1.913");
}
