.re5e9hbzy {
  fill: var(--svg-color--111512, #111512);
  fill-opacity: var(--svg-fill-opacity--0-388, 0.388);
  d: path("M125.9 57q.472.317-.03.29q-.157-.01-.001-.026l.085-.01q.057-.006 0-.008q-.243-.014-.21-.193a.105.094 23.4 0 1 .157-.054z");
}
