.repr1spat {
  fill: var(--svg-color--007934, #007934);
  fill-rule: evenodd;
  stroke: var(--svg-color--000, #000);
  stroke-width: var(--svg-stroke-width--0-1px, 0.1px);
  d: path("M299.4 177.4c-.2-.2-1-3-.2-4.7c.5-1.3.9-1.4.9-1.4s.3 0 .1 1.3s-.2 3.8-.8 4.8z");
}
