.rfao_98jr {
  fill: none;
  stroke: currentColor;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: var(--svg-stroke-width--1-5px, 1.5px);
  d: path("M12 21a8.5 8.5 0 1 0 0-17a8.5 8.5 0 0 0 0 17m-6.12-2.297l-2.38 2.3m14.64-2.335l2.36 2.33M5 3L2 6m20 0l-3-3m-7 6v7m3.506-3.505h-7");
}
