.rg-wwst4a {
  fill: var(--svg-color--fcea2b, #fcea2b);
  stroke: var(--svg-color--fcea2b, #fcea2b);
  stroke-miterlimit: 10;
  stroke-width: var(--svg-stroke-width--1-8px, 1.8px);
  d: path("M36 32c8.284 0 12.89 5.303 15 11c1.579 4.26-5.484 11.717-15.007 11.012C26.62 53.32 19.865 49 21 43c1.13-5.97 6.716-11 15-11Z");
}
