.rgp-z-b0k {
  stroke: var(--svg-color--fedf00, #FEDF00);
  stroke-linecap: round;
  stroke-width: var(--svg-stroke-width--0-296px, 0.296px);
  d: path("M159.533 109.252c.237.053.163 1.008.537 1.227");
}
