.rh08qobyz {
  fill: none;
  stroke: var(--svg-color--45413c, #45413c);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M44.54 29.51c-3.3 3.3-5.73-3.32-8.95-4c4.59-3.36 12.25.7 8.95 4");
}
