.rh26ck6li {
  fill: var(--svg-color--bdbfc1, #BDBFC1);
  fill-rule: nonzero;
  d: path("M150.222 127.571v-21.905l-1.162.451v2.267l-1.454.519v-2.245l-1.976.78v3.615l1.42 1.739l.034 10.343l-1.454 5.888a10.7 10.7 0 0 1 4.592-1.446z");
}
