.rhpl1y4rb {
  fill: var(--svg-color--f4aa41, #f4aa41);
  stroke: var(--svg-color--f4aa41, #f4aa41);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
  stroke-width: var(--svg-stroke-width--2px, 2px);
  d: path("M43.874 19.106c-2.344.886-5.154 3.186-7.338 6.284L18.542 50.917c-6.538 9.274-.804 13.974 7.008 5.746l21.504-22.65c4.228-4.454 6.08-10.11 3.896-11.9l-3.51-2.877c-.835-.686-2.11-.68-3.566-.13");
}
