.rie9cxbes {
  fill: var(--svg-color--ffe500, #ffe500);
  stroke: var(--svg-color--45413c, #45413c);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M38.92 11.93a2.18 2.18 0 0 1-4-.55L33.81 7l-2.14 3.53a2.8 2.8 0 0 1-5-.52L24 2.48L21.36 10a2.8 2.8 0 0 1-5 .52L14.19 7l-1.09 4.38a2.18 2.18 0 0 1-4 .55L8.56 11l.55 9.48h29.78l.55-9.48Z");
}
