.rjgg8npvz {
  fill: var(--svg-color--fc0, #FC0);
  fill-rule: nonzero;
  stroke: var(--svg-color--000, #000);
  stroke-width: var(--svg-stroke-width--0-037px, 0.037px);
  d: path("M133.495 79.229s.71.281 1.284.294c0 0 .025.502.146.648c0 0-.514-.097-.746.025c0-.001-.305-.698-.684-.967z");
}
