.rjmzeoexf {
  fill: var(--svg-color--ffa200, #ffa200);
  fill-rule: evenodd;
  d: path("M142.3 27.8c0-18.7 18.5-32.1 36.8-26.6l312.8 94.2c11.9 3.4 20 14.3 20.1 26.6v261.8c0 18.7-18.5 32.1-36.8 26.6l-312.8-94.2c-11.9-3.4-20-14.3-20.1-26.6z");
  opacity: var(--svg-opacity--0-275, 0.275);
}
