.rjpelm1ki {
  stroke: currentColor;
  stroke-linecap: square;
  stroke-width: var(--svg-stroke-width--2px, 2px);
  d: path("M5.5 22c-1.54.04-1.5-2-1.5-2s-2.033.033-2-1.5c.034-1.534 1.91-1.5 3-1.5l1.945-1.94a7.8 7.8 0 0 0 1.97 2.03L7 19c0 1.1.04 2.96-1.5 3Z");
}
