.rkf5-q5qb {
  fill: var(--svg-color--ff8000, #ff8000);
  fill-rule: evenodd;
  d: path("M184.2 256c0-13.9 4-26.9 10.9-37.9c-12.7-20.3-35.2-33.7-60.9-33.7c-39.6 0-71.8 32.1-71.8 71.7s32.1 71.7 71.8 71.7c25.7 0 48.2-13.5 60.9-33.7c-6.9-11.2-10.9-24.2-10.9-38.1");
}
