.rkx38ck4m {
  fill: var(--svg-color--66e1ff, #66e1ff);
  stroke: var(--svg-color--191919, #191919);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("m5.02 10.324l-1.317 1.317a.51.51 0 0 0 0 .72l1.317 1.316a.51.51 0 0 0 .72 0l1.316-1.316a.51.51 0 0 0 0-.72L5.74 10.324a.51.51 0 0 0-.72 0m13.24 0l-1.316 1.317a.51.51 0 0 0 0 .72l1.316 1.316a.51.51 0 0 0 .72 0l1.317-1.316a.51.51 0 0 0 0-.72l-1.317-1.317a.51.51 0 0 0-.72 0");
}
