.rli2wdaab {
  fill: var(--svg-color--d22f27, #d22f27);
  stroke: var(--svg-color--d22f27, #d22f27);
  stroke-linejoin: round;
  stroke-width: var(--svg-stroke-width--2px, 2px);
  d: path("M43.315 23.25v-.07m6.75-4.04v4.04h-4.04v-5.66h3.136c.503 0 .904.73.904 1.62z");
}
