.rlqqvrtev {
  fill: var(--svg-color--daedf7, #daedf7);
  stroke: var(--svg-color--45413c, #45413c);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M35 21h2a1 1 0 0 1 1 1v4a1 1 0 0 1-1 1h-2h0z");
}
