.rm7n25ptt {
  fill: var(--svg-color--2859c5, #2859c5);
  fill-rule: evenodd;
  d: path("M11.653 5.683a.75.75 0 0 1 .745-1.302a2.94 2.94 0 0 1 1.042 1.01a.75.75 0 1 1-1.278.785a1.44 1.44 0 0 0-.509-.493m-.278 7.517a.75.75 0 0 1 .278-1.023a1.45 1.45 0 0 0 .51-.493a.75.75 0 0 1 1.277.786a2.94 2.94 0 0 1-1.042 1.01a.75.75 0 0 1-1.023-.28m-2.445-.7q.368-.001.736-.02a.75.75 0 1 1 .08 1.497a15 15 0 0 1-1.632 0a.75.75 0 0 1 .08-1.498q.369.02.736.02m3.57-3.57q-.001.367-.02.736a.75.75 0 1 0 1.497.08a15 15 0 0 0 0-1.632a.75.75 0 0 0-1.498.08q.02.369.021.736m-6.262 3.247a.75.75 0 0 1-.744 1.302a2.94 2.94 0 0 1-1.042-1.009a.75.75 0 0 1 1.278-.786c.125.204.3.374.508.493");
}
