.roria_v2r {
  fill: var(--svg-color--f0f0f0, #f0f0f0);
  stroke: var(--svg-color--45413c, #45413c);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M4.56 12.22a2.38 2.38 0 1 0 4.76 0a2.38 2.38 0 1 0-4.76 0m5.91 7.14a1.77 1.77 0 1 1-1.77-1.77a1.77 1.77 0 0 1 1.77 1.77m5.25-12.24a3.64 3.64 0 1 0-5.24.94a3.6 3.6 0 0 0 1.9.71a1.94 1.94 0 0 0 .76 1.29a2 2 0 0 0 2.77-.39a2 2 0 0 0-.19-2.55");
}
