.rovlo3idz {
  fill: var(--svg-color--009b3a, #009B3A);
  fill-rule: nonzero;
  stroke: var(--svg-color--000, #000);
  stroke-width: var(--svg-stroke-width--0-075px, 0.075px);
  d: path("M154.555 99.981c-1.182.509-2.243.648-2.372.311c-.128-.337.724-1.023 1.904-1.532c1.182-.509 2.243-.648 2.372-.311s-.723 1.023-1.904 1.532zm.627-20.03c.585.527.938 1.02.787 1.101s-.745-.279-1.33-.805c-.585-.527-.939-1.02-.789-1.102s.745.278 1.33.805z");
}
