.rpew0wbce {
  stroke: currentColor;
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M12 39a2 2 0 0 1 2-2h39.816c7.18 0 13 5.82 13 13s-5.82 13-13 13h-.358c-6.982 0-12.642-5.66-12.642-12.642v-.374a2 2 0 0 1 4 0v.374A8.643 8.643 0 0 0 53.458 59h.358a9 9 0 0 0 0-18H14a2 2 0 0 1-2-2");
}
