.rpt1xmbzs {
  fill: currentColor;
  fill-opacity: var(--svg-fill-opacity--0-25, 0.25);
  fill-rule: evenodd;
  d: path("M21 18h10a4 4 0 0 1 4 4v36a4 4 0 0 1-4 4H21a4 4 0 0 1-4-4V22a4 4 0 0 1 4-4m28 0h10a4 4 0 0 1 4 4v36a4 4 0 0 1-4 4H49a4 4 0 0 1-4-4V22a4 4 0 0 1 4-4");
}
