.rpukwg_8k {
  fill: var(--svg-color--ffdda1, #ffdda1);
  stroke: var(--svg-color--191919, #191919);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M1 23c.405-2.187.338-3.423 1.539-3.939l4.2-1.8v-1.913s-.904-.334-.904-2.392c-.938 0-.938-1.913 0-1.913c0-.275-1.572-2.323.404-1.913c.47-1.913 5.099-1.913 5.569 0a2.5 2.5 0 0 1-.421 1.913c.91 0 .66 1.913.007 1.913c0 2.058-.829 2.392-.829 2.392v1.913l4.2 1.8c1.199.514 1.133 1.74 1.54 3.939z");
}
