.rpvkfqomh {
  fill: none;
  stroke: var(--svg-color--45413c, #45413c);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M33.42 27.54a1.18 1.18 0 1 1-2.35 0m-14.13 0a1.18 1.18 0 0 1-2.36 0");
}
