.rqgrxabgu {
  fill: var(--svg-color--debb7e, #debb7e);
  stroke: var(--svg-color--45413c, #45413c);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M18.41 32.12h11.18v6.21a.55.55 0 0 1-.55.55H19a.55.55 0 0 1-.55-.55v-6.21z");
}
