.rr2w20b9o {
  fill: var(--svg-color--2859c5, #2859c5);
  fill-rule: evenodd;
  d: path("M8.5 24c0-8.56 6.94-15.5 15.5-15.5S39.5 15.44 39.5 24S32.56 39.5 24 39.5S8.5 32.56 8.5 24M24 5.5C13.783 5.5 5.5 13.783 5.5 24S13.783 42.5 24 42.5S42.5 34.217 42.5 24S34.217 5.5 24 5.5");
}
