.rrlah7bvq {
  fill: currentColor;
  d: path("M10.5492 3.3739L11.4196 5.5804L13.6261 6.4508C13.8518 6.5397 14 6.7576 14 7C14 7.2424 13.8518 7.4603 13.6261 7.5492L11.4196 8.4196L10.5492 10.6261C10.4603 10.8518 10.2424 11 10 11C9.7576 11 9.5397 10.8518 9.4508 10.6261L8.5804 8.4196L6.3739 7.5492C6.1482 7.4603 6 7.2424 6 7C6 6.7576 6.1482 6.5397 6.3739 6.4508L8.5804 5.5804L9.4508 3.3739C9.5397 3.1482 9.7576 3 10 3C10.2424 3 10.4603 3.1482 10.5492 3.3739Z");
  stroke: none;
}
