.rrv4pwbeq {
  fill: var(--svg-color--fcea2b, #fcea2b);
  stroke: var(--svg-color--fcea2b, #fcea2b);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: var(--svg-stroke-width--0-685px, 0.685px);
  d: path("m44.889 28.387l-2.253 2.657l3.287-1.165l-2.828 2.041l3.471-.342l-3.232 1.308l3.452.493l-3.452.493l3.232 1.308l-3.471-.343l2.828 2.041l-3.287-1.164l2.253 2.657l-2.91-1.917l1.554 3.122l-2.37-2.56l.76 3.403l-1.684-3.048l-.075 3.486l-.911-3.37l-.911 3.37l-.075-3.486l-1.685 3.048l.76-3.404l-2.37 2.561l1.555-3.122l-2.91 1.917l2.253-2.657l-3.287 1.164l2.828-2.04l-3.472.342l3.232-1.308l-3.451-.493l3.451-.493l-3.232-1.308l3.472.342l-2.828-2.04l3.287 1.164l-2.253-2.657l2.91 1.917l-1.554-3.123l2.37 2.562l-.76-3.404l1.684 3.047l.075-3.485l.91 3.369l.912-3.37l.075 3.486l1.685-3.047l-.76 3.404l2.369-2.562l-1.555 3.123z");
}
