.rt5epac7j {
  fill: var(--svg-color--f1b31c, #f1b31c);
  stroke: var(--svg-color--f1b31c, #f1b31c);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("m12.348 30.583l2.323-7l2.003 6.893l-5.564-4.154l7-.172z");
}
