.rtoiw9sng {
  fill: var(--svg-color--eb5757, #eb5757);
  fill-rule: evenodd;
  d: path("M24.923 40.595v1.923c0 .637.517 1.154 1.154 1.154h3.846c.637 0 1.154-.517 1.154-1.154v-5.673c0-.053.043-.096.096-.096h5.673c.637 0 1.154-.517 1.154-1.154v-3.846c0-.637-.517-1.154-1.154-1.154h-5.673a.096.096 0 0 1-.096-.096v-5.673c0-.637-.517-1.154-1.154-1.154h-3.846c-.637 0-1.154.517-1.154 1.154v5.769h-5.769c-.637 0-1.154.517-1.154 1.154v3.846c0 .637.517 1.154 1.154 1.154h5.769z");
}
