.ru23sk0eq {
  fill: none;
  stroke: var(--svg-color--000, #000);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
  stroke-width: var(--svg-stroke-width--2px, 2px);
  d: path("m34.99 54.12l-2.416 3.637c-3.63-1.754-5.671-12.962-5.671-12.962l-5.105 6.935l2.974 1.842l-.999 3.113l8.87 1.072zm1.7 0l2.415 3.637c3.63-1.754 5.673-12.962 5.673-12.962l5.104 6.935l-2.974 1.842l.999 3.113l-8.87 1.072zm2.403-35.116l2.083-3.84s-2.46-7.145-11.33-3.372c-2.105.895-3.98 2.251-5.616 3.851c0 0-2.837 2.382-3.92 4.035c0 0-1.687-.284-3.268-1.764c0 0-.435 6.643 7.577 7.577c0 0 2.858.023 6.19-2.819");
}
