.rud68dbii {
  fill: none;
  stroke: var(--svg-color--45413c, #45413c);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("m20.88 20.05l-.14-.29s-1.5-3-7.16-7.69M25.2 28.2l.49-.5a22.2 22.2 0 0 1 5-3.69M22.1 35.43s3.42-2.43 10.12-2.06M15 33.88s-1.57-5.3-7.16-11");
}
