.ruogmcc8r {
  fill: var(--svg-color--009b3a, #009B3A);
  fill-rule: nonzero;
  stroke: var(--svg-color--000, #000);
  stroke-width: var(--svg-stroke-width--0-075px, 0.075px);
  d: path("M157.284 81.6c.48.499.784.991.679 1.099s-.58-.209-1.06-.708s-.784-.991-.679-1.099c.105-.109.58.209 1.06.708z");
}
