.ruunz1mfm {
  fill: currentColor;
  fill-opacity: var(--svg-fill-opacity--0-25, 0.25);
  d: path("M8 32a4 4 0 0 1 4-4h38a4 4 0 0 1 4 4v28a4 4 0 0 1-4 4H12a4 4 0 0 1-4-4zm46 21.721l15.275 5.94A2 2 0 0 0 72 57.795V34.843a2 2 0 0 0-2.725-1.864L54 38.92z");
}
