.rv1y__2ie {
  fill: currentColor;
  fill-rule: evenodd;
  d: path("M9.315 10.507c0-.307.247-.554.555-.554h.203c.308 0 .56.247.56.554v.038h.032c.308 0 .56.247.56.555v.203a.56.56 0 0 1-.56.559h-.033v.033a.556.556 0 0 1-.559.554H9.87a.55.55 0 0 1-.555-.554v-.033h-.037a.556.556 0 0 1-.555-.559V11.1c0-.308.247-.555.555-.555h.037zm.46.072a.218.218 0 0 1 .436 0v.407h.412a.198.198 0 0 1 .14.34a.2.2 0 0 1-.14.058h-.412v.407a.218.218 0 0 1-.436 0v-.407h-.412a.199.199 0 1 1 0-.398h.412z");
}
