.rvvgsbbco {
  fill: var(--svg-color--f9f0aa, #F9F0AA);
  stroke: var(--svg-color--999270, #999270);
  d: path("M141.919 99.331s-1.245.238-1.502-1.735c-.182-1.398.683-1.596.683-1.596l2.886.489l.016 2.575z");
}
