.rw2dm7lqz {
  fill: var(--svg-color--e7e7e7, #e7e7e7);
  fill-rule: evenodd;
  stroke: var(--svg-color--000, #000);
  stroke-linejoin: round;
  stroke-width: var(--svg-stroke-width--0-1px, 0.1px);
  d: path("M337.8 215c2.6-3.5 12.8 5.8 10 8.7c-2.6 2.8-12.4-5-10-8.6z");
}
