.rw8jiwl5n {
  fill: var(--svg-color--9ca69c, #9CA69C);
  stroke: var(--svg-color--000, #000);
  stroke-width: var(--svg-stroke-width--0-333px, 0.333px);
  d: path("M162.241 110.815s-2.553-6.17-9.078-7.731s-5.674-8.51-5.142-8.936c.284-.603.497-1.525 2.376-.638s10.532 5.248 11.773 5.461c1.241.212.177 11.986.071 11.844z");
}
