.rz02wcb5x {
  fill: currentColor;
  fill-rule: evenodd;
  d: path("m15.08 7.983l-4.245 4.244l-1.768-1.768a1 1 0 1 0-1.414 1.415l2.404 2.404a1.1 1.1 0 0 0 1.556 0l4.88-4.881a1 1 0 0 0-1.414-1.414z");
}
