.rz8zezu5f {
  fill: var(--svg-color--f2f2f2, #f2f2f2);
  stroke: var(--svg-color--bdbdbd, #bdbdbd);
  stroke-linecap: square;
  d: path("M71.495 39.78c.825-.719.922-1.97.175-2.771a42.9 42.9 0 0 0-58.126-4.291a43 43 0 0 0-4.805 4.474c-.741.805-.637 2.057.192 2.771l19.638 16.932c.837.721 2.092.614 2.928-.107a13.476 13.476 0 0 1 17.526-.05c.841.716 2.097.816 2.929.09z");
}
