.rzn0kdqvh {
  fill: none;
  stroke: var(--svg-color--fff, #fff);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: var(--svg-stroke-width--1-5px, 1.5px);
  d: path("M30.99 27.05c3.314-3.702 6.655-3.638 10.02 0m-10.02 0l-2.686-.57m12.706.57l2.686-.57");
}
