.o-726i_6t {
  fill: var(--svg-color--ffe500, #ffe500);
  stroke: var(--svg-color--45413c, #45413c);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M34.87 21.12a1.83 1.83 0 0 0-1.39-1.54l-.59-.17a2 2 0 0 1-1.5-2v-2.04a1.86 1.86 0 0 0-1.4-1.8a15.5 15.5 0 0 1-6 1.09a15.5 15.5 0 0 1-6-1.09a1.86 1.86 0 0 0-1.4 1.8v2.07a2 2 0 0 1-1.5 2l-.59.17a1.83 1.83 0 0 0-1.39 1.54a1.81 1.81 0 0 0 1.81 2h.11a9 9 0 0 0 17.9 0h.11a1.81 1.81 0 0 0 1.83-2.03");
}
