.o-q_u7cjd {
  cx: 150.5px;
  cy: 75.5px;
  r: 24.107px;
  fill: var(--svg-color--ffe600, #FFE600);
  stroke: var(--svg-color--d20000, #D20000);
  stroke-width: var(--svg-stroke-width--4-286px, 4.286px);
}
