.o0um1n4go {
  fill: var(--svg-color--fff, #fff);
  stroke: var(--svg-color--00034a, #00034a);
  stroke-miterlimit: 10;
  d: path("M19.46 27.585c4.015 0 6.525-4.347 4.517-7.824a5.22 5.22 0 0 0-4.517-2.608c-4.015 0-6.525 4.347-4.517 7.824a5.22 5.22 0 0 0 4.517 2.608Z");
}
