.o1-e4gbgp {
  fill: var(--svg-color--ffa54b, #FFA54B);
  fill-rule: nonzero;
  d: path("M110.964 128.888c-.122.528-.325 1.261-.407 2.197c0 .205-.203 1.303.407 1.343c.448.042.57-1.138.57-1.138s-.407 1.301.122 1.464c.733.164.813-1.425.813-1.425c-.081.448-.57 1.589.122 1.71c.733.122.937-1.546.937-1.546s-.611 1.669.122 1.71c.692.04.692-1.629.692-1.629s-.367 1.995.61 1.83c.53-.08.652-.772.774-1.18c.162-.61.53-1.383.082-2.646c-.326-.934-.204-1.18-.204-1.18s-1.139.856-2.035 1.425c-.407.245-2.605-.935-2.605-.935");
}
