.o1y9jz_6n {
  stroke: var(--svg-color--000, #000);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: var(--svg-stroke-width--0-169px, 0.169px);
  d: path("M108.289 96.066c1.179-3.435 1.836-5.849 3.788-9.204c1.328-2.281 3.931-5.51 3.931-5.51s-2.452 3.313-3.724 5.61c-1.798 3.248-2.201 4.645-3.636 8.797z");
}
