.o22bpdb7t {
  fill: var(--svg-color--007934, #007934);
  fill-rule: evenodd;
  stroke: var(--svg-color--000, #000);
  stroke-width: var(--svg-stroke-width--0-1px, 0.1px);
  d: path("M297.5 201.4s.4-.6.4-1.3l-.1-1h.2l.1 1.3l.6-.5l.2-.6l.2.1l-.4.8c-.6.5-1 1.4-1 1.4");
}
