.o3l0l8t6o {
  fill: var(--svg-color--009b3a, #009B3A);
  fill-rule: nonzero;
  stroke: var(--svg-color--000, #000);
  stroke-width: var(--svg-stroke-width--0-075px, 0.075px);
  d: path("M160.497 86.942c.499.912.768 1.764.6 1.903s-.709-.489-1.208-1.401l-.003-.006c-.499-.912-.768-1.764-.6-1.903s.709.489 1.208 1.401z");
}
