.o4gjqu-lh {
  fill: none;
  stroke: var(--svg-color--000, #000);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: var(--svg-stroke-width--2px, 2px);
  d: path("M26.037 35.664a17.2 17.2 0 0 1-1.597-7.387c0-3.369.975-7.565 3.077-10.255a10 10 0 0 1 .861-.968a10.9 10.9 0 0 1 7.343-2.878h.065a10.9 10.9 0 0 1 7.343 2.878a10 10 0 0 1 .861.968c2.102 2.69 3.077 6.886 3.077 10.255a17.25 17.25 0 0 1-1.593 7.38");
}
