.o4oxoeb8z {
  stroke: var(--svg-color--000, #000);
  stroke-width: var(--svg-stroke-width--0-25px, 0.25px);
  d: path("M144.38 93.176h.601v.437h.437v-.446l.616.003v.444h.439v-.446l.615.003v1.006c0 .156-.124.259-.269.259h-2.158c-.144 0-.278-.117-.281-.264z");
}
