.o5_n4ybok {
  fill: var(--svg-color--d35400, #D35400);
  fill-rule: evenodd;
  d: path("m42.51 46.095l.854.845L5.768 84.161a5.93 5.93 0 0 0 0 8.447l5.119 5.068c2.356 2.332 5.17 3.326 7.526.994l38.603-38.216l.853.845c.942.933 2.471.933 3.413 0s.942-2.446 0-3.379L45.923 42.716c-.942-.933-2.471-.933-3.413 0s-.943 2.446 0 3.379");
}
