.o5s_vdrvs {
  fill: var(--svg-color--ffe500, #ffe500);
  stroke: var(--svg-color--45413c, #45413c);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M18.89 13.32a5 5 0 0 0-5 5v4.19a1.59 1.59 0 0 0 3.17 0V19.4a2.91 2.91 0 0 1 2.91-2.91h.26Zm13.77-7.64a1.58 1.58 0 0 0-1.58 1.58v3.93A2.13 2.13 0 0 1 29 13.32h-3.32L27 16.49h2.2a5.07 5.07 0 0 0 5.07-5.07V7.26a1.59 1.59 0 0 0-1.61-1.58");
}
