.o63j3_b1i {
  fill: var(--svg-color--c8b100, #C8B100);
  fill-rule: nonzero;
  stroke: var(--svg-color--000, #000);
  stroke-width: var(--svg-stroke-width--0-156px, 0.156px);
  d: path("M100.544 75.844c.42.38.74.944.78 1.528c0 0 .076-.108.364-.212c.292-.104.512-.064.512-.064s-.156.42-.22.568c-.068.148-.156.612-.336 1.012c-.176.4-.42.704-.42.704a.896.896 0 0 0-1.336 0s-.244-.304-.42-.704c-.18-.4-.268-.864-.336-1.012s-.224-.568-.224-.568s.224-.04.512.064s.368.212.368.212c.04-.584.344-1.148.756-1.528");
}
