.o6h37kblo {
  stroke: var(--svg-color--c7b37f, #C7B37F);
  stroke-linecap: round;
  stroke-width: var(--svg-stroke-width--0-296px, 0.296px);
  d: path("M113.412 90.584c.227.122.345.214.583.312c.216.09.344.127.572.18c.308.071.489.088.805.096c.342.008.443 0 .875-.07");
}
