.o73_kmb9t {
  fill: var(--svg-color--dc244c, #dc244c);
  fill-rule: evenodd;
  d: path("m326.9 471.1l75.4 40.9V171.5l-73.2-42.2L256 87.1l-73.2 42.2l-73.1 42.2v168.9l73.1 42.2l73.2 42.2l70.9-41zm0-174.2l-70.9 41l-70.9-41V215l70.9-41l70.9 41z");
}
