.o7i6pgvoa {
  fill: none;
  stroke: var(--svg-color--45413c, #45413c);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M24.15 31.22a11.8 11.8 0 0 0-4.18.7a3.49 3.49 0 0 1-4.58-2.19a37 37 0 0 1-1.17-15.61H8.16a97.4 97.4 0 0 0 0 13.8a53.2 53.2 0 0 0 4 17.08h23.72v-1.51a12.14 12.14 0 0 0-11.73-12.27");
}
