.o7zax3afh {
  fill: var(--svg-color--2f88ff, #2F88FF);
  stroke: var(--svg-color--000, #000);
  d: path("M33.6961 40.8677L39 17H7L12.3039 40.8677C12.6376 42.3694 12.8045 43.1202 13.3529 43.5601C13.9013 44 14.6704 44 16.2087 44H29.7913C31.3296 44 32.0987 44 32.6471 43.5601C33.1955 43.1202 33.3624 42.3694 33.6961 40.8677Z");
}
