.o8677lbum {
  stroke: var(--svg-color--000, #000);
  stroke-width: var(--svg-stroke-width--0-25px, 0.25px);
  d: path("m144.414 70.014l.601.003v.434h.439v-.444l.613.003v.444h.439v-.447h.616v1.006c0 .156-.124.259-.269.259h-2.158c-.144 0-.278-.117-.281-.261z");
}
