.o87l_2b2t {
  fill: var(--svg-color--ffef5e, #ffef5e);
  stroke: var(--svg-color--191919, #191919);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("m18.397 12.937l-5.755 5.755l2.75 2.75l5.755-5.755z");
}
