.o8m8bzyzx {
  stroke: var(--svg-color--092f63, #092f63);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
  d: path("M14.94.73v22.54m0-22.54l2.94 6.37v8.33h-2.94M6.12.73v5.88l2.94 2.94L12 6.61V.73m-2.94 0v22.54");
}
