.o97344fnt {
  fill: none;
  stroke: var(--svg-color--000, #000);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: var(--svg-stroke-width--1-727px, 1.727px);
  d: path("m8 21l4-1c-1.467-4.06.157-6.836 3.677-8.147c1.966-.732 4.78-.443 6.409.98c.586.511.954 1.234 1.125 1.992l.007.032c1.42 6.36-2.692 8.804-5.218 9.143c-2.777.373-4.802-3.783-5-4");
}
