.o_4gfppxf {
  fill: currentColor;
  fill-opacity: var(--svg-fill-opacity--0-25, 0.25);
  d: path("M26 24.5a2.5 2.5 0 0 1 2.5-2.5h23a2.5 2.5 0 0 1 2.5 2.5v9.1l-12.144-4.857a5 5 0 0 0-3.713 0L26 33.6z");
}
