.o_cpohb4g {
  stroke: var(--svg-color--2859c5, #2859c5);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M12.217 3.167c-.906-.842-2.221-.757-3.122.092A91 91 0 0 0 7.15 5.15a91 91 0 0 0-1.892 1.945c-.849.9-.934 2.216-.092 3.122a23 23 0 0 0 1.16 1.16c.906.843 2.221.757 3.122-.092a91 91 0 0 0 1.945-1.892a91 91 0 0 0 1.892-1.945c.849-.9.935-2.216.092-3.122a23 23 0 0 0-1.16-1.16");
}
