.oa0-9mr-g {
  fill: var(--svg-color--fff48c, #fff48c);
  stroke: var(--svg-color--45413c, #45413c);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M41.31 7.41a1.52 1.52 0 1 1-2.16 0a1.52 1.52 0 0 1 2.16 0");
}
