.oaeypzwfr {
  stroke: var(--svg-color--703d29, #703D29);
  stroke-width: var(--svg-stroke-width--0-296px, 0.296px);
  d: path("m158.67 150.432l.848-.081l.807-.323l.565-.343l.767-.908l.161-.343l.121-.787l.04-.363");
}
