.ob162o_ip {
  fill: var(--svg-color--ffbc44, #ffbc44);
  stroke: var(--svg-color--191919, #191919);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M6.224 15.723L4.478 17.47l2.096 2.097l1.747-1.747z");
}
