.ob88tfb8i {
  fill-rule: nonzero;
  stroke: var(--svg-color--000, #000);
  stroke-linecap: round;
  stroke-width: var(--svg-stroke-width--0-15px, 0.15px);
  d: path("M229.885 102.442a.62.62 0 0 1-.616.625a.62.62 0 0 1-.615-.625a.62.62 0 0 1 .615-.625c.34 0 .616.28.616.625z");
}
