.obive6x0l {
  fill: none;
  stroke: currentColor;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: var(--svg-stroke-width--1-5px, 1.5px);
  d: path("M11.254 3C3.695 4.385-1.464 15.984 8.54 14c10.083-2 11.01-7.822 8.57-9c-4.3-2.077-14.974 9.193-6.128 12.539C20.136 21 22.51 14.577 20.136 13.5c-2.205-1-8.333 3.5-2.205 7.5");
}
