.obxfhqbuh {
  fill: none;
  stroke: var(--svg-color--45413c, #45413c);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("m39.33 28.91l-.94-8.71A14.26 14.26 0 0 0 24 7.75A14.27 14.27 0 0 0 9.61 20.2l-.94 8.71a8.09 8.09 0 0 0 8.25 8.77h.46c1.25 1.55 3.74 2.61 6.62 2.61s5.37-1.06 6.62-2.61h.46a8.09 8.09 0 0 0 8.25-8.77");
}
