.og1rmsw3t {
  fill: currentColor;
  fill-rule: evenodd;
  d: path("M5.017 12.5C5 12.921 5 13.415 5 14v6c0 .943 0 1.414.293 1.707S6.057 22 7 22h3v-4a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v4h3c.943 0 1.414 0 1.707-.293S19 20.943 19 20v-6c0-.585 0-1.079-.017-1.5c-.365 0-.738-.011-1.083-.091a3.5 3.5 0 0 1-1.4-.682c-.584.47-1.32.754-2.113.772l-.126.001h-.148A3.5 3.5 0 0 1 12 11.726c-.584.47-1.32.754-2.113.772l-.126.001h-.148a3.5 3.5 0 0 1-2.113-.773c-.404.325-.88.56-1.4.682c-.345.08-.718.09-1.083.091");
}
