.oh1ldeb6j {
  stroke: var(--svg-color--000, #000);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 2;
  stroke-width: var(--svg-stroke-width--4px, 4px);
  d: path("M37.8887 43.8887L33.8887 36.8887");
}
