.ohca03fbp {
  fill: var(--svg-color--2f80ed, #2f80ed);
  stroke: var(--svg-color--2f80ed, #2f80ed);
  d: path("M37.867 38.4a2 2 0 0 1 0 3.2L11.2 61.6c-1.318.989-3.2.048-3.2-1.6V20c0-1.648 1.882-2.589 3.2-1.6z");
}
