.ohm0zoruo {
  stroke: currentColor;
  stroke-linecap: square;
  stroke-width: var(--svg-stroke-width--2px, 2px);
  d: path("M3 6.222c0 1.75 1.5 3.159 3.29 3.159l-.216-3.159h3.389c0-1.749-1.447-3.166-3.232-3.166C4.447 3.056 3 4.473 3 6.222Z");
}
