.ohx3qob0y {
  fill: none;
  stroke: currentColor;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: var(--svg-stroke-width--2px, 2px);
  d: path("M3 19L18 4l3 3l-6 6l2 2a14 14 0 0 1-14 4");
}
