.oi7hzsbqz {
  fill: var(--svg-color--fffbd8, #fffbd8);
  fill-rule: nonzero;
  d: path("m153 105l4 7l-4-1l-4-2h-8l-9 2l-1 1h-1l-2 1l-6 2c-14 5-27 13-39 23l-12 12l-2 3h1v6l8 7l2 2c1 1 2 2 1 3l-9-4l-9-9c-9-14-7-30 4-43s30-21 47-24c15-2 30 1 39 14");
}
