.oiz761b6z {
  cx: 27px;
  cy: 40px;
  r: 7px;
  fill: var(--svg-color--fff, #fff);
  stroke: var(--svg-color--d22f27, #d22f27);
  stroke-miterlimit: 10;
  stroke-width: var(--svg-stroke-width--2px, 2px);
}
