.ojo6lub6p {
  fill: none;
  stroke: var(--svg-color--000, #000);
  stroke-miterlimit: 10;
  stroke-width: var(--svg-stroke-width--2px, 2px);
  d: path("M48.34 16.8c.795-.166 1.522-.884 1.665-2.799c.299-3.989-9-4-9-4s-3 0-9-3s-12 7-12 7s-3 6-5 5s-5 2-3 6c0 0 1 7 6 2s3-8 10-7s11 0 11-2s5-4 7-2a2.6 2.6 0 0 0 2.335.8");
}
