.ojt3mcbzj {
  fill: var(--svg-color--ffbc44, #ffbc44);
  stroke: var(--svg-color--191919, #191919);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M23 4.156v10.52a2.88 2.88 0 0 1-2.869 2.87h-2.87V8.938a3.88 3.88 0 0 0-2.783-3.568L1.776 2.195a2.85 2.85 0 0 1 2.095-.909h16.26a2.87 2.87 0 0 1 2.87 2.87");
}
