.okygb9b9t {
  stroke: currentColor;
  stroke-linecap: square;
  stroke-width: var(--svg-stroke-width--2px, 2px);
  d: path("M12 17.625V8.25m4.5 2.65v9.35m-9 0V10.125L12 7.5l4.5 2.625L21 8.25v10.125L16.5 21L12 18.375z");
}
