.ol2kopnbl {
  fill: currentColor;
  fill-opacity: var(--svg-fill-opacity--0-16, 0.16);
  d: path("M21.304 13.424a1.6 1.6 0 0 0 0-2.262l-.99-.99l-3.536 3.535l.99.99a1.6 1.6 0 0 0 2.263 0zM5.182 21.061l7.354-7.354l-2.829-2.828l-7.354 7.354a1.6 1.6 0 0 0 0 2.262l.566.566a1.6 1.6 0 0 0 2.263 0");
}
