.olt2-ybec {
  stroke: currentColor;
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M10.686 40.686A16 16 0 0 0 22 68h36a12 12 0 0 0 8.485-20.485m-55.799-6.829a16 16 0 0 1 23.902 1.437a14 14 0 0 1 18.267 3.036a12 12 0 0 1 13.63 2.356m-55.799-6.829q-.155.155-.305.314A12 12 0 0 1 10 38m56.485 9.515l.03.03A16 16 0 0 0 74 34a16 16 0 0 0-27.314-11.314m0 0q-.683.685-1.274 1.437a14 14 0 0 0-18.267 3.036A11.998 11.998 0 0 0 10 37.999m36.686-15.313a16 16 0 0 1 4.566-3.193a14 14 0 0 0-16.664-1.37A16 16 0 1 0 10.015 38.6Q10 38.3 10 38");
}
