.olx8frbln {
  fill: none;
  stroke: var(--svg-color--45413c, #45413c);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M34.54 27.33a47 47 0 0 0 5.23-.87M6.26 32.7c1.23-1.53 5.15-4.48 11.78-5.37m16.8 5.05a40 40 0 0 0 6.68-1M8 37.7c1.18-1.47 5-4.51 11.84-5.43M4.76 28.28c1.7-2.12 5.84-4.71 11.9-5.52c11.15-1.5 11 1.62 21.73-.88");
}
