.oly6fdb5g {
  fill: none;
  stroke: var(--svg-color--219653, #219653);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: var(--svg-stroke-width--4px, 4px);
  d: path("M35 16h20M25 64h20m0-48L35 64");
}
