.omo9ncbzl {
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M8.495 8.508v4m2.005-2.005h-4m10.25-1.378v.125m.25 0a.25.25 0 1 1-.5 0a.25.25 0 0 1 .5 0m-2.75 2.375v.125m.25 0a.25.25 0 1 1-.5 0a.25.25 0 0 1 .5 0");
}
