.ona2a9vbr {
  stroke: var(--svg-color--191919, #191919);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M18.311 22.792a.55.55 0 0 1-.426.208H5.572a.554.554 0 0 1-.535-.667l1.071-4.8h11.24l1.062 4.8a.53.53 0 0 1-.099.46M3.252 13.159h17.496");
}
