.ong9ydkqk {
  stroke: var(--svg-color--000, #000);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: var(--svg-stroke-width--4px, 4px);
  d: path("M39 17C39 19.7614 32.2843 22 24 22C15.7157 22 9 19.7614 9 17");
}
