.oo_yzmb4t {
  fill-rule: evenodd;
  d: path("M12 9h9a2 2 0 0 1 2 2v7a2 2 0 0 1-.906 1.675a2.25 2.25 0 1 1-4.288.325h-4.612q.056.241.056.5a2.25 2.25 0 1 1-4.444-.5H6a2 2 0 0 1-2-2v-2l.8-2.59A2 2 0 0 1 6.71 12H10v-1a2 2 0 0 1 2-2");
  opacity: var(--svg-opacity--0-2, 0.2);
}
