.ooqt9abhs {
  fill: var(--svg-color--000, #000);
  fill-rule: nonzero;
  d: path("M200.778 50.01c-.068.084-.301.051-.433.01c-.188.031-.307.552-.364.86l-.018.1l.095-.036c.403-.149.563-.101.621-.057a.14.14 0 0 1 .059.115v.003l.115.006l.034-1.136zm-.015.11l-.02.675c-.121-.088-.343-.071-.628.021c.072-.351.169-.659.226-.685a.7.7 0 0 0 .422-.011");
}
