.op6uytblu {
  fill: none;
  stroke: var(--svg-color--000, #000);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: var(--svg-stroke-width--2px, 2px);
  d: path("M26.196 18.406c1.76-4.76 6.05-9.05 8.54-9.71c-14.44 1.61-13.32 12.16-10.71 16.29v.01m10.71-8.43a15.2 15.2 0 0 1 8.41 1.89c.02.01.05.03.07.04a9.1 9.1 0 0 1 2.54 2.31c-.35.46-.65 1.15-1.27 1.28a44.8 44.8 0 0 1-9.51.9");
}
