.opccvkyva {
  fill: none;
  stroke: var(--svg-color--000, #000);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: var(--svg-stroke-width--2px, 2px);
  d: path("M37.438 38H39m16 22v-3c0-4.994-5.006-9-10-9c-3.365 2.803-6.839 3.693-10.094 3.693c-.704 0-1.441-.065-2.053-.14");
}
