.opjoz-b-i {
  fill: currentColor;
  d: path("M16.184 20a2.8 2.8 0 0 1 0-2H7.816a2.8 2.8 0 0 1 0 2zM19 8a3 3 0 0 1-1-.184v8.368a2.8 2.8 0 0 1 2 0V7.816A3 3 0 0 1 19 8M7.816 4A3 3 0 0 1 8 5a3 3 0 0 1-.184 1h8.368A3 3 0 0 1 16 5a3 3 0 0 1 .184-1zM5 16a3 3 0 0 1 1 .184V7.816A3 3 0 0 1 5 8a3 3 0 0 1-1-.184v8.368A3 3 0 0 1 5 16");
  opacity: var(--svg-opacity--0-5, 0.5);
}
