.oq2msub3o {
  stroke: var(--svg-color--2859c5, #2859c5);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M18.97 34.122c1.109.94 2.608.236 2.705-1.215c.086-1.287.177-2.885.241-4.622l19.505-.71c1.25-.045 2.347-.868 2.492-2.11a12.5 12.5 0 0 0 0-2.93c-.145-1.242-1.242-2.065-2.492-2.11l-19.505-.71a156 156 0 0 0-.241-4.624c-.097-1.45-1.596-2.155-2.707-1.215c-.977.827-2.262 1.984-3.886 3.577c-2.67 2.62-3.966 4.453-4.575 5.5a2.05 2.05 0 0 0 0 2.09c.61 1.047 1.905 2.88 4.575 5.501c1.625 1.594 2.91 2.751 3.887 3.578Z");
}
