.or-9fcc4e {
  fill: var(--svg-color--50af95, #50af95);
  fill-rule: evenodd;
  d: path("m62.15 1.45l-61.89 130a2.52 2.52 0 0 0 .54 2.94l167.15 160.17a2.55 2.55 0 0 0 3.53 0L338.63 134.4a2.52 2.52 0 0 0 .54-2.94l-61.89-130A2.5 2.5 0 0 0 275 0H64.45a2.5 2.5 0 0 0-2.3 1.45");
}
