.orirbsq5m {
  cx: 256px;
  cy: 256px;
  r: 140px;
  stroke: var(--svg-color--72b9d5, #72b9d5);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: var(--svg-stroke-width--6px, 6px);
}
