.osabe0b7m {
  stroke: currentColor;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: var(--svg-stroke-width--4px, 4px);
  d: path("M15.5 42.11A19.9 19.9 0 0 0 24 44c3.04 0 5.92-.678 8.5-1.89");
}
