.otbkqlb6h {
  fill: currentColor;
  fill-opacity: var(--svg-fill-opacity--0-25, 0.25);
  d: path("M40 10a6 6 0 0 0-2 11.659V26H22a4 4 0 0 0-4 4v8h-4a4 4 0 0 0-4 4v12a4 4 0 0 0 4 4h4v8a4 4 0 0 0 4 4h36a4 4 0 0 0 4-4v-8h4a4 4 0 0 0 4-4V42a4 4 0 0 0-4-4h-4v-8a4 4 0 0 0-4-4H42v-4.341A6 6 0 0 0 40 10m0 8a2 2 0 1 0 0-4a2 2 0 0 0 0 4M22 30h36v36h-4v-6a4 4 0 0 0-4-4H30a4 4 0 0 0-4 4v6h-4zm-4 12h-4v12h4zm44 12h4V42h-4zM30 66v-6h20v6z");
}
