.oth93szqg {
  fill: var(--svg-color--fff, #fff);
  fill-rule: evenodd;
  stroke: var(--svg-color--000, #000);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: var(--svg-stroke-width--0-8px, 0.8px);
  d: path("M386.7 250.6c3 2 4 2.8 4.4 3.8c-2.7-.6-5.2-.4-5.2-.4s-5.8-5.6-6.9-6c-.8 0-5.4-3-5.4-3c-2.3-1.1-4.4-9 4-6.7c8.8 4.1 10 4.4 10 4.4L398 246l6 6.7s-10.7-5.3-12-5.4c3 2.4 4.6 5.6 4.6 5.6c-3.4-1-6.3-1.8-9.9-2.3");
}
