.otj2g5hbk {
  stroke: currentColor;
  stroke-linecap: round;
  stroke-width: var(--svg-stroke-width--2px, 2px);
  d: path("M11.887 7a13 13 0 0 1 7.695 2.44c.113.082.17.122.18.185c.01.062-.033.119-.119.232l-7.408 9.83c-.108.144-.162.216-.236.217c-.074 0-.13-.07-.24-.212l-7.578-9.7c-.087-.112-.131-.168-.123-.23c.009-.063.065-.105.177-.188A13 13 0 0 1 11.887 7Z");
}
