.otjj2dzfa {
  fill: var(--svg-color--555, #555);
  stroke-linejoin: round;
  d: path("M14 28.666C14 26.64 15.934 25 18.32 25H26v4.334C26 31.36 24.066 33 21.68 33h-3.36C15.934 33 14 31.359 14 29.334z");
}
