.otvpmrblq {
  stroke: var(--svg-color--4147d5, #4147d5);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M4.762 2.597c.445-.601.719-1.83.719-1.83s.274 1.229.718 1.83c.449.606 1.878 1.136 1.878 1.136s-1.43.53-1.878 1.137c-.444.6-.718 1.829-.718 1.829s-.274-1.228-.719-1.83c-.448-.605-1.877-1.136-1.877-1.136s1.429-.53 1.877-1.136m1.374 9.333V8.892M2.007 6.623V8.89M.873 7.757h2.268");
}
