.ounnel9md {
  stroke: var(--svg-color--191919, #191919);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M16.304 1.076v3.75a.957.957 0 0 0 .957.957h3.75M8.653 18.217H6.74a.956.956 0 0 1-.957-.956v-3.826a.956.956 0 0 1 .957-.957h1.913m-2.87 2.87h1.913m5.739-1.435A1.434 1.434 0 0 1 12 15.348h-1.435v-2.87H12a1.435 1.435 0 0 1 1.435 1.435m-2.87 4.304v-2.87m7.653-2.869h-1.626a1.245 1.245 0 0 0-.692 2.283l1.76 1.173a1.245 1.245 0 0 1-.685 2.283h-1.627");
}
