.ov7rl_bkx {
  fill: var(--svg-color--aecbfa, #aecbfa);
  fill-rule: evenodd;
  d: path("M2.51 18.7a3.77 3.77 0 0 1 1.38-5.16a3.72 3.72 0 0 1 2.86-.38a3.78 3.78 0 1 1-4.24 5.54m4.85-2.81A1.8 1.8 0 0 0 6.25 15a1.83 1.83 0 0 0-2.06 2.69a1.83 1.83 0 1 0 3.17-1.84Zm6.97 2.47a3.79 3.79 0 0 1 0-3.77a3.79 3.79 0 0 1 5.16-1.39a3.78 3.78 0 0 1 1.38 5.16a3.78 3.78 0 0 1-6.54 0m4.86-2.81a2 2 0 0 0-.67-.67a1.85 1.85 0 0 0-2.51.68a1.86 1.86 0 0 0 0 1.83a1.83 1.83 0 0 0 2.07.85a1.82 1.82 0 0 0 1.11-.85a1.88 1.88 0 0 0 0-1.84");
}
