.ovoasjuvy {
  fill: var(--svg-color--c8b100, #C8B100);
  fill-rule: nonzero;
  d: path("M133.504 88.852c.024-.072 0-.148-.056-.168c-.052-.012-.116.036-.14.108c-.028.076-.004.152.048.168c.056.016.12-.032.148-.108");
}
