.owizmg0bg {
  stroke: var(--svg-color--4f4f4f, #4f4f4f);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: var(--svg-stroke-width--4px, 4px);
  d: path("M35.95 34.657a7 7 0 0 1-2.271 1.734c-.85.402-1.76.609-2.679.609c-.92 0-1.83-.207-2.679-.609a7 7 0 0 1-2.27-1.734m27.899 0a7 7 0 0 1-2.271 1.734c-.85.402-1.76.609-2.679.609c-.92 0-1.83-.207-2.679-.609a7 7 0 0 1-2.27-1.734");
}
