.oxa7wjbyu {
  fill: currentColor;
  fill-opacity: var(--svg-fill-opacity--0-25, 0.25);
  d: path("M46 43.5a6 6 0 1 0-12 0a6 6 0 0 0 12 0m-40 6a14 14 0 1 1 28.001 0A14 14 0 0 1 6 49.5m68 0a14 14 0 1 0-28.001 0A14 14 0 0 0 74 49.5");
}
