.oxwyg-nau {
  fill: var(--svg-color--d7e0ff, #d7e0ff);
  fill-rule: evenodd;
  d: path("m5.497 6.651l3.915-4.894a2.014 2.014 0 1 1 2.831 2.83L7.185 8.635a3.2 3.2 0 0 0-.817-1.356a3.3 3.3 0 0 0-.871-.627");
}
