.oy4egu67j {
  fill: currentColor;
  fill-opacity: var(--svg-fill-opacity--0-25, 0.25);
  d: path("M17.758 37.257a11.086 11.086 0 1 1 8.485 20.484a11.086 11.086 0 0 1-8.485-20.484m36 0a11.086 11.086 0 1 1 8.485 20.484a11.086 11.086 0 0 1-8.486-20.484");
}
