.oyxvwvb9z {
  fill: currentColor;
  fill-opacity: var(--svg-fill-opacity--0-25, 0.25);
  d: path("m12.126 20.61l7.345 7.345l.003-.003l3.155 3.156l6.688-1.792l1.791-6.687l-3.155-3.156l.003-.003l-7.345-7.345a15.588 15.588 0 0 1 20.255 20.566L64.57 56.395a6 6 0 0 1-8.485 8.485L39.628 48.423a7 7 0 0 0-11.568-6.367A15.59 15.59 0 0 1 12.126 20.61");
}
