.oz0r7tb5a {
  fill: var(--svg-color--f2f2f2, #f2f2f2);
  fill-rule: evenodd;
  d: path("M13.618 31.5a28 28 0 0 1 1.163-3h50.436a28 28 0 0 1 1.163 3zm.73 19a28 28 0 0 1-1.032-3h53.365a28 28 0 0 1-1.032 3z");
}
