.oz6v0cqzz {
  stroke: currentColor;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: var(--svg-stroke-width--5px, 5px);
  d: path("M40 60.999a7 7 0 0 1-7 7v0a7 7 0 0 1-7-7v-2a7 7 0 0 1 7-7v0a7 7 0 0 1 7 7z");
}
