.i-e4wogte {
  stroke: currentColor;
  stroke-linecap: square;
  stroke-width: var(--svg-stroke-width--2px, 2px);
  d: path("M5 5h14M5 5l.5 17h13L19 5M5 5H3m16 0h2M8.5 2h7v3h-7zm6.329 8.672L12 13.5m0 0l-2.828 2.828M12 13.5l-2.828-2.828M12 13.5l2.829 2.828");
}
