.i-x975bgc {
  stroke: var(--svg-color--000, #000);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: var(--svg-stroke-width--0-35px, 0.35px);
  d: path("m138.917 80.304l11.689 5.079v.582l-10.1 5.971s1.343-3.439 1.123-5.689c-.249-2.537-2.712-5.943-2.712-5.943");
}
