.i0b_8nkbs {
  stroke: currentColor;
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M14.397 54.782a29.56 29.56 0 0 0 29.462 14.53a29.564 29.564 0 0 0 21.745-44.094L40 40M14.397 54.782L40 40M14.397 54.782A29.564 29.564 0 0 1 41.162 10.46L40 40m0 0l25.587-14.81A29.56 29.56 0 0 0 41.15 10.458z");
}
