.i1ktyzb2b {
  fill: var(--svg-color--009b3a, #009B3A);
  fill-rule: nonzero;
  stroke: var(--svg-color--000, #000);
  stroke-width: var(--svg-stroke-width--0-075px, 0.075px);
  d: path("M142.391 86.82c-.681 1.2-1.789 3.009-2.346 4.246c-.499-1.36-1.445-3.381-2.025-4.625c.634.964 1.424 2.362 2.092 3.117c.741-.672 1.582-1.912 2.279-2.738z");
}
