.i22ge-b-j {
  fill: var(--svg-color--d0cfce, #d0cfce);
  stroke: var(--svg-color--d0cfce, #d0cfce);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: var(--svg-stroke-width--1-563px, 1.563px);
  d: path("m42.923 41.776l-2.881 4.84l-5.341 1.257l-.581-4.984l3.977-4.15");
}
