.i23etbikm {
  stroke: var(--svg-color--1a258d, #1A258D);
  stroke-width: var(--svg-stroke-width--0-049px, 0.049px);
  d: path("M147.846 76.246c.612-.648 1.443-.868 2.398-.868h.049c1.028 0 1.933.294 2.496 1.028");
}
