.i2_2pzbkv {
  fill: var(--svg-color--6dd627, #6dd627);
  stroke: var(--svg-color--45413c, #45413c);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M35 14.52s.94-4.63 7-4.51M18 11c-.31-5.32-7.51-6.5-7.51-6.5");
}
