.i2w-csbly {
  fill: none;
  stroke: var(--svg-color--6bc9f2, #6BC9F2);
  stroke-miterlimit: 10;
  stroke-width: var(--svg-stroke-width--4px, 4px);
  d: path("M15 60V32l9.988-5.006L50 41l25-12l12 4");
}
