.i3747kbjq {
  fill: none;
  stroke: currentColor;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: var(--svg-stroke-width--2px, 2px);
  d: path("M7 5v7m0 0v7m0-7h10m0-7v7m0 0v7");
}
