.i4h2wsbfn {
  stroke: var(--svg-color--0c419a, #0C419A);
  stroke-width: var(--svg-stroke-width--0-049px, 0.049px);
  d: path("M152.679 76.221c-.575-.697-1.456-.917-2.422-.917c-.905 0-1.774.208-2.349.832");
}
