.i4qlajleu {
  fill: none;
  stroke: currentColor;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: var(--svg-stroke-width--3px, 3px);
  d: path("M21 24a9 9 0 1 1-18 0a9 9 0 0 1 18 0m24-12a9 9 0 1 1-18 0a9 9 0 0 1 18 0m0 24a9 9 0 1 1-18 0a9 9 0 0 1 18 0M27.948 16.025l-7.896 3.949m7.896 12l-7.896-3.949");
}
