.i4qwr8a6b {
  stroke: var(--svg-color--000, #000);
  stroke-linejoin: round;
  stroke-width: var(--svg-stroke-width--0-15px, 0.15px);
  d: path("M236.315 121.59a.285.285 0 0 1 .089-.562h.001a.285.285 0 0 1-.09.562zm-.129.803a.284.284 0 0 1-.232-.327a.28.28 0 0 1 .322-.235a.285.285 0 0 1-.089.562zm.903 12.712l-1.382-1.427l1.686-.487");
}
