.i4sl-ib2t {
  stroke: currentColor;
  stroke-width: var(--svg-stroke-width--2px, 2px);
  d: path("M4.575 8.925L1.5 12l3.075 3.075v4.35h4.35L12 22.5l3.075-3.075h4.35v-4.35L22.5 12l-3.075-3.075v-4.35h-4.35L12 1.5L8.925 4.575h-4.35z");
}
