.i5k3-lbni {
  fill: none;
  stroke: var(--svg-color--000, #000);
  stroke-linecap: round;
  stroke-miterlimit: 10;
  stroke-width: var(--svg-stroke-width--2px, 2px);
  d: path("M24.754 26.344a18 18 0 0 0-.118 2.052c0 7.827 5.076 14.173 11.338 14.173s11.339-6.346 11.339-14.173q0-.594-.039-1.176");
}
