.i5tuh41zp {
  fill: var(--svg-color--2f80ed, #2f80ed);
  fill-rule: evenodd;
  d: path("M68 16.814v49.2A2 2 0 0 1 66 68H16.829c-1.782 0-2.675-2.154-1.415-3.414l49.172-49.172c1.256-1.256 3.403-.372 3.414 1.4");
}
