.i5vvahb_c {
  fill: var(--svg-color--009b3a, #009B3A);
  fill-rule: nonzero;
  stroke: var(--svg-color--000, #000);
  stroke-width: var(--svg-stroke-width--0-075px, 0.075px);
  d: path("M141.719 85.027c-.019-.017 1.949-3.531 1.949-3.531l-2.573 2.988l-.071.834z");
}
