.i67ob3bwq {
  fill: currentColor;
  fill-rule: evenodd;
  d: path("M22.415 6.5L8.294 20.621a3 3 0 0 1-2.122.879H1.5l.001-4.672c0-.795.316-1.558.878-2.121L16.5.585zM3.794 16.121a1 1 0 0 0-.293.707L3.5 19.5h2.672a1 1 0 0 0 .707-.293l1.707-1.708L5.5 14.414z");
}
