.i6lqbg00h {
  stroke: var(--svg-color--092f63, #092f63);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
  d: path("M17.113 16.09h6.136v7.159H.75V16.09h6.136M3.82 19.158v2.045m2.044-2.045v2.045m2.046-2.045v2.045");
}
