.i6q7t-eyn {
  stroke: var(--svg-color--191919, #191919);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M12 23c2.378 0 4.305-4.925 4.305-11S14.378 1 12.001 1S7.696 5.925 7.696 12s1.927 11 4.305 11");
}
