.i6rqiubcj {
  fill: var(--svg-color--f1bf31, #F1BF31);
  fill-rule: nonzero;
  d: path("M184.484 141.831a.82.82 0 0 1 .525-.258c.793.613 1.535 1.726 1.228 2.383a.5.5 0 0 1-.052.087c-.398.067-.897-.094-1.305-.461c-.602-.541-.779-1.325-.396-1.751");
}
