.i7m331bdy {
  fill: var(--svg-color--406325, #406325);
  fill-rule: nonzero;
  stroke: var(--svg-color--24420e, #24420E);
  stroke-width: var(--svg-stroke-width--0-017px, 0.017px);
  d: path("M133.656 112.786c1.481-.352 1.236-4.307-2.267-8.21c1.567 4.193 2.505 7.737 2.267 8.21z");
}
