.i850ewbir {
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M13.883 23.25V11.087a1.62 1.62 0 1 0-3.243 0V23.25m7.116-13.081h4.186m-19.361 0h4.186m5.495-3.925V2.058m5.494 12.558l1.842 1.843M5.972 3.617l1.842 1.842m8.634.261l2.104-2.103M4.925 16.459l2.104-2.104");
}
