.i8brhubna {
  fill: var(--svg-color--f8991d, #F8991D);
  stroke: var(--svg-color--000, #000);
  stroke-linejoin: bevel;
  stroke-width: var(--svg-stroke-width--0-274px, 0.274px);
  d: path("M301 40.032L1 146.578v-5.512L301 7.895z");
}
