.i8gb4ackl {
  fill: none;
  stroke: var(--svg-color--45413c, #45413c);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M28.84 6.57c0-.22 1.55-5.17 6.64-4.44s4.83 6.1 4 7.77a3.88 3.88 0 0 1-2.69 2s1.7-3.14-1.15-4.07c-1.61-.53-2.3 1.65-2.3 1.65Z");
}
