.i8zqrbb-e {
  fill: var(--svg-color--red, red);
  fill-rule: evenodd;
  stroke: var(--svg-color--512007, #512007);
  stroke-width: var(--svg-stroke-width--0-5px, 0.5px);
  d: path("M374.1 404.4c-.9.6-15.4 4.1-13.4 3.8s13.7 3 13.4 2s0-5.2 0-5.8zm24.7-4.3c-.6 0-9 3.2-8.7 3.2s9.6 2.6 9.3 2s-.3-4.4-.6-5.2zm25.3 2.9c-.6.3-10.5 2.6-8.7 2.9s8.4 2.6 8.4 2c0-.5 0-4.6.3-5z");
}
