.i99p7sv5h {
  fill: none;
  stroke: currentColor;
  stroke-linejoin: round;
  stroke-width: var(--svg-stroke-width--2px, 2px);
  d: path("M10.5 4A7.5 7.5 0 0 0 3 11.5c0 6 4.5 9.5 9 9.5v-2h1.5a7.5 7.5 0 0 0 0-15z");
}
