.i_h77-bqf {
  fill: none;
  stroke: var(--svg-color--000, #000);
  stroke-miterlimit: 10;
  stroke-width: var(--svg-stroke-width--2px, 2px);
  d: path("M25.647 21.282s.05-9.2 7.4-10.06m14.88 10.06s-.04-8.77-6.88-9.98c-.16-.03-.34-.06-.51-.08");
}
