.ia-obpbfn {
  fill: none;
  stroke: currentColor;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: var(--svg-stroke-width--1-5px, 1.5px);
  d: path("M6 22h12M6 2h12M3 11v2c0 2.357 0 3.535.732 4.267S5.643 18 8 18h8c2.357 0 3.535 0 4.268-.733C21 16.535 21 15.357 21 13v-2c0-2.358 0-3.536-.732-4.268C19.535 6 18.357 6 16 6H8c-2.357 0-3.536 0-4.268.732S3 8.642 3 10.999");
}
