.iaa_1xn5f {
  fill: var(--svg-color--ffbd03, #FFBD03);
  fill-rule: nonzero;
  stroke: var(--svg-color--000, #000);
  stroke-width: var(--svg-stroke-width--0-15px, 0.15px);
  d: path("m243.249 166.676l-1.784-2.053l-6.185 6.06l1.784 2.053zm15.438.846a15.3 15.3 0 0 1 2.316 2.052a15.4 15.4 0 0 1 1.863 2.477l.802-.506a16.2 16.2 0 0 0-4.389-4.758z");
}
