.iat1-6b6t {
  stroke: var(--svg-color--092f63, #092f63);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
  d: path("m19.086 18.151l-1.519 1.519l1.519 1.518l1.518-1.518zM14.045.751l1.636 9.204h3.477L12 18.135l-7.158-8.18h3.477L9.955.75z");
}
