.ibcz29bif {
  fill: currentColor;
  fill-opacity: var(--svg-fill-opacity--0-4, 0.4);
  d: path("M7 2L17 2C20.3137 2 23 4.6863 23 8L23 16C23 19.3137 20.3137 22 17 22L7 22C3.6863 22 1 19.3137 1 16L1 8C1 4.6863 3.6863 2 7 2Z");
  stroke: none;
}
