.ibft8obap {
  stroke: currentColor;
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M47.16 33.936a2 2 0 1 0-3.177-2.43l-3.12 4.077a4.5 4.5 0 1 0 1.654 8.148l8.084 4.599a2 2 0 1 0 1.978-3.477l-8.085-4.6a4.5 4.5 0 0 0-.454-2.239zm-7.66 6.065a.5.5 0 1 1 1 0a.5.5 0 0 1-1 0");
}
