.icywm0byl {
  fill: var(--svg-color--fff, #fff);
  fill-rule: evenodd;
  d: path("M256.4 198.6c-14.9 0-86 55.4-98.2 55.4c-13.1 0-95.5-31.8-105-25.5C48 240 134 330.1 157.4 330.1c23 0 91.1-48 99-48s76 48 99 48c23.4 0 109.4-90.1 104.1-101.5c-9.5-6.5-91.9 25.5-105 25.5c-12 0-83.2-55.5-98.1-55.5");
}
