.id_if5etk {
  stroke: currentColor;
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M75.103 48.623a34.15 34.15 0 0 0 0-17.242c-1.474-5.672-4.38-10.957-8.478-15.47a41.4 41.4 0 0 0-6.645-5.88a2 2 0 1 0-2.319 3.259a37.4 37.4 0 0 1 6.003 5.31c3.685 4.058 6.264 8.772 7.568 13.787a30.15 30.15 0 0 1 0 15.23c-1.304 5.014-3.883 9.728-7.568 13.786a37.4 37.4 0 0 1-6.008 5.314a2 2 0 1 0 2.319 3.26a41.4 41.4 0 0 0 6.65-5.885c4.098-4.512 7.004-9.798 8.478-15.47");
}
