.ie8ljnbxz {
  stroke: var(--svg-color--000, #000);
  stroke-width: var(--svg-stroke-width--0-088px, 0.088px);
  d: path("M159.093 55.333s1.026 2.067.709 2.694c-.31.62-1.705-1.262-2.193-1.993c-.487-.738 1.484-.701 1.484-.701z");
}
