.iet1j0pnw {
  fill: var(--svg-color--000, #000);
  fill-rule: nonzero;
  d: path("M196.928 47.131c0 .914 1.374 1.632 3.13 1.632s3.129-.717 3.129-1.632s-1.374-1.631-3.129-1.631c-1.756.001-3.13.717-3.13 1.631m.201 0c0-.789 1.313-1.43 2.928-1.43s2.927.64 2.927 1.43c0 .788-1.313 1.431-2.927 1.431c-1.587 0-2.928-.656-2.928-1.431");
}
