.ifaz70qgs {
  stroke: var(--svg-color--191919, #191919);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M8.652 23H1.957A.957.957 0 0 1 1 22.043V1.957A.956.956 0 0 1 1.956 1h12.715a.96.96 0 0 1 .677.28l3.545 3.546c.18.18.28.423.28.677v3.15");
}
