.igf3spmgo {
  fill: none;
  stroke: var(--svg-color--000, #000);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: var(--svg-stroke-width--1-999px, 1.999px);
  d: path("M11.995 12.001H59.99v47.995H11.995z");
}
