.ih1d3gb3i {
  fill: var(--svg-color--1f601a, #1F601A);
  fill-rule: nonzero;
  stroke: var(--svg-color--000, #000);
  stroke-width: var(--svg-stroke-width--0-073px, 0.073px);
  d: path("M167.896 86.3s0-.881-.257-1.137s-.392-.392-.514-.551c-.122-.171-.257-.599-.55-.771c-.294-.171-.808-.599-.857-.759c0 0-.122 1.052.171 1.615c.306.55.306.844.636.966c.343.135.392.221.514.306c.135.086.343.208.514.208s.343.123.343.123zm-.978 5.786c-.049.245-.22-.551.673-.551s1.615-.343 1.921-.648c.294-.294.465-.502.588-.636c.134-.122.465-.636.514-.893c.037-.245.294-1.187.257-1.358c0 0-.477.085-.685.257s-.599.172-.808.306c-.208.122-.379.465-.514.587c-.122.135-.501.135-.673.379c-.171.257-.465.808-.514 1.064c-.037.257-.343.514-.551.636c-.208.136-.172.638-.208.857z");
}
