.ih2325bte {
  fill: none;
  stroke: var(--svg-color--fff, #fff);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: var(--svg-stroke-width--3-868px, 3.868px);
  d: path("m30.314 31.328l-5.802-13.54l-5.802 13.54");
}
