.ihmrgyadd {
  fill: currentColor;
  fill-opacity: var(--svg-fill-opacity--0-4, 0.4);
  d: path("M8.2661 8.2656L20.8686 20.8691C20.4855 22.1344 19.3196 23 17.9975 23L6.0024 23C4.3456 23 3.0026 21.6568 3.0024 20C3.0024 19.5539 3.1017 19.1128 3.2934 18.71L8.2661 8.2656Z");
  stroke: none;
}
