.iiwkn2_rn {
  fill: var(--svg-color--fff, #fff);
  fill-rule: evenodd;
  d: path("M7.984 10.88q.038-.295.088-.58l.012-.075a.52.52 0 0 1 .472-.435l.054-.004A3.142 3.142 0 0 0 3.886 8.9a3.33 3.33 0 0 0-1.107 1.84q.196.056.4.078c.877.098 1.778.182 2.696.182c.715 0 1.418-.05 2.109-.12");
}
