.iixlcibpx {
  fill: var(--svg-color--3bb44a, #3BB44A);
  fill-rule: nonzero;
  d: path("M124.45 82.063c-.015.539.125 1.093.185 1.617c.059.524.103 1.011.236 1.506c.162.642.399 1.299.48 1.956c.066.576.044 1.166.044 1.749");
}
