.ijje8gbaf {
  fill: var(--svg-color--fedf00, #FEDF00);
  fill-rule: nonzero;
  stroke: var(--svg-color--000, #000);
  stroke-width: var(--svg-stroke-width--0-163px, 0.163px);
  d: path("m153.343 94.058l-2.842-1.964l-2.843 1.964l1.066-3.143l-2.487-1.965h3.198l1.066-3.143l1.066 3.143h3.198l-2.487 1.965z");
}
