.il04wzb_z {
  fill: var(--svg-color--fcea2b, #fcea2b);
  stroke: var(--svg-color--fcea2b, #fcea2b);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M36 40.885a6.93 6.93 0 0 1-6.866-5.406A6.5 6.5 0 0 0 29 36.777a7.007 7.007 0 0 0 14 0a6.5 6.5 0 0 0-.134-1.298A6.93 6.93 0 0 1 36 40.885m-1.293-6.364l1.328-4l1.145 3.939L34 32.086l4-.099z");
}
