.il2wf62tu {
  fill: var(--svg-color--daedf7, #daedf7);
  stroke: var(--svg-color--45413c, #45413c);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("m38.47 9.92l-10.33 1.77a2.82 2.82 0 0 0-2.29 3.24l10.51-1.8a3.94 3.94 0 0 0 2.42-1.46Z");
}
