.ilayjct4l {
  fill: none;
  stroke: var(--svg-color--45413c, #45413c);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M30.38 21.25a.85.85 0 1 0-1.7 0v.85a1.28 1.28 0 0 1-2.55 0v-3.83L32 12.9c6.88.59 12 2.77 12 5.37V22a.42.42 0 0 1-.53.42a1.7 1.7 0 0 1-1.17-1.62a.85.85 0 1 0-1.7 0v.85a.86.86 0 0 1-.86.85a.85.85 0 0 1-.85-.85a.85.85 0 0 0-1.7 0v.85a1.7 1.7 0 1 1-3.4 0v-1.25a.85.85 0 1 0-1.7 0v.42a.86.86 0 0 1-.86.85a.85.85 0 0 1-.85-.85Z");
}
