.ilt4b8bzr {
  fill: none;
  stroke: currentColor;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: var(--svg-stroke-width--1-5px, 1.5px);
  d: path("m3.75 13.5l10.5-11.25L12 10.5h8.25L9.75 21.75L12 13.5z");
}
