.im33libln {
  fill: var(--svg-color--000, #000);
  stroke: var(--svg-color--fff, #fff);
  d: path("M19.2959 23.7326V32.4698C19.2959 33.5069 20.1366 34.3477 21.1737 34.3477C21.5217 34.3477 21.8627 34.251 22.1589 34.0685L30.5444 28.9005C30.9859 28.6285 31.1232 28.05 30.8511 27.6086C30.7742 27.4838 30.6692 27.3788 30.5444 27.3019L22.1589 22.134C21.2761 21.5898 20.1192 21.8645 19.5751 22.7474C19.3926 23.0436 19.2959 23.3846 19.2959 23.7326Z");
}
