.im9u8mrja {
  width: 7.5px;
  height: 3.75px;
  x: 8.25px;
  y: 6.25px;
  stroke: currentColor;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: var(--svg-stroke-width--1-5px, 1.5px);
  rx: 1px;
}
