.in6b0f2av {
  stroke: var(--svg-color--092f63, #092f63);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
  d: path("m13.023 17.624l-2.046 1.33l-2.045-1.33V15.58l2.045-1.227l2.046 1.227z");
}
