.in7irw04p {
  fill: var(--svg-color--fff, #fff);
  fill-opacity: var(--svg-fill-opacity--0-44, 0.44);
  d: path("m337.881 531.221l31.956 30.733l-59.571-1.256s-1.861-18.927-1.241-28.856l3.723-9.929z");
}
