.in9s3-iog {
  fill: none;
  stroke: var(--svg-color--45413c, #45413c);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M11.31 23.74a8 8 0 0 0-8 8v10.99a.77.77 0 0 0 .54.74h0a24.18 24.18 0 0 0 15 0h0a.77.77 0 0 0 .54-.74V31.78a8 8 0 0 0-8.08-8.04");
}
