.inb_m7jup {
  fill: var(--svg-color--007934, #007934);
  fill-rule: evenodd;
  stroke: var(--svg-color--000, #000);
  stroke-width: var(--svg-stroke-width--0-1px, 0.1px);
  d: path("M295 189.6c-.3 0-3.3-2.2-3.8-4.5c-.3-1.7 0-2 0-2s.5-.3 1.2 1.2c.7 1.4 2.5 3.8 2.7 5.3z");
}
