.iosy5ibnu {
  fill: var(--svg-color--2f80ed, #2f80ed);
  fill-rule: evenodd;
  d: path("m55.587 23.231l-2.608 7.235H27.022l-2.609-7.235a42.22 42.22 0 0 1 31.174 0m-1.4 15.813a23.03 23.03 0 0 1-28.399 0l1.22-1.578h25.958z");
}
