.ioymeyb6z {
  fill: var(--svg-color--fff, #FFF);
  fill-rule: nonzero;
  stroke: var(--svg-color--000, #000);
  stroke-width: var(--svg-stroke-width--1-957px, 1.957px);
  d: path("m235.5 86.213l-12.143 4.286l12.143 4.286l12.143-4.286z");
}
