.ipy4rfbey {
  stroke: var(--svg-color--191919, #191919);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M12 4.826v6.696m-1.913 2.869h3.841m-3.841 1.913h3.841M3.392 18.3v-4.865a1.913 1.913 0 0 1 1.913-1.913h13.391a1.913 1.913 0 0 1 1.913 1.913V18.3m.001-8.691l-1.914 1.913M3.392 9.609l1.913 1.913");
}
