.ir5xpsbeu {
  stroke: var(--svg-color--092f63, #092f63);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M8.932 7.398v14.317L12 23.249l3.068-1.534V7.398M12 1.774v4.602m-1.023 12.782h2.046M10.977 12h2.046M15.068.751v6.647l3.068 1.534l3.068-1.534V.751");
}
