.irwinbc_r {
  fill: currentColor;
  fill-opacity: var(--svg-fill-opacity--0-25, 0.25);
  d: path("M18.846 44.642a5 5 0 1 0 5 8.66a5 5 0 0 0-5-8.66m1.634 4.83a1 1 0 1 1 1.732-1a1 1 0 0 1-1.732 1m32.909-19a5 5 0 1 0-8.66 5a5 5 0 0 0 8.66-5m-4.83 1.634a1 1 0 1 1 1 1.732a1 1 0 0 1-1-1.732");
}
