.iu_vjn5yl {
  stroke: var(--svg-color--191919, #191919);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M17.837 9.883v.468h-3.592L8.54 1.793a.467.467 0 0 1 .38-.79a.43.43 0 0 1 .228.107zM3.696 21.345v-.01m4.04.01v-.01m4.038.01l-.006-.003l-.003-.007m4.042.01v-.01");
}
