.iv3xe5qcb {
  fill: var(--svg-color--6bafff, #6bafff);
  fill-rule: evenodd;
  d: path("M25.741 23.262c.272.422.37.75.263.863c1.921-1.199 4.584-2.31 10.212-2.31c0 0-.081-.407-.56-.87c-5.217.07-7.924 1.114-9.914 2.318");
}
