.ivjvhtoza {
  stroke: var(--svg-color--2f80ed, #2f80ed);
  stroke-linecap: square;
  stroke-linejoin: round;
  stroke-width: var(--svg-stroke-width--4px, 4px);
  d: path("M17.03 23.03a6 6 0 0 1 6-6h17.94a6 6 0 0 1 6 6v17.94a6 6 0 0 1-6 6H23.03a6 6 0 0 1-6-6z");
}
