.iweh6ybyd {
  fill: var(--svg-color--fff, #FFF);
  fill-rule: nonzero;
  stroke: var(--svg-color--db161b, #DB161B);
  stroke-width: var(--svg-stroke-width--0-212px, 0.212px);
  d: path("M43.873 37.28c12.028 11.762 17.159 13.25 14.751 14.198S48.47 46.355 40.41 38.29c-8.06-8.063-12.995-15.239-10.587-16.187s1.257 2.666 14.05 15.177z");
}
