.iwjrb3bnb {
  fill: none;
  stroke: var(--svg-color--000, #000);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: var(--svg-stroke-width--2px, 2px);
  d: path("M60 60.958H12a.945.945 0 0 1-1-1v-48a.945.945 0 0 1 1-1h48a.945.945 0 0 1 1 1v48a.945.945 0 0 1-1 1");
}
