.iwviw9n_m {
  fill: var(--svg-color--red, red);
  fill-rule: nonzero;
  d: path("M177.804 88.406c.127-1.069.195-2.156.195-3.258v-8.835h-10.998v12.094zm-21.809-12.093h11.008V64.219h-11.008zm0-24.188h-11.007v12.094h11.007zM178 64.219V52.125h-10.997v12.094z");
}
