.iyfugzo9a {
  stroke: var(--svg-color--703d29, #703D29);
  stroke-width: var(--svg-stroke-width--0-279px, 0.279px);
  d: path("M181.636 125.083c.356-.486 1.655-1.102 2.705-.519c.345.192.755.435 1.114.973");
}
