.iyl7zkbmr {
  stroke: var(--svg-color--092f63, #092f63);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M11.51 9.55v1.96l-2.94 1.96m9.8-3.92v1.96l-2.94 1.96m-3.92-7.84H7.59v3.92h3.92zm6.86 0h-3.92v3.92h3.92z");
}
