.iywf-ob-u {
  fill: var(--svg-color--007934, #007934);
  fill-rule: evenodd;
  stroke: var(--svg-color--000, #000);
  stroke-width: var(--svg-stroke-width--0-1px, 0.1px);
  d: path("M298.4 203c.4-.2 3.6-2.9 4-5.6c.2-2-.2-2.5-.2-2.5s-.5-.2-1.2 1.5c-.7 1.8-2.6 4.7-2.6 6.5z");
}
