.iztpz8b0a {
  fill: var(--svg-color--2be1b7, #2be1b7);
  fill-rule: evenodd;
  d: path("M37.4 12.5c0 .4 1.1 2.4 1.4 2.5c.2 0 .7-.4 1.2-.7s.8-.6 1-.6l.4.6c.3.4.6 1 .8 1a8 8 0 0 0 2.2-1c0-2.2-2-4.3-4.4-3.9c-1.2.2-2.2 1-2.6 2Z");
}
