.izu9akmqb {
  width: 160px;
  height: 64px;
  x: 176px;
  y: 32px;
  fill: none;
  stroke: currentColor;
  stroke-linejoin: round;
  stroke-width: var(--svg-stroke-width--32px, 32px);
  rx: 26.13px;
  ry: 26.13px;
}
