.c-0uoib3h {
  fill: var(--svg-color--f7fcff, #f7fcff);
  stroke: var(--svg-color--e31d1c, #e31d1c);
  stroke-width: var(--svg-stroke-width--2-7px, 2.7px);
  d: path("M34.92 1.233L36.95.055v24.69l-2.028-1.178l-17.219-10l-2.01-1.167l2.01-1.167z");
}
