.c-bbl2byy {
  stroke: var(--svg-color--191919, #191919);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M3.87 9.609V7.696c0-.529.427-.957.956-.957h5.739c.528 0 .956.428.956.957v7.652a.956.956 0 0 1-.956.956H8.652m0-1.912h2.87");
}
