.c-o5zcb4l {
  stroke: currentColor;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: var(--svg-stroke-width--4px, 4px);
  d: path("M43 20c0-2.172-18.108-11.888-22.866-14.404a1.97 1.97 0 0 0-2.149.201L5 16");
}
