.c-rl6lbfw {
  fill: currentColor;
  fill-rule: evenodd;
  d: path("M2.422 12c0-5.522 4.477-10 10-10s9.999 4.478 9.999 10s-4.477 9.999-10 9.999s-10-4.477-10-9.999m10-8.5a8.5 8.5 0 1 0 0 17a8.5 8.5 0 0 0 0-17");
}
