.c005r7bfq {
  fill: none;
  stroke: currentColor;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: var(--svg-stroke-width--3px, 3px);
  d: path("m3 8l6.5 6.5L14 10l6.5 6.5M17 17h4v-4");
}
