.c044t7roy {
  fill: var(--svg-color--ffe236, #ffe236);
  stroke: var(--svg-color--231f20, #231f20);
  stroke-linecap: round;
  d: path("M10.04 34.36a1.88 1.88 0 1 0 3.76 0a1.88 1.88 0 0 0-3.76 0ZM22.44 2.9a1.64 1.64 0 1 0 3.28 0a1.64 1.64 0 0 0-3.28 0Z");
}
