.c11ko7bhz {
  fill: none;
  stroke: var(--svg-color--45413c, #45413c);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M21.87 12.15a1.06 1.06 0 0 1-1.06-1.06V5.76a1.05 1.05 0 0 1 1.06-1.06h0a1.06 1.06 0 0 1 1.07 1.06v5.33a1.07 1.07 0 0 1-1.07 1.06");
}
