.c12j9pbpg {
  fill: var(--svg-color--d9261c, #d9261c);
  fill-rule: evenodd;
  d: path("M296.887 51.97C274.792 20.671 238.098 2 200.765 2c-37.318 0-74.02 18.672-96.078 49.97l-1.132 1.61h27.821l.308-.334c18.936-19.544 43.655-29.88 69.08-29.88c25.43 0 50.144 10.336 69.116 29.88l.308.334H298z");
}
