.c19orcb0f {
  fill: none;
  stroke: currentColor;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: var(--svg-stroke-width--1-5px, 1.5px);
  d: path("M12 17h7l-4.5-6.5h3L12 3l-5.5 7.5h3L5 17zm0 0v4");
}
