.c1t72pbmv {
  stroke: var(--svg-color--191919, #191919);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M14.392 7.217v-2.87M23 5.304H5.782M20.13 17.74l.48 1.912m-6.703-1.912l-.472 1.912M23 19.174a.48.48 0 0 1-.479.478h-11M15.666 9.13l1.158 3.478a1.91 1.91 0 0 0 1.818 1.309h3.368");
}
