.c21ppmjqn {
  fill: none;
  stroke: var(--svg-color--000, #000);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: var(--svg-stroke-width--2px, 2px);
  d: path("m21 13l-2 5l5 2l2 9l-5 5l2 3l-3 2v1l5 7l4-2m5.5 11l1.5-3l3-2l7 4l5-1v-4l-2-2l1.5-3.5");
}
