.c21u_2--p {
  fill: none;
  stroke: currentColor;
  stroke-linecap: round;
  d: path("M8.76 7.3c.46-.33.74-.79.74-1.3s-.28-.97-.73-1.3m1.59 4.12C11.07 8.09 11.5 7.1 11.5 6c0-1.12-.45-2.13-1.18-2.86");
}
