.c2ps4mvsk {
  fill: var(--svg-color--ffbd03, #FFBD03);
  fill-rule: nonzero;
  stroke: var(--svg-color--000, #000);
  stroke-width: var(--svg-stroke-width--0-15px, 0.15px);
  d: path("M225.486 123.954s-.05 1.69.176 1.911a.6.6 0 0 0 .885-.018c.189-.2.407-.68.363-1.001s-.107-.728-.439-.77c-.281-.036-.52.945-.52.945s.274-1.251.044-1.454c-.255-.226-.641-.378-.998-.108c-.264.2.022 1.572.022 1.572s-.168-1.185-.702-1.041c-.297.08-.444.689-.39 1.132s.286.846.696.951c.415.106.751-.095.799-.431c.061-.432.064-1.688.064-1.688z");
}
