.c2riqyb9o {
  fill: var(--svg-color--2f80ed, #2f80ed);
  stroke: var(--svg-color--2f80ed, #2f80ed);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: var(--svg-stroke-width--4px, 4px);
  d: path("M33.416 64h14.169c.819 0 1.117 1.079.415 1.5l-6.214 3.728a2.5 2.5 0 0 1-2.572 0L33 65.5c-.702-.421-.404-1.5.416-1.5");
}
