.c2yr0367r {
  fill: var(--svg-color--fff, #fff);
  stroke: var(--svg-color--fff, #fff);
  d: path("M33 9a4 4 0 0 0-2.646 7h5.292A4 4 0 0 0 33 9m-9 0a4 4 0 0 0-2.646 7h5.292A4 4 0 0 0 24 9m-9 0a4 4 0 0 0-2.646 7h5.292A4 4 0 0 0 15 9");
}
