.c35k182lf {
  fill: none;
  stroke: var(--svg-color--000, #000);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
  stroke-width: var(--svg-stroke-width--2px, 2px);
  d: path("M53.908 63.031H18.01a1 1 0 0 1-1-1V13.068a1 1 0 0 1 1-1h35.9a1 1 0 0 1 1 1V62.03a1 1 0 0 1-1 1");
}
