.c37b-6bmw {
  fill: var(--svg-color--fff, #fff);
  stroke: var(--svg-color--fff, #fff);
  stroke-miterlimit: 2.6;
  stroke-width: var(--svg-stroke-width--0-1px, 0.1px);
  d: path("M319.3 202.3L283 263h72.7z");
}
