.c3ft01_fn {
  fill: currentColor;
  fill-opacity: var(--svg-fill-opacity--0-25, 0.25);
  d: path("M19 46V34l15-15h12l15 15v12L46 61H34zM34 7h12v12H34zm0 54h12v12H34zM7 34h12v12H7zm54 0h12v12H61z");
}
