.c3ur3-0sv {
  stroke: var(--svg-color--092f63, #092f63);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
  d: path("m12 4.65l6.86 4.41v6.174l-2.94 3.136H8.08l-2.94-3.136V9.06zm2.94 13.72v1.96H9.06v-1.96");
}
