.c3z6yg-qu {
  fill: none;
  stroke: var(--svg-color--8bd5ca, #8bd5ca);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
  d: path("M8 7.467c.344 2.288 2.827 1.646 3.575 1.66c.094.003.346.157.425.208l.994.47c.116.073.264.124.389.069l.467-.207a.77.77 0 0 0 .603-.673l.049-.461a.77.77 0 0 0-.206-.612L11.5 4.5l-1.5-1v-2s-2.19.261-2 1.925c0 0-4.434 1.764-1.513 5.867c0 0 .79 1.51.018 3.16");
}
