.c5jyy0btl {
  stroke: var(--svg-color--092f63, #092f63);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
  d: path("M8.932 7.91H5.353L.751 15.58l1.756 2.556h4.045l-2.337 3.291l1.138 1.822h13.294l4.602-7.67l-4.602-7.67h-1.422M3.93 15.068h6.025");
}
