.c5yykebmg {
  stroke: var(--svg-color--703d29, #703D29);
  stroke-width: var(--svg-stroke-width--0-296px, 0.296px);
  d: path("M184.159 86.202c.364-1.636 1.765-1.789 2.897-1.772c3.089.045 5.225 3.709 5.261 7.253c.045 4.477-1.9 7.113-5.172 7.254c-.847.036-2.305-.367-2.33-1.4");
}
