.c6iy-dbkn {
  fill: var(--svg-color--525252, #525252);
  stroke: var(--svg-color--45413c, #45413c);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M24 13c4.43 0 8.21.47 9.62 1.12c-.32-2.42-4.5-4.35-9.62-4.35s-9.3 1.93-9.62 4.36C15.79 13.48 19.57 13 24 13");
}
