.c6ujydctf {
  fill: var(--svg-color--fff, #FFF);
  stroke: var(--svg-color--21231e, #21231E);
  stroke-width: var(--svg-stroke-width--0-221px, 0.221px);
  d: path("M102.588 145.157c.229-.006.587.139.924-.12c.448-.345.606-2.088.766-3.177c.817-5.568 2.325-14.911 4.467-28.027a1.8 1.8 0 0 0-.771-.145a1.8 1.8 0 0 0-.764-.18c-2.531 13.035-3.117 22.796-5.511 27.807c-.436.913-.681 2.756-.384 3.258c.223.378.605.389.815.488z");
}
