.c7ayd-b9a {
  fill: none;
  stroke: var(--svg-color--000, #000);
  stroke-linecap: round;
  stroke-miterlimit: 10;
  stroke-width: var(--svg-stroke-width--2px, 2px);
  d: path("M8.48 32.188a7.753 7.753 0 0 1 9.848 4.82M5 24.026a7.753 7.753 0 0 1 9.848 4.82m39.627 11.737a7.753 7.753 0 0 1 8.332-7.127m-4.166-2.7a7.753 7.753 0 0 1 8.332-7.127M5.124 47.293h61.753m-46.387-3.33a15.68 15.68 0 1 1 30.775.253");
}
