.c7iwfpmcu {
  fill: var(--svg-color--f2994a, #f2994a);
  fill-rule: evenodd;
  d: path("m34 12l.025 8.008L34 20l-.026.008zM23.445 23.43l-4.727-6.464l4.687 6.493l.015-.021zm-6.548 8.987l-7.625-2.451l7.61 2.498v-.026zm-.016 11.119l-7.609 2.498l7.625-2.45l-.015-.022zm6.524 9.005l-4.687 6.493l4.727-6.464l-.025-.008zm27.714-20.103v.026l7.608-2.498l-7.623 2.45zm-6.523-8.98l4.686-6.492l-4.727 6.463l.026.009zm-7.07 3.688a11.413 11.413 0 0 1 7.31 14.437q-.243.357-.46.733l-.613 1.057a8.24 8.24 0 0 0-7.831.198a8.2 8.2 0 0 0-3.97 5.658a11.4 11.4 0 0 1-7.195-4.52a11.412 11.412 0 0 1 12.76-17.563");
}
