.c7ti4sbjw {
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M9.29 1.079c-1.52 2.233-2.539 6.287-2.539 10.92a24.6 24.6 0 0 0 1.515 8.96M.777 11.25h11.974M3 5.25h18M2.05 17.249h7.7m4.962-16.17a17 17 0 0 1 2.3 7.136");
}
