.c8k32vnzj {
  fill-rule: evenodd;
  d: path("M14.9895 3.98966C15.2713 3.68613 15.7459 3.66856 16.0494 3.95041L21.2656 8.79403C22.2126 9.67333 22.7506 10.9072 22.7506 12.1994C22.7506 13.5616 22.1529 14.8553 21.1156 15.7382L16.0252 20.0711C15.7098 20.3396 15.2364 20.3016 14.968 19.9861C14.6995 19.6707 14.7375 19.1974 15.0529 18.9289L20.1434 14.596C20.8459 13.998 21.2506 13.122 21.2506 12.1994C21.2506 11.3243 20.8862 10.4887 20.2449 9.89322L15.0287 5.0496C14.7252 4.76775 14.7076 4.2932 14.9895 3.98966Z");
  opacity: var(--svg-opacity--0-5, 0.5);
}
