.c8kervbmo {
  stroke: var(--svg-color--092f63, #092f63);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("m7.59 16.41l-1.96.98l-1.96-.98V8.57l1.96-.98l1.96.98zm12.74 0l-1.96.98l-1.96-.98V8.57l1.96-.98l1.96.98zM3.67 14.94H1.71l-.98-2.45l.98-2.45h1.96zm16.66 0h1.96l.98-2.45l-.98-2.45h-1.96zm-1.96-7.35V4.16L12 1.22L5.63 4.16v3.43m12.74 9.8v1.96l-1.96 2.45h-1.96m0-.98h-3.92v1.96h3.92z");
}
