.c8v_d6zna {
  fill: var(--svg-color--452c25, #452C25);
  fill-rule: nonzero;
  d: path("M155.897 65.439s.052 2.665-.096 2.857c-.155.192-1.506.14-1.506-1.853c-.007-1.986.362-2.052.362-2.052l1.277.967");
}
