.c9et3kboz {
  stroke: var(--svg-color--191919, #191919);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M10.565 14.87V7.217A4.783 4.783 0 0 0 5.783 12v.957h4.782m6.695-5.74l-3.825 3.826l3.826 3.827m-3.826 0V7.217");
}
