.c_bggsbzm {
  fill: none;
  stroke: var(--svg-color--45413c, #45413c);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M20.99 13.18a3.01 3.01 0 1 0 6.02 0a3.01 3.01 0 1 0-6.02 0m-5.12 2.95a3 3 0 1 1-4.11 1.1a3 3 0 0 1 4.11-1.1m19.27 11.13a3 3 0 1 1-4.14 1.1a3 3 0 0 1 4.14-1.1m-22.28 0a3 3 0 1 1-1.1 4.11a3 3 0 0 1 1.1-4.11m19.27-11.13A3 3 0 1 1 31 20.24a3 3 0 0 1 1.13-4.11m-10.54 8.02a2.41 2.41 0 1 0 4.82 0a2.41 2.41 0 1 0-4.82 0M24 16.18v5.41m-6.61-1.2l4.2 2.41m4.82 0l4.2-2.41m-9.02 5.41l-4.2 2.41m9.02-2.41l4.2 2.41m-9.62 7.22a3.01 3.01 0 1 0 6.02 0a3.01 3.01 0 1 0-6.02 0");
}
