.c_dyy5bhc {
  stroke: var(--svg-color--092f63, #092f63);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
  d: path("m23.249 13.023l-2.045 2.045l-2.046-2.045m-3.578 7.158L12 22.226l-9.203-5.113v-8.18");
}
