.c_swlixli {
  fill: var(--svg-color--fff, #fff);
  stroke: var(--svg-color--fff, #fff);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: var(--svg-stroke-width--0-868px, 0.868px);
  d: path("m15.975 30.746l1.234 3.551l3.759.077l-2.996 2.27l1.089 3.599l-3.086-2.147l-3.085 2.147l1.089-3.598l-2.996-2.272l3.758-.077z");
}
