.cb1av40ud {
  fill: none;
  stroke: var(--svg-color--000, #000);
  stroke-linejoin: round;
  stroke-width: var(--svg-stroke-width--0-3px, 0.3px);
  d: path("M332.3 231.6a27 27 0 0 1-6.4-.7a28 28 0 0 1 13 0a27 27 0 0 1-6.6.7z");
}
