.cbcj0xbvs {
  fill-rule: evenodd;
  d: path("M17.537 3.808a.75.75 0 0 0-.98.404L15.35 7.11a2.2 2.2 0 0 0-1.265.035L14 7.174l-.084-.027a2.2 2.2 0 0 0-1.266-.036l-1.208-2.898a.75.75 0 0 0-1.384.576l1.25 3a.8.8 0 0 0 .106.18a2.2 2.2 0 0 0-.396 1.56l.114.935A2.9 2.9 0 0 0 11.815 12a3 3 0 0 0-1.412.402q-2.391 1.382-3.538 3.109c-.246.37-.495.708-.728 1.023c-1.015 1.375-1.718 2.327-.469 3.705c1.535 1.695 4.788 2.76 7.98 2.76s6.373-.628 8.437-2.76c1.528-1.578.893-2.282-.095-3.377c-.347-.384-.737-.816-1.092-1.351q-1.191-1.794-3.556-3.126a3 3 0 0 0-1.17-.37a2.9 2.9 0 0 0 .696-1.553l.115-.935a2.22 2.22 0 0 0-.396-1.56a.8.8 0 0 0 .105-.18l1.25-3a.75.75 0 0 0-.405-.98");
  opacity: var(--svg-opacity--0-2, 0.2);
}
