.cbdf9d51z {
  fill: var(--svg-color--48eeff, #48eeff);
  stroke: var(--svg-color--231f20, #231f20);
  d: path("M22.28 30.58c1.09-.66 1.49-2.22 1.62-3.49s.09-2.88-.83-3.76c1.09-.66 1.49-2.22 1.63-3.49c.17-1.56.07-3.66-1.6-4.25c-.82-.5-5.36-1.4-9.15-1.82s-8.43-.51-9.33-.2c-1.76.21-2.31 2.25-2.48 3.8c-.14 1.27-.09 2.88.86 3.76c-1.09.67-1.49 2.23-1.63 3.49s-.08 2.88.84 3.77c-1.12.66-1.52 2.22-1.66 3.49c-.17 1.55-.07 3.66 1.6 4.25c.82.5 5.36 1.4 9.15 1.81s8.43.52 9.33.21c1.76-.22 2.31-2.25 2.48-3.81c.14-1.26.09-2.87-.83-3.76Z");
}
