.cc5do9bph {
  fill: none;
  stroke: var(--svg-color--000, #000);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: var(--svg-stroke-width--2px, 2px);
  d: path("M46.214 26.515A8 8 0 0 0 46 26c-3-3-7-8-7-8c-4 3-7 6-13 7c0 0-.351.335-.65 1.566m-.267 6.899C25.907 40.901 30.454 45 35.937 45c5.352 0 10.033-4.077 10.905-11.473");
}
