.cd6ta7w9j {
  stroke: var(--svg-color--172d91, #172D91);
  stroke-width: var(--svg-stroke-width--0-049px, 0.049px);
  d: path("M147.857 76.221c.599-.648 1.443-.856 2.373-.868h.061c1.003.012 1.908.281 2.459 1.003");
}
