.cdeeigbkd {
  fill: none;
  stroke: currentColor;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: var(--svg-stroke-width--1-5px, 1.5px);
  d: path("M14.382 12.8h.018a3.6 3.6 0 0 1 0 7.2H6a4 4 0 0 1-.384-7.982m8.252 2.482a4.4 4.4 0 0 0 .532-2.1a4.4 4.4 0 0 0-8.784-.382m0 0A4 4 0 0 1 8 12.535m3-7.353A4.4 4.4 0 0 1 18.383 8.8M21 14.89a3.6 3.6 0 0 0-2.618-6.09m0 0A4.4 4.4 0 0 1 18.1 10");
}
