.ce1r6ysnv {
  fill: var(--svg-color--2859c5, #2859c5);
  fill-rule: evenodd;
  d: path("M11 3.055a9 9 0 0 1 2 0V5.5h-2zm9.248 12.552l-2.119-1.223l-1 1.732l2.117 1.223a9 9 0 0 0 1.002-1.732M13 20.945V18.5h-2v2.445a9 9 0 0 0 2 0M3.752 8.393L5.87 9.616l1-1.732l-2.118-1.222a9 9 0 0 0-1.001 1.73M16 8l-2 6l-6 2l2-6z");
}
