.cec2iqybw {
  fill: var(--svg-color--ffef00, #ffef00);
  fill-rule: evenodd;
  stroke: var(--svg-color--000, #000);
  stroke-width: var(--svg-stroke-width--2-2px, 2.2px);
  d: path("M381.8 120.7c-.6 0-6.3 2.8-6.2 3c.1.1-4.8 13.5-4.9 13.4c-.1-.2-3.5-11.7-3.9-11.5s-12.3 1.6-12.4 1.7l9-11.5l-1.3-12.5l9.8 3.8l10.5-8c.2-.1-2.7 10.8-2.7 10.8l5.2 7.2s-3 3-3.1 3.6z");
}
