.cfmjcfbng {
  stroke: currentColor;
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M19 44h24m-24 6h16m-19 8h48a4 4 0 0 0 4-4V26a4 4 0 0 0-4-4H16a4 4 0 0 0-4 4v28a4 4 0 0 0 4 4m41-29h4v4h-4z");
}
