.cfnb24bvr {
  fill: var(--svg-color--217900, #217900);
  fill-rule: evenodd;
  stroke: var(--svg-color--000, #000);
  stroke-linejoin: round;
  stroke-width: var(--svg-stroke-width--2-3px, 2.3px);
  d: path("M490.4 239.3c.5 6.7 7 13 4.4 24.7c-3.2 13.3-14.8 44.7-12.8 50.2c-3.4-4.7-2.8-9-3-15.6c-.4-6.5 9.4-30.9 10.3-39.1c0-7.4.7-17.5 1.1-20.2z");
}
