.cgeq3x1af {
  fill: var(--svg-color--ff808c, #ff808c);
  stroke: var(--svg-color--191919, #191919);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M7.813 6.973q.05-.27.098-.595H3.536c.032.218.068.421.098.602a4.63 4.63 0 0 1 .098 2.33h3.982a4.64 4.64 0 0 1 .099-2.337");
}
