.cghdmqflh {
  fill: var(--svg-color--ffcebf, #ffcebf);
  stroke: var(--svg-color--45413c, #45413c);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M33.61 25.71a2.5 2.5 0 0 0 2.5-2.5h-5a2.5 2.5 0 0 0 2.5 2.5");
}
