.cgj66_b4s {
  fill: var(--svg-color--fedf00, #FEDF00);
  fill-rule: nonzero;
  stroke: var(--svg-color--703d29, #703D29);
  stroke-width: var(--svg-stroke-width--0-239px, 0.239px);
  d: path("M123.891 120.722c.07.443.228 1.203.649 1.983c.443.7.28.681 1.283 1.8c.494.551 1.264 1.023 1.868 1.349c.606.326 1.055.487 2.053.749c1.955.513 3.327.545 4.972.48c1.283-.051 2.263-.209 3.075-.318a33 33 0 0 1 3.335-.303c.64-.027 1.245-.033 1.842 0c.722.04 1.435.152 2.193.303c1.633.326 3.289.956 3.289.956l.004-25.697l-24.658-.007v17.563c-.001-.001.05.857.095 1.142z");
}
