.cgm0-tj4n {
  stroke: var(--svg-color--191919, #191919);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M11.521 12.478H5.782v5.74h5.74zm-4.781 0v-1.913m1.912 1.913v-1.913m0 9.565v-1.913m1.913-5.739v-1.913M6.74 20.13v-1.913m3.825 1.913v-1.913m.957-4.782h1.912m-1.912 1.913h1.912m-1.912 1.912h1.912M3.87 13.435h1.913M3.87 15.348h1.913M3.87 17.26h1.913m14.347-6.695v9.566");
}
