.chbcmx24t {
  fill: var(--svg-color--1345b7, #1345b7);
  fill-rule: evenodd;
  d: path("M17.522 4.298q-.153.18-.344.318C18.152 8.713 19.168 16 16.076 16c-3.07 0-2.09-7.184-1.123-11.296a2 2 0 0 1-.473-.404c-.905.694-1.74 2.48-2.55 4.21c-.517 1.107-1.024 2.19-1.532 2.951c-1.436 2.15-4.488 1.27-2.988-2.73c1.187-3.166 3.996-4.91 6.603-5.5a2 2 0 0 1 .181-1.092C14.768 2.049 15.37 2 16 2q.945.001 1.806.139a2 2 0 0 1 .192.945c2.38.39 5.287 2.151 6.598 5.646c1.5 4-1.552 4.882-2.988 2.731c-.508-.76-1.015-1.844-1.533-2.951c-.81-1.733-1.646-3.521-2.553-4.212");
}
