.ci-x2rghr {
  stroke: var(--svg-color--eb5757, #eb5757);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: var(--svg-stroke-width--4px, 4px);
  d: path("m67.5 40l-3-2.4L40 18L15.5 37.6l-3 2.4");
}
