.cih9ai {
  fill: #fff;
  d: path('M12 17h-9v-12h18v12Z');
  fill-opacity: 0.3;
}

@media not (prefers-reduced-motion) {
  .cih9ai {
    stroke-dasharray: 62;
    stroke-dashoffset: 62;
    animation: 0s forwards fill-to-0, 0.6s linear 0.4s forwards so-to-0, 0.15s linear 1s forwards fill-to-0_3;
  }
}
