.cj1fywb7k {
  fill: var(--svg-color--e31d1c, #e31d1c);
  fill-rule: evenodd;
  d: path("M11.501 15.774c-.648-1.458 0-4.687 0-4.687l1.261.66c-.15.754-.173 2.179.299 3.344s2.255 2.082 2.255 2.082s.9.2-.468.345c-1.366.145-2.698-.286-3.347-1.744m3.232 5.743c-.406 0 .813-2.71.813-2.71l.376-.752s.046 3.189-.212 3.462c-.165.175-.353.125-.574.067a1.6 1.6 0 0 0-.403-.067");
}
