.cjcw3mbuj {
  fill: var(--svg-color--406325, #406325);
  fill-rule: nonzero;
  stroke: var(--svg-color--24420e, #24420E);
  stroke-width: var(--svg-stroke-width--0-017px, 0.017px);
  d: path("M128.239 75.786c2.253-.74 5.853-4.829 6.087-5.599c-4.873 1.298-7.112 4.482-6.087 5.599z");
}
