.cjd27qbbp {
  fill: var(--svg-color--d0cfce, #d0cfce);
  stroke: var(--svg-color--d0cfce, #d0cfce);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: var(--svg-stroke-width--2px, 2px);
  d: path("m27.02 51.29l-5.638 6.36l-7.794.77l.63-7.807l6.337-5.687");
}
