.ckk4v1bgj {
  fill: var(--svg-color--730000, #730000);
  fill-rule: nonzero;
  d: path("M189.1 128.888c.081.528.325 1.261.367 2.197c0 .205.203 1.303-.408 1.343c-.407.042-.57-1.138-.57-1.138s.408 1.301-.121 1.464c-.693.164-.813-1.425-.813-1.425c.121.448.61 1.589-.122 1.71c-.732.122-.937-1.546-.937-1.546s.61 1.669-.081 1.71c-.733.04-.733-1.629-.733-1.629s.407 1.995-.611 1.83c-.53-.08-.61-.772-.733-1.18c-.162-.61-.57-1.383-.122-2.646c.326-.934.204-1.18.204-1.18s1.18.856 2.035 1.425c.406.245 2.645-.935 2.645-.935");
}
