.cn0zkf_ax {
  fill: var(--svg-color--2f88ff, #2F88FF);
  fill-rule: evenodd;
  d: path("M18.9424 27.978C21.5213 23.3284 23.2169 20.3429 24.0293 19.0215C25.2478 17.0394 30.2745 17.637 28.4685 22.5843C27.2645 25.8824 24.0891 27.6803 18.9424 27.978Z");
}
