.cp87srbxt {
  fill: var(--svg-color--fff, #fff);
  stroke: var(--svg-color--b87054, #B87054);
  stroke-miterlimit: 10;
  stroke-width: var(--svg-stroke-width--2px, 2px);
  d: path("M59 65c0 5.523-4.029 10-9 10s-9-4.477-9-10z");
}
