.cpmjwca9p {
  stroke: currentColor;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: var(--svg-stroke-width--1-5px, 1.5px);
  d: path("M15.984 14.18v7.07L12 18.267L8.016 21.25v-7.07");
}
