.cq_wuzbev {
  fill: var(--svg-color--fff, #fff);
  stroke: var(--svg-color--45413c, #45413c);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M8.98 16.25a5 5 0 1 0 10 0a5 5 0 1 0-10 0");
}
