.cqe48nb0m {
  fill: none;
  stroke: var(--svg-color--000, #000);
  stroke-miterlimit: 10;
  stroke-width: var(--svg-stroke-width--2px, 2px);
  d: path("M31.78 31.463A4.464 4.464 0 1 1 27.317 27c2.463 0 4.463 2 4.463 4.463");
}
