.cqj30chyk {
  fill: none;
  stroke: currentColor;
  stroke-width: var(--svg-stroke-width--2px, 2px);
  d: path("M8 12.5a.5.5 0 1 1-1 0a.5.5 0 0 1 1 0Zm2-4a.5.5 0 1 1-1 0a.5.5 0 0 1 1 0Zm5 0a.5.5 0 1 1-1 0a.5.5 0 0 1 1 0Z");
}
