.cqslk12om {
  fill: var(--svg-color--2b2b2b, #2b2b2b);
  stroke: var(--svg-color--2b2b2b, #2b2b2b);
  stroke-width: var(--svg-stroke-width--0-9px, 0.9px);
  d: path("M339 260.5s6.5-8.2 8-7.9c1.6.3 1.1 18.9 1.1 18.9s-4.8 3.6-5.9 3.5c-1-.2 5.4 8.7 5.3 12l-.3 3.4s0-2-1.5-5.2c-1.5-3.1-.6-6.8-10.4-14.8c-2.5-5 4.8 3 6.3 1.8s-2.7-11.6-2.6-11.7z");
}
