.cqwt2myrv {
  fill: none;
  stroke: var(--svg-color--45413c, #45413c);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M30.53 29.44a4.94 4.94 0 0 0-.72-2.3a4.9 4.9 0 0 0 1.71 1.71c3.65 2.16 7.77-2.2 5.72-5.91l-.88-1.58a.62.62 0 0 1 .2-.81l1.51-1c3.55-2.33 1.93-8.1-2.31-7.89a4.9 4.9 0 0 0-2.31.72a4.9 4.9 0 0 0 1.71-1.71C37.32 7 33 2.91 29.26 5l-1.58.88a.62.62 0 0 1-.81-.21l-1-1.5C23.55.58 17.78 2.2 18 6.44a4.8 4.8 0 0 0 .72 2.3A5.1 5.1 0 0 0 17 7c-3.65-2.16-7.77 2.2-5.72 5.91l.88 1.58a.62.62 0 0 1-.21.81l-1.5 1c-3.55 2.33-1.93 8.1 2.31 7.89a4.94 4.94 0 0 0 2.3-.72a4.9 4.9 0 0 0-1.71 1.7c-2.16 3.66 2.19 7.78 5.91 5.73l1.58-.9a.62.62 0 0 1 .81.2l1 1.51c2.35 3.59 8.09 1.97 7.88-2.27M18.71 8.74l2.69 4.46m5.72 9.48l2.69 4.46M29 15.08l4.45-2.69m-18.39 11.1l4.46-2.69");
}
