.crqbshb4t {
  fill: var(--svg-color--debb7e, #debb7e);
  stroke: var(--svg-color--45413c, #45413c);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M8.71 3.77L6.16 6.32C-.85 4.86 7.25-3.21 8.71 3.77");
}
