.crz8srbyb {
  fill: var(--svg-color--fff, #fff);
  stroke: var(--svg-color--45413c, #45413c);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M40.18 10.31a2.08 2.08 0 0 0-2.59-1.4a2.6 2.6 0 0 0-.48.21a3 3 0 0 0-3.17-1a2.3 2.3 0 0 0-.53.22a3.86 3.86 0 0 0-6.3 1.81h0A3 3 0 0 0 25 12.73a2.4 2.4 0 0 0-.52.08a2.09 2.09 0 0 0 1.19 4a2 2 0 0 0 .8-.46l.53 1.92a.74.74 0 1 0 1.42-.43L27.89 16a2.8 2.8 0 0 0 .9-.12a2.5 2.5 0 0 0 .55-.23l1 3.49a1.34 1.34 0 0 0 2.66-.78l-1-3.42a3.85 3.85 0 0 0 1.82-1.18a2.91 2.91 0 0 0 3.44-1a2 2 0 0 0 1.59.17a2.08 2.08 0 0 0 1.33-2.62");
}
