.csa0z4bwa {
  fill: none;
  stroke: var(--svg-color--c2ccde, #c2ccde);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: var(--svg-stroke-width--4px, 4px);
  d: path("M20 26h40M17 54l14-28M13 43h54m-4 11L49 26");
}
