.csr-1b26y {
  stroke: var(--svg-color--2859c5, #2859c5);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M15.245 13.073c.488-1.233 1.542-2.077 2.868-2.018c2.067.091 5.985.603 13.028 2.49s10.692 3.403 12.528 4.357c1.178.613 1.668 1.87 1.475 3.183a81 81 0 0 1-1.861 8.965c-1.87 6.977-7.3 12.518-14.36 14.049c-2.357.511-4.59.751-6.064.356s-3.288-1.72-5.074-3.34c-5.348-4.855-7.281-12.37-5.412-19.347a81 81 0 0 1 2.872-8.695");
}
