.cst_n1hah {
  fill: none;
  stroke: var(--svg-color--45413c, #45413c);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M30 17a.76.76 0 0 0 .71-.75a2.6 2.6 0 0 0-.25-1.11c-.67-1.4-5.12-2.3-11.44-2.3s-10.78.9-11.44 2.3a2.8 2.8 0 0 0-.26 1.11a.78.78 0 0 0 .71.75a96 96 0 0 0 11 .72A96 96 0 0 0 30 17M19.06 38.69v5.46");
}
