.csty3qb7g {
  fill: var(--svg-color--43ccf8, #43CCF8);
  stroke: var(--svg-color--fff, #fff);
  d: path("M24 31C27.866 31 31 27.866 31 24C31 20.134 27.866 17 24 17C20.134 17 17 20.134 17 24C17 27.866 20.134 31 24 31Z");
}
