.cszt0cc-x {
  fill: var(--svg-color--6bafff, #6bafff);
  fill-rule: evenodd;
  d: path("M17.454 19.633c.436 0 .436.485.436.485v-1.359c.002-.976.03-1.87.16-2.664c.802-.382 2.54-.825 5.95-.825c3.408 0 5.146.443 5.949.825c.129.794.157 1.688.16 2.664v1.359s0-.485.436-.485s.872.485.872.97c0 1.42-.418 3.296-1.655 3.385l-1.4 3.498l-2.227 1.744a1.3 1.3 0 0 1-.977.438H22.84a1.3 1.3 0 0 1-.978-.438l-2.227-1.744l-1.4-3.498c-1.237-.089-1.655-1.966-1.655-3.385c0-.485.436-.97.873-.97");
}
