.ct9a5j {
  d: path('M20 11v0.01');
}

@media not (prefers-reduced-motion) {
  .ct9a5j {
    stroke-dasharray: 4;
    stroke-dashoffset: 4;
    animation: 0.2s linear 0.9s forwards so-to-0, 3s linear 1.2s infinite sw-cnj-zb;
  }
}
