.ctuw50b2f {
  fill: var(--svg-color--48eeff, #48eeff);
  stroke: var(--svg-color--231f20, #231f20);
  d: path("M36.06 20.59C36.06 8.53 35.47.5 20 .5S3.94 8.53 3.94 20.59v2.85c0 5.61.38 12.38.77 13.65c.38 2.54 2.34 2.41 3.82 2.41s3.44.13 3.82-2.41c.17-.774.28-1.56.33-2.35c2.27.15 4.88.17 7.32.17s5.05 0 7.32-.17c.05.79.16 1.576.33 2.35c.35 2.54 2.35 2.41 3.82 2.41s3.44.13 3.82-2.41c.39-1.27.77-8 .77-13.65z");
}
