.cu0w-vk1i {
  fill: none;
  stroke: currentColor;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: var(--svg-stroke-width--1-5px, 1.5px);
  d: path("M10.528 7.14c.78-1.427 1.17-2.14 1.468-2.14s.688.713 1.468 2.14c.803 1.468 1.875 2.553 3.385 3.38c1.429.783 2.143 1.174 2.143 1.472s-.715.69-2.145 1.474c-1.466.803-2.55 1.877-3.376 3.389C12.689 18.285 12.298 19 12 19s-.69-.716-1.472-2.147c-.803-1.468-1.876-2.554-3.385-3.38c-1.434-.786-2.15-1.178-2.15-1.477c0-.298.716-.69 2.15-1.476c1.51-.827 2.582-1.912 3.385-3.38");
}
