.cu3bv91lm {
  fill: var(--svg-color--5c9e31, #5c9e31);
  stroke: var(--svg-color--5c9e31, #5c9e31);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: var(--svg-stroke-width--2px, 2px);
  d: path("m28 37.906l-2-1l-.46.66l-2.37 3.93l-5.71-.02h-.02c-.01 0-.02 0-.02-.01c-2.14-.95-3.7-3.47-2.69-5.7l3.03-4.98l-1.82-1.31l9.41.7z");
}
