.cu6ft-b7q {
  stroke: currentColor;
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M31.735 28.5a9.524 9.524 0 0 0 3.485 13.01M71.015 40a34.237 34.237 0 0 1-62.03.002A34.237 34.237 0 0 1 71.015 40m-23.993 7.874a16.217 16.217 0 0 0 5.065-25.407a34.22 34.22 0 0 0-24.22.02q-.289.323-.56.665a16.217 16.217 0 0 0 19.715 24.722");
}
