.cuea6kgcd {
  stroke: var(--svg-color--000, #000);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: var(--svg-stroke-width--4px, 4px);
  d: path("M14.2427 42.2426L43.9853 12.5L35.4853 4L16 23.5147");
}
