.cunmzuzfk {
  fill: var(--svg-color--fff, #FFF);
  fill-rule: nonzero;
  d: path("M145.387 94.376c.355.184.526.489 1.505.795c.379 0 .795.172 1.15.159c-.428.098-.441.159-.795.245c-.746.159.122.037-.648.135c-.673.086-.966.257-1.627.208c-.893-.049-1.419-.428-1.774-.685c-.159-.11-1.15-.367-1.688-.856h3.877z");
}
