.cuyftmbhm {
  fill: currentColor;
  fill-opacity: var(--svg-fill-opacity--0-25, 0.25);
  d: path("M19.085 24.775L33.937 50.5h-17.58a25.87 25.87 0 0 1 2.728-25.724m23.642-10.501L27.875 40l-8.79-15.225a25.87 25.87 0 0 1 23.641-10.5");
}
