.cw-n8p4us {
  fill: var(--svg-color--ff6242, #ff6242);
  stroke: var(--svg-color--45413c, #45413c);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M38.68 22.45a46 46 0 0 1-10.4-1.18v-10.2A42 42 0 0 1 24 9.88a44 44 0 0 0-4.25-1.2v10.2A46.8 46.8 0 0 0 9.37 17.7H2v7.19h7.37a46.2 46.2 0 0 1 10.41 1.18v10.2A44 44 0 0 1 24 37.46a42 42 0 0 0 4.25 1.2v-10.2a46.7 46.7 0 0 0 10.4 1.18h7.37v-7.19Z");
}
