.cw3ovm9tg {
  fill: var(--svg-color--000, #000);
  fill-rule: nonzero;
  d: path("M175.426 139.634c-.488-.244-.692-.57-.855-1.06c-.325-.976.204-2.156 1.588-2.563c.529-.163.976-.245 1.546-.041c.488.163.855.57.977 1.058c.407 1.22-.286 2.32-1.506 2.686c-.53.163-1.14.244-1.75-.082");
}
