.cwb3ucp-y {
  fill: currentColor;
  fill-opacity: var(--svg-fill-opacity--0-25, 0.25);
  fill-rule: evenodd;
  d: path("M50 22a2 2 0 0 0-2 2v8a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2v-8a2 2 0 0 0-2-2zm2 8v-4h10v4zm-38 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2h-8a2 2 0 0 1-2-2zm4 2v4h4v-4z");
}
