.cwnti_bpv {
  fill: currentColor;
  fill-opacity: var(--svg-fill-opacity--0-25, 0.25);
  d: path("m23.625 32.46l.003-.005l2.021 1.166l-.003.006zm-2.575 9.332v-.006h2.334v.006zm2.397 9.435l-.003-.004l2.021-1.168l.003.006zm6.831 7.041l-.004-.003l1.166-2.021q.003 0 .005.003zm9.514 2.682h-.005v-2.333h.005zm9.619-2.5l-.004.002l-1.167-2.02l.005-.003zm7.041-7.043l-.002.004l-2.021-1.166l.003-.006zm2.498-9.621v.005l-2.333.001v-.006zm-2.685-9.512l.003.004l-2.02 1.167l-.004-.005zm-7.042-6.83q.003 0 .005.003l-1.167 2.02l-.005-.002zm-9.431-2.394h-.005l-.001 2.333h.006zm-8.165 4.595l-1.167-2.02q-.002 0-.005.003l1.167 2.02q.003 0 .005-.003M40.001 38.5a3.5 3.5 0 1 0 0 7a3.5 3.5 0 0 0 0-7");
}
