.cwsvb_vrl {
  stroke: currentColor;
  stroke-linecap: round;
  d: path("M18 20h44M34 60H18m-6 12h56a4 4 0 0 0 4-4V12a4 4 0 0 0-4-4H12a4 4 0 0 0-4 4v56a4 4 0 0 0 4 4Zm10-24h8a4 4 0 0 0 4-4v-8a4 4 0 0 0-4-4h-8a4 4 0 0 0-4 4v8a4 4 0 0 0 4 4Zm28 12h8a4 4 0 0 0 4-4V36a4 4 0 0 0-4-4h-8a4 4 0 0 0-4 4v20a4 4 0 0 0 4 4Z");
}
