.cwwt87b2f {
  fill: currentColor;
  fill-opacity: var(--svg-fill-opacity--0-25, 0.25);
  fill-rule: evenodd;
  d: path("M41.989 54.11a1.5 1.5 0 0 1-.374-.528l-5.5-13a1.5 1.5 0 0 1-.115-.685l2.156-32a1.5 1.5 0 0 1 2.996.038l1.34 31.917l1.943 12.632a7 7 0 0 0-2.446 1.625m-1.992-15.113a1 1 0 1 0 0 2a1 1 0 0 0 0-2");
}
