.cxn-5sbog {
  fill: none;
  stroke: currentColor;
  stroke-width: var(--svg-stroke-width--1-5px, 1.5px);
  d: path("M4.75 14.25V18c0 .69.56 1.25 1.25 1.25h3.5m-4.75-5V6c0-.69.56-1.25 1.25-1.25h12c.69 0 1.25.56 1.25 1.25v8.25m-14.5 0H9.5m9.75 0V18c0 .69-.56 1.25-1.25 1.25h-3.5m4.75-5H14.5m0 0v5m0-5h-5m5 5h-5m0-5v5M12 6.5v3m0 3v-3m0 0H9m3 0h3");
}
