.cy6pzub9u {
  fill: none;
  stroke: currentColor;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: var(--svg-stroke-width--2px, 2px);
  d: path("M20 10a1 1 0 0 0-16 0q0 6 8 12q8-6 8-12");
}
