.cyckwubur {
  stroke: var(--svg-color--4147d5, #4147d5);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M7.082 4.303c1.017.225 1.716-.22 1.94-1.238c.225-1.017-.22-1.716-1.237-1.94c-1.018-.225-1.716.22-1.94 1.238c-.226 1.017.22 1.715 1.237 1.94");
}
