.cylywgbpa {
  fill: none;
  stroke: var(--svg-color--000, #000);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: var(--svg-stroke-width--2px, 2px);
  d: path("M46.355 25.522a78.5 78.5 0 0 0-20.71 0a20 20 0 0 0 0-13.463a82 82 0 0 0 20.71 0a34.8 34.8 0 0 0 0 13.463m3.951 36.014a65.5 65.5 0 0 0-28.611 0a75.3 75.3 0 0 0 0-31.001a68.4 68.4 0 0 0 28.61 0a133 133 0 0 0 0 31.001");
}
