.czy7vkqmv {
  fill: var(--svg-color--silver, silver);
  fill-rule: nonzero;
  stroke: var(--svg-color--000, #000);
  stroke-width: var(--svg-stroke-width--0-15px, 0.15px);
  d: path("m258.119 118.43l-2.128 2.157c-1.418 1.438-6.382 7.91-6.382 7.91s-6.64 5.296-8.058 6.734l-2.128 2.157c1.418-1.438 10.186-7.453 10.186-7.453s-5.222 8.172-7.349 10.33l2.128-2.157c1.419-1.438 6.64-8.172 6.64-8.172c.001 0 5.674-4.315 7.092-5.753l2.837-2.877c-1.418 1.438-9.928 7.192-9.928 7.192s5.672-8.629 7.09-10.068z");
}
