.z-103t0rf {
  cx: 146.85px;
  cy: 296.51px;
  fill: var(--svg-color--59f, #59f);
  fill-opacity: var(--svg-fill-opacity--0-294, 0.294);
  stroke: var(--svg-color--1b1f23, #1b1f23);
  stroke-opacity: 0.059;
  stroke-width: var(--svg-stroke-width--0-444px, 0.444px);
  rx: 11.296px;
  ry: 0.941px;
}
