.z-2dytbry {
  stroke: var(--svg-color--191919, #191919);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M23 11.282a1.435 1.435 0 0 1-1.435 1.435H5.184a1.91 1.91 0 0 1-1.836-1.373l-2.29-7.787a1.435 1.435 0 0 1 2.754-.81l1.885 6.414a.96.96 0 0 0 .919.686h14.95A1.435 1.435 0 0 1 23 11.282");
}
