.z-hi-2qyy {
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M7 27a8 8 0 0 1 8-8h18a8 8 0 0 1 8 8v8a4 4 0 0 1-4 4H11a4 4 0 0 1-4-4zm27-8v-7c5 0 5-7 0-7H14c-5 0-5 7 0 7v7m8-8l-2 2m8-2l-2 2");
}
