.z06ze1bnk {
  fill: none;
  stroke: currentColor;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: var(--svg-stroke-width--2px, 2px);
  d: path("M2 9c-2 5-1 10 2 10s5-3 8-9.5S20 4 22 9s1 10-2 10s-5-3-8-9.5S4 4 2 9");
}
