.z0e_fjb2q {
  fill: var(--svg-color--fff, #fff);
  d: path("m226.1 263.3l27.6 43.7l29.2-45.7c31.2 24.6 53.2 34 97.2 32.5c1.9-4.3 4-8.9 6.4-14.1c-48.4 2.7-70.9-6.4-103.6-32.2l-29.2 45.7l-27.6-43.7c-32.7 25.8-55.2 34.9-103.6 32.2c2.4 5.2 4.5 9.8 6.4 14.1c44 1.5 65.9-7.9 97.2-32.5");
  opacity: var(--svg-opacity--0-9, 0.9);
}
