.z0i-anb9r {
  stroke: var(--svg-color--c7b37f, #C7B37F);
  stroke-linecap: round;
  stroke-width: var(--svg-stroke-width--0-296px, 0.296px);
  d: path("M111.299 90.204c.076.272.093.434.196.697c.129.331.237.504.434.8c.205.308.333.478.597.737c.232.227.379.342.651.52c.258.169.425.228.697.373");
}
