.z1-hye1cz {
  stroke: var(--svg-color--2a8e51, #2a8e51);
  stroke-width: var(--svg-stroke-width--0-7px, 0.7px);
  d: path("M22.913 15.64s.536-.39.595-.137m-.647-.131s.295-.629.61-.701c.314-.073.368.195.368.195m-.862-.082s-.015-.913.284-.982c.3-.07.4.366.4.366m-.761.632s-.088-.766-.473-.677m4.271 1.679s.242-1.114.93-1.114c.69 0 .997 1.177.997 1.177");
}
