.z1i8lj68h {
  stroke: var(--svg-color--191919, #191919);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M22.186.796H1.814c-.562 0-1.018.456-1.018 1.018v20.372c0 .562.456 1.018 1.018 1.018h20.372c.562 0 1.018-.456 1.018-1.018V1.814c0-.562-.456-1.018-1.018-1.018M13.019 12h-2.037m-2.547 0H6.907M12 13.019V10.98M2.833 12H4.36m11.205 0h1.528m4.074 0H19.64M12 8.435V6.907m0-4.074V4.36m0 11.205v1.528m0 4.074V19.64");
}
