.z1uy0s-8b {
  fill: var(--svg-color--000, #000);
  fill-rule: nonzero;
  d: path("M109.971 128.668c-2.526-4.199-8.45-2.317-12.333-5.843c-1.884-1.711-2.726-4.287-3.102-6.737c-.112-.729-.424-3.621-.254-4.183c.031-.104.136-.129.217-.05c1.287 1.258 2.577 2.071 4.068 3.08c3.54 2.396 4.993 4.644 6.817 8.38c2.389 4.894 4.554 2.106 4.587 5.353");
}
