.z1wl8j83j {
  fill: var(--svg-color--fff, #fff);
  d: path("m488.7 181l-18.5-34.1l-9.6-17.4l-3.8-6.8l-.4.4l-50.6-87.6C393.2 13.4 369.5-.2 343.8 0l-44.4 1.2l-132.3.4c-25.1.2-48 13.4-60.6 34.9L26 196.1L169.9 17.4l188.7 207.3l-33.5 33.9l20.1 162.2l.2-.4v.4h-.4l.4.4l15.7 15.2l76.1 74.4c3.2 3 8.4-.6 6.2-4.4l-47-92.4l81.9-151.4l2.6-3c1-1.2 2-2.4 2.8-3.6c16-21.9 18.2-51.1 5-75");
  opacity: var(--svg-opacity--0-75, 0.75);
}
