.z2iqbq9uf {
  fill: currentColor;
  fill-opacity: var(--svg-fill-opacity--0-25, 0.25);
  fill-rule: evenodd;
  d: path("M52.079 14.839a31.564 31.564 0 0 0-33.165 52.65A2 2 0 0 0 20.25 68h39.5a2 2 0 0 0 1.335-.512a31.56 31.56 0 0 0 8.076-35.567A31.56 31.56 0 0 0 52.08 14.84m-22.627 3.695A27.564 27.564 0 0 1 58.968 64H21.032a27.56 27.56 0 0 1-6.498-30.548a27.56 27.56 0 0 1 14.918-14.918");
}
