.z2lierbkt {
  fill: var(--svg-color--ffef5e, #ffef5e);
  stroke: var(--svg-color--191919, #191919);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("m19.174 3.87l1.944.777a.24.24 0 0 1 .034.427L19.174 6.26z");
}
