.z2uzy1bvq {
  fill: none;
  stroke: var(--svg-color--000, #000);
  stroke-miterlimit: 10;
  stroke-width: var(--svg-stroke-width--2px, 2px);
  d: path("M24.92 24.744a17.6 17.6 0 0 0-.38 3.647c0 7.828 5.077 14.173 11.339 14.173s11.339-6.345 11.339-14.173c0-1.158-.112-2.284-.321-3.361");
}
