.z32iccb_m {
  fill: var(--svg-color--eddbff, #eddbff);
  stroke: var(--svg-color--45413c, #45413c);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M19.84 7.7L40 14.64v7l-9 3.15v-7l-20.16-6.94z");
}
