.z3d_qp7ez {
  fill: currentColor;
  d: path("M10.2 5c1.68 0 2.52 0 3.16.327c.564.288 1.02.746 1.31 1.31c.327.642.327 1.48.327 3.16v.4c0 1.68 0 2.52-.327 3.16a3 3 0 0 1-1.31 1.31c-.642.327-1.48.327-3.16.327h-.4c-1.68 0-2.52 0-3.16-.327a3 3 0 0 1-1.31-1.31c-.327-.642-.327-1.48-.327-3.16v-.2h1.8c1.12 0 1.68 0 2.11-.218c.376-.192.682-.498.874-.874c.218-.428.218-.988.218-2.11v-1.8h.2z");
  opacity: var(--svg-opacity--0-3, 0.3);
}
