.z3n_jobkc {
  fill: var(--svg-color--f7db17, #F7DB17);
  fill-rule: nonzero;
  d: path("M152.144 29.718c.507-.041 1.01-.034 1.514-.009q.758.039 1.518.159c.015.005.01.025.009.035c-.003.02-.029.024-.09.015a15 15 0 0 0-1.425-.14c-.499-.024-1-.034-1.511 0c-.026.006-.055-.065-.015-.06");
}
