.z3pb2hbgm {
  fill: var(--svg-color--8fbffa, #8fbffa);
  fill-rule: evenodd;
  d: path("M10.761 8.025a47 47 0 0 0-.057-.947c-.108-2.223-1.969-3.291-3.701-3.293c-.874-.001-1.766.26-2.462.81c-.706.556-1.188 1.392-1.241 2.477a47 47 0 0 0-.058.98l.022 5.415a.5.5 0 0 0 .49.498c2.54.048 3.953.044 6.49 0a.5.5 0 0 0 .492-.498l.026-5.415z");
}
