.z49-7aboy {
  stroke: var(--svg-color--092f63, #092f63);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("m7.398 19.158l.512.51l-.512.512m5.113-1.022l-.511.51l.511.512m0-1.022l.512.51l-.512.512m5.113-1.022l-.511.51l.51.512m.001-1.022l.511.51l-.511.512");
}
