.z4ws-9bjw {
  fill: var(--svg-color--a86c4d, #a86c4d);
  stroke: var(--svg-color--45413c, #45413c);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M24 6.91a9.82 9.82 0 0 1 9.82 9.82v5.14h0h-19.64h0v-5.14A9.82 9.82 0 0 1 24 6.91");
}
