.z5gwr1h5y {
  fill: var(--svg-color--ad1519, #ad1519);
  stroke: var(--svg-color--000, #000);
  stroke-width: var(--svg-stroke-width--0-4px, 0.4px);
  d: path("m174 208.5l1.2-1.6l3.3.4l-2.6 2l-1.8-.8");
}
