.z7gpoccdb {
  stroke: currentColor;
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("m62 32l-10.485 5.626c-4.386 2.354-4.502 8.601-.206 11.116c4.474 2.619 4.115 9.2-.617 11.317L24 72m.333-2.115l8.035-7.668a18.7 18.7 0 0 0 2.065-2.328l1.357-1.815a15.25 15.25 0 0 0 2.658-12.492l-.051-.227a14.76 14.76 0 0 0-28.794 0l-.051.227a15.24 15.24 0 0 0 2.659 12.492l1.356 1.815a18.7 18.7 0 0 0 2.065 2.328l8.035 7.668c.186.178.48.178.666 0m34.833-38.086l4.968-4.79a13 13 0 0 0 1.388-1.582l.806-1.09a9.68 9.68 0 0 0 1.664-7.871l-.05-.222a9.207 9.207 0 0 0-17.968 0l-.05.222a9.68 9.68 0 0 0 1.665 7.872l.805 1.088q.628.85 1.388 1.583l4.968 4.79a.3.3 0 0 0 .416 0");
}
