.z7ty7x3kc {
  stroke: var(--svg-color--032e50, #032E50);
  stroke-width: var(--svg-stroke-width--0-049px, 0.049px);
  d: path("M139.074 82.596c.477.306 1.701 1.015 2.863 1.456c0-.012.024-.049.024-.061c0-.122.097-.746.085-.759h-.012s.098-.012.073-.086c-.037-.085 0-.085.024-.195");
}
