.z7w-yxbfh {
  fill: var(--svg-color--fcd, #fcd);
  stroke: var(--svg-color--ffb0ca, #ffb0ca);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M4 20a.89.89 0 0 0 1.36-1a3 3 0 0 1-.07-1.15c.63-4.44 11.43-6.6 24.14-4.81a.5.5 0 0 0 .55-.39a.49.49 0 0 0-.35-.57a58 58 0 0 0-7-1.43C11 9.09 1.1 11.06.53 15.12C.3 16.74 1.6 18.45 4 20");
}
