.z7zazob8k {
  fill: var(--svg-color--1eb53a, #1EB53A);
  fill-rule: nonzero;
  d: path("m163.184 97.731l3.464 6l-3.464 6h6.929l3.464 6l3.464-6h6.928l-3.464-6.001l3.464-5.999h-6.928l-3.464-6l-3.464 6z");
}
