.z81lmby2v {
  stroke: var(--svg-color--092f63, #092f63);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
  d: path("m9.955 6.66l-3.58 6.363H.752v4.09h6.647L12 8.933m9.939 9.617L14.045 6.66L12 8.932l7.708 11.586zm-20.165.608h3.068");
}
