.z8j9wfbug {
  stroke: var(--svg-color--2859c5, #2859c5);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M17.108 28.95A91 91 0 0 1 14 29c-3.679 0-6.25-.192-7.9-.384c-1.467-.17-2.553-1.284-2.703-2.753C3.204 23.977 3 20.838 3 16c0-4.84.204-7.977.397-9.863c.15-1.469 1.236-2.582 2.703-2.753C7.75 3.192 10.321 3 14 3q1.71.001 3.108.05c.52.173 2.187.88 4.595 3.391c2.27 2.367 3.003 4.047 3.218 4.686c.03.867.054 1.822.067 2.873");
}
