.z8tmsst_d {
  fill: var(--svg-color--fc0, #FC0);
  fill-rule: nonzero;
  stroke: var(--svg-color--000, #000);
  stroke-width: var(--svg-stroke-width--0-037px, 0.037px);
  d: path("M161.253 72.234c.086.012.098.122.086.183s-.11.11-.171.086c-.098-.037-.196-.122-.159-.232c.036-.098.158-.049.244-.037z");
}
