.z9d9urv7x {
  fill: none;
  stroke: var(--svg-color--000, #000);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: var(--svg-stroke-width--2px, 2px);
  d: path("M22.19 23.402C23.088 17.366 27.243 12 36 12c10 0 14 7 14 14s0 13-4 13");
}
