.z9hds5b7x {
  stroke: var(--svg-color--000, #000);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: var(--svg-stroke-width--0-35px, 0.35px);
  d: path("M139.032 100.763c-.106-.964-.481-2.523-1.768-2.325c.066 1.676 2.198 7.984-.239 8.42l-.081-.087c.032-2.864-2.831-5.99-2.274-8.485c.368-1.641 1.61-2.529 3.264-2.529c3.017 0 3.435 3.749 1.23 5.064z");
}
