.z9hwsze_c {
  fill: var(--svg-color--d7e0ff, #d7e0ff);
  fill-rule: evenodd;
  d: path("M6.64 13.433a1 1 0 0 0 .72 0a9.565 9.565 0 0 0 6.136-8.935V1.499A1 1 0 0 0 12.497.5H1.503a1 1 0 0 0-1 1v2.998a9.565 9.565 0 0 0 6.137 8.935M6 3.008h2v2h1.998v1.998H8v2H6v-2H4.002V5.007H6z");
}
