.z9tlhkv5y {
  fill: var(--svg-color--c5c4c3, #c5c4c3);
  fill-rule: evenodd;
  d: path("M42.838 41.06c.787.768 1.486 1.664 2.379 2.277c1.803 1.238 4.3 1.204 5.531.094c.193.215.399.421.576.649c.113.145.183.323.268.478c-2.817 2.18-8.704.813-8.754-3.498");
}
