.z9z1scb-r {
  fill: var(--svg-color--6dd627, #6dd627);
  stroke: var(--svg-color--45413c, #45413c);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M28.21 9.26h-2.09v-2.1A1.12 1.12 0 0 0 25 6.05h-2a1.12 1.12 0 0 0-1.12 1.11v2.1h-2.09a1.1 1.1 0 0 0-1.11 1.11v2a1.11 1.11 0 0 0 1.11 1.11h2.09v2.09A1.12 1.12 0 0 0 23 16.7h2a1.12 1.12 0 0 0 1.12-1.12v-2.09h2.09a1.11 1.11 0 0 0 1.11-1.11v-2a1.1 1.1 0 0 0-1.11-1.12");
}
