.z_3d8eb9h {
  cx: 166px;
  cy: 256px;
  r: 26px;
  fill: currentColor;
  stroke: currentColor;
  stroke-linecap: square;
  stroke-miterlimit: 10;
  stroke-width: var(--svg-stroke-width--10px, 10px);
}
