.z_49t8baq {
  stroke: var(--svg-color--191919, #191919);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M22.99 22.962H12.007c-6.064 0-10.98-4.916-10.98-10.981S5.943 1 12.007 1H22.99m0 19.097h-.955");
}
