.z_omatvzd {
  stroke: var(--svg-color--191919, #191919);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("m7.122 23l.574-2.87H9.61v-3.347a4.304 4.304 0 1 0-8.609 0v3.347h1.914L3.487 23");
}
