.z_p7_rbpw {
  fill: var(--svg-color--00b8f0, #00b8f0);
  stroke: var(--svg-color--45413c, #45413c);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M33 16.46A7.35 7.35 0 0 1 28.83 19a15 15 0 0 1-3 .3h-6.5a9.7 9.7 0 0 0-7.2 3.22L15 25.23a5.7 5.7 0 0 1 4.31-2v7.33h8.9v-7.4l1.35-.28a11.47 11.47 0 0 0 6.53-3.94Z");
}
