.z_w98db9m {
  fill: var(--svg-color--ffe500, #ffe500);
  stroke: var(--svg-color--45413c, #45413c);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M37.47 23.16A13 13 0 0 1 29 15.69l-.93-2.21a23.62 23.62 0 0 1-14.78 9.18l-2.8.5a2.7 2.7 0 0 0 0 5.39h.17a13.45 13.45 0 0 0 26.6 0h.17a2.7 2.7 0 0 0 0-5.39Z");
}
