.z_wpksjft {
  stroke: var(--svg-color--092f63, #092f63);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M12 12v-1.795l3.068-1.784l3.068 1.784v2.557l-3.068 1.283v2.045M5.353 5.353l-.511 4.602L.752.75l9.203 4.09zm9.715 12.783l-.511.511l.51.511m.001-1.022l.511.511l-.511.511");
}
