.z_z58vwaq {
  fill: var(--svg-color--2f88ff, #2F88FF);
  stroke: var(--svg-color--000, #000);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 2;
  stroke-width: var(--svg-stroke-width--4px, 4px);
  d: path("M44 39.8198H4L36.54 21.8198H44V39.8198Z");
}
