.zak-2ac5i {
  stroke: var(--svg-color--fff, #fff);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
  stroke-width: var(--svg-stroke-width--2px, 2px);
  d: path("m58.91 34.37l-8.4 4.853m-37.34-.853l13.96 13.6m-14-17.6l8.4 4.853");
}
