.zapp2jb_q {
  fill: var(--svg-color--d52b1e, #d52b1e);
  stroke: var(--svg-color--000, #000);
  stroke-width: var(--svg-stroke-width--0-1px, 0.1px);
  d: path("M281.6 213.2a.3.5 50.5 0 0 .5.5a.3.5 50.5 1 0-.5-.5z");
}
