.zatvd6v5h {
  stroke: var(--svg-color--191919, #191919);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M1.017 4.857h19.05M8.637 16.284H2.921a1.906 1.906 0 0 1-1.904-1.906V2.948a1.905 1.905 0 0 1 1.905-1.905h15.241A1.905 1.905 0 0 1 20.07 2.95v7.144");
}
