.zbj_d9baz {
  fill: none;
  stroke: currentColor;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: var(--svg-stroke-width--2px, 2px);
  d: path("M12 16.001h.002m-.002-3l-.438-3.504a.441.441 0 1 1 .876 0zm-8.485-.293l7.778 7.778a1 1 0 0 0 1.414 0l7.778-7.778a1 1 0 0 0 0-1.414l-7.778-7.778a1 1 0 0 0-1.414 0l-7.778 7.778a1 1 0 0 0 0 1.414");
}
