.zc432zbwu {
  fill: currentColor;
  fill-opacity: var(--svg-fill-opacity--0-25, 0.25);
  d: path("M17.732 49.747a2 2 0 0 0-1.414-.586H6.146a2 2 0 0 1-2-2V33.168a2 2 0 0 1 2-2H16.32a2 2 0 0 0 1.413-.586l11-10.996c1.26-1.26 3.415-.367 3.415 1.415v38.327c0 1.782-2.154 2.674-3.414 1.415z");
}
