.zci6kfbov {
  stroke: var(--svg-color--092f63, #092f63);
  stroke-linejoin: round;
  d: path("M7.557 21.67L5.99 22.714l-1.568-1.046V20.1l1.568-1.045L7.558 20.1zm8.363 0l-1.568 1.045l-1.568-1.046v-1.568l1.568-1.045l1.568 1.045z");
}
