.zcsjmmbtn {
  fill: currentColor;
  fill-opacity: var(--svg-fill-opacity--0-4, 0.4);
  d: path("M10 17.9999C10 20.071 8.0711 21.9999 6 21.9999C3.9289 21.9999 2 20.071 2 17.9999C2 15.9288 3.9289 13.9999 6 13.9999C6.70699 13.9999 7.39722 14.225 8 14.6034V8.99991H10V17.9999ZM16.0859 15.4189C16.0306 15.6015 16 15.7961 16 15.9999C16 17.1045 16.8954 17.9999 18 17.9999C18.2038 17.9999 18.3985 17.9693 18.5811 17.914L19.1611 19.828C18.7923 19.9398 18.4022 19.9999 18 19.9999C15.7908 19.9999 14 18.2091 14 15.9999C14 15.5977 14.0601 15.2076 14.1719 14.8388L16.0859 15.4189Z");
  stroke: none;
}
