.zd_hbsbad {
  fill: var(--svg-color--fff, #fff);
  d: path("M92.9 141.2H24.8c-4.1 0-7.4 3.3-7.4 7.4v214.7c0 4.1 3.3 7.8 7.8 7.8h222.6v-76c-.5-84.9-69.4-153.9-154.9-153.9");
  opacity: var(--svg-opacity--0-75, 0.75);
}
