.zetd1e8jn {
  fill: var(--svg-color--ffc72c, #ffc72c);
  stroke: var(--svg-color--000, #000);
  stroke-width: var(--svg-stroke-width--0-236px, 0.236px);
  d: path("M224.445 100.746s-3.84 2.02-4.394 2.18c-.555.156-.91-.676-.356-.832c.555-.16 1.426-.239 1.426-.239s-1.309-1.027-1.27-1.07c.04-.039 1.782-.672 1.825-.672c.039 0 .554 1.032.91.95c.355-.079 1.387-.872 1.387-.872s.554.637.472.555Zm0 0");
}
