.zfharurqh {
  stroke: var(--svg-color--092f63, #092f63);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
  d: path("m4.842 20.18l-4.09-4.09V7.91l4.09-4.09m10.226 12.27l2.045-2.045v-4.09L15.068 7.91m2.045 10.226l3.068-3.068V8.932l-3.068-3.068");
}
