.zfvyp8bow {
  fill: none;
  stroke: currentColor;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: var(--svg-stroke-width--32px, 32px);
  d: path("M352 168H144a80.24 80.24 0 0 0-80 80v16m128 128l-48-48l48-48");
}
