.zfxf01b6t {
  fill: var(--svg-color--ffdf00, #ffdf00);
  fill-rule: evenodd;
  stroke: var(--svg-color--000, #000);
  stroke-width: var(--svg-stroke-width--1pt, 1pt);
  d: path("M547 293.9c0 9.3-6.6 16.8-14.8 16.8s-14.8-7.5-14.8-16.8S524 277 532.2 277s14.8 7.6 14.8 17z");
}
