.zhvw-ybch {
  fill: none;
  stroke: var(--svg-color--45413c, #45413c);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("m36.57 29.6l-4.32 2.75a15.26 15.26 0 0 1-16.5 0l-4.32-2.75a3.44 3.44 0 0 1-1.56-2.9v-6h28.26v6a3.44 3.44 0 0 1-1.56 2.9");
}
