.zi9dfiz4r {
  width: 8px;
  height: 16px;
  x: 21px;
  y: 15px;
  stroke: currentColor;
  stroke-linecap: square;
  stroke-linejoin: round;
  stroke-width: var(--svg-stroke-width--4px, 4px);
  rx: 2px;
}
