.zk0lh1bpv {
  stroke: var(--svg-color--191919, #191919);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M8.214 16.897h-.996a.48.48 0 0 1-.479-.479V3.027a.48.48 0 0 1 .479-.479h9.565a.48.48 0 0 1 .478.479v2.877");
}
