.zk1omdb8f {
  width: 38px;
  height: 14px;
  x: 5px;
  y: 28px;
  fill: var(--svg-color--2f88ff, #2F88FF);
  stroke: var(--svg-color--000, #000);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: var(--svg-stroke-width--4px, 4px);
}
