.zl5vibc-e {
  fill: currentColor;
  fill-opacity: var(--svg-fill-opacity--0-25, 0.25);
  d: path("M41.143 27.672a2.35 2.35 0 0 0-4.7 0v12.039a.027.027 0 0 1-.055 0v-9.94a2.35 2.35 0 0 0-4.7 0v12.917a.106.106 0 0 1-.195.06l-1.844-2.746a2.35 2.35 0 0 0-3.902 2.62l7.396 11.016a2.35 2.35 0 0 0 1.951 1.04h11.623a2.35 2.35 0 0 0 2.316-1.95l1.585-9.18a2.4 2.4 0 0 0 .034-.4v-9.18a2.35 2.35 0 1 0-4.7 0v5.743a.027.027 0 1 1-.055 0v-9.94a2.35 2.35 0 1 0-4.7 0v9.94a.027.027 0 0 1-.055 0z");
}
