.zl816xbzr {
  stroke: var(--svg-color--092f63, #092f63);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
  d: path("m.751 4.637l1.432 4.807l4.909-1.432M12 9.975L9.975 12L12 14.025L14.024 12z");
}
