.zlee8dbqx {
  fill: var(--svg-color--ffef00, #FFEF00);
  fill-rule: nonzero;
  d: path("M175.396 69.553c2.885-6.449 13.916-9.843 13.492-17.055c-3.819 6.364-13.576 7.637-17.055 13.492c-3.48 5.854.678 10.012 3.563 3.563");
}
