.zm3bc-b_z {
  stroke: var(--svg-color--000, #000);
  stroke-width: var(--svg-stroke-width--0-25px, 0.25px);
  d: path("m101.54 117.165l.425-.422l.307.307l.31-.31l-.315-.315l.437-.432l.312.312l.312-.31l-.315-.315l.434-.434l.711.712c.11.11.095.271-.007.371l-1.526 1.526c-.103.102-.281.114-.383.012l-.703-.701v-.001z");
}
