.zmk5trhar {
  fill: var(--svg-color--00b8f0, #00b8f0);
  stroke: var(--svg-color--45413c, #45413c);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("m29.52 6.4l-1.23-1.94a1 1 0 0 0-.84-.46h-6.9a1 1 0 0 0-.84.46L18.48 6.4a1 1 0 0 0 .06 1.16l4.72 6a.91.91 0 0 0 1.48 0l4.72-5.95a1 1 0 0 0 .06-1.21");
}
