.zmlixrbxk {
  stroke: var(--svg-color--f2c94c, #f2c94c);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: var(--svg-stroke-width--4px, 4px);
  d: path("M31 23h2m6 0h2m6 0h2m-18 8h2m6 0h2m6 0h2m-18 8h2m6 0h2m6 0h2m-18 8h2m6 0h2m6 0h2");
}
