.zmnbqxb_i {
  fill: var(--svg-color--ffcebf, #ffcebf);
  stroke: var(--svg-color--45413c, #45413c);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M33.06 26.83a8 8 0 0 1-5.67-2.28l-.62-.73c-4 2.9-5.55 2.51-9.95 2.67l-1.89.34a1.82 1.82 0 0 0 0 3.63h.12a9 9 0 0 0 17.9 0h.11a1.82 1.82 0 1 0 0-3.63");
}
