.zpy-ehb6i {
  stroke: var(--svg-color--032a4a, #032A4A);
  stroke-width: var(--svg-stroke-width--0-049px, 0.049px);
  d: path("M135.245 88.942c.012.27.367.979.514 1.248c.073.232.122.477.208.697c.122.367.147.392.318.734c.086.172.306.379.453.453c.208.061 1.835-2.239 2.08-2.324");
}
