.zqtjqaciy {
  stroke: var(--svg-color--033054, #033054);
  stroke-width: var(--svg-stroke-width--0-049px, 0.049px);
  d: path("M149.961 94.412s-.257 1.028-.465 1.407c-.159.294-.832.832-.392 1.664");
}
