.zr5m9kbwl {
  fill: currentColor;
  d: path("M5.5492 1.3739L6.4196 3.5804L8.6261 4.4508C8.8518 4.5397 9 4.7576 9 5C9 5.2424 8.8518 5.4603 8.6261 5.5492L6.4196 6.4196L5.5492 8.6261C5.4603 8.8518 5.2424 9 5 9C4.7576 9 4.5397 8.8518 4.4508 8.6261L3.5804 6.4196L1.3739 5.5492C1.1482 5.4603 1 5.2424 1 5C1 4.7576 1.1482 4.5397 1.3739 4.4508L3.5804 3.5804L4.4508 1.3739C4.5397 1.1482 4.7576 1 5 1C5.2424 1 5.4603 1.1482 5.5492 1.3739Z");
  stroke: none;
}
