.zrlb22koa {
  stroke: currentColor;
  stroke-linecap: round;
  stroke-width: var(--svg-stroke-width--2px, 2px);
  d: path("M8 13c-.93 0-1.395 0-1.776-.102a3 3 0 0 1-2.122-2.121C4 10.395 4 9.93 4 9V8c0-1.87 0-2.804.402-3.5A3 3 0 0 1 5.5 3.402C6.196 3 7.13 3 9 3h6c1.87 0 2.804 0 3.5.402A3 3 0 0 1 19.598 4.5C20 5.196 20 6.13 20 8v1c0 .93 0 1.395-.102 1.777a3 3 0 0 1-2.122 2.12C17.396 13 16.93 13 16 13");
}
