.ztgs-mvww {
  fill: var(--svg-color--fec74a, #fec74a);
  fill-rule: evenodd;
  stroke: var(--svg-color--d8aa3f, #d8aa3f);
  stroke-width: var(--svg-stroke-width--1-7px, 1.7px);
  d: path("M204.3 282.1c-19.4-15.2-55.6-10-61.6-51.3c27.7 21.5 22.7-1.2 64 19.3z");
}
