.ztko541ik {
  fill: none;
  stroke: currentColor;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: var(--svg-stroke-width--1-5px, 1.5px);
  d: path("M18.708 6A9 9 0 1 1 3 12c0-2.305.867-4.408 2.292-6M12 3v9");
}
