.ztn2kmzgy {
  fill: var(--svg-color--fff, #fff);
  fill-rule: evenodd;
  d: path("M137.617 97.445c0-5.761-4.387-10.437-9.797-10.437s-9.797 4.676-9.797 10.437c0 5.762 4.387 10.438 9.797 10.438s9.797-4.676 9.797-10.438");
}
