.zts5oc3bb {
  stroke: var(--svg-color--191919, #191919);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M23 13.435V6.98a.95.95 0 0 0-1.313-.883C18.4 7.43 11.339 7.43 8.053 6.097a.957.957 0 0 0-1.314.884v6.454c0 5.26 6.218 9.565 8.13 9.565C16.784 23 23 18.696 23 13.435");
}
