.zv-y0tggv {
  fill: none;
  stroke: var(--svg-color--45413c, #45413c);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("m44 42.67l.54-7a14.38 14.38 0 0 0-3.71-11.16h0a3.21 3.21 0 0 1-.71-3.05l.55-1.84a1.85 1.85 0 0 0-.35-1.72l-4.69-5.77a7.8 7.8 0 0 0-3.84-2.56L26.38 8a1 1 0 0 0-1.18.64L22.13 19l11.46 6.65a3 3 0 0 1 1.23 3.87L30.8 39a2.82 2.82 0 0 0 1.81 3.79l7.72 2.29A2.83 2.83 0 0 0 44 42.67");
}
