.zw46xpt_r {
  fill: none;
  stroke: var(--svg-color--e2e8f0, #e2e8f0);
  stroke-dasharray: 43;
  stroke-linecap: round;
  stroke-miterlimit: 10;
  stroke-width: var(--svg-stroke-width--12px, 12px);
  d: path("M60.7 85.2A15.6 15.6 0 1 0 71.9 59H6.6");
}
