.zwlndzd2h {
  fill: var(--svg-color--00034a, #00034a);
  stroke: var(--svg-color--00034a, #00034a);
  stroke-miterlimit: 10;
  d: path("M27.069 27.206c1.226.16 2.44.403 3.634.727c1.174.403 2.388 1.78 2.694 2.947c.246.934.246 2.016.17 2.935c-.154 1.856-.747 4.285-2.66 4.61c-.994.403-6.11.21-10.319-.134s-9.24-1.004-10.195-1.558c-.898-.301-2.084-1.395-2.486-2.242c-.497-1.048-.52-2.453-.426-3.613c.153-1.855.756-4.284 2.668-4.6a25.4 25.4 0 0 1 3.692-.134a.88.88 0 0 1 .637.193c.379.307.619.563.998.87a.88.88 0 0 1 .32.582c.036.692.142 1.342.377 1.814c.734.313 2.137.558 4 .712c2.324.191 3.968.123 4.524-.249c.707-.211 1.11-1.167 1.339-2.248a.88.88 0 0 1 1.033-.612Z");
}
