.zx3gh7z8b {
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M13.437 9.558L10.6 12m0 0L7 15m3.6-3l2.895 2.387M10.6 12L7 9m9-.5a1.5 1.5 0 1 1-3 0a1.5 1.5 0 0 1 3 0m0 7a1.5 1.5 0 1 1-3 0a1.5 1.5 0 0 1 3 0");
}
