.zz0c21b1y {
  stroke: var(--svg-color--4147d5, #4147d5);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M12.234 6.683c.901.639 1.126 1.92.248 2.59A6.623 6.623 0 0 1 2.164 1.957C2.506.907 3.789.695 4.69 1.334zM11.17 3.102c.404-.57.14-1.45-.591-1.969c-.73-.518-1.65-.477-2.054.092");
}
