.zzp_vpg3s {
  stroke: var(--svg-color--053d6a, #053D6A);
  stroke-width: var(--svg-stroke-width--0-049px, 0.049px);
  d: path("M158.769 76.111c.098.049.82-.465 1.321-1.395c.599-1.113.893-1.627.893-1.627");
}
