.u-yrrx7db {
  fill: none;
  stroke: var(--svg-color--45413c, #45413c);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("m30.49 28.43l-.23-1.21m6.31.06l-.46-2.43m-15.32-7.79l-19.27 14A1.25 1.25 0 0 0 1 32.3l.54 2.87a1.24 1.24 0 0 0 1.45 1a1.22 1.22 0 0 0 1-1.44l-.23-1.22l3.65-.69l.34 1.83a1.86 1.86 0 0 0 3.65-.69l-.35-1.83l17-3.22l.23 1.22a1.24 1.24 0 0 0 1.45 1a1.22 1.22 0 0 0 1-1.44l-.23-1.22l6.08-1.15l.34 1.83a1.86 1.86 0 0 0 3.65-.69l-.81-4.25c-.71-3.76-8.99-8.21-18.97-7.15M7.41 32.8l-.23-1.21");
}
