.u0rxo8b_a {
  fill: var(--svg-color--555, #555);
  stroke: var(--svg-color--fff, #fff);
  stroke-linejoin: round;
  stroke-width: var(--svg-stroke-width--4px, 4px);
  d: path("M34 32a4 4 0 0 1 4-4h4v14h-4a4 4 0 0 1-4-4z");
}
