.u0sngpbdt {
  fill: var(--svg-color--002d62, #002D62);
  fill-rule: nonzero;
  d: path("m151.317 94.929l-.018.965v.033q.001.118.012.234c.939.702 1.199-.338 1.199-.338c-.703-.069-1.037-.48-1.193-.894");
}
