.u1i_qmado {
  fill: var(--svg-color--006129, #006129);
  stroke: var(--svg-color--000, #000);
  stroke-width: var(--svg-stroke-width--0-472px, 0.472px);
  d: path("m195.574 37.527l59.7-.347v53.656c.113 6.969-11.618 14.055-29.965 23.113c-18.934-9.758-29.852-15.68-29.965-23.23Zm0 0");
}
