.u1yv_zb7o {
  fill: currentColor;
  fill-rule: evenodd;
  d: path("M6.6 18a.6.6 0 1 0 0 1.2a.6.6 0 0 0 0-1.2m-2.6.6a2.6 2.6 0 1 1 5.2 0a2.6 2.6 0 0 1-5.2 0m13.6-.6a.6.6 0 1 0 0 1.2a.6.6 0 0 0 0-1.2m-2.6.6a2.6 2.6 0 1 1 5.2 0a2.6 2.6 0 0 1-5.2 0");
}
