.u2iwhef-s {
  fill: var(--svg-color--555, #555);
  stroke-linejoin: round;
  d: path("M6 18s7.592-.055 11-1c2.866-.795 7-3 7-3s3.823 2.194 6.5 3c3.572 1.075 11.5 1 11.5 1l-1 7s-4 2-5 2s-3-2-4-2s-3.5 3-4 3s-3-3-4-3s-3 3.5-4 3.5s-3-3.5-4-3.5c-.198 0-.474.078-.79.204c-2.142.852-4.489 1.284-6.629.428L7 25z");
}
