.u2r1mfbrx {
  fill: none;
  stroke: var(--svg-color--000, #000);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: var(--svg-stroke-width--0-689px, 0.689px);
  d: path("M32.68 34.57h6.631c0 8.137-.736 8.017-3.315 8.017c-2.413-.035-3.314.08-3.314-8.017z");
}
