.u41omeg_a {
  fill: var(--svg-color--0a328c, #0a328c);
  stroke: var(--svg-color--0a328c, #0a328c);
  d: path("M254.4 173.7v1.3c0 .9-2 1.5-4.5 1.5s-4.6-.6-4.6-1.5v-1.3c0 .9 2 1.5 4.5 1.5c2.6 0 4.6-.6 4.6-1.5z");
}
