.u4rjns70c {
  fill: none;
  stroke: var(--svg-color--6a462f, #6a462f);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: var(--svg-stroke-width--2px, 2px);
  d: path("m50.645 55.927l-7.416 6.477H20.914");
}
