.u53ahhe2k {
  fill: none;
  stroke: var(--svg-color--000, #000);
  stroke-miterlimit: 10;
  stroke-width: var(--svg-stroke-width--2px, 2px);
  d: path("M40.24 31.58c.43-.97 1.13-1.79 2.02-2.34c.8-.5 1.74-.79 2.74-.79c.88 0 1.7.22 2.43.61");
}
