.u54p-ys_e {
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M4.188 5.75a.125.125 0 1 1 0-.25m0 .25a.125.125 0 1 0 0-.25m5.625.25a.125.125 0 1 0 0-.25m0 .25a.125.125 0 1 1 0-.25M6 9.219a.125.125 0 1 1 0-.25m0 .25a.125.125 0 1 0 0-.25m2 .25a.125.125 0 1 0 0-.25m0 .25a.125.125 0 1 1 0-.25");
}
