.u577t-wix {
  stroke: var(--svg-color--4147d5, #4147d5);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M9.933 13.092a56 56 0 0 0 2.016-.234a.99.99 0 0 0 .854-.861c.08-.643.159-1.312.223-1.997M4.068.908a56 56 0 0 0-2.016.234a.99.99 0 0 0-.855.86A66 66 0 0 0 .974 4M9.933.908c.69.066 1.365.148 2.016.234a.99.99 0 0 1 .854.86c.08.644.159 1.313.223 1.998m-8.958 9.092a59 59 0 0 1-2.016-.234a.99.99 0 0 1-.855-.861A66 66 0 0 1 .974 10M7 5.162V3.877");
}
