.u5sun390o {
  fill: currentColor;
  fill-opacity: var(--svg-fill-opacity--0-25, 0.25);
  d: path("M58.586 28.586L45.414 15.414c-.522-.521-1.414-.151-1.414.587v10a4 4 0 0 0 4 4h10c.738 0 1.108-.893.586-1.415");
}
