.u74av6bgm {
  fill: none;
  stroke: var(--svg-color--000, #000);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: var(--svg-stroke-width--2px, 2px);
  d: path("M25.566 50.84a3.7 3.7 0 0 0-2 3m6.084-1.917a3.88 3.88 0 0 0-1.084 2.917m16-2.917a3.88 3.88 0 0 1 1.083 2.917");
}
