.u77epz48j {
  stroke: var(--svg-color--344054, #344054);
  stroke-width: var(--svg-stroke-width--2px, 2px);
  d: path("M32.375 12.146a10.417 10.417 0 0 1 0 14.729m-14.75 0a10.417 10.417 0 0 1 0-14.73M38.25 6.25a18.75 18.75 0 0 1 0 26.52m-26.5 0a18.75 18.75 0 0 1 0-26.52");
}
