.u7_jj3bzg {
  fill: var(--svg-color--92d3f5, #92d3f5);
  fill-rule: evenodd;
  d: path("M48.868 39.867Q47.952 40 47 40c-7.18 0-13-5.82-13-13q0-.952.133-1.867A11 11 0 0 0 28 35c0 6.075 4.925 11 11 11a11 11 0 0 0 9.868-6.133");
}
