.u7_lhacqb {
  fill: var(--svg-color--debb7e, #debb7e);
  stroke: var(--svg-color--45413c, #45413c);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("m16.06 31.71l-3.69.8v-3.53L8.78 30.3L8 26.82l-3.76 5.86a4.7 4.7 0 0 0 7.89 5.1Z");
}
