.u7alcxwrl {
  fill: var(--svg-color--eb5757, #eb5757);
  stroke: var(--svg-color--eb5757, #eb5757);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: var(--svg-stroke-width--4px, 4px);
  d: path("M36.465 31.465a9.238 9.238 0 1 1 7.07 17.07a9.238 9.238 0 0 1-7.07-17.07");
}
