.u8e65zbek {
  fill: var(--svg-color--ef4e4e, #ef4e4e);
  fill-rule: nonzero;
  d: path("M13.25 25a8.673 8.673 0 0 0 2.643-16.936c-.833-.266-1.721 2.598-2.643 2.598c-.861 0-1.693-2.882-2.479-2.649A8.673 8.673 0 0 0 13.25 25");
}
