.u8z5z2bik {
  stroke: var(--svg-color--000, #000);
  stroke-width: var(--svg-stroke-width--0-249px, 0.249px);
  d: path("m99.885 123.081l5.744-5.744c.119-.12.332-.107.469.029c.137.137.149.349.029.469l-5.744 5.745c-.12.119-.333.108-.469-.029c-.136-.139-.149-.351-.029-.47z");
}
