.u90arzb3j {
  fill: var(--svg-color--67923d, #67923D);
  fill-rule: nonzero;
  stroke: var(--svg-color--24420e, #24420E);
  stroke-width: var(--svg-stroke-width--0-017px, 0.017px);
  d: path("M170.012 110.586c1.398-1.709 6.057-3.54 6.785-3.482c-2.776 3.775-6.212 4.718-6.785 3.482zm8.061-16.644c.282-1.979 3.034-5.588 3.627-5.897c-.374 4.226-2.596 6.568-3.627 5.897z");
}
