.u92ri5qvj {
  fill: currentColor;
  fill-rule: evenodd;
  d: path("M448 448.001v-41.756h-94.208c5.709-12.788 8.875-26.91 8.875-41.757c0-57.653-47.757-104.391-106.667-104.391s-106.667 46.738-106.667 104.391c0 14.847 3.167 28.969 8.876 41.757H64v41.756zm-144.297-41.756C313.839 395.163 320 380.531 320 364.488c0-34.591-28.653-62.634-64-62.634s-64 28.043-64 62.634c0 16.043 6.162 30.675 16.296 41.757z");
}
