.u_cnvccmy {
  fill: var(--svg-color--daedf7, #daedf7);
  stroke: var(--svg-color--45413c, #45413c);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M2 36h18.5v2.5h0H2a1 1 0 0 1-1-1V37a1 1 0 0 1 1-1");
}
