.u_znmv-9h {
  fill: none;
  stroke: var(--svg-color--000, #000);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
  stroke-width: var(--svg-stroke-width--4-231px, 4.231px);
  d: path("M30.76 43.41V28.6l-6.347 12.69l-6.347-12.69v14.81");
}
