.uakf-czeh {
  fill: var(--svg-color--98b7c0, #98b7c0);
  stroke: var(--svg-color--191919, #191919);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M7.417 15.208a2.749 2.749 0 1 0 0-5.498a2.749 2.749 0 0 0 0 5.498");
}
