.uar01lb2v {
  fill: var(--svg-color--d18ee2, #d18ee2);
  fill-rule: evenodd;
  d: path("M9.912 18.61a4.39 4.39 0 0 1 2.705-4.052l3.323-1.38c3.361-1.394 7.06 1.076 7.06 4.715a5.104 5.104 0 0 1-5.105 5.104l-3.597-.001a4.386 4.386 0 0 1-4.386-4.387z");
}
