.uaygimvgk {
  fill: var(--svg-color--e31d1c, #e31d1c);
  fill-rule: evenodd;
  d: path("M13.675 4.703s-.859 3.798 2.106 5.257c0 0 2.846-1.551 2.207-5.257c0 0-1.223-.409-2.195-.409s-2.118.409-2.118.409");
}
