.ub1d_cc1q {
  stroke: var(--svg-color--f2994a, #f2994a);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: var(--svg-stroke-width--4px, 4px);
  d: path("M36.115 12.445L31.992 7.55a1.583 1.583 0 0 0-2.422 0l-4.122 4.895");
}
