.uc4okrbra {
  fill: none;
  stroke: var(--svg-color--45413c, #45413c);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M31.26 25c0 4-3.25 7.89-7.26 7.89S16.74 29 16.74 25L18 3.22h12Z");
}
