.ucafw4brw {
  fill: var(--svg-color--fa0000, #fa0000);
  fill-rule: evenodd;
  d: path("M239.1 60.8c-20.7-5.8-27.4 10.7-27.4 10.7c.6 11.5 9.8 23.2 23.8 25c14 1.9 21.5-16.7 21.5-16.7s-1-13.8-17.9-19M231.2 85c-7.4-1.2-12.7-6.1-12.7-11.1s5.1-9.1 12.3-9.4c8.4-.3 16.4 4.6 16.7 11.1c.2 6.6-7.7 10.8-16.3 9.4");
}
