.ud_csxb3d {
  fill: none;
  stroke: var(--svg-color--45413c, #45413c);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M8.74 28.82L8 27.05a1.66 1.66 0 0 0-3.17.85c.65 5-.55 6.62-3 9.42a1.57 1.57 0 0 0 1.82 2.48a8.2 8.2 0 0 0 5.09-10.98m-2.66-2.74l-.73-1.73m1.72-.72l-3.43 1.44");
}
