.udw7ehbsy {
  fill: var(--svg-color--9bff00, #9bff00);
  stroke: var(--svg-color--00034a, #00034a);
  stroke-miterlimit: 10;
  d: path("M28.214 22.512c2.378-2.195 3.582-5.488 3.582-9.494C31.796 5.508 27.626.5 19.278.5C10.928.5 6.76 5.507 6.76 13.018c0 4.006 1.204 7.299 3.582 9.494c-3.303 2.407-4.97 6.394-4.97 11.372q0 4.179 13.906 4.17q13.904-.01 13.904-4.17c0-4.978-1.666-8.965-4.968-11.372Z");
}
