.ue06dqb6a {
  fill: none;
  stroke: var(--svg-color--000, #000);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: var(--svg-stroke-width--7-644px, 7.644px);
  d: path("M395.8 59.07h183.8v183.1H395.8z");
}
