.ue16zrb8f {
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("m39.832 29.324l1.515 9.588l6.458 20.073h.002a1.46 1.46 0 0 1-2.673 1.166l-7.33-16.955a1.858 1.858 0 0 0-3.658 0l-7.33 16.955a1.46 1.46 0 0 1-2.672-1.167l.002.001l6.457-20.073l1.515-9.588");
}
