.uekytfwoi {
  fill: var(--svg-color--9ceb60, #9ceb60);
  stroke: var(--svg-color--45413c, #45413c);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("m43.41 8.94l-6.58 1.19a14.62 14.62 0 0 1-26.16 8.25l-8.8 3.85A22.16 22.16 0 1 0 43.41 8.94");
}
