.ufqw6fb7x {
  fill: none;
  stroke: var(--svg-color--e27022, #e27022);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: var(--svg-stroke-width--2px, 2px);
  d: path("M19.645 29.522h32.71m-32.71 4.566h32.176");
}
