.ufssr2bbf {
  fill: var(--svg-color--fff, #fff);
  fill-opacity: var(--svg-fill-opacity--0-15, 0.15);
  d: path("M5.126 24.688c.539-6.283 2.74-7.383 5.374-7.383c2.372 0 4.81.59 5.377 7.384c-1.523.906-3.376 1.437-5.374 1.437c-2 0-3.853-.532-5.377-1.439");
}
