.ufz0b2bzb {
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M6.796 11.949C4.781 13.654 2.834 10.742 2 8.726c.883 0 2.72-.554 4.429-2.5c.746-.849 1.119-1.274 1.33-1.222c.21.052.498.688 1.075 1.96c.893 1.965 2.233 2.998 3.166 3.374c-2.4 3.867-4.47 2.685-5.204 1.611m0 0c.295-.25.592-.598.886-1.063m9.522 1.063c2.015 1.705 3.962-1.207 4.796-3.223c-.883 0-2.72-.554-4.429-2.5c-.746-.849-1.119-1.274-1.33-1.222c-.21.052-.498.688-1.075 1.96c-.893 1.965-2.233 2.998-3.166 3.374c2.4 3.867 4.47 2.685 5.204 1.611m0 0c-.295-.25-.592-.598-.886-1.063");
}
