.ug5jgqb6q {
  fill: currentColor;
  fill-opacity: var(--svg-fill-opacity--0-25, 0.25);
  d: path("M11.192 33.17a28.83 28.83 0 0 1 28.615 27.66a28.83 28.83 0 0 1-28.615-27.66m57.616 0a28.83 28.83 0 0 0-28.615 27.66a28.83 28.83 0 0 0 28.615-27.66");
}
