.uga0ovbvj {
  fill: none;
  stroke: var(--svg-color--45413c, #45413c);
  stroke-linejoin: round;
  d: path("m8.81 14.86l3.62-4.91m-2.26 5.92l3.63-4.91m-2.26 5.92l3.63-4.91m-3.5 13.83l2.17 5.7m-3.76-5.1l.89 2.34m.4 1.03l.88 2.34m-3.75-5.1l2.17 5.7m26.29-18.24l.87 2.44m.3.86l.88 2.45m-3.65-5.18l2.05 5.75m-3.65-5.18l.87 2.44m.31.87l.87 2.44m-4.29 12.76l1.64-2m.59-.71l1.64-2.01m-2.56 5.8l1.65-2.01m-.34 3.09l1.65-2.01m-.73-1.78l1.64-2.01m-.33 3.08l1.65-2");
}
