.ugapikb8x {
  fill: var(--svg-color--3f3e3e, #3f3e3e);
  fill-rule: evenodd;
  d: path("M433.6 80.2H211.9c-3 .2-5.8 0-8.6-.6h-.6c-1.6.5-3.2.7-4.9.6c-2.6.2-5 0-7.3-.6h-.6c-2 .6-4 .8-6.1.6H71.7v34.3c.6 52.4.8 104.8.6 157.4c.1 7.4 0 14.7-.3 22q-.3-.45-.9-.6q0 1.2.9 1.8q.45 8.25.3 16.5c.2 6 0 12-.6 17.8v112.7h190.5c7.1-.2 14 0 20.8.6q.6 0 .6-.6h7.3c4-.2 7.9 0 11.6.6c2.8-.6 5.7-.8 8.6-.6h122.5v-42.9c-.6-46.7-.8-93.5-.6-140.2v-33.7c-.2-4 0-7.9.6-11.6c-.6-2.2-.8-4.5-.6-6.7v-16.5q-.3-8.1.6-15.9z");
}
