.ugpilfw6g {
  fill: none;
  stroke: currentColor;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: var(--svg-stroke-width--1-5px, 1.5px);
  d: path("m7 4l8.33 6.04c2.226 1.615 2.226 2.306 0 3.92L7 20");
}
