.uh1aamrml {
  fill: var(--svg-color--fec74a, #fec74a);
  fill-rule: evenodd;
  stroke: var(--svg-color--d8aa3f, #d8aa3f);
  stroke-width: var(--svg-stroke-width--1-6px, 1.6px);
  d: path("m431.2 275.3l51.6-93.7l-79.1 73.6z");
}
