.uho2wkbps {
  fill: var(--svg-color--fff, #fff);
  stroke: var(--svg-color--45413c, #45413c);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M24 9.53A48.9 48.9 0 0 0 8.37 7H1.61a1 1 0 0 0-1.11.84v27.75a1 1 0 0 0 1.11.85h6.76A48.9 48.9 0 0 1 24 39h0a48.9 48.9 0 0 0 15.63 2.5h6.76c.61 0 1.11-.37 1.11-.84V12.91a1 1 0 0 0-1.11-.84h-6.76A48.6 48.6 0 0 1 24 9.53");
}
