.ui5sw9bmv {
  fill: var(--svg-color--e3e3e3, #e3e3e3);
  stroke: var(--svg-color--191919, #191919);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("m15.088 17.046l5.463 5.463a1.435 1.435 0 0 0 2.03-2.029l-5.464-5.463z");
}
