.uie98lbxg {
  fill: var(--svg-color--fff, #fff);
  stroke-miterlimit: 10;
  d: path("M25.184 18.436c-1.055-.7-5.92-.987-10.191-1.066C7.149 17.163.658 24.85.529 29.555a5.35 5.35 0 0 0 3.69 5.653c.808.239 1.638.398 2.477.474a2.348 2.348 0 0 0 4.528.384h.257a2.339 2.339 0 0 0 4.44.158h3.413a2.34 2.34 0 0 0 4.558-.256c.315-.04.621-.13.908-.267c1.795-1.055 2.407-4.992 2.496-8.169s-.376-7.952-2.112-9.096Z");
}
