.ujseujbsm {
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M26.32 62.25c-.097.992.517 1.804 1.365 1.804s1.756-.787 2.016-1.749l4.941-18.23c.26-.962.94-2.417 1.508-3.233l1.981-2.845c.568-.816.994-2.299.946-3.295l-.45-9.289l-.287-4.827c-.118-1.99-1.837-3.656-3.819-3.656h-.046c-1.982 0-3.783 1.659-4.005 3.64l-.5 4.506z");
}
