.ul33t3bix {
  fill: var(--svg-color--b6b598, #b6b598);
  fill-rule: evenodd;
  d: path("M62.476 112.621c.196-.246.475-.464.574-.744c.731-2.05 1.417-4.115 2.143-6.166c.093-.262.341-.469.518-.701l1.255 2.754c-.248.352-.59.669-.728 1.061l-2.404 7.059c-.099.283-.437.483-.663.722z");
}
