.ulf512baf {
  fill: none;
  stroke-width: var(--svg-stroke-width--0-5px, 0.5px);
  d: path("M499.5 200.3c1.9 1.5 5.3 2.7 8.7 3.2M495.6 253q-6 4.2-12.4 6.2m23.5 30.8l-6.9-18m1.4-5.9l8 20.6m-9-15.3l5.3-1.8");
}
