.ulnks5std {
  fill: var(--svg-color--3f3f3f, #3f3f3f);
  fill-rule: evenodd;
  d: path("M46.677 47.63v3.712c7.176 0 12.994-5.817 12.994-12.994s-5.818-12.995-12.994-12.995v3.713a9.282 9.282 0 0 1 0 18.564");
}
