.uognjxyms {
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M23.993 60.008s1-4.311 3-5.311s4-1 6 0s3 5.31 3 5.31m16.559-39.871C48.333 15.159 42.035 12 35 12c-2.77 0-5.424.49-7.883 1.387m12.316 44.186c8.213-1.604 14.862-7.577 17.427-15.402m-44.773-9.183A23 23 0 0 0 12 35c0 7.974 4.058 15 10.222 19.127");
}
