.up868qb7s {
  fill: none;
  stroke: var(--svg-color--000, #000);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: var(--svg-stroke-width--2px, 2px);
  d: path("M53.855 45.055a1.84 1.84 0 0 0 2.58 2.58m.146-9.401c-1.653-1.244-4.144.7-2.879 2.578m.149 4.247a2.124 2.124 0 0 1-.147-4.246");
}
