.upw9b3bds {
  stroke: var(--svg-color--191919, #191919);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M20.13 23a.956.956 0 0 0 .957-.957V6.713A5.715 5.715 0 0 0 15.372 1H3.87a.957.957 0 0 0-.957.957v20.087A.956.956 0 0 0 3.87 23zM5.783 18.189l2.87-5.74m-.001 5.74l-2.87-5.74");
}
