.ur0f6jber {
  fill: var(--svg-color--ffbc44, #ffbc44);
  stroke: var(--svg-color--191919, #191919);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M22.608 19.92a.964.964 0 0 0 .203-1.35l-6.573-8.916a.964.964 0 0 0-1.348-.203l-1.552 1.143a.963.963 0 0 0-.203 1.35l6.572 8.92a.96.96 0 0 0 1.349.203z");
}
