.urgk91inu {
  stroke: var(--svg-color--929497, #929497);
  stroke-width: var(--svg-stroke-width--0-006px, 0.006px);
  d: path("M153.305 61.29s.266.052.428.266c.029-.015.244.487.207.554a.8.8 0 0 1 0 .244");
}
