.urpsnmbfs {
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M38.614 51.895a4.16 4.16 0 0 0-3.222.93c-1.155 1.097-.75 2.55-1.926 3.814a4.6 4.6 0 0 1-2.883 1.297M24.68 13.814a4.16 4.16 0 0 0 .256 3.345c.84 1.353 2.345 1.25 3.344 2.66a4.6 4.6 0 0 1 .684 3.087");
}
