.us7lqzbde {
  fill: var(--svg-color--536274, #536274);
  fill-rule: evenodd;
  d: path("M0 47.5h216.3c26.4 0 34.6 21.7 34.6 48.1l13.6 168.9s-53.2-22.4-128.2-54.6c-27.8-11.9-69.2-27.8-92.2-43.7c-9.8-6.8-23.7-36.6-29.5-59.3C7.8 79 0 58.3 0 47.5");
}
