.uslf4acad {
  fill: var(--svg-color--020002, #020002);
  fill-rule: evenodd;
  d: path("M256 0c-35.3 0-69 7.2-99.6 20.1c-.9-.6-1.7-1.2-2.6-1.8c-2-2.1-3.9-4.1-5.7-6.2c-1.6 4.5-3 9.1-4.3 13.7C58.6 67.4 0 154.8 0 256c0 141.4 114.6 256 256 256s256-114.6 256-256S397.4 0 256 0");
}
