.utlocgftt {
  fill: var(--svg-color--452c25, #452C25);
  fill-rule: nonzero;
  stroke: var(--svg-color--000, #000);
  stroke-width: var(--svg-stroke-width--0-088px, 0.088px);
  d: path("M125.468 58.707s-1.882 1.498-1.469 1.624s2.008 1.255 9.087-3.359l.834-.517l-1.248-1.764zm-1.454-5.434c-5.957 2.082-11.929 6.231-11.929 6.231c.583-.199 15.325-6.134 15.325-6.134m9.67 9.197s-1.277 1.949-1.026 2.185c.258.236 1.823.996 3.654-1.513c1.823-2.503-1.72-2.104-1.72-2.104z");
}
