.uu22-2bqc {
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("m19.987 14l.5 2.084l-.83-.518a3.5 3.5 0 0 0-2.122-.715c-1.952 0-3.535 1.6-3.535 3.575C14 20.4 15.583 22 17.535 22c1.71 0 3.137-1.228 3.465-2.86");
}
