.uuxhctyax {
  fill: var(--svg-color--2859c5, #2859c5);
  fill-rule: evenodd;
  d: path("M23.992 21.5a2 2 0 0 1 2 2v10a2 2 0 1 1-4 0v-10a2 2 0 0 1 2-2M11 37.5a2 2 0 0 1 2-2h7a2 2 0 1 1 0 4h-7a2 2 0 0 1-2-2m15 0a2 2 0 0 1 2-2h7a2 2 0 1 1 0 4h-7a2 2 0 0 1-2-2");
}
