.uwsmjnb9k {
  fill: none;
  stroke: var(--svg-color--000, #000);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: var(--svg-stroke-width--2px, 2px);
  d: path("M26.185 27.07c2.9-1.636 6.248-2.57 9.815-2.57s6.915.934 9.815 2.57");
}
