.ux4ho3bay {
  stroke: var(--svg-color--191919, #191919);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M23.21 4.747a1.32 1.32 0 0 1-1.32 1.319H2.11a1.32 1.32 0 0 1-1.32-1.32V3.429A1.32 1.32 0 0 1 2.11 2.11h19.78a1.32 1.32 0 0 1 1.32 1.32zm0 7.913a1.32 1.32 0 0 1-1.32 1.318H2.11A1.32 1.32 0 0 1 .79 12.66v-1.318a1.32 1.32 0 0 1 1.32-1.32h19.78a1.32 1.32 0 0 1 1.32 1.32zm0 7.912a1.32 1.32 0 0 1-1.32 1.319H2.11a1.32 1.32 0 0 1-1.32-1.32v-1.318a1.32 1.32 0 0 1 1.32-1.319h19.78a1.32 1.32 0 0 1 1.32 1.32z");
}
