.uy8yarv1p {
  fill: var(--svg-color--ea5a47, #ea5a47);
  stroke: var(--svg-color--ea5a47, #ea5a47);
  stroke-miterlimit: 10;
  d: path("M15.313 11h41l-.409 34.092l-1.79 4.679l-2.55 4.395l-2.913 2.914l-2.883 2.063l-4.148 1.815l-4.963.89a16 16 0 0 1-2.608-.287l-4.639-.9l-4.466-1.924a7 7 0 0 1-.636-.377l-1.948-1.312a21 21 0 0 1-1.936-2.233L18.313 52l-1.091-1.636a7.6 7.6 0 0 1-1.179-2.98l-.526-3.156a15 15 0 0 1-.204-2.472z");
}
