.uzenc1b5h {
  stroke: var(--svg-color--703d29, #703D29);
  stroke-width: var(--svg-stroke-width--0-264px, 0.264px);
  d: path("m113.832 103.615l-.093.653l-.152.292l-.221.28l-.303.233l-.338.151l-.443.07l-.303.023");
}
