.uzkebvbwp {
  width: 64px;
  height: 320px;
  x: 416px;
  y: 96px;
  fill: none;
  stroke: currentColor;
  stroke-linejoin: round;
  stroke-width: var(--svg-stroke-width--32px, 32px);
  rx: 8px;
  ry: 8px;
}
