.l-d7h-bcb {
  fill: var(--svg-color--030776, #030776);
  fill-rule: evenodd;
  d: path("M61.625 37.836c0 5.89-4.332 10.668-9.672 10.668c-5.344 0-9.672-4.777-9.672-10.668s4.328-10.668 9.672-10.668c5.34 0 9.672 4.777 9.672 10.668m0 0");
}
