.l0jwhjzfm {
  fill: var(--svg-color--00034a, #00034a);
  stroke-miterlimit: 10;
  d: path("M10.936 4.694c-4.332 2.137-6.721 5.449-6.954 9.322c.094.55.777 1.174 1.182 1.529a1.35 1.35 0 0 0 2.203-.69c.203-2.816 1.908-5.13 5.085-6.807a.88.88 0 0 0 .578.473q.042.014.086.026a.88.88 0 0 0 .654.713a.87.87 0 0 0 .986-.295c.306-.595.551-1.22.73-1.865c.451-1.507.425-1.809.41-1.99l-.005-.082c-.263-1.255-2.035-1.765-3-2.052a8.8 8.8 0 0 0-1.973-.405c-.375-.03-.68.346-.77.661a.83.83 0 0 0 .287.987q.196.125.407.221q.026.135.094.254Z");
}
