.l0xnpgqhr {
  stroke: currentColor;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: var(--svg-stroke-width--1-5px, 1.5px);
  d: path("M4.5 7.25h5.75M7.385 12H12m-1.73 4.75h3.46");
}
