.l16rq5v4o {
  stroke: var(--svg-color--191919, #191919);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M16.782 17.363V14.39a.956.956 0 0 1 .956-.957h2.869a.957.957 0 0 1 .956.957v2.974a2.39 2.39 0 1 1-4.781 0z");
}
