.l1km8wbhh {
  fill: currentColor;
  d: path("M7 6.2c0-1.12 0-1.68.218-2.108a2 2 0 0 1 .874-.874C8.52 3 9.08 3 10.2 3h3.6c1.12 0 1.68 0 2.108.218a2 2 0 0 1 .874.874C17 4.52 17 5.08 17 6.2v11.6c0 1.12 0 1.68-.218 2.108a2 2 0 0 1-.874.874C15.48 21 14.92 21 13.8 21h-3.6c-1.12 0-1.68 0-2.108-.218a2 2 0 0 1-.874-.874C7 19.48 7 18.92 7 17.8z");
  opacity: var(--svg-opacity--0-5, 0.5);
}
