.l2n3c_l2o {
  fill: var(--svg-color--9b51e0, #9b51e0);
  fill-rule: evenodd;
  d: path("m26.46 38.214l7.637 7.637c.265.265.38.645.307 1.012l-.893 4.464a9.63 9.63 0 0 1-6.506 7.281l-14.103 4.513c-1.026.328-1.354-.943-.593-1.705l8.584-8.583c.555-.555 1.408-.659 2.18-.802q.095-.018.19-.044c1.785-.478 2.383-2.709 1.076-4.015s-3.537-.709-4.015 1.076a3 3 0 0 0-.043.19c-.144.772-.247 1.625-.802 2.18l-8.584 8.584c-.761.761-2.033.434-1.705-.592l4.513-14.104a9.63 9.63 0 0 1 7.281-6.506l4.464-.893c.368-.073.748.042 1.013.307");
}
