.l300hsomo {
  fill: none;
  stroke: currentColor;
  stroke-linejoin: round;
  stroke-width: var(--svg-stroke-width--2px, 2px);
  d: path("M3 3L3 21L21 21M7.6569 3L15 3L21 9L21 16.3431M15 3L15 9L21 9M1.7071 1.7071L22.2929 22.2929");
}
