.l33p-5tkx {
  fill: var(--svg-color--2859c5, #2859c5);
  fill-rule: evenodd;
  d: path("M24 1.002L23.928 1c-8.325.037-15.154 6.523-15.923 14.806c-.029.307.071.612.275.839s.493.356.796.355C15.88 16.97 21.687 12.63 24 6.522C26.313 12.63 32.119 16.97 38.924 17c.303.001.592-.128.795-.355c.205-.227.305-.532.276-.839C39.226 7.523 32.397 1.037 24.072 1z");
}
