.l3j6r0b2y {
  fill: none;
  stroke: currentColor;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: var(--svg-stroke-width--2px, 2px);
  d: path("M16.95 2.81a1 1 0 0 1 4.24 4.24L7.76 20.49L2 22l1.51-5.76ZM13 21h8");
}
