.l3sd1kbmn {
  fill: none;
  stroke: var(--svg-color--7e4b7e, #7e4b7e);
  stroke-width: var(--svg-stroke-width--0-8px, 0.8px);
  d: path("M210 163.9c-2 .8-8.8 4.4-8.8 4.4m5.6-2.3c-.1 1-.8 3.5 0 5.3m-1-5c0 .5-.8 2.4.1 4.9m-1.1-4.4q-.4 1.3 0 2.8m-.8-2.2q-.2.9 0 1.4m6.1-1.7a41 41 0 0 0 4.8 7m-4.4-5c.3.8 1.9 3.8 3 5m-3.2-3.2a18 18 0 0 0 2.1 4m-2-2q.1 1.5 1.2 2.6");
}
