.l68l_w4ab {
  fill: currentColor;
  fill-opacity: var(--svg-fill-opacity--0-25, 0.25);
  d: path("M55.178 15.74a2 2 0 0 1 .627 2.758L27.378 63.633a2 2 0 0 1-3.385-2.131L52.42 16.366a2 2 0 0 1 2.758-.626");
}
