.l7y-p8b_p {
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M14 8.509a2 2 0 1 1-4 0a2 2 0 0 1 4 0m-5.956 7.223c1.059-1.63 2.74-2.24 3.955-2.238c1.217 0 2.848.609 3.906 2.238c.069.106.088.235.026.345c-.248.439-1.016 1.31-1.571 1.369c-.638.067-2.306.077-2.36.077c-.052 0-1.772-.01-2.41-.077c-.555-.06-1.324-.93-1.571-1.37c-.062-.109-.043-.238.025-.344");
}
