.lagu3m {
  d: path('M4.5 21.5v-13.5M19.5 21.5v-13.5');
}

@media not (prefers-reduced-motion) {
  .lagu3m {
    stroke-dasharray: 16;
    stroke-dashoffset: 16;
    animation: 0.3s linear 0.3s forwards so-to-0;
  }
}
