.lax6xgbol {
  fill: var(--svg-color--ebcb00, #ebcb00);
  stroke: var(--svg-color--45413c, #45413c);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M31.203 21.015a10.19 2.96 40.05 1 0 3.81-4.532a10.19 2.96 40.05 1 0-3.81 4.532");
}
