.lcau_6b2n {
  fill: none;
  stroke: var(--svg-color--000, #000);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: var(--svg-stroke-width--2px, 2px);
  d: path("M32.8 39.2c1.9 1 4.1 1 6 0");
}
