.lcgkpub-o {
  fill: var(--svg-color--2f88ff, #2F88FF);
  fill-rule: evenodd;
  stroke: var(--svg-color--000, #000);
  d: path("M24 44C27.3137 44 30 41.3137 30 38V10H18V38C18 41.3137 20.6863 44 24 44Z");
}
