.ld302rnpq {
  stroke: var(--svg-color--191919, #191919);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M5.783 17.26h3.826M1 11.523h8.609m-.957 2.87v1.434a1.435 1.435 0 0 1-1.435 1.435M20.13 9.609V1.957A.956.956 0 0 0 19.174 1H1.957A.957.957 0 0 0 1 1.957v11.478a.957.957 0 0 0 .957.956h8.608");
}
