.ld54_pbhr {
  fill: var(--svg-color--34541f, #34541F);
  fill-rule: nonzero;
  d: path("M154.243 72.144a3.3 3.3 0 0 1 .877.525q.199.166.356.373c.103.139.19.292.24.46l.021.069l-.067-.028a25 25 0 0 1-.651-.292q-.324-.15-.64-.313c-.211-.11-.42-.223-.623-.347a5 5 0 0 1-.297-.198a1.4 1.4 0 0 1-.264-.239c.079.089.176.158.274.225q.148.098.303.185q.31.175.63.33c.426.207.858.406 1.294.589l-.045.041a1.5 1.5 0 0 0-.226-.442a2.4 2.4 0 0 0-.341-.37a3.4 3.4 0 0 0-.402-.309a4 4 0 0 0-.439-.259");
}
