.ldit2f5kg {
  fill: none;
  stroke: var(--svg-color--000, #000);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: var(--svg-stroke-width--2px, 2px);
  d: path("M29.132 47.139c4.6-1.417 9.829-1.47 13.736 0");
}
