.ldmeeg1lg {
  fill: none;
  stroke: var(--svg-color--45413c, #45413c);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("m15.56 24.457l13.149-3.883a.73.73 0 0 1 .906.494l5.064 17.148a1.38 1.38 0 0 1-.933 1.714l-11.902 3.514a1.38 1.38 0 0 1-1.714-.932l-5.067-17.158a.73.73 0 0 1 .494-.907Z");
}
