.leg2aibbb {
  fill: none;
  stroke: var(--svg-color--000, #000);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: var(--svg-stroke-width--2px, 2px);
  d: path("M35.758 54.396c13.421-9.693 13.094-22.147 11.7-27.582h-1.7S47.338 34.71 36 34.71s-9.496-7.897-9.496-7.897h-1.746c-1.602 4.745-2.397 15.674 11 27.582");
}
