.leqyehr3d {
  fill: none;
  stroke: currentColor;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: var(--svg-stroke-width--1-5px, 1.5px);
  d: path("M3.5 6v12m8-12v12m-8-6h8m5 4v-.4c0-.56 0-.84.109-1.054a1 1 0 0 1 .437-.437C17.26 14 17.54 14 18.1 14h.4c.465 0 .698 0 .888.051a1.5 1.5 0 0 1 1.06 1.06c.052.191.052.424.052.889s0 .698-.051.888a1.5 1.5 0 0 1-1.06 1.06c-.191.052-.424.052-.889.052s-.698 0-.888-.051a1.5 1.5 0 0 1-1.06-1.06c-.052-.191-.052-.424-.052-.889m0 0v-3c0-1.414 0-2.121.44-2.56c.439-.44 1.146-.44 2.56-.44h1");
}
