.leug8r77a {
  fill: var(--svg-color--8fbffa, #8fbffa);
  fill-rule: evenodd;
  d: path("M12 2.053c-4.841 0-8.75 3.973-8.75 8.853a8.88 8.88 0 0 0 3.549 7.12l.199.148l9.965.028l.2-.148a8.88 8.88 0 0 0 3.587-7.148c0-4.88-3.909-8.853-8.75-8.853");
}
