.lgby9x31m {
  fill: none;
  stroke: var(--svg-color--f1b31c, #f1b31c);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: var(--svg-stroke-width--2px, 2px);
  d: path("m49.435 30.296l13-4M54.5 24.5l4 3m0-6l1.35 2.625L58.5 27.5");
}
