.lgk5v_b1p {
  fill: none;
  stroke: var(--svg-color--000, #000);
  stroke-linecap: round;
  stroke-miterlimit: 10;
  stroke-width: var(--svg-stroke-width--2px, 2px);
  d: path("M42.4 50.6a26.6 26.6 0 0 1 4.2 6.3a19 19 0 0 1 1.2 3");
}
