.lglq-4b3g {
  fill: none;
  stroke: var(--svg-color--000, #000);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: var(--svg-stroke-width--2px, 2px);
  d: path("M54.345 36.233q-.21-.732-.51-1.431c-2.405-5.67-3.043-5.643-3.43-12.822A8.13 8.13 0 0 0 43 13.942s-2.6-3-8-3c-6.431 0-12.23 3.466-13.709 8.966c-1.5 5.583.345 7.834-1.29 12.034c-.623 1.599-1.397 3.147-1.994 4.729");
}
