.lh0qs-btc {
  width: 416px;
  height: 272px;
  x: 48px;
  y: 80px;
  fill: none;
  stroke: currentColor;
  stroke-linejoin: round;
  stroke-width: var(--svg-stroke-width--32px, 32px);
  rx: 32px;
  ry: 32px;
}
