.lic9qczgl {
  stroke: var(--svg-color--c7b37f, #C7B37F);
  stroke-linecap: round;
  stroke-width: var(--svg-stroke-width--0-296px, 0.296px);
  d: path("M113.631 115.919c.163-.197.261-.303.417-.506c.13-.168.208-.261.322-.441c.103-.162.149-.26.24-.429c.128-.238.192-.377.315-.618m-.592 6.535c-.277.127-.442.184-.712.327a7 7 0 0 0-.513.301a8 8 0 0 0-.583.392c-.23.168-.349.279-.572.457m7.015-17.762c-.15-.155-.231-.245-.385-.396c-.16-.158-.247-.252-.42-.397c-.167-.141-.273-.205-.448-.336");
}
