.ligglg1fl {
  fill: none;
  stroke: var(--svg-color--45413c, #45413c);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M29.39 14.28c0 .64-2.41 1.16-5.39 1.16s-5.39-.52-5.39-1.16S21 13.13 24 13.13s5.39.52 5.39 1.15");
}
