.lil6jbckh {
  fill: currentColor;
  fill-rule: evenodd;
  d: path("M22 18.5a3.5 3.5 0 1 1-7 0a3.5 3.5 0 0 1 7 0M18.5 20a1.5 1.5 0 1 0 0-3a1.5 1.5 0 0 0 0 3M9 11.5a3.5 3.5 0 1 1-7 0a3.5 3.5 0 0 1 7 0M5.5 13a1.5 1.5 0 1 0 0-3a1.5 1.5 0 0 0 0 3M22 5.5a3.5 3.5 0 1 0-7 0a3.5 3.5 0 0 0 7 0M18.5 4a1.5 1.5 0 1 1 0 3a1.5 1.5 0 0 1 0-3");
}
