.liwxphb9v {
  stroke: var(--svg-color--616161, #616161);
  stroke-linecap: round;
  stroke-miterlimit: 10;
  stroke-width: var(--svg-stroke-width--2-25px, 2.25px);
  d: path("M10.06 9.563h10.76m-10.64 5.624h10.76");
}
