.lix6-_buc {
  fill: none;
  stroke: currentColor;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: var(--svg-stroke-width--1-5px, 1.5px);
  d: path("m13.5 14.5l2 4l6.5-13h-7l-3 6l-3.5 7L2 5.5h7l1.5 3");
}
