.lj_39l2dc {
  fill: none;
  stroke: currentColor;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: var(--svg-stroke-width--1-5px, 1.5px);
  d: path("m14 21l4-18M6 21l4-18M5 8h16M3 16h16");
}
