.llajadcns {
  fill: var(--svg-color--f7df73, #f7df73);
  fill-rule: evenodd;
  stroke: var(--svg-color--000, #000);
  stroke-linejoin: round;
  stroke-width: var(--svg-stroke-width--2-6px, 2.6px);
  d: path("M557.3 420.3S657 392.2 687 269.8c-17.5 125.6-126.6 165.4-126.6 165.4l-3.2-14.9z");
}
