.llt7pff6n {
  fill: var(--svg-color--ce1126, #CE1126);
  fill-rule: nonzero;
  stroke: var(--svg-color--000, #000);
  stroke-linecap: round;
  stroke-width: var(--svg-stroke-width--0-15px, 0.15px);
  d: path("M226.229 100.727c-.016.817-.391 1.472-.838 1.464s-.797-.679-.781-1.495c.015-.817.39-1.472.837-1.464c.448.008.798.677.782 1.495z");
}
