.lm66ohk1f {
  fill: none;
  stroke: var(--svg-color--000, #000);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: var(--svg-stroke-width--2px, 2px);
  d: path("M49.96 41.42c2.516-1.751 2.7-5.969 3.302-10.18c.413-2.89-.472-5.896-3.596-8.49c-3.132-2.6-7.315-2.148-9.39-1.699c-1.022.221-2.06.315-3.106.276l-2.727-.101a13 13 0 0 1-2.497-.347c-1.986-.462-6.364-1.047-9.612 1.65c-3.124 2.593-4.009 5.6-3.596 8.488c.602 4.212.786 8.43 3.301 10.18");
}
