.lm81dmcdf {
  fill: currentColor;
  fill-opacity: var(--svg-fill-opacity--0-25, 0.25);
  d: path("M40.04 14.325h25.714V40.04H55.468v-.238c0-.98.336-1.922.673-2.865c.235-.659.47-1.318.591-1.992a3.897 3.897 0 1 0-7.67 0c.12.674.356 1.333.59 1.992c.337.944.673 1.885.673 2.865v.238H40.04V29.611h-.38c-.98 0-1.922.336-2.865.672c-.66.235-1.319.47-1.993.592a3.897 3.897 0 1 1 0-7.671c.674.12 1.334.356 1.993.591c.943.337 1.885.673 2.865.673h.38z");
}
