.lmnw1jb-m {
  fill: var(--svg-color--3bb44a, #3BB44A);
  fill-rule: nonzero;
  d: path("M127.697 76.091c-.044.472-.221.938-.325 1.388s-.2.864-.362 1.284c-.214.539-.487 1.085-.627 1.646c-.118.495-.162 1.011-.221 1.521");
}
