.lmpvk2b0k {
  stroke: var(--svg-color--000, #000);
  stroke-width: var(--svg-stroke-width--0-5px, 0.5px);
  d: path("M459.6 122.7c-.9-.2-1.8.2-2.6.2h-5.2c-1.3.3-2.6.9-3.9 1l-5.3.1c-1.3.1 0-1.5.8-1.5q2.4-.8 4.9-1.2l3.7-.7l3-.8q1.7-.4 3.2-.2l3.3-1c1-.5 2-.2 3-.8c.5-.8 1.5-.7 2.5-.7q1.6.2 2.5 1.4c.7 1-1.4.9-.8 2q-.7.4-1.6.4c-.9 0-1.1 0-1.5-.2l-2.2-1.3c-.8-.2-.9 1.3-1.8 1.1c-1.2.5-2.6.3-3.9.4q1.3.4 2.4 1.2c.3.4-.2.4-.5.5z");
}
