.lmujw8bni {
  stroke: var(--svg-color--4147d5, #4147d5);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("m5.16 13.49l.62-2.9l3 .63c2.24.49 4.6-1.86 4.63-4.29c0-.405-.067-.807-.2-1.19");
}
