.lng2rbcym {
  fill: var(--svg-color--f4f4f4, #f4f4f4);
  stroke: var(--svg-color--191919, #191919);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("m19.355 8.026l-3.382-3.382a1.913 1.913 0 0 0-2.705 0l-7.44 7.44a1.913 1.913 0 0 0 0 2.706l3.381 3.382a1.913 1.913 0 0 0 2.706 0l7.44-7.44a1.913 1.913 0 0 0 0-2.706");
}
