.loa6tsbsy {
  fill: var(--svg-color--daedf7, #daedf7);
  stroke: var(--svg-color--45413c, #45413c);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("m38.73 12.16l1.9-1.16a1 1 0 0 1 .43-.15a9.8 9.8 0 0 0-3.71-4.23l-.92-.57v3.2a7.2 7.2 0 0 1 2.3 2.91");
}
