.lpqj20mmv {
  stroke: currentColor;
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M43.6 13.847a.751.751 0 0 1 1.234-.575l-.058-.06a4 4 0 0 0-2.864-1.208l-15.911-.002a4 4 0 0 0-4.001 4v20.945c0 .03.024.053.054.053H57.95a.05.05 0 0 0 .049-.048V28.4a4 4 0 0 0-1.136-2.793l-.083-.085a.76.76 0 0 1-.581 1.248M43.6 13.847v8.923a4 4 0 0 0 4 4h8.6M43.6 13.847a.751.751 0 0 1 1.289-.525L56.743 25.48a.76.76 0 0 1-.543 1.289M58 49v17a2 2 0 0 1-2 2H24a2 2 0 0 1-2-2V49m36 0a2 2 0 0 0-2-2H24a2 2 0 0 0-2 2m36 0v8h9.375c.345 0 .625-.28.625-.625V44a7 7 0 0 0-7-7H19a7 7 0 0 0-7 7v12.375c0 .345.28.625.625.625H22v-8");
}
