.lpveefb1h {
  stroke: var(--svg-color--092f63, #092f63);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M5.865 2.03V1.007M.751 7.143h1.023m0 4.09l.836-.836m7.345-7.345l-.837.837m-7.344-.837l.836.837m1.733 4.419l-.524-.301v-2.24l2.045-1.18l2.046 1.18v1.376m11.248 10.226h1.534l2.557-2.557l-1.534-3.579h-2.557L16.602 6.12h-4.09L9.954 9.188h-3.58L2.797 13.79l3.58 3.579h1.022m8.691-6.136h3.068");
}
