.lqxi5835c {
  stroke: var(--svg-color--092f63, #092f63);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
  d: path("m8.08 14.94l.98-.98l.98.98m3.92 0l.98-.98l.98.98m-7.84-9.8L2.2 2.2m13.72 2.94L21.8 2.2m-1.96 11.27h1.96v2.45l-1.96.98M9.06 18.37L12 19.84l2.94-1.47M4.16 8.08v5.39l6.37-2.94L12 5.63zm15.68 0v5.39l-6.37-2.94L12 5.63z");
}
