.lqzg47eok {
  stroke: var(--svg-color--000, #000);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: var(--svg-stroke-width--4px, 4px);
  d: path("M33 20v8m-3-5l3-3l3 3m-21 5v-8m-3 5l3 3l3-3");
}
