.lr74qfbqj {
  fill: var(--svg-color--fc0, #FC0);
  fill-rule: nonzero;
  stroke: var(--svg-color--000, #000);
  stroke-width: var(--svg-stroke-width--0-037px, 0.037px);
  d: path("M150.257 66.922s-.025-.269-.049-.367c-.012-.049.146.245.281.208c.245.073.514.404.587.49c-.11.159-.367.465-.551.404c-.159-.049-.122-.281-.172-.428c-.023-.075-.109-.172-.096-.307z");
}
