.lrr-utbpz {
  fill: var(--svg-color--f9a825, #f9a825);
  stroke: var(--svg-color--f9a825, #f9a825);
  stroke-width: var(--svg-stroke-width--36-192px, 36.192px);
  d: path("M581.79-570.48L446.07-434.76l-67.859-67.859l-22.62 22.62l90.479 90.479l158.34-158.34z");
}
