.ls_c92b6y {
  fill: var(--svg-color--f1b31c, #f1b31c);
  stroke: var(--svg-color--f1b31c, #f1b31c);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: var(--svg-stroke-width--2px, 2px);
  d: path("M45.5 22a17.14 17.14 0 0 1-8 2m-11-2a17.14 17.14 0 0 0 8 2");
}
