.lsuh84bzk {
  stroke: var(--svg-color--092f63, #092f63);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M12 19.158v4.09M12 .751v4.09M23.249 12h-4.09M4.842 12H.752m2.045-5.113L12 1.774l9.204 5.113v10.226L12 22.226l-9.203-5.113z");
}
