.lty30l7sp {
  fill: none;
  stroke: var(--svg-color--45413c, #45413c);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("m11.14 14.85l.39 5.58A1.69 1.69 0 0 0 13.22 22h3.38a1.94 1.94 0 0 0 1.71-1a.91.91 0 0 1 .75-.56a.89.89 0 0 1 .74.56a2 2 0 0 0 1.71 1h3.39a1.69 1.69 0 0 0 1.69-1.58l.41-5.57Z");
}
