.lu5ddjb1a {
  fill: none;
  stroke: var(--svg-color--000, #000);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: var(--svg-stroke-width--2px, 2px);
  d: path("M18 36v-2h8m-6 0v-2m4 2v6m0-2h2m12-6v-2m18 4h-2m-12 8h2v-2m-16-8h2m4 0h6m-2-16v4h-2v8m0-2h-4v2m4-8h-4");
}
