.luchi18gl {
  fill: currentColor;
  fill-opacity: var(--svg-fill-opacity--0-25, 0.25);
  d: path("M52.08 10.84a31.564 31.564 0 1 0-24.16 58.321A31.564 31.564 0 0 0 52.079 10.84m-22.628 3.695a27.564 27.564 0 1 1 21.096 50.932a27.564 27.564 0 0 1-21.096-50.932");
}
