.lv4ldqb4d {
  fill: var(--svg-color--7a2e26, #7A2E26);
  fill-rule: nonzero;
  d: path("M146.064 61.682c.022-.022.03-.044.03-.089q.002-.033-.007-.066a.1.1 0 0 0-.008.037c-.007-.007-.015 0-.015.007c-.015.015-.007.044-.007.059c-.001.007.007.052.007.052m.443-1.979c.295-.125.598-.199.908-.281c.015 0 0-.111 0-.111c-.31.081-.613.155-.908.281c-.023.008 0 .104 0 .111");
}
