.lvrmb164e {
  fill: var(--svg-color--1d1919, #1d1919);
  fill-rule: evenodd;
  d: path("M316.5 306.9c0 2.1-1.6 3.8-3.8 3.8s-3.8-1.6-3.8-3.8s1.6-3.8 3.8-3.8s3.8 1.8 3.8 3.8m3.7 17.5c0 2.1-1.6 3.8-3.8 3.8c-2.1 0-3.8-1.6-3.8-3.8s1.6-3.8 3.8-3.8s3.8 1.6 3.8 3.8");
}
