.lw-as8b0o {
  fill: var(--svg-color--ff6242, #ff6242);
  stroke: var(--svg-color--45413c, #45413c);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M8.59 18.05a3 3 0 0 0 3.95 1.43a3 3 0 0 0 1.77-3.82a3 3 0 0 0-4-1.42a3 3 0 0 0-1.72 3.81");
}
