.lwyiznbto {
  fill: var(--svg-color--92d3f5, #92d3f5);
  stroke: var(--svg-color--92d3f5, #92d3f5);
  stroke-miterlimit: 10;
  stroke-width: var(--svg-stroke-width--2px, 2px);
  d: path("M20.206 12.862S16.09 15.554 27.22 29.32l3.989-7.03l-6.824-8.414l-2.445-1.972m26.591-.536l-2.41 2.41l-7.173 8.52l4.661 7.033c11.13-13.765 6.048-16.379 6.048-16.379");
}
