.lxsuaackx {
  stroke: var(--svg-color--000, #000);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: var(--svg-stroke-width--0-291px, 0.291px);
  d: path("m141.275 72.317l-.224-1.344l-.905-.456s-.972.264-1.578.48c-.628.223-1.579.649-1.579.649l-.226.395l.283 1.52l.507.451l3.383-1.014z");
}
