.ly9di58kn {
  cx: 246.75px;
  cy: 52.75px;
  r: 9.528px;
  fill: var(--svg-color--e5be01, #E5BE01);
  stroke: var(--svg-color--00a1de, #00A1DE);
  stroke-width: var(--svg-stroke-width--0-944px, 0.944px);
}
