.lyd6--bsl {
  fill: none;
  stroke: var(--svg-color--45413c, #45413c);
  stroke-linecap: round;
  stroke-linejoin: round;
  d: path("M29.84 33.32A11.5 11.5 0 0 1 24 34.69a11.63 11.63 0 0 1-5.84-1.36");
}
