.lyj4s-pbm {
  fill: none;
  stroke: currentColor;
  stroke-linecap: square;
  stroke-width: var(--svg-stroke-width--2px, 2px);
  d: path("M15.5 4L19 7.5L15.5 11m2.25-3.5H5.5m3 12.5L5 16.5L8.5 13m-2.25 3.5H18.5");
}
