.lzdbpcvon {
  fill: currentColor;
  fill-opacity: var(--svg-fill-opacity--0-25, 0.25);
  d: path("M28.227 14.135q0-.068.003-.135H21.5a5 5 0 0 0-5 5v38a5 5 0 0 0 5 5h10V40.572a4 4 0 0 1 1.158-2.815l10.47-10.568a4 4 0 0 1 2.84-1.185l8.532-.001V19a5 5 0 0 0-5-5h-6.73l.003.135a2.847 2.847 0 0 1-2.848 2.847h-8.85a2.847 2.847 0 0 1-2.848-2.847");
}
